[2016-12-16 11:47] #231 closed

[2016-12-16 13:38] huffmann commented on #230
Hello @patchthecode

Yeah I installed through cocoapods but it installed an older version.  Now on 6.0.5 its working! Thanks!

BUT I am setting triggerScrollDelegate to true, and noticed it only triggers the first time I press the button but not on the subsequent touches. Definitely worth having a look at because this delegate is very useful for updating UI.

[2016-12-16 18:02] jonfabris commented on #233
I went through the tutorial I swear.
I need the date to remain selected even when you switch months.

I think this might be my problem but I can't understand your instructions:
_My views are being randomly repeated across dateCells

To cure your random repeating views -> If you have ever done a UITableView before, then inside the cellForRowAtIndexPath function, you have to reset the cell before it

[2016-12-16 19:42] patchthecode commented on #230
@huffmann yea.. thats actually a bug introduced in 6.0.5 accidentally.
fixing this now

[2016-12-16 20:01] #26 closed

[2016-12-16 20:02] patchthecode commented on #26
Closed.
Changed behavior of calendar.
[code]

[2016-12-16 20:03] patchthecode opened #235 "Bug introduced in version 6.0.5 - triggering delegate should be applied when scrolling to rect"

[2016-12-16 20:05] #235 closed

[2016-12-16 20:27] patchthecode commented on #230
@huffmann can you test it and tell me if it works?

Put this in your pod file
[code]

Then do a `pod install` on console, and let me know if the fix worked.

[2016-12-16 23:55] huffmann commented on #230
@patchthecode   Yes it did!    Should I keep it like this on the podfile?  O wait for a new commit and change it to how it was?

[2016-12-17 02:07] patchthecode commented on #230
@huffmann well, the code you have now will become a new official release in about 1 week.

if you leave your podfile like this, then you will be using master branch.
You will have the very latest (but not all the time fully tested code).
but I try to test it as much as possible before committing. If youre more comfortable waiting for the official release, then you can use the current master branch

[2016-12-20 10:51] thintank opened #236 "JTCalendar problems with translation to swift 3"
Translating the library JTCalendar to swift 3 i get 3 errors which i cannot seam to resolve. One is "Redundant conformance of 'Date' to protocol 'Comparable'". The second one is "Cannot convert value of type 'qos_class_t' to expected argument type 'DispatchQos.QosClass'". The third is "Binary operator '===' cannot be applied to two 'Date' operands"
Thanks

[2016-12-20 10:56] thintank commented on #236
Translating the library JTCalendar to swift 3 i get 3 errors which i cannot seam to resolve. One is "Redundant conformance of 'Date' to protocol 'Comparable'". The second one is "Cannot convert value of type 'qos_class_t' to expected argument type 'DispatchQos.QosClass'". The third is "Binary operator '===' cannot be applied to two 'Date' operands"
Thanks

[2016-12-20 11:00] patchthecode commented on #236
@thintank what version of This library are you using?
The version should be 6.1.0

?

[2016-12-20 11:02] patchthecode commented on #236
Also, this is JTAppleCalendar not JTCalendar. possible wrong repository?

[2016-12-20 11:04] thintank commented on #236
Yes, it's JTAppleCalendar, my mistake. The version should be automatically the latest installing the pods.

[2016-12-20 11:04] thintank commented on #236
From what i know. I could be wrong

[2016-12-20 11:05] patchthecode commented on #236
What do you have in your `Podfile`?
Paste it here

[2016-12-20 11:06] thintank commented on #236
source 'https://github.com/CocoaPods/Specs.git'
pod 'JTAppleCalendar'

these are the two lines I added to the podfile, reguarding JTAppleCalendar

[2016-12-20 11:08] patchthecode commented on #236
Can you try ?

[code]

then do a `pod install` and tell me what happens

[2016-12-20 11:09] patchthecode commented on #236
If you are still getting errors. Then delete the JTAppleCalendar pod folder.
and reinstall

[2016-12-20 11:09] thintank commented on #236
ok thank you i'll try that now

[2016-12-20 11:12] patchthecode commented on #236
if it works, you owe me a github star rating for being up at 3:12 AM helping ya 😁

[2016-12-20 11:14] thintank commented on #236
Ah ah ah ah ah ah I'm in Italy and here it's a more resonable noon

[2016-12-20 11:22] patchthecode commented on #236
ok well let me know how it goes. Im heading to sleep.
laters man.

[2016-12-20 11:26] thintank commented on #236
will do! thanks

[2016-12-21 08:53] patchthecode commented on #236
so umm... did it work?

[2016-12-21 08:57] thintank commented on #236
Still working on it. Somehow the pods got all messed up and I'm working on updating the cocoapod repo

[2016-12-21 09:02] patchthecode commented on #236
cool.

[2016-12-21 12:16] thintank commented on #236
ok it seems to be working now. i have to implement it correctly and if i have any problems i'll let you know. thank you so much

[2016-12-21 12:16] #236 closed

[2016-12-21 20:13] chrisverra opened #238 "Help needed setting this up"
Hi Jay,

I am trying to set it up using the tutorials.
However xCode can not find the library.

I am on
- version 6.1.1 of JTAppleCalendar
- xCode 8.2
- Swift 3

![screen_shot_2016_12_21_at_21_11_03](https://cloud.githubusercontent.com/assets/2439146/21404665/2fbf699e-c777-11e6-8051-c04a037cee3a.png)

please advice.

Chris

[2016-12-21 20:13] patchthecode commented on #238
can you join me here: https://gitter.im/patchthecode/JTAppleCalendar

[2016-12-21 20:17] patchthecode commented on #238
Or if you cant, then

How did you install this library?
Did you install it using cocoapods?

[2016-12-21 20:35] chrisverra commented on #238
lol i forgot to build

[2016-12-21 20:35] #238 closed

[2016-12-22 05:58] deniszhukov opened #240 "calendarView.deselectAllDates() doesn't work when allowsMultipleSelection == false"
Hi Jay,
I'm using latest version (6.1.1) of your calendar.

I wanted to make a datepicker with button to clear date selection. User can select only one date.
When user taps a button to clear date selection I'm calling calendarView.deselectAllDates(), but it doesn't work - date remain selected.

I tested on your example app, and it looks like it works when allowsMultipleSelection == true, but doesn

[2016-12-22 07:18] patchthecode commented on #240
Because this was the way i coded it :)
I can make an update for you in a short while.

[2016-12-22 09:12] TimeToCodeIos opened #241 "Is it possible to select date range by dragging last date selected on calendar?"
Hi ,

I have used this calendar for date range selection but now it is working like if I tap on date it gets selected then on another date then first to last date it shows selection ....but now I want it like if I select one date then another then from that 2nd selected date user drag on calendar then that all date should show selected ...
Please help me with this.
Thank you

[2016-12-22 09:22] patchthecode commented on #240
One thing however, isnt the current behavior the way a `UIVollectionView` works?

[2016-12-22 10:33] patchthecode commented on #241
Have you checked out how to add gestures in this tutorial?
-> https://patchthecode.github.io/AddingGestures/

look at **fluid range selection**

[2016-12-23 02:17] kevinlee85 opened #243 "How to setup the background color of the calender?"
How to setup the background color of the calendar?
I am playing your example, but cannot change the background color? Where to set up the calendar's background color?

[2016-12-23 02:22] patchthecode commented on #243
just go to the storyboard, and click on the calendarView, and change the color to anything you want.
If youre still stuck then you can join me here: https://gitter.im/patchthecode/JTAppleCalendar

[2016-12-23 03:11] #243 closed

[2016-12-23 03:43] patchthecode commented on #110
![fluidrangeselection](https://cloud.githubusercontent.com/assets/2439146/21446732/dea7361e-c87e-11e6-97ad-b0b66f355faa.gif)

[2016-12-23 04:00] patchthecode commented on #241
I have now added a tutorial in the https://patchthecode.github.io/RangeSelection/ web link on how to accomplish this

[2016-12-23 04:00] #241 closed

[2016-12-23 04:50] patchthecode commented on #240
This has now been fixed on master branch.
Test it by putting this in your pod file
[code]

Then run `pod install`

[2016-12-23 04:50] #240 closed

[2016-12-23 15:30] deniszhukov commented on #240
I tested it and it works fine.
Even thought, I googled a little bit, and yes, you're right, it looks like that's how UICollectionView works,
I think it's nice that deselectAllDates() now works with allowsMultipleSelection = false, because it was not immediately obvious that it should be used only with multiple selection.

Thank you for your work.

[2016-12-23 16:33] pedroOliveiraptc opened #244 "It is possible allow only one range selection ?"
At the moment we can made a range selection but, what i what to try is to make only one range selection.
If we select a range, it will remove other´s selections that we have.

Thanks

[2016-12-23 18:50] patchthecode commented on #240
Cool.
Thanks. 👍

[2016-12-23 18:54] patchthecode commented on #244
Well, you can code the reange selection however you wish.
The range selection that I gave in the tutorial is only an example.

I do not have any code in the library does range selection. The one that is doing the selection and the code for the selection you the developer (yourself).

What code are you using to range select?

[2016-12-26 02:59] kevinlee85 commented on #243
I have tried, but it not working.

[2016-12-26 03:00] kevinlee85 commented on #243
![screen shot 2016-12-26 at 10 59 33 am](https://cloud.githubusercontent.com/assets/6616311/21474451/6f88f6d0-cb5a-11e6-8464-db7258b748c1.png)
![screen shot 2016-12-26 at 10 59 40 am](https://cloud.githubusercontent.com/assets/6616311/21474452/6f950a92-cb5a-11e6-917c-a5f64f7f1544.png)

[2016-12-26 16:17] tibaes opened #246 "Creating a JTAppleCalendar by Code in MyPlayground"
Xmas people!

Following the question that I created in StackOverflow, I am posting here the issue of creating a JTAppleCalendar (version 6.1.1) directly in Swift 3 code.
Follows a gist with my playground code:
https://gist.github.com/tibaes/19726f7eb957a6788b72614fed622fe4

The problem is that when setting the calendar.frame, it gets the message: "fatal error: Unexpectedly found nil while unwrappi

[2016-12-26 18:13] patchthecode commented on #246
Hi, I am trying to understand your problem.

Is this bug reproducible when you run the application?
Or is it only happening in playground?

And, it it is only happening in playground, then is there a reason you are trying to do this code in playground?

[2016-12-26 18:15] patchthecode commented on #246
Can you give me an empty sample project with your the playground code failing?
I am trying to setup the code, but I do not know how your code is setup.

[2016-12-27 15:04] tibaes commented on #246
I uploaded a project with my calendar in playgrounds to my github:
https://github.com/tibaes/swift-calendar

Inside the project, in terminal run pod install to make shure the dependencies are okay. Open the calendar.xcworkspace, build everything via cmd+b, open MyPlaygrounds.playground and run. In the XCode Assistant viewer, you should see a green screen.

The problem can be reproduced modifying t

[2016-12-27 21:58] patchthecode commented on #246
I have deleted all the code in your playground file and I only have this now:

[code]

And still I get the error message: `fatal error: Unexpectedly found nil while unwrapping an Optional value.`

I honestly do not know what the problem is, because this line of code works perfectly outside of playground :/

Can I suggest something? Can you try setting up this code normally (outside of playground)

[2016-12-27 22:40] patchthecode commented on #244
It has been 4 days with no reply from you.
I will assume that your issue was resolved.
If you are still having problems, then re-open this issue and I will resume where we left off.

[2016-12-30 02:40] yu629 opened #247 "Excuse me, can be calendar month calendar fluid into a week?Calendar below there is a sliding view, for example, you slide into a weekly calendar?"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. Are you using the latest version of JTAppleCalendar? Latest version is currently 6.1.0
2. Is your question already answered in the tutorials and guides —> https://patchthecode.github.io/
3. Looking for some feature you cant find? Than have you already looked at the *UserInteractionFunctions.swift* file?
It has every function tha

[2016-12-30 03:59] patchthecode commented on #247
我不明白。
I do not understand.

Can you show me an image / picture of what you want the weekly calendar to look like?

[2016-12-30 07:02] mansishah278 opened #248 "The delegate method will display cell sometimes gets called and sometimes does not, also the cells are not being displayed sometimes while for some cases they are"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. Are you using the latest version of JTAppleCalendar? Latest version is currently 6.1.0
2. Is your question already answered in the tutorials and guides —> https://patchthecode.github.io/
3. Looking for some feature you cant find? Than have you already looked at the *UserInteractionFunctions.swift* file?
It has every function tha

[2016-12-30 07:13] patchthecode commented on #248
I guess it is fixed?

[2016-12-30 07:13] patchthecode commented on #248
If this library is useful to you, then consider leaving a star github rating 👍

[2016-12-30 07:14] mansishah278 commented on #248
Nope. I am trying to dig deep into the problem still

[2016-12-30 07:45] mansishah278 commented on #248
@patchthecode I don't understand that even if the willdisplaycell method gets called sometimes or not, the cells are not being displayed at all

[2016-12-30 08:56] patchthecode commented on #248
Ok, I do not know where you are encountering the problem.
Can you let me know some more information?

1. Are you experiencing this error on the sample project attached to this repository?
2. Did you follow the tutorial on the site -> https://patchthecode.github.io/ . The completed tutorial files are located here -> https://github.com/patchthecode/CalendarTutorial

Maybe you can look into those and

[2016-12-30 09:05] mansishah278 commented on #248
@patchthecode yes I have followed the same tutorial for purple calendar
and in the demo project I am not facing issues
Also while I am checking it as a main VC there is no problem
But when I add the VC as a child VC to some other VC I am facing this issue !! Strange

[2016-12-30 10:40] mansishah278 commented on #248
@patchthecode To be specific when the VC containing calendar is added as a child to some other VC, the calendar cell height is 0

[2016-12-30 11:18] #248 closed

[2016-12-30 12:01] patchthecode commented on #248
@mansishah278 ok i see that you have closed the issue again.
Is it now fixed? Every time you close the issue, you give the impression that it is fixed.

If it is not fixed, then can you tell me your setup?
You said that every thing works fine normally, but it fails when the VC is a child of another VC?
Let me know your setup and please give me enough information so that i can re-create the problem

[2016-12-30 18:51] Bargetor opened #249 "Unknown Pending"
I use 6.1.1  to make my calendar, I use auto layout (SnapKit). but, when I selected the day, the Consoler show this, cause view shake, help me:

[code]
ps: I did not use the related properties

[2016-12-30 19:24] patchthecode commented on #249
Hmm. I think you will need to give me more information on this.
The Library does not give these error messages.

Do you get these error messages without using snapkit?

[2016-12-30 19:48] Bargetor commented on #249
Yes, I use cell xib to have the same result, I just used the snapkit layout calendar view in the view controller

[2016-12-31 04:22] patchthecode commented on #249
Are you able to reproduce these error on the sample application attached to this project?

[2016-12-31 17:06] squarefrog opened #250 "Need sanity check for config"
I've just spent a couple of hours trying to figure out why my project crashes when I load the calendar. It worked fine up until today (first clue there...).

It turns out I was trying to set `endDate` to something before `startDate`. In my case, this would only happen on the last day of the month, although it was very tricky to debug as the exception is raised far away from where you'd expect it t

[2016-12-31 19:45] patchthecode commented on #250
That is weird.
I believe I already have this sanity check in here?

[code]

Can you tell me what is occurring to cause the crash to happen?
The run path should have hit that line of logic :/
By the way, we are talking about version `6.1.1` right?

[2017-01-01 00:15] squarefrog commented on #250
That's correct! So the issue is my code for sure, but because it took me so long to figure out, whereas an assert should have picked it up.

I previously set the `endDate` to the start of the day of the last day of the month. Of course this failed today when I had the `startDate` as this afternoon.

So a good test case would be `startDate == "2016-12-31 12:34:56"` and `endDate == "2016-12-31 00:00

[2017-01-01 04:56] patchthecode commented on #250
Alright. Have a happy new year man.
Once your partying is over, let me know what tests you have done so that I can replicate why it did not properly do the assert.
Have an awesome end of yea 🎊 🎉

[2017-01-01 05:48] patchthecode commented on #249
Or can you give me some information on how to reproduce this on my end?

[2017-01-01 10:21] squarefrog commented on #250
OK i've setup a quick project which reproduces the issue [here](https://github.com/squarefrog/CalendarBug). 👍

[2017-01-01 17:58] patchthecode commented on #250
OK. I have checked your code.
It seems you used Carthage which compiled the frame work using optimizations.

NSAsserts are ignored it production level (optimized) code.
Therefore you are not alerted of the error.

As an experiment, I did you same project using `Cocoapods` instead of Carthage. And it correctly hits the assert.

[2017-01-01 17:59] shaheer87 opened #251 "EXC_BAD_ACCESS - Simulator is not launching"
I did exactly same as in the tutorial part 1 : https://patchthecode.github.io/MainTutorial/
Whenever I run the code, its giving an Error inside the viewDidLoad() - > delegate/datasource
After the running successfully message, suddenly hit with an EXC_BAD_ACCESS error.
I am using Xcode 8.2.1 and Coded on Swift 3

<img width="1105" alt="screen shot 2017-01-01 at 11 20 14 pm" src="https://cloud.githu

[2017-01-01 17:59] squarefrog commented on #250
Oh that makes sense! In that case, lets close the issue here. Thanks for looking into it.

[2017-01-01 17:59] #250 closed

[2017-01-01 18:01] patchthecode commented on #250
Cheers

[2017-01-01 18:04] patchthecode commented on #251
@shaheer87 can you join me here? https://gitter.im/patchthecode/JTAppleCalendar

[2017-01-01 18:07] patchthecode commented on #251
Are you saying that the example project provided is not working?

[2017-01-01 18:09] shaheer87 commented on #251
Example is running successfully.. but not getting on Simulator in Xcode 8.2.1
Its not invoking the Simulator

[2017-01-01 18:35] patchthecode commented on #251
I am running this version and all is well
![screen shot 2017-01-01 at 10 34 08 am](https://cloud.githubusercontent.com/assets/2439146/21582475/da5f3e76-d00d-11e6-9110-9467c3a8f468.png)

Can you Tell me which version build you are running?

[2017-01-01 19:03] shaheer87 commented on #251
<img width="578" alt="screen shot 2017-01-02 at 12 31 24 am" src="https://cloud.githubusercontent.com/assets/22956821/21582537/eb6ef11e-d082-11e6-81c5-773d681d93ee.png">
its not 8.2 , its 8.2.1 (8C1002)

[2017-01-01 19:06] shaheer87 commented on #251
<img width="1167" alt="screen shot 2017-01-02 at 12 34 40 am" src="https://cloud.githubusercontent.com/assets/22956821/21582547/529d00ce-d083-11e6-8430-ef0a642c85e3.png">

[2017-01-01 20:40] patchthecode commented on #251
I just downloaded version 8.2.1 and the project is working fine.

When you said that the example is not working, you said that the simulator is not being opened.
Does the simulator open on other XCode projects on your system?
The fact that the simulator is not opening makes me think that its a problem with your simulator possibly.

Let me know the result when you try running other projects.

[2017-01-01 21:10] patchthecode commented on #247
It has been 3 days with no response from you.
Issues that are not bugs will be closed if you are not responsive.
I check Issues every day.

If you still have a question on this, then you can re-open this issue and I will continue helping you.
Cheers. Happy New year! :]

[2017-01-01 21:10] #247 closed

[2017-01-02 11:06] onurays opened #252 "Wrong selected date"
Version: 6.0

![screen shot 2017-01-02 at 14 04 27](https://cloud.githubusercontent.com/assets/1254401/21588090/d111bcca-d0eb-11e6-96b4-2ed852e628df.png)

Selected Date: (Date) $R0 = **2017-01-09 22:00:00 UTC**

[code]

Here is my configuration and the problem occurs even if I don't set a timezone.

[code]

[2017-01-02 17:06] patchthecode commented on #252
@onurays this issue was fixed in later version.

can you update to the latest version 6.1.1 ?

[2017-01-02 17:17] patchthecode commented on #252
By the way, you are using a lot of defaults.
Your caode can be simplified to this
[code]

[2017-01-02 17:25] onurays commented on #252
Thank you for your quick reply. I will be able to test in 12 hours and will post if it is ok or not.

[2017-01-02 17:29] patchthecode commented on #252
@onurays sure thing. If the update works, and you find the library useful, a Star Github rating would be greatly loved :)
Have a good one.
Let me know the results.

[2017-01-02 17:41] patchthecode commented on #249
It has been 3 days with no response.
I do not believe this error is related to this library.

If you are still experiencing this issue, then please re-open it, and I will continue where we left off.

[2017-01-02 17:41] #249 closed

[2017-01-03 08:20] onurays commented on #252
Updated to the 6.1.1 and selected date is still wrong... My timeZone is GMT+2.

[2017-01-03 08:32] nlucky commented on #252
Version: 5.0.1 has the same problem ,because we need use swift 2.3 ,so can not update to the latest

[2017-01-03 10:17] patchthecode commented on #252
ok.

@onurays  Can I see the following codes?

1. Your current `configureCalendar` function code.
2. The code you are using to print the date on selection

[2017-01-03 10:18] patchthecode commented on #252
@nlucky let me resolve this on version 6 first. Then i'll port the fix to you.

[2017-01-03 14:43] idilgun commented on #93
@RayZhuAU I am looking for the same thing, since you closed this issue, did you find the solution?

[2017-01-03 16:44] patchthecode commented on #93
@idilgun `calendarView.scrollDirection = .vertical`

[2017-01-03 19:16] patchthecode commented on #207
@alphire I have found a way to do your splitting animation.
If you are still interested, I will show you.

[2017-01-04 01:45] nlucky commented on #252
@patchthecode thanks

[2017-01-04 06:15] patchthecode commented on #251
Closing this as it seems to be an XCode issue and not a library issue

[2017-01-04 06:15] #251 closed

[2017-01-04 06:17] patchthecode commented on #246
I have not heard a response for 7 days on this.
Closing this as I assume it is resolved.
If it is still a problem for you then re-open this issue

[2017-01-04 06:17] #246 closed

[2017-01-04 07:17] tiepvuvan opened #253 "Show Menu when holding to a day cell"
Our project currently have a requirement that show menu ("Copy, Delete, Cut...") when user hold a day cell.
I've tried to modify your code base(implement UICollectionViewDelegate for showing menu) but it didn't work.

[code]

Hope you will support this feature.
Thank you

[2017-01-04 07:35] idilgun commented on #93
Thanks @patchthecode

[2017-01-04 07:37] patchthecode commented on #253
You do not have to modify the code to do this.
All you have to do is add a long press gesture to the calendar -> `UILongPressGestureRecognizer`

An example of adding gestures can be found [here](https://patchthecode.github.io/AddingGestures)
You can also find implementation of long press gesture in the continuous range selection code located at the bottom of this page [here](https://patchthecode.g

[2017-01-04 07:39] patchthecode commented on #93
@idilgun cool. If this library has saved you months of coding then consider leaving a Star ★ Github rating. It will be greatly appreciated. Cheers 🍻

[2017-01-04 08:04] patchthecode commented on #253
If you need more help on this, then let me know.

[2017-01-04 08:07] tiepvuvan commented on #253
It would be much easier if we implement default Apple menu. We don't have to handle long press gesture, finding target rect, target cell....

[2017-01-04 08:31] patchthecode commented on #253
Code for handling long press is very short

[code]

Now what you said is true. It would be easier for developers if we implemented menus into the library as you have suggested. But remember, this library is being used by very many people. We would not want to create specific cases for some developers.

Currently the library is so flexible that any developer can create the showing of menus however

[2017-01-04 09:43] tiepvuvan commented on #253
I've tried your code to get cellState, but i need to get current cell, and it always return nil
[code]

[2017-01-04 11:55] dehlen commented on #252
I am also experiencing this issue.

**1. Configure Calendar Code**
`func configureCalendar(_ calendar: JTAppleCalendarView) -> ConfigurationParameters {
        let startDate = Date()
        let endDate = Date() + 1.year
        let parameters = ConfigurationParameters(
            startDate: startDate,
            endDate: endDate,
            numberOfRows: 1,
            calendar: Calendar.curr

[2017-01-04 17:29] patchthecode commented on #252
@dehlen thanks for the information. I can now replicate your issue. Looking into it now.

[2017-01-04 17:48] patchthecode commented on #252
@dehlen I see the issue. I do not believe there is an error. Here are my results.

I made my time zone information to be the same as yours:
[code]

And i had this code:
[code]

And the results after selecting the `10th` were:
<img width="283" alt="screen shot 2017-01-04 at 9 38 10 am" src="https://cloud.githubusercontent.com/assets/2439146/21652453/8c58f93c-d261-11e6-8ab1-8e54801e8073.png">

[code

[2017-01-04 17:52] patchthecode commented on #252
@onurays if this also resolves your issue, then feel free to leave a Star Github rating :)
If it does not resolve your issue, then I'll have to do some more digging as to what the problem really is.

[2017-01-04 18:16] onurays commented on #252
@patchthecode Unfortunately, I had to switch to the FSCalendar (because of the time pressure). I will try to test it again at weekend.

I know, ```DateFormatter``` formats correctly. But ```po``` or ```print(date)``` doesn't. So we have problems if we need operations on Dates, not Strings.

By the way, you already had your star for this beautiful library :)

[2017-01-04 19:41] dehlen commented on #252
Yes you have a point. For me it is important to work with the "local date".
So for me this is resolved likes this:
- The user clicks on the 04.01.2016
- The date prints 03.01.2016 23:00 which is the correct date in UTC, since i am living in GMT+1
- In order to further work with the date object representing 03.01.2016 23:00 in GMT+1 i am using the following conversion:

[code]

If i now print local

[2017-01-04 19:48] patchthecode commented on #252
@dehlen you are exactly correct. I made this library to work with SwiftDate because a number of users requested it. So you can either do the conversion yourself, your you can simply use SwiftDate.

[2017-01-04 19:55] onurays commented on #252
@patchthecode All right then, thank you for your afford to reproduce the issue. I also see the same issue with other libraries. So (as an Android developer), this is not a problem for me, anymore. I will format the date and not look at the console :) Thanks again.

[2017-01-04 19:58] patchthecode commented on #252
@onurays haha. Yea, when it comes to dates, console can really trip you up if youre not formatting it. Cheers.

[2017-01-05 05:27] patchthecode commented on #253
Its always nill. That's true. It's a bug.
I just fixed it on `master branch`.
Can you test it now?

Put this in your `Podfile`.
[code]

and then do a `pod install`.

[2017-01-05 15:00] MrNiceMrGood opened #254 "How to deselect specific date?"
Hi Jay,
can u help with this.
Maybe missing something, but how can I deselect specific cell/s.

[2017-01-05 15:03] Bargetor commented on #249
sorry, I found the root of the problem, is the result of other project, I will fix it.
and thanks for your time.

[2017-01-05 15:09] patchthecode commented on #249
awesome. thanks for replying. Glad its resolved.

[2017-01-05 15:11] patchthecode commented on #254
It depends.

If you have multiselect set to `true`, then simply select the same date again.
If you have multiselect set to `false`, then do the `deselectAllDates` command

[2017-01-05 15:12] patchthecode commented on #254
To select a specific date, do the `selectDate` command.

[2017-01-05 15:12] MrNiceMrGood commented on #254
Thanks for fast response.
I dont want to deselect all dates, maybe just range of dates.
Is it possible?

[2017-01-05 15:13] patchthecode commented on #254
Yes it is.
I assume you have multiSelect set to true?

Then do `calendarView.selectDates(datesYouWantToDeselect)`

[2017-01-05 15:16] MrNiceMrGood commented on #254
Hmm...
Got strange thing going on here, when i say deselectAll, it doesn't call didDeselectDate :/

[2017-01-05 15:19] patchthecode commented on #254
Mines gets called correctly. What version are you using?

[2017-01-05 15:24] MrNiceMrGood commented on #254
Using JTAppleCalendar (6.0.0)
When i deselect by using your function  selectDates() it works fine, it has problem only with deselectAll.
Sry for troubling you but I also have question regarding opening calendar view first time.
Is it possible to show specific date without scrolling to it.
I got pager-like full year calendar, showing month by month.
When i show like december as initial screen, it g

[2017-01-05 15:28] patchthecode commented on #254
@MrNiceMrGood `deselectAll` was fixed on latest master branch patch. There was a bug with it.
Therefore you will have the latest code base if you put this in your `Podfile`
[code]
Then do a `pod install`

Now, the calendar should not be slow at all. I have tested it on a slow iPhone 4s and it was blazing fast and smooth. If it is slow then you are possibly doing something wrong.

Can you join me h

[2017-01-05 15:58] #254 closed

[2017-01-05 16:35] idilgun commented on #38
I think my question is related to this issue so I'll join in - first thanks for all the great work @patchthecode ! <br>I want to setup functionality to have the user vertically scroll through all dates without having duplicate lines - I understand that most of the logic builds on separating views into months so I'm not sure if this is possible. I could set the visibility of specific cells but then

[2017-01-05 23:29] alphire commented on #207
Yeah definitely still interested. Do you have some example code or just a general idea?

[2017-01-06 06:45] umeshjavastar opened #255 "Calendar not displaying in UIView"
Hi, your library are awesome but I m facing some issue with this library. I am adding this calendar in a UIView when i am instantiate this UIView, then its not show calendar dates on first time again i m instantiate then it show calendar.. I am facing some problem in "setupViewsOfCalendar" first time it not show date and again it show date. Can you help me a little bit???

[code]

when I am instan

[2017-01-06 07:52] tiepvuvan commented on #253
Thank you, it's worked.

[2017-01-06 07:52] #253 closed

[2017-01-06 08:36] patchthecode commented on #38
@idilgun ok issue is not related to this question here.
But I think i have a solution for you.
Can you reopen this same question under a new issue?

I will paste the answer to you there.

[2017-01-06 08:42] patchthecode opened #256 "How to show a continuous view"
Message from @idilgun

I think my question is related to this issue so I'll join in - first thanks for all the great work @patchthecode !
I want to setup functionality to have the user vertically scroll through all dates without having duplicate lines - I understand that most of the logic builds on separating views into months so I'm not sure if this is possible. I could set the visibility of spec

[2017-01-06 08:42] idilgun opened #257 "Functionality to scroll through months"
Thanks for all the great work @patchthecode !
I want to setup functionality to have the user vertically scroll through all dates without having duplicate lines - I understand that most of the logic builds on separating views into months so I'm not sure if this is possible. I could set the visibility of specific cells but then I would have empty spaces.

To be more clear, indates and outdates for t

[2017-01-06 08:45] #256 closed

[2017-01-06 08:45] patchthecode commented on #256
Closed as user created a new issue before i did :)

[2017-01-06 08:46] patchthecode commented on #257
ok, first paste me your `configureCalendar` function

[2017-01-06 09:15] idilgun commented on #257
Here it is
[code]
thanks!

[2017-01-06 09:20] patchthecode commented on #257
Try this:

[code]

[2017-01-06 09:29] idilgun commented on #257
I had to use .none instead of .off for firstDayOfWeek because xcode compained days of week doesn't have such component
The result I get with this configuration still has the duplicate rows, I am attaching a screenshot
![screen shot 2017-01-06 at 12 25 49](https://cloud.githubusercontent.com/assets/15154813/21713551/2fc84c74-d403-11e6-89fd-2ea51d22435f.png)

[2017-01-06 09:34] patchthecode commented on #257
[code]

[2017-01-06 09:42] patchthecode commented on #257
@idilgun i just updated the code again. Try it and let me know

[2017-01-06 09:54] idilgun commented on #257
The above code resolved this 👍

[2017-01-06 09:54] #257 closed

[2017-01-06 09:55] patchthecode commented on #255
Ok, i will look into this in the morning. Will update you afterwards

[2017-01-06 14:11] ZezhongLi opened #258 "JTAppleCalendarViewDelegate methods are not called after calling ScrollToDate"
When I called calendar view ScrollToDate, I thought all the related delegate method like didScrollToDateSegmentWith and scrollDidEndDecelerating will be called, but actually not.
Is this a issue?

[2017-01-06 15:37] patchthecode commented on #258
This is a newly introduced bug in the last version. It has already been fixed on master branch.
To get the latest code put this in your pod file

[code]

and then do a `pod install`

[2017-01-07 05:36] patchthecode commented on #207
I have actual code.
Download the sample project attached to this project.

then just change the code in the following function to look like this:

[code]

[2017-01-07 06:05] patchthecode commented on #255
Hi, ok I am not understanding your code.
Is it possible you can create a small empty sample project demonstrating the bug, and send the zip file here?

[2017-01-08 09:36] glennposadas commented on #183
Or handle it at **didSelectDate** delegate, like so:

`    func calendar(_ calendar: JTAppleCalendarView, didSelectDate date: Date, cell: JTAppleDayCellView?, cellState: CellState) {

        // Won't let dates before current date be selected

        let currentDate = Date()
        let formattedCurrentDateString = formatter.string(from: currentDate)
        let startDate = formatter.date(from: f

[2017-01-08 15:41] glennposadas commented on #244
I have the same question. Can we open this or should I make my own ticket?

I've been trying so hard to implement this one range selection, I've been doing this inside the **didDeselectDate** delegate of the calendar. But upon triggering that function, the date is already erased! I believe I won't be able to implement this feature

[2017-01-08 16:21] patchthecode commented on #183
@glennposadas Its been some time since i last answered this question.

I think another way to handle this is by using the the following delegate function:
[code]

[2017-01-08 16:24] patchthecode commented on #244
I do not understand what you mean by **one**  range selection.
Have you checked out the range selection code in the tutorial yet? It has all the code you need.

If the code does not answer your question, then maybe I do not properly understand what you mean by **one range selection**

[2017-01-08 16:34] glennposadas commented on #244
Hi, thanks for re-opening this. I tried out the delegate function that you gave to me:

`func calendar(_ calendar: JTAppleCalendarView, shouldSelectDate date: Date, cell: JTAppleDayCellView, cellState: CellState)`

However, Xcode doesn't auto complete and so it isn't being triggered. Anyways, about the **one range selection**, I'll give an example. If you select dates **5,6,7,8,9,10** and you de-s

[2017-01-08 16:36] patchthecode commented on #244
@glennposadas what version are you using?
The full function name is this ->
[code]

I left out the last part.

[2017-01-08 16:37] patchthecode commented on #244
Now concerning the range selection. Can we chat here? https://gitter.im/patchthecode/JTAppleCalendar

[2017-01-08 16:40] patchthecode commented on #244
Concerning the range selection. The code is entirely up to you.  The only thing the library provides is the positioning of the range -> `left, middle, right, full`

[2017-01-08 17:21] #244 closed

[2017-01-08 17:58] glennposadas commented on #244
Check out my solution below. This will let you have a single selected range of dates.

[code]

[2017-01-08 19:26] patchthecode commented on #244
Your code is ok.
But I would have coded it this way

[code]

[2017-01-08 19:52] patchthecode commented on #255
Ok it has been 2 days and I have heard no response from you.
I will assume that this issue has been resolved. I you are still having the issue, then reopen this exact issue again and I will continue where we left off.

[2017-01-08 19:52] #255 closed

[2017-01-08 21:28] tibaes commented on #246
I tested outside the playground and it worked after registering the cell class.
Thanks for the help!

[2017-01-08 21:39] patchthecode commented on #246
Awesome! and thank you for responding again. Glad it worked out.

[2017-01-09 01:56] glennposadas commented on #244
Thanks again, @patchthecode . I'll check that later tonight. I shared your calendar to our group, you earned stars from a certain members. ;) Cheers.

[2017-01-09 07:47] patchthecode commented on #244
Thanks!

[2017-01-09 14:07] oskarko opened #259 "How to put a little circle under the selected number day"
Hi Jay,

Thanks in advance for your work. It's awesome!.

I'm trying to select some dates adding a little circle red under the number but I haven't seen how to do it. Can you give me some link or example?

Thanks!

[2017-01-09 16:25] patchthecode commented on #259
@oskarko Have you looked at the tutorial yet? -> https://patchthecode.github.io/

It tells you how to setup your calendar.

[2017-01-10 19:26] oskarko commented on #259
it doesn't show how to do it.

[2017-01-10 19:43] patchthecode commented on #259
It shows you how to add a UILabel.
And it shows you how to add a Circular selected `UIView`.

All you have to do is use the same approach, and add another circular little circle as you want.
You can any any view you want to it. You can design the CellView however you want.

Which part do you need help on?

[2017-01-11 06:11] umeshjavastar commented on #255
Here is code url. Please see this and check what type of error I am facing.

https://www.dropbox.com/s/9kkxpq304upyf8n/DemoCalendar.zip?dl=0

[2017-01-11 06:14] umeshjavastar opened #260 "Calendar not displaying in UIView #255"
I am again open this issue with my small empty project, I have already mention my problem in issue #255 .

@patchthecode  Here is code url. Please see this and check what type of error I am facing.

https://www.dropbox.com/s/9kkxpq304upyf8n/DemoCalendar.zip?dl=0

[2017-01-11 07:08] patchthecode commented on #260
I think the problem is to do with your you frameSize code.

[code]

[2017-01-11 07:11] patchthecode commented on #260
If you still have problems, then I will re-look it again.
If this fixes your issue, feel free to leave a star Github rating. 👍
Let me know.

[2017-01-11 16:01] patchthecode commented on #246
awesome. cool.

On Sun, Jan 8, 2017 at 1:28 PM, Rafael H Tibães <notifications@github.com>
wrote:

[2017-01-11 21:35] alphire commented on #207
Sorry for the late reply. I tested it out and its pretty cool. How can I implement it in my own project?

[2017-01-11 22:28] patchthecode commented on #207
@alphire i just did that as an example :/

Like I was telling you before, the animation is totally separate from the Calendar.
That animation code was one I just randomly found online.
If you want to do animation, you need to have the animation code already done. Once you have the animation code, then you can apply it to any view (including the CalendarView).

But just know that the animation is n

[2017-01-12 02:09] XiangXu opened #261 "Change number of rows from 6 to 1 makes calendar display wrong date"
Hi,

I am using your fantastic calendar right now, however I got a problem.

I have a calendar and it has two modes: weekly and monthly view.

When user first time open the calendar, it shows like below:
<img width="371" alt="screen shot 2017-01-12 at 02 11 10" src="https://cloud.githubusercontent.com/assets/4528188/21874353/712b3d6c-d86c-11e6-9b02-d33c8e9419d2.png">

When user swipe up on calenda

[2017-01-12 02:45] patchthecode commented on #261
What version of the calendar are you using?

If you are able to do so, can you join me here? -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-01-12 02:59] patchthecode commented on #261
This is expected.
You can refer to the explanation here -> https://github.com/patchthecode/JTAppleCalendar/issues/202#issuecomment-262071517

[2017-01-12 03:33] alphire commented on #207
Ok thanks man, I appreciate your help

[2017-01-12 05:33] umeshjavastar commented on #260
Thanks @patchthecode it really helpful for me

[2017-01-12 05:39] patchthecode commented on #260
Awesome! glad it worked. Closing this issue now. :)

[2017-01-12 05:39] #260 closed

[2017-01-12 09:13] XiangXu commented on #261
Thanks for your reply.
Yes, I am using the latest version.
"put this in your pod file ->
pod 'JTAppleCalendar', :git => 'https://github.com/patchthecode/JTAppleCalendar.git'
then do a pod Install"

I save the Date I want to scroll to as titleDate. So in my updateViewToMonthOrWeek methoh:
1. I change calendar row number from 6 to 1
2. Then I update calendar height
3. I call reloadDate, it reset the

[2017-01-12 09:18] patchthecode commented on #261
are you online now?
join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-01-12 20:49] JasonGreenAmerica opened #262 "Newb: What's the best way to clear the calendar of selected dates?"

[2017-01-12 21:33] #261 closed

[2017-01-12 22:42] patchthecode commented on #262
[code]

[2017-01-12 22:42] patchthecode commented on #262
If this solves your issue then you can close it.
And if you like this library, consider giving us a Star Github rating :D thanks!

[2017-01-13 02:53] #262 closed

[2017-01-13 07:20] #259 closed

[2017-01-13 22:54] dbmrq opened #263 "Visible scrolling when trying to start calendar at a certain date"
My calendar has a pretty broad range, starting about 10 years ago.

I want the calendar to be on the current date when it first appears, so I do `calendarView.scrollToDate(Date())` at `viewDidLoad()`.

When I go to the calendar's view controller, I can se the previous months flash very quickly, and then the current month shows up (even if I use `animateScroll = false`).

I didn't try it, but I thi

[2017-01-14 19:58] patchthecode commented on #263
OK. i will look into this.

[2017-01-15 11:16] vishalvshekkar opened #264 "Multiple Months Visible At Once"
Hey, this is a wonderful calendar! Much appreciated.

Is there a way to show multiple months at once? Right now, every month section occupies the entirety of the calendar view frame.

I want it much like Apple's iOS Calendar App (See image).

![img_3498](https://cloud.githubusercontent.com/assets/13771106/21962080/2598de3a-db42-11e6-8699-6a85d58dbc2f.PNG)

[2017-01-15 14:21] adelbios opened #265 "remove or disable specific date"
please i wanna someone help me,, how i can hide particular date like 2/2/2017
from this calendar

[2017-01-15 16:17] patchthecode commented on #265
It its the documentation here -> https://patchthecode.github.io/DateCellConfiguration/

[2017-01-15 16:17] #265 closed

[2017-01-15 16:18] patchthecode commented on #264
It is located in the documentation section here -> https://patchthecode.github.io/CommonQuestions/

If youre still stuck let me know.

[2017-01-15 16:18] #264 closed

[2017-01-15 18:10] vishalvshekkar commented on #264
Right! I'm sorry I didn't' check the questions before posting.
Thanks a lot for responding!

It worked well..

[2017-01-15 18:30] patchthecode commented on #264
awesome! cool. Have a good one

[2017-01-16 01:34] angelbetancourt commented on #221
Same issue, I'm using iPhone 5 . Any answer ?

[2017-01-16 02:26] patchthecode commented on #221
@angelbetancourt yes, the solution is for me to code an update.
The work around for now is to decrease your range.
I am actively working on the fix.

Just to confirm, how large is your date range?

[2017-01-16 10:53] baobao57 opened #266 "I want to know 'JTAppleCalendar' can do it like this?"
<img width="274" alt="2017-01-16 6 48 13" src="https://cloud.githubusercontent.com/assets/12264243/21980074/b774891e-dc1c-11e6-851b-fb28c8571e7f.png">

Because I've been using 'JTAppleCalendar' make half the work, I don't want to change into other components

[2017-01-16 15:03] patchthecode commented on #266
[code]

[2017-01-17 00:48] baobao57 commented on #266
Thank you for your answer. I wish you good luck.

[2017-01-17 02:53] #266 closed

[2017-01-17 11:35] handioq opened #267 "Show two months on the same screen (with one data range)"
Hi there. Thx for this big and awesome work.

Can i show two months on the same screen with one data range?

For example:
![](http://savepic.ru/12659034.png)

There are two month with one range of selection.

Thanks in advance.

[2017-01-17 14:01] glennposadas commented on #183
Hi @patchthecode , just experienced a bug in my code above. I managed to select a date past the current date. yikes. So I copied my implementation to the delegate function you gave. Will edit my code above.

[2017-01-17 14:23] patchthecode commented on #267
2 months on same screen -> https://patchthecode.github.io/CommonQuestions/

[2017-01-17 19:36] handioq commented on #267
Thank you very much. I will try.

But I still do not understand how the cell size is related to two months (maybe because I have not tried to do it).

[2017-01-17 23:34] patchthecode commented on #267
Normally, the cell stretches to fill the size of the Calendar view. This forces one month to be on screen. If you make the cell size smaller, then more cells can fit on the screen,

[2017-01-17 23:38] patchthecode commented on #267
However, I have not had someone have 2 months on same screen using horizontal mode before. So if you find any issues then do let me know. And I will fix it.

[2017-01-18 06:05] Ranganstyles opened #268 "Can not install latest JTAppleCalendar repo using Cocoapods"
My Podfile looks like,
![screen shot 2017-01-18 at 11 27 32 am](https://cloud.githubusercontent.com/assets/20065602/22052677/95c27b54-dd71-11e6-9d9d-4f8d1ccd7f98.png)

While "Pod install", i'm getting error as
![screen shot 2017-01-18 at 11 11 19 am](https://cloud.githubusercontent.com/assets/20065602/22052698/adede38a-dd71-11e6-9448-0b79b6519c26.png)

I tried every other versions, getting the sam

[2017-01-18 07:02] patchthecode commented on #268
what version of cocoapod are you using?

[2017-01-18 07:21] Ranganstyles commented on #268
i'm using  CocoaPod 1.1.1

[2017-01-18 07:46] patchthecode commented on #268
put this in your podfile and tell me what you get

[code]

[2017-01-18 07:48] patchthecode commented on #268
If this failed as well, then try creating a new project and try installing another cocoapod other than JTAppleCalendar. Does others fail as well?

[2017-01-18 08:08] Ranganstyles commented on #268
Other Pods are working Fine. Thank you.
Ok, Latest JTAppleCalender repo for **SWIFT 3** installed successfully, using the Podfile

source 'https://github.com/CocoaPods/Specs.git'
target 'SampleProject' do
  use_frameworks!
pod 'JTAppleCalendar', :git => 'https://github.com/patchthecode/JTAppleCalendar.git'
end

[2017-01-18 08:12] #268 closed

[2017-01-18 10:05] vinamelody commented on #267
Hi I'm also trying to do this too. Could there be something else that I need to update other than `calendarView.itemSize` ? it looks like this when I set as 20

<img width="735" alt="screenshot 2017-01-18 18 03 00" src="https://cloud.githubusercontent.com/assets/990511/22059622/ae068598-dda8-11e6-94cc-4d30b682e409.png">

And here's the normal view

<img width="768" alt="screenshot 2017-01-18 18 03

[2017-01-18 15:55] patchthecode commented on #267
@vinamelody I cannot tell you want to set. You first need to tell me how you want your calendar to look. Technically, you are seeing 2 months on one screen right there. haha. :rofl:

[2017-01-18 16:05] vinamelody commented on #267
When changing the item size to 20, Somehow it doesn't take the whole width anymore:) that's where I'm stuck

[2017-01-18 16:49] patchthecode commented on #267
can you set the item size, to a size where the 2 months exactly take up the width?

let itemSize = calendarView.width / 14.0

[2017-01-18 17:09] handioq commented on #267
As I understand from comments of @vinamelody , I can't get exactly the same result like in the image of my first post? Because the calendar is compressed vertically? And the next month will be below the previous one and so on.

[2017-01-18 17:50] vietstone opened #269 "Sorry, do you guys know any good framework to parse iCal (.ics) file?"
Sorry. May be this is not the place to ask this question, but I don't know where's better.
Do you know any good framework to parse iCal (.ics) file in Swift 3?
Thank you.
You can close this issue if it's not suitable.

[2017-01-18 19:29] patchthecode commented on #267
@handioq Is your calendar vertical or horizontal?
If it is vertical you will have no problems.

If your calendar is horizontal, then your calendar will look exactly like your image above. The only difference is that there will be no space in the middle.

I will have to code this as an upgrade.
But tell you what, try creating the calendar from the tutorial -> https://patchthecode.github.io/MainTuto

[2017-01-18 19:31] patchthecode commented on #269
A good place to ask a question like that is on Slack in the ios dev chat. There are many people there that can help you with this.
I do not know the answer to this question, so i'll close it as it is unrelated. I have asked your question on slack. If they respond then i will tell you the response here. Best of luck

[2017-01-18 19:31] #269 closed

[2017-01-19 02:13] vinamelody commented on #267
It's working when I did this

[code]

<img width="735" alt="screenshot 2017-01-19 09 33 21" src="https://cloud.githubusercontent.com/assets/990511/22091077/dcd8fca2-de2f-11e6-9db9-f7b2336278a4.png">

[2017-01-19 03:12] vietstone commented on #269
Yes, thank you.

[2017-01-19 05:23] patchthecode commented on #269
@vietstone have you tried this one? --> https://github.com/KiranPanesar/MXLCalendarManager

[2017-01-19 08:56] handioq commented on #267
@patchthecode My calendar is horizontal.
I'll try to do it soon and will write if problems arise. Please, don't close this ticket for now.
Thanks for the help!

@vinamelody thx u too.

[2017-01-19 09:57] Zeered opened #270 "exc_bad_instruction (code=exc_i386_invop subcode=0x0)"
I am using 1 row of calendarview
i make it can be clicked and change to the colour i wanted.
but.. i only can do this in a row of the first page when i m running it.
ex. 1 month have 4 weeks..
but i only can clicked the first week where is the first preview when i run
when i click at the others it will show the error
at
let myCustomCell = cell as! cellView exc_bad_instruction (code=exc_i386_invop

[2017-01-19 10:11] handioq commented on #267
@patchthecode  I tried. 2 months are displayed.
But there is a problem, how to scroll only one month, not two at once? It seems that it is impossible, right?
Or maybe some workaround exists?

Now my calendar looks like:
![](http://savepic.ru/12648529.png)

And how can i enable showing of weekdays?

[2017-01-19 14:10] patchthecode commented on #267
@handioq I think you need to look at the documentation. It will help you a lot.
Have you looked at the (Calendar Scrolling)[https://patchthecode.github.io/CalendarScrolling/] documentation?

[2017-01-19 14:22] handioq commented on #267
@patchthecode oh, i missed it.
I will wait for updates.

Thank you again.

[2017-01-19 14:34] patchthecode commented on #270
can you copy and paste the entire function?

[2017-01-19 14:37] vinamelody commented on #267
Earlier I thought it would be better to have space in between months but then after a day of trying out, consider this:

If you're making a horizontal stack view for the days (Sun, Mon, ..... Sun, ... Sat) it will be easier to layout with just "Fill Equally" option. Any thoughts :)

@handioq just curious, which scrolling option fits your need?

[2017-01-19 14:48] handioq commented on #267
@vinamelody I use
`calendarView.scrollingMode = .stopAtEachSection`

And for 2-weeks.. i use 2 stack views :)

[2017-01-19 14:51] vinamelody commented on #267
lol ok ... glad it worked out :)

[2017-01-19 15:16] patchthecode commented on #267
@vinamelody you're welcome much. If it has helped you in any way leave a start rating. I;d appreciate it :D
Thanks for the suggestions. I will get to work on the improvements in a short while.

[2017-01-20 07:01] oyalhi opened #271 "How to get number of rows, then the height of the calendar view can be adjusted accordingly"
My settings are as follows:
[code]

Depending on the month the calendar has 5 or 6 rows. Exactly what I want.

When there are 6 rows, everything is perfect.

When there are 5 rows, the rows are stretched accordingly (hasStrictBoundaries: true). So instead of this, I would like the calenderView height to shorten by 1 row.

Therefore, I need to be able to read numberOfRows, and change the calendarVi

[2017-01-20 07:12] patchthecode commented on #271
Currently, I do not tell you how much rows are there per month.
Let me see what I can do.

[2017-01-20 12:09] handioq opened #272 "Crash "Subrange extends past the end" when continuous range selection"
Hi there one more time :)

I got an error when use [continuous range selection](https://patchthecode.github.io/RangeSelection/) (with long press gesture) on line:

[code]

**Note:**
It is reproducible when you select days from the right to left direction.

**Completed code**:

[code]

Now I'm looking for solutions, any suggestions?

[2017-01-20 15:58] patchthecode commented on #272
The code in that tutorial is just sample code. You can code it however you want.

But that said, I am unable to reproduce this this error.
You say you just select any date and start dragging to the left?
Can you provide me some more information as to the sate of your calendar?

1. You start selecting with nothing on screen selected? or you start selecting with dates already selected.
2. What does

[2017-01-20 16:02] patchthecode commented on #267
Will add the space between Months as an update.
Closing this as original issue is resolved

[2017-01-20 16:02] #267 closed

[2017-01-20 16:04] patchthecode commented on #179
will track this in projects.

[2017-01-20 16:05] patchthecode commented on #225
will track this in projects

[2017-01-20 16:05] #225 closed

[2017-01-20 16:05] #252 closed

[2017-01-20 16:06] patchthecode commented on #38
will track this in projects

[2017-01-20 16:06] #38 closed

[2017-01-20 16:46] patchthecode commented on #271
After looking at my code again, I realized that I actually do have that feature already.

[code]

So when you calendarDidScroll is called, I guess you can get the
[code]

to determine which dates are on the screen. Then from that you can call the other code above to get the number of rows.

[2017-01-20 16:54] patchthecode commented on #271
`rowsForSection` was renamed to `rowCount`
Depending on what version of the calendar you are using.

[2017-01-22 22:44] arronhunt opened #273 "Act on nth DayCell easily"
I tried researching this but I'm having a hard time finding anything.

I'd like to be able to reference the nth date cell from `datesDisplaying` in the calendar by index. So, for example, the date cell at index [0] I'd like to add custom style to, etc. Is this possible?

[2017-01-23 01:08] patchthecode commented on #273
@arronhunt
this is possible. In fact, this is how this library was built :D
I think you are thinking about the problem too hard.

You do not need to get the `nth` cell to customize it.
You have to customize it when it is displayed.

Have you looked at the tutorial here yet? -> https://patchthecode.github.io/
It is very detailed.

If you still need help, then let me know where you are stuck.
You ca

[2017-01-23 01:10] patchthecode commented on #273
Btw, i see your website as being a Kick-ass UI & UX Designer -> http://arronhunt.com/
If you end up creating an awesome calendar, then don't be shy in uploading screen shots :D

[2017-01-23 18:54] wilsonbalderrama opened #274 "How to disable vertical bouncing?"
I can't find the way to do it, I only want to use the horizontal scrolling. Thanks, by the way JTAppleCalendar is so great!

[2017-01-23 19:10] patchthecode commented on #274
@wilsonbalderrama what version of the calendar are you using? Ther should not be any "bouncing" :/

[2017-01-23 19:13] wilsonbalderrama commented on #274
hey @patchthecode thanks for the quick response, I'm using the 6.0.2 version.

I've copied from the README this sentence into my podfile:

pod 'JTAppleCalendar', '~> 6.0'

[2017-01-23 19:51] patchthecode commented on #274
Can you put this into your podfile instead? Many fixes have been done.

[code]

[2017-01-23 20:15] wilsonbalderrama commented on #274
I've put it and now I have the 6.1.1 version and still see the vertical bouncing.

![https://media.giphy.com/media/26gsm6SV97EqpMVUY/source.gif]()

[2017-01-23 21:23] patchthecode commented on #274
i'll be online for some time today. Can you join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-01-23 22:42] wilsonbalderrama commented on #274
I had to apply this solution https://patchthecode.github.io/CommonProblems/, to my root view controller that is a UITabBarController afterwards everything was ok. thank you @patchthecode for pointing me to the link :)

[2017-01-23 22:47] #274 closed

[2017-01-24 06:53] patchthecode commented on #272
ok. 4 days and no reply. I will assume you have solved the problem. If you still have an issue, then reopen this by clicking on the re-open button. I will respond 👍

[2017-01-24 06:53] #272 closed

[2017-01-24 06:54] patchthecode commented on #270
No response for 5 days. I assume your problem has been resolved.
If this is still an issue for you, then click on the re-open button and I will continue.

[2017-01-24 06:54] #270 closed

[2017-01-25 09:11] handioq opened #275 "Scroll To Segment does not work correctly with small value of itemSize"
Hello

The case is follow: when i set

`calendarView.itemSize = calendarView.frame.width / 14 `

and use

`calendarView.scrollToSegment(SegmentDestination.next, triggerScrollToDateDelegate: false, animateScroll: true, completionHandler: nil)`

then all work correctly.

But if I set

`calendarView.itemSize = calendarView.frame.width / 19`

then scroll to segment only work to 5 or 6 months and no fu

[2017-01-25 09:45] handioq commented on #275
**Note 2:**

I found workaround, we can use scroll to date instead

`calendarView.scrollToDate(currentRightMonth!, triggerScrollToDateDelegate: false, animateScroll: true, completionHandler: nil)`

Perhaps it would be useful to someone.

[2017-01-25 15:42] patchthecode commented on #275
@handioq scroll to segment currently works by scrolling to the next **visible** segment. This means it scrolls exactly the width of the calendarView. Do you think its better if it scrolled to the next month segment?

[2017-01-25 16:36] handioq commented on #275
@patchthecode I think it would be better to make this configuration optional.

[2017-01-25 18:26] dimmdesign commented on #216
Made an availability calendar using multiple instances of JTAppleCalendar embedded on custom UICollectionViewCells.
I haven't tried to dynamically calculate the height for each month based on its rows. I think it's a bit tricky... for now some months will have a larger space at the bottom of each cell.

![img_0264](https://cloud.githubusercontent.com/assets/886854/22303255/5b3b3f84-e32a-11e6-8427-

[2017-01-25 18:50] patchthecode commented on #216
@dimmdesign awesome theme there. Btw, would one instance of the calendar work in vertical mode? I think the calendar should look the same right?

[2017-01-25 18:56] patchthecode commented on #275
Optional? Ok.

tell me what you want accomplished, and I will try make a solution.
When you do a `calendarView.scrollToSegment(.next)` what do you as a programmer expect to happen?

[2017-01-25 23:30] dimmdesign commented on #216
@patchthecode - It should work in either direction, even with a custom layout. And I guess you could also make each calendar work independently as well.

[2017-01-25 23:38] patchthecode commented on #216
understood. Cheers.

[2017-01-26 05:31] handioq commented on #275
On the call `calendarView.scrollToSegment(.next)` I expect to receive the next month, that is in one segment  we can put a few months (in my case 2 months).

If I explained correctly ...

[2017-01-26 05:34] patchthecode commented on #275
Ok. I will look into this.

[2017-01-26 05:35] handioq commented on #275
Thank you.

[2017-01-26 06:54] patchthecode commented on #275
Ok. After looking into it, I remembered why I coded it that way.

What exactly is "next segment" ?
Well, it seems logical that it is the next month right?

Well, in-order to know what is the **next** month, I would first have to know what is the current month.

Since you have decreased the size of the dateCells, more than one month may be visible on the screen at the same time. And If more than on

[2017-01-26 07:14] handioq commented on #275
Yes, that makes sense.

I understand this problem, so I will try to think about it and if I can find a solution, I will do PR. Because it is necessary to me more :)

[2017-01-26 07:16] patchthecode commented on #275
Thanks man :D

[2017-01-26 07:18] #275 closed

[2017-01-26 10:31] oyalhi commented on #271
For some reason didScrollToDateSegmentWith is not being called, neither scrollDidEndDecelerating. Any ideas what I might be doing wrong?

[2017-01-26 20:12] patchthecode commented on #271
@oyalhi yes this is a bug that was fixed.

It was introduced. in the latest version.
It is currently already fixed on master branch, and a new version will be released in about a week or so.

If you want the **latest** up-to-date code, put this in your pod file -->
[code]

[2017-01-27 16:53] patchthecode commented on #273
It's been 5 days with no response.
I will assume that the issue was resolved.
If this is still a problem then you can re-open the issue.

[2017-01-27 16:53] #273 closed

[2017-01-28 22:17] patchthecode commented on #258
new version released.
closing this issue

[2017-01-28 22:17] #258 closed

[2017-01-28 22:21] patchthecode commented on #271
Latest version has been released. This should no longer be an issue. Closing this now.

[2017-01-28 22:21] #271 closed

[2017-01-30 16:57] tungfam commented on #93
updated to: `calendarView.direction = .vertical`
Thanks! I was really about to look for a new pod but I found this answer which solved the problem of vertical scroll :)))

[2017-01-30 17:47] patchthecode commented on #93
@tungfam thanks. I will update this!!

[2017-01-31 10:36] schmidan commented on #179
+1
i have the similar requirements as ttorjan.
did not see how i could subscribe to a project to get notified and show interest. thats why i add a voice for this feature here =)

keep up the good work! this is a really nice framework

[2017-01-31 11:39] Tsarfolk opened #277 "visibleDates call after reloadData with comletionHandler error"
I'm using 6.1.2 version of JTAppleCalendar

The problem:
I'm using something like this in viewDidLoad()

[code]

This line of code crashes the app. It worth to mention I was on swift 3.0 and there was no problem, then I updated it to 3.0.2 and JTCalendar too. Since then I got this crash. I attach images of that crash
![2017-01-31 14 21 05](https://cloud.githubusercontent.com/assets/15061918/224634

[2017-01-31 16:28] patchthecode commented on #179
Yea. week numbers is something I was considering after @ttorjan mentioned it. It will require a pretty significant change, at the calculations deals with a 7 column calendar. I do have it in mind to do,

but first I have these working on:
1. Making spacing b/w the month sections to be flexible
2. Removing the caching to improve performance when users have `start` and `end` ranging more that 100 ye

[2017-01-31 16:39] patchthecode commented on #277
OK, this should not crash your app.

Your `loadDataFromServer` takes about how many seconds?
I am trying to re-create this on my end in my example application.
If you can recreate the issue there on the example application, this will be very helpful as well.

But if you cant, its cool. I'm investigating.
Also, I have `swift 3`, not `swift 3.0.2`. I'm not sure of the changes in there yet.
Will have

[2017-01-31 20:36] tungfam commented on #93
@patchthecode  is it possible to make the calendar to scroll vertically + continuously (not discretely).
In other words the calendar like standard apple calendar on iOS, where when you scroll vertically it's shows months not discretely but kind of "together". Hope my bad explaination was clear :)

[2017-01-31 20:58] patchthecode commented on #93
@tungfam Hey I think one thing that could save you a lot of headaches is the tutorials -> https://github.com/patchthecode/JTAppleCalendar

Specifically, the part in the tutorials you are looking for is located here -> https://patchthecode.github.io/CalendarScrolling/

It shows you all the scrolling modes you can do with the library. Is your solution located in there? Let me know.

[2017-01-31 22:14] tungfam commented on #93
@patchthecode thanks a lot! that's what was needed :) next time i better go through all tutorials then ask ..

[2017-01-31 22:33] patchthecode commented on #93
@tungfam haha. its cool man. If you have any further questions, then just ask :)

[2017-02-01 06:31] handioq opened #279 "scrollToDate at startup"
Hello.

I'm trying to call scrollToDate in viewDidLoad() and it seems that it does not work:

[code]

and i also trying by this way:

[code]

the same result..

It seems I'm doing something wrong.

[2017-02-01 06:33] patchthecode commented on #279
If you are online now, can you join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-02-01 06:36] handioq commented on #279
Oops, it is my bad. It is not bug and fix not needed. Sorry.
I'm just debug this issue and it is my fail with correct usage of reloadData method.

[2017-02-01 06:39] patchthecode commented on #279
Alright. Understood. closing the issue now. If you still have problems, then open a new issue :)

[2017-02-01 06:39] #279 closed

[2017-02-01 08:21] handioq opened #280 "Incorrect cellState.selectedPosition for specific sell"
Hello there one more time :D Sorry for a lot of issues.

Okey, i found bug (as i think) with selected position of cellState for the cell if cell is the first sunday of the month. This cell should be as **.full** selectedPosition as i understand. It is produced only if the month starts with Sunday (or another first day of week?).

I can catch this case as:

[code]

And for best understanding of suc

[2017-02-01 11:41] ownmas opened #281 "scrollToDate animateScroll = false"
Even if animateScroll = false, there is initially load a first page of calendar and after that it show marked date. I use these function in viewDidLoad/viewWillAppear.

calendarView.scrollToDate(Date(), triggerScrollToDateDelegate: false, animateScroll: false, preferredScrollPosition: nil, completionHandler: nil)

[2017-02-01 12:11] Tsarfolk commented on #277
I recreated it
`calendarView.reloadData {
            self.calendarView.reloadData {
                self.calendarView.visibleDates { (visibleDates: DateSegmentInfo) in
                    self.setupViewsOfCalendar(from: visibleDates)
                }
            }
        }`

in the viewDidLoad at example app

[2017-02-01 15:31] patchthecode commented on #281
I think the error you are referring to is this one -> https://github.com/patchthecode/JTAppleCalendar/issues/263

I will close this issue as it is a duplicate. I have not had time to look into it, but it seems to be something related to UIKit. I will look into it.

[2017-02-01 15:31] #281 closed

[2017-02-01 16:40] patchthecode commented on #280
Ok. this is a real issue.
I know the solution.
I'll code a fix this weekend for the latest (or earlier if im free)

[2017-02-01 18:08] f15handch1p5 opened #282 "How to display an icon on the current date?"
Hi, i'm using Swift and trying to add a small icon to show on the current date/day. I have added the view to my custom date cell and connected the outlets. But i just don't know how to implement the functionality in my ViewController class to show on the specific date. Any help would be much appreciated thanks!

[2017-02-01 19:09] patchthecode commented on #282
Hi, just wondering if you have looked at the tutorials presented here -> https://patchthecode.github.io/. It will answer all of your questions.

But to answer you specific question, you simply put a check in side the delegate function

[code]

[2017-02-01 19:09] #282 closed

[2017-02-01 20:06] patchthecode commented on #277
OK. I can re-create the error now. Looking into it

[2017-02-01 22:41] tungfam commented on #216
Had a goal to create a calendar with vertical continuous scrolling and selecting range of dates "from" and "to". Many thanks to @patchthecode for creating such a perfect library!
So here is what I've made:
![2017-02-02 00 29 54](https://cloud.githubusercontent.com/assets/17186720/22529229/5bee24fe-e8df-11e6-82e4-3af0f45bb369.gif)

PS: @patchthecode when I found this calendar I checked the screensh

[2017-02-02 10:48] abara-kedavra opened #284 "Manually installation"
Hi! I copied the sources directory into my project, but it doesn't work. "import JTAppleCalendar" -  "no such module "JTAppleCalendar"" - how can I fix it?

[2017-02-02 11:04] twiedow opened #285 "Wrong cell placement when generateInDates == InDateCellGeneration.off"
When I set generateInDates to .off the placement of the cells always starts in row 0, column 0.
When in-dates are shown the placement is correct.

View with generateInDates = .off
<img width="243" alt="screen shot 2017-02-02 at 12 00 12" src="https://cloud.githubusercontent.com/assets/656549/22546926/713766b2-e93f-11e6-8b62-13232c8cdd23.png">

View with generateInDates = .forAllMonths
<img width="

[2017-02-02 11:10] twiedow commented on #285
As workaround I set generateInDates = .forAllMonths but set an empty string when the date is not in the current month.
But it would be better to fix this bug :-)

[2017-02-02 11:17] f15handch1p5 opened #286 "How to automatically animate/scroll when an in/out date is selected?"
Hi, how would i initiate an automatic scroll animation when an in/out date was selected ? For example: a user would select an out date on a specific month and it would then scroll/animate for them to the appropriate month. Thanks

[2017-02-02 15:22] patchthecode commented on #286
@f15handch1p5

you use the `scrollToDate` function in the `didSelectDate` delegate function.

[2017-02-02 15:29] #286 closed

[2017-02-02 15:35] patchthecode commented on #285
@twiedow ah. This is not  a bug, this is expected. Check out the documentation here -> https://patchthecode.github.io. And your question is answered specifically on this link -> https://patchthecode.github.io/CalendarLayout/.   If the tutorial is not clear, then let me know so that I enhance it ok.

Setting indates to `off` will cause them to not be generated. Thereby changing the offset of your c

[2017-02-02 15:48] patchthecode commented on #284
Hey, installing manually is very technical and should be done by people who exactly what to do.
If you decide to go that route then my help in that area is very limited. As I usually use `Carthage` and `Cocoapods` which sets up every thing for me automatically.

I can investigate for you how this is done manually, but as I am currently between 3 projects, I'm sure that you will find a solution bef

[2017-02-02 16:14] twiedow commented on #285
OK, i thought this is a bug. Actually I don't need them to be needed generated, I just need the offset. But if this works as designed, I want them to be invisible. Is there a different way or do I have to do it manually by configuring my cell?

Anyway, I don't really get the use case where I don't want the in dates to be generated and have the cells always starting in cell 0;0. Can you give me an

[2017-02-02 16:28] patchthecode commented on #285
This lib is capable of building any calendar in any style ->> So longs as it is a grid calendar.
If you want them to be generated but invisible, then all you do is configure it to be invisible -> https://patchthecode.github.io/DateCellConfiguration/

Layouts vary a lot. You will be surprised.
If you tell me how you want your calendar to look, I can tell you a configuration.

[2017-02-02 16:37] patchthecode commented on #216
@tungfam haha. looks awesome man. And thanks for the tip. i'll include some vertical ones on the preview shortly. Btw, your Blue selection view might look good with a small bounce effect. Awesome job.

[2017-02-02 17:02] tungfam commented on #216
@patchthecode thanks :) hmm.. bounce? what do you mean by that? do you have an example may be?

[2017-02-02 17:12] patchthecode commented on #216
@tungfam
Bounce Effect when tapping example can be seen here -> https://raw.githubusercontent.com/Mozharovsky/CVCalendar/master/Screenshots/Demo_grey.gif

[2017-02-02 22:13] RockGuitarist1 commented on #284
Having this same issue, even when using Cocoapods.

[2017-02-02 22:39] patchthecode commented on #284
@RockGuitarist1 can you explain?

I am unsure what you mean

[2017-02-02 23:22] RockGuitarist1 commented on #284
I could not import JTAppleCalendar, because it would return the same error as the OP. I fixed this by going to Product -> Build For -> Testing.

[2017-02-02 23:46] f15handch1p5 opened #287 "Convenient way to get circular cells?"
Hi, is there a convenient way to get circular cells? I am having trouble doing it through the layer's corner radius property. Thanks

[2017-02-03 00:02] patchthecode commented on #287
Can you show me the code you are using to do this?
And can you show me the function where you have the layer code?
I cant say much without seeing code :)

[2017-02-03 00:14] f15handch1p5 commented on #287
Sure, so specifically i want the selected cell to appear circular when selected.

`if cellState.isSelected {
            myCustomCell.selectedView.layer.cornerRadius = myCustomCell.selectedView.frame.size.width / 2;
            myCustomCell.clipsToBounds = true;
            myCustomCell.selectedView.isHidden = false;
        } else {
            myCustomCell.selectedView.isHidden = true;
        }

[2017-02-03 00:26] patchthecode commented on #287
Hey, I think what will help you GREATLY is the tutorials --> https://patchthecode.github.io/

Start with part one, and then go to part 2. It tells you every thing you need to do regarding this.

[2017-02-03 00:28] patchthecode commented on #287
I will close this issue. But if you still need help on it, just continue the discussion here.
I'm closing this since it is not really a bug.

[2017-02-03 00:28] #287 closed

[2017-02-03 00:52] #285 closed

[2017-02-03 09:48] alapaches opened #288 "Calendar very slow"
Hi everyone.

I'm just a beginner to swift and to iOS developpement in general.

JTAppleCalendar is just amazing. This the thing that I've been looking for several months. However, I think I've got an issue.
I've followed the tutorials to create a very simple calendar. But my calendar is way too slow. ( It takes at least 10 or 15 secs to open). I don't know what makes that.

I'm testing my app bot

[2017-02-03 10:33] f15handch1p5 commented on #287
Yeah i read the tutorials. I wasn't sure whether this could be maybe to do with something how i have got my constraints setup ?

[2017-02-03 11:43] marioilianov94 opened #289 "Problem with range.start and range.end"
Hi,

I discover a problem with the last version of the library, I want to put the month name on the header on each month.

I make a vertical scroll and itemSize = 50.

I use this to take the month on the header.
[code]

[code]

But It has a problem on February and some months, the range start will return this "2017-02-28 23:00:00 +0000"

Here's a screenshot.
![image](https://cloud.githubuserconten

[2017-02-03 12:01] tungfam opened #290 "selectDates in viewDidLoad has a slight delay"
I found an answer #2 [here](https://patchthecode.github.io/CommonQuestions/#2).

I'm calling
[code]
 in `viewDidLoad` in main thread (not in block). So before the cells are getting selected there is a very small delay.. Is there any way to have it selected "faster" ? As I know viewDidLoad is the earliest step of lifecycle.. So I wonder if it's possible.
Thanks!

[2017-02-03 14:37] patchthecode commented on #288
1. What device are you using the calendar on?
2. What is your `start date` boundary and `end date` boundary?

[2017-02-03 14:52] patchthecode commented on #289
I do not understand the last part of your question.
You said

Which function is returning this?
Is it returning this for all the months?
Based on your question, I am not sure what the problem is. For me to know  the problem, I neeed to know what you are getting **and** what was supposed to be the expected result, and how they are different.

[2017-02-03 15:06] patchthecode commented on #290
Hmm.
Keep in mind that wht ever you tell me, I try to re-create it on the sample app. On the sample app, there is no delay when selecting cells like this. Can you tell me more what you are doing on viewDidLoad?

[2017-02-03 15:09] patchthecode commented on #287
OK, can you let me know what is the problem you are having when you set it in the layer property?
I think I should have asked this question first.

Lets assume that your selectedView has a width of 50 and a height of 50 in constraints.
Then generally, to get a circle, you will set the layer property to half the size of the selectedView = 25. Half the size.

Can you describe the problem you are hav

[2017-02-03 15:20] tungfam commented on #290
things that I do that are related to calendar in `viewdidload`:
`      self.calendarView.dataSource = self
        self.calendarView.delegate = self
        self.calendarView.registerCellViewXib(file: dateCellXibIdentifier)
        self.calendarView.direction = .vertical
        self.calendarView.allowsMultipleSelection  = true
        self.calendarView.rangeSelectionWillBeUsed = true
        self

[2017-02-03 15:28] marioilianov94 commented on #289
I want to put the month number on the header in the calendar, how can I do it?

My calendar shows max. 2 headers at the same time on the screen.

[2017-02-03 15:49] alapaches commented on #288
Hi there.

Is it related. Anyway, solved the issue : My end date boundary was up to 2999. So it was completely normal that the calendar took this time to load more than 900 years in it. I'm closing the issue and Thanks for replying me so fast :).

[2017-02-03 15:49] #288 closed

[2017-02-03 16:12] patchthecode commented on #288
Haha. Alrighty. Glad it worked out.
But yes, I am working on that fix to increase performance when very many years are loaded.

[2017-02-03 16:26] patchthecode commented on #290
@tungfam This library is tested on an old iPhone 4s. And scroll performance its awesome. The library was build with speed in mind.
If you are lagging on iPhone5 then you are doing something else your app.

Your `viewDidLoad` code looks good.
So can you show me what your `willDisplayCell` looks like?
I can help you get your calendar scrolling smoothly even on an iPhone 4s.

[2017-02-03 16:38] patchthecode commented on #289
I did this:

[code]

And it works well.
Can you tell me what version number of the calendar you are using?

[2017-02-03 16:42] marioilianov94 commented on #289
I use the last versión 6.1.2.

I'll try your code later, I'll tell you if it works ;)

[2017-02-03 16:42] tungfam commented on #290
Yeah your lib is definitely great. so that's why i think it is a heavy  willDiplay func.. there is too much code lol:

[code]

[code]

If it's too heavy you think, just let me know i'll try to optimize it :)

Thanks

[2017-02-03 16:46] patchthecode commented on #290
ok. heading to work now. I'll be looking at it in about an hour or so. Bad traffic. :/

[2017-02-03 17:08] dimmdesign commented on #216
@tungfam How did you achieve the vertical scrolling? Is it with multiple instances of JTAppleCalendar?

[2017-02-03 17:11] tungfam commented on #216
@dimmdesign no :) it was much easier :)) there is built in option: `calendarView.direction = .vertical` + `calendarView.scrollingMode = . nonStopTo(customInterval: 0, withResistance: 0.2)`.

[2017-02-03 17:12] dimmdesign commented on #216
@tungfam nice. in my theme above I had to use multiple instances as each month is "wrapped" in its own view with a shadow.

[2017-02-03 17:14] tungfam commented on #216
@dimmdesign got it. looks cool :) and I guess it's more customizable

[2017-02-03 17:19] marioilianov94 commented on #289
I can't try this now, I'll try it on Monday at Work.

I'll tell you if it works.
Thanks ;D

[2017-02-03 19:24] frios opened #291 "sectionSpacing"
What does sectionSpacing actually affect? I have tried setting it to some high number to see what changes but cannot see any difference.

Thank you

[2017-02-03 21:30] patchthecode commented on #291
`sectionSpacing` oops...
Thats a new feature I am adding. It allows you to have a space between month sections.
looks like i accidentally released it with that last build. But you can expect it to do something in the next 2 weeks :)

[2017-02-03 22:00] patchthecode commented on #290
OK i will look at it some more after work.
But for now, can you remove this from here?

[code]

A better way to makes date cells unselectable is to implement this delegate function
[code]

[2017-02-03 22:55] tungfam commented on #290
1. got it. will try this delegate method.

2. yes. cached. did read your tutorials :)) hehe

thanks!

[2017-02-03 23:22] tungfam commented on #290
reg. caching.. is it correct what I think is caching? 👍

[code]

[2017-02-04 00:35] KyleConway commented on #280
@patchthecode I am able to reproduce this issue as well. In addition to the use case described above, I am also seeing similar behavior when selecting outdate and indate cells. For instance, I have a vertically enabled calendar with rangeSelectionWillBeUsed and allowsMultipleSelection both enabled. Within the didSelectDate delegate callback, I am using "selectDates(from startDate: Date, to endDate

[2017-02-04 00:54] tungfam opened #292 "cellState.selectedPosition() returns wrong position for May 1st, 2017"
Sorry for creating another issue.. but I probably found a 'bug' (?):
I have the range of dates selected 18th April through May 11th (dates doesn't matter, the main thing is that May 1st should be in the range):
![image](https://cloud.githubusercontent.com/assets/17186720/22613931/674eac86-ea85-11e6-92ca-d2da910c1b4b.png)

I have a rule that if  the `cellState.selectedPosition() == .left` and `cell

[2017-02-04 00:57] tungfam commented on #290
I made the changes as you advised. I will close for now. Will need to test on another device (which is not available now). Hope moving it to delegate method shouldSelect helped :)

[2017-02-04 00:58] tungfam commented on #290
I made the changes as you advised. I will close for now. Will need to test on another device (which is not available now). Hope moving it to delegate method shouldSelect helped :)

[2017-02-04 02:23] Kalvin126 commented on #173
Did not want to make a new issue but it seems `var orientation` is `internal` protected. Shouldn't it be `public`/`open`?

[2017-02-04 02:27] Kalvin126 commented on #173
ah. Nevermind I see `public func changeVisibleDirection`

[2017-02-04 03:21] patchthecode commented on #290
This part can also be removed, since you can put it in the `shouldSelect` delegate

[code]

[2017-02-04 03:22] patchthecode commented on #292
Ah yes.
this one was already logged here -> https://github.com/patchthecode/JTAppleCalendar/issues/280

Its a small fix i need to do on my end.
I'll up this over the weekend.
I'll close the issue here and flag it as a duplicate.

[2017-02-04 03:22] #292 closed

[2017-02-04 13:39] tungfam commented on #290
yep :) i did it. all the isUserInteractionEnabled convrrted to shouldSelect. thanks!

[2017-02-04 13:43] tungfam commented on #292
@patchthecode got it! thanks a lot. sorry for duplication :)

[2017-02-04 15:37] patchthecode commented on #290
Ok, so just to confirm.

After the changes, there is still the following?

1. iPhoneSE **does not** lag on scroll ?
2. iPhone5 **does** lag on scroll ?

Also, concerning the `initial delay`, can you tell me what is your startBoundry date and your endBoundary date in you `configureCalendar` function ?

[2017-02-04 15:38] patchthecode commented on #292
It cool man. :]

[2017-02-04 15:43] tungfam commented on #290
1. it's good
2. can't test right now. will let you know once tested

3.
[code]
hmm may be I should change the date startDate to something like "today minus 1 month" and endDate to something like "today + 6 months" (business logic may allow this). so the calendar will be smaller and smoother ?

[2017-02-04 16:17] patchthecode commented on #290
@tungfam nah its ok. I have put ranges up to 25-30 years with no problems.
But yes, putting a roaming date with `+6` months will make definitely make your `loadTime` faster, but your scroll/lag performance depends on how heavy your `willDisplayCell` delegate is.

I wish i could test your app on my iPhone 4s device, so that i can see places to improve on speed, but I guess your code is already top

[2017-02-04 16:26] tungfam commented on #290
@patchthecode got it. let me test on iphone 5 and see how it goes. I will close for now i think. thanks a lot for help.

[2017-02-04 16:26] #290 closed

[2017-02-04 23:30] guillianbalisi opened #293 "Different types of date selection"
I'm creating an app for drug cessation and each day the user is prompted with an alert asking them if they refrained from drug use that day. If they select yes, I want to display a "yes" view in the cell view, and if they select no I want to display a "no" view in the cell view. I know there is calendarView.selectDates however I can't figure out how to select the view that I want to display. Is th

[2017-02-05 04:09] patchthecode commented on #293
I do not fully understand what you are trying to do.
But I will ask have you checked out the tutorials on https://patchthecode.github.io/ ?
The tutorials there will help you in what you are trying to accomplish

[2017-02-05 12:27] tungfam commented on #280
@patchthecode I've made `pod update` to version `6.1.2` but still see the incorrect `selectedPosition` for the dates such as 1st May 2017th. Did I miss anything? Thanks!

[2017-02-05 15:23] patchthecode commented on #280
@tungfam it update was done on master branch.
You need this in your pod file ->
[code]
when doing a pod update.

If youre online, can you message me here -> https://gitter.im/patchthecode/JTAppleCalendar
Chatting there is faster.

[2017-02-05 15:34] patchthecode commented on #280
So for example:
[code]
If B, C, D and E are selected. The selected position of:
1. B = left
2. C = middle
3. D = middle
4. E = right
5. A and F  = none

The job of selectedPosition() is to return the `selectedPosition`. The Job of selected position is **not** to create a range.
We use `selectedPosition` to help us to create a range.

So when you say that you are getting the incorrect selectedPosit

[2017-02-05 15:45] patchthecode commented on #216
@dimmdesign I was thinking. If the purpose of creating multiple instances inside of a table view is only to show the shadow view, then i think this should be possible with only one instance. And if it is not possible, then I think this library should be upgraded to make it possible. So if, you let me know your requirements by opening a new github issue, we can talk on how this lib can be improved.

[2017-02-05 16:40] patchthecode commented on #293
After a user selects yes, I would imagine that you have some dataSource that saves which day user said yes and which day he said no. Therefore you would have a datasource that links days to yes/no.

Therefore in your `willDisplayDate` delegate function, all you have to do is check to see if the dateCell being configured, matches a yes/no date in your dataSource. If yes, you attach your yesView, an

[2017-02-05 23:18] guillianbalisi commented on #293
Thank you, I figured out how to do it using the `willDisplayCell` delegate function.

[2017-02-05 23:18] #293 closed

[2017-02-06 05:57] samantha-wong commented on #216
@dimmdesign is your awesome calendar available for forking? I'm creating an itinerary app and what you have is exactly what I need :) and of course thanks for @patchthecode for creating this library.

[2017-02-06 06:06] patchthecode commented on #216
@samantha-wong the library is free. You can do what ever you want with it. Leave a star rating if you like it! :)

[2017-02-06 07:18] marioilianov94 commented on #289
It works, thank you so much :D

[2017-02-06 12:21] miajed commented on #216
Hi! It will be possible to embed a tableView of something similar inside a dayCell to show multiple events?

[2017-02-06 13:36] patchthecode commented on #289
Awesome. I'll close this issue now.
Btw, you calendar looks very cool. Why dont you post its picture here --> https://github.com/patchthecode/JTAppleCalendar/issues/216 ?

cheers man.

[2017-02-06 13:36] #289 closed

[2017-02-06 19:32] KyleConway commented on #280
@patchthecode I have updated my PodFile to point to master as you described above. I wiped my pods and reinstalled. The fix is not correct for the issue that I described.

Referencing the use case and image that I posted before: I have a handleCellDisplay(dayCellView: JTAppleDayCellView?, cellState: CellState, date: Date) {...} func that is called from "willDisplayCell", "didDeselectDate", and "di

[2017-02-06 20:02] patchthecode commented on #280
@KyleConway ok. I think i did the fix for the first issue, and i kept my fingers crossed hoping it will fix your issue 😆 .
Let me look into you use-case now.

[2017-02-06 22:42] frios opened #294 "Crash in didSelectDate"
I have a calendar open to the current month and the current date selected. I implemented a "Today" button with the following code:

[code]
If I select another date in the same month, then tap "Today", it all works fine. When I scroll to another month, select a day then tap "Today", I get the following crash:

`fatal error: unexpectedly found nil while unwrapping an Optional value`

in

[code]

Sur

[2017-02-06 22:53] patchthecode commented on #294
This is not a bug.
you did this

[code]
You have forced unwrapped cell using this -> `as! CalendarCellView`
The cell is declared as this --> `cell: JTAppleDayCellView?`

`cell` is optional. You need to do optional chaining to determine if the cell is nil or not.

something like this
[code]

[2017-02-06 23:08] frios commented on #294
Yes, I see the problem. Thanks for the clarification. I am curious though why it returns nil rather than the newly selected cell?

[2017-02-06 23:13] patchthecode commented on #294
It will return nil if your cell if not visible on the screen.

[2017-02-06 23:15] patchthecode commented on #294
By the way, let me just mention this just in case you missed it like many others.
This has the location of the tutorials that will help a lot -> https://patchthecode.github.io/

[2017-02-07 04:04] #294 closed

[2017-02-07 05:36] patchthecode commented on #280
@KyleConway ok after looking into your issue, i do not think what you are experiencing is a bug (unless i am wrong).

You are using this to select right?
[code]

I think what you need is just this:
[code]

I think in your code, you are not triggering the delegate

[2017-02-07 11:07] alapaches opened #295 "Show Current day"
Hello everyone.

I've searched for it but didn't find any clue.

I want to highlight the current day when the calendar loads. I've tried to create another xib and class files but can't manage to do it.

Do someone knows how to achieve that ?

Many thanks :)

[2017-02-07 13:01] dimmdesign opened #296 "[UI Improvement] Months separated on "cells" & custom design"
Not an issue per se. Rather a mere improvement on this library to support the below design.

![img_0264](https://cloud.githubusercontent.com/assets/886854/22303255/5b3b3f84-e32a-11e6-8427-394c9caae3da.PNG)

On the above image, we can clearly see that each month is separated in its own "cell" with rounded corners and a drop shadow. I achieved the above by using a UICollectionView and UICollectionVi

[2017-02-07 13:02] dimmdesign commented on #216
@patchthecode - I just opened an issue #296, so you could go ahead and delete any comments in this post

[2017-02-07 14:01] patchthecode commented on #296
Alright. I'll get to work on a prototype to accomplish this.
will get back to you in some time

[2017-02-07 14:15] patchthecode commented on #295
Information can be found on the tutorials site -> https://patchthecode.github.io

Specific information on coloring the date can be found on his link -> https://patchthecode.github.io/DateCellConfiguration/

Closing this issue now, but if you're still stuck then let me know.

[2017-02-07 14:15] #295 closed

[2017-02-07 14:51] dimmdesign commented on #296
@patchthecode For the sake of simplicity I created a stripped down version of my implementation. You Can find the repository here — https://github.com/dimmdesign/CustomCalendar

[2017-02-07 14:52] patchthecode commented on #296
@dimmdesign awesome. checking it out now.

[2017-02-07 16:30] patchthecode commented on #280
@KyleConway that said, i did find another issue with range selection I am currently fixing. If the code suggested above does not resolve your problem, then this next fix will.

[2017-02-07 17:56] KyleConway commented on #280
That update to my implementation of selectDates looks to have done it. Thank you for the feedback! I'm still interested in the fix you described - will there be a new release once your change is applied? I only ask because I am using pods and 6.1.2 does not include a lot of the latest enhancements. I am pointing to master in the mean time

[2017-02-07 20:54] patchthecode commented on #280
@KyleConway you can stay on master branch. I will make an official release once i finish that last logic change with range selection. So official version might be released in about 1 week? more or less.

[2017-02-08 06:37] numen31337 opened #297 "Incorrect position of the first day of the month when InDateCellGeneration is .off"
In order to make something similar to Apple Calendar and for some other use cases we need to drop first and last days of the month, as on the image above:

![Apple Example](https://s27.postimg.org/mmna0xnwz/topic_calendar_ios.png)

Unfortunately looks like there is some issue with the current implementation because the first day of the month is always displayed as very first day no matter which da

[2017-02-08 07:12] handioq commented on #297
Hello.
I don't know exactly, is this is bug or not, but... you can simple hide this inDates without setting .off state.

[code]

[2017-02-08 10:51] patchthecode commented on #297
@numen31337 hey, there is no bug. @handioq has answered the question correctly.

In the situation you have described, if you want to make a calendar like Apple, then you want `inDates` to be generated, **but** you want them to be hidden.

Have you checked out the [Tutorials](https://patchthecode.github.io/) yet? They will explain every thing for you clearly.

The Sample app that I have attached is

[2017-02-08 10:52] patchthecode commented on #297
If you need further help in setting up your design then Let us know. We'll be glad to help.

[2017-02-08 10:54] #297 closed

[2017-02-08 13:53] numen31337 opened #298 "Animated transition from monthly to a weekly view"
Is there some way to make an animated transition from monthly to a weekly view, something like Apple Calendar do:

![Animation Example](https://s28.postimg.org/u3ft3yyql/ezgif_com_6a9030836f.gif)

Thanks in advance

[2017-02-08 14:58] handioq commented on #280
@patchthecode
I tried and got this result:

![](http://savepic.ru/12889356.png)

But if I select some day of second week I get expected result:

![](http://savepic.ru/12893452.png)

[2017-02-08 15:09] handioq commented on #298
Hello.
This library directly "out of the box" does not provide this functionality.
I have not seen this in the documentation. Maybe @patchthecode can give u some advice.

[2017-02-08 16:51] patchthecode commented on #298
@numen31337

@handioq is again correct. This library is is similar to a `UITableView` or a `UICollectionView`. You have to code exactly what you want. It does not come with animation out of the box.

Adding animation to views is very simple however. Just google search for the type of animation you wish to do and jus implement it.

I do have an example of an animation that is similar to the one wha

[2017-02-08 19:13] numen31337 commented on #298
@patchthecode Thank you for your effort

[2017-02-08 19:13] #298 closed

[2017-02-09 08:32] DaewoonKim opened #299 "selectedView is not completely circular"
Hi,
I followed the tutorial to make circular selectedView, but found something strange.
I set selectedView's width and height to 30 in Xib and in code I gave it cornerRadius of 15.
I expected it would be a circle.
It looks like a circle, but some sides like top, bottom, left, or right isn't very circular.
It looks like circle is cut somehow.
I saw many calendar images created by using JTAppleCalen

[2017-02-09 08:46] patchthecode commented on #299
looks like your circle is being cut by the size width/height

Let's test it to see if this is the problem.
Try width 26/ radius 13.
Is it a circle now?

[2017-02-09 08:51] DaewoonKim commented on #299
I tried set width 26, radius 13, but it is the same.
My autolayout is like below just in case it is wrong.
<img width="1170" alt="2017-02-09 17 50 28" src="https://cloud.githubusercontent.com/assets/15996563/22775761/6c497468-eef0-11e6-8d17-bf32f5218929.png">

[2017-02-09 08:59] patchthecode commented on #299
hmm.. i think mines look ok

<img width="505" alt="screen shot 2017-02-09 at 12 57 51 am" src="https://cloud.githubusercontent.com/assets/2439146/22776005/e23e3bb0-ee62-11e6-8f23-92f720c9d3b3.png">

Have you set the item size of the calendar? or no?

[2017-02-09 09:02] DaewoonKim commented on #299
Yours look ok.
No, I didn't set the item size.

[2017-02-09 09:05] patchthecode commented on #299
Is it possible you can provide your code zipped ?

[2017-02-09 09:13] patchthecode commented on #299
will check in the morning. heading to sleep. have a good one,

[2017-02-09 09:16] DaewoonKim commented on #299
Ok, I'll send you a mail before you wake up :)
Thank you !

[2017-02-09 16:08] angelbetancourt commented on #221
@patchthecode  sorry I didn't answer. My range is 1960 - 2017. Any thought so far ?

[2017-02-10 06:12] saikirangandham41 opened #301 "Issue in displaying calendar view (data is not populating into cells)"
Hi Jay,
This is sai, I am having an issue in displaying calendar in my app. Here I'm attaching a screenshot of my simulator when displaying calendar (View is in red color).
![screen shot 2017-02-10 at 12 05 43 am](https://cloud.githubusercontent.com/assets/18451840/22816056/360abda0-ef25-11e6-900c-6ecd8f23b7f5.png)
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. Are you using

[2017-02-10 06:16] patchthecode commented on #301
Interesting.
Just wondering, have you looked at the Tutorial here? -> https://patchthecode.github.io/

[Part one is here](https://patchthecode.github.io/MainTutorial)
[Part 2 is here](https://patchthecode.github.io/MainTutorial2)

The tutorials also contain sample code to help you set it up correctly.
Let me know if you still need help.

[2017-02-10 06:20] saikirangandham41 commented on #301
Followed steps from your tutorial
-> created cellView.xib and cellView.swift
-> connected to storyboard
->code from your tutorial and etc.,..

[2017-02-10 06:21] patchthecode commented on #301
The tutorial has completed code here -> https://github.com/patchthecode/CalendarTutorial
Can you download the code and see maybe what was done wrong on your project?

Or, you can show me the code that you have.
I cannot help much if you do not show me what code you did.

[2017-02-10 06:40] saikirangandham41 commented on #301
It worked.
Hey thanks for your support

[2017-02-10 06:41] patchthecode commented on #301
Awesome! Will close this issue now :)
If you love the lib, then feel free to leave a star rating.
If you have any other questions, then just open a new issue. I'll try by best to answer.
cheers 🍻

[2017-02-10 06:41] #301 closed

[2017-02-10 08:51] mrikh opened #302 "WillDisplaySectionHeader gets called twice."
I have setup months for the calendar i'm making to be displayed in the "inside header" so that it scrolls along with the swipe gesture in the vertical direction. When the view controller with the view first loads, the `willDisplaySectionHeader` method gets called twice and since I'm using `calendar.visibleDates()` to get the current month to be displayed in the header, the second section so create

[2017-02-10 13:58] patchthecode commented on #302
Hmm... is there a reason you are using `visibleDates()` to get the month in there?

[code]

[2017-02-10 16:35] mrikh commented on #302
I'm using `visibleDates()` as `range.start` contains the value of the previous month that is displayed as well! So for example if I'm displaying the month of March, a few of the dates of February are displayed as well and `range.start` contains that as well. So getting the mid value of the range works fine as a workaround for me.

Actually I haven't changed the `calendarView.itemSize` value at all

[2017-02-10 17:00] patchthecode commented on #302
Ok. Something is wrong somewhere.

`var date = range.start` should **only** contain the the start of the month. It should not contain multiple months in the date range.

I think you might be doing something wrong, but i am not sure yet. So let me verify by asking the following:

1. Can you show me your `configureCalendar` function code?
2. What version of the JTAppleCalendar are you using?
3. `let

[2017-02-10 17:11] mrikh commented on #302
Sure. I would greatly appreciate help in finding the problem as this is the second calendar I've tried after making several changes in other pods to get the UI the way the designer wants it, this pod has been the easiest to implement!

1.
[code]

2. I just did a `pod install` this morning so I'm quite sure its the latest,  it was 6.1.2 or something.

3. Thanks for the tip, I'll keep that in mind w

[2017-02-10 17:31] patchthecode commented on #302
I see that you are using different calendar instances in your code.

In the `configureCalendar` function you are using `Calendar.current` in the parameters (which is good). But then in other places, you are using `Calendar(identifier .gregorian)`.

It might be possible that `calendar.current` is giving a different timeZone calendar to `Calendar(identifier .gregorian)`. Therefore if you provide `.c

[2017-02-10 17:51] mrikh commented on #302
Ah yeah, that seems to solve the problem! I completely overlooked using `calendar.current` and just blindly copied the configuration from the tutorial! Sorry for the trouble :D!

[2017-02-10 18:36] patchthecode commented on #302
Awesome!
Hey man, if you like the lib, feel free to leave a star github rating ★.
Cheers. 🍻

[2017-02-10 18:36] #302 closed

[2017-02-10 19:59] rajeejones commented on #216
Mind sharing how you did this? @tungfam

[2017-02-10 20:45] patchthecode commented on #216
@rajeejones the tutorials from here will explain everything in detail -> https://patchthecode.github.io/

Follow [part1](https://patchthecode.github.io/MainTutorial) and [part2](https://patchthecode.github.io/MainTutorial2)

[2017-02-11 20:45] tungfam commented on #216
@rajeejones yeah sure, just ask what exactly you are interested in? overall yes I just followed the tutorial :)

[2017-02-12 04:07] DaewoonKim commented on #299
Hey, I just fixed the problem by using UIImageView in xib and a circle image file.

[2017-02-12 05:06] patchthecode commented on #299
@DaewoonKim thanks man. I was digging deep trying to find the solution to the problem. I do not think that this problem is caused by the calendar. But I'm glad you found a work around. Now I can help others.

[2017-02-12 06:19] DaewoonKim commented on #299
I also want to say thank you for your hard work. It really helps me save a lot of time!

[2017-02-12 23:49] patchthecode commented on #299
cool. If you have any other issues. Then let me know.

[2017-02-12 23:49] #299 closed

[2017-02-14 14:19] bitomule opened #303 "Deselect rows outside current month"
I've implemented my own range selection and I've found an issue. If I either use deselectAll or selectDates (already selected) it never deselects dates outside current month. Is there a way to deselect cells outside current month?

[2017-02-14 14:40] patchthecode commented on #303
1. What version of the calendar are you using? Master Branch or Latest 6.1.2 release?
2. In your `ConfigureCalendar` function, what is your `startDate` and `endDate`? And are you trying to select a date outside of that range?

[2017-02-14 15:30] patchthecode commented on #302
One thing i forgot to tell you. Do not initialize a `DateFormatter()` inside the `willDisplaySectionHeader` function.

[code]

DateFormatters are also very slow to initialize. Putting it in there will also make your calendar very laggy. Remember that function is called for every header that is displayed. So you will be creating a new formatter every time you swipe. Create this outside the function

[2017-02-14 15:52] bitomule commented on #303
1. I've tried last release. Master works, but because it doesn't allow selection before current month (I guess startDate month)
2. startDate is always current Date, so yes, the issue cell is outside my config startDate and endDate

Using master version seems to fix the issue. Thanks.

[2017-02-14 19:51] patchthecode commented on #303
@bitomule Cool.
Well yes, the issue was fixed on master branch. This will be officially released soon.

[2017-02-14 23:55] #303 closed

[2017-02-15 12:24] numen31337 opened #304 "Crash when switching numberOfRows to 1, then back to 6 and modifying the calendars height"
When I trying to switch calendar to the week mode and back by setting numberOfRows to 1 and then back to 6, simultaneously modifying the calendars height I have the crash:

I've attached the sample project where this crash can be reproduced by clicking Jan 31 for 3 times

![Sample](https://s16.postimg.org/ijvk1yrzp/ezgif_com_fd3c1323f2.gif)

Sample project: https://www.dropbox.com/s/lle6kuf93n8ptb

[2017-02-15 14:10] patchthecode commented on #304
ok i'll have a look

[2017-02-15 14:48] #284 closed

[2017-02-15 15:21] patchthecode commented on #304
It works fine.
![feb-15-2017 06-23-46](https://cloud.githubusercontent.com/assets/2439146/22978381/5abe5596-f347-11e6-96d8-3b6ae358b5ef.gif)

Are you using Xcode 10.3 beta?

[2017-02-15 15:37] numen31337 commented on #304
I checked it on both regular and beta versions of Xcode and on the device also, I have this crash everywhere, it looks for me like some issue with threading because the only solution to avoid this crash that I found it to call this switch like so:

[code]

[2017-02-15 15:40] patchthecode commented on #304
ok. One thing, can you use the latest master branch code and let me know if you have the issue there? I just tested on master branch code and i cannot reproduce it.

If you have the error there as well, then I will have to debug this over the weekend.

[2017-02-15 15:41] patchthecode commented on #304
Also, can you let me know if you are seeing this iOS 10.2 ?

[2017-02-15 15:52] patchthecode commented on #304
In the code you gave me, i see this -->
[code]

can you comment out this line?
[code]

I want to isolate which line of code is causing the threading issue.
Let me know if the crash still exists with that line of code commented.

[2017-02-15 15:58] numen31337 commented on #304
I checked it with the latest version from the master and issue still exist even with commented scroll on iOS 10.2 simulator

![Sample](https://s24.postimg.org/5tt95c28l/Screen_Shot_2017_02_15_at_5_54_46_PM.png)

[2017-02-15 15:59] patchthecode commented on #304
Alright. Thanks.
Looking more into it.

[2017-02-15 16:07] patchthecode commented on #304
One last thing can be of help.
Can you paste me the entire crash log in text here?

[2017-02-15 16:17] numen31337 commented on #304
2017-02-15 18:15:44.280 CrashTest[67303:28667410] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'attempt to delete item 36 from section 0 which only contains 7 items before the update'
*** First throw call stack:
(
	0   CoreFoundation                      0x0000000105adad4b __exceptionPreprocess + 171
	1   libobjc.A.dylib                     0x0000000102

[2017-02-15 16:46] patchthecode commented on #304
Thanks. I have now replicated the issue

[2017-02-15 17:17] patchthecode commented on #304
Thank you for the help.
Here is your fixed project.
[CrashTest.zip](https://github.com/patchthecode/JTAppleCalendar/files/777795/CrashTest.zip)

That zip file has the latest master branch code.

[2017-02-15 17:19] patchthecode commented on #304
The bug was caused by this --> https://github.com/patchthecode/JTAppleCalendar/commit/f3685534671d3dc79b1092df6ed37ca13dfbce70 which is now fixed.

I also made another change to the master code: Calendar reload should not be done automatically when a user changes the frameSize. This should be done by the developer.
This change is also reflected in the zip file i just gave you.

[2017-02-15 17:24] patchthecode commented on #277
I think this issue is now fixed from this commit -> https://github.com/patchthecode/JTAppleCalendar/commit/f3685534671d3dc79b1092df6ed37ca13dfbce70

Let me know if you are still experiencing this.

[2017-02-15 17:41] numen31337 commented on #304
In some reason, in this new version, it sometimes shows the wrong position in the week view and after clicking to get back to month view just silently crash

![Video](https://s11.postimg.org/7nmkrn4oz/ezgif_com_ab00cc27c2.gif)

[2017-02-15 17:48] patchthecode commented on #304
OK, you're using the same code i gave you?
Let me check by clicking on those 2 dates you showed in the image above.

[2017-02-15 17:52] numen31337 commented on #304
Yes, the code is unchanged, just clicking some same dates, I had this crash by clicking 1 and 31 also

[2017-02-15 17:53] patchthecode commented on #304
Alright. Its something i probably missed. Let me look into it very closely.

[2017-02-16 06:40] patchthecode commented on #304
Hey, here is an update code.
[CrashTest.zip](https://github.com/patchthecode/JTAppleCalendar/files/779268/CrashTest.zip)

Let me know if it is crashing for you.
I have updated the `reload()` logic and removed multithreading.

[2017-02-16 07:54] numen31337 commented on #304
The old crash is gone but I see the other issues here.
1. The InDates of Jan is not clickable at all, delegate is not being called for them
2. When you press 31 Jan and then click on the other day it will crash:
![Crash](https://s7.postimg.org/8zuszdg6j/ezgif_com_1f12c425d3.gif)
It stops crashing if you scroll to the next week and then go back and click, looks like something wrong with the initial

[2017-02-16 08:26] patchthecode commented on #304
Ok. Looking ino it.

By the way.

This is expected. The new code that will be released will have this logic.  The `indates` for Jan is outside of your `startDate` and `endDate` boundary. Therefore they are unclickable. Do you have any good ideas on how I can make this logic better?

Let me now look into Error(2) and Error(3)

[2017-02-16 08:38] numen31337 commented on #304
As an end user I would really expect complete consistency across the app, so if an application has some behavior to do something when you click on a day then this should happen no matter what. The issue here is that developers don't have control over this behavior without making some calculation to specify this start date correctly, taking in count InDates. This is the actual question for the apps

[2017-02-16 08:59] patchthecode commented on #304
@numen31337 I see what you mean. Thanks for the input. I will remove this in next version then. What you said makes sense.

Will look into those 2 other errors in the morning. Have a goodnight man.

[2017-02-16 16:55] patchthecode commented on #304
@numen31337 Your issue(3) is expected.
In your code, you have the scrollingMode set to `default`
But there are many `scrollingModes` you can choose from as shown in the [Calendar Scrolling Section](https://patchthecode.github.io/CalendarScrolling/) of the tutorials.

Here is your updated zip file. I have changed your scrollingMode to `nonStopToCell` as described in that link above. If this is not

[2017-02-16 20:10] 16tthoma opened #305 ".dataSource = self"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. Are you using the latest version of JTAppleCalendar? Latest version is currently 6.1.2
2. Is your question already answered in the tutorials and guides —> https://patchthecode.github.io/
3. Looking for some feature you cant find? Than have you already looked at the *UserInteractionFunctions.swift* file?
It has every function tha

[2017-02-16 20:13] 16tthoma commented on #305
When I copy and paste the code of example 1, the lines
calendarView.dataSource = self
        calendarView.delegate = self

give me an error of 'Can not assign value of type ViewController to type JTAppleCalendarViewDataSource' and etc. When I comment them out and run it, I get the following error

[JTAppleCalendar.JTAppleCollectionReusableView registerCellViewXibWithFile:bundle:]: unrecognized se

[2017-02-16 21:06] numen31337 commented on #304
Hi, looks like the crash is gone but I still have the issue with the scroll function. Probably I misunderstood something, I've tried few scroll positions but this is not solving the issue:
![Issue](https://s28.postimg.org/qhqiyflot/ezgif_com_0f3895513a.gif)
When I click 28 or 29 Jan or most of the other days it scrolls to the correct position but then I press 30 or 31 Jan it scrolls to the beginni

[2017-02-17 01:11] patchthecode commented on #304
Yes, that is the last part that i have to fix. I see why the issue is happening. Working on it now.

[2017-02-17 10:55] patchthecode commented on #305
Hey can you give some more information?

I do not know what code you have.

[2017-02-17 14:53] Fujitora2304 opened #306 "populate cells with data from a database"
Hey,
At first, thanks for this great library!
I have two questions:
1. I want to populate my calendar cells with data when the app starts. I know this question was asked often before, but I still don't get it, I'm pretty new in Swift programming.

This is my code so far:
I populate an array with data from my database:

`var workoutDates = [Date]()`

[code]

I call the getWorkoutDates() in the view

[2017-02-17 17:32] prahaladm opened #307 "Missing Days in Calendar"
After following the first part of the tutorial below (screenshot attached) is what I get.

1. Could someone suggest why am I missing several days ?
2. The numbering of the days (day 14, 15 are repeated twice) also seems to be incorrect.

![pastedgraphic-1](https://cloud.githubusercontent.com/assets/4957156/23076052/d1d1f308-f564-11e6-9166-ae028b56cacb.png)

[2017-02-17 18:57] patchthecode commented on #307
I think that maybe you didnt follow the tutorial correctly?

Here is the completed code for the tutorial ->>  https://github.com/patchthecode/CalendarTutorial
Let me know if i'm wrong and this turns out to be a real issue
If it does turn out to be a real bug, then we'll need to fix it.
Let me know.

[2017-02-17 18:59] patchthecode commented on #307
Also, Can you provide me a zip file of the source code you have done?
Just zip the file, and drag the file into this chatbox to upload it here. Thanks.

[2017-02-17 21:14] hmleit opened #308 "Showing event indicator on day cell"
Hello, Jay. I've seen some people with a similar issue, but I still can't figure out what to do.

I'm using your framework in my app and I'm having trouble with the cell selection.

When I open the calendar, I fetch the events from Core Data and, if the day has events, I show the event indicator on the cell.
The problem is: I'm fetching the events per day, so I was doing that on the willDisplayCel

[2017-02-17 22:17] patchthecode commented on #308
Since many people has asked for this, I think i'll do a video or a posted answer on this.
FOr right now, i'm at work. I'll respond this weekend.

[2017-02-17 23:58] hmleit commented on #308
Okay, looking forward to your response. Thank you very much!

[2017-02-18 02:18] patchthecode commented on #308
@hmleit if youre online now. Join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-02-18 03:22] patchthecode commented on #308
Ok. I think i am having a hard time understanding how you want the calendar to be.

So just to clarify, do you want the following to happen?

1. User taps a dateCell
2. You want to then fetchInfo from database
3. Update the cellView to reflect what you got from the database

If thats the case, then what you can do is have a dataSource (either an Array or Dictionary for example). If a dictionary (w

[2017-02-18 03:23] prahaladm commented on #307
Thank you for your help, I’ve manage to resolve the issue. This is a great calendar library, with a lot of flexibility.

Here is my desired view:
![desiredweekview](https://cloud.githubusercontent.com/assets/4957156/23089883/0ebd704c-f5b7-11e6-984b-9399192d9ec3.jpg)

Here is my current week view
![pastedgraphic-4](https://cloud.githubusercontent.com/assets/4957156/23089917/933f7234-f5b7-11e6-94c6-

[2017-02-18 03:24] patchthecode commented on #307
Join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-02-18 03:28] patchthecode commented on #307
If you are trying to replicate the Apple style, then making the header is easy -> https://patchthecode.github.io/Headers/

This can simply be a UIView that is _outside_ the calendar.

[2017-02-18 03:28] patchthecode commented on #307
Since the original issue is resolved, then i'll close this. But if you still need help then keep chatting. I will respond.

[2017-02-18 03:28] #307 closed

[2017-02-18 03:49] prahaladm commented on #307
You are awesome, thank you so much.

[2017-02-18 03:51] patchthecode commented on #306
This should be placed in the function that configures how your cell look.
Put it in the `willDisplayCell` function

Because you are doing this
[code]

Just because dates are inside of the `workoutDates` array, doesnt mean that it is the same date format that you are comparing it against.

In your `configureCalendar` function, you would have given JTAppleCalendar a `Calendar()` instance. Therefore

[2017-02-18 03:53] patchthecode commented on #307
Cheers 🍻

[2017-02-18 08:24] prahaladm opened #309 "Printing incorrect Date in method didSelectDate"
When I try to print the user selected date within the below function, I get a date 1 day lesser than the selected date. This happens even in the [calendar tutorial examples](https://github.com/patchthecode/CalendarTutorial)

Please suggest, How I could fix this issue ?

[code]

![incorrectdate](https://cloud.githubusercontent.com/assets/4957156/23091659/23733b64-f5e1-11e6-960d-0ff448d0b4f9.png)

[2017-02-18 09:19] patchthecode commented on #309
Date is correct.
You just need to format it.
Let me know if the following helps you --> https://github.com/patchthecode/JTAppleCalendar/issues/252

When dealing with `Dates`, printing it to the console will give you incorrect results depending on your timeZone. Never simply `print` a date. The correct way to handle dates is to use `DateFormatters` if you want the correct date printed to console.

[2017-02-18 09:19] patchthecode commented on #309
If you still need help on this, I'll be available in the morning.

[2017-02-18 11:34] prahaladm commented on #309
Thanks again, I got it working by using the below code:

[code]

[2017-02-18 12:57] prahaladm opened #310 "Start Date for Week View"
@patchthecode

When I set the start date (18th Feb 2017) for the week view (no of rows: 1),  Below is what I get (where it shows start of the month ), but I actually want 18th to be displayed in the week view, How can I do this ?
How can I also have this date pre-selected on load?

![startdateinweek](https://cloud.githubusercontent.com/assets/4957156/23093377/35c2c78c-f607-11e6-8bea-f1280c1b6007.p

[2017-02-18 12:57] #309 closed

[2017-02-18 19:12] patchthecode commented on #310
`calendarView.selectDate(date)` inside `viewDidLoad()`

[2017-02-18 21:23] hmleit commented on #308
Okay, I will try doing that. Thank you very much!

[2017-02-18 22:14] patchthecode commented on #308
Jus tmake sure that the dates you store in the dictionary are of the same type as the dates you receive from the calendar. You can do this easily with a `DateFormatter`.
If you need further help let me know. Closing this now.

[2017-02-18 22:14] #308 closed

[2017-02-18 23:35] prahaladm commented on #310
Your support is is just terrific, thanks again.

[2017-02-18 23:35] #310 closed

[2017-02-19 10:24] Nemely opened #311 "Can't select subclass JTAppleCalendarView in storyboard for my UIView"
Hi,

I'm having issues with what seems like a very simple step. After adding the UIView for the cell and the UIViewController class as well as the UIViewController in the storyboard I try to add a UIView to the storyboard and set the class to JTAppleCalendarView I can't select it from the list. Neither directly nor if I create a new class and subclass JTAppleCalendarView. What step am I missing he

[2017-02-19 11:38] patchthecode commented on #311
XCode some times does not autocomplete it.
Just type the name `JTAppleCalendar` and press the `Enter` button.
If you are still having problems, check out the completed tutorial source codes here -> https://github.com/patchthecode/CalendarTutorial

[2017-02-19 11:46] Nemely commented on #311
I tried that and although the project builds when I open the Viewcontroller the app crashes. I tried restarting Xcode and also cleaning the project but still the same.

Is there anything else I can try?

[2017-02-19 17:57] patchthecode commented on #311
@Nemely wait, and you saying that the complete example code here -> https://github.com/patchthecode/CalendarTutorial

Is also crashing??

[2017-02-19 20:37] patchthecode commented on #304
Try this new build.
Let me know if your issues are resolved.

[CrashTest.zip](https://github.com/patchthecode/JTAppleCalendar/files/786174/CrashTest.zip)

[2017-02-19 20:39] patchthecode commented on #304
There is one more issue i need to fix with it. You will get an update in about 3-4 hours.

[2017-02-19 21:25] patchthecode commented on #304
Because you changed the size of your calendar and reloaded at the same time, this caused your project to reveal many issues.

Here is the latest build. I have tested and could not find any other issue. If the build is good, I will include these changes to the master branch. Thanks for helping reveal these issues.
[CrashTest.zip](https://github.com/patchthecode/JTAppleCalendar/files/786217/CrashTes

[2017-02-19 22:03] patchthecode commented on #305
I will assume this issue is resolved.
As I believe the tutorial was not properly followed.
Here is the completed tutorial code -> https://github.com/patchthecode/CalendarTutorial

If you still need help with this. Let me know.

[2017-02-19 22:03] #305 closed

[2017-02-19 22:07] numen31337 commented on #304
Looks like there is still inconsistent behavior with scroll:
![Scroll Issue](https://s27.postimg.org/5wgur6mwz/ezgif_2_eb5fbb111c.gif)
It happens for at least stopAtEachSection and stopAtEachCalendarFrameWidth scrolling modes. I trying to scroll and stop on weeks in the week mode.

Also once there was some silent crash as it was before, can't reproduce it more for now, but it was for sure when I w

[2017-02-19 22:08] patchthecode commented on #304
@numen31337 if you are online now, can you join me here? -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-02-19 23:21] Fujitora2304 commented on #306
Yes, that was it, it's better now, thanks!
But there is still a problem. I used this extension to compare the dates:

`extension Date{
    struct Calendar {
        static let gregorian = NSCalendar(calendarIdentifier: NSCalendar.Identifier.gregorian)!
    }
    func isInSameDayAs(date: NSDate) -> Bool {
        return Calendar.gregorian.isDate(self, inSameDayAs: date as Date)
    }`

Then I wrote

[2017-02-20 00:05] patchthecode commented on #306
I could be wrong, but maybe its because your code looks bad here

[code]

You are looping through ever object in your `workoutDates` array.
so let's say the first object is `Jan1st` in your workoutDates. And `date` also happens to be `Jan1st` then all is well, and your cell is configured.

BUT, since you are looping, the loop is not yet done. Therefore, lets say the 2nd date inside your `workoutDa

[2017-02-20 00:28] Fujitora2304 commented on #306
Thanks for the quick answer.
I tried this before, but that doesn't work too.
This is what I'm doing now, the dates are in the same format:
`    override func viewDidLoad() {
        super.viewDidLoad()

        formatter.dateFormat = "yyyy MM dd"
        formatter.timeZone = calendar.timeZone
        formatter.locale = calendar.locale
        calendarView.dataSource = self
        calendarView.del

[2017-02-20 01:27] patchthecode commented on #306
If you are online, join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-02-20 04:57] patchthecode commented on #306
After looking at your code, the problem is with your constraints.

[2017-02-20 12:22] m-b-davis opened #312 "Crash when using vertical scroll mode"
The calendar appears to crash when using calendarView.direction = .vertical

![image](https://cloud.githubusercontent.com/assets/15704216/23124718/52caf36c-f766-11e6-9bc5-c9d3cb9a7408.png)

When updateLayoutItemSize() is called, cachedConfiguration.numberOfRows throws EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode 0x0)

I am using the latest version (6.1.2). My configureCalendar method is prett

[2017-02-20 13:11] patchthecode commented on #312
Ok. Hi, you have this code in the wrong place

please put this code inside your `viewDidLoad` function -->
[code]

[2017-02-20 13:45] patchthecode commented on #312
That said, i will update the code so that it does not crash here.

[2017-02-20 14:13] hmleit opened #313 "Today's date selected"
Hello, Jay, me again!

I'm having another problem and I would really appreciate your help.
When I open my calendar I want the current day to start selected and then, if I select any other day, the current day's selection will disappear. What's the best way to do this?

Thanks in advance.

[2017-02-20 14:15] m-b-davis commented on #312
@patchthecode My bad! Thanks!

[2017-02-20 14:32] patchthecode commented on #312
cheers.

[2017-02-20 14:32] #312 closed

[2017-02-20 14:36] patchthecode commented on #313
in your `viewDidload`
`calendarView.selectDates([Date()])`

to handle selection, look at the tutorial [part2](https://patchthecode.github.io/MainTutorial2)
[Part1](https://patchthecode.github.io/MainTutorial) also helps

[2017-02-20 14:36] #313 closed

[2017-02-20 14:37] patchthecode commented on #313
Let me know if youre still stuck

[2017-02-20 14:57] m-b-davis opened #314 "No spacing for header, strange z-positions"
I have created a header cell like this

![image](https://cloud.githubusercontent.com/assets/15704216/23129825/172779c8-f77c-11e6-869b-21ed9b023273.png)

Created a custom class, conformed to JTAppleHeaderView, and registered the xib in viewDidLoad

![image](https://cloud.githubusercontent.com/assets/15704216/23129992/a4268aa8-f77c-11e6-809d-c6e6dd14dbaf.png)

Implemented delegate methods

![image](

[2017-02-20 15:23] patchthecode commented on #314
Can you send me a zipped copy of that sample code?
you can drag the zip file in this chat box.

[2017-02-20 15:30] patchthecode commented on #314
Ok, you have old code, with a newer version of the library.
The names of your functions are from an older version, therefore your functions are not even called.

Look here for the updated function on the tutorial site -> [here](https://patchthecode.github.io/Headers/)

[2017-02-20 15:31] patchthecode commented on #314
If you still have issues, let me know.
closing this 👍

[2017-02-20 15:31] #314 closed

[2017-02-20 15:31] #306 closed

[2017-02-20 15:37] #277 closed

[2017-02-20 17:51] thalissonrosa opened #315 "Align header label with first day of the month"
Hi, is it possible to align a label in the header with the first day of the month? For example:
![screen shot 2017-02-20 at 2 44 55 pm](https://cloud.githubusercontent.com/assets/5844845/23136416/6b5ea9ae-f77b-11e6-9bd7-23ff418aab1a.png)

As you can see, the name of the month is aligned with the first day.

I found a function called numberOfPreDatesForMonth that I could use to calculate the constr

[2017-02-20 18:23] patchthecode commented on #315
hmm. ok. here are some things.

1. `numberOfPreDatesForMonth` is private. Not reccomended for you to use it :)
2. `visibleDates().preDates` should only give you predates. There should not be duplicate entries in there. (unless you are using an old version of JTAppleCalendar when i didn't fix that problem yet). That said, I am not sure how `visibleDates` can help you here.

It is east to configure

[2017-02-20 18:30] patchthecode commented on #315
If this is what you want, I think that you can accomplish it by creating a [Inside Header](https://patchthecode.github.io/Headers/) view with 7 labels in a stack view line this
[  L1 | L2  | L3  | L4  | L5  | L6  | L7  ]

The header will have 7 labels.
Now when you configure the header, find out on what day of the week the 1st day is.
If it is Sunday, then L1 = visible and all others = inVisible.

[2017-02-20 19:12] thalissonrosa commented on #315
I downloaded the example app and made some changes and got this:
![screen shot 2017-02-20 at 4 01 05 pm](https://cloud.githubusercontent.com/assets/5844845/23138454/507f26d0-f786-11e6-9e64-49f54fffc946.png)

Basically, it's just a vertical calendar with itemSize = 40 and scrollingMode = .none.
When the app is on the same state as the screenshot, visibleDates().preDates contains 8 elements:
![scree

[2017-02-20 21:49] patchthecode commented on #315
Ok. i see why you re getting two types of predates. That is because you have 2 months on the screen (because you made the itemSize smaller).

But you do not need to use preDates to accomplish this. Headers has the delegate function called ->

[code]

With this, it gives you the `range.start` date for the month, and the `range.end` date.
With this you can know what the date for the month header is.

[2017-02-20 22:51] dbmrq opened #316 "Problem changing device orientation"
Hello, Jay. :)

I don't know if I'm missing something, but I'm trying to get my app to support multiple orientations and the calendar won't update properly when the device is rotated.

Here's how it looks at first:

![simulator screen shot 20 de fev de 2017 19 42 18](https://cloud.githubusercontent.com/assets/15813674/23144204/ce621954-f7a4-11e6-82df-e5233fcbbddc.png)

Then I rotate the device and

[2017-02-20 23:34] patchthecode commented on #316
Alright, i'll check this out later

[2017-02-21 00:36] patchthecode commented on #316
Will check it once i finish work.
One thing, what is your scrollDirection?
And is it happening on 6.1.2? or masterBranch?

[2017-02-21 00:42] dbmrq commented on #316
Horizontal. And it's happening on master. I didn't check 6.1.2, I assumed it's the same in that regard.

[2017-02-21 03:42] patchthecode commented on #316
OK. Back. I was working on orientation updates this morning. Just made a push to master branch.

[2017-02-21 04:14] dbmrq commented on #316
Uhm, it looks like it's still the same here. :/

[2017-02-21 04:27] dbmrq commented on #316
I cloned the master branch and gave it a try in the demo app. The problem doesn't *always* happen, I'm not sure why… but it does happen:

![simulator screen shot 21 de fev de 2017 01 22 03](https://cloud.githubusercontent.com/assets/15813674/23150729/842d3118-f7d4-11e6-8aed-b42cfbbd36c9.png)

To reproduce you can start the sample app, select a date and do `cmd-right` (the command key and the right

[2017-02-21 04:32] patchthecode commented on #316
ok. checking this now.

[2017-02-21 04:34] patchthecode commented on #316
Do i do the `cmd-r` and the `cmd-l` quickly? or does that not matter

[2017-02-21 04:37] patchthecode commented on #316
-> https://gitter.im/patchthecode/JTAppleCalendar
If youre free

[2017-02-21 04:51] dbmrq commented on #316
I'm there.

But it doesn't matter if the `cmd-r`/`cmd-l` are done quickly… and what's unexpected about the image is that the calendar would settle showing half of each month at the same time, isn't it?

[2017-02-21 05:53] patchthecode commented on #316
In this function, can you place a print statement at the end link this?

[code]

It should be saving the last index right before orientation change.
If it is nil, then something is wrong.

[2017-02-21 05:57] dbmrq commented on #316
In my app, you mean? I'm using Carthage, so I'll have to include the source
directly. Now I'm going to bed, it's 3 am here and I'll have to be up
early, but I can do it tomorrow if that's alright. How about the demo app,
though? Did it work there?

Em ter, 21 de fev de 2017 às 02:53, JTAppleCalendar <
notifications@github.com> escreveu:

[2017-02-21 06:34] patchthecode commented on #316
Yes i am seeing the error there. But I know the reason why it is happening there now.
I just want to confirm if the error I am getting is the same that you are getting.

[2017-02-21 14:14] tr03lf opened #317 "select multiple dates"
Sorry for such a newb question, but i couldn't wrap my head around how to select multiple dates. In the tutorial as well as in the example: whenever i select a second date, the first date gets deselected. Of course i could work around this visually, but as long as `didDeselectDate` is called, the `selectedDates` property of `JTAppleCalendarView` always contains only one item. that doesn't seem lik

[2017-02-21 15:02] patchthecode commented on #317
`calendarView.allowsMultipleSelection = true`
Will close this.
If you have any further issues, then just ask :)

[2017-02-21 15:02] #317 closed

[2017-02-21 16:54] m-b-davis commented on #314
Ok thank you!

[2017-02-21 17:13] patchthecode commented on #304
After investigating, it seems that `scrollRectToVislible` is not reliable.
I'm not sure the reason why that it.

I checked the math and every thing is correct.
A [google search](https://www.google.com/#q=scrolltorect+does+not+scroll) showed me that many other people are experiencing the same problem scrolling to rect.

I have now changed the `scrollRectToVislible` code to
` self.calendarView.setCo

[2017-02-21 17:14] patchthecode commented on #280
closing this as the original issue has been resolved.

[2017-02-21 17:14] #280 closed

[2017-02-21 17:17] tungfam commented on #280
@patchthecode sounds good! thanks a lot! where is the path to the latest branch that i can pull from to have this update?

[2017-02-21 17:32] dbmrq commented on #316
Hey, sorry for the delay.
The problem is still happening with the latest commit. I did what you said and the value of `lastIndexOffset` is *not* nil when I change the orientation. Rather, if I just go `cmd-r`, `cmd-l`, `cmd-r`, `cmd-l`,  the value is different almost every time the orientation changes:

[code]

[2017-02-21 18:04] patchthecode opened #318 "Discussion best way to handle selectedPosition() for range selection"
<img width="286" alt="screen shot 2016-04-07 at 9 49 29 am" src="https://cloud.githubusercontent.com/assets/2439146/23177954/8f30e566-f81d-11e6-9927-baa143d949af.png">

`Yellow` = Left
`Blue` = Middle
`Red` = Right
`Green` = Single

[2017-02-21 18:05] patchthecode commented on #280
The original issue has been solved.

But your issue with the correct way to display `selectedPosition()`  will be racked here -> https://github.com/patchthecode/JTAppleCalendar/issues/280#issuecomment-281411889

[2017-02-21 18:10] patchthecode commented on #280
@tungfam leave a comment on that page you will be notified of the changes. I have only now gotten to this issue as there were others to resolve

[2017-02-21 18:14] patchthecode commented on #318
@tungfam i am having some problems the solution we mentioned last time.
According to what you have told me last time, the 27th on the 2nd month should also be colored `Blue` instead of yellow.

The problem with this solution is, if two months are displayed on the screen at the same time, then it will look weird as the image shown up above.

I was thinking that it would be best if `generateInDate =

[2017-02-21 20:13] tungfam commented on #318
@patchthecode hmm actually the issue is solved. there is no more issue with that 1st May. and that is thanks to `generateOutDates: .tillEndOfRow` (do you remember i asked in gitter how to make 5 rows when 6th is not needed? and you suggested doing this and it basically solved 2 issues that i had)

so all good now :) thanks a lot!

[2017-02-21 23:08] patchthecode commented on #318
awesome. closing this issue now.

[2017-02-21 23:08] #318 closed

[2017-02-21 23:09] patchthecode commented on #316
Ok. I'll have to share screen with you one last time after work.
Mine does not behave like this.
Will contact you again in about 3.5 hrs

[2017-02-21 23:10] dbmrq commented on #316
No problem, thanks for your help. :)

[2017-02-22 02:26] patchthecode commented on #316
https://gitter.im/patchthecode/JTAppleCalendar

[2017-02-22 07:44] patchthecode commented on #315
closing issue. If you still need more help with this, then let me know.

[2017-02-22 07:44] #315 closed

[2017-02-22 07:44] patchthecode commented on #311
closing this as I assume the issue is resolved.
If you need more help setting this up then let me know and i will re-open this.

[2017-02-22 07:44] #311 closed

[2017-02-22 13:21] shakeebb opened #319 "Events Help Please"
Hello Jay,
I am new to Swift and I downloaded your JTAppleCalendar, and I have to say it is amazing.
I am trying to create a calendar app that adds events to a calendar (the app will add the events when the calendar loads and not the user will add them), based on a priorly identified set of dates.

How do I initialize the set of dates and how can I change the text of a label based on which date is

[2017-02-22 20:47] patchthecode commented on #319
OK. I assume you have your event dates saved in some dataSource like an array or a dictionary?

so lets assume you have a dctionary of events with `key = theDate` and `value = theDataForTheEvent`.

[2017-02-23 00:23] patchthecode commented on #316
made changes -> https://github.com/patchthecode/JTOrientationTest

[2017-02-23 00:27] dbmrq commented on #316
Ok, I'll give it a try soon... but I just took a look at your commit and:

[code]

Why call `completionHandler()` right after setting it to nil? And why the `guard let` in the first place then?

[2017-02-23 00:32] dbmrq commented on #316
By the way, I don't even know what's happening there, I just took a quick glance at the code, but I think you could replace those three lines with:

[code]

[2017-02-23 00:59] patchthecode commented on #316
I did this as safety.
Let me know if my logic is wrong.

[code]
VS
[code]

Let me know if my logic is incorrect

[2017-02-23 01:09] dbmrq commented on #316
Oh, ok, I just got the local and global versions mixed up, sorry. I'll try the latest version now.

[2017-02-23 01:12] dbmrq commented on #316
Alright, it's looking good so far!

[2017-02-23 01:22] patchthecode commented on #316
Ok i will begin making the code neater.
And begin migrating changes to master.

[2017-02-23 01:23] dbmrq commented on #316
Awesome, thanks. I just noticed another problem, I think it's better if I open another issue, though, I'll do that now.

[2017-02-23 01:31] dbmrq opened #320 "Cell isn't passed to didDeselectDate"
I have a `configureCell()` function that I call from `willDisplayCell`... you can see it in that same example I sent you for the other issue.

When a cell is deselected, I call that same function for the deselected cell, which causes the selection view to disappear.

About a month ago this was working perfectly (and I tried it with an older commit and it worked fine). With the latest version, howe

[2017-02-23 04:01] patchthecode commented on #320
ok checking it out now

[2017-02-23 07:15] numen31337 commented on #304
This version looks much better, I unable to reproduce the crash and even scrolling is working, at least I can't reproduce miss scroll for now.

[2017-02-23 07:43] patchthecode commented on #320
Man.. your code was a little hard to read. So I cleaned it up.
I also fixed the bug.
checkout latest here -> https://github.com/patchthecode/JTOrientationTest

[2017-02-23 07:43] khoozhiyan1997 opened #321 "The selected date are not the same date"
The selected date at

` func calendar(_ calendar: JTAppleCalendarView, didSelectDate date: Date, cell: JTAppleDayCellView?, cellState: CellState) {
        handleCellSelection(view: cell, cellState: cellState)
        handleCellTextColor(view: cell, cellState: cellState)
    }
    `

i log the date and it give me result of something like this
2015-02-24 16:00:00 +0000

supposedly it should be 2015

[2017-02-23 07:46] patchthecode commented on #321
Yes this is expected.
Never do a print statement on the console. You will get a wrong date depending on what time zone you are in. The correct way to print date to the console is to use a NSDateFormatter.

See detailed discussion here ->

[2017-02-23 07:48] patchthecode commented on #319
closing issue. If you still need help then let me know.

[2017-02-23 07:48] #319 closed

[2017-02-23 08:36] dbmrq commented on #320
Sorry for the messy code, I just copied/pasted random stuff to make an example for the orientation problem. 😳
But how weird... now I'm comparing my version and yours and it seems like in my version `willDisplayCell` isn't called for some of the cells when you scroll to a different month. I don't know what could be causing that. If you print the date right at the start of `willDisplayCell` you can

[2017-02-23 08:42] patchthecode commented on #320
you lost me there.. -> https://gitter.im/patchthecode/JTAppleCalendar ?

[2017-02-23 09:03] patchthecode commented on #304
Awesome. I'll begin moving the changes over to master branch.

[2017-02-23 13:19] shakeebb commented on #319
May you please help me in how to identify the date in the dictionary. For the parameters I used the DateFormatter.
Can the key in the dictionary be a range of dates from April 1st for example till April 5th? And if yes how so.

If not what is the syntax for identifying a date in a dictionary.

Thank you again.

[2017-02-23 14:33] shakeebb commented on #319
I am now using a different date formatter but is there a way to have the key as dates from 2017 04 01 to 2017 04 06 and make them have the same `value = theDataForTheEvent` instead of having each one of these dates as a key and giving them the same value.

[2017-02-23 15:23] patchthecode commented on #319
The syntax to identify a date in a dictionary is

[code]

As for storing a range as a key, I am not sure that this can be done.
Maybe the guys on [stack overflow](http://stackoverflow.com) might know more about that.

[2017-02-23 18:26] patchthecode commented on #320
Closing as issue is resolved on latest master branch

[2017-02-23 18:26] #320 closed

[2017-02-23 18:26] patchthecode commented on #316
Fixed on latest master branch.
closing.

[2017-02-23 18:26] #316 closed

[2017-02-23 18:27] patchthecode commented on #304
Fixed on latest master branch.
closing issue.

[2017-02-23 18:27] #304 closed

[2017-02-23 18:29] dbmrq commented on #320
Thanks! :)

[2017-02-26 15:25] gaurav38 opened #322 "Enable scrolling in CalendarView"
Hello,

I have followed all the steps in the quick tutorial and my calendar seems to be showing correctly. However, I'm not able to scroll the calendar to other months. Do I have to set some values to enable this?

Thanks,
Gaurav

[2017-02-26 16:23] patchthecode commented on #322
you do not have to enable scrolling. It is automatically enabled by default.
can you send me a zip file of the project you have done? You can drag the file into this chat box.

[2017-02-26 17:47] gaurav38 commented on #322
My project has a lot of pods so here's my repo: https://github.com/gaurav38/Travelogue

[2017-02-26 18:41] gaurav38 commented on #322
Oh I figured out the issue in my code. I set the configuration parameters to the start and end of the current month. I changed to start of the month to 2 years later and it worked. Thanks for looking into it :)

[2017-02-26 18:41] #322 closed

[2017-02-26 21:21] patchthecode commented on #322
Awsome. Glad you figured it out.

[2017-02-27 13:09] romaHerman opened #323 "Crash on specific time zones"
First , thanks for such nice tool!!!
It really save tones of tome

But there is one crash though

Crash could be reproduced in example project
steps to reproduce :
1) select different timezone (e.g. Amman - Jordan)
2) select formatter dates in ViewController.swift to current
`        let startDate = formatter.date(from: "2017 02 01")!
        let endDate = formatter.date(from: "2017 12 01")!`
3) R

[2017-02-27 16:19] patchthecode commented on #323
Hi, i see the problem, but I am trying to understand why the code fails before I merge the fix.
I have pulled out the error code and put it into XCode Playground.

here is the code:

[code]

In this code, the `date`  equals `nil`
And I do not know the reason why yet.

For you region in Jordan, this code above is supposed to give me a date right?

[2017-02-27 16:24] patchthecode commented on #323
When i do the exact code for my region, it works.

[code]
Date does not = nil.

Silly question, but does is there a 31-March-2017 for your region? or is there something wrong with the code.

[2017-02-27 18:37] romaHerman commented on #323
Yes there is 31 of march :)

I think I have figured out the problem

It refers to daylight saving time. And this shift in most countries usually is being performed in march.
Thus this could lead to invalid time zone format

I created following playground to check this
https://gist.github.com/romaHerman/f119885591250a2dc5f0ebed8ac4b37f

Then I checked best practices for that. And it is advised to u

[2017-02-27 21:30] gerbot150 opened #325 "didScrollToSegment not being called on programatic segment change"
Calling this function:
`self.calendarView.scrollToSegment(.previous, triggerScrollToDateDelegate: true, animateScroll: true)`

On a button action, but the
[code]
delegate method is not getting called in 6.1.3, so we reverted to 6.1.1 where it is currently working. Not sure if this issue exists on 6.1.2.

Hope this helps someone or can be resolved

[2017-02-27 21:53] patchthecode commented on #325
looking into this immediately.
Could be a newly introduced bug.

[2017-02-27 22:41] patchthecode commented on #325
Found the issue.
Will resolve in a several hours.

[2017-02-28 11:21] f15handch1p5 opened #326 "How to disable scroll animation for header?"
Hi, i'm just wandering if there's an easy way to disable the scroll animation for the header, i want to keep the scrolling for the actual cell views themselves, but i just want the month header to update automatically when the user scrolls instead of animating with the cells. How would i go about doing that? Thanks

[2017-02-28 15:06] patchthecode commented on #326
The tutorials on the main page explain how to do this -> https://patchthecode.github.io/

Specifically, the tutorial about headers -> https://patchthecode.github.io/Headers
Let me know if you are stlll stuck and i'll help.

[2017-02-28 15:06] #326 closed

[2017-02-28 15:21] patchthecode commented on #325
The error has been fixed on master branch.
If you wish to test the latest code with the fix, the [click here](https://github.com/patchthecode/JTAppleCalendar/wiki/Common-Questions)

[2017-02-28 15:35] gerbot150 commented on #325
Yup, it seems to be working now with the latest code. Thanks for responding and fixing this so quickly!

[2017-02-28 15:37] patchthecode commented on #325
Cool. Im the only tester, so if you find any other issue, then let me know. There should be no errors with this library, so I plan to fix them quickly if found. Keep me posted if you find new ones. Cheers 🍻

[2017-02-28 15:42] Dean151 commented on #325
I just converted my code to Swift 3 and updated JTAppleCalendar to the latest version, and I was about to open this issue if it did not exists !
Cool for the fix. Can't wait for 6.1.4 release then !

[2017-02-28 16:37] patchthecode commented on #323
UTC is a solution thats true, but I wanted to keep this calendar's generated dates friendly with the dates for the region they selected.

Doing this allows this calendar to work well other libraries such as https://github.com/malcommac/SwiftDate without developers doing unnecessary conversions from UTC into the timezone of their region.

After researching I see that DateFormatter's default is midn

[2017-02-28 18:09] romaHerman commented on #323
Wow, you did a great research !

Yes I also think that it looks like an apple bug also (time for radar ? :) )

Solution with `formatter.isLenient = true` is very good because it prevents from UTC conversions back and forth
So I also think that it's the best from all possible ways of handling daylight shift

[2017-02-28 18:10] #323 closed

[2017-02-28 19:41] patchthecode commented on #325
released 6.1.4
closing this issue.

If any new bugs found then let me know. I'll fix.

[2017-02-28 19:41] #325 closed

[2017-03-01 11:20] kmentrobin commented on #216
Here is my version of JTAppleCalendar to have functions like AirBnb to block nights after nearest not available date sorry for my english  in code :)

If you want inspiration: https://github.com/kmentrobin/JTAppleCalendarAirBnb

<img width="555" alt="snimek obrazovky 2017-03-01 v 12 18 42" src="https://cloud.githubusercontent.com/assets/26112566/23457749/6e4f7d46-fe79-11e6-98d4-90e689e700de.png">

[2017-03-01 12:12] Nidhee opened #327 "Crashing when randomly selecting and de-selecting date."
Hi,

I am using version 6.1.4.
I have hide dates which are not in current month.
Muliple selection of date is disable.

When I am moving forward and backward in months, also selecting an deselecting date.
It crashes  at -

deleteCellFromSelectedSetIfSelected
fatal error: Index out of range

IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. Are you using the latest version of JT

[2017-03-02 07:11] patchthecode commented on #327
Issue found.
Currently working on a fix.

[2017-03-02 07:43] patchthecode commented on #327
Fix done with commit -> https://github.com/patchthecode/JTAppleCalendar/commit/f6e8ec29f8fa18a56bc0a0d1113eae845fbab654

[2017-03-02 07:51] patchthecode commented on #327
version 6.1.5 released.
Closing issue

[2017-03-02 07:51] #327 closed

[2017-03-02 11:12] whoooami opened #328 "Only 1, 2, 3, & 6 are allowed, Why not 5?"
like title. Thx.

[2017-03-02 15:22] patchthecode commented on #328
if you want 5 rows, then what will you do if the number of rows for a particular month = 6?
and
if you want 6 rows, then what will you do if the number of rows for a particular month = 5?

Therefore the ability to create a dynamic layout is not set by the numberOfRows.
If you want a dynamic layout then in your `configureCalendar` function, set the `generateOutDates` parameter to: `.tillEndOfRow`

[2017-03-02 15:22] patchthecode commented on #328
closing this issue, but let me know if you still need help.

[2017-03-02 15:22] #328 closed

[2017-03-02 15:32] kaanctn opened #329 "import JTAppleCalendar causes a weird problem"
Hi,

I am trying to use JTAppleCalendar but when i import the module, xcode gives me an error about another module "Opening import file for module 'WebKit': Permission denied"
When i delete the line "import JTAppleCalendar" everything works fine.

Have you encountered a similar problem?

Thx.

[2017-03-02 15:39] patchthecode commented on #329
Hmm...
1. can you paste me what you are putting in your cocoaPod?
2. can yo do a ` pod --version` on your console and tell me the version?

[2017-03-03 05:14] kaanctn commented on #329
Actually i am using carthage.
I updated carthage to version 0.20.0, i don't know how but this solved my problem.
Sorry for the trouble :)
Thx.

[2017-03-03 05:14] #329 closed

[2017-03-03 15:56] boborbt opened #330 "selection delegate not called on inDates and outDates"
As the title of the issue says the `calendar:_:didSelectDate:date:cell:cellState:` delegate method does not seem to be called on inDates and outDates.

Weirdly this happens only if I make the selection using `selectDates` programmatically(*). If the user "manually" selects the cells the delegate method gets called.

Is this intended behaviour? If so, is there any way to either:
- prevent inDate/ou

[2017-03-03 15:58] patchthecode commented on #330
What version of the calendar are you using?

[2017-03-03 16:04] boborbt commented on #330
I've upgraded just before writing the issue report: 6.1.5.
Initially I experienced it on 6.1.2.

BTW: wow, your response times are incredible :-)

[2017-03-03 16:05] boborbt commented on #330
I also had a look at the selectDates implementation in UserInteractionFunctions.swift, but could not find anything there justifying the behaviour.

[2017-03-03 16:05] patchthecode commented on #330
Ah thanks. Yea, om online now.
Can you join me here? -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-03-03 17:36] patchthecode commented on #330
i believe  I found your solution

[2017-03-03 17:52] patchthecode commented on #330
After looking at you code, I saw the solution.
The Library is correct. And the architecture is good, but you have one thing missing it seems.

Where is your dataSource?
I'll be online for the rest of the day here -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-03-03 19:41] gilgameshex opened #331 "Question about scrolling"
I've read the tutorial about how I want my users to scroll the calendar, however, I am not quite sure about which part of the program I should add the code to. Thank!

[2017-03-03 19:45] boborbt commented on #330
We never went through it. I guess you mean the configureCalendar: function of the JTAppleCalendarViewDataSource protocol, right?

Here it is:

[code]

With respect to the code we saw today I just changed `generateOutDates:` to ` .tillEndOfGrid` (this was my original configuration, today I set it to `.off` while troubleshooting the problem before hearing you.

If you instead meant the "model data",

[2017-03-03 19:52] boborbt commented on #330
By the way, the more I think to the didSelect delegate method the more I think it is more sensible to always return the selected cell (instead of `nil` for inDates and outDates). In fact, a selected cell is visible on the screen and the selection mark may want to go there and if needed one can check if the cell is in current month by inspecting the cellState struct.

What's to loose?

But perhaps

[2017-03-03 22:01] patchthecode commented on #330
Ok. Here is the problem.

JTAppleCalendar is built to resemble Apple's `UICollectionView` or `UITableView` model.
Just like a collectionView and a tableView, it needs the following:

1. A delegate - you have this configured correctly
2. A dataSource - by looking at your code you do not have this configured.

Take for instance a UITableView's delegate function ->
[code]

here the dataSource is used

[2017-03-03 22:03] patchthecode commented on #331
The calendar is already made scrollable.
The only way the calendar will not scroll is:

1. Your `startDate` and `endDate` is in the same month (therefore there is nothing to scroll)

Can you tell me what version of the calendar you are using, and what is the start and end date?

[2017-03-03 22:33] gilgameshex commented on #331
@patchthecode, thanks for the reply, I am not quite sure what you mean by version of the calendar, I am currently following your tutorial and I've got to the DateCellConfigurations, the framework is in 6.0, i think.
My startDate for my program is  '2017 01 01' and my endDate is '2100 01 01'
Thanks

[2017-03-03 23:54] patchthecode commented on #331
your calendar should already be scrolling.
if it is not, then can you provide a zipped stripped down version of your project?

You can drag the file inside this chatbox

[2017-03-04 06:02] iMacHumphries opened #332 "Editable CalendarView (UICollectionView) Content Insets"
I may be missing something obviously easy, but currently I cannot find a way to edit the underlying UICollectionView Insets.  I am trying to make an offset for the scrollTo(date: ) function so that I can have a transparent Navigation Bar overtop of my calendar view.

Currently looks like this when I try to scroll to today's date:
![image1](https://cloud.githubusercontent.com/assets/10065149/235765

[2017-03-04 07:20] patchthecode commented on #332
Thank you for the compliment. I want to to be the best on github.

Concerning your issue.
1. Confirming that you have vertical calendar?
2. Which pod version are you using?
3. Have you set a `scrollingMode`? Or are you using the default.
4. Have you set an `itemSize` for the calendar?
5. Are you using the calendar with a UINavigationController?

I need to know these information in order to replica

[2017-03-04 07:42] gilgameshex commented on #331
@patchthecode  Thanks for the reply, yes it is scrolling, but I want to change the mode of scrolling
https://patchthecode.github.io/CalendarScrolling/
However, I don't know where I should put this code.
Thanks!

[2017-03-04 08:22] patchthecode commented on #331
the scrolling code can be put in your `viewDidLoad()` function. Let me know if it works.

[2017-03-04 08:33] iMacHumphries commented on #332
1. Yep!
2.  JTAppleCalendar (6.1.2)
3.  set to .none
4. I set the itemSize = calendar.frame.size.width / 7  * 1.62
5. Yep!

The calendar is setup through interface builder to be the exact same size as the view.

My calendar view is under my navigation bar on purpose (I like the translucent effect), and your calendar library is scrolling to the correct area if there were no navigation bar.

[2017-03-04 08:58] iMacHumphries commented on #332
LooLo

[2017-03-04 09:35] gilgameshex commented on #331
@patchthecode Yes it is working, thanks so much for the framework and your swift reply. :)

[2017-03-04 10:24] boborbt commented on #330
Hi, I've thought a lot about our discussion of last night and I think I have some points you may find interesting.

# Solution to my problem

It actually occurred to me that I can pretty easily solve my problem (I did not tried it yet, but I am pretty confident that it can work): in the willDisplay delegate I can check if the cell is selected && if it is an inDate/outDate. If so, I will know that

[2017-03-04 15:21] patchthecode commented on #330
Hey, I have figured out the solution.
Let me know when your are online -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-03-04 15:22] patchthecode commented on #331
Awesome. closing this issue.

[2017-03-04 15:22] #331 closed

[2017-03-04 15:24] iMacHumphries commented on #332
it is important to note I have a custom sized navigation bar.  I believe this is throwing off the automatic scroll view inset adjustment.   I also believe if you allow us to edit the underlying collection view contentInsets that should fix the problem.

[2017-03-04 15:27] patchthecode commented on #332
alright. I will look at this right now.
just awoke.

[2017-03-04 15:41] patchthecode commented on #332
Just one thought have you tried unselecting this?
<img width="264" alt="screen shot 2017-03-04 at 7 39 37 am" src="https://cloud.githubusercontent.com/assets/2439146/23579987/d1c0b21a-00ad-11e7-9c09-17dfa5e92839.png">

Click on the viewcontroller that contains the calendarView and unselect this.
Sometimes you maybe also need to unselect it on the parent view controllers of the view controller all

[2017-03-04 15:43] iMacHumphries commented on #332
Hey that is a pretty good looking checkbox.  I will check on that later today.  Thanks for looking into this!

[2017-03-04 19:47] boborbt commented on #330
Hi. I modified the code so to not using the cell state. This allows me to always handle the day info display in the didSelect method and everything works.

Thanks for your support. I'll try to get online this night to discuss your solution if you like it.

[2017-03-04 19:47] #330 closed

[2017-03-04 22:00] patchthecode commented on #332
By the way, your headers are always centered. Why not try making the header right above the first of the month like this -> https://github.com/patchthecode/JTAppleCalendar/issues/315

[2017-03-05 04:23] iMacHumphries commented on #332
Okay so I tried the layout Adjust Scroll View Insets and It didn't change anything.  Also, I have the header centered over the first day of the month, it just is buggy sometimes, I might need to move the centering logic somewhere other than willDisplaySectionHeader.

[2017-03-05 05:07] iMacHumphries commented on #332
Okay so layout Adjust Scroll View Insets unchecked makes February (the first month) hidden under the nav bar and still does not fix scroll to date:

![image1](https://cloud.githubusercontent.com/assets/10065149/23584701/2178a6da-0137-11e7-805c-a9563cc9c10b.PNG)
(I scrolled to the very top in both images)

 With the Adjust Scroll View Insets checked: (you can see feb)
![image1](https://cloud.github

[2017-03-05 05:09] iMacHumphries commented on #332
By the way this calendar is for a workout app, and each number inside the circle represents how many pushups the user did today.  Obviously I am pretty ripped since I totally did 263 pushups on Feb 23... ;P

[2017-03-05 06:20] mohammadalijf opened #333 "Memory Leak"
hi, im using your pod in my project to create a simple calendar and im using latest version.
the problem is when i use instrument to check my leaks i've got lots of memory leak from the pod.
i also tried the example project still got memory leaks.
the following screen shot is from profiling the example project.
![screen shot 2017-03-05 at 9 48 57 am](https://cloud.githubusercontent.com/assets/7884

[2017-03-05 06:40] patchthecode commented on #333
checking this now.

[2017-03-05 19:06] patchthecode commented on #332
ok. This is happening because you have set your `scrollMode` to `.none`
It scrolled your date correctly. But the problem is the the library does not know that you have a UINavBar there. Hmm.. I i'm looking into the making the inset available as you have said.

Looking into it.

[2017-03-06 06:07] patchthecode commented on #333
Leaks fixed -> https://github.com/patchthecode/JTAppleCalendar/commit/f3763723198c89498dfe49706aaaaf51dffbc211

One more leak to fix.

[2017-03-06 07:19] Nidhee opened #334 "didScrollToDateSegmentWith is called automatically after didSelectDate"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

I am using 6.1.5,
In viewDidLoad method, I have scrolled calendar to current date -

Which calls delegate didScrollToDateSegmentWith, in which I have API call for events which populates data.

Now,whenever I select a cell for first time didSelectDate() delegate is called. Inside which I have some computations. After this delegate,

[2017-03-06 07:26] patchthecode commented on #334
This bug was fixed on master branch i believe.
Can you test the master branch?

put this in your pod file
`pod 'JTAppleCalendar', :git => 'https://github.com/patchthecode/JTAppleCalendar.git'`

then do `pod install`
Let me know if this works

[2017-03-06 07:39] Nidhee commented on #334
I update to this pod, got version 6.1.5
didScrollToDateSegmentWith is not calling, when I have scrollToDate inside viewdidload()

[2017-03-06 07:47] patchthecode commented on #334
try deleting pod, the run `pod install`
If its still not working after this, then i'll look into this tomorrow.
This should be working correctly.

[2017-03-06 07:48] patchthecode commented on #334
try it now.

[2017-03-06 07:51] Nidhee commented on #334
okay. Trying

[2017-03-06 07:57] Nidhee commented on #334
Its working now !! 👍
Thank you.

[2017-03-06 08:45] iMacHumphries commented on #332
Thanks for looking into that for me, I could see you possibly adding a new ScrollMode that is something like:
[code]

The design uses nibs and is modeled after Apple's Activity app 😁.

[2017-03-06 14:22] patchthecode commented on #334
awsome.

[2017-03-06 14:22] #334 closed

[2017-03-06 16:35] patchthecode commented on #332
OK, will work on this on the weekend. I should have an update for you by then.
I'll add an option to set an extra offset on the `scrollToDate` function

[2017-03-07 14:56] patchthecode commented on #333
Seems that the final leak is an [Apple Bug](http://stackoverflow.com/questions/42642249/swift-leak-even-when-unowned-is-used-with-protocol-in-small-code-example).

Looking for a work around now.

[2017-03-07 16:05] patchthecode commented on #333
All leaks fixed.

[2017-03-07 22:26] Nemely opened #335 "Issue with time zones"
Hello,

I'm having issue with time zones I believe. When I click on a date in the calendar, say April 15th, the date variable in the didSelectDate function returns April 14th at 11 pm. If I select a date at the end of the month, say April 22nd, I get returned April 21st at 10 pm. What am I doing wrong?

[2017-03-07 23:39] patchthecode commented on #335
Many people have asked this.
So I will just leave a link to the discussion here -> https://github.com/patchthecode/JTAppleCalendar/issues/252

Let me know if it has resolved your issue.

[2017-03-08 01:32] Nemely commented on #335
Thanks a lot for your help! That was an easy fix!

[2017-03-08 01:32] #335 closed

[2017-03-08 01:37] patchthecode commented on #335
You're welcome :)

[2017-03-08 05:09] mohammadalijf commented on #333
thank you. i will test master branch and report back

[2017-03-08 05:21] patchthecode commented on #333
@mohammadalijf I have a weird iss that i am looking into however.

I use XCode 8.3 Beta, iOS 10.3 and there are no leaks.

But When I use Xcode 8.2, iOS 10.2, there are leaks.
Also I found an XCode bug causing the leaks (i have shown you the link above).

I am now looking into why there are leaks for iOS 10.2 Xcode 8.2

[2017-03-08 06:14] mohammadalijf commented on #333
still got UIDeviceRGBColor leak which is somehow normal because swift will cache colors for future usage (mostly instrument bug i guess).
also i found some weird leaks when i'm using arrays and dictionaries with Xcode 8.2
you can find these kind of leaks in pods like Alamofire etc.

i guess we should wait for Xcode 8.3 till we get a totally leak free apps.

[2017-03-08 06:28] patchthecode commented on #333
I believe so.
Because I can assure you that Xcode 8.3 with JTAppleCalendar has no leaks.

[2017-03-08 07:32] mohammadalijf commented on #333
thank you for such a quick issue fix

[2017-03-08 10:50] gilgameshex opened #336 "Issues about headers"
HI, I have a problem about using multiple headers, I have followed the tutorial you created and also your sample code, but I still ended up failing. I have attached a screenshot the code of my header and also the screenshot when the program crashes. Thanks!
** both headers are registered to view controller
<img width="1440" alt="screen shot 2017-03-08 at 10 47 31 am" src="https://cloud.githubuserc

[2017-03-08 13:19] patchthecode commented on #336
can you paste the text of the crash?

[2017-03-08 13:33] gilgameshex commented on #336
<img width="1440" alt="screen shot 2017-03-08 at 1 33 27 pm" src="https://cloud.githubusercontent.com/assets/23056172/23705903/cfcf2d98-0403-11e7-8a8b-d62c0e4900ed.png">
Here, thanks!

[2017-03-08 14:25] patchthecode commented on #336
Hey, Images are ok for a visual.
But in this case, I need the text so that i can paste it in my logs.
I can't ype all this :)

[2017-03-08 14:26] patchthecode commented on #336
Also, can you paste the code you used to register your header?

[2017-03-08 14:32] gilgameshex commented on #336
2017-03-08 10:47:27.790 Calender[2028:63019] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'must pass a valid reuse identifier to -[UICollectionView dequeueReusableSupplementaryViewOfKind:withReuseIdentifier:forIndexPath:]'
*** First throw call stack:
(
	0   CoreFoundation                      0x000000010a029d4b __exceptionPreprocess + 171
	1   libobjc.A.dylib

[2017-03-08 14:33] gilgameshex commented on #336
calendarView.registerHeaderView(xibFileNames: ["headerView","febHeaderView"])

[2017-03-08 14:33] gilgameshex commented on #336
thanks

[2017-03-08 14:42] patchthecode commented on #336
ok based on what you have sent, i can't see the error.
Can you do one thing?
I have a sample app attached to this github project. It has multiple headers implemented.
Can you look at it and see what is different from your code?

[2017-03-08 16:38] boborbt commented on #216
![calendar](https://cloud.githubusercontent.com/assets/204476/23713378/04236f92-0426-11e7-8f33-1606b1dc7a6d.png)

[2017-03-08 18:19] gilgameshex commented on #336
[Calender.zip](https://github.com/patchthecode/JTAppleCalendar/files/828560/Calender.zip)

I still can't find the mistake, here is my code, thank you very much

[2017-03-08 19:07] patchthecode commented on #336
Hey, you didnt follow the tutorials properly 😞

Also, you had a spelling error for the identifier. You had a "H" instead of a "h" in *header*
Here is your fixed file.
[Calender.zip](https://github.com/patchthecode/JTAppleCalendar/files/828699/Calender.zip)

[2017-03-08 19:07] patchthecode commented on #336
closing this issue.
If you still have problems, then let me know here.
I will respond.

[2017-03-08 19:07] #336 closed

[2017-03-09 06:52] baobao57 opened #337 "When i update to latest version.（6.1.5） Appear a problem - 'cellCacheSection does not exist.'"
When I from `6.1.1` version update to the latest version.
<img width="334" alt="2017-03-09 2 41 19" src="https://cloud.githubusercontent.com/assets/12264243/23739015/4b9c46bc-04d7-11e7-8baa-63f38f20f74a.png">
I read the assert  message.  but i don't know this problem What is the cause.
<img width="353" alt="2017-03-09 2 40 56" src="https://cloud.githubusercontent.com/assets/12264243/23739147/f7bd8

[2017-03-09 07:01] patchthecode commented on #337
if youre online can you join here? -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-03-09 07:09] patchthecode commented on #337
I will need more information.
Can you show me your `configureCalendar` function?

[2017-03-09 15:49] jordanw421 opened #338 "Load calendar on month other than the starting month"
Hi. Is it possible to load the calendar, such that the initially displayed month is not the same as the month in startDate?

For ex)

// yyyy MM dd
startDate = "2017 01 01"
endDate = "2018 01 01"

Is it possible to load the calendar so that the visible month is set to say "2017 05" (May 2017) rather than "2017 01"? I tried simply scrolling to May as soon as the view presents itself, but this doesn

[2017-03-09 16:07] patchthecode commented on #338
Have you tried scrolling without any animation?

`scrollToDate(date, animateScroll: false)`

You need to tell me what `this doesn't look very clean.` means

[2017-03-09 16:27] jordanw421 commented on #338
Ahh geez I feel dumb now. I didn't try turning the animation off, that solves my problem. Too little sleep and I forgot that :/

Sorry for taking your time on this non-issue. Thanks 👍

[2017-03-09 16:27] #338 closed

[2017-03-09 17:26] patchthecode commented on #338
Its cool. Have a good one.
 🍻

[2017-03-09 18:54] gilgameshex opened #339 "Enquiries on code"
Hi again, thanks for last time, sorry I actually didn't spot that.
I just want to ask about the if function of this code
[code]
Can you please briefly explain this so that I can add other variations. Thank you very much

[2017-03-09 19:07] patchthecode commented on #339
I just placed that `if` function there as an example.
In your real app, please remove it.

Use your own `if` statement to determine the size of the headers.

So for example you can do something like

[code]

[2017-03-09 19:17] gilgameshex commented on #339
Sorry, I didn't phase the question clearly, i mean the " month % 2 > 0" part

[2017-03-09 19:23] gilgameshex commented on #339
Because I am planning to do change in months in header every time I swipe, but does it actually mean that I need to create 12 sets of headers or there are other options available?

[2017-03-09 19:31] patchthecode commented on #339
`month` is an integer from `1` to `12` for the months of the year.

`%` -> is the mod operator - You can google about it.

but it basically gives the remainder for `month` / 2
If the remainder is > 0 then i set the month size to a particular value
else
i set the month size to a particular value

is that clearer?

[2017-03-09 19:41] gilgameshex commented on #339
yes thank you very much

[2017-03-09 19:41] #339 closed

[2017-03-10 02:01] jdmarshall90 opened #340 "Crash report version 6.1.2"
I am using v6.1.2, and I have received a crash report. The only other information besides this report is that this happened on relaunching my app (my calendar view is on the first screen).

The offending line appears to be (though I don't see how that is possible):

[code]

[code]

Any ideas?

[2017-03-10 06:09] patchthecode commented on #340
I have fixed some issues since version 6.1.2
The latest version is 6.1.5

You can see a record of the crash fixes here on the change log. -> https://github.com/patchthecode/JTAppleCalendar/blob/master/CHANGELOG.md

Unfortunately I cannot tell you much from the log, but I can tell you that the latest versions are more stable than 6.1.2 as seen the change logs.

Are you doing anything "fancy" on you

[2017-03-11 02:38] jdmarshall90 commented on #340
I don't know about fancy, but my calendar's cells have an uneditable text field with a custom input view.

[2017-03-11 10:15] gilgameshex opened #341 "Question about simplifying code"
Hi,

I have just finished creating my basic calendar with 12 headers, however that made me do 12 headers. I was just wondering if there is anyway that i could simplify this large chunk of code.
Here is my code:
[Calender.zip](https://github.com/patchthecode/JTAppleCalendar/files/835663/Calender.zip)
Thanks!

[2017-03-11 17:02] patchthecode commented on #341
Hey, I think you misunderstood something.
Why are you creating 12 headers? 😨

You only need one.
Only create 1 header view, then change the data as needed in the delegate.

[2017-03-11 17:04] patchthecode commented on #341
Take a look at the example app attached to this repository. I only have 2 headers, and yet I am able to change the month names.

[2017-03-11 17:37] #340 closed

[2017-03-11 17:39] patchthecode commented on #340
I Have closed this issue but attached label: PROD Crash for version 6.1.2
Issue was closed since many fixed have been done since version 6.1.2
I believe that it is fixed in later versions.

However, I will monitor any further prod crash reports from other people to see if the error was truly fixed.

You were the 1st Prod crash i have recorded.

[2017-03-11 17:44] gilgameshex commented on #341
oh

[2017-03-11 17:45] gilgameshex commented on #341
started programming not long ago, so don't know the logic of it that well

[2017-03-11 17:50] gilgameshex commented on #341
:0

[2017-03-11 17:52] gilgameshex commented on #341
Just a question,

    func setupViewsOfCalendar(from visibleDates: DateSegmentInfo) {
        guard let startDate = visibleDates.monthDates.first else {
            return
        }
        let month = testCalendar.dateComponents([.month], from: startDate).month!
        let monthName = DateFormatter().monthSymbols[(month-1) % 12]
        // 0 indexed array
        let year = testCalendar.componen

[2017-03-11 18:43] patchthecode commented on #341
Yes i use that code to extract the date.
Keep in mind that this is only a example code. You can extract the date however you want.

i first get the start visible date
[code]

then i just do regular NSDate functions to find out what month it is
[code]

[2017-03-12 00:50] f15handch1p5 opened #342 "Using outside headers?"
Hi, i've read the tutorials to generate outside headers, but i'm still struggling to implement it. I want the header to update to the current month as the use scrolls but obviously i don't want the affect of the header scrolling with it. Do i need to design a header for each month?

[2017-03-12 02:05] patchthecode commented on #342
No, you one need to design one header, and update the information as needed.
If is exactly like using a UITableview.

Get the header and configure it to your liking. If you still need help then let me know.

[2017-03-12 04:34] f15handch1p5 commented on #342
Thanks for the quick reply. I'm still struggling to implement the behaviour however. This is what i have implemented in willDisplaySectionHeader -

`         func calendar(_ calendar: JTAppleCalendarView, willDisplaySectionHeader header: JTAppleHeaderView, range: (start: Date, end: Date), identifier: String) {

        let calendar = Calendar(identifier: .gregorian)
        let startDate = range.s

[2017-03-12 08:45] gilgameshex commented on #341
Lost my phone last night so i didn't read it until now 😨, thanks so much, i will give it a try now

[2017-03-12 09:53] gilgameshex commented on #341
I tried to use your code with the label in my program, the label didn't change the month

[2017-03-12 09:58] gilgameshex commented on #341
I commented out all my header codes as i dont need it temporarily

[2017-03-12 12:04] gilgameshex commented on #341
[Calender.zip](https://github.com/patchthecode/JTAppleCalendar/files/836483/Calender.zip)
Here is my calendar

[2017-03-12 16:40] patchthecode commented on #341
[Calender.zip](https://github.com/patchthecode/JTAppleCalendar/files/836641/Calender.zip)

Closing this issue as it is has now become unrelated with the calendar.
I believe that most of your problems stem from you are maybe new to swift/xcode.
All the best in your learning 🍻

[2017-03-12 16:40] #341 closed

[2017-03-12 16:40] gilgameshex commented on #341
ok thanks

[2017-03-12 16:43] patchthecode commented on #342
The header will only scroll if you implemented header functions.
If you do not want your header to scroll, then please do not implement any header functions.

Simply create `label` for your header

So you will no update your code above to say:
`MYLABEL.title.text = monthName + " " + String(year)`

[2017-03-13 14:14] boborbt commented on #342
@f15handch1p5 probably you want to put that code in the `calendar(_ calendar: JTAppleCalendarView, didScrollToDateSegmentWith visibleDates: DateSegmentInfo)` delegate function.

In my implementation I do something along the lines:

[code]

I do not know if it is the best way to proceed. I'm sure @patchthecode will correct me if it is too bad :-)

Hope this helps.

[2017-03-13 15:27] patchthecode commented on #342
@boborbt is correct. This is exactly the place that you put it.

[2017-03-14 09:27] whoooami opened #343 "Can I swipe up and down to switch the date?"

[2017-03-14 14:17] boborbt opened #344 "Possible regression introduced between version 6.1.2 and 6.1.3"
Hi, I'm experiencing a visual glitch on the first tap on my JTAppleCalendar: the whole calendar seems to be shifted downwards and rightwards by few points.

Context:
- I create the calendar and then scroll to today (without animating the scroll);
- then when I tap anywhere in the calendar the problem occurs;
- the problem does not depend on didSelect didDeselect or didScrollToDateSegmentWith handl

[2017-03-14 15:17] patchthecode commented on #343
calendarView.scrolldirection = .vertical

[2017-03-14 15:17] #343 closed

[2017-03-14 15:17] patchthecode commented on #343
I will provide the answer to this in the tutorials

[2017-03-14 16:51] boborbt commented on #344
Hi @patchthecode, I've done a bit of debugging and I tracked down the problem to this diff:

[code]

In my testing reverting to the old way of calculating the resulting CGPoint solves the problem.

[2017-03-14 16:55] patchthecode commented on #344
thanks for finding this.
This should be fixed already.

I may have accidentally put that code back in.
Let me check the master branch.

[2017-03-14 16:57] boborbt commented on #344
Nice to be helpful 😊

Feel free to close this issue if you think that you do not need it any more.

[2017-03-14 16:57] patchthecode commented on #344
Oh ok. This is an issue that I have fixed on master branch already.
It will be released in the upcoming version.

If you want to use the master branch code, you can put his in your pod file:

[code]

then do a pod install.
Thanks so much for the debugging!

[2017-03-14 16:58] patchthecode commented on #344
I wil leave this issue open until i release, so that other will know.

[2017-03-14 16:58] boborbt commented on #344
I'm still with carthage 😊
and I can wait 😊

Thanks again. Bye.

[2017-03-15 01:02] whoooami commented on #343
Thx

[2017-03-15 01:02] whoooami commented on #343
calendarView.direction = .vertical

[2017-03-16 11:17] Eric0625 opened #345 "selectDates function triggering didSelectDate with different date?"
I'm using selectDates function to select a date from code, and hoping to trigger the related delegate, but when I debug the code I find the delegate receives another date, why could that happen?
![1](https://cloud.githubusercontent.com/assets/18132007/23993783/e72d680e-0a7c-11e7-8947-ca3ed67b47f5.PNG)

![2](https://cloud.githubusercontent.com/assets/18132007/23993793/f9a44e76-0a7c-11e7-9949-4efa5d

[2017-03-16 11:23] Eric0625 commented on #345
here is the configuration of calendar

`func configureCalendar(_ calendar: JTAppleCalendarView) -> ConfigurationParameters {

        let startDate = Date()
        let endDate = calendarView.currentCalendar.date(byAdding: .day, value: 14, to: startDate)!
        return ConfigurationParameters(startDate: startDate,
                                       endDate: endDate,

[2017-03-16 16:15] patchthecode commented on #345
When ever you are looking at dates on the console, or on the debugger, wrong dates can be displayed. In order to see correct dates, you need to use a `DateFormatter` instead. Look here and at the discussion and let me know if the issue is resolved --> https://github.com/patchthecode/JTAppleCalendar/issues/252

[2017-03-16 16:15] patchthecode commented on #342
closing issue as it appears to have been resolved.

[2017-03-16 16:15] #342 closed

[2017-03-16 16:57] Eric0625 commented on #345
@patchthecode thx for replying and providing the reference. But I don't really care what the date string displays. I've noticed the output is not my local date, but even if they're produced from console's date configuration, should they match at those two places which I captured in the pics?

[2017-03-16 17:16] Eric0625 commented on #345
I just tested the code again. Now they are the same on the console, not matching my local time, but at least the same. So the problems seems to happen at specific time, I'm gonna check it at the same time again, to see if it happens.

[2017-03-16 17:50] patchthecode commented on #345
@Eric0625

in this function

<-- Look at the calendar you are providing.

[code]

` calendar: calendarView.currentCalendar,`

The `calendarView.currentCalendar` should be a calendar that is configured to match the time zone of the dates that you want to work with.

can you try putting this instead?
` calendar:  Calendar.current,`

If you **are** aready using Calendar.current, then help me test it

[2017-03-17 01:11] Eric0625 commented on #345
hi there

1. calendar: calendarView.currentCalendar is Calendar.current, I just wrapped it
2. the output is:
▿ gregorian (current)
  - identifier : Foundation.Calendar.Identifier.gregorian
  - kind : "current"
  ▿ locale : Optional<Locale>
    ▿ some : en_US (current)
      - identifier : "en_US"
      - kind : "current"
  ▿ timeZone : Asia/Shanghai (current)
    - identifier : "Asia/Shanghai"

[2017-03-17 06:12] chrisfngr opened #346 "Show today method"
I am new of SWIFT, thank your wonderful calendar. I want to know how to show today date and show the month of today instead of the startDate. Thanks you

[2017-03-17 07:01] patchthecode commented on #346
`calendarView.scrollToDate([theDateToStartWith])`

[2017-03-17 15:05] chrisfngr commented on #346
Hi,
 I put that code into viewDidLoad() method, but it give me a error "Expected expression in list of expression" and tell me I should add ',' to separator, what should I do for this error
Thank you.

[2017-03-17 15:18] chrisfngr commented on #346
Hi me again
I have fixed this problem, anyway thank you for provide a wonderful calendar :)

[2017-03-17 15:52] patchthecode commented on #346
You are welcome.
Have a good day 🍻

[2017-03-17 15:52] #346 closed

[2017-03-18 10:30] elsesiy opened #347 "Improve code quality by using SwiftLint"
Hi Jay,

great work so far (after being dissatisfied with CVCalendar I guess) 👍  After skimming your code though, I suggest a refactoring and code clean up, i.e. `horizontalStuff()` and `verticalStuff()` in `JTAppleCalendarLayout.swift` aren't really human readable. In addition you definitely can improve the overall quality by using [SwiftLint](https://github.com/realm/SwiftLint) which has some ne

[2017-03-18 15:30] patchthecode commented on #347
Thanks for the kind words man.
I will do this.
By the the way, I started using CVCalendar before creating this one. It was great, but my calendar needed a little bit more flexibility, and at the time I didn't have time to learn your code base to create PR requests. So I just rolled my own.
But yes, i will swift lint it in version 7.0.0 (the final major version). Its already almost ready.

[2017-03-18 15:31] patchthecode commented on #345
Thanks, will envestigate.

[2017-03-20 01:55] patchthecode commented on #296
made good progress on this. Expect a massive update in version 7.0.0
Code is ready. Just doing final tests.

[2017-03-20 02:41] patchthecode commented on #291
This feature has now been added on 7.0.0 Branch.
Closing.

[2017-03-20 02:41] #291 closed

[2017-03-20 03:10] chrisfngr opened #348 "Compare date"
Hi I want you give event on a specific date, but I can't use == to compare two dates, but < and > is work well, so how should I do, please give a specific answer, I am not very familiar with  swift.
Thank you

[2017-03-20 04:13] patchthecode commented on #348
I appreciate the question, but it is not calendar related.
Does this link answer your question? -> http://stackoverflow.com/questions/39018335/swift-3-comparing-date-objects

[2017-03-20 04:13] #348 closed

[2017-03-20 04:23] chrisfngr commented on #348
my code is like this, date id from method argument, today = NSDate(),
let date1 = date
        let date2 = today
        if date1 == date2 as Date{
            print("h")
        }else if date1 < date2 as Date{
            print("s")
        }
i try this code only work when date is early, and also date == today it still print "s", so i am very confused this thing

[2017-03-20 04:59] patchthecode commented on #348
http://stackoverflow.com/questions/5540271/how-to-compare-just-dates-not-the-time

[2017-03-20 09:00] patchthecode commented on #263
I think I have now fixed this.

[2017-03-20 09:02] patchthecode commented on #337
closing this issue unless for information comes to light.
Version 7.0.0 on separate branch has many fixes and performance enhancements.

[2017-03-20 09:03] #337 closed

[2017-03-20 12:21] MaikoHermans opened #349 "Year view support"
I was wondering if it is possible to build a "year view" with this library.
I saw that you mentioned somewhere that it was being worked on back in sept 2016.

I was wondering if it is available now since that is exactly what I need

[2017-03-20 13:35] cooderatgit commented on #22
Hi, I am not sure whether I am intruding here. Please advise if so. My question is related, where I want the label text color to change when user taps; the didSelectDate delegate would recognize the tap only after the finger is shifted. However, I want the color to change when user starts pressing on the cell, much like with a button. How will I be able to do that? Thanks

[2017-03-20 15:57] dbmrq commented on #263
Awesome, thank you. :)
How about the orientation stuff, any news?

[2017-03-20 15:58] patchthecode commented on #263
Almost done.

[2017-03-20 15:59] dbmrq commented on #263
Cool, thanks! 🎉

[2017-03-21 00:04] quaddef opened #350 "[7.0 Beta] Selection bug"
Step 1. Select several days.
<img width="340" alt="screen shot 2017-03-21 at 2 27 04 am" src="https://cloud.githubusercontent.com/assets/5310289/24126781/f8fcf7e0-0de0-11e7-9aaf-d1faecdd5650.png">
Step 2. Deselect one in the middle, in my case it's "9"
<img width="327" alt="screen shot 2017-03-21 at 2 27 20 am" src="https://cloud.githubusercontent.com/assets/5310289/24126802/224a30b8-0de1-11e7-898

[2017-03-21 09:33] boborbt commented on #345
A possibly related problem: in my app when I select a date programmatically, the didSelect method always receives cellStates that report the date being in "thisMonth" even when they are way past the current month (even when they are not even visible).

If you believe that this is a separate problem I can open a new issue.

[2017-03-21 09:48] patchthecode commented on #345
@boborbt that sounds like a totally new issue.
open a separate one, i'll look into it in the morning.

[2017-03-21 11:00] boborbt commented on #345
ok

[2017-03-21 11:14] boborbt opened #351 "incorrect information reported by cellState in the didSelect delegate method"
For context here is the current month visualised by the calendar:

![screenshot](https://cloud.githubusercontent.com/assets/204476/24144791/e0cb82ce-0e2e-11e7-99d1-a269644de777.png)

and here is  a screenshot of inspecting cellState in the didSelect delegate method (btw Marzo si  March in Italian):

![screen shot 2017-03-21 at 12 10 19](https://cloud.githubusercontent.com/assets/204476/24144916/5f

[2017-03-21 14:44] boborbt commented on #351
By the way: is there any way to make the shouldSelectDate be called even for programmatically generated selections? Alternatively: there is an easy way to determine if a given date is in the current month outside a delegate method?

Rationale: I would keep the logic necessary to decide if a selection should occur in a single place. Since this logic relies on whether the selection is in the current

[2017-03-21 16:19] patchthecode commented on #351
OK. Maybe the `thisMonth` concept is confusing.

cells have different descriptions depending on the month that they belong to:

If you physically touch the grayed out months `1` or `2`:
<img width="262" alt="screen shot 2017-03-21 at 9 12 33 am" src="https://cloud.githubusercontent.com/assets/2439146/24157453/9758dbd6-0e16-11e7-98c8-bae3b723fb73.png">
These 2 dates here a considered to be the `fol

[2017-03-21 16:22] patchthecode commented on #351
I can add this feature.

[2017-03-21 16:24] patchthecode commented on #351
Yes, I have several methods you can check out

1. `public func cellStatus(for date: Date) -> CellState`
2. `public func cellStatus(at point: CGPoint) -> CellState?`
3. `func cellStatusForDate(at row: Int, column: Int) -> CellState?`

[2017-03-21 17:40] quaddef commented on #350
I've simplified example, deselection doesn't trigger batch updates.

        let dateFormatter = DateFormatter(dateFormat: "dd-MM-yyyy")
        let firstMarch = dateFormatter.date(from: "01-03-2017")!
        let seventhMarch = dateFormatter.date(from: "07-03-2017")!
        calendar.selectDates(from: firstMarch, to: seventhMarch, triggerSelectionDelegate: false)
        calendar.deselectAllDates

[2017-03-21 19:42] boborbt commented on #351
Hi @patchthecode, thanks for your answers. I think I got the meaning of thisMonth correct, my confusion was about the fact that I assumed that the cell was the displayed cell, not the one in the next month. I think the name is perfectly fine and when the user taps cells they work as expected. I guess I am making a mistake related to the one I already did few weeks ago when you helped me out anothe

[2017-03-21 21:01] steventnorris-40AU opened #352 "reloadData does not call willDisplayCell"
Currently, calling .reloadData() on my calendar view does not call willDisplayCell in my delegate.

In my code, I call this:

[code]

Putting a breakpoint on that reload call, I then place breakpoints in my delegate method:

[code]
The code never reaches willDisplayCell after reloadData, which I need so my newly deselected cells will display properly without highlighting. It looks like reload shou

[2017-03-21 21:09] patchthecode commented on #351
Ah. I think I know what you are thinking.

I guess that because your screen has full month  of cells displayed,
you therefore think that selecting the `1st` should select the grayed out April 1st cell (or at least return the grayed out April 1st cell in your didSelect delegate).

But here is the thing,
on your app you have a full month of cells displayed.
But it could be that on someone else's app

[2017-03-21 21:11] patchthecode commented on #352
Ok, this is odd. What version of the library are you using?

[2017-03-21 21:16] steventnorris-40AU commented on #352
I am using version 6.1.5. This is the version I started with with this project. Ironically, if I call reloadDates it does hit my willDisplayCell, but not with reloadData.

[2017-03-21 21:18] patchthecode commented on #352
ok, then  i must have had some error introduced somewhere.
Can you check the master branch and see if the error is already fixed there?

You can test the master branch by [Following the quick instructions here](https://github.com/patchthecode/JTAppleCalendar/wiki/Common-Questions)

If it is still not fixed on master branch, then i will look into this after work.

[2017-03-21 21:25] steventnorris-40AU commented on #352
Tried master, but it bombs on this line:

[code]

Getting a nil error:

`fatal error: unexpectedly found nil while unwrapping an Optional value`

[2017-03-21 21:29] steventnorris-40AU commented on #352
For anyone that runs across this issue while it's being fixed, the workaround is to just grabbed the selected dates or dates you want to reload prior to doing any manipulation, do your manipulation, the reload those specific dates.

[code]

[2017-03-21 21:31] patchthecode commented on #352
Thanks for the investigation. I'll look into this after work.

[2017-03-22 01:07] fwhite3443 opened #353 "Calendar Day Cell Refresh"
Hi,

I'll start by saying that I'm not sure this if this is a bug/issue with JTAppleCalendar, or if it's an issue with the way I'm trying to use it.  Figured I'd post to see if you have any ideas...

I have a custom calendar cell view (derived from JTAppleDayCellView) that maintains state data and overrides the draw function to draw decals on a cell.

The problem I'm having, is that when the calen

[2017-03-22 02:27] patchthecode commented on #352
if youre online now: join here -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-03-22 03:33] patchthecode commented on #352
Added the `Wont Fix` tag to this.
Will close this as it is resolved in version 7.0
Release time will be in about 1 week

[2017-03-22 03:33] #352 closed

[2017-03-22 03:35] patchthecode commented on #353
Hey, is it possible you can zip a small project and send it here?
You can drop the zip file into this chat box.
Let me take a look.

[2017-03-22 04:01] fwhite3443 commented on #353
Not super keen on dropping the zip on a public forum... could email you something?

[2017-03-22 04:26] fwhite3443 commented on #353
Hey, you can close this out invalid for now if you want.  Once I figure out what's going on, I'll update.  Worst case, I'll throw together a sample project that reproduces the issue when I have time if I can't figure it out.

[2017-03-22 04:52] patchthecode commented on #350
Let me know is this is fix.

[2017-03-22 04:54] patchthecode commented on #353
ok. Email is here -> Patchthecode@gmail.com
Let me know when you do find updates

[2017-03-22 05:05] jamesjmtaylor opened #354 "Broken cell refresh after rangeSelection v6.1.5"
![cellrefresh](https://cloud.githubusercontent.com/assets/17860994/24199590/6be9df3e-0ec7-11e7-82ac-65513a0a7f50.gif)

I've searched the tutorials and guides as well as the open & closed issues.
My program has a couple issues right now, all demonstrated by the video link in the link above & pasted pictures:
1) Previous versions 'canSelectDate' prevented selection of dates before today; now it does

[2017-03-22 05:22] patchthecode commented on #354
I have been slowly trying to make the function names more  consistent.
the `canSelectDate` date function is no more called by that name.
here is the new function

[code]

[2017-03-22 05:39] patchthecode commented on #354
That video link is broken. But you can describe the 2nd problem more when i'm online.
I'm usually here all day  -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-03-22 08:39] boborbt commented on #351
Hi. Thanks for the answer, this makes a lot of sense. How, then, I determine if advancing the selection by 1 day will make it to "overflow" in the greyed out cells?