[2016-08-15 06:05] mrjimoy commented on #108
This is on **viewDidLoad()**:
[code]
And this is the delegate:
[code]

I omit some of the code but if you required it for your inspections, please let me know..

[2016-08-15 13:26] mecid commented on #111
Great! Can i use master branch via cocoapods?

[2016-08-15 16:21] patchthecode commented on #111
yes you can with the instructions [here](https://github.com/patchthecode/JTAppleCalendar/wiki/Common-Questions#8). However, please know that master branch contains upcoming features and that some things have changed. So please prepare your app for with changes by following the instructions [here](https://github.com/patchthecode/JTAppleCalendar/wiki/Message-to-testers-working-on-master-branch)

[2016-08-15 17:07] patchthecode commented on #108
My code works perfectly :/

Here is my code logic for the range selection (you did not give me yours)
[code]

I have placed this code inside the following  2 functions:
[code]
And
[code]

if you still can get it to work, message [here](https://gitter.im/patchthecode/JTAppleCalendar)

[2016-08-16 02:29] mrjimoy commented on #108
Mannnn, so sorry, after I tidied up my code, it works perfectly :(

I modified the code under switch cellState.selectedPosition()..

[2016-08-16 02:29] #108 closed

[2016-08-16 04:03] patchthecode commented on #108
great 👍

[2016-08-16 07:02] shayanjalil opened #112 "Unexpectedly found nil exception while selecting a cell"
Hello,

I love this calendar, it's very customizable and super easy to use and understand.

I'm facing one issue though, when I select a cell, I get this exception 'unexpectedly found nil while unwrapping an Optional value'. This exception is thrown before the 'didSelectDate' delegate method is called.

The cell selection works fine when I do it on the initial month that is displayed. But whenever

[2016-08-16 07:16] #112 closed

[2016-08-16 07:17] shayanjalil commented on #112
I'm sorry for being in a hurry. I found out what I was doing wrong. In the collection view didDeselectItem delegate method it is mentioned that if the month view is switched, the cell may be nil. That's why I was getting the exception.

[2016-08-16 09:22] patchthecode commented on #112
Great. Glad you like the lib.
And awesome you found the issue  😄

[2016-08-17 17:10] #111 closed

[2016-08-18 23:32] patchthecode commented on #106
I have now converted this to swift 3.
It is located on the [Swift 3](https://github.com/patchthecode/JTAppleCalendar/tree/Swift3) branch

[2016-08-19 19:28] rpbrokaw commented on #38
I am interested in providing a calendar view that shows 3 weeks, regardless of month or sections. The behavior would be non-scrolling and show the current date in the first rows week and then the upcoming 2+ weeks following. Any pointers? Based on this issue, it seems that may be outside of the current design?

[2016-08-19 20:16] patchthecode commented on #38
I am having a hard time following your design. You can join me [here in chat](https://gitter.im/patchthecode/JTAppleCalendar) as its faster. If you're unable to join, can you please be specific as to what is "3 weeks" ? How many rows and how many columns? Join chat though, its faster.

[2016-08-19 23:22] #106 closed

[2016-08-20 22:09] danielhaan opened #113 "Adding day tags to header (MTWTFSS)"
Hello!

I have been looking for a propper calendar implementation for swift for a while, and I was very pleased when I stumbled on this framework.

I have been able to set it up almost as I desire, however, I am having an issue figuring out how to add the typical M T W T F S S letters at the top of each column.

Just like the guy who did the purple calendar.

I could easily just place the labels u

[2016-08-20 23:22] danielhaan opened #114 "Cells displaying faulty information - "Today" cell is shown everywhere seemingly randomly"
Hello. I found another problem, which may be a bug with the way cells are setup before being displayed.

I have followed your example code, and in my Cell class I compare the cell's date with today, and if they are the same day, I set the label to be red, and add an additional label with the text "today" for testing purposes.

![screen shot 2016-08-21 at 01 12 00](https://cloud.githubusercontent.c

[2016-08-20 23:27] danielhaan commented on #114
Ok, I just tested some more, and the date comparison (the uncommented one) was accepting arbitrary dates with a 24 hour range in between, so I reverted to the commented one. It is however the standard NSCalendar method for comparing 2 dates, so I assume it is working as intended :)

[2016-08-21 09:59] patchthecode commented on #114
ok. will check this out in the morning.

[2016-08-21 09:59] patchthecode commented on #113
ok will check this out in the morning.

[2016-08-21 16:51] patchthecode commented on #114
I do not think your problem is in the date comparison function.
I do not know your code, but I suspect that you are doing something like:

[code]

but are you missing the else part?

[code]

The date cells are exactly like a UITableViewCell. They are being reused, so you need to setup the cells properly every time. Let me know if this resolved your issue.

[2016-08-21 17:16] patchthecode commented on #113
The calendar does not provide headers. You will need to do this your self. This means you can customize it to your linking.

If you want the size of the labels to match the size of the calendar for any device size, then why not use the same method you used you have used for the calendar?
I assume you might be using auto layout constraints?

In the example code attached to this project, I have a ca

[2016-08-21 17:59] danielhaan commented on #114
I was calling "return" in the function, so that it wouldn't modify the today stuff more. I have formatted it like so instead, so it makes more sense:

[code]
However, this makes no difference. I am still getting the weird extra cells with a red circle, even though the cells, where it isn't today, the label is black, and not white, as one would expect in the above code.

I'll try some more stuff, a

[2016-08-21 18:02] patchthecode commented on #114
can you join me here? https://gitter.im/patchthecode/JTAppleCalendar

[2016-08-21 18:21] #113 closed

[2016-08-21 18:21] danielhaan commented on #113
Thank you!

[2016-08-21 19:18] danielhaan commented on #114
Thank you so much!
It works flawlessly now.

It makes sense, that seeing as the cells are reused, you need to remove stuff you added to them.

Cheers! I'll post a cool screenshot, when the app is completely done.

[2016-08-21 19:18] #114 closed

[2016-08-21 19:26] patchthecode commented on #114
awesome!
It's great when people post their work to inspire others. 👍

[2016-08-21 21:07] danielhaan commented on #2
![img_5099](https://cloud.githubusercontent.com/assets/12447089/17839802/d1c96a98-67f3-11e6-8f53-8a590d5554ae.PNG)

Here is my app using this library :) Cudos to @patchthecode for helping me resolve many issues along the way. You should all follow him!

[2016-08-22 01:42] patchthecode opened #115 "Scroll to negative inset on Vertical mode causes crash when there are no headers"

[2016-08-22 03:18] #115 closed

[2016-08-22 23:36] mecid opened #116 "Headers not showing in last library version"
Headers disappears after update to the last version of JTAppleCalendar.

[2016-08-23 03:37] patchthecode commented on #116
??
OK. thats bad.

Can you show your viewDidLoad code?

[2016-08-23 11:31] ChanchalW opened #117 "Not getting correct month when scrollToPreviousSegment() and scrollToNextSegment()"
Hello pathcthecode
I updated pods and using 5.0.1 version.

[code]
but i am getting incorrect  currentSegmentDates.dateRange.start. , but it works correct when i get start date in  didScrollToDateSegmentStartingWithdate. It was working fine in previous version.
One other thing is it is taking a lot time to load cells in delegate and hangs UI.
Thanks please reply as soon as possible..

[2016-08-23 12:53] patchthecode commented on #117
if you want a fast reply, can you join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2016-08-23 15:59] mecid commented on #116
Fixed, thanks!

[2016-08-23 15:59] #116 closed

[2016-08-23 20:01] jfo713 opened #118 "Issue Setting Background in setupCellBeforeDisplay from CloudKit"
There's probably a simple solution to this - I'm a pretty new developer.

I'm trying to set my cell background color by syncing it with CloudKit - I have 3 different types of dates in my CloudKit record, and have written a function to sort them into 3 different arrays of [NSDate]. Then in a separate function, cellState.date == an object in one of the arrays, it will set the appropriate background

[2016-08-23 21:16] patchthecode commented on #118
Would [this](https://github.com/patchthecode/JTAppleCalendar/wiki/Common-Questions#9) be of help to you?

[2016-08-24 09:01] patchthecode commented on #117
Issue resolved after dateFormatter was properly configured.

[code]

[2016-08-24 09:01] #117 closed

[2016-08-24 16:18] jfo713 commented on #118
Thanks - that definitely helped, and sorry about not taking a closer look at the FAQ. I've been going through your delegate methods and a few other people's calendars, and am trying to understand where I define/access the dequeueReusableCellIdentifier set up on the collection view used for the CalendarView. Do I need to define a custom CalendarView class that inherits from JTAppleCalendarView, and

[2016-08-24 16:45] patchthecode commented on #118
Can you let me know what you are trying to do?
I do not think you have access to that identifier.
you can join me [here](https://gitter.im/patchthecode/JTAppleCalendar) if youre online.

[2016-08-25 08:04] patchthecode commented on #118
Issue resolved over chat. If you have any other problems, create a new issue.

[2016-08-25 08:04] #118 closed

[2016-08-25 13:42] fogisland opened #119 "JTAppleCalendarView can not call method init(frame: CGRect)"
Really strange, I'm using the latest version 5.0.1,  `init(frame: CGRect)` is clearly overrided in JTAppleCalendarView.swift. However when I call `JTAppleCalendarView.init(frame: CGRectZero)`, error is announced as below:
` Incorrect argument label in call (have 'frame:', expected 'coder:')`.

( I tried the code in the example project, this issue still exists )

[2016-08-25 17:49] patchthecode commented on #119
Hmm. ok, can you let me know the end goal or what you are trying to achieve?

I am unsure why you are calling `JTAppleCalendarView.init(frame: CGRectZero)`

[2016-08-25 19:15] patchthecode commented on #119
If thats what youre trying to do however, can you do this and tell me if it works?

Inside the `JTAppleCalendarView.swift` file, you will see the function
[code]
can you change it to the following?
[code]

If it works I will add that enhancement in the next release. But in the mean time, you will have to use it with that modification.

[2016-08-26 02:06] fogisland commented on #119
Yes it works after adding `public` to the `init` method, I should have figured out the swift access control problem myself...thanks a lot !

I need to call `JTAppleCalendarView.init(frame: CGRectZero)` because I construct the UI all by pure code with some auto layout framework(snapkit), I don't like use storyboard/xib.

[2016-08-26 04:57] patchthecode commented on #119
Understood. I'll make it public in the next release.

[2016-08-29 03:16] dbmrq opened #120 "Carthage support"
Hey, [once upon a time](https://github.com/Mozharovsky/CVCalendar/issues/267#issuecomment-204848700) you said you wish I'd find bugs in your library… well, you should be careful with what you wish for, haha.

I just decided to give it a try and I use Carthage. I see it's not "officially" supported (there aren't instructions in the readme and repo doesn't have that little badge), but a few people m

[2016-08-29 03:20] patchthecode commented on #120
Ah you remember! haha :)

Well, for carthage support.. hmmm.
I think there is just one change i need to make for that. Making it shared or something like that.
I'll look into it.

[2016-08-29 06:50] patchthecode commented on #120
Support has been added.
You'll have to use the master branch since the 5.0.1 release does not support it.

useage: `github "patchthecode/JTAppleCalendar" "master"`

[2016-08-29 08:19] dbmrq commented on #120
Works like a charm, thank you! 🎉

[2016-08-29 08:19] #120 closed

[2016-08-29 15:56] ialqwaiz opened #121 "didScrollToDateSegmentStartingWith"
Hello,

I've built my calendar in a monthly style. Above that, I've added a label for the month.
I tried to use 'didScrollToDateSegmentStartingWith' to update the month when the section changes but it didn't fire at all. I'm not sure if I'm doing that the right way.

1- how can I know when the section has changed (to the next month)
2- What 'didScrollToDateSegmentStartingWith' is used for?
3- What

[2016-08-29 16:52] patchthecode commented on #121
hmm. ok.

1. What version of the calendar are you using?
2. Did you just update from a version 4.something to 5.something?
3. What is the name of the delegate function? You said it was `didScrollToDateSegmentStartingWith`, but can you write out the **full** function?

[2016-08-30 03:05] dbmrq commented on #56
I'm also looking forward to this feature.
Just one more thing to consider: I think in horizontal scroll mode the height of the calendar view should be adjusted, instead of just redistributing the visible rows in the available space (which I assume will be done for vertical scroll mode).
So we could do something like this out of the box:

![2016-08-30 00_04_18](https://cloud.githubusercontent.com/a

[2016-08-30 04:56] patchthecode commented on #56
@dbmrq

I am currently working on this code. It is the final massive upgrade to this calendar. Then this library will be complete. I cannot foresee any other major updates that this library will need after it is complete.

Concerning how it will look, I will not let it auto adjust like the other calendar frameworks. I think this is bad design. By making it autoadjust, the library is assuming that

[2016-08-30 05:40] dbmrq commented on #56
Sounds awesome. :)

You're right, I meant the resizing as an option, not something that should be imposed. The changes you mentioned would already be a huge help, and it fits with the library's philosophy of letting the user set things up himself.

That being said, I see you're trying to make JTAppleCalendar more popular, and I think it definitely deserves to be, so here are my two cents. A while

[2016-08-30 06:34] patchthecode commented on #56
@dbmrq wow. Thanks for your kind words! And your advice makes a lot of sense. I really like the DIY approach, but it seems programmers are lazy :/

So I will follow your advice.
I will still have it DIY, but I will have initial setup code in such a simple manner, that all the developer has to do is copy and paste it. From there, they can customize the library as they please.

Also, This library al

[2016-08-30 06:39] patchthecode commented on #56
@dbmrq one last question though, was the screenshots of what users have created with calendar helpful in choosing this one? --> https://github.com/patchthecode/JTAppleCalendar/issues/2

I thought this page would encourage devs to use it, but it seemed you still passed it by.

[2016-08-30 08:39] ialqwaiz commented on #121
1. The version is (5.0.1)
2. I just tried this function in the current version
3. This is my code:

[code]

- The scrolling is done by swiping right and left. The "segment changed.." is note printed in the console.

Thanks.

[2016-08-30 09:44] patchthecode commented on #121
So, i am a bit confused now. Is it working now?
Is the label changing?

try printing the date. If printing the date works, then all is fine right?

[2016-08-30 16:00] pisupatis opened #122 "Unable to set the CalendarView delegate"
Hi,
I have created the JTAppleCalendar.framework and imported it into my sample project.

The calendar view gets created but the JTAppleCalendarViewDelegate methods are not fired.

I did set the `calendarView.delegate = self and calendarView.datasource = self` and defined the `extension ViewController:JTAppleCalendarViewDelegate, JTAppleCalendarViewDataSource`.

Apparently, the data source methods

[2016-08-30 16:22] patchthecode commented on #122
If you are online, can you join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2016-08-30 16:27] patchthecode commented on #122
If you are unable to join chat, did you just update from a lower version 4.something?

The method will always fire. It will only _not_ fire if you have the wrong name for the delegate method. You will have to tell me the full name of the function you are using for the delegate method.

[2016-08-30 20:21] dbmrq commented on #56
@patchthecode

Well, the first time I looked here the screenshots weren't there yet I think. They do help with an idea of what you *can* do with the library, but at the same time they can make the users even less sure of what they *will* do, so I'm not sure it's the best headline. I think it would be better marketing to have a minimal readme with a couple of very simple screenshots and some text t

[2016-08-30 20:36] patchthecode commented on #56
@dbmrq see why I wished you were giving advice when I started this? Haha, you make a lot of sense man. I will update the readme and the code etc as soon as I finish this final code update.

[2016-08-30 21:40] dbmrq opened #123 "Style, naming and other minor nitpicking"
You asked if I had any other suggestions… well, JTAppleCalendar is already awesome, and it works great, but here are a few thoughts, mostly just some tiny details that I think could be improved.

Take these methods, for instance:

[code]

Why is the colon next to `calendar` in the first case but separated with a space in the second? There are many other similar inconsistencies. I suggest you give

[2016-08-30 22:54] patchthecode commented on #123
1. Concerning swiftLint. you are right. I promoted it on reddit and there was a conversation with one guy mentioning the very same things [here](https://www.reddit.com/r/swift/comments/4zuxcb/so_you_need_a_calendar_view_in_your_ios_app_apple/). The user name of the guy is called `nhgrif`, you can see his comments there. So yes we can do swift lint. The problem is man power. Any help is appreciated

[2016-08-30 23:17] patchthecode commented on #123
Thoughts on rethinking Number#4

Ok I think i remember my thoughts which made me register using a property.

If the User provides the view in a `cellForDayAtDate` function, then i thought the User might do inefficient things in that function things which might cause the calendar to lag. Also, the user would maybe at most want just about 2 or 3 cell types. But that function will be called before ev

[2016-08-30 23:53] dbmrq commented on #123
Ah, yes, he makes some good points. :)

I have to update my app to swift 3 soon and then I'll try to add SwiftLint here and clear its warnings on the swift 3 branch if I have the time. As for item 3, yes, I was actually referring to the swift 3 branch; I can still find examples of the naming conventions not being followed there. I'll try to fix that too and make a PR.

About your last message, I d

[2016-08-31 00:14] dbmrq commented on #123
Ah, I just realizes you already use `UICollectionReusableView`. I don't know much about working with `UICollextionView`s (clearly), but I see they also have a `cellForItemAtIndexPath` method, so it would be just like that, except we'd have a `cellForItemAtDate` method and we'd get a cell there with `dequeueReusableCell` just like in table views and appartly collection views too.

[2016-08-31 03:07] pisupatis commented on #122
Hi,
Thank you for your quick response. Yes, the delegate methods are old ones not the ones from Swift 3 branch. I didn't realize the function signature changes in the Swift 3 branch.

Really appreciate your quick response. This library is really awesome 💯 👍

Best regards!!

[2016-08-31 03:07] #122 closed

[2016-08-31 04:37] patchthecode commented on #122
ah yes, XCode made a bunch of changes for the signatures of swift 3.
Cheers.

[2016-08-31 05:42] patchthecode commented on #123
hmm..

Inside the `setupView` function, I have this line of code:
[code]
This means that although the dev's xib view is created for every cell (as you have correctly said), the xib view  is only instantiated once.
So lets say we have a 6x7 calendar = 42 cells.
This will only be run 42 times, for the first 42 cells displayed on the screen.

For all other times, the developers xib view will not be i

[2016-08-31 18:12] dbmrq commented on #123
Ah, ok, now I get it, sorry.

Yes, what I had in mind was something like that, but now I see it wouldn't be that easy to do that and use the native reusable cells at the same time. So I guess your current solution is probably the easiest and it works well enough.

It would be nice if `JTAppleCalendarView` were directly a subclass of `UICollectionView`, then the user could just drag a collection vi

[2016-08-31 18:56] patchthecode commented on #123
Hmm. you know. lol, that UICollectionView direct subclass sounds like a good idea haha. The code change would be very minimal, and the benefits would be incredible. I will look into it. I'm about 60% finished coding

[2016-08-31 19:02] patchthecode commented on #123
wow.. thinking about it. A direct UICollectionView subclass is an even better idea than Number#4 yesterday! I will definitely look at it once i'm done. dang. I see no conflicts with it in my mind right now.

[2016-08-31 21:21] dbmrq commented on #123
Yes, if it works out I think it would be pretty great. :)

One reason to put the `UICollectionView` in a `UIView` is dealing with the delegate, like this guy suggests here: http://stackoverflow.com/a/26083072/3539651

But I think we can work around that by using getters and setters like those other answers suggest, or if that doesn't work we can just declare a new property like `calendarDelegate`.

[2016-09-01 00:58] patchthecode commented on #123
Yea. sure man, you can go ahead. You sound like someone who does neat code.
I'll almost done the changes.

[2016-09-01 06:55] xoniq opened #124 "How can I use pod file for Swift 3?"
Hi!

I want to install this calendar using cocoapods, but is the Swift 3 branch also available?
If not; what is de best practice to install the Swift 3 version?

[2016-09-01 08:34] patchthecode commented on #124
Swift 3 branch is available.

but its not an official release yet.
To use it, put this in your podfile.

`pod 'JTAppleCalendar', :git => 'https://github.com/patchthecode/JTAppleCalendar.git', :branch => 'Swift3'`

[2016-09-01 08:35] patchthecode commented on #121
You have not responded for 2 days. I will assume this issue is resolved.  If it is not, feel free to re-open this issue.

[2016-09-01 08:35] #121 closed

[2016-09-01 09:57] xoniq commented on #124
Thanks! That was what I was looking for. I'm quite new to pod files (previously just dragged stuff from source, but is time-wasting) and didn't know how to use it on a Git branch.

[2016-09-01 09:57] #124 closed

[2016-09-01 11:38] ialqwaiz commented on #121
Sorry for the delay, I just saw the reply.

I tried to check if it fires at all or not. as in the code above, I put `print("segment changed..")` command inside the function but it wasn't printed when I swiped the calendar, meaning that that function wasn't fired at all.

Thanks for your time.

[2016-09-01 12:44] leeprobert opened #125 "Dates start on row two"
I am seeing six rows as expected, but the dates start on row two, leaving me with a blank row and a missing date at the end. I have followed the tutorial to the letter. I've also tried to add a header but that hasn't shown at all. I am pulling from Cocoapods using the GIT method. Should I grab a particular version?
![img_1344](https://cloud.githubusercontent.com/assets/151336/18167726/0967f38a-704

[2016-09-01 13:11] patchthecode commented on #124
cool. cheers 👍

[2016-09-01 13:16] patchthecode commented on #121
You are using an incorrect function if it is not called.

you said you are using this:
[code]

When it should be this:
[code]

That is why I asked you if you gust upgraded from a version 4.something to 5.something.

[2016-09-01 13:18] patchthecode commented on #125
Would [this](https://github.com/patchthecode/JTAppleCalendar/wiki/Common-Questions#6) be your problem?

[2016-09-01 14:34] leeprobert commented on #125
I'm loading the ViewController as an embed in a container within another ViewController on the Storyboard. The vertical height is the same as the nav-bar space, but unchecking 'Adjust Scroll View Insets' didn't fix it. Trying some other things.

[2016-09-01 14:38] leeprobert commented on #125
Also, I threw in some background colours on the views and the space is happening inside my JTAppleCalendarView and not in the parent ViewControllers View.

[2016-09-01 14:38] patchthecode commented on #125
https://gitter.im/patchthecode/JTAppleCalendar

[2016-09-01 15:55] leeprobert commented on #125
This was resolved and was the issue with turning off the 'adjust scroll view insets' on the parent view controller. It has to be set on the View Controller referenced by the embed container AND also in the View controller hosting the container.

[2016-09-01 15:55] #125 closed

[2016-09-02 05:02] ialqwaiz commented on #121
Thanks for that.
I'll try it today and come back with the result.

[2016-09-03 07:10] Ashu commented on #56
@dbmrq How to resize the bottom constraint of the calendar view? I mean how do I know it the month will have 6 rows? I am facing the same issue.

[2016-09-03 07:12] Ashu commented on #56
@patchthecode The screenshots of what users have created with this calendar vary helpful in choosing this one over other calendars. Keep up the good work!

[2016-09-03 08:15] dbmrq commented on #56
@Ashu

[code]

[2016-09-06 15:55] deniszhukov opened #128 "The calendar doesn't resize itself when you put it inside of a UISplitViewController as master controller."
The calendar doesn't resize itself when you put it inside of a UISplitViewController as master controller.
It shows additional columns (more than 7 days) if it was bigger in storyboard designer or shows less columns if it was smaller.

<img width="400" alt="1" src="https://cloud.githubusercontent.com/assets/12587571/18280699/d09adf68-740e-11e6-97b3-f010651db3bc.png">

In landscape orientation you

[2016-09-06 17:01] patchthecode commented on #128
Will look into this in a bit

[2016-09-06 20:06] mazurio opened #129 "Week View (one row only)"
Hi @patchthecode

I am trying to use JTAppleCalendar with a weekly view (one row only) as this is what I had in my app. Having a month view makes sense for iPhone 6 and 6+ but it's too big for iPhone 4 and iPhone 5.

My problem is that you can have a week which starts with "29, 30, 31, 1, 2, 3, 4" but if you scroll left you will get "5, 6, 7, 8, 9, 10, 11".

Any idea how can I get rid of those ext

[2016-09-06 20:52] patchthecode commented on #129
You would be talking about this -> https://github.com/patchthecode/JTAppleCalendar/issues/56

This is currently being worked on and is the final upgrade for this calendar.
It will allow a user to enable/disable the `in-date` and `out-date` cells.

[2016-09-06 21:15] patchthecode commented on #129
Btw, just to clarify,
When you say "get rid" of the cells, do you mean to make them hidden? or do you mean to make them not generated?

If they are hidden, there will be some space there which indicates that they are there, but are just invisible,
If however, they are not generated, then there will be no space there. Following cells will be generated right next to each other with no space.

[2016-09-07 11:18] ro6inhoddie opened #130 "Setting Starting Date?"
If I want to set up the calendar to start up at a certain date (which is different than the startDate/EndDate boundary), how can i do that? without having to scroll to date, animately.

thanks

[2016-09-07 16:58] patchthecode commented on #130
just scroll to the date un-animatedly

have you look at the full list of parameters of the `scrollToDate` function?
[code]

[2016-09-07 16:59] #130 closed

[2016-09-07 19:59] mazurio commented on #129
HI @patchthecode

I meant - not generated.

[2016-09-07 20:00] mazurio commented on #129
I have read https://github.com/patchthecode/JTAppleCalendar/issues/56 but it's still quite confusing how I would like to achieve this.

Also any dates for the release? :)

[2016-09-07 22:26] patchthecode commented on #129
yesterday it was 45% completed. Today Its 85% completed.
I can't predict a release though. I will have to test it.

In terms of how you will be able to achieve this, it will be simple.

I will give you an option to turn inDates either`on` or `off`
and
I will give you an option to turn outDates either`on` or `tillGrid` or `tillRow`

<img width="373" alt="screen shot 2016-09-07 at 3 17 33 pm" src="h

[2016-09-08 08:59] mazurio commented on #129
That's brilliant - is the branch DynamicGeneration? I don't mind taking a look too. Thanks for all hard work!

[2016-09-08 17:47] EAZYE9000 opened #131 "Editing particular dates"
Do you have any idea if this is possible? I have a Realm Database with NSDates stored. Is it possible to highlight/change colour of the stored dates on the calendar?
No need to worry about the Realm side, just is there a function or something that pretty much does "For these particular dates, do something, on the calendar" (in this case cell.text to green)
Cheers!

[2016-09-08 18:01] patchthecode commented on #131
You can do anything you want with your dates. Literally anything. The design is up to you. Have you seen waht people have made with this library yet --> [here](https://github.com/patchthecode/JTAppleCalendar/issues/2)

[2016-09-08 18:07] patchthecode commented on #129
Edited my explanation above to include `off` for outdates

[2016-09-08 19:14] EAZYE9000 commented on #131
Wow, those look amazing. Didn't realize how good you can get it looking. Im still stuck though, how would I go about doing: For NSDate (say the 5th September) change to green on the calendar. So when I open the calender, September 5th is green? OR whatever date it is set as? Also how do I get the cells date value? Cheers!

[2016-09-08 19:16] EAZYE9000 commented on #131
For example on some of the examples show there looks to be an event on some of the dates. How have they added a yellow circule to indicate theres something on that date on the actual calendar? Cheers!

[2016-09-08 20:45] patchthecode commented on #131
Have you tried downloading the example attached to this github project? It gives you an example to start with.

[2016-09-09 10:10] Rashesh-Bosamiya opened #132 "Put UIImageView on particular date."
Is it possible to put small UIImageView inside particular date?

[2016-09-09 10:24] patchthecode commented on #132
You can put what ever you want inside a date. check out this link --> [Here](https://github.com/patchthecode/JTAppleCalendar/issues/2)

[2016-09-09 10:26] #132 closed

[2016-09-09 14:36] benifunk opened #133 "Wrong Date & stops in August"
Hi Patchthecode,

thanks a lot for sharing this great calendar. I had downloaded the latest version of your calendar.
I played around with your example app.
1.) The label has is always one month back example: The calendar with the label selected 9th of August but output is "Selected dates ---> 2016 09 09".
2.) The calendar only works from January 2016 - till August 2016, I cannot go to September b

[2016-09-09 14:50] Rashesh-Bosamiya commented on #132
Thanks a lot!

[2016-09-09 17:54] patchthecode commented on #133
1. Is this issue happening on the sample application?
2. What is your time zone? I have the example app's calendar's time zone configured to GMT.

[2016-09-09 18:34] #131 closed

[2016-09-10 05:15] benifunk commented on #133
Hi. The issue happens on the sample app. Currently I am in another time zone. I changed it. And that worked, thanks. But there seems to be a bug, when you are in another time zone and let your week start with monday. Than for example today 10th of september is shown as a friday.
But one thing I still cannot figure out. The Calendar only works till the current month, I cannot scroll to october or t

[2016-09-10 09:41] patchthecode commented on #133
Yea, the sample code is just a sample.
I configured it for my time zone.
You'll have to set it up for yours.

In the sample app, The SUN | MON | TUE | WED | THU | FRI | SAT  header is not part of the calendar.
If you  look at the sample app, this is just a simple stack view with labels.
Therefore , if you change the start day to monday, you will need to change that. You can make what ever header y

[2016-09-10 09:45] benifunk commented on #133
Thanks you for your fast reply.
But what´s with that:?

2.) The calendar only works from January 2016 - till September 2016, I cannot go to October (or further) by button or gesture.

[2016-09-10 14:05] mazurio commented on #129
Hi @patchthecode , any update on pushing the changes? Thanks, Damian

[2016-09-10 14:05] patchthecode commented on #133
You can set where you want the calendar to start, and to stop.
https://github.com/patchthecode/JTAppleCalendar/wiki/Setup-the-calendar-in-this-quick-tutorial

[2016-09-10 14:05] #133 closed

[2016-09-10 14:06] patchthecode commented on #129
yes.
pushing in 2 mins :)

[2016-09-10 14:06] mazurio commented on #129
Awesome stuff! @patchthecode

[2016-09-10 14:08] patchthecode commented on #129
Keep in mind. Other functionality might be broken ok. Its just the configure function that works, and displays the dates for now.

[2016-09-10 14:13] mazurio commented on #129
No worries, I will give it a try and thanks for letting me know - looking forward to stable version too.

[2016-09-10 14:17] patchthecode commented on #129
Yea. fixing the other functionality is easy and should be done quickly.
The hard part is complete.

[2016-09-11 16:59] thang2410199 opened #134 "Cell reloaded when programatically selected by code"
Hi, the default behavior is to reload cells in https://github.com/patchthecode/JTAppleCalendar/blob/master/Sources/UserInteractionFunctions.swift#L210

This cause problem with animating all the selected cells. I want to animate all the selected cell when I select a range of dates. I have a func to do that in didSelectDate, but the animation is cut short by the reloading.

If I remove your comment

[2016-09-11 17:37] patchthecode commented on #134
Thank you.
Now that I look at the code, I believe I might have forgotten to remove the condition as a comment.
I believe I had it commented for testing purposes, and I forgot to re-enable it on release. I'll fix this now.

[2016-09-11 18:16] mazurio commented on #129
Hi @patchthecode

It looks good apart this bit:

[code]

If OutDateCellGeneration is set to off then when you scroll to next month - some dates are missing on Monday, Tuesday, Wednesday? 👯

Looking forward to release as my app is quite dependant on this library. Thanks for all hard work!

[2016-09-11 18:18] mazurio commented on #129
Also (attaching screenshots), when OutDateCellGeneration is set to tillEndOfRow:

<img width="423" alt="screen shot 2016-09-11 at 19 18 00" src="https://cloud.githubusercontent.com/assets/6534301/18419504/833f92d2-7854-11e6-9c84-b32277165f0c.png">

We scroll right and see:

<img width="423" alt="screen shot 2016-09-11 at 19 18 02" src="https://cloud.githubusercontent.com/assets/6534301/18419505/8a

[2016-09-11 19:44] patchthecode commented on #129
Yes, I'm working on that last part. Vertical works well, but I found this bug yesterday. Working on it.

[2016-09-13 10:41] mvorisis opened #135 "Calendar moving also up and down inside the view."
Hello. And congrats for your great library. The best calendar is here 👍

So i've followed the wiki tutorial and also i saw the "example for iOS" that you have inside.

I've setted up the calendar as you say so but I have 1 issue and 1 question.

1 - Issue:

The callendar is moving also up and down inside the view although i have setted up the constrains.

2 - Question:

I'm going to add a bubble w

[2016-09-13 16:02] deniszhukov opened #136 "If you reload a date that belongs to a previous month, or a following month (in-dates and out-dates), it does not get reloaded, because the counterpart dates were not searched for."
Hi,
Thanks for your awesome calendar!

When I'm calling calendarView.reloadDates(updatedDates) and the date is from another month (for example, if month starts on Wednesday and I need to reload Monday and Tuesday) it doesn't call isAboutToDisplayCell with this NSDate.

Thanks for your work!

[2016-09-13 16:55] patchthecode commented on #135
I think i will change the example because it seems it is confusing you guys.

For issue # 2
The calendar is like a UITableView.
In a tableview, `cellForItemAtIndexPath` is where you setup your cell.
In this library, `isAboutToDisplayCell` is where you setup your cell.

For issue # 1, you'll have to show a screen shot or something, Im not sure i understand what you mean.

[2016-09-13 17:31] #136 closed

[2016-09-13 19:51] deniszhukov commented on #136
It works!
Thank you so much for such a quick reply.

[2016-09-13 20:17] patchthecode commented on #136
OK. since it works, i will patch this in the next release.

[2016-09-13 21:37] mazurio commented on #129
HI @patchthecode - Any update? Thanks for all your hard work again :)

[2016-09-13 22:27] patchthecode commented on #129
Hmm. Ok hey, maybe it might be best if you try another calendar in the mean time if this will impact your work.

I can only work on this project after my own work at the end of the day :)
It is sort of my blow-off-steam-from-work project.

I'm still coding that last part.

Currently vertical calendar works in all modes with the new code.
Horizontal calendar works in all modes except the one you wa

[2016-09-14 08:50] mvorisis commented on #135
ok I fixed issue # 1 I saw that you used stack views but my app is for ios8 and later so I couldn't do with stack view. So I used a simple uiview and put inside it the calendar.
Thanks for your answer

[2016-09-14 10:55] PetrosDavtyan opened #137 "Carthage support"
Is there any way to install JTAppleCalendar with Carthage?

[2016-09-14 15:12] probugtivity commented on #76
Hi, Is the JTAppleCalendar swift3 compatible? I have been using CVCalendar
and it does not work with swift 3. From what i gathered there is no plan
for support till end of year (at least).

On Tue, Jul 19, 2016 at 9:51 AM, JTAppleCalendar <notifications@github.com>
wrote:

[2016-09-14 17:01] patchthecode commented on #137
Support has been added.
You'll have to use the master branch since the 5.0.1 release does not support it. I will be supported officially in version 5.0.2

so for now, to use carthage, please do the following.

usage: github "patchthecode/JTAppleCalendar" "master"

[2016-09-14 17:01] #137 closed

[2016-09-14 17:05] patchthecode opened #138 "YES JTApplecalendar supports swift3. Read here for details."
Swift 3 branch is available.

but its not an official release yet.
To use it, put this in your podfile.

[code]

[2016-09-14 17:07] patchthecode commented on #76
@probugtivity please follow the instructions here for swift 3.

https://github.com/patchthecode/JTAppleCalendar/issues/138

[2016-09-14 17:45] patchthecode commented on #129
Ok, i think I might have made a break through.
The code is still messy, but I think it works. Will push to master branch in about 3 hrs

[2016-09-14 21:08] nouellette commented on #138
I'm seeing two errors with the Swift3 branch. I made the changes locally and it appears to work as intended.

![image](https://cloud.githubusercontent.com/assets/6297832/18530038/a32425d6-7a9d-11e6-919b-fdf6ece12f5a.png)

[2016-09-14 22:02] patchthecode commented on #138
Thanks. Is it possible you can do a pull request? I will merge your changes.

[2016-09-14 22:35] dbmrq commented on #138
@patchthecode I know you have a lot on your plate, but just so you know, the `swift3` branch apparently doesn't support carthage. Since you're making some big changes it might not be worth it to deal with this yet, I'm guessing the latest version will have to be converted to Swift 3 from scratch. Anyway, I'm looking forward to that. Then I'll work on adding swiftlint and the rest of the stuff we m

[2016-09-15 00:01] patchthecode commented on #138
@dbmrq the branch im making the changes on called `DynamicGeneration`.

have completed the code to do the in-dates and out-dates. I hope there are no bugs etc. heh.
You you mentioned swiftlint etc. If you are working on this, could you let me know the swift files you are working on so that there will be no conflicts?

[2016-09-15 00:20] patchthecode commented on #123
Changes are done.
Now I have to fix the userInteractionFunctions which should not take long at all.

Btw, do you think its a good idea to stop support for swift 2?
In my work we're now moving to swift3 so, I was wondering if pretty much every one else was doing the same.

[2016-09-15 01:07] alexpja commented on #138
I submitted a pull request [here](https://github.com/patchthecode/JTAppleCalendar/pull/139)

[2016-09-15 01:46] dbmrq commented on #123
Great!
I'm waiting until you're done with the bulk of your work and then I'll get started with the linting, so there won't be that many conflicts.

I think it's a good idea to have a stable swift 2.3 version for people who are still transitioning, but for the new stuff, sure, I'd leave swift 2 behind.

Is the `DynamicGeneration` branch already in swift 3? I'm on my phone now, I couldn't take a loo

[2016-09-15 02:19] patchthecode commented on #138
@alexpja thanks. merged

[2016-09-15 02:32] waterskier2007 opened #140 "swift 3 Cannot inherit from non-open class 'JTAppleDayCellView' outside of its defining module"
I am getting this error and I believe the classes need to marked as open vs. public so they can be used outside of the module where they are defined.

[2016-09-15 02:48] patchthecode commented on #140
I merged your request.
You can close this request if all is now well.

[2016-09-15 02:49] #140 closed

[2016-09-15 03:30] patchthecode commented on #123
DynamicGeneration branch should be in swift 3 by morning.
I'm converting it now.

[2016-09-15 08:37] patchthecode commented on #129
@mazurio hey, we're thinking of making that branch converted to swift 3. My work is moving over to that swift version.

[2016-09-15 14:37] rp4rk opened #142 "Rotating the screen does not place calendar at the same offset"
Currently having an issue where rotating the screen sets the date back or forward depending on clockwise/anticlockwise rotation. Anyone experienced this? I think it may be related to having a calendarview with dynamic width.

[2016-09-15 16:19] patchthecode commented on #142
What do you mean by rotating the screen sets the date?

Or maybe you can tell me this: What do you want happen when you rotate the screen?

[2016-09-16 07:39] rp4rk commented on #142
For example, I create a calendar and have the month displayed set to the current date. When I rotate the screen, the month/year suddenly changes +- 8 years depending on a clockwise or counter-clockwise rotation.

[2016-09-16 07:54] patchthecode commented on #142
Basically you're saying that the calendar scrolls to a new position when you rotate?

[2016-09-16 08:32] rp4rk commented on #142
Yes.

[2016-09-16 14:25] allemattio opened #143 "Repeated week between two months with one row calendar"
Hi @patchthecode
I'm using your calendar in one row mode to have a week view.
I have a strange behaviour and I don't know if it's a bug or a misconfiguration problem.
Here's the thing, suppose that I'm in this situation, with a week between two months:
![img_0068](https://cloud.githubusercontent.com/assets/2228264/18588870/89c19678-7c28-11e6-924d-93e70fcd64ae.PNG)

If I scroll left, I would like t

[2016-09-16 16:06] patchthecode commented on #143
Its not a bug. What you are seeing is what every one else is asking for in singlerow mode --> The ability to remove in-dates and out-dates.

If you notice, in 6-row mode, you will see grayed out dates represesting in-dates/out-dates of the previous month and following month.

<img width="373" alt="screen shot 2016-09-07 at 3 17 33 pm" src="https://cloud.githubusercontent.com/assets/2439146/1833059

[2016-09-16 16:13] allemattio commented on #143
Ok, I got the point. Thanks so much.
So I can try to use the DynamicGeneration branch or is it the same as master's situation?

[2016-09-16 16:16] patchthecode commented on #143
In Dynamic generation, thats where i am working on the code. You can test it out there.
However, some of the functionality is broken as I am still working on it. And I have a bunch of code to commit right now (which i still have locally). Working on the code still :)

[2016-09-16 16:17] patchthecode commented on #143
Keep in mind, the code will be in swift3

[2016-09-16 16:23] allemattio commented on #143
Ok thanks.
Another small question that I can't find in the docs.
Is possible to make the didScrollToDateSegmentStartingWithdate delegate method include the indates and outdates as the border of the segment, via a configuration parameter?
As an example, in the screenshot you posted the delegate would pass Feb 1st as start date and Feb 29th as end date, is possible to make it pass Jan 31St and Mar 1

[2016-09-16 18:46] patchthecode commented on #143
hmm. That is a good idea. I will include it a an enhancement

[2016-09-16 21:45] dbmrq commented on #123
I'll get started tonight. :)

[2016-09-16 21:57] dbmrq commented on #123
Uhm, now I just forked it and the branch isn't in swift 3 yet, right?

[2016-09-16 22:38] patchthecode commented on #123
I'm @ work. Making that last push in about 3 hrs.

[2016-09-16 22:41] dbmrq commented on #123
Ah, no problem, just let me know. I've got a lot on my plate too. Take your time. :)

[2016-09-16 22:57] patchthecode commented on #123
I have just pushed it.

The datein/dateout functionality should be working now. (not sure if there are bugs i did not find yet)

Massive code cleanup is needed. Will get to it once home. Maybe then we can split up stuff (if youre interested). Conversion is in swift3.

[2016-09-16 22:58] patchthecode commented on #123
Other userInteractionFunctions are still broken. Will also get to it.

[2016-09-16 23:57] dbmrq commented on #123
Sure, I don't have that much time, so it might take me a while to do my part, but I'm up for it.
You could make a checklist split in small tasks, like "fix function X", "add feature Y", and then we can take up tasks one by one when we have the time.
Let me know when the `DynamicGeneration` is relatively stable, preferably with the example app running, and then I'll add Swift lint and all. :)

[2016-09-17 12:33] antonijap commented on #138
I tried to use `pod 'JTAppleCalendar', :git => 'https://github.com/patchthecode/JTAppleCalendar.git', :branch => 'Swift3'` in my Podfile. It generated this:

<img width="574" alt="screen shot 2016-09-17 at 14 28 16" src="https://cloud.githubusercontent.com/assets/12565719/18608192/2be3e1c6-7ce3-11e6-92da-d75ebb385057.png">

Should I wait until you release it officially or...?

[2016-09-17 15:30] patchthecode commented on #138
When I did the first conversion, it was XCode 8 Beta. It seems that there are many changes when XCode final release came out. I can do a conversion today.

[2016-09-17 16:02] antonijap commented on #138
Perhaps. I removed a pod, then did a pod install. After that included a pod, again pod install and some errors disappeared. But I get missing files from this and some other pods.

[2016-09-17 16:23] alexpja commented on #138
@antonijap might be just your project. I made a new project with the Swift3 branch being the only pod and had no issues.

[2016-09-17 20:10] patchthecode commented on #123
ok. will let you know.
But just so you know, currently, im working on the file `JTAppleCalendarView.swift`

[2016-09-18 17:57] patchthecode commented on #142
OK I see the problem. Updates will be done there to fix this in the next release (which will be soon).
In the mean time, you might have to try fix the problem your self if you are up for it.

[2016-09-19 01:26] tizaks opened #144 "Swift 2.3 support"
Hey,

I can see some brief mentions of this, but wanted to check in to see where I could point Carthage to so I can get my project up and running with Swift 2.3. We have plans to move to Swift 3, but it's not something we can do immediately and we'd really like to continue using this project in the meantime.

If there's not currently support in the project, is there anything I can do to help?

Tha

[2016-09-19 01:59] patchthecode commented on #144
Yea currently there is no swift 2.3
If you help that would be awesome.
Simply create a branch called `swift2.3`
Do your conversion there and push the branch.
I will do a merge.

Its getting too much for me to maintain swift 2 and swift 3 haha.

[2016-09-19 11:14] mazurio commented on #129
Hi @patchthecode

Thanks for updates - been busy for last few days so couldn't reply.

I'm fine with Swift 3.

How are the updates going?

[2016-09-19 16:08] patchthecode commented on #129
Check it out.
I think its working. The code has already been committed. Currently, i'm running more tests for bugs. I haven't found any yet as of yesterday.

[2016-09-19 16:09] mazurio commented on #129
Is it the one for Swift3 or DynamicGeneration?

[2016-09-19 16:09] patchthecode commented on #129
DynamicGeneration

[2016-09-19 16:12] patchthecode commented on #56
@Ashu thanks.

[2016-09-19 16:12] #56 closed

[2016-09-19 16:16] patchthecode commented on #143
@allemattio by the way, could you let me know the reason for this upgrade?
I just need to know what the function does not already provide, so that I can make the best possible update.

[2016-09-19 16:18] #119 closed

[2016-09-19 16:19] patchthecode commented on #143
Also, this is now fixed on master branch. Testing is still in progress.

[2016-09-19 16:19] #143 closed

[2016-09-19 16:22] allemattio commented on #143
@patchthecode I need that because I have to put under the week calendar a grid with the events for the week, just like the iphone landscape calendar.
So to query for the events I always need to have the borders of the visualized segment.

Thank you so much, what is fixed? the duplicated week or the part about the segment limits?

[2016-09-19 16:28] patchthecode commented on #143
What was fixed was the original issue. The in-dates/out-dates feature.

Ok one thing, concerning, the new enhance you want, will it still be necessary since you might be removing the in-dates/out-dates for the single row calendar?

[2016-09-19 16:35] allemattio commented on #143
@patchthecode I think that now that won't be necessary.
Since I will have no outdates, the segment should be always of 7 days.
Thank you so much, really.

[2016-09-19 16:54] allemattio commented on #143
@patchthecode just a question. This is fixed for Swift 2.2 and will be pushed to master, right?

[2016-09-19 17:40] patchthecode commented on #143
Hmm... Its hard for me to both maintain swift3 and swift 2.2..

..... The people here have already  requested a swift 2.3 branch, but my work place have already migrated to swift3. As I have mentioned to them in this issue -> https://github.com/patchthecode/JTAppleCalendar/issues/144 , someone will have to  create a branch called `Swift2.3` and maintain it as it is difficult for me to maintain so

[2016-09-19 18:18] allemattio commented on #143
My project is in swift 2.2, sadly I don't think I'll have time to migrate it. I will try only if I can't workaround this issue

[2016-09-19 19:57] patchthecode commented on #143
Hmm. Well just so you know. Migrating is easy with XCode 8. It pretty much almost does every thing for you. But yea, some people will have to create a separate branch as it is a bit much for my plate.

[2016-09-19 20:29] allemattio commented on #143
On which branch and for which version have you fixed this Issue? 3 or 2.3?it's Also easy to migrate from 2.2 to 3 or only from 2.2 to 2.3?

[2016-09-19 22:54] patchthecode commented on #143
the branch i am making all the changes on is call `DynamicGeneration`
And I jumped straight from 2.1 to 3.
Most of the changes I had to make was done by XCode.
What you can do is save the old XCode copy, Download the new one, and try it.

[2016-09-20 07:57] allemattio commented on #143
I'm trying to bring the changes for the indate/outdate to the 2.2 branch, is it difficult?
I'm trying to find out the part of code that generates the cells, also by following the `DynamicGeneration` branch code, but I still can't find it.
If it not take too much time to you, can you give me some advice about where I can find that code so I can modify it to exclude/include indates/outdates?

[2016-09-20 11:34] danielhaan opened #146 "Swift 2.3 and 3.0"
Hello! First of all, I am uncertain about wether your library is for 2.3 or 3.0 atm.

I have updated my podfile, so that my project should run 2.3.

# Uncomment this line to define a global platform for your project
# platform :ios, '9.0'

target 'Project Saturn' do
  # Comment this line if you're not using Swift and don't want to use dynamic frameworks
  use_frameworks!

  # Pods for Project Satu

[2016-09-20 13:39] ukmarn commented on #146
@danielhaan I think that there is no version for Swift 2.3.
Use this in Podfile to run it with Swift 3.

`pod 'JTAppleCalendar', :git => 'https://github.com/patchthecode/JTAppleCalendar.git', :branch => 'Swift3'`

[2016-09-20 14:39] allemattio commented on #143
@patchthecode I tried converting the project to swift 3 to give a try to the code on the DynamicGeneration branch.
It was hard to migrate but I kind of made it, sweating a lot! :-)

Now, I saw the methods to generate indates outdates as said in [this issue](https://github.com/patchthecode/JTAppleCalendar/issues/129), but I think I have the same problem reported by the other user @mazurio , when sc

[2016-09-20 15:33] allemattio commented on #143
@patchthecode  I migrated my code to swift 3 to try the DynamicGeneration branch, I managed to remove indates by setting false in the delegate, and removed the outdates by setting .off.

Now,
In the month view of my app, which is a calendar configured with 6 rows, I have a small problem in the didScrollToDateSegmentStartingWithdate method, it returns me always the previous month.

In the week view

[2016-09-20 16:08] patchthecode commented on #143
Its a work in progress.
Thats why, it is not on the main branch yet.
I'm still working on it. Many little bugs here and there.
I should be finished soon though (if my real work doesnt bog me down with work. Since this is my side project)

[2016-09-20 16:14] patchthecode commented on #143
1st Day of week is not respected yet, because I have not completed the code there. It originally operated from the fact there is a defined 6x7 grid. But now, setting in-dates/out-dates on/off breaks this rule. So I have to code for that.

[2016-09-20 17:16] allemattio commented on #143
@patchthecode thanks, I won't bother you, I'll just peacefully wait for the fixes! :-)
Thanks again for your amazing work

[2016-09-21 04:01] patchthecode commented on #143
No worries. In fact, i actually need you guys to tell me where the bugs are.
I just made a push to `DynamicGeneration`. Can you let me know what else you find?

[2016-09-21 06:38] allemattio commented on #143
@patchthecode I will try it today and I will let you know. Just for knowledge, the branch `Swift3` can be considered stable?

[2016-09-21 06:53] allemattio commented on #143
@patchthecode I got this error:
cellCacheSection does not exist.
There was an error in this code section. Please contact the developer on GitHub
assertion failed: file <my project>/Pods/JTAppleCalendar/Sources/JTAppleCalendarView.swift, line 334

[2016-09-21 08:34] patchthecode commented on #143
ok.

1. Firs thing, why do you have to put it int he viewDidAppear method? What is the wrong with viewDidLoad?

2. Can you show me you `configureCalendar` function? In order to recreate your issue I have to know what type of calendar you have. **All** the settings for it. Eg. horizontal? vertical? Number of rows? etc etc etc. Just paste the `configureCalendar` function code

[2016-09-21 08:36] patchthecode commented on #143
Also, let me see your viewDidLoad code for the calendar please

[2016-09-21 08:38] allemattio commented on #143
@patchthecode  If I leave it in the viewDidLoad, it is not rendered correctly, it's not visible.

here is the function:

`
func configureCalendar(_ calendar: JTAppleCalendarView) -> ConfigurationParameters {

        let aCalendar = Foundation.Calendar.current
        if calendar == self.weekCalendarView {
            return ConfigurationParameters(startDate: CalendarDateManager.sharedInstance.cal

[2016-09-21 08:38] patchthecode commented on #143
Ok. Do you have headers registered?

[2016-09-21 08:39] patchthecode commented on #143
chat here is slow.. Mind joining me here? -> https://gitter.im/patchthecode/JTAppleCalendar

[2016-09-21 08:39] allemattio commented on #143
no, no headers.

here is the code called in the viewDidLoad

`
        calendarView.addWarrantBorder()

        calendarView.dataSource = self
        calendarView.delegate = self
        calendarView.registerCellViewXib(fileName: cellXibName)
        calendarView.cellInset = CGPoint(x: 0, y: 0)
        calendarView.reloadData()
        calendarView.selectDates([Date()])
        calendarView.scrol

[2016-09-21 08:41] allemattio commented on #143
sure, joining the chat

[2016-09-21 09:50] allemattio commented on #143
@patchthecode find this problem on the DynamicGeneration branch, with a calendar with 6 rows and this config:

[code]

The calendar has only 5 rows
![img_0080](https://cloud.githubusercontent.com/assets/2228264/18706236/7ae3719a-7ff1-11e6-8e3b-08eed34826df.PNG)

[2016-09-21 14:48] ReiVerdugo commented on #135
Hey, I'm having this problem with Swift 3 and Xcode 8. The view can move up and down when scrolling. I tried adding a stack view but that didn't work.
This didn't happen with Swift 2.2 and Xcode 7. Am I doing something wrong?
Thanks in advance

![simulator screen shot sep 21 2016 10 45 59 am](https://cloud.githubusercontent.com/assets/3844785/18715901/e15dc32a-7fe8-11e6-8efe-6b8125fde9a1.png)

[2016-09-21 15:02] mvorisis commented on #135
Did you try to put a uiview and put the calendar inside it?

[2016-09-21 15:08] ReiVerdugo commented on #135
Yep, and it didn't work. I tried setting the custom class and even putting the custom clase inside an UIView (and also Stack View). No results so far

[2016-09-21 15:21] patchthecode commented on #135
@ReiVerdugo is it possible that you can provide just a sample app with the problem? I would need to recreate this from my end. The calendar should not be bouncing up and down inside the view.

[2016-09-21 15:35] mvorisis commented on #135
In my case its working maybe you missed something, tomorrow I will test it with xcode 8 (because I don't have access now).
One more time what I did: Put a UIView setted up the constraints and then I put another uiview which I changed its class to jtapplecalendar and set the constraints top left bottom right to 0 0 0 0

[2016-09-21 16:30] patchthecode commented on #143
Ok one thing, when posting your code here, can you remove lines like this?
[code]

Can you replace it with the actual date string? I do not know what is the start date and endDates with those lines in there

[2016-09-21 17:22] ReiVerdugo commented on #135
I've found the error.
The problem with the view occurs when "Adjust scroll view insets" is checked and the view controller containing the calendar is embed in a navigation controller. I don't know if this happened in previous swift or xcode versions, but this time that seemed to be the cause.
Unchecking "Adjust scroll view insets" will fix it and the view will move up-and-down no more :)
Thank you

[2016-09-21 20:19] #135 closed

[2016-09-23 03:07] ialqwaiz opened #147 "JTAppleCalendar (5.0.1): cellState.text vs cellState.date"
Hello,
I'm working on a monthly view calendar and I've noticed that cellState.text returns different day than cellState.date (one day in difference). Here is my code:

[code]

The result is:

[code]

Please advise if I'm doing it wrong or if anything can be done in this regard.
Thanks

[2016-09-23 03:31] potluru commented on #2
![astrology-app-demo](https://cloud.githubusercontent.com/assets/3212247/18773366/661d5df8-8103-11e6-8347-2a091ca8e97b.gif)

Using in an astrology app. Thanks @patchthecode for this great library!

[2016-09-23 06:06] patchthecode commented on #2
@potluru loving the orange theme. +1 :)

[2016-09-23 06:10] #147 closed

[2016-09-23 06:11] patchthecode commented on #147
What was the issue?

[2016-09-23 06:11] patchthecode commented on #147
Im interested to know what the problem was so that I know how to respond when it pops up again

[2016-09-23 07:43] ialqwaiz commented on #147
I was not using the proper NSCalender I guess. After using a date formatter with the proper local I was able to print the date correctly using that date formatter.  :)

[2016-09-23 08:01] patchthecode commented on #147
Thank you. I'll note to mention this if anyone else is experiencing this same issue

[2016-09-23 20:43] davidseek opened #148 "Calendar not fixed within view..."
I've used the Calendar in a couple of Views now... In my current View the calendar is not fixed within the View... This behavior is completely random. If I terminate the App 30% the Calendar is set perfectly. 70% like that...

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/17073950/18800711/b900b61a-81de-11e6-98fa-fe45af1ea064.gif)

The Code that creates and populates my Cale

[2016-09-23 20:45] davidseek commented on #148
PS I did `pod update` just 1-2 days ago. So everything should be up to date. Also I'm not forcing any version by using `pod 'JTAppleCalendar'`

[2016-09-23 21:00] patchthecode commented on #148
Can you try setting the scroll inset adjustments to false?

--> https://github.com/patchthecode/JTAppleCalendar/issues/31#issuecomment-222337818

[2016-09-23 21:05] davidseek commented on #148
Not helping. Unfortunately. Compiled the App 4 times. 3 times with Bug. 1 time without.

[2016-09-23 21:06] patchthecode commented on #148
can you join me here -> https://gitter.im/allemattio

[2016-09-23 21:06] patchthecode commented on #148
Updated link -> https://gitter.im/patchthecode/JTAppleCalendar

[2016-09-24 02:03] patchthecode commented on #143
Ok. Made some changes.
Try the latest sample app

[2016-09-24 16:52] antonijap commented on #138
I managed to fix every error but Calendar is behaving very strange. I checked delegate and a datasource methods and discovered that I have `NSDate` instead of `Date` so I changed that but of course then I am not complying to those mandatory methods... Which brings more errors. I'm gonna cry.

[2016-09-24 18:26] patchthecode commented on #138
@antonijap Im doing a renewed up date right now.
Should take be another 2 hrs or so. one sec.

[2016-09-25 13:15] antonijap commented on #138
Should I update my pod now, do I need to change something in my Podfile?

[2016-09-25 16:34] patchthecode commented on #138
Do a pod update now.
I just pushed it.

[2016-09-25 16:36] patchthecode commented on #148
Issue was resolved. Will change the code logic.

[2016-09-26 00:18] gpabia commented on #2
![capture d ecran 2016-09-26 a 02 17 04](https://cloud.githubusercontent.com/assets/17252927/18819346/6d0931bc-838f-11e6-8127-3f3b0d3ece51.png)
Awesome library and very good tutorial :)

[2016-09-26 03:04] patchthecode commented on #2
Thanks dude +1 :)

[2016-09-26 03:44] patchthecode commented on #128
Ok. the issue is resolved.
I can provide you a patch, before the official release.

[2016-09-26 03:45] patchthecode commented on #128
This bug is related to https://github.com/patchthecode/JTAppleCalendar/issues/148

[2016-09-26 14:16] allemattio commented on #143
I tried to use the DynamicGeneration branch in my app but freezes on launch.
The example seems instead correct, apart from the scroll that is not paginated.

[2016-09-26 14:27] patchthecode commented on #143
The example scroll is set in the `viewDidLoad` function where I have the code

[code]
delete that line of code to have you scroll paginated.

You say it freezes your app.
Does it crash or anything?

[2016-09-26 14:27] patchthecode commented on #143
Btw, if chat is too slow, you can join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2016-09-26 14:35] patchthecode commented on #143
Also, the names of some functions were changed to make it more standard. I think your app is freezing because since the function names have changed, the library is trying to call functions that does not exist in your app because the delegate function names are now different?

[2016-09-27 06:45] tizaks commented on #144
Seems like #145 will resolve this. Thanks.

[2016-09-27 06:45] #144 closed

[2016-09-28 00:09] IfyNdu opened #149 "Calendar data is not being displayed"
I followed your quick tutorial for setting up a basic calendar view but the calendar dates do not display. I did some debugging and realised that

 `func calendar(_ calendar: JTAppleCalendarView, isAboutToDisplayCell cell: JTAppleDayCellView, date: NSDate, cellState: CellState) {
        (cell as! CellView).setupCellBeforeDisplay(cellState: cellState, date: date)
    }`

is never executed. Setting

[2016-09-28 16:05] fatehwaharp commented on #83
I've got the same issue,
the calendar is inside UIView, under tableViewCell, when i pressed the fourth row from the static cell, the calendar cell which is row number three supposedly to display that will cover up the whole cell, but apparently it only displaying like the calendar uiview's is shrinking, even I've already constraint the ui view to 0 from top, leading, trailing, and bottom of the ce

[2016-09-28 18:37] bizibizi opened #150 "Select separate dates"
Is it possible for select(highlight) separate dates? For example 1, 5, 13, 14, 18. I want to select dates in which was custom event

[2016-09-28 18:46] patchthecode commented on #150
Yes. you can select any date you want.
You can do anything you want. This library is a UICollectionView.  You can build it however you want.

[2016-09-28 18:47] #150 closed

[2016-09-28 18:47] patchthecode commented on #150
`calendarView.allowsMultipleSelection = true`

[2016-09-28 19:05] IfyNdu commented on #149
Sorry for the lame issue, was my mistake. Copying and pasting code is not always the best practice :). As for the label not displaying the dates I had to stretch the label to fill out the width of the xib file and now everything seems to be working fine.

[2016-09-28 19:08] patchthecode commented on #149
Cool. I was just about to debug this now. smh.

[2016-09-29 04:23] fatehwaharp commented on #83
Solve already, thanks anyway, apparently its the constraint, quite confusing,

[2016-09-29 07:53] patchthecode commented on #83
hmm. So in the end was it something wrong with the calendar? or.. ?

[2016-09-29 09:01] IfyNdu commented on #149
Nah it's fine. I only started programming with Swift and Xcode this month. Was gonna ask how to add the headers "mon - sun" and "Jan - Dec". I think i will figure it out myself.

Thanks again for the Calendaring plugin, would have taken me ages to build one 👍🏼

[2016-09-29 13:05] smitaAcellere opened #151 "How to add HeaderView for Showing current Month? and how to set background color for today's date?"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

IF YOU ARE USING THE OFFICIAL RELEASE VERSION, FOLLOW THE FOLLOWING 4 INSTRUCTIONS:
________________________________________
1. Are you using the latest version of JTAppleCalendar? Latest version is currently 5.0.1
2. Did you leave a ★ rating on this repository if you like it? Yea.. I kinda need that. Get's me all pumped to answer

[2016-09-30 02:03] phillippaik commented on #138
Hello! First of all, thank you for your time with this code! Second of all, I am installing the pods using the "pod 'JTAppleCalendar', :git => 'https://github.com/patchthecode/JTAppleCalendar.git', :branch => 'Swift3'" line. When I go to the files to "update to Swift 3" I get a bunch of error mentioned by antonijap initially. I uninstalled the podfile and then reinstalled as well. Thank you in adv

[2016-09-30 03:39] patchthecode commented on #138
Are you using  XCode 8 official release. With iOS 10 swift 3?

[2016-09-30 03:46] phillippaik commented on #138
Yes, swift 3 with iOS10 XCode 8

[2016-09-30 11:03] antonijap commented on #138
I solved my problem with deleting pods and podfile and then installing it again

[2016-09-30 15:41] patchthecode commented on #138
Yes i was wondering the same thing. Because @antonijap bug included the line that says
`use of undeclared type IndexPath`

IndexPath is not an undeclared type in swift, which makes me wonder what would happen did you did a Xclode `clean`, then delete the pods and re-installed. Also, delete you `DerivedData` and `Build` folder. Then rebuild ?

[2016-09-30 20:04] patchthecode commented on #151
Have you taken a look at the sample app attached to this project?

[2016-10-01 05:26] #151 closed

[2016-10-01 09:00] citedjade opened #153 "Bug on cellState and bubbleView. A full state bubble view is shown between range selections."
## 1. BubbleView not be shown(?) if it is deselected and selected in a short time.
For example, 6 Sep(Start Date) should have a bubbleView after deselected and selected ( in a short time)
![2](https://cloud.githubusercontent.com/assets/22003024/19011757/c110fdac-87d2-11e6-8040-d8a4b7b6509b.png)

It is mainly because fade out animation is still running and not completed ? Hence I add a boolean to c

[2016-10-01 14:55] patchthecode commented on #153
Ok, i for your #.1 point, the demo was just a sample code to show you what can be done.
The animation is just some random animation i stole from CVCalendar. But you can put what ever animation you want with what ever code you want. I admit there are some issues with the animation of the bubble view of the sample code. But that's the thing. My job was to create a library which allows you to make th

[2016-10-01 16:56] patchthecode commented on #153
Can i see the code you use to determine if a cell is to be a full, middle, right, left ?

[2016-10-01 18:18] phillippaik commented on #138
Ohh! I think I just had to press "build" after seeing the list of errors after conversions. After pressing it, it built it with no errors.

BUT, I have another error for the protocols, sorry to keep bugging you on this! :/

`class CalendarViewController: UIViewController, JTAppleCalendarViewDataSource, JTAppleCalendarViewDelegate{

    @IBOutlet weak var calendarView: JTAppleCalendarView!
    over

[2016-10-01 19:47] patchthecode commented on #138
The tutorial is not yet converted to swift3.
So there is a change you are using the wrong function names. Swift 3 changed most of the function names. Make sure your function names are EXACTLY as it is in the library.

[2016-10-02 01:33] Norton73 opened #154 "Binary operator '==' cannot be applied to operands of type 'CellSate.DateOwner' and '_'"
I get the above error in the following code.

        func configureTextColor(cellState: CellState) {
                if cellState.dateBelongsTo == .ThisMonth {
                    dayLabel.textColor = normalDayColor
                } else {
                    dayLabel.textColor = weekendDayColor
            }
        }

[2016-10-02 04:56] patchthecode commented on #154
It will be helpful if you give me more information.
Version?
iOS10?
Swift2? 3?
etc etc etc

[2016-10-02 04:59] patchthecode commented on #154
Also, are you experiencing this error in the sample application attached to this project?

[2016-10-02 07:27] #148 closed

[2016-10-02 07:36] patchthecode commented on #128
Issue is fixed.

[2016-10-02 07:36] #128 closed

[2016-10-02 07:37] patchthecode commented on #123
I think i'm finished.
Just bug testing now.
`DynamicGeneration` branch has the latest changes

[2016-10-02 08:06] #83 closed

[2016-10-02 08:07] #129 closed

[2016-10-02 12:14] Norton73 commented on #154
Thanks for your reply.

I fixed it. Turns out it was a problem with Swift 3.

[2016-10-02 17:02] light1874 opened #155 "Question about registerxib of cell"
Hello! I found that the cellview.xib must be in MainBundle for loading.

But because my cellView.xib would be combined with some resources into other bundle (or put it on other folder). How can I load the cellView.xib if it is at other place? or which part of code can I override for loading?

[2016-10-02 17:57] patchthecode commented on #154
cool.

[2016-10-02 17:57] #154 closed

[2016-10-02 17:59] patchthecode commented on #155
ok. A user recognized this as a problem and have submitted a pull request to enable every one to choose their bundle.

--> https://github.com/patchthecode/JTAppleCalendar/pull/152

The change has been merged to the `swift3` Branch already. What version are you using?

1. The official release?
2. The master branch?
3. the swift3 branch?

[2016-10-02 18:00] patchthecode commented on #154
Also consider leaving a star rating if this library has helped you. Ratings are needed. Thanks :)

[2016-10-02 18:08] dbmrq commented on #123
Awesome, I'll take a look soon. :tada:

[2016-10-02 20:41] light1874 commented on #155
Thanks patchthecode! I am using official release 5.0.1 ,Xcode 7.3.1 and Swift 2.2

[2016-10-02 20:53] patchthecode commented on #155
Hmm.. this update is on the swift3 branch :/

I wasn't gonna go back and fix up older versions.
Is it possible that you can look up the change he did here --> https://github.com/patchthecode/JTAppleCalendar/pull/152/commits/367e1bcd60fe54635300ffa1992c414db63bf95b

And see if you can implement it?
If not, then the other option would be to wait until I get to it, which mike take another week or so.

[2016-10-02 23:03] phillippaik commented on #138
@patchthecode
Hi, ok, last time :/ I'm sorry for bugging you, I've been at this 3 days and I still don't get what I'm doing haha. I'm not very close I believe, I got it to load but my last problem is that the dates don't fill up.

It shows the list of "DateTextGoesHere" multiple times without conforming to my "numberofrows" guidelines

[code]
my xib is created by "User Interface" then "View" then

[2016-10-03 03:27] patchthecode commented on #110
<img width="564" alt="calendararchitecture" src="https://cloud.githubusercontent.com/assets/2439146/19026742/4b62d618-88de-11e6-90c8-c44a4195ddd2.png">

[2016-10-03 03:28] patchthecode commented on #110
<img width="201" alt="cellxib" src="https://cloud.githubusercontent.com/assets/2439146/19026781/c3793318-88de-11e6-8727-04b773b3700c.png">

[2016-10-03 03:31] patchthecode commented on #110
<img width="683" alt="setupinstructions" src="https://cloud.githubusercontent.com/assets/2439146/19026812/304803d4-88df-11e6-9871-53d75b32a247.png">

[2016-10-03 05:31] smitaAcellere commented on #151
@patchthecode  Thank you for your reply. If possible can you please share project's link? I am not getting it.

[2016-10-03 05:38] patchthecode commented on #151
The project's link is.. right here :/

[2016-10-03 05:38] patchthecode commented on #151
clone it at this address -> https://github.com/patchthecode/JTAppleCalendar.git

[2016-10-03 06:08] patchthecode commented on #110
<img width="219" alt="unimpressivecal" src="https://cloud.githubusercontent.com/assets/2439146/19028818/28033c46-88f5-11e6-8a25-fa6fc8651018.png">

[2016-10-03 06:23] patchthecode commented on #110
<img width="309" alt="almostcompletecal" src="https://cloud.githubusercontent.com/assets/2439146/19029025/4886203a-88f7-11e6-8449-f8bdd5544120.png">

[2016-10-03 06:26] patchthecode commented on #110
<img width="311" alt="completecal" src="https://cloud.githubusercontent.com/assets/2439146/19029087/ad30b7ac-88f7-11e6-9ae5-b9d0ac5c837b.png">

[2016-10-03 06:45] smitaAcellere commented on #151
@patchthecode  Thank you 👍

[2016-10-04 01:53] cevanish12 opened #156 "Common Questions Page"
Small problem with the Common Questions Page.

![screen shot 2016-10-03 at 9 42 37 pm](https://cloud.githubusercontent.com/assets/6393310/19060012/7650bb36-89b2-11e6-8042-6a71e0b72374.png)

So under 3, it should say that it should implement
[code]

and not

[code]

[2016-10-04 02:12] patchthecode commented on #156
Thanks man. I am in the middle of updating the wiki right now.
It's gonna be a lot better.
Thanks for pointing this out.

[2016-10-04 02:14] patchthecode commented on #110
![out](https://cloud.githubusercontent.com/assets/2439146/19060490/904238a4-899d-11e6-8c11-36a9fa0991cd.gif)

[2016-10-04 02:27] patchthecode commented on #110
![out](https://cloud.githubusercontent.com/assets/2439146/19060730/6ab850bc-899f-11e6-84ad-221839041371.gif)

[2016-10-04 02:31] cevanish12 commented on #156
No worries. Thanks for the hard work.

[2016-10-04 02:59] dbmrq commented on #123
Ok, I just checked out the `DynamicGeneration` branch and started playing around with the demo app. I noticed a few weird things:

- When using the "PreOff" option the first day always shows up in the first column, while it should show up at the same place as before, right?
- When using the "HeadersOff" option there are many problems:
    * The dates get all messed up, sometimes first day shows in

[2016-10-04 03:35] patchthecode commented on #110
![out](https://cloud.githubusercontent.com/assets/2439146/19061814/a07fc3d4-89a8-11e6-83b1-d80759fa9404.gif)

[2016-10-04 03:43] patchthecode commented on #123
I dont know how you see all these bugs.
When I return i'll look at them.
There should be no bugs in that demo app :/
Will be back in 30 mins

[2016-10-04 03:50] dbmrq commented on #123
No problem, haha. Sometimes it's hard to see it when it's your own app, it happens to me all the time.

[2016-10-04 04:20] dbmrq commented on #123
Now I tried to make a super simple app just to see how it goes. I added just the bare minimum, so no headers or nothing. And my cell views have just a single label.

This is all I have in my view controller:

[code]

I run the app and at first it looks ok:

![captura de tela 2016-10-04 as 01 16 27](https://cloud.githubusercontent.com/assets/15813674/19062422/7eaa6656-89d0-11e6-928b-6e840d7c34ff.pn

[2016-10-04 04:29] patchthecode commented on #123
just got back. Looking at it now

[2016-10-04 05:20] patchthecode commented on #123
OK. What you see happening is expected to happen.  haha.
I coded it with the wrong concept. One sec, i'll fix this.

[2016-10-04 10:08] gaurvw opened #157 "Layout Issues"
First: Good job with the library. Its pretty useful. Second: I am having a couple of layout issues with the library:

**Offset Issues:**

When I start the app for the first time, the entire calendar is shifted down. Its only when I scroll or tap the empty space, it slides back up. Here's what I mean:

When the view controller containing the calendarView is invoked:

<img width="311" alt="screen sh

[2016-10-04 16:30] patchthecode commented on #157
First, concerning the space above the calendar.
Check out this -> https://github.com/patchthecode/JTAppleCalendar/issues/31#issuecomment-222337818

[2016-10-04 16:34] dbmrq commented on #123
Ok, let me know. :)

[2016-10-04 19:52] patchthecode commented on #123
OK. Fixed. Should be working now.
I misunderstood the error your found.

And ended up "fixing" a bunch of stuff that didnt need fixing, thereby breaking every thing.
Woke up this morning, and then saw it was a 5 line code fix xD

[2016-10-04 20:19] patchthecode commented on #110
![out](https://cloud.githubusercontent.com/assets/2439146/19090866/2a799056-8a35-11e6-80a2-7d8c8a4e4cc4.gif)

[2016-10-04 20:23] dbmrq commented on #123
Haha, sorry for that.
I'll take a look soon, thanks. :)

[2016-10-04 20:33] patchthecode commented on #110
![out](https://cloud.githubusercontent.com/assets/2439146/19091368/324df7b6-8a37-11e6-8946-52ba7b1276b0.gif)

[2016-10-04 20:38] patchthecode commented on #110
<img width="290" alt="screen shot 2016-10-04 at 1 37 12 pm" src="https://cloud.githubusercontent.com/assets/2439146/19091493/bb69bf4e-8a37-11e6-9af7-4790c3c45451.png">

[2016-10-04 21:52] patchthecode commented on #110
<img width="720" alt="screen shot 2016-10-04 at 2 52 19 pm" src="https://cloud.githubusercontent.com/assets/2439146/19093933/3439eca0-8a42-11e6-8508-98a2c2e974fd.png">

[2016-10-04 21:54] patchthecode commented on #110
<img width="720" alt="screen shot 2016-10-04 at 2 52 19 pm" src="https://cloud.githubusercontent.com/assets/2439146/19093972/6f6eeda2-8a42-11e6-8f78-7f8f45dbfe7b.png">

[2016-10-04 22:04] patchthecode commented on #110
<img width="856" alt="screen shot 2016-10-04 at 2 56 57 pm" src="https://cloud.githubusercontent.com/assets/2439146/19094207/c9c1bd38-8a43-11e6-8866-73a2a61ff5b9.png">

[2016-10-04 22:59] patchthecode commented on #110
<img width="258" alt="screen shot 2016-10-04 at 3 53 50 pm" src="https://cloud.githubusercontent.com/assets/2439146/19095599/7c95f102-8a4b-11e6-9410-2c78d7187214.png">

[2016-10-04 23:09] patchthecode commented on #110
<img width="856" alt="c9c1bd38-8a43-11e6-8866-73a2a61ff5b9" src="https://cloud.githubusercontent.com/assets/2439146/19095797/ebff1324-8a4c-11e6-8f8a-252b08abcf3b.png">

[2016-10-05 05:23] dbmrq commented on #123
Now we're talking, it's looking a lot better!

There are still a few problems, though (sorry 😳):
- There's still the problem when using "PreOff", it makes every month starts on a Sunday.
- When using both "PreOff" and "PostOff" it's even worse, the months get all messed up.
- Now the month label works when using the arrows, but not if you scroll the calendar. It also doesn't update when tapping th

[2016-10-05 08:06] gaurvw commented on #157
Ok so the first issue was fixed by disabling auto adjust of scroll view insets. The landscape rotation issue still persists though.

[2016-10-05 09:23] patchthecode commented on #123
OK let me try to understand the problems. I've responded to them inline.

1. There's still the problem when using "PreOff", it makes every month starts on a Sunday.
   Yes. If you set pre-Dates to Off, they will not be generated. Therefore, all following dates *after* the pre-Dates will be shifted to the left to fill the gap of the missing predates. If you want the space to still be there, and for

[2016-10-05 09:28] patchthecode commented on #157
Ah lol yea, that second issue I have a nice solution being worked on now.
But if you want a one line code fix in the mean time,

look for this function:

[code]

That funciton can be found in the`JTAppleCalendarView.swift` file.
In that function, comment out this line

`scrollToDate(self.startOfMonthCache)`

And let me know know if its fixed. If its fixed, then you can close this issue.
But yes, t

[2016-10-05 13:36] gaurvw commented on #157
Hi,

I performed the mentioned changes and it still doesn't work. Here's how the `reloadData` function looks like:

[code]

[2016-10-05 16:49] deniszhukov commented on #128
Thanks, I think I'll wait for the next official release.

[2016-10-05 17:11] dbmrq commented on #123
Ah, I didn't get what the "PreOff" and "PostOff" options are for, then. I thought they were just a convenient way to set the pre and post dates do hidden. Why would any one wan to not even *generate* the pre dates?

Anyway, it's all good then. I'll get started on my changes soon and start making some PRs. :)

Thanks!

[2016-10-05 17:29] patchthecode commented on #123
I have had many requests for that preOn/off and postOn/off. People have different calendar designs.

I know of one place the preOff/and postOff makes sense. In a single row setup, when pre is On and post is On, it looks really weird. As the user is scrolling side ways, pre-dates and postDates pop up giving the impression that numbers are repeated. In a 6-row calendar, it is clear that those are ju

[2016-10-05 17:30] patchthecode commented on #128
@deniszhukov one thing to note. The next official release will be in swift3.
So if you need something in swift2, then let me know.
cool.

[2016-10-05 17:34] patchthecode commented on #157
OK, it works on my code because i have done massive changes to it.
I'll look into your problem in a bit.

[2016-10-05 17:35] patchthecode commented on #157
Also since you first issue is fix. I will close this.
Because the rotating issue is already being tracked here --> https://github.com/patchthecode/JTAppleCalendar/issues/142

cheers.

[2016-10-05 17:35] #157 closed

[2016-10-05 18:10] patchthecode commented on #123
Examples of guys who want this feature are:
https://github.com/patchthecode/JTAppleCalendar/issues/143
https://github.com/patchthecode/JTAppleCalendar/issues/129

there were others, but i cant find them all.

[2016-10-05 18:50] dbmrq commented on #123
Ah, I see! Ok then, thanks for the explanation.

[2016-10-06 06:39] #156 closed

[2016-10-07 02:19] patchthecode commented on #155
4 days have passed. I have heard no response. I will assume the issue was resolved.
Please re-open this again if you still need help.

[2016-10-07 02:19] #155 closed

[2016-10-11 03:35] bestman0809 opened #164 "ObjC version?"
Hello.

I am very interested in your code. I would like to use your code in my ObjC code that already exist.

Do you have any ObjC version instead of Swift?

Or How i can use your Swift code in my ObjC code?

Thanks,
Jin.

[2016-10-11 03:52] patchthecode commented on #164
Hey, i'm sorry to tell you but, there will be no objc version as it will be too much for me to maintain. If you are trying to implement with Objc, you may have to try this on your own. I think someone did it before, but I do not know how difficult it was

[2016-10-11 11:35] #164 closed

[2016-10-11 15:47] patchthecode commented on #153
10 days has passed since this was opened. I will consider the issue as resolved.
If you are still experiencing this, then you are welcome to re-open it.

[2016-10-11 15:47] #153 closed

[2016-10-12 06:42] smitaAcellere commented on #2
How to change background color of today's date?

[2016-10-12 09:03] patchthecode commented on #2
@smitaAcellere have you taken a look at the [tutorial](https://patchthecode.github.io/MainTutorial/) ?

[2016-10-14 21:09] mecid opened #167 "How can i get date for CGPoint"
I am implementing Peek and Pop with 3D touch.
How can i get selected date by GGPoint?

[2016-10-14 21:55] mecid opened #168 "How can i get cell frame by CGPoint in calendar view?"
How can i get cell frame by CGPoint in calendar view? I need this function to implement Peek and Pop with 3D Touch.

[2016-10-15 08:35] patchthecode commented on #168
you can get the cell frame by using `cellState.cell`
You can then inspect the frame.

[2016-10-15 08:38] patchthecode commented on #167
I do not understand.
You want get a selected date by CGPoint?
Maybe if you explain fully what youre trying to do.

[2016-10-15 09:16] mecid commented on #168
@patchthecode but how can i get CellState?

[2016-10-15 09:17] mecid commented on #167
@patchthecode  I have CGPoint from CalendarView and i need to find Date related to this CGPoint.

[2016-10-15 09:57] patchthecode commented on #168
in your `isAboutToDisplayCell` function, you have the `cellState` parameter

[2016-10-16 04:38] patchthecode commented on #110
<img width="424" alt="screen shot 2016-10-15 at 9 26 47 pm" src="https://cloud.githubusercontent.com/assets/2439146/19415251/bafe16ea-931f-11e6-9fd7-6837fc932cc4.png">

[2016-10-16 19:18] mecid commented on #168
@patchthecode but i need to access cellState information from UIViewControllerPreviewingDelegate methods.

[2016-10-16 19:38] patchthecode commented on #168
I am not understanding the situation properly.
can you join me here? -> https://gitter.im/patchthecode/JTAppleCalendar

[2016-10-16 19:38] patchthecode commented on #168
@mecid

I am not understanding the situation properly.
can you join me here? -> https://gitter.im/patchthecode/JTAppleCalendar

[2016-10-16 19:47] patchthecode commented on #168
then have you tried this function? -> `public func cellStatus(for date: Date) -> CellState? `

[2016-10-16 20:32] patchthecode commented on #167
closing this. As it is related to this one -> https://github.com/patchthecode/JTAppleCalendar/issues/168

[2016-10-17 20:41] patchthecode commented on #168
fixed https://github.com/patchthecode/JTAppleCalendar/commit/c873c81295bbde11484f92f50cd7cc91f33a76d3

[2016-10-17 20:41] #168 closed

[2016-10-17 20:45] patchthecode commented on #138
@phillippaik i missed your last message.
I didnt realize you responded.

If your issue is unresolved, then open a new issue.
If your matter is urgent, then join me in chat here -> https://gitter.im/patchthecode/JTAppleCalendar

I'm closing this issue, as swift3 has now been merged with master branch

[2016-10-17 20:45] #138 closed

[2016-10-18 04:22] cesarmtz93 commented on #2
@hanishassim hello, cool design of calendar do you think you could provide some of the code that you made for your calendar?

[2016-10-18 07:09] patchthecode commented on #2
@cesarmtz93 these calendars are easy to build. Which part of his design you cannot build?

[2016-10-18 17:08] mecid commented on #168
Thanks!

[2016-10-18 17:09] mecid commented on #167
@patchthecode  Great! Thanks! This is all i need.

[2016-10-19 07:56] mecid opened #169 "Master branch using swift 2?"
I have error like this when using library from master branch.

“Use Legacy Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets which use Swift. Use the [Edit > Convert > To Current Swift Syntax…] menu to choose a Swift version or use the Build Settings editor to configure the build setting directly.

[2016-10-19 08:41] patchthecode commented on #169
Master Branch is now on swift3

Version 5.0.1 is the last version that will use swift2.
Are you able to look at the function that I created on master branch, and then put the method in your 5.0.1 library?

[2016-10-19 12:00] artemkalinovsky opened #170 "`calendar` parameter is missing in example project"
Please, update Example project for version 6.0.0 🙏
For example, there's new parameter `calendar` in  `ConfigurationParameters` initializer

[2016-10-19 13:33] patchthecode commented on #170
The example project is up-to-date with version 6.0.1

That `calendar` parameter was supposed to be deleted in version 6.0.0, but i forgot to delete it when i released it. I'll be releasing the 6.0.1 patch to fix this over the weekend.

[2016-10-19 13:35] artemkalinovsky commented on #170
thx!👍

[2016-10-20 07:31] Manjuprashanth opened #171 "I am looking for a calender where i can remove the weekends and just show the weekdays (5-day view) & which can also support 3-day view as in google calender. Can you help me create such a thing using your component"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

IF YOU ARE USING THE OFFICIAL RELEASE VERSION, FOLLOW THE FOLLOWING 4 INSTRUCTIONS:
________________________________________

1. Are you using the latest version of JTAppleCalendar? Latest version is currently 6.0.0
2. Is your question already answered in the tutorials and guides —> https://patchthecode.github.io/
3. If you just up

[2016-10-20 07:46] patchthecode commented on #171
Can you just put a screenshot here so that i can have an idea of what youre looking for? I do not know about google calendar. And I'm not sure what it looks like

[2016-10-20 08:09] Manjuprashanth commented on #171
PFA ,

So when I say 5 day view I should be able to skip the weekends & show only
weekdays .
On 20 Oct 2016 1:16 p.m., "JTAppleCalendar" <notifications@github.com>
wrote:

[2016-10-20 08:23] patchthecode commented on #171
Hmm.. Ok, currently, this is not possible.
You are asking that I do not generate weekends.. hmm..

This will mean I will have to do a code upgrade to make this possible, as this cannot be done right now.

[2016-10-20 08:50] Manjuprashanth commented on #171
Correct ,hmm., If you by any chance include this feature anytime soon let me know :)

[2016-10-20 11:56] samuelmgalan commented on #45
Hi
One question: how do i wait for the server response in order to paint events inside the cells before the calendar renders? Or how to manually call `isAboutToDisplayCell` with the new info? Kind of lost.

[2016-10-20 12:20] colditz18 opened #172 "overriding scrollViewWillEndDragging for fast scrolling"
Hi, I want to know if it is possible, and in case it is, how to do it, to override the method scrollViewWillEndDragging. I need to do this because I want to do some UI updates before scrollViewDidEndDecelerating gets called, for example, when user makes fast scrolling. Is there any way to do this?
Thanks and congratulations for this great work!

[2016-10-20 15:20] patchthecode commented on #171
@Manjuprashanth I will. And i will think about it. Right now it would mean a total change in calculations. But I will think about it in future.

[2016-10-20 15:27] Manjuprashanth commented on #171
Sure thanks :)
On 20 Oct 2016 8:50 p.m., "JTAppleCalendar" <notifications@github.com>
wrote:

[2016-10-20 15:28] #171 closed

[2016-10-20 15:47] patchthecode commented on #172
Thanks.
Which version are you using? 5.0.1 or 6.0.0 ?

If you're using version 6.0.0, then there has to be an upgrade to it for it to happen.
Can you do a pull request and submit it? I will approve it.

Here is the change you need to do -->
in the `UIScrollViewDelegates.swift` file, you will see a function called

[code]
all you have to do is change it to this and submit a request. That's it for t

[2016-10-20 16:04] patchthecode commented on #45
Ok, I am just a little confused. Let me know which ones below are wrong.

1. If you do not want the calendar to render (or be visible on the screen) then don't put it on the screen? (if i understand it correctly)
2. If you have a calendar that loads in `viewDidLoad` it will be displayed on the screen. At this point if you already have your dates from the server (in array form), then just call `cal

[2016-10-20 16:26] samuelmgalan commented on #45
It was not for selecting dates, it was for adding subviews to a cell. But i discover that if i call `reloadData()`the function `isAboutToDisplayCell` its called again and i can add all the new info.
But thanks anyway ;)

[2016-10-20 16:32] patchthecode commented on #45
Ah. ok. i see now. Cool. man.
one thing, if you need to know all the functions you can use with this library, look at the `UserInteractionFunctions.swift` file.
It has ever function you're allowed to do.

[2016-10-20 16:32] patchthecode commented on #45
Also, if this lib has helped you in anyway, please leave a start rating :)

[2016-10-20 16:36] mecid commented on #169
@patchthecode  I am using swift3, but i can't build app with master branch. This works only with Swift3 version.

[2016-10-20 18:26] patchthecode commented on #169
Master branch has now been officially released as version 6.0

What errors are you getting on build?

[2016-10-21 00:08] IfyNdu commented on #112
lol sorry for being a pain but how exactly did you sort this out? i'm having the exact same issue

[2016-10-21 00:46] patchthecode commented on #112
@IfyNdu in which version are you experiencing this issue?
6.0.0 ?

And on which line of code are you getting this

[2016-10-21 12:15] vahids opened #173 "Option for Persian/Jalali Calendar?"
I made some change in source code and It's changed to Persian calendar and Right to Left.
I just want to know is it OK if I change some code in this framework?

[2016-10-21 12:44] patchthecode commented on #173
It is ok.
But I need to know the changes you have made so that it will be in future updates of this library forever.

You can do this in two ways. Pick one.

1. You can tell me here and I will add it.
or
2. You can create a pull request, and I will merge it

[2016-10-21 13:13] vahids commented on #173
I choose 1, because I made change static

JTAppleCalendarSwift.swift
line 177
change
from:
    var cal = Calendar(identifier: .persian)
to:
    var cal = Calendar(identifier: .gregorian)

It's Changed calendar to Persian.

To change it from LeftToRight to RightToLeft:

Add in Line 282:
    var scalingTransform : CGAffineTransform!
    scalingTransform = CGAffineTransform(scaleX: -1, y: 1);
    cv.

[2016-10-21 13:26] patchthecode commented on #173
Thanks for the code help. Let me think on this. If I cant do it in code, I will add your post as a tutorial. Thanks!

[2016-10-21 13:27] vahids commented on #173
U welcome body, Thanks to your nice job. 👍

[2016-10-21 13:27] #173 closed

[2016-10-21 13:34] patchthecode commented on #170
Ok, I just had a user who wanted to make a persian calendar. Therefore I will keep this value in the new version.

I will change it to an identifier however. So, i'll close this issue now.

[2016-10-21 13:34] #170 closed

[2016-10-21 13:35] patchthecode commented on #172
Some time has passed and no response. I will assume this is corrected.
If you are still having issues, then feel free to re-open this request.

[2016-10-21 13:35] #172 closed

[2016-10-21 13:46] patchthecode commented on #173
There is one thing I need to know so that you do not have errors.
Does the Persian/jalali calendar have the same in-dates/out-dates like the gregorian calendar?

<img src="https://cloud.githubusercontent.com/assets/2439146/18330595/651b8840-750e-11e6-8727-a148d7e1720f.png" width="300">

[2016-10-21 13:59] colditz18 commented on #172
sorry for not responding. Finally I got to do what I was trying by adding a different header than I had previously. Thank you anyway

[2016-10-21 14:05] vahids commented on #173
I don't understand your question,
It's a screenshot of current month in Persian/Jalali calendar.
and today is 30.

![screenshot of simulator 10 21 16 3 14 pm](https://cloud.githubusercontent.com/assets/1405424/19601105/b0e28580-97b4-11e6-865f-4ce7c2ff94f9.png)

[2016-10-21 14:07] patchthecode commented on #173
Ok, i cant read your calendar. But is every thing ok with it? If all is well, then great!

Also, I have found a way to add it to the code.
I will let you know shortly

[2016-10-21 14:08] patchthecode commented on #172
Cool. Have a good one.

[2016-10-21 14:12] vahids commented on #173
Yes, I checked a year with time.ir (Persian data/time reference) calendar and It's currect.

[2016-10-21 14:13] patchthecode commented on #173
Awesome.

[2016-10-21 14:44] vahids commented on #173
owww, new issue :-/

I make an inside header but It's mirrored :D
Because of   this lines:
var scalingTransform : CGAffineTransform!
scalingTransform = CGAffineTransform(scaleX: -1, y: 1);
myCustomCell.transform = scalingTransform

![screen shot 2016-10-21 at 6 14 13 pm](https://cloud.githubusercontent.com/assets/1405424/19602468/37777240-97ba-11e6-902d-da53e6604f1e.png)

[2016-10-21 14:54] vahids commented on #173
HoHaa 🗡
I found solution.
I have to add

        var scalingTransform : CGAffineTransform!
        scalingTransform = CGAffineTransform(scaleX: -1, y: 1);
        headerCell?.transform = scalingTransform

in end of
func calendar(_ calendar: JTAppleCalendarView, willDisplaySectionHeader header: JTAppleHeaderView, range: (start: Date, end: Date), identifier: String)

too. So this cell will be mirror

[2016-10-21 22:00] patchthecode commented on #173
Hey, so I made an update specially for you. 😎
I want you to test it to see if it works when you have the time.

Ensure you save your changes first because doing a `pod install` will get rid of your changes to the library.

To test the new feature, do the following:

1) Put this in your `Podfile`
[code]
2) Then run `pod install`.

To use is all you have to do is this:
[code]

Let me know if it work

[2016-10-21 22:00] patchthecode commented on #173
@vahids Let me know if it works.

[2016-10-22 04:33] vahids commented on #173
Yes working like charm, Great Work!
Just a question I want to put month name in header But I didn't find property to return month or date.

Thanks again. 👍

[2016-10-22 04:44] patchthecode commented on #173
You have dates.
You are the one to come up with the names of the month.

When ever you scroll the calendar, this delegate function is called
[code]

With this function you have a variable called `visibleDates`
This tells you the visible dates that are on the screen. From these dates, you can know the month.
Take a look at the sample project attached to this project.
I have code in there that shows

[2016-10-22 04:47] patchthecode commented on #173
let visibleInDates = visibleDates.inDates
let visibleOutDates = visibleDates.outDates
let visibleMonthDates = visibleDates.monthDates

<img src="https://cloud.githubusercontent.com/assets/2439146/18330595/651b8840-750e-11e6-8727-a148d7e1720f.png" width="300">

[2016-10-22 04:50] vahids commented on #173
I found it, but it return Gregorian dates. I know I can convert it to Persian and find the month name.
Is it right solution ?

[2016-10-22 05:10] patchthecode commented on #173
its returning gregorian dates even though you used `.persian` ?

[2016-10-22 05:14] vahids commented on #173
I use .persian in configureCalendar > parameters > calendar

but It print gregorian date
    func calendar(_ calendar: JTAppleCalendarView, didScrollToDateSegmentWith visibleDates: DateSegmentInfo){
        print(visibleDates.monthDates)
    }

BTW, It's easy to convert with DateFormatter

[2016-10-22 05:26] patchthecode commented on #173
ok do you know how to print a persian date?

I thought that when ever you do this -->

let aDate = Date()

I thought you only got one type of dates. I did not know there is a way to return Persian dates.

[2016-10-22 05:33] vahids commented on #173
You right there is not any type or return Persian Date.
It should be converted to local foramt
[code]

[2016-10-22 05:35] patchthecode commented on #173
Cool cool. So all is well now? :D ?

[2016-10-22 05:37] vahids commented on #173
Yes, Thank YOU!

[2016-10-22 05:41] patchthecode commented on #173
awesome

[2016-10-22 06:48] vahids commented on #173
hmm.. new issue 😄
when I use .rightoleft calendar will be mirrored if rotate screen.

[2016-10-22 07:11] patchthecode commented on #173
xD ... i didnt think about that

[2016-10-22 12:53] mecid commented on #169
@patchthecode i understand you.
I have errors from first comment when using master branch.

[2016-10-22 15:01] patchthecode commented on #169
OK, are you using and other pods that is *not* swift3? Maybe thats a possible reason for the error?

Also. Can you do what you error message says? It says to click on [Edit > Convert > To Current Swift Syntax…] menu to choose a Swift version.

This should show you which files are the problem files. Let me know if these work?

[2016-10-22 20:29] mecid commented on #169
Problem fixed. This was cocoapods issue.

[2016-10-22 20:29] #169 closed

[2016-10-22 20:30] patchthecode commented on #169
cool 👍

[2016-10-22 20:31] mecid opened #174 "How can i get visible date range in synchronous way?"
I have code like this:

[code]

I need convert location CGPoint to CalendarView point.

[2016-10-22 20:51] patchthecode commented on #174
Ok. i'm need more clarification.

1. Your Question title says one thing
2. But `I need convert location CGPoint to CalendarView point.` says another thing
3. I can follow what you are trying to accomplish in your code

Can you describe to me what you are trying to accomplish?
Sorry if i didnt understand your question.

[2016-10-22 21:03] mecid commented on #174
@patchthecode I have location: CGPoint with values x = 100, y = 200 for example.
But calendarview frame height is more than 4000 px. I need to convert CGPoint it term of calendar view, so i need to know which date is visible to calculate location in term of calendarview.

[2016-10-23 03:35] patchthecode commented on #174
In order to know which dates are visible, you have to use the `visibleDates` function.

You said that you wanted a synchronous version instead of the asynchronous version.
I can make it for you.

But before I make it, can you tell me a reason why the asynchronous one does not work for you?

[2016-10-23 03:36] patchthecode commented on #174
@mecid
In order to know which dates are visible, you have to use the `visibleDates` function.

You said that you wanted a synchronous version instead of the asynchronous version.
I can make it for you.

But before I make it, can you tell me a reason why the asynchronous one does not work for you?

[2016-10-23 04:02] patchthecode commented on #174
I have added a synchronous version of `visibleDates`
it is on `master` branch

[2016-10-23 07:56] mecid commented on #174
@patchthecode because i need to use it in delegate method which is synchronous.

[2016-10-23 07:56] #174 closed

[2016-10-25 20:20] dbmrq opened #176 "cellState.text doesn't use the specified calendar?"
I'm having the same problem as in #147, but I don't think I should need to use a different `Calendar`.

Here's an example:

[code]

In the `configureCalendar` function I specify `Calendar.current` as the calendar that should be used. Then in `willDisplayCell` I use `Calendar.current` again to print the day, and I print `cellState.text` too. But I get different results:

[code]

So what `Calendar`

[2016-10-26 00:15] patchthecode commented on #176
Ok can you do one thing? (assuming you are using master branch)

[code]

are they both the same date?

[2016-10-26 00:18] patchthecode commented on #176
If they are both the same date, then configure your calendar as this:

[code]
Then provide it to your configure method

[2016-10-26 00:40] dbmrq commented on #176
Thanks for the answer!

Providing it to the configure method doesn't make a difference, but changing the timeZone of the `Calendar` I use to call `component(.day, from: date)` does, like so:

[code]

So I think the problem is `cellState.text` always uses the same time zone… now I realized I don't even set the calendar itself in `configureCalendar`, just the `identifier`. So I can work around that

[2016-10-26 02:25] patchthecode commented on #176
hmm... this is too long to talk out. haha. I will do so in a bit.
But if youre available now, we can text chat here https://gitter.im/patchthecode/JTAppleCalendar

because texting here is very slow

[2016-10-26 02:28] patchthecode commented on #176
I need to debug with someone who is experiencing the wrong text.
From my end, and many others, the dates are correct. But the issue seems to be with time zones.
So if youre available to debug, then let me know.

[2016-10-26 05:40] dbmrq commented on #176
Hey, I'm sorry, I was busy before.
But sure, I can help you debug. :)

[2016-10-26 05:46] patchthecode commented on #176
OK. in 15 m
ins?

[2016-10-26 06:00] dbmrq commented on #176
I'm there.

[2016-10-26 14:41] patchthecode commented on #176
So, can I close this issue now?

[2016-10-26 19:04] dbmrq commented on #176
Yes, thanks :)

[2016-10-26 19:04] #176 closed

[2016-10-26 19:52] patchthecode commented on #176
cool.

[2016-10-26 20:05] AsimNet opened #177 "[Question] is there a dayView in this Calendar?"
Dears,

is there a dayView in this Calendar? and if it's not, is it easy to implement one?

thanks

[2016-10-26 20:12] patchthecode commented on #177
It is extremely easy.
the "dayView"  is basically like a normal UITableViewCell.
You get if design it however you want.
Join here if you got more questions -> https://gitter.im/patchthecode/JTAppleCalendar

[2016-10-26 20:58] #177 closed

[2016-10-26 22:53] patchthecode commented on #110
<img width="660" alt="screen shot 2016-10-26 at 3 50 46 pm" src="https://cloud.githubusercontent.com/assets/2439146/19748042/430e767a-9b94-11e6-8d04-c52bd361cb22.png">

[2016-10-27 06:51] aparkerryan27 opened #178 "I have a user with issue "cannot find swift declaration for this class" on release build only. Can anyone direct me to why this is happening?"
Hi, I'm not sure if this is a valid issue for others, but I'm having a problem with the framework itself in another project of mine, where it is not being recognized and I'm getting the error "cannot find swift declaration for this class" an issue that only appears when building for release, and it work fine without any errors of the simulator. It is very confusing for me as I've looked through th

[2016-10-27 13:13] ttorjan opened #179 "Weeknumbers"
Hi. This is not so much an issue as a question.

I'm planning to use your excellent calendar in an app, but I have a requirement that the weeknumber (1-52) should be to the left of each week. It's a pretty common concept where I live, lots of people seem to live their life according to weeknumber.

Is this something you think should be included in the calendar, or is it better suited to be done in

[2016-10-27 16:05] patchthecode commented on #178
Have you checked the following?
1. http://stackoverflow.com/questions/29851550/myclass-is-unavailable-cannot-find-swift-declaration-for-this-class-release-b
2. http://stackoverflow.com/questions/35030199/myclass-is-unavailable-cannot-find-swift-declaration-for-this-class
3. http://stackoverflow.com/questions/32312489/bridging-header-issue-myclass-is-unavailable-cannot-find-swift-declaration
4. The

[2016-10-27 16:07] patchthecode commented on #179
Can you show me a screen shot of what you want? I it hard to visualize what you want.
You can just drag and drop the image in your chat box on here.

[2016-10-27 17:25] evens121 opened #181 "GamingYoutube by me evens"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

IF YOU ARE USING THE OFFICIAL RELEASE VERSION, FOLLOW THE FOLLOWING 4 INSTRUCTIONS:
________________________________________

1. Are you using the latest version of JTAppleCalendar? Latest version is currently 6.0.0
2. Is your question already answered in the tutorials and guides —> https://patchthecode.github.io/
3. If you just up

[2016-10-27 17:27] evens121 commented on #181
http://www.media.tv?/mediaTVNetwork/http://www.Doctype.com?/Elgato-Avea-Adroid-EyeTV-network-For-IpadTouch-Power’s-by-iOS-hp-cloud-Companies-links-with-A-Googlemaps-in-all-the-Dells-smart-Drives-computers-upgrades-for-TV’s-apps-wifi’s-in-links-to-all-myself-Accounts-Banks-online-myAccounts-publics-Accounts-and-bank’s-Accounts-online-in-public-accounts-linked-in-to-all-myself-Banks-into-My-Business

[2016-10-27 18:55] patchthecode commented on #181
Invalid issue.

[2016-10-27 18:55] #181 closed

[2016-10-28 06:20] ttorjan commented on #179
Here's an example of what I'm trying to to. Disregard that the month doesn't start with the 1st, it's something I will look at later.

I do realize that I could have the weekdays and month name as a separate header inside or outside the calendar, and I could definitly have the week-number column as a separate view outside the calendar as well.

I guess my question is if this is something that you

[2016-10-28 06:54] aparkerryan27 commented on #178
Yes I have checked those, and the only one that left me with a possible option (after checking all of them), was that there needed to be a seperate build for the simulator and for the device build. Is this something you already had planned for? I saw two frameworks both for ios, should i use one for build and one for testing?

[2016-10-28 07:28] patchthecode commented on #179
Hmm.. interesting. I never saw calendars like those before. Putting an 8th column would cause for a major change as pretty much every calculation in the calendarLayout right now works with a 7 column calendar in mind.

Man..... that's a damn lot of math to re-code haha. For now I would say that I think this should be on the outside. Will this look bad on your design if it is outside the calendar?

[2016-10-28 07:41] patchthecode commented on #178
Ok. honestly, youre the first user of this library that has mentioned this error. I will be very interested to see what the solution you come up with is, so that I would be able to help others.

I am not sure that the settings for the release build would have anything to do with this framework (within your project). But like i said, i will have to research this, because this is new to me.

Are you

[2016-10-28 07:55] ttorjan commented on #179
My plan would have been to use the normal cells, and just add a property to them so you can see if you're supposed to provide a "normal" cell or a "weekno" cell, and let the user of the lib style them there.

But as you say, the math to support both seven and eight columns, making sure the right type is set on each willDisplayCell and so on is pretty daunting.

How about this, though;

Extend the

[2016-10-28 08:04] patchthecode commented on #179
Doing that new header is possible. But like i said, the math...
Lets assume this new header is on the left hand side.

1. This would mean I have to recalc for an extran column.
2. The hit-test calculation that i use in the layout will need to be changed
3. Cell positioning code will also need to be changed.
4. etc etc etc

So is all this possible? Of course yes :)
But that is not something that I

[2016-10-28 08:11] ttorjan commented on #179
Well, you wouldn't have to implement it. :)

I'm definitely going to need something similar to the layout I posted, it's a requirement for my project. Time-wise, it's not something that I can wait for another project/person to implement, so whatever solution I use will be implemented by me.

Since you have the best knowledge of the calendar, I was just bouncing some ideas off of you hoping to get

[2016-10-28 08:20] patchthecode commented on #179
can you join me here? -> https://gitter.im/patchthecode/JTAppleCalendar

[2016-10-28 16:04] aparkerryan27 commented on #178
I currently just drag and dropped the framework file in to my project, but I'm going to switch to cocoa pods and let you know what happens. Thank you for helping me, I'm very new to the whole framework thing and I probably just messed something up...

Thanks,
   Parker

[2016-10-28 16:16] patchthecode commented on #178
@aparkerryan27 yes, if you just drag and drop the library into your project, you have to know all the the setting etc manually. I am not 100% good and manually setting this thing up. What i'll do is look into manually setting it up and then put it in the tutorial to help others. Up to this point, I just use cocoapods and carthage

[2016-10-28 16:20] patchthecode commented on #179
Ok after looking into this some more. I think its possible. I'm currently thinking of a way to best implement it.  So i have added the `enhancement` label on this. However, I am not sure if i;ll finish it in time for your project.

[2016-10-28 19:30] bryantm1123 opened #182 "Binary operator >= can't be applied to operands of type 'Date' and 'Date!'"
Hi,

I've just updated to Xcode 8.1 and Swift 3, and I'm seeing this compiler error in JTAppleCalendarView.swift and UserInteractionFunctions.swift:

`Binary operator '>=' cannot be applied to operands of type 'Date' and 'Date!'`

In JTAppleCalendarView.swift, the errors are in the pathsFromDates function, and in UserInteractionFunctions.swift, in the firstDayOfDate comparison with startOfMonthCac

[2016-10-28 19:45] patchthecode commented on #182
This problem has been resolved. The latest version of this library is 6.0.1

[2016-10-28 19:47] bryantm1123 commented on #182
Great, thanks for your time Jay!

[2016-10-28 19:47] #182 closed

[2016-10-28 19:49] patchthecode commented on #182
@bryantm1123 youre welcome

[2016-10-29 04:47] patchthecode commented on #123
@dbmrq thanks for the support man! :]

[2016-10-29 07:54] dbmrq commented on #123
Don't mention it. Kee up the good work. :)

[2016-10-29 19:15] aparkerryan27 commented on #178
Im now using cocoapods, following the instructions in the tutorial, and I'm getting the error:
 [!] Unable to find a specification for `JTAppleCalendar (~> 6.0)`
But I don't know where this could be coming from either....

[2016-10-29 19:20] jaredalexander commented on #178
@aparkerryan27 your pod file should look like:

pod 'JTAppleCalendar, '~> 6.0.1'

[2016-10-29 19:28] aparkerryan27 commented on #178
Sorry, but that didn't seem to work either.
[!] Unable to find a specification for `JTAppleCalendar (~> 6.0.1)`

[2016-10-29 19:32] patchthecode commented on #178
@aparkerryan27 can you join me here? --> https://gitter.im/patchthecode/JTAppleCalendar

[2016-10-29 20:16] patchthecode commented on #178
@jaredalexander @aparkerryan27
ok we confirmed that it was something to do with cocopods on his system. He's working to resolve this now.

[2016-10-29 21:15] #178 closed

[2016-10-29 22:19] aparkerryan27 opened #183 "Adjustable Outdates for All Past Dates"
For my project, a booking application, the user can only select today's date, or dates in the present. Is there a way to adjust the outdates in order to make them encompass all days before the present? And on a further note, can the outdates be made unselectable UIViews?

[2016-10-29 22:28] patchthecode commented on #183
ok. Lets talk here. I do not understand what you mean -> https://gitter.im/patchthecode/JTAppleCalendar

[2016-10-29 22:36] patchthecode commented on #183
Basically, Outdates are fixed.
Outdates are based on what you find on a real calendar. These cannot be adjusted.

If you are trying to prevent dates from being selected, then have you looked at the tutorial here-> https://patchthecode.github.io/DateCellConfiguration/

The main tutorial page is here -> https://patchthecode.github.io/

[2016-10-29 23:50] aparkerryan27 commented on #183
Basically my goal was to change all of the dates before the current date to unselectable dates, in order to prevent the customer from booking in the past. I did this by changing these two functions, just thought posting this might make a possible alternative easier for someone trying to do it in the future.

`
func configureTextColor(_ cellState: CellState) {

if cellState.isSelected {

[2016-10-29 23:50] #183 closed

[2016-10-29 23:59] patchthecode commented on #183
@aparkerryan27 this is exactly the way to do it.

Just compare the date. And if it is a date that you want disabled, then `cell.isUserInteractionEnabled = false` will do the trick.

[2016-10-30 22:09] amrx06 commented on #154
and how did you fix it? it would be nice for people having the same issue, thx

[2016-10-30 23:55] patchthecode commented on #154
@amrx06 Ok, i will ask you the same question i asked originally.

Version?
iOS10? 9?
Swift2? 3?
Where are you getting the error?
etc etc etc

[2016-10-31 08:35] amrx06 commented on #154
Thanks for the quick answer!
JTAppleCalendar 6.0.1
iOS 10
Swift 3

`    func configureTextColor(cellState: CellState) {
        if cellState.dateBelongsTo == .ThisMonth { //error here : CellView.swift:23:36: Binary operator '==' cannot be applied to operands of type 'DateOwner' and '_'
                dayLabel.textColor = normalDayColor
        } else {
                dayLabel.textColor = weekend

[2016-10-31 10:04] patchthecode commented on #154
@amrx06 why do you have `.ThisMonth` instead of `.thisMonth` ?

[2016-10-31 13:48] artemkalinovsky opened #184 "Crash during calendar initialization (ver. 6.0.1, Xcode 8.1)"
[calaccessd-2016-10-11-112832.crash.zip](https://github.com/patchthecode/JTAppleCalendar/files/561860/calaccessd-2016-10-11-112832.crash.zip)

[2016-10-31 14:42] artemkalinovsky commented on #184
Fixed, that line caused the issue:
` currentDate = calendar.date(byAdding: addingDateComponents, to: currentDate)!`

[2016-10-31 14:42] #184 closed

[2016-10-31 14:47] patchthecode commented on #184
cool

[2016-10-31 19:14] leo150 opened #185 "How to deselect cell on second tap?"
Let's say user selects specific day on calendar and cell shows selection view like in [tutorial](https://patchthecode.github.io/DateCellConfiguration/). How can I deselect this cell on second tap?

Is it even possible? I'm not sure but I guess that [UserInteractionFunctions.swift](https://github.com/patchthecode/JTAppleCalendar/blob/master/Sources/UserInteractionFunctions.swift):396 has some logic

[2016-10-31 20:49] patchthecode commented on #185
This calendar operates much like a UITableView.
Have you tried enabling multi selection?

[code]

[2016-11-01 10:28] leo150 commented on #185
Thanks for quick response! It's partly what I need. How can I deselect all other dates when user selects some specific date?

[2016-11-01 10:57] leo150 commented on #185
Ok, now I get it. In `didSelectDate`:
`calendar.selectDates(calendar.selectedDates.filter({ $0 != date }))`

[2016-11-01 10:57] #185 closed

[2016-11-01 13:37] mecid opened #186 "Cell status at method returns cellstate with nil cell."
Cell status at method returns always cellstate with cell == nil

[2016-11-01 18:15] patchthecode commented on #186
OK, hey one thing. Whenever you list issues, it will be helpful if you can reproduce this error in the sample application. I do not have your app, so I would not be able to determine why it is always returning nil for you.

On the sample application the `func cellStatus(at point: CGPoint)` works as expected.

Can you provide some more information on what you are trying to do, and what failed?
Is t

[2016-11-02 13:07] eladschwartz opened #187 "Changing ReadingOrientation to rightToLeft cause some UI issue with landscape"
Hi,

I changed the ReadingOrienation to right to left:
 calendarView.changeVisibleDirection(to: .rightToLeft)

On first load the view looks ok in portrait, but when i'm in landscape that's what happened:

![img_0090](https://cloud.githubusercontent.com/assets/15890483/19929747/8fff557a-a10d-11e6-8574-e41807863367.PNG)

and  now portrait has the same issue:

![img_0091](https://cloud.githubusercont

[2016-11-02 16:03] patchthecode commented on #187
yea i know about that bug.
it's a small fix i have to do. WIll fix this over the weekend.

[2016-11-02 16:03] eladschwartz commented on #187
Cool, 10x!!!

[2016-11-02 16:04] patchthecode commented on #187
By the way, are you changing the direction for a eastern type calendar?

[2016-11-02 16:17] eladschwartz commented on #187
no, didn't know I needed to do that.

On Wed, Nov 2, 2016 at 6:04 PM, JTAppleCalendar <notifications@github.com>
wrote:

[2016-11-02 16:29] patchthecode commented on #187
@eladschwartz I was just wondering why you were changing the direction. But I realized when i looked at your screenshots.

[2016-11-02 18:44] amrx06 commented on #58
You copied the code of the example #1, I've got the same error when building.

You need to add this method (copied from the iOS example available on GitHub) :
`func configureCalendar(_ calendar: JTAppleCalendarView) -> ConfigurationParameters {
        let startDate = formatter.date(from: "2016 10 01")!
        let endDate = formatter.date(from: "2016 12 01")!

        let parameters = Configurati

[2016-11-02 18:50] amrx06 commented on #154
don't know, maybe it occurred while converting fro swift 2 to swift 3.
Thanks it builds now.

[2016-11-02 21:16] patchthecode commented on #58
@amrx06 i have now fixed the main tutorial. It was missing a `,` comma symbol. The error is now gone from the tutorial

[2016-11-04 08:36] mecid commented on #186
@patchthecode same problem with your sample app.
Just add this extension to your ViewController.

`extension ViewController: UIViewControllerPreviewingDelegate {
    func previewingContext(_ previewingContext: UIViewControllerPreviewing, viewControllerForLocation location: CGPoint) -> UIViewController? {
        guard let cellState = calendarView.cellStatus(at: location) else { return nil }

[2016-11-04 16:39] patchthecode commented on #186
I have added the code.
Can you tell me where you are calling
[code]
from ?

I have added that code in a button and it works. It correctly tells me the cell that is at point 100, 5

[2016-11-04 16:48] tschmitz opened #188 "Support looking up indexPath by point"
There are times when I'd like to be able to look up what IndexPath corresponds to a given CGPoint. (For example, I might do that so that I can add a long press gesture to the calendar view and figured out which cell the user long pressed on.)

Ordinarily I could use `UICollectionView.indexPathForItem(at point: CGPoint)` but in this case the UICollectionView instance isn't exposed. It'd be great to

[2016-11-04 16:54] patchthecode commented on #188
like this?
[code]

[2016-11-04 17:01] tschmitz commented on #188
Yep, exactly!

[2016-11-04 17:02] patchthecode commented on #188
I am deliberately trying to hide that under-working from the developer. If a feature is needed that isnt already provided, I will try to make it easier to access.

[2016-11-04 17:03] patchthecode commented on #188
btw, you can find **all** user functions from the file `UserInteractionFunctions.swift`
check it out. I'm sure it has functions you might not have already seen.

[2016-11-04 17:47] tschmitz commented on #188
Ahh, I see it in there now - thanks!

[2016-11-04 17:47] #188 closed

[2016-11-05 06:24] mecid commented on #186
@patchthecode As you see in my code, this method called in previewingContext, when you deep touch on Cell.

[2016-11-05 07:06] patchthecode commented on #186
@mecid ok. I have never worked with 3d touch. And I do not have a 3d-touch device. So I do not have any idea how to fix this.

Is it possible that you can debug the library, and see where the code is failing? I will not be able to test this, unless you know of a way for me to use 3d-touch on the simulator.

[2016-11-05 08:32] skipadu opened #189 "didScrollToDateSegmentWith() gets called twice on every swipe to next/previous month"
1. Are you using the latest version of JTAppleCalendar? Latest version is currently 6.0.1
* Yes, I have the latest version 6.0.1
2. Is your question already answered in the tutorials and guides —> https://patchthecode.github.io/
* It may have been discussed in the issue #102, but not sure if it is the same.
3. Looking for some feature you cant find? Than have you already looked at the *UserInterac

[2016-11-05 13:52] patchthecode commented on #189
@skipadu youre right. Thanks. looking into this.

[2016-11-05 18:10] #189 closed

[2016-11-05 18:18] patchthecode commented on #189
I have now fixed this.Thanks.
It will be included in next release.

[2016-11-05 21:29] patchthecode commented on #187
@eladschwartz I have made a change on master branch. Can you test it and let me know if your issue was resolved?

[2016-11-05 21:31] patchthecode commented on #173
@vahids I just made a change. Let me know if orientation bug is now resolved.
I have put the changes on master branch.

[2016-11-06 00:23] Norton73 opened #190 "Problem with scrollToDate"
I have set up the calendar and everything is working fine. With the following code:

    override func viewDidLoad() {
        super.viewDidLoad()
        self.calendarView.dataSource = self
        self.calendarView.delegate = self
        self.calendarView.registerCellViewXib(fileName: "CellView")
        self.viewDidLayoutSubviews()

        let currentDate = self.calendarView.currentCalendarDa

[2016-11-06 01:50] patchthecode commented on #190
ok. looking into it

[2016-11-06 01:51] patchthecode commented on #190
What version of the calendar are you using ?

[2016-11-06 09:09] Norton73 commented on #190
I am using 5.0.1

I have been going through trying to figure out why I have self.viewDidLayoutSubviews() in there but I'm not sure. I have taken it out and it hasn't effected the app at all.

[2016-11-06 09:17] Norton73 commented on #190
Can you think why having the code in the TODAY button wouldn't cause a problem but having it in ViewDidLoad would?

[2016-11-06 16:33] patchthecode commented on #190
@Norton73 yes. It is a race condition bug that I have fixed. This bug has been fix in later versions. The bug exists in version 5.0.1 and below.

Basically whats happening is that the calendar is being scrolled to before it calculated the size of the cells. This forces it to get the default size (which is huge). It does calculate the correct size after loading, but because the bad sizes have been

[2016-11-06 18:04] doodahdayz opened #191 "Accessing custom cell"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

IF YOU ARE USING THE OFFICIAL RELEASE VERSION, FOLLOW THE FOLLOWING 4 INSTRUCTIONS:
________________________________________

1. Are you using the latest version of JTAppleCalendar? Latest version is currently 6.0.1
**Yes**
2. Is your question already answered in the tutorials and guides —> https://patchthecode.github.io/
**Not tha

[2016-11-06 18:59] doodahdayz commented on #191
I have the following delegate function:

    public func configureCalendar(_ calendar: JTAppleCalendarView) -> ConfigurationParameters {
        let firstDate = formatter.date(from: "2016 11 01")
        let secondDate = formatter.date(from: "2017 12 31")

        let configParms = ConfigurationParameters(startDate:firstDate!,
                                                  endDate: secondDate!,

[2016-11-06 19:09] patchthecode commented on #191
I think my examples were in tune with my code. It is fully written swift3 😄
But if you find places where I missed in my examples then show me :] and i'll fix it.

By the way, you are getting error on which variable? is it the `firstDate` variable ?
I'm at the computer right now, so join me here -> https://gitter.im/patchthecode/JTAppleCalendar because i dislike slow chatting xD

[2016-11-06 19:27] #191 closed

[2016-11-06 21:23] Norton73 commented on #190
Great. Thanks very much for your reply.

I will give the workaround a shot.

[2016-11-06 23:21] Norton73 commented on #190
That code worked perfectly with one small change.

self.self.calendarView.scrollToDate(date as Date, triggerScrollToDateDelegate: false, animateScroll: false)

I am new to swift but I haven't seen the double "self" before. Don't know if it is a glitch in my code that required it but it works with the line like that.

Thanks again for your help.

[2016-11-06 23:22] Norton73 commented on #190
Sorry. Clicked the wrong button. Not sure if it is my place to close the thread.

[2016-11-07 00:20] patchthecode commented on #190
Nah its cool. you can close it.
And double self? ok... something weird is going on here :/
I have never seen this  before either

[2016-11-07 00:20] #190 closed

[2016-11-07 19:52] vahids commented on #173
I don't know what's going on
after updating to xcode 8.1 I have this error:

/Users/vahid/Desktop/PersianCal/Pods/JTAppleCalendar/Sources/JTAppleCalendarView.swift:848:48: Binary operator '>=' cannot be applied to operands of type 'Date' and 'Date!'

this line of code:
if !(firstDayOfDate >= self.startOfMonthCache &&

So, I could not test direction.

[2016-11-07 20:15] patchthecode commented on #173
Oh. Yea. that is an XCode bug.
You need to update to JTAppleCalendar version 6.0.1 to fix this.
Once fixed, you can close this issue :]

[2016-11-08 20:28] Naim08 opened #192 "Works with swift 3?"
Hi,

Is there a version for swift 3?

Thank You
Naim

[2016-11-08 21:33] patchthecode commented on #192
This calendar is for swift 3.

[2016-11-08 21:55] Naim08 commented on #192
Hi,

Thanks for your quick reply dude. So when I install JTAppleCalender using cocoapods, and then open xcworkspaces, it prompts me to convert it to swift 3? Do I just avoid that all together?

Thank You

[2016-11-08 22:26] patchthecode commented on #192
This should not be happening.
Join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2016-11-09 08:07] #192 closed

[2016-11-09 22:40] roarapps opened #193 "Two Months side by side"
Is it possible to create a calendar with 14 columns? e.g. two months side by side?

[2016-11-09 22:42] patchthecode commented on #193
@roarapps yes

[2016-11-09 22:44] patchthecode commented on #193
Have you looked at the [Common questions](https://patchthecode.github.io/CommonQuestions/) section in the documentation?
If this fixes your issue then you can close this one :]

[2016-11-09 22:46] #193 closed

[2016-11-09 22:46] roarapps commented on #193
Yes thanks, was going through the documentation trying to figure it out 👍

[2016-11-09 22:47] patchthecode commented on #193
@roarapps nice :]
I think the first one should solve the problem

[2016-11-09 22:48] patchthecode commented on #193
Also, if you like the library. Dont forget to leave a star rating! It will be much appreciated.
If you have any further questions, you can open a new issue request.

[2016-11-11 15:45] nikolalukovic opened #195 "Unknown class _TtC12CalendarTest19JTAppleCalendarView in Interface Builder file."
Hi,

I was trying to make a demo with your calendar app; i was following your instructions on https://patchthecode.github.io/MainTutorial/ but i get this weird error where it says that JTAppleCalendarView is not in Interface Builder file. I've been using Carthage to get your library and i'm using the latest version of both. Here's the full project:

[CalendarTest.zip](https://github.com/patchtheco

[2016-11-11 16:55] patchthecode commented on #195
I looked at your `UIView` on the story board.
You have a wrong module listed for the view.

It should be this instead:
<img width="277" alt="screen shot 2016-11-11 at 8 55 12 am" src="https://cloud.githubusercontent.com/assets/2439146/20223070/9eead150-a7ec-11e6-87fc-d9212ba7f52a.png">

[2016-11-11 17:07] nikolalukovic commented on #195
Oh geez, i've been trying to get this to work whole day. I feel so stupid :(
Thank you so much for a quick reply!

[2016-11-11 17:07] #195 closed

[2016-11-11 17:08] patchthecode commented on #195
Haha, Its ok man. We all make simple mistakes. Its cool. Have a good one. 👍

[2016-11-12 03:55] #187 closed

[2016-11-14 15:59] Croge32 opened #196 "CalendarView shows multiple/glitched selections with single row view, starting on wrong day of week"
Calendar works great for the most part! Very informative tutorials.

So I'm making a calendar that has a button that expands it from 1 to 6 rows. With 6 rows I have it working and looking great, but with 1 row I have a couple issues:

1. When the calendar starts on the 1 row view and I set the inDates to .off and outDates to .tillEndOfRow, the days of the week don't align properly with my settings

[2016-11-14 17:33] patchthecode commented on #196
OK. your for your 2 issues.

1. Your first one is expected. It seems that you have an external header `[s|m|t|w|t|f|s]` that is outside of the calendar. Therefore your in-dates/out-dates will offset the positioning of  your dates. It seems that the setting that you want is `in-Dates = .forFirstMonthOnly` and `out-dates = .off`.

Since you have an external header (and not an internal one), this set

[2016-11-14 18:30] patchthecode opened #197 "On single row calendar with scrollMode = .frameWidth, the scrollToDate() function is scrolling to the correct date, but it has a wrong offset."

[2016-11-14 18:32] patchthecode commented on #196
Another thing to not for issue#1, you said that it auto-corrected it self on selection. Ok there is a bug here.  The bug happens on single-row calendar.
It happens with the `scrollToDate()` function. On single row view, it scrolls to the incorrect position. Therefore when you select the date, it readjusts it self to what it *should* be.

I have now created a new issue here to track this -->> https

[2016-11-14 19:38] Croge32 commented on #196
Good to go regarding issue#1 👍

issue#2 still occurring. Were you able to replicate this?

[2016-11-14 19:45] patchthecode commented on #196
@Croge32 i'll get it it in a bit. I'm currently working on issue#1.

but i'm pretty sure that the 2nd issue is nothing serious. I'll look at it in a sec.
I'll let you know if I can't replicate it. Just a min.

[2016-11-14 21:43] patchthecode commented on #196
@Croge32 hey I think I have fixed the first issue.
can you test it?

put this in your pod file and run `pod install`

[code]

[2016-11-14 22:36] Croge32 commented on #196
I'll get that tested for you tomorrow!

[2016-11-15 02:01] #197 closed

[2016-11-15 02:04] patchthecode commented on #196
I have now replicated the 2nd issue. Looking into it now.

[2016-11-15 05:10] Krishnarjun-Banoth commented on #2
I loved it, excellent library with neat tutorial. Thank u sir. I want some more functionality, that is, i need to recognise single tapping and double tapping events of an user when he taps on a particular day label. Hope u will shortly helps me to achieve this functionality in my project.

[2016-11-15 05:51] patchthecode commented on #2
@Krishnarjun-Banoth can you open a new request here --> https://github.com/patchthecode/JTAppleCalendar/issues/new

I can have that new feature for you by morning.

[2016-11-15 07:38] Krishnarjun-Banoth commented on #2
Sure sir

[2016-11-15 07:39] Krishnarjun-Banoth opened #198 "Need to recognise single tapping and double tapping events of an user whenever he taps on a particular day label."
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

IF YOU ARE USING THE OFFICIAL RELEASE VERSION, FOLLOW THE FOLLOWING 4 INSTRUCTIONS:
________________________________________

1. Are you using the latest version of JTAppleCalendar? Latest version is currently 6.0.1
2. Is your question already answered in the tutorials and guides —> https://patchthecode.github.io/
3. Looking for so

[2016-11-15 08:26] patchthecode commented on #198
Upgrade complete.

You can test it by putting the master branch in your `Podfile` like this:

[code]

Then do a pod install.
To try out the new feature, follow the tutorial here:
https://patchthecode.github.io/AddingGestures/

Let me know if it works for you

[2016-11-15 08:27] patchthecode commented on #196
I have now fixed the second issue.
Let me know if the issues are resolved when you have tested them

[2016-11-15 10:51] Krishnarjun-Banoth opened #199 "Feature to get events based on single tapping and double tapping on a date label"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

IF YOU ARE USING THE OFFICIAL RELEASE VERSION, FOLLOW THE FOLLOWING 4 INSTRUCTIONS:
________________________________________

1. Are you using the latest version of JTAppleCalendar? Latest version is currently 6.0.1
2. Is your question already answered in the tutorials and guides —> https://patchthecode.github.io/
3. Looking for so

[2016-11-15 11:01] patchthecode commented on #199
I see that you have re-opened this.
Does the feature not work?

[2016-11-15 11:28] Krishnarjun-Banoth commented on #199
yeah actually i did not seen it on issues section, so i thought that something went wrong thats way i re-opened it.

[2016-11-15 17:21] patchthecode commented on #199
I had already completed your feature request and i closed your issue.
You can find the close issue and the instructions on how to use you new feature here -> https://github.com/patchthecode/JTAppleCalendar/issues/198

[2016-11-15 17:26] patchthecode commented on #199
You can find closed issues by clocking on this
<img width="596" alt="screen shot 2016-11-15 at 9 24 51 am" src="https://cloud.githubusercontent.com/assets/2439146/20316149/9191a6e2-ab15-11e6-8f45-a861095e44bc.png">

[2016-11-15 21:08] roarapps opened #200 "Have ability to have calendar's with endOfGrid outDate, without other month's dates in the same section"
Hello,

Something strange is happening, in your example code, if you configure the calendar with the following parameters (where Date == November) - When you scroll to February 2017, the calendar seems to become out of sync because there should be an empty 5th row. This however is shown as populated.

This only happens if Headers delegate methods are off. If i have a 0px height header, then 4 rows

[2016-11-15 21:25] patchthecode commented on #200
ok checking it out now.

[2016-11-15 21:26] Croge32 commented on #196
Worked for me! 👍

[2016-11-15 21:48] patchthecode commented on #200
@roarapps was this the behavior before? Or are you now noticing this

[2016-11-15 21:53] roarapps commented on #200
I just noticed it now (only started implementing recently). It took me a while to figure it out as I wanted my month to always start at '1' but when i had certain configuration options set, the outdates weren't generated as outdates, I can't remember exactly what i had set so i tried to replicate this issue on your example code.

It seems to be a combination of things but when the header is on, th

[2016-11-15 21:54] patchthecode commented on #200
@roarapps join me here --> https://gitter.im/patchthecode/JTAppleCalendar

[2016-11-15 22:22] patchthecode commented on #200
@roarapps ok after the discussion, I have thought of a better solution.
I will implement it tonight.
and it wont feel hacky 😉

[2016-11-15 22:23] patchthecode commented on #200
Setting this as an enhancement.

[2016-11-16 00:26] #196 closed

[2016-11-16 04:20] Krishnarjun-Banoth commented on #198
Thank u for your assistance.

[2016-11-16 04:55] Krishnarjun-Banoth commented on #198
hi sir, its working absolutely fine to recognise single and double tapping events, but when did that current selected date is getting 1 day less than the actual selected date, that is if i choose 24-11-2016 date label, then i am getting 23-11-2016 as date value in didSelectDate method, same thing happening with double tapping also.

[2016-11-16 05:05] #199 closed

[2016-11-16 05:07] patchthecode commented on #198
can you join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2016-11-16 07:23] patchthecode commented on #200
The feature is complete.
The change from your end that you have to do in order to make is happen is... nothing 👍
It should not just work as expected.

I will be releasing version 6.0.3 to in a day or two.
in the mean time you can test the master branch.

[2016-11-16 07:23] #200 closed

[2016-11-16 08:02] #198 closed

[2016-11-16 11:43] roarapps commented on #200
Amazing! THanks, i'll test this out shortly

[2016-11-16 12:05] roarapps commented on #200
Looking good :) 👍

[2016-11-16 13:03] patchthecode commented on #200
cool.

[2016-11-16 15:01] romans12 opened #201 "Customizing cell with event in database"
Hi Jay,

Thanks for all the work you've done on the calendar. It's great! I'm new to Swift and am trying to have dates with prior events display differently then cells without events. I know that you've said that logic/loops shouldn't be included in the willDisplayCell function, but I'm struggling to figure out how to change the display on an individual cell when a change to the database occurs.

[2016-11-16 16:01] patchthecode commented on #201
Maybe I should clarify that loop statement.

What happened was: I noticed people would do a loops in there that had heavy work being done. I do not think they realized that the code in the `willDisplayCell` function will be called for ever cell displayed (since this is a UICollectionView subclass).

So let's say that you have a heavy loop that loops through say 200 items. Since there are 42 cells

[2016-11-16 18:48] romans12 commented on #201
Yeah, that makes sense.

I had to switch things a little bit so that I could access my data in the view controller, but that fixed it. Thank you!!

[2016-11-16 18:49] #201 closed

[2016-11-16 20:06] patchthecode commented on #201
cheers.

[2016-11-16 21:10] Croge32 commented on #196
@patchthecode I'm noticing another issue that may or may not be related to your latest updates.

When I start my application I'm in one row mode at the current date. If I click my expand button I am in the same month. If I retract the calendar back to 1 row, the dates shown are the 24th - 30th of January, so almost 1 entire year back. Code above is basically the same.

[2016-11-16 22:16] patchthecode commented on #196
Ok. Looking into it

[2016-11-17 01:55] patchthecode commented on #142
fixed.

[2016-11-17 02:08] patchthecode opened #202 "Possible scroll issue. Bug introduced in version 6.0.2"
from user @ Croge32

I'm noticing another issue that may or may not be related to your latest updates.

When I start my application I'm in one row mode at the current date. If I click my expand button I am in the same month. If I retract the calendar back to 1 row, the dates shown are the 24th - 30th of January, so almost 1 entire year back. Code above is basically the same.

Also calendarView.scr

[2016-11-17 02:08] patchthecode commented on #196
Lets track this here -> https://github.com/patchthecode/JTAppleCalendar/issues/202

[2016-11-17 05:19] talalt opened #203 "How to select date range with two touches?"
I need to select date range with two touches - first will be first date, and second will be last. When I try call selectRange() function after second touch it hangs, because he try to select all date cells in range, and make an infinity cycle. Please, give me some hint. Thanks!

[2016-11-17 05:27] patchthecode commented on #203
ok. can you join me here? https://gitter.im/patchthecode/JTAppleCalendar

[2016-11-17 05:33] patchthecode commented on #203
without you providing more information, I will not know what you have done with your code

[2016-11-17 05:36] talalt commented on #203
ok, i"ll join now

[2016-11-17 06:07] patchthecode commented on #203
User selected date inside the did select delegate (without disabling delegate triggers). Therefore this causes an infinite loop. This is expected. Closing this issue now.

[2016-11-17 06:07] #203 closed

[2016-11-17 13:55] orazz commented on #2
<img src='https://github.com/orazz/CalendarPopUp/raw/master/CalendarPopUpDemo.gif' width='250'/>  <img src='https://dotjpg.co/caY.png' width='250'/>

[DemoCalendarPopUp](https://github.com/orazz/CalendarPopUp)

[2016-11-17 18:42] patchthecode commented on #2
@orazz nice +1.  Correct me if i'm wrong, but do you have an animation going on the select view? It seems to has a small bounce and fade effect?

[2016-11-18 08:15] orazz commented on #2
@patchthecode Yes, i have. Will do. Thanks)

[2016-11-18 12:56] ChanchalW commented on #2
![calendar](https://cloud.githubusercontent.com/assets/21195828/20430800/781e69da-adbc-11e6-8662-53ebef630e25.png)

[2016-11-18 19:04] patchthecode commented on #2
@ChanchalW nice +1. How did you get the half of a blue circle in the 2nd one? Did you use Xibs? or a custom drawn view?

[2016-11-19 10:27] ChanchalW commented on #2
I used xib and work on layer..

[2016-11-21 16:40] Croge32 commented on #202
@patchthecode Have you discovered anything new about this?

[2016-11-21 17:46] patchthecode commented on #202
@Croge32 Yes. I am working on it.
But just to confirm, can you paste me your `configureCalendar` function code for the single row calendar that is messing up?

[2016-11-21 17:50] patchthecode commented on #202
Also, can you show me the code you use to expand and retract the calendar?
I believe I have fixed the issue where it scrolls back the entire year. But I need to see you code in order to know if my fixed works.

[2016-11-21 17:58] Croge32 commented on #202
Sure.

Here is my configureCalendar function:

[code]

And here is my code to expand the calendar:

[code]

[2016-11-21 18:01] patchthecode commented on #202
@Croge32 thanks. looking into it

[2016-11-21 21:23] patchthecode commented on #202
@Croge32
Ok I had a change to look at the issue.

Concerning the calendar scrolling back to the original date, this is expected.
If you have a calendar with a certain configuration, and you change orientation, then your calendar should be visible on the same month/date. But, since you are changing the calendar layout, then the cells positions will change. Now, should the library auto scroll to the

[2016-11-22 02:43] Kishou opened #204 "Hi, would like to know can this library support Xcode 7.3 and Swift 2.0 ?"
I did try to clone and build, but found a lot of errors, seems like incompatible code version.

[2016-11-22 02:43] Kishou commented on #204
I did try to clone and build, but found a lot of errors, seems like incompatible code version.

[2016-11-22 05:36] patchthecode commented on #204
Version 5.0.1 was the final version to support Swift 2.
You would need to put this version in your pod file.

One thing though, why swift 2? :/
5.0.1 version is good, but there are many changes and bug fixes I made in version 6.0 and upwards/

[2016-11-23 01:42] Kishou commented on #204
I see thanks, well we are still encouraged to use the older version swift here, since the app that we build is almost completed. So we need to continue finishing them using the older swift.

Thanks for the response.

[2016-11-23 01:47] patchthecode commented on #204
cool

[2016-11-23 01:47] #204 closed

[2016-11-23 13:23] DKalachniuk opened #205 "cell issue"
Hi, i'm using the latest library, Thank you!
I set up range selection and have one small issue. In the screenshot you can see line between cells

Do you have an idea where it comes from?
cellInset is CGPoint(x: 0, y: 0)
and my selectedView is exactly from tutorial

Thank you

![simulator screen shot 23 nov 2016 14 22 02](https://cloud.githubusercontent.com/assets/2156751/20563292/3d0e2a0e-b188-11e

[2016-11-23 16:21] patchthecode commented on #205
Yes, thats the only bug in this library i do not know how to fix.
I need help on it. I believe it has something to do with iOS and fractional values.

Have you seen the issue that was created for this?
CUrrently, the work around is this ->
<img width="975" alt="screen shot 2016-11-23 at 8 18 02 am" src="https://cloud.githubusercontent.com/assets/2439146/20569648/a9e12c18-b155-11e6-9952-ba3342bca77

[2016-11-23 16:34] DKalachniuk commented on #205
@patchthecode nope(
but my friend @alickbass proposed to do the width of the calendar should be divisible by 7 without remainder

![simulator screen shot 23 nov 2016 17 33 45](https://cloud.githubusercontent.com/assets/2156751/20570202/ff02c844-b1a2-11e6-8877-a7f46c4ca3ca.png)

thank you for quick response!

[2016-11-23 16:47] patchthecode commented on #205
Awsome. Glad the work around works for you.
I will look into that solution you mentioned.
Btw, If you like the library feel free to leave a star ★ rating on Github. It will be much appreciated.
Have a good one.

If your issue is resolved, you can close now 👍

[2016-11-23 16:48] #205 closed

[2016-11-23 18:36] yumsmools opened #206 "set start date after calendar load"
Hi there

Thanks for a great control

I'm setting startdate and enddate 1 year either side of today. and school to today when the calendar appears, but the scroll performance is not too great.  So I decided to make the start date today and set the proper start date after the calendar appears.  Is there an easy way to do this?

Thanks

Imran

[2016-11-23 18:44] patchthecode commented on #206
Hey. I have set start and end date to be 100 years.
And performance is great on an old iPhone 4s.

Can you tell me what you are doing in your
[code]

?

[2016-11-23 18:50] yumsmools commented on #206
yeah  nothing too much

`    func calendar(_ calendar: JTAppleCalendarView, willDisplayCell cell: JTAppleDayCellView, date: Date, cellState: CellState) {
        setGregorianMonth() // display month
        setHijriMonth() // display hijri month

        let myCell = cell as! CalendarCell
        let formatter = DateFormatter()
        formatter.dateFormat = "yyyy MM dd"

        myCell.gregorianD

[2016-11-23 19:51] patchthecode commented on #206
Ok I see the first problem.

If you have a 6-row calendar, then you have 42 cells.
This means that the code you have there will be called for every of the 42 cells that is on the screen.

You have instanced a `DateFormatter` in there.

[code]

`DateFormatter()` instances [is already known to be a performance  downer](http://stackoverflow.com/questions/8832768/why-is-allocating-or-initializing-nsda

[2016-11-23 20:24] patchthecode commented on #206
@yumsmools

[2016-11-23 20:39] patchthecode commented on #202
@Croge32 Hey, I believe I have fixed the issue now.
Do you know how to test with master branch?

[2016-11-23 21:31] Croge32 commented on #202
Testing now.

Perhaps I didn't explain my first issue clearly enough, but let me try to clarify the sequence of events:

1) I open my app in 1 row mode. The calendar date selects November 23rd.
2) I shift to 6 row mode. The date stays selected and it is on the current month, November.
3) I shift back to 1 row mode. The date lands on the week of January 24-30th.
4) I shift back to 6 row mode. The d

[2016-11-23 21:51] patchthecode commented on #202
It happens because of this (i specuate).

1. When you start with One-row mode, it is at the **end** of the UICollectionView content offset. Because according to what you have told me, Your end date is this month 2016.
So Let's assume this offset is
[code]
So since your calendar is at the end of your date boundary, your calendar is thus at the end of the content offset of the UICollectionView.
2. W

[2016-11-23 21:51] patchthecode commented on #202
@Croge32

[2016-11-23 21:52] alphire opened #207 "Suggestions on how to split calendar when a day is tapped"
Hi guys,

I need some suggestions on how to make the calendar split at a tapped location similar to how the real Apple calendar functions. The weeks below the tapped day move down out of sight while the selected week moves to the top of the calendar just under the header revealing a new view in the middle. I have one idea that consists of creating two calendars and animating them in a way where th

[2016-11-23 21:53] patchthecode commented on #207
Ok. Thinking about this now

[2016-11-23 21:55] patchthecode commented on #186
It has been 19 days and no response since. I will close this issue.
If this is still a problem, then we can always always re-open this issue.

[2016-11-23 21:55] #186 closed

[2016-11-23 22:05] patchthecode commented on #202
I'll close this issue.
If you have any new issues, then do not hesitate to let me know.
This library should be in a state of no bug.
Have a good one. 👍

[2016-11-23 22:05] #202 closed

[2016-11-23 22:27] Croge32 commented on #202
Got it working for me! Awesome stuff, thanks!

[2016-11-24 02:46] syjk129 opened #208 "Delegate and Datasource Setup Issue"
I'm currently on Xcode 8.1 with Swift 3 and I'm reimplementing the Calendar into a new project, but I'm getting an error when I call
`self.calendarView.dataSource = self`
`self.calendarView.delegate = self`

I get the error

and

Also, when I call
` func configureCalendar(_ calendar: JTAppleCalendarView) -> ConfigurationParameters { `
I get the error

I followed the steps exactly and also used the

[2016-11-24 03:57] patchthecode commented on #208
Ok, so in order not to confuse anyone else, i deleted the swift3 branch.
The latest version of `JTAppleCalendar` is already in swift3.

Your pod version should say `6.0`

[2016-11-24 04:01] syjk129 commented on #208
Thanks for the quick response. That removed some errors but the

still persists. Any ideas?

[2016-11-24 04:02] patchthecode commented on #208
Chat here is too slow.. join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2016-11-24 04:38] patchthecode commented on #208
Incorrect branch `swift3` has now been deleted.
User also had issue with pod not being installed on system.
Pod worked when he created a new project however.
User will move every thing over to new project clone.

[2016-11-24 04:38] #208 closed

[2016-11-24 06:29] yumsmools commented on #206
Hi there.

Ok,  Fixed.  I moved the formatter out and I also set it to not animate the scroll and it worked like a charm.

Thanks

Imran

[2016-11-24 06:29] #206 closed

[2016-11-24 06:38] patchthecode commented on #206
Awesome. Glad I could help.

[2016-11-24 07:52] patchthecode commented on #207
OK, I was wondering, do you already have the animation code to split a `UIView` at a tapped location?

[2016-11-24 07:58] patchthecode commented on #206
@yumsmools one last thing. You could have left the scroll animate. If the scrolling is still not smooth, then there is something wrong in the code somewhere again.
But if you removed the scroll animation just because of preference, then no worries. The design is up to you.

[2016-11-24 09:58] vuevrn opened #209 "can I get JTAppleDayCellView from JTAppleDayCell?"
Hello

I have made a calendar like this, with dots are selected dates, blue color cell is for current date.
![simulator screen shot nov 24 2016 3 19 47 pm](https://cloud.githubusercontent.com/assets/10462847/20593748/8b185810-b259-11e6-855d-031b3ac2c930.png)

Now my question is, I need to choose from the selected dates, and show the same date selected on the calendar as well, with multiple selecti

[2016-11-24 10:09] patchthecode commented on #209
OK two things are happening here.
1. First, What are you trying to do originally?

I do not understand what you mean by this `I need to choose from the selected dates, and show the same date selected on the calendar as well`

[2016-11-24 10:39] vuevrn commented on #209
No.

I already have the selected dates. They are shown with dots beneath the dayLabel. Now the task is to select any of them.

You may understand from below

Its like I will select some date, the days when I am available from my device.
Now you will look into my profile from your device where calendar will already show the dates I had selected.
And from these dates only, you have to select any of

[2016-11-24 10:51] patchthecode commented on #209
@vuevrn can you join me here? https://gitter.im/patchthecode/JTAppleCalendar
If youre not there in 10 mins. I'll be asleep haha.
I'll have to look into it in the morning.

[2016-11-24 11:08] #209 closed

[2016-11-24 15:14] dbyst opened #210 "Wrong selected NSDate"
Hi guys . Thanks for a great calendar.

I've faced with issue that delegate returns me wrong date in
- (void)didSelectDatesWithStartDate:(NSDate *)startDate endDate:(NSDate *)endDate {
For example if 2016-11-17 selected,  it returns 2016-11-16 22:00:00 +0000.

What might be a problem ?

Thanks.

[2016-11-24 18:44] patchthecode commented on #210
Ok, first thing. What version of the calendar are you using?

the `didSelectDate` function looks like this
[code]

[2016-11-25 23:27] JakeShelley1 commented on #2
![5838c82fd75dc550660296](https://cloud.githubusercontent.com/assets/6172806/20636520/81e5ff66-b33c-11e6-8c6a-ca24ad2e0cb5.gif)

Thanks for this library. It's saved me so much time! Really appreciate all the work you've put into it.

[2016-11-25 23:42] roarapps opened #211 "Question - scrolling to wrong offset"
Hello,

Have an interesting one, i have my calendar set up to display 1 year either side of today. Everything is great, the calendar loads to today when i show it.

I have calendarView.allowsMultipleSelection = true, so user can select and deselect dates.

Issue -
1) User selects date
2) User scrolls back a month (either via button action, or swipe)
3) I invoke deselectAllDates
4) User scrolls for

[2016-11-25 23:57] alphire commented on #207
No, been pretty busy so I haven't had a chance to play with it. What are you thinking?

[2016-11-26 00:03] patchthecode commented on #2
+1 You're welcome. Cool looking Earth like theme. :]
I think you're the final calendar to make it to the promotion page.

[2016-11-26 00:16] patchthecode commented on #207
Well the thing is, I believe the animation code is done without it having to do anything with the calendar from what I have seen. So i was asking you, how would you do you splitting animation on just a regular UIView?

[2016-11-26 00:20] patchthecode commented on #211
So you're saying that when the user does step `#4`, it scrolls backward a whole year instead of just scrolling forward normally? join me here if you are able to do so -> https://gitter.im/patchthecode/JTAppleCalendar

[2016-11-26 00:29] roarapps commented on #211
Yup, im just about to head off to bed. I'll try to take a look tomorrow and provide more information. However, i may only get time to look at it on Monday.

[2016-11-26 00:30] patchthecode commented on #211
@roarapps alright then. I'll check with you later then.
I wish i could at least re-create it now though.

[2016-11-26 00:40] roarapps commented on #211
Just some notes to remind me when i look at this again -

It scrolls backwards to the start of the calendar + 1 month. This seems like when i go Next, it thinks the current month is the start month.

It only happens if i have a date, or dates selected

It only happens one time, i have to reinit to replicate again.

[2016-11-26 03:41] patchthecode commented on #110
![demo](https://cloud.githubusercontent.com/assets/2439146/20637790/1248a220-b347-11e6-9803-93a0a5b4e75c.gif)

[2016-11-26 05:12] patchthecode commented on #110
![demo](https://cloud.githubusercontent.com/assets/2439146/20638185/d708d542-b353-11e6-8119-fa36c11b66cb.gif)

[2016-11-26 05:51] patchthecode commented on #110
<img width="752" alt="screen shot 2016-11-25 at 9 48 44 pm" src="https://cloud.githubusercontent.com/assets/2439146/20638344/5df43f92-b359-11e6-9251-22c0c555a305.png">

[2016-11-26 09:23] patchthecode commented on #110
![jtapplecalendarnewlogo](https://cloud.githubusercontent.com/assets/2439146/20639387/f7e3acb0-b376-11e6-9d2d-db4819e38c59.png)

[2016-11-26 22:38] alphire commented on #207
Ok so this is what I found in terms of splitting a view: [UIView Split Transition](http://stackoverflow.com/questions/30462159/uiview-split-transition)

It basically takes a screenshot of the view and then cuts it half before sending each part in opposite directions. I think I could probably make this work, but once again its not very elegant and would require two calendars.

The other option I ca

[2016-11-27 00:05] patchthecode commented on #207
If you let me know which part if the calendar you need. Or what objects you need, then i would be able to help you. I do not know much about animation, so you might have to tell me what you need. The calendar is a simple `UICollectionView` in grid style.

Im available here in about 2 hrs or so -> https://gitter.im/patchthecode/JTAppleCalendar

[2016-11-28 04:39] patchthecode commented on #110
![jtapplecalendarnewlogo](https://cloud.githubusercontent.com/assets/2439146/20656424/a1c98c8e-b4e1-11e6-9833-5fa6430f5a8c.png)

[2016-11-28 09:22] patchthecode commented on #211
one thing to try.
Put this in your podfile, and let me know if this issue is also happening on the master branch.

[code]
Then do a:
[code]

[2016-11-28 09:34] roarapps commented on #211
Okay, i'll try this in the afternoon (UK time) and report back

[2016-11-28 09:54] Krishnarjun-Banoth commented on #2
Its too simple to use, thank u..
![krishdesign](https://cloud.githubusercontent.com/assets/20815986/20663793/c2a199b8-b57e-11e6-9538-b218afae6e24.png)

[2016-11-28 10:22] patchthecode commented on #2
+1 @Krishnarjun-Banoth you're welcome. Glad to help.

[2016-11-28 18:35] roarapps commented on #211
Hello, I was already on the master branch. I will try to replicate the issue using your example app to make sure its not anything obvious i'm doing wrong and report back

[2016-11-28 18:37] patchthecode commented on #211
@roarapps ok if youre on master. Do a `pod install` because I had made some changes

[2016-11-28 22:22] roarapps commented on #211
Okay, haven't managed to replicate on your example project but on my project i've commented all excess code out so it's just the calendar view with basic code left.

I've did a pod install as well, if this line is commented out, there is no issue
"// If this cell is already selected, then deselect it
deSelectTheDate(sectionIndexPath)"

Just trying to figure out exactly where its going wrong.

[2016-11-28 22:37] patchthecode commented on #211
alright. let me know.
If its happening with yours, and not mine, then maybe its an issue i am not seeing.

Can you tell be what you are doing in your viewDidLoad?
Paste your code here. It might be possible you are scrolling to a date and something isnt getting called on time? But I need to see your code to find out.

[2016-11-28 22:39] roarapps commented on #211
The only difference between our code now is that I have a splitview controller, but can't see how that would affect anything.

override func viewDidLoad() {
        super.viewDidLoad()

        self.navigationItem.title = "Calendar"
        calendarView.dataSource = self
        calendarView.delegate = self
        calendarView.registerCellViewXib(file: "CalendarCellView") // Registering your cell

[2016-11-28 23:50] patchthecode commented on #211
join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2016-11-29 01:38] haketputek commented on #210
I also have the same problem, I'm using version 5.0.1 (just because our project can't migrate to swift 3.0 yet). Can you please check where I can edit the library so we can get the correct date? And thanks for the great calendar!

[2016-11-29 01:42] patchthecode commented on #210
@haketputek join me here https://gitter.im/patchthecode/JTAppleCalendar

[2016-11-29 09:36] dbyst commented on #210
I'm using 6.01. Application is on Objective C, so I created a bridge.

didSelectDate looks like this
 - (void)didSelectDatesWithStartDate:(NSDate *)startDate endDate:(NSDate *)endDate

[2016-11-29 09:40] patchthecode commented on #210
sounds like youre in an eastern region.
@dbyst ok, use the following as the calendar that you provide to the `configureCalendar` function.

[code]

[2016-11-29 10:56] patchthecode commented on #210
This bug was fixed

To test the master branch with your current project do this:
Go to your pod file, and change your JTAppleCalendar pod to this:
[code]
Then do a:
[code]

[2016-11-29 12:16] dbyst commented on #210
Sure, will take a look, and let you know. Thanks.

[2016-11-29 14:10] athemer opened #212 "Problems : the date text are not at where they supposed to be"
Hi Jay,
first of all I want to thank you for creating this wonderful calendar.

But I now have some problem even though I was following the tutorial step by step,
I would be great if you can kindly help me out here.

So I am now at Quick tutorial part 1, in the "Completed! Where to go from here? " part
I tried to build and my calendar is acting weird like the following screenshot
<img width="314"

[2016-11-29 14:25] athemer commented on #212
I think I just figured out what goes wrong, i didn't centered the UIlabel
thanks anyway :)

[2016-11-29 15:46] #212 closed

[2016-11-29 18:01] roarapps commented on #211
Sorry missed that message and was working on something else today, i will jump on that channel tomorrow

[2016-11-30 07:00] patchthecode commented on #210
Alright then. Closing this issue as it is fixed.
If this is still a problem. We can re-open this.

[2016-11-30 07:00] #210 closed

[2016-11-30 13:08] tatimagdalena opened #213 "Wrong initial position with NavigationBar"
I've put a JTAppleCalendarView in my view controller with the desired constraints, did all the basic setups in my code, and got the result that I wanted. I've set different background colors to be easier to understand where the calendar actually is: (left is my simulator, right is my storyboard)

<img width="671" alt="withoutnavigation" src="https://cloud.githubusercontent.com/assets/8851349/20752

[2016-11-30 13:36] tatimagdalena commented on #213
Just found a related issue #135, and solved this! Would be nice to have this on the documentation, so others can quickly solve this.
Thanks anyway!

[2016-11-30 13:36] #213 closed

[2016-11-30 15:06] Nidhee opened #214 "Current set date resets on Screen orientation"
Hello,

I am scrolling calendar to current date. But when orientation changes it rests calendar to some other date randomly. Guide me how to handle this

IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. Are you using the latest version of JTAppleCalendar? Latest version is currently 6.0.2
2. Is your question already answered in the tutorials and guides —> https://patchthecode.

[2016-11-30 16:01] athemer opened #215 "Is there a function that I could call to count how many days I have selected ?"
Hi Jay, thanks for making this awesome calendar.

I have trouble counting how many days I have selected :/
Is there a function that I could call to tackle this problem ?

I am new to programming and self-learning is really a pain in the ass.

thank you so much.

[2016-11-30 18:10] patchthecode commented on #215
For future reference, all the functions that a user is able to do is easily located in the file: `UserInteractionFunctions.swift`.

have you tried this? :D
[code]

[2016-11-30 18:11] patchthecode commented on #214
Which version of the calendar are you using?
I have recently push version 6.0.3 which should have fixed this issue.

[2016-11-30 18:13] patchthecode commented on #213
But I have this in the documentation here 😞

https://patchthecode.github.io/CommonProblems/

[2016-11-30 18:21] tatimagdalena commented on #213
Oops... my bad, didn't see it! Maybe you could make a note about that on the tutorial? I started from there and it was confusing doing all the steps as mentioned and not getting the right result.

[2016-11-30 18:43] patchthecode commented on #213
Alright. I'll update this today!

[2016-12-01 01:52] athemer commented on #215
Hi Jay,
Thanks, this is exactly what I need.

[2016-12-01 02:19] patchthecode commented on #215
@athemer glad it worked.
If this calendar is useful to you, then feel free to leave a star ★ rating on github. It wil be greatly appreciated. Thanks!

[2016-12-01 02:19] #215 closed

[2016-12-01 02:23] patchthecode opened #216 "Made a cool calendar? Post its image here. #2"
## This post is now locked. To add your calendar screenshot, [please click this link instead](https://github.com/patchthecode/JTAppleCalendar/issues/517)

## Want to see the previous Screen Shots `#1`? [Click here now](https://github.com/patchthecode/JTAppleCalendar/issues/2)

[2016-12-01 02:24] #2 closed

[2016-12-01 04:23] Nidhee commented on #214
I am using version 5.0.1, as this is latest for swift 2. How could I handle this issue using version I am using ?

[2016-12-01 04:25] patchthecode commented on #214
Yea.. that issue was fixed in 6.0.3
hmm....

join me here if youre able to: https://gitter.im/patchthecode/JTAppleCalendar

[2016-12-01 09:14] patchthecode commented on #214
Issue resolved.

On orientation change, user scrolled to the desired date.
[Note]: This issue is already fixed in later versions of JTAppleCalendar.

[2016-12-01 09:14] #214 closed

[2016-12-01 09:14] patchthecode commented on #207
Closing as animation is out of scope of this calendar project.
Animation can be done on the UIView.

[2016-12-01 09:14] #207 closed

[2016-12-01 10:08] patchthecode commented on #123
Ok i think i can finally close this :)
I think i did most on the list that is possible.
I even fixed the thing that i said wasnt a bug before "the shifting of the dates".
I made the behavior more standard. Thanks for all the help man.
I'm still here fighting to get more publicity 👍

[2016-12-01 10:08] #123 closed

[2016-12-01 21:15] MoridinBG opened #217 "Semantic versioning? 6.0.3 broke scrollToPreviousSegment"
Why are breaking changes introduced in patch versions???
Obviously, there were some significant changes in the segmenting code, but this should not be introduced in such a way...

As a reminder, here it is how it is supposed to work:

MAJOR version when you make incompatible API changes,
MINOR version when you add functionality in a backwards-compatible manner, and
PATCH version when you make back

[2016-12-01 21:38] patchthecode commented on #217
Yea i know about semantic versioning.
but honestly.. i forgot about that code change. ☹️
Hopefully its not too bad a fix.

[2016-12-01 23:32] MoridinBG commented on #217
Hey, I am not mad!
Quite the opposite, you are doing an awesome job with this library!
I was just a bit irked when the project stopped building even though I only update patch or minor (:

[2016-12-01 23:34] patchthecode commented on #217
Ok its cool. But you're right. I'll look more closely next time. Thanks man.

[2016-12-02 05:33] dbmrq commented on #123
Awesome, thanks for your amazing work!
I hoped to help more, but things have been pretty hectic, sorry. The library's really looking better and better though, way to go. :)

[2016-12-02 05:46] patchthecode commented on #123
Awesome man. Well anytime you got more input just give a shout. Till then. Have a good one :)

[2016-12-03 22:20] roarapps commented on #211
Can you supply an email where i can send a zip of an example project with this defect

[2016-12-03 22:31] patchthecode commented on #211
patchthecode@gmail.com

[2016-12-03 23:10] squaredonut opened #218 "Does the component support a day view?"
For some reason I can't seem to see any existing issue or any doco that indicates it does? A day view as in it shows a listing of the times of the day from 12am - 12pm, in half an hour increments, similar to the one in the apple calendar app.

[2016-12-03 23:46] patchthecode commented on #218
@squaredonut what do you mean by a dayView? Do you have a screen shot of what you are looking for?

[2016-12-03 23:47] #217 closed

[2016-12-04 00:01] squaredonut commented on #218
Like this

https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkcuvKwvLXZ04-mybSg_PHXxt-ogOUdyDHGL_NCe9t-O1QrNNCsRPp404_Ag

[2016-12-04 00:21] patchthecode commented on #218
Oh. sorry.
yea, its not able to do this.
When building this library, I didnt think it would be good to put this feature in as I think I can be placed in a separate library.

I believe that it is a totally different library/control/view that can expand in its own way.
What do you think?

[2016-12-04 06:27] squaredonut commented on #218
@patchthecode yeah definitely sounds like a good idea if it becomes hard to abstract the controls API accomodate, both layouts.

Admittingly I'm not that experienced at all with iOS development, so wouldn't know the exact approach with authoring something similar to this.

[2016-12-04 07:02] patchthecode commented on #218
@squaredonut yes, Same thing I was saying. I think the 2 controls should be separate. The API would be different, and cramming them both together would seem odd.

I would consider creating a separate control, but this would be some time in the future. Sorry the library could not be of help to you man. But if ever you do start using it, leave a star rating if you like it :)

I'll get to work on tha

[2016-12-04 09:50] HumayunKaleem opened #219 "Thread1 : Signal SigABRT"
Hello,

For some reason i am not able to run the project. I have followed the whole guide of installation as well. But after attaching it abort with payload error. I have checked the Xib name as well and have followed the instructions carefully.
Attaching the Project here.
[JTCalendar.zip](https://github.com/patchthecode/JTAppleCalendar/files/629386/JTCalendar.zip)

Deployment Target 10.1
Xcode 8.

[2016-12-04 10:10] patchthecode commented on #219
@HumayunKaleem checking it out now. sec

[2016-12-04 10:24] #218 closed

[2016-12-04 10:31] patchthecode commented on #219
@HumayunKaleem I do not know how you ended up in that state. I see youre doing some interesting things in your code.

Can you do this?

1) Create an empty project
2) Go to your console.
3) Go to the path where your XCode project is
4) run `pod init`

This should create a file in that location called `Podfile`

5) modify the `Podfile` to include the `JTAppleCalendar` pod
6) run pod install

This sh

[2016-12-04 11:01] HumayunKaleem commented on #219
I was not installing the pods in the main directory rather in the Tests and UITests of my project.

[2016-12-04 11:01] #219 closed

[2016-12-04 11:01] patchthecode commented on #219
cool awesome. And thanks!

[2016-12-04 18:05] patchthecode commented on #211
@roarapps

Hey man.
I updated the code. Can you do a `pod install` to get the latest master branch code?

[2016-12-04 18:12] patchthecode commented on #211
By the way, sometimes `pod install` fails to get the latest code. This is something I have noticed (or maybe i am not good at cocopod specs?)

Anyway, in case you do a pod install and your code still is not fix, delete the `JTAppleCalendar` pod and then run a `pod install` again to make sure 100% that you the updated code fix.

[2016-12-04 18:34] roarapps commented on #211
Same issue, i deleted the pod and cleaned project. Its definitely getting the latest. I emailed you the splitview controller project, were you able to replicate on there using iPad sim?

"Installing JTAppleCalendar (6.0.4)
Generating Pods project"

[2016-12-04 18:49] patchthecode commented on #211
Join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2016-12-04 18:50] patchthecode commented on #211
Yes i able to replicate the issue.
And resolved it with the fix.
Your code now works as expected.
join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2016-12-05 11:23] #211 closed

[2016-12-06 01:17] alfianlosari opened #220 "repeating dates when scrolling to previous/next week using week mode (1 row)"
Hi, thanks for creating this awesome library. It is really simple to setup, high performance, and really customizable.

I am trying to set calendar to display weekly view by creating configuration parameter like this.
[code]
![screen shot 2016-12-06 at 8 12 23 am](https://cloud.githubusercontent.com/assets/6789991/20909046/c4332284-bb8b-11e6-85c8-f3a986c72efc.png)

The issue occurs when i try to s

[2016-12-06 01:46] patchthecode commented on #220
Yes, this behavior is expected.

The repeating dates you are seeing are inDates and outDates.
You are used to seeing them on a 6-row calendar here:
<img width="286" alt="image" src="https://cloud.githubusercontent.com/assets/2439146/18330595/651b8840-750e-11e6-8727-a148d7e1720f.png">

When you have single row set to **on**, then you will see these inDates and outDates.
I see that you have your **i

[2016-12-06 01:49] patchthecode commented on #220
I will add a section to the tutorials so explain all these things to people

[2016-12-06 02:26] #220 closed

[2016-12-06 02:27] alfianlosari commented on #220
Thanks for the explanation. I hope you will continue to maintain this great library!

[2016-12-06 02:29] patchthecode commented on #220
Thanks man. If you know anyone that can help translate the documentation into other languages, let me know. If not, its cool. I'll keep maintaining it. Have a good one. 🍺

[2016-12-06 04:27] patchthecode commented on #110
<img width="300" src="https://cloud.githubusercontent.com/assets/2439146/20913019/180f06c4-bb29-11e6-89b8-a474a841c85f.png">

[2016-12-08 13:10] Nidhee opened #221 "When setting start and end date difference very large, it takes lag to open view controller"
Hello,

I have kept, start date 50 years back from current date and end date 50 years forth from current date at time of calendar configure. And inside onViewLoad(), i have scrolled to current date.

My issue is, View controller having calendar is taking some time (approx 2-4 sec lag) for opening. If I change start and end time 2 years back and forth from current date. It opens View controller smo

[2016-12-08 15:44] deniszhukov opened #222 "Wrong times attached to dates after update to 6.0.5"
Hi Jay,
After updating from 6.0.2 to 6.0.5 I started getting wrong time in dates.
I think that this is connected to this issue
https://github.com/patchthecode/JTAppleCalendar/issues/210

I'm using calendar in UTC in configureCalendar method.

Before I was getting UTC dates with midnight time, which I think is the expected behavior.
Now, didSelectDate returns date with 7:00 UTC time.

I noticed tha

[2016-12-08 20:00] patchthecode commented on #222
OK. hmm. let's discuss on this more. Here are my thoughts on this. Let me know where my ideas can be improves.

### My possibly flawed ideas.... possibly.. :)
The calendar deals with dates. I have not coded anything in the calendar to handle times.
Since the calendar deals with dates, I didnt think anyone would be using the times attached to the dates. I am currently building a Scheduler View libr

[2016-12-08 20:01] patchthecode commented on #221
What device are you using?
I will look into this now.

[2016-12-09 02:41] ekoranek12 opened #223 "[BUG] [FIXED] ScrollToDateBroken in latest 6.0.5 release for Vertical Calendar mode"
After updating to 6.0.5 I have been unable to programmatically scroll to a date.

I'm building for iOS 10. This is my calendar setup:

[code]
I've also tried various combinations of arguments in `JTAppleCalendarView.scrollToDate()` and have had no luck.

[2016-12-09 04:02] patchthecode commented on #223
@ekoranek12 can you join me here? https://gitter.im/patchthecode/JTAppleCalendar

[2016-12-09 04:02] deniszhukov commented on #222
Thanks for a quick response.

I agree that this is a calendar and it's purpose to return dates not time.
But swift Date is just point in time without timezone, so adding time to dates can result in different date for different timezone.

How it was working before in 6.0.2
User passes calendar in local timezone -> didSelectDate method has date parameter with selected date and midnight time in local

[2016-12-09 04:05] Nidhee commented on #221
I am testing on iphone 5s (IOS version 9.3.2)

[2016-12-09 04:57] patchthecode commented on #223
Working on this now.

[2016-12-09 09:29] jesse-cohen opened #224 "Highlight current date"
Hey Jay,

Trying to highlight the current date using a UIView following the selected date example. Is this to do with cellState.date from within willDisplayCell or am I missing something?

Thanks

[2016-12-09 09:34] patchthecode commented on #224
join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2016-12-09 10:13] #224 closed

[2016-12-09 10:13] patchthecode commented on #224
I will now add the information discussed to the tutorial. This way, it will also help others.
Thanks.

[2016-12-09 10:41] patchthecode commented on #222
@deniszhukov understood. I will update this to what was there before. I'll do this this weekend.

[2016-12-09 10:43] patchthecode commented on #222
**Behavior change**: JTAppleCalendar should not honor the time zones of the calendar instance passed into it.

[2016-12-09 19:19] johndpope opened #225 "enhancement - link to gist.github.com with search for JTAppleDayCellView"
The styles shown in the issue are amazing.
When I download and compile it's like a dogs breakfast.
Perhaps you could help people to choose a style by pre-defining a search to gist where people can upload their own styles.

https://gist.github.com/search?utf8=%E2%9C%93&q=JTAppleDayCellView

[2016-12-09 22:37] patchthecode commented on #225
so basically an area where people can find already setup cells, with their code etc?
That actually sounds like an awesome idea.

I'll think of something over the weekend. Thanks man.

[2016-12-09 22:40] patchthecode commented on #225
btw, the sample app looks bad because I am better at library building than designing. :)

[2016-12-10 01:05] patchthecode commented on #222
@deniszhukov i have made a change to the code. Can you let me know if it is working for you?

You can change your the data in your pod file to be:
[code]

[2016-12-10 03:29] deniszhukov commented on #222
I verified it.
You pass the calendar with some timezone -> you get date with midnight in that timezone.

Works perfectly.
Thanks!

[2016-12-10 03:42] patchthecode commented on #222
Alright. this will be added in the next update.

[2016-12-11 18:34] HumayunKaleem opened #226 "Sending Date to Server to retrieve data."
Hey,

I searched about this but couldn't get a sufficient response. I have a database in which events are stored in calendar. Now after logging in i would like to retrieve by sending the month and ID. How do i send the CalendarMonth to server? I have tried CurrentCell Selected method but doesn't seem to work. I am going to tap on the date and show the description in UITableView. Has anyone done si

[2016-12-11 19:19] patchthecode commented on #226
I do not understand what you are asking.

Are you trying to accomplish this?
1. User taps on date
2. Date is sent to server

?

[2016-12-11 20:04] HumayunKaleem commented on #226
Hey thanks for the prompt reply. At first when the calendar loads the current month data from the server is loaded and when it selects the date of the current month then it shows the information in the Table View.
And
When the user taps on other months and select the other dates then that data should be loaded from the server.

P.S bear with me as I am new to this stuff :(

[2016-12-11 20:41] patchthecode commented on #226
When a user taps on a date, the `didSelectDate` functions gets called.
You can get the date from there.

Can you tell me which part specifically you are stuck on?

[2016-12-12 05:55] HumayunKaleem commented on #226
How to get only Month and Year? I will let you know where i am stuck.

[2016-12-12 06:26] patchthecode commented on #226
from the date.
you have the *date*.
With this you can extract the day, month, year

[2016-12-12 19:02] bryantm1123 commented on #217
Just to save folks some time:

`calendarView.scrollToSegment(SegmentDestination.previous)`

`calendarView.scrollToSegment(SegmentDestination.next`

[2016-12-12 20:54] patchthecode commented on #217
updated @bryantm1123 's code.

[2016-12-13 09:41] oddpandadesign opened #227 "White line within calendar"
First point - amazing project.

I am trying to remove a white line that is appearing within the calendar view. I have highlighted this by making each cell black as below:

<img width="365" alt="screen shot 2016-12-13 at 09 35 48" src="https://cloud.githubusercontent.com/assets/6759173/21134982/ff674754-c117-11e6-8e51-df96d69b0b97.png">

I am doing the following to resize the cells:

[code]

Using

[2016-12-13 10:50] patchthecode commented on #227
yes, this is the only bug i cant fix. It is an iOS issue with floating point numbers.
The work around is posted in the open issues here -> https://github.com/patchthecode/JTAppleCalendar/issues/26

simply set the inset to some small negative number.

[code]

[2016-12-13 10:52] patchthecode commented on #227
I also noticed that your selected view is not a perfect circle:
<img width="305" alt="screen shot 2016-12-13 at 2 51 06 am" src="https://cloud.githubusercontent.com/assets/2439146/21137595/17a913d0-c0df-11e6-96d8-147124556538.png">

Please set the corner radius to be around 1/2 of the width of the UIView.

[2016-12-13 10:57] patchthecode commented on #227
Also, if this project has been helpful to you, please consider giving a star rating and spread the word. Thanks :D

[2016-12-13 12:19] #227 closed

[2016-12-13 12:20] oddpandadesign commented on #227
Much appreciated. Thanks and good spot!

[2016-12-13 17:53] patchthecode commented on #226
closing issue.
If you are still having problems with this. Then reopen this question.

[2016-12-13 17:53] #226 closed

[2016-12-13 17:54] jonfabris opened #228 "Compiler Errors"
I am using version 6.0.0

I am getting several of these errors:

/Users/developer/Documents/workspace/graypeakios/Pods/JTAppleCalendar/Sources/JTAppleCalendarView.swift:832:48: Binary operator '>=' cannot be applied to operands of type 'Date' and 'Date!'
/Users/developer/Documents/workspace/graypeakios/Pods/JTAppleCalendar/Sources/JTAppleCalendarView.swift:834:52: Binary operator '>=' cannot be ap

[2016-12-13 18:47] patchthecode commented on #228
@jonfabris the latest version is 6.0.5
Use that one and the error will go away.

This error is caused by a known Swift issue. It was fixed in later versions.
Closing this issue. If you are still having errors after updating to 6.0.5 then we can talk again :)

[2016-12-13 18:47] #228 closed

[2016-12-14 02:57] patchthecode commented on #227
Cool man and thanks for the support.
That calendar looks awesome by the way. Reminds me of one i saw on AirBnb.

[2016-12-14 05:11] smitaAcellere opened #229 "How to add Day, Week, Month view?"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. Are you using the latest version of JTAppleCalendar? Latest version is currently 6.0.5
2. Is your question already answered in the tutorials and guides —> https://patchthecode.github.io/
3. Looking for some feature you cant find? Than have you already looked at the *UserInteractionFunctions.swift* file?
It has every function tha

[2016-12-14 05:20] patchthecode commented on #229
What is a:
1. Day view
2. Month view
3. Year view
?

[2016-12-14 05:24] smitaAcellere commented on #229
you can refer attached files.. I wanted to do design like attached files..

![trnear_cal_daily_master_comp_test](https://cloud.githubusercontent.com/assets/17287041/21170479/6b6d9204-c1eb-11e6-86af-fbaa3a4ee297.gif)
![trnear_cal_master_comp_test](https://cloud.githubusercontent.com/assets/17287041/21170481/6bbd6176-c1eb-11e6-9f2c-47e0cebe76c1.gif)

[2016-12-14 05:34] patchthecode commented on #229
hmm. This library can build any calendar so long it is a traditional grid style.

Well some comments on the views you have provided.

1. The Day view looks like a regular UITableView. The library will not be able to build something like that. But I think this can be built with a UITableView.
2. The Week view looks like it has times attached to it. It looks like what I call a "Scheduler". It will n

[2016-12-14 05:51] smitaAcellere commented on #229
Thanks yaaaa. It means a lot.
I will work on it in another way. :)

[2016-12-14 08:25] patchthecode commented on #229
cool cheers 🍺

[2016-12-14 08:25] #229 closed

[2016-12-14 17:06] jonfabris opened #230 "How to implement previous & next month buttons"
I searched through all the examples, tutorials, and sourcecode and cant for the life of me figure this out.

calendarView.scrollToDate(myDate)

Will scroll you to a particular date, but how do you determine what is the current month being shown in the Calendar? Examples refer to this function: currentCalendarDateSegment() but I can't find that function anywhere.

thanks

[2016-12-14 17:07] patchthecode commented on #230
[code]

[2016-12-14 17:08] patchthecode commented on #230
and `currentCalendarDateSegment()` ? what version of the calendar are you using

[2016-12-14 17:11] patchthecode commented on #230
And it is in the example application.
you can find the month you are on by using the function
[code]

[2016-12-14 19:20] #223 closed

[2016-12-14 19:20] #222 closed

[2016-12-14 20:32] jonfabris commented on #230
Thanks!

[2016-12-14 21:31] patchthecode commented on #230
@jonfabris if this

[2016-12-14 21:31] #230 closed

[2016-12-14 23:46] f3rr13r opened #231 "Reduce number of columns?"
Hey there!

Have been playing around with this awesome repo today for an app that I am developing. Loving the feel and ease of use, neat scrolling capabilities and the limitless design flexibility that it offers, but would love to know what the best way to modify the column count down so that it displays only 5 cell's across (as each cell is intended to be a tappable UIImageView (with the date and

[2016-12-15 09:39] Coder221 opened #232 "How to display current month when JTAppleCalendar loads in ViewController?"
I am using JTAppleCalendar in my project. I am using this extension in my viewcontroller.

[code]
What should I use in my viewDidLoad() so that it displays month of December but not October?

[2016-12-15 09:56] patchthecode commented on #232
What do you currently have in your `viewDidLoad()` ?

[2016-12-15 10:01] patchthecode commented on #231
I have not really looked into the changes needed for a 5 column calendar, so honestly, i would not even know where to begin to explain it to you.

But the concept does sound interesting. Can you tell me how your calendar would look if there is an extra day?

[2016-12-15 10:36] f3rr13r commented on #231
Thanks for getting back to me! Yeah sure, here is a screenshot example for our current month (but treating the 31st as 'today'. As this calendar is supposed to appear in 'reverse', going down the page from current into the past, it is the 1st December that appears on it's own 7th line, next to empty placeholders. It would be a vertical scroller, allowing users to scroll BACK through months in time

[2016-12-15 10:52] patchthecode commented on #231
Ok from the image you have provided, it looks like you're still keeping saturday and sunday.
I thought when you said "5-row calendar", that you were going to remove the weekends. But if what you want is the exact same dates, then It might not be so difficult as i first thought.

It will be do-able (i think), but not crazy difficult.
One thing is certain though: I certainly wont be able to look int

[2016-12-15 10:55] patchthecode commented on #231
One thing though, since your layout is simple, this might actually be faster to do if you create your own UICollectionView.

[2016-12-15 11:10] f3rr13r commented on #231
Okay! This is good news to my ears.

I completely understand if there is a delay in any looking through for solutions on your behalf as this definitely will not be what the majority of those implementing this calendar will be looking for in terms of functionality and styling, but yeah if at any point you are able to chuck any suggestions across then that would be much appreciated. I am playing aro

[2016-12-15 15:53] jonfabris opened #233 "select date bug when changing months"
Weird things happen when you select a date, then switch months and select a new date, then go back to the old month.
Version 6.0.5

[Screen Recording.mov.zip](https://github.com/patchthecode/JTAppleCalendar/files/655095/Screen.Recording.mov.zip)

[2016-12-15 16:52] Toddo24 commented on #233
Hello Mr I was just wondering if anyone has a great way to get to the new
year with a new job interview for the delay in responding to your site and
I have to be a little bit more TIME TO GET A CHANCE for me and my family
HAS TO OFFER YOU A DECISION TO MOVE TO ANOTHER PARTY FOR THE NEXT COUPLE OF
YEARS AND I HAVE TO GO TO THE NEW YEAR TO GET INTERVIEWING FOR THEIR
VACANCIES in the world of thebest

[2016-12-15 18:12] patchthecode commented on #233
@jonfabris looking into this. Good catch.

[2016-12-15 18:13] Coder221 commented on #232
[code]

[2016-12-15 18:14] patchthecode commented on #233
Do you have have multiple selection on?

[2016-12-15 18:18] patchthecode commented on #232
ok i see you are getting the visible dates, and you are calling some setup function on it

[code]

Therefore i assume you are getting the visible dates, and you are displaying a header based on what dates you are seeing on the screen.
Therefore your code in that function should display the correct month right?
I do not know what code you have in that function.

[2016-12-15 18:22] patchthecode commented on #233
Have you followed the tutorial on how to build the calendar on this site? -> https://patchthecode.github.io/

I do not think this is a bug with the calendar.
Can you show me your
[code]
function code please so that I can confirm?

[2016-12-15 18:26] Coder221 commented on #232
Yes, you are correct, it is displaying correct month but I started using this calendar in October, so I setup my month as October like in the code in question but now I want to display present month which is December .

[code]
}

I can scroll back to October but I don't want to scroll to December as the calendar loads from October.How do I do this?

[2016-12-15 18:28] patchthecode commented on #232
can you join me here? ->https://gitter.im/patchthecode/JTAppleCalendar
I do not understand what you are asking

[2016-12-15 19:01] jonfabris commented on #233
[PickDatePopupVC.swift.zip](https://github.com/patchthecode/JTAppleCalendar/files/655565/PickDatePopupVC.swift.zip)

[2016-12-15 19:06] jonfabris commented on #233
func calendar(_ calendar: JTAppleCalendarView, willDisplayCell cell: JTAppleDayCellView, date: Date, cellState: CellState)
    {
        let myCustomCell = cell as! CalendarCellView

        // Setup Cell text
        myCustomCell.dayLabel.text = cellState.text

        myCustomCell.selectedView.frame = CGRect(x:0,y:0,width:myCustomCell.frame.width,height:myCustomCell.frame.height+1)

        myCu

[2016-12-15 19:09] jonfabris commented on #233
Oops, my bad, I fixed it.
    func calendar(_ calendar: JTAppleCalendarView, willDisplayCell cell: JTAppleDayCellView, date: Date, cellState: CellState)
    {
        let myCustomCell = cell as! CalendarCellView
        myCustomCell.selectedView.isHidden = true
        myCustomCell.dayLabel.textColor = dateColor
        // Setup Cell text
        myCustomCell.dayLabel.text = cellState.text

[2016-12-15 19:09] #233 closed

[2016-12-15 19:32] patchthecode commented on #233
@jonfabris hey, i think you should follow the tutorial.
It will help you greatly.

https://patchthecode.github.io/

There are some things you are doing that will cause problems.
check out [tutorial1](https://patchthecode.github.io/MainTutorial) and [tutorial2](https://patchthecode.github.io/MainTutorial2)

If you need more help, just reply on this thread.
Also, if this library has saved you lots o

[2016-12-15 19:56] patchthecode commented on #232
[code]
cheers 🍻

[2016-12-15 19:56] #232 closed

[2016-12-16 01:39] huffmann commented on #230
Hello @patchthecode  -

I tried using .scrollToSegment function but I get an error message saying that said function is not member or JTAppleCalendarView

So I checked in the example, and this function is part of an extension in UserInteractionFunctions.swift which doesn't ship with the library.

Is that how its supposed to be done? through an extension?

Thanks for your help,  I'm really digging

[2016-12-16 02:50] patchthecode commented on #230
@huffmann
Ok i assume that you use cocoapods to install this library?
Every file is shipped with the library.
And yes it is done through an extension. That is how it supposed to be done.

If you cannot find the function, then you must be using an old version of the calendar.
Are you using the latest version? 6.0.5

[2016-12-16 09:57] johnyboy6000 opened #234 "Cell State Reuse"
I have created A very simple sample project below but the cell state text inside "willDisplayCell" seems to return random numbers. I have checked the example projects and the code is the same so I'm lost as to what the issue may be?

[code]

[2016-12-16 10:13] patchthecode commented on #234
Hey, thanks for filing this.
Are you saying that this is also happening with the sample project?
I am not seeing this :/

Is it possible you can send me a zipped copy of your project?

[2016-12-16 10:19] patchthecode commented on #234
Also have you followed the tutorial on https://patchthecode.github.io/ ?

[2016-12-16 10:35] johnyboy6000 commented on #234
Cant send you a copy of code unfortunately. This is all the relevant code, I have read through your guide about 3 times now and no ideas on whats up. I checked the sample project and it seems to work but i can't see a difference between the code supplied and the one copied here?

[2016-12-16 10:55] patchthecode commented on #234
Ok. Some thing must be different.
If its not different in the code, then it has to be different in the project.
If you followed the  tutorial, then can you you would have seen the completed code here ->
https://github.com/patchthecode/CalendarTutorial

Download the code there and work backwards to see what is differe.
Also make sure you have the latest version 6.0.5

[2016-12-16 11:28] johnyboy6000 commented on #234
Got it sorted by copying your cell files, something is different between them that I can't see and have no time to look ;) Thanks a lot for the quick reply and help, its very appricated!

Great library keep up the good work.

[2016-12-16 11:44] patchthecode commented on #234
Thank you very much. If you like the library, or it has saved you months of coding time, then feel free to leave a star rating here. Thanks. And have a good one.
If you got more questions etc, just mention it here.

[2016-12-16 11:44] #234 closed

[2016-12-16 11:47] patchthecode commented on #231
closing this.
i'll track this here -> https://github.com/patchthecode/JTAppleCalendar/projects/2