[2017-10-16 15:20] #588 closed

[2017-10-16 16:22] geoffreygonzales commented on #585
I pushed an update on branch2 if you want to check out the scrolling

[2017-10-16 20:39] AndreaMiotto opened #589 "how to display range selection"
Hi, I was trying to accomplish the range selection like you did in you tutorial here: https://patchthecode.github.io/RangeSelection/

Can you tell me how did you set up the layout to accomplish that continuous row with rounded corners? Not the logic, just the layout part :D

[2017-10-17 06:10] REAOrlando opened #590 "selectDates not working inside UIButton Action"
Hi Jay,

Thank you for this library( star added).  I've run into an issue while trying to implement a way to scroll to the next year.  I believe I'm almost there, but I can't get the `selectDates` function to set the date.  As it is this works for 1 iteration of the button action.  It will move ahead 1 year, but the selectedView does not show (become visible) on the calendarView like it does with

[2017-10-17 07:09] AndreaMiotto commented on #589
yes, I understood that, but I was looking for any help in the design part :D

[2017-10-17 13:58] artemstepanenko opened #591 "Can't reload dates from incomplete months"
Hello. Thanks for a great work. The problem I'm experiencing is similar to [this issue](https://github.com/patchthecode/JTAppleCalendar/issues/136) which was closed a year ago.

When I call `func reloadDates(_ dates: [Date])` for a date which doesn't belong to a current month, it's not reloaded: `func calendar(_ calendar: JTAppleCalendarView, cellForItemAt date: Date, cellState: CellState, indexPa

[2017-10-17 14:10] artemstepanenko opened #592 "Random scrolling to beginning"
Hello guys,

I've found one more bug. Sometimes when I call `func reloadDates(_ dates: [Date])` the calendar is scrolled to the beginning. It happen rarely but very annoying.

Thanks.

[2017-10-17 15:06] patchthecode commented on #589
I do not understand what you mean. The design part is is totally up to you.

You cells can have a view called `selectedView`.
Then if the `cellState.selectedPosition() == .middle`, then you would make youre selectedView a square. And if your `cellState.selectedPosition() == .left` or `.right` you would make your selected view into a circle.

The designing is exactly as you would do for any other n

[2017-10-17 15:07] knn90 opened #593 "Header causes a gap between months"
Hey there,
Thank you for a great library. But while customizing  the calendar I face this problem. Hope you can help me out.

My Paramameter is:
[code]
Scrolling Direction: Horizontal

It works fine without the header, but when I add header, it creates the gap between months like this

<img width="573" alt="screen shot 2017-10-17 at 10 04 12 pm" src="https://user-images.githubusercontent.com/15623

[2017-10-17 15:13] patchthecode commented on #592
Which version of the calendar are you using?

Can you use master-branch version of the library to see if your issue is already resolved?
I'll be releasing branch version in about a week or so.

replace this in your pod file to try it
[code]

Then do `pod update`

it will ask you to implement a `willDisplayCellFunction`. The instructions here will let you know what yo put in that function -> https:

[2017-10-17 15:14] patchthecode commented on #591
I gave an answer here. Let me know.
https://github.com/patchthecode/JTAppleCalendar/issues/592

[2017-10-17 15:27] patchthecode commented on #581
## **Configuring a single row calendar with a scrolling header**

Question from user:

Hey there,
Thank you for a great library. But while customizing  the calendar I face this problem. Hope you can help me out.

My Paramameter is:
[code]
It works fine without the header, but when I add header, it creates the gap between months like this

<img width="573" alt="screen shot 2017-10-17 at 10 04 12 pm

[2017-10-17 15:27] patchthecode commented on #593
Let me know if the answer here works for you -> https://github.com/patchthecode/JTAppleCalendar/issues/581

[2017-10-17 15:41] artemstepanenko commented on #592
Thank you very much. I'll keep you posted.

[2017-10-17 15:46] patchthecode commented on #590
checking this now.

[2017-10-17 15:55] patchthecode commented on #590
I just checked my master branch with your code. And it works. Can you do a `pod update` on console and let me know after updating is done?

[2017-10-17 19:41] Thenate113 commented on #517
Has anyone done a week or day view? I haven't seen anyone implement it yet, and that's the last thing I'd like to see before I fork this repo!

[2017-10-17 22:23] REAOrlando commented on #590
As you probably expected, it was the nut behind the wheel!  I found out that I had mistakenly put an instance of `calendarView.selectDates([Date()])` in the `didScrollToDateSegmentWith` function.  So my code was working but then immediately the current date was reselected making it look like it wasn't.  I happened to use date formatter `formatter.date(from: "2017 10 18")!` instead of `Date()`.  Th

[2017-10-17 22:29] patchthecode commented on #590
Glad you found the issue man.
Cheers 🍻

[2017-10-17 22:29] #590 closed

[2017-10-18 06:53] knn90 commented on #593
Thank you very much for helping me out. I will close this issue 👍 💯

[2017-10-18 06:53] #593 closed

[2017-10-18 21:29] shaunjacobsen commented on #581
![img_f56457399b35-1](https://user-images.githubusercontent.com/734057/31743612-528dd6ee-b421-11e7-80a1-710c351f4325.jpeg)
I'm wondering if this may be related: I tried to use the in/out dates, but they are repeated. I would just like to "close the gap" here. I am using .scrollingMode = .nonStopToCell(withResistance: 0.0)

[2017-10-18 22:26] patchthecode commented on #581
@shaunjacobsen did put the configuration that is there at the top?

[2017-10-19 14:25] shaunjacobsen commented on #581
I misread the documentation for the hasStrictProperties property. My apologies! Thanks for the great library!

[2017-10-19 16:58] artemstepanenko commented on #592
@patchthecode I've followed your instructions and now I have 56 compilation issues reported by my Xcode 9.0. Am I doing something wrong?

[2017-10-19 17:15] patchthecode commented on #592
hmm.. can you join me here? -> https://gitter.im/cdunn2013_twitter

[2017-10-19 17:21] artemstepanenko commented on #592
Texted you.

[2017-10-19 20:12] patchthecode commented on #589
assuming issue has been resolved.
Closing issue until user responds.

[2017-10-19 20:12] #589 closed

[2017-10-19 20:13] patchthecode commented on #592
Not sure if you texted the correct address. Not seeing your message.

[2017-10-20 21:35] vtcajones opened #594 "Selecting date that also appears in previous month's outDates highlights outdate instead tapped cell"
I'm using JTAppleCalendar in an iPad app and I have a row of calendars displayed that can be swiped through, so generally three months are visible at once. If I select, say, December 1st, but December 1st also shows up as an outdate at the end of November, the november outdate will be highlighted. Any thoughts?
![img_9d0173154c66-1](https://user-images.githubusercontent.com/1649350/31842629-0c6754

[2017-10-20 21:49] patchthecode commented on #594
which version of the library are you using?

[2017-10-20 22:48] vtcajones commented on #594
Yeah, selecting both is what I would expect, however it doesn't appear that December 1st proper is being selected, only the December 1st outdate.

[2017-10-20 23:23] vtcajones commented on #594
So, it works as expected if I have allowsMultipleSelection = true. I really only want them to be able to have one date selected, so i just wrote some code to deselect the previous date when they pick a new one, works well enough. This library is fantastic, thanks for all your hard work!

One more question actually:

I'm trying to make the "in focus" calendar be in the center of the screen. So, Dec

[2017-10-20 23:46] patchthecode commented on #594
hmm. that sounds like a bug to me.
With single select this should work as expected.

Can you join chat here? https://gitter.im/patchthecode/JTAppleCalendar

I need to know what version of the library you are using. Once I know the version I can let you know if my master-branch code already has the fix for it (will be releasing master-branch in a couple days).

About the 2nd Question, Let me think

[2017-10-21 02:53] geoffreygonzales opened #595 "any way to make the calendar call didDeselect on the first touch?"
hi again jay. the bug form before ended being a weird thing with realm (a framework like core data). go figure

anyway, on the initial load of the calendar, after `configureDates`, id like a date to show as selected, meaning `isSelected = true`.

the thing is, when I set this property manually on a date (I'm doing it for todays date, since when I first load the calendar I have it show today) the t

[2017-10-21 03:36] patchthecode commented on #595
hmm.
ok, if you want a date to be selected when a you app loads, you can put it inside of your `viewDidLoad` function.

put this ->
[code]

[2017-10-21 07:06] geoffreygonzales commented on #595
thanks, works like a charm

[2017-10-21 07:16] patchthecode commented on #595
awesome.
closing this issue now.

[2017-10-21 07:18] geoffreygonzales commented on #595
thanks again

ps:
this is a bug that I have ALREADY worked around by using `.isDecelerating`
I also do not think ill encounter it as ill be using paged scrolling too

or maybe its how I'm implementing realm. not sure, but maybe you'd like to look into it for your own experimentation

`calendarView.scrollToDate(Date)` when the calendar view is still moving / decelerating -> will make the date cells

[2017-10-21 07:22] geoffreygonzales commented on #595
<img width="1552" alt="screen shot 2017-10-21 at 12 21 21 am" src="https://user-images.githubusercontent.com/22163872/31849348-db3472d4-b5f5-11e7-8190-13d8ceab042c.png">

[2017-10-21 07:33] geoffreygonzales commented on #595
<img width="1192" alt="screen shot 2017-10-21 at 12 32 19 am" src="https://user-images.githubusercontent.com/22163872/31849468-60162686-b5f7-11e7-8750-0b02dc3c848a.png">
<img width="1148" alt="screen shot 2017-10-21 at 12 32 26 am" src="https://user-images.githubusercontent.com/22163872/31849470-6403ae58-b5f7-11e7-82da-c03cfbd336d0.png">

[2017-10-21 07:39] patchthecode commented on #595
ok. can you let me know the steps to reproduce this?
Is it the following?

1. scroll the calendar
2. While the calendar is still scrolling, call the `scrollToDate` command.

Is this how i re-create the bug?

[2017-10-21 08:14] derick182 opened #596 "Unavailable instance method 'targetContentOffsetForProposedContentOffset' was used to satisfy a requirement of protocol 'JTAppleCalendarLayoutProtocol'"
I get the warning in the title when compiling.

The method is declared in JTAppleCalendarLayoutProtocol.swift

I think should be enough to change the method name in the protocol.

Thanks for Your work

[2017-10-21 09:50] repomies commented on #596
I suddenly noticed the same problem, though in my case it's a hard compiler error which breaks the build. It also says `Type 'JTAppleCalendarLayout' does not conform to protocol 'JTAppleCalendarLayoutProtocol'`.

[2017-10-21 09:57] repomies commented on #596
Nevermind, the project's Podfile was (rather inexcplicably) defining `platform :ios, '8.0'`. Fixing this allowed an update to the newest library version which works.

[2017-10-21 09:59] derick182 commented on #596
Anyway I solved for the moment removing targetContentOffsetForProposedContentOffset method from JTAppleCalendarLayoutProtocol.swift since I haven't customised the framework too much

[2017-10-21 13:48] patchthecode commented on #596
can you try updating to the latest version 7.1.0 ?

[2017-10-21 14:03] patchthecode commented on #592
closing this issue.
version 7.1.0 has been released.
it seems we have very different time zones.
Update me if the latest version resolved your issues.

[2017-10-21 14:03] #592 closed

[2017-10-21 14:04] patchthecode commented on #594
version 7.1.0 released.
closing this issue.
will continue to look  into the other update for centering the months

[2017-10-21 14:04] #594 closed

[2017-10-21 14:05] #596 closed

[2017-10-21 14:05] patchthecode commented on #591
closing. We will track on #592

[2017-10-21 14:05] #591 closed

[2017-10-23 04:22] hoanganhbk94 opened #597 "Calendar View scroll to first month when i change height of calendar view"
I am using new version of calendar view. When i click a cell in calendar, if the cell has special event, i will change height of calendar view to show detail event. But calendar view scroll to first month. I don't know the reason. Help me, please !!!

[2017-10-23 04:45] patchthecode commented on #597
If you change the height of the calendar it will scroll to the first month.
can you show me the code you are using to change the height of the calendar?

[2017-10-23 04:52] hoanganhbk94 commented on #597
![screen shot 2017-10-23 at 11 46 57 am](https://user-images.githubusercontent.com/14512150/31872710-463b951e-b7e8-11e7-82c3-4bab0ff82ed8.png)
Thanks @patchthecode rep, heightEventViewConstraint is height of detail view. i make auto layout between calendar view and detail view. When height of detail view change => size of calendar view change too. Do you give me a solution to solve this!

[2017-10-23 05:18] patchthecode commented on #597
I am not sure what you are trying to do.
But maybe this code below helps?

[code]

[2017-10-23 06:27] baobao57 opened #598 "This should be a question of boundary judgment"
I downloaded the latest code today, and I found that this before the `SelectionRangePosition` state became not the same as before. But I'm not sure if this is a problem. I felt like I was in use and I had to modify some places in order to make it better if it was a problem and wanted to help it get better

![image](https://user-images.githubusercontent.com/12264243/31874764-88bc4418-b790-11e7-9cb3

[2017-10-23 06:37] hoanganhbk94 commented on #597
Thanks for your reply but it isn't working. I upload my project to github.
Do you check for me?

[2017-10-23 06:45] patchthecode commented on #598
😄
My error.
Fixing this now.

[2017-10-23 06:47] baobao57 commented on #598
I am honored to help you.

[2017-10-23 07:12] patchthecode commented on #598
version 7.1.1 released.
closing this issue
thanks for you help very much

[2017-10-23 07:12] #598 closed

[2017-10-23 10:09] artemstepanenko opened #599 "The library doesn't compile"
The library doesn't compile anymore after I've updated to 7.1.1 (the most recent version). Xcode shows 56 issues under the `JSAppleCalendar` framework.
(To be more precise it started happening even before when @patchthecode suggested to switch to the master branch last week.)
Xcode 9.0, Swift 4.

[2017-10-23 15:05] patchthecode commented on #599
What kind of errors are you seeing?

I just created a blank empty project, downloaded 7.1.1 and installed using cocoapods, and there is o errors.

Without knowing what kind of errors, i do not know much.
I am online for the day here -> https://gitter.im/patchthecode/JTAppleCalendar
This is my time zone -> https://www.timeanddate.com/time/zone/usa/california
If you message me too late, i wont be th

[2017-10-23 15:48] patchthecode commented on #599
After investigating with developer.
It looks like a cocoapod issue.
Will wait to hear results.

[2017-10-23 15:50] #553 closed

[2017-10-23 15:50] patchthecode commented on #553
Version 7.1 released. closing this issue

[2017-10-23 23:11] AndreiVataselu opened #600 "CalendarView Selecting dates out of a month strange behavior"
Hey patchcode! I want to start off by thanking you for sharing this library with us.

I have a slightly small issue. Whenever I select a range of dates outside of my month let's say 1 Oct - 1 Nov, the weekends are not selected but if I scroll forward a few months and go back ,they select themselves. What the issue might be? I'm leaving you here a recording of the bug and my code.

https://i.imgur.

[2017-10-24 02:41] patchthecode commented on #600
I cannot help much if you do not tell me which version of the library you are using.
is it 7.1.1?

[2017-10-24 08:00] AndreiVataselu commented on #600
I had 7.1.0, I updated to 7.1.1 now, so no, it's an old bug.

[2017-10-24 09:42] artemstepanenko commented on #599
There's something wrong with the version **1.3.1** of cocoapods, it doesn't generate a Podfile.lock for me. And when I tried to update JTAppleCaledar to the newest version (7.1.1) it downloaded files but didn't add new files to the Xcode project.
Once I downgraded cocoapods to **1.2.1** the issue was solved. Thus, it has nothing to do with the library itself.
@patchthecode thank you very much for

[2017-10-24 09:43] #599 closed

[2017-10-25 10:03] artemstepanenko opened #601 "Can't reload dates from incomplete months"
Hello.

Thanks for the great work.

Version **7.1.1**.

I've encountered a problem: `JTAppleCalendarView` doesn't reload dates which don't belong to complete months.

**Example**: I show two months in the calendar: October and November, which means there're some dates from September (in the beginning of the October's page) and from December (in the end of the November's page). In this case, if I c

[2017-10-25 14:16] patchthecode commented on #601
ok. I will look into this

[2017-10-25 14:17] patchthecode commented on #600
ok looking into this

[2017-10-25 14:41] artemstepanenko commented on #601
Thanks.

[2017-10-26 06:48] poojadeshmukh091 opened #602 "I want to create custom calendar so i used JTAppleCalendar and want to display date in collection view cell"
I want to create custom calendar so I used JTAppleCalendar for this I have taken one collection view and want to display date in collection view cell but it is not displaying what should be the solution for this?

CalendarViewController.swift
[code]
extension
[code]

[2017-10-26 07:00] hemangshah commented on #602
I believe, if you can see any of the videos from @patchthecode then you will not have this question.

Please have a look on his YouTube channel [videos](https://www.youtube.com/channel/UC1a6Hu1_F10jd363OdPH23w/videos).

The one which should help you is [here](https://www.youtube.com/watch?v=zOphH-h-qCs&t=7s).

@patchthecode has done a great job not just for the calendar but also by providing such

[2017-10-26 07:02] poojadeshmukh091 commented on #602
@hemangshah Thank you..but i watched all videos of calendar from patchthecode.

[2017-10-26 07:04] hemangshah commented on #602
@poojadeshmukh091, Ok, it will not take more then 8 minutes if you recheck the one which I pointed in my previous comment. I have seen the similar video three months back which helped me to create a custom calendar from the scratch. Please have a look one more time. 👍

[2017-10-26 07:06] poojadeshmukh091 commented on #602
@hemangshah , yeah okay..i will recheck it..still if u have any solution for this please help me.

[2017-10-26 07:08] hemangshah commented on #602
Sure I can, but your is incomplete. There should methods to use the custom cell and update them as per the requirement.

[2017-10-26 07:13] poojadeshmukh091 commented on #602
@hemangshah  which methods?

[2017-10-26 07:14] hemangshah commented on #602
@poojadeshmukh091, please check that video or download the sample code from Github.

[2017-10-26 07:15] poojadeshmukh091 commented on #602
okay

[2017-10-26 07:34] hemangshah commented on #553
I don't understand how @boborbt solution will work for us? @patchthecode

Because,

[code]

As if the delegate is like this,

`  func calendar(_ calendar: JTAppleCalendarView, willDisplay cell: JTAppleCell, forItemAt date: Date, cellState: CellState, indexPath: IndexPath) { ... }`

willDisplayCell will only take `JTAppleCell` so we can't pass a custom cell to it. Any info on this?

[2017-10-26 13:46] patchthecode commented on #602
@poojadeshmukh091

OK based on your stackoverflow question here, every thing seems ok

https://stackoverflow.com/questions/46904336/i-want-to-create-custom-calendar-so-i-used-jtapplecalendar-and-want-to-display-d?noredirect=1#comment80840913_46904336

The code you posted to stack overflow is very small.
Can you create a sample project and send it to patchthecode@gmail.com ?

You had said that you

[2017-10-26 14:14] Kaisp commented on #244
Hi! First of all, thanks for making this awesome library! I'm having trouble implementing the selection of of only one range-selection.. with both of your above mentioned approaches, it fails from time to time.. and I can't figure out what is going wrong.. quite aggravating. : ) Also, the shouldDeselectDate delegate method is never fired..

[2017-10-27 03:00] poojadeshmukh091 commented on #602
@patchthecode as u said i saw view hierarchy in XCode. I have seen exactly as per u mentioned that label is not visible visually but it is there in left menu in cell menu, but when i click on label it shows(highlights) nothing visually, i will create and mail u my sample project.

[2017-10-27 04:42] patchthecode commented on #602
@poojadeshmukh091 will await you sample project

[2017-10-27 05:54] poojadeshmukh091 commented on #602
@hemangshah  i have used methods of delegate and datasource

[2017-10-27 14:35] Nonouf opened #603 "Horizontal single row calendar has wrong offset on iOS 10"
Version 7.1.1 (but I've seen the bug on a previous 7.0.x version)

On iOS 10, it seems like the content offset is wrong on a single row calendar with horizontal scrolling mode, which result in the calendar being outside of it's visible view and scrollable vertically.

Here is my `JTAppleCalendarView` subclass constructor:
[code]

This is my configure method:
[code]

Tested on an iPhone 7 on iOS 10

[2017-10-27 14:47] patchthecode commented on #603
Hmm, yea i think iOS10 behave a little differently.
Does this fix your issue? -> https://patchthecode.github.io/CommonProblems/

[2017-10-27 15:01] IfyNdu opened #604 "calling deselectAllDates() causes crash for me in version 7.1.1 however this was not the case in my previous version 6.*.*"
This is an error I receive after deselectAllDates() is called.

![screen shot 2017-10-27 at 15 58 43](https://user-images.githubusercontent.com/15639127/32110601-d033a92e-bb2f-11e7-978d-32e59a77e26b.png)

[2017-10-27 15:02] patchthecode commented on #604
version?

[2017-10-27 15:21] IfyNdu commented on #604
Version 7.1.1
There is no error text just: THREAD: EXC_BAD_ACCESS

[2017-10-27 15:34] Nonouf commented on #603
It does fix the issue. However, I'm wondering if it's not going to create other issues on the screen I'm building. I guess I'll see.

Thank you! :)

[2017-10-27 16:20] patchthecode commented on #604
Alright. I'll look into this over the weekend.
The project has become larger, i need to update my unittests to prevent these silly mistakes.
Thanks for finding.

[2017-10-27 16:33] IfyNdu commented on #604
No worries bro, i'll revert to a previous version for the time being.
Thanks a lot

[2017-10-28 04:54] poojadeshmukh091 commented on #602
@patchthecode shared my sample project with u through mail, please check

[2017-10-28 11:11] RajaReddyIOS opened #605 "IndexPath"
how do we get all indexPath's in between two dates

[2017-10-28 11:23] patchthecode commented on #605
Why do you want to get the indexPaths between dates?
I try to hide this from the developers.

[2017-10-30 04:52] poojadeshmukh091 commented on #602
@patchthecode  any suggestions?

[2017-10-30 06:31] patchthecode commented on #602
The problem was with your constraints.
You did not center your label in the middle of the cell with proper constraints.
Therefore when you run your project, you do not see the label.

The huge sign that this is the problem is the constraint error messages that you see when you run your app. The fix is simple: set your label to be centered inside the cell `vertically` and `horizontally`. Then every

[2017-10-30 06:31] #602 closed

[2017-10-30 06:35] rayutsabdeep3 commented on #58
Hello, I found the error, however, I did exactly same like you did in your tutorial.
my code,
extension ViewController: JTAppleCalendarViewDataSource, JTAppleCalendarViewDelegate{
func configureCalendar(_ calendar: JTAppleCalendarView) -> ConfigurationParameters {

    formatter.dateFormat = "dd-mm-yyyy"
    formatter.timeZone = Calendar.current.timeZone
    formatter.locale = Calendar.current.loc

[2017-10-30 06:47] patchthecode commented on #58
@rayutsabdeep3 if you do not explain to me in detail your error, then i cannot help much.

1. I do not know what your error is.
2. I do know know what version you upgraded from or what version you are currently using.

[2017-10-30 06:48] hemangshah commented on #602
This is may help you to trace out the constraint errors:

https://www.wtfautolayout.com/

[2017-10-30 06:59] rayutsabdeep3 commented on #58
Apologies.
Type ViewController does not conform to protocol 'JTAppleCalendarViewDelegate' is the error.
and I am using calendar 7.0
XCode 8 and swift 3

[2017-10-31 03:07] tanwanjern opened #606 "[Carthage]uncaught exception of type NSException."
I'm using 7.1.1 version and install it via carthage. I'm getting this error: libc++abi.dylib: terminating with uncaught exception of type NSException.

This is my project file:
[FinnTest2.zip](https://github.com/patchthecode/JTAppleCalendar/files/1429460/FinnTest2.zip)

I followed the carthage installation and scratch tutorial from youtube but I got the error so I search it on Issues and found thi

[2017-10-31 07:05] patchthecode commented on #606
Did you put in the module as `JTAppleCalendar` ?
<img width="261" alt="screen shot 2017-10-31 at 12 04 51 am" src="https://user-images.githubusercontent.com/2439146/32211307-235adc20-bdcf-11e7-90ef-f4d072303386.png">

[2017-10-31 07:40] tanwanjern commented on #606
It works! Thanks!

[2017-10-31 07:40] #606 closed

[2017-10-31 13:58] patchthecode commented on #603
OK. will close this issue.
If it causes problems for you then do let me know. :)

[2017-10-31 13:58] #603 closed

[2017-11-01 14:11] patchthecode commented on #605
closing this until user responds.

[2017-11-01 14:11] #605 closed

[2017-11-01 22:21] dastanbb opened #607 "Why willDisplay cell is not called"
Hi!
First of all, thank you for the great UI component!
Version 7.1.1
I don't understand why **willDisplay cell** function is not called? In demo app it is mentioned that we should duplicate the code from **cellForItemAt**. Could you please explain this?
Regards,
Dastan

[2017-11-01 22:36] patchthecode commented on #607
I explained it on this issue -> https://github.com/patchthecode/JTAppleCalendar/issues/553
Does this help ?

[2017-11-01 22:41] dastanbb commented on #607
Thank you! This explains pretty much everything.

[2017-11-01 22:41] #607 closed

[2017-11-01 22:56] nickinylin opened #608 "Problem with selection of a date and then scroll to another month where i'm now able to select two dates. The first date doesn't get deselected"
Hello! Thank you for all the wonderful work!
I'm using version 7.1.1
I have a problem with the selection of a date. If i select a date in a month and i fx scroll to the month  before where this date is also shown, it won't be deselected. So now i'm marking 2 dates. I've attached two pictures to show it. My code is also attached.
Thank you!
![img_4513](https://user-images.githubusercontent.com/1497

[2017-11-02 00:24] patchthecode commented on #608
You did not implement the will display cell function.
In version 7.1.1 I force every developer to implement it.
The reason is explained here -> https://github.com/patchthecode/JTAppleCalendar/issues/553

Can you let me know if this fixed your issue?

[2017-11-02 00:40] patchthecode commented on #607
Also, here is when the function is called. In the rare case when the library needs updating.
If it is not implemented you will get this rare error -> https://github.com/patchthecode/JTAppleCalendar/issues/608

Cheers 🍻

[2017-11-02 02:15] patchthecode commented on #604
ok i finally have a chance to look at this.
I could not recreate the crash.
I wish you can tell me what you did to recreate it?

[2017-11-02 02:43] patchthecode commented on #601
i finally have time to look into this.
Iv'e been trying, but all seems to be working well on my end no matter what i test.
Do you have a sample project that reproduces this? You can drop the zip file in this chat box. Just delete the build folder before zipping so it wont be too large.

[2017-11-02 03:26] patchthecode commented on #600
I looked at your video.
And i looked into this.
I cannot re-create this on my sample app.
Do you have a sample zipped project i can try?
You can zip it and drag the zip file here.

[2017-11-02 04:12] patchthecode commented on #597
[code]

[2017-11-02 06:47] nickinylin commented on #608
Yes this solved my issue. Thank you! Have a nice day :)

[2017-11-02 06:47] #608 closed

[2017-11-02 07:48] patchthecode commented on #608
awesome.

[2017-11-02 09:03] IfyNdu commented on #604
Might be tricky to explain, maybe you could jump on my system (screenshare) for a sec?

[2017-11-02 14:49] patchthecode commented on #604
sure, this is my timeZone.
Let me know a time when youre available.

[2017-11-02 16:57] IfyNdu commented on #604
Thanks. i'm 7 hours ahead of you.
I'll message you as soon as i get home at about 2pm your time zone.

[2017-11-02 17:23] AndreiVataselu commented on #600
https://dbr.ee/hcaJ

[2017-11-02 20:43] patchthecode commented on #600
thank you. checking it out now that i have downloaded it.

[2017-11-02 20:58] patchthecode commented on #600
Confirmed. it looks like a bug.
Working on this now.

[2017-11-02 21:18] patchthecode commented on #604
@IfyNdu man, im still @ work sadly.
I'll be free in about 4 hrs.

[2017-11-02 21:34] IfyNdu commented on #604
Oh okay. I should be up still.

Let me know when you get off work

[2017-11-03 00:50] patchthecode commented on #604
https://gitter.im/patchthecode/JTAppleCalendar when ready

[2017-11-03 01:00] patchthecode opened #609 "Should Deselect not called"
@kaisp

Hi all! First of all, thanks for making this awesome library @patchthecode ! I'm having trouble implementing the selection of only one range of dates.. with both of your above mentioned approaches, it fails from time to time.. and I can't figure out what is going wrong.. quite aggravating. : ) Also, the shouldDeselectDate delegate method is never fired..

[2017-11-03 01:01] patchthecode commented on #244
@Kaisp i missed this issue. Because this one was closed.
lets track it here -> https://github.com/patchthecode/JTAppleCalendar/issues/609

[2017-11-03 01:58] #604 closed

[2017-11-03 02:56] patchthecode commented on #601
Or can you show me the library related code for the `cellForItem` function?

[2017-11-03 03:00] patchthecode commented on #600
@AndreiVataselu The problem is here
->
[code]

Please change your code to this

[code]

You should use the `cellState`.
Take look at *Problem # 2* on this link --> https://github.com/patchthecode/JTAppleCalendar/issues/553

It explains why you should use cellState.

[2017-11-03 03:02] patchthecode commented on #600
This should fix your issue.

[2017-11-03 07:32] AndreiVataselu commented on #600
Indeed it works! Thank you!

[2017-11-03 07:32] #600 closed

[2017-11-05 23:11] sl-62 opened #610 "Cell deselect not working after calendarView.selectDates"
Affected versions: **7.1.0** and **7.1.1**

After programmatically selecting dates using the **calendarView.selectDates** method, the **shouldDeselectDate** delegate method does not appear to work when the user presses on one of the selected dates. Instead the **shouldSelectDate** method appears to be called again.

As a result, it's not possible to deselect the programmatically selected dates.
It

[2017-11-05 23:23] patchthecode commented on #610
are you available?
https://gitter.im/patchthecode/JTAppleCalendar

[2017-11-05 23:25] spensko commented on #597
@patchthecode  Hi! Thanks for this great library!

I have the same issue - calendar's superview bottom constraint is attached to some details view which expands on range selection. After selecting of a second date calendar scrolls up to beginning without animations

I've tried code from above but does not work for me

`UIView.animate(withDuration: 0.3, animations: {
            self.detailsHeight.

[2017-11-05 23:49] patchthecode commented on #597
@spensko does this demo help you?
It does a resize and does not restart ->
https://github.com/patchthecode/WLAppleCalendar

Let me know

[2017-11-06 00:11] spensko commented on #597
@patchthecode demo looks ok but i can't figure out what i need to setup for such behaviour

short video about issue
https://youtu.be/hELmIM9tvVk

[2017-11-06 11:52] chriseenberg opened #611 "Creating calendar causes unreadable cells in column view"
Swift version 4.0
Target version: IOS 11.0
JTAppleCalendar version 7.1.1

I've followed the guide for creating a calendar in my project. This is "working" without errors in the console - however, there is a problem with displaying the cells in my collection view as seen below.

<img width="416" alt="screen shot 2017-11-06 at 12 45 16" src="https://user-images.githubusercontent.com/13994371/3243980

[2017-11-06 12:28] sl-62 commented on #610
Ok I think I've narrowed it down to what's causing the problem. Essentially issue happens when I call the following method in my viewWillAppear:
[code]
Let me know whenever you're available to continue discussing this on gitter.

[2017-11-06 12:32] #611 closed

[2017-11-06 13:39] patchthecode commented on #58
The 2 major changes in version 7.1.1
were posted on the main page :(
Here is the link to it.

https://github.com/patchthecode/JTAppleCalendar/issues/553

Let me know if this explains it for you.
When ever you get an error like that, XCode suggests the fix for you. Implement the function that XCode is suggesting for you. Click on the red error bubble, and you should see a box that says `Fix`. Click

[2017-11-06 13:43] patchthecode commented on #611
I take it that you found the error causing this?

1. This library has example project attached to it.
2. Also there are video tutorials --> [here](https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q)
3. Also there are guys who have done sample projects around -> https://github.com/patchthecode/WLAppleCalendar

Let em know if this helps

[2017-11-06 14:20] chriseenberg commented on #58
First of all, thank you so much for all the effort you put into this!

Thanks! This solved it for me :)

Kind regards Chris

[2017-11-06 15:50] patchthecode commented on #58
Awesome. cheers man 🍻

[2017-11-07 06:09] RiuHDuo opened #612 "Crash from xib"
layout is not init why should you convert to protocol
![image](https://user-images.githubusercontent.com/830134/32479503-bb623b64-c34f-11e7-8c8a-3de571d89769.png)

[2017-11-07 09:45] chriseenberg opened #613 "Getting date from cellState gives date - 1 day"
1. Swift 4.0
2. 7.1.1

I've followed the videos as explained, and all this works great! Thanks for the easy access to your library.

I have, however, encountered a problem with getting dates out of the calendar again. I've implemented a method on the didselectdate method, where it pushes the selected date to a date array. This works well, but when i print the array of values, it printes this:

ins

[2017-11-07 13:37] patchthecode commented on #612
Do you have sample application?

[2017-11-07 13:41] patchthecode commented on #613
Yes, this is an iOS thing. It happens with any iOS calendar library you use.
When ever you print a date to the console. Always use a date formatter to do so.
let me know if this issue here explains it for you? -> https://github.com/patchthecode/JTAppleCalendar/issues/252

[2017-11-07 13:43] patchthecode commented on #610
[Here is my time zone](https://www.timeanddate.com/time/zone/usa/california)
Im usually up during the day.
I'll take a look into what you have found in the mean time however.

[2017-11-07 15:27] ymanjuy opened #614 "Delegate Methods - didSelectDate and didDeselectDate"
Version Number : v7.0

Hello first of all I would like to say thank you so much for providing this library. Its very easy to understand and work with it.

Everything was working fine. I tried the library in demo project. It was working fine in demo project. The same code I added to my project. Its loaded perfectly and design is looking as I planned. But the problem is with **didSelectDate** and **

[2017-11-07 15:36] #613 closed

[2017-11-07 15:38] patchthecode commented on #614
you know, one of the easiest way to make an error is when people copy code (even if its copied code from a sample project).

Can you try creating a new calendar in your new project? You dont have to go all out and design, just design it enough to see if your didSelect is being called. The didSelect/deselect functions are working on my end. Creating just a sample calendar shouldnt take long since y

[2017-11-07 15:43] patchthecode commented on #613
you're welcome. 🍻

[2017-11-07 15:54] ymanjuy commented on #614
Sure! I will try! I will let you know asap! Thank you so much for quick response.

[2017-11-07 20:11] cazares opened #615 "deselectAllDates with triggerSelectionDelegate: false and selectDates with triggerSelection false and keepSelection false not working after upgrading to Xcode 9 and iOS 11"
1. I am using v7.1.2 of JTAppleCalendar

2. Yes, I'm using the latest.

3. First off, thank you so much for all the work you put into this library! I love it and so do our customers!
NOTE: this WAS working before. Upon upgrading to Xcode 9/iOS 11, this issue now happens where
**deselectAllDates(triggerSelectionDelegate: false)**
is not working. Also,
**selectDates(from, to, triggerSelectionDelegat

[2017-11-07 22:06] patchthecode commented on #615
hey i think the link to you code gist is not working. Got the link?

[2017-11-07 22:30] patchthecode commented on #615
Also, did you implement a `shouldSelect` or `shouldDeselect` function?
This now gets called when you do a selection or deselection.
?

[2017-11-07 22:50] cazares commented on #615
Try now. Also, no I don't implement shouldSelect or shouldDeselect, should I?

[2017-11-07 23:45] patchthecode commented on #615
@cazares ok i'll look at your code more in detail after work.
You do not have to implement shouldSelect or shouldDeselect. I just asked to further determine the source of your issue.

Since you updated to the latest version. Did you implement the `willDisplayItem` function?
The one *must* be implemented according to this -> https://github.com/patchthecode/JTAppleCalendar/issues/553

[2017-11-08 00:40] cazares commented on #615
This one?
`func calendar(_ calendar: JTAppleCalendarView, willDisplay cell: JTAppleCell, forItemAt date: Date, cellState: CellState, indexPath: IndexPath)`
Yes, but it's an empty implementation.

[2017-11-08 00:46] cazares commented on #615
Hey I fixed the problem by doing this in `willDisplay cell`:
`cell.isSelected = isInsideDateRange(date)`
Thanks for pointing me in the right direction!

[2017-11-08 00:57] patchthecode commented on #615
@cazares one thing. try to use the `cellState.isSelected` instead of `cell.isSelected`

on that same link -> https://github.com/patchthecode/JTAppleCalendar/issues/553 on problem # 2, i explained why.
I am working on an update soon that will allow developers to use the `isSelected` directly on a cell. But I have not coded it yet. I'll finish it soon.

[2017-11-08 01:00] cazares commented on #615
For this:
`cellState.isSelected = isInsideDateRange(date)`
I get "Cannot assign to property: 'isSelected' is a 'let' constant

[2017-11-08 01:48] cazares commented on #615
Can you give an example how to change isSelected from `cellState`?

[2017-11-08 15:01] patchthecode commented on #615
OK. wait, i thought you were just doing a simple check to see if a cell was selected or not.

I might have been mistaken. What are you doing with the `isSelected` of a cell? Are you trying to select the cell by setting `cell.isSelected = true` ?
I am not clear what you are doing.

[2017-11-08 15:02] patchthecode commented on #612
Closing this until user provides more information.

If you need an example -> https://github.com/patchthecode/CalendarTutorial

[2017-11-08 15:02] #612 closed

[2017-11-08 15:03] patchthecode commented on #609
closing issue until user responds.

[2017-11-08 15:03] #609 closed

[2017-11-08 15:05] patchthecode commented on #597
@spensko
I looked at the video, But I am not understand how you want the calendar to behave.

[2017-11-08 15:06] patchthecode commented on #610
I got you app by email, but i am unsure of how to replicate what  you need me to see.
Send me message when youre available to talk.

[2017-11-08 16:26] patchthecode commented on #610
Nice bug.
Had to find.
Fixing now 🍻

[2017-11-08 16:58] patchthecode commented on #610
Can you open your `Podfile`and replace the jtapplecalendar with this?
[code]
Then do a `pod update` on terminal. Let me know if this latest master branch fixes your bug.

[2017-11-08 16:59] patchthecode commented on #614
latest is now 7.1.3
Fixed an issue.
closing this issue now.
Let me know if you still encounter any problems.

[2017-11-08 16:59] #614 closed

[2017-11-08 19:26] cazares commented on #615
Yes I am just looking for different ways to deselect and select a range of cells other than `deselectAllDates(triggSelectionDelegate: false)` and `selecctDates(from, to, triggerSelectionDelegate: false, keepSelectionIfMultiSelectionAllowed: false)`. These two functions were working before, but now they are not. Seems like `keepSelectionIfMultiSelectionAllowed: false` is not being respected.

[2017-11-08 19:37] spensko commented on #597
@patchthecode long story short. if I changing some constraint which cause the calendar to change its height then the calendar resets to the beginning

I will make clean project for tests

[2017-11-08 19:55] patchthecode commented on #597
thank you.
Send me the sample test project. I will look into it.
patchthecode@gmail.com

[2017-11-08 20:00] patchthecode commented on #615
is it possible you can join chat here? https://gitter.im/patchthecode/JTAppleCalendar
typing here is too slow.
But yes,

[code]
and
[code]

Should work. If this does not work, then I need to fix something. Let's not do a work around for something as important as this. I fix issues no matter how small they seem. And this sounds like a huge issue.

1. Selecting dates work by using any of the `select

[2017-11-08 20:08] cazares commented on #615
Yes I will join shortly.

[2017-11-08 20:45] spensko commented on #597
@patchthecode sended. in this sample calendar resets after deselection while changing constraint of the blue bottom view

[2017-11-08 20:57] cazares commented on #615
I know we have a chat later, but I just wanted to mention that I found out that reverting to any version of JTAppleCalendar between 7.0.0 and 7.0.6 all work. Version 7.1.0 is the first version where my functionality breaks, all the way up to 7.1.3 (all 7.1 versions are broken).

[2017-11-09 20:28] ruwaldl opened #616 "version 7.1.3 want to know what willDisplay is used for"
what willDisplay is used for ?

what is cellForItemAt used for ?

[2017-11-09 20:58] patchthecode commented on #616
`cellForItemAt` is used the same way as any other UICollectionView or UITableView in iOS.
The video list located here will help you on this -> https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q

`willDisplay` was newly introduced in version 7.1.0. It should contain the same code as the `cellForItemAt` function. The reason why it was implemented and what you need to

[2017-11-09 22:13] sl-62 commented on #610
Perfect!
Thank you for fixing this bug so quickly. The related secondary bug also appears to be fixed now.
And a massive thank you in general for creating such an amazing library!

[2017-11-09 22:13] #610 closed

[2017-11-10 03:44] #616 closed

[2017-11-10 08:38] shoujs opened #617 "How to get first visible date of previous month calendar?"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
**7.1.1**
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.3
**No**
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

What I do right now is that:
`self.calendarView.scrollToDate(prevMonth!, animateScroll:false)`
`
        calendarV

[2017-11-10 09:04] patchthecode commented on #617
hmm. I do not understand the question.

Visible dates means, dates that are visible on the screen. If they are not visible, then they wont be captured.

Can you explain at bit more on what you are trying to do? I'll be able to suggest something else.

[2017-11-10 10:53] shoujs commented on #617
Thanks for your quick reply.
In my usecase, I want to load events of 3 months, current month, one month before and one month after.
For example, today is 11th Nov, so I will load events starting from 1st Oct to 31st Dec. In JTAppleCalendar calendar view displayed in App, the first visible date of Oct calendar view may not be 1st Oct. It may be 29th Sep. So I need load events from 29th Sep to 31st

[2017-11-10 15:30] patchthecode commented on #617
ok this seems more like a date calculation problem than a calendar one.

First, you need to find out which month you are on.

[code]
Now that you have the date of the current month, you need to do `Date` calculations to find the previous month, and next month.

There are a lot ok like questions like this on stack overflow/google like this -> [gLink](https://www.google.com/search?source=hp&ei=ucMFW

[2017-11-10 15:32] patchthecode commented on #601
closing this until user responds. I believe the issue might lie in the implementation of willDisplay and cellForItem.

[2017-11-10 15:32] #601 closed

[2017-11-10 15:35] patchthecode commented on #597
@spensko

Ok. I see what you are doing.
You have changed the height of the calendar.

The will cause the layout to be invalidated.
Which will then cause the calendar to scroll to the beginning. This is normal for any UICollectionView.

Since I am getting many questions on animation, I will do a tutorial on this.

[2017-11-10 16:11] shoujs commented on #617
Sorry, I am afraid I don't make myself clear. Technically speaking, I want to know the first date of the  `indates` not the first date of the month. So it is calendar view related.

[2017-11-10 16:32] patchthecode commented on #617
like this?

[code]

[2017-11-11 03:20] shoujs commented on #617
Yes, the code is like that you gave.
However, my problem is that how to get indates of previous month without scrolling calendar view to the previous month? I want to prefetch events while the user stay in the current month view.

[2017-11-11 05:01] patchthecode commented on #617
Then you would do it as in my first answer.
If you are online, chat here -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-11-11 20:50] patchthecode commented on #617
Currently, i do not have any functionality to get the indates/outDates of a month.
But I can create one.
For now, you will have to calculate it yourself.
Let me think  on how to create this new funcitonality.

[2017-11-13 11:30] ymanjuy commented on #614
Hey bro! Tried as you said. But no luck. Its working on the other project. In origional project its not at all working. DidSelectDate is not getting called!!

[2017-11-13 12:20] patchthecode commented on #614
can you paste both functions?

[2017-11-13 20:53] geoffreygonzales commented on #595
1 move the rect of the calendar. I have mine hidden and then animate it to a show rect
2 scroll the calendar and _while_ its decelerating :
3a call `scrollToDate`
or
3b move the rect of the calendar to a different position, in my case its hiding the calendar with animation

[2017-11-14 03:44] ymanjuy commented on #614
extension ViewController: JTAppleCalendarViewDelegate {

    func calendar(_ calendar: JTAppleCalendarView, cellForItemAt date: Date, cellState: CellState, indexPath: IndexPath) -> JTAppleCell {
        let cell = calendar.dequeueReusableJTAppleCell(withReuseIdentifier: "CustomCell", for: indexPath) as! CustomCell
        cell.dateLabel?.text = cellState.text

        handleCellSelected(cell: cell

[2017-11-14 05:00] patchthecode commented on #614
hmm. your code looks good.
Is it possible you can join the chat here?
I'll be up.

[2017-11-14 05:37] ymanjuy commented on #614
Sure! I m ready.

[2017-11-14 06:38] ymanjuy commented on #614
On my Parent View Controller, I wrote these lines.

let tap = UITapGestureRecognizer(target: self.view, action: #selector(UIView.endEditing(_:)))
self.view.addGestureRecognizer(tap)

So, these lines were causing problem.

Thanks for your responses bro..!

[2017-11-14 10:56] pimpapare opened #618 "Does not conform to JTAppleCalendarViewDelegate"
Everything work find on version 6.1.1
but today I just update to version 7.1.3 and I always got error "does not conform to JTAppleCalendarViewDelegate"

I try to solve with adding willDisplay(), updating syntax for cellForItemAt()
or any solution but I still get this error :(

[2017-11-14 14:35] thelittlelankanprince opened #619 "Retain Cycle - How can I avoid it."
Using the latest version.

I am using your awesome library to create a query band of dates and on selecting (or deselecting) a specific date it fires a query (I am not sure if this is bad design, but it seems to work okay). I am then using a dictionary to count iterations of objects relative to a specific date, which I then want to use to update an array in the collection view. I was wondering how

[2017-11-14 21:01] patchthecode commented on #619
@thelittlelankanprince
`calendarView.reloadData()` will reload your calendar.
Does it work when you use this?

[2017-11-14 21:08] patchthecode commented on #618
In the latest version 7.1.3, you must implement the `willDisplayCell` function --> #533

[2017-11-14 21:10] patchthecode commented on #619
Join chat [here](https://gitter.im/patchthecode/JTAppleCalendar) if more help is needed

[2017-11-14 21:11] patchthecode commented on #614
ok. cool.
good the problem was figured out.

[2017-11-14 21:35] REAOrlando opened #620 "handleCellSelected() not working sometimes after scroll to segment"
Hi JT,

I'm using version 7.1.3. I'm really happy with this library and have a small issue that I hope you can help with.  I created some buttons and functions to scroll ahead or back to the next segment by either year or month.  This feature works perfectly when stepping in one direction for any number of clicks, but if you click the opposite direction, the calendar does scroll to the correct seg

[2017-11-14 21:45] patchthecode commented on #620
checking this now.

[2017-11-14 21:58] patchthecode commented on #620
Problem is in your handle code.
You have this:

[code]

the cell is nil at this point and so it exits your funciton.

[2017-11-14 22:05] patchthecode commented on #620
root cause lies here
[code]

For example:
`calendarView.scrollToDate(next, animateScroll: false)`

The calendar may not yet finished scrolling to the date. It may be in the process of getting to the date and there for the date is not yet visible on the screen.
Therefore when you call this -> `calendarView.selectDates([next], triggerSelectionDelegate: true)`
It is possible that the selection finish

[2017-11-14 22:05] #620 closed

[2017-11-14 23:05] daviddelmonte opened #621 "v7.1.3 How to jump back and forth via years?"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.3
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

Hi, this is an amazing work. I have figured how to jump back and forth using month buttons. How would you (or anyone), suggest I im

[2017-11-14 23:59] REAOrlando commented on #620
Perfect! The closure does the trick.  Thank you again.

[2017-11-15 01:16] patchthecode commented on #621
@daviddelmonte
1. get the current year youre on.
2. generate a date to the 1st of the following year
3. calendarView.scrollToDate(date)

[2017-11-15 01:16] pimpapare commented on #618
Thank you

[2017-11-15 02:55] daviddelmonte commented on #621
Thanks.. That's great for one year plus or minus.. I need +- 5-10 years..

[2017-11-15 03:04] patchthecode commented on #621
@daviddelmonte

1. get the current year youre on.
2. generate a date to the 1st of the next 5 years
3. calendarView.scrollToDate(date)

You can add how much ever years you want. And your code can be anyway you want. Here is an ugly example.
[code]

[2017-11-15 03:55] daviddelmonte commented on #621
Thanks!! I ended up having a variable that the buttons would increment during a run. I can use that to add/subtract a year at a time..

[2017-11-15 03:55] #621 closed

[2017-11-15 04:00] patchthecode commented on #621
cool

[2017-11-15 04:11] daviddelmonte commented on #621
Sorry, I should have posted my code...

aYear is an Int..

Code is:
[code]

[2017-11-15 04:59] thelittlelankanprince commented on #619
@patchthecode it's just a circular reference. i have an array of objects that updates based on dates being selected or not selected (dates array), but before you select a date i want to identify the quantity of each object per date and then update the cells. The problem is when I update the cells (with reloadData() ) it triggers cell selection even though the cells are not being selected or desele

[2017-11-15 06:03] patchthecode commented on #619
problem resolved with reloadDates() function.
closing this issue
but @thelittlelankanprince please send files to patchthecode@gmail.com
will resolved reloadData()

[2017-11-15 06:03] #619 closed

[2017-11-15 10:54] spensko commented on #597
@patchthecode since I don't need to animate change of height of the calendar, I've anchored it to bottom of controller and change contentInset. so this issue is resolved for me :)

@hoanganhbk94

[2017-11-15 14:21] jackywongcw opened #622 "didSelectDate date and cellState date is different"
Using the latest version: 7.1.3
Test Device : iOS 9

In
[code]
why are they not the same? is it because of timezone?

for the `configureCalendar` parameter, use:
[code]

formatter is the same setup as per your tutorial
numberOfRows = 1

Can you please check if you're able to replicate this problem?

[2017-11-15 16:20] patchthecode commented on #622
Let me know if this discussion is helpful to you -> https://github.com/patchthecode/JTAppleCalendar/issues/252

[2017-11-15 16:22] patchthecode commented on #597
thanks for letting me know.
In the mean time, i'm doing a tutorial on animation and height change, so that people have a clear idea what to do here. Thanks for make me aware of the difficulty.

[2017-11-15 16:22] #597 closed

[2017-11-15 16:59] patchthecode commented on #595
investigating.

[2017-11-15 19:47] hennykat opened #624 "reloadData unowned reference crash"
JTAppleCalendar Version: 7.1.3
Swift 4 / XCode 9.1

Crash in: UserInteractionFunctions.swift > reloadData(withAnchor:completionHandler:)
Log: Fatal error: Attempted to read an unowned reference but the object was already deallocated

<img width="1141" alt="screen shot 2017-11-15 at 1 29 56 pm" src="https://user-images.githubusercontent.com/10837699/32856302-06ea3c7e-ca0a-11e7-99f0-a9356c5716e0.png

[2017-11-15 20:40] patchthecode commented on #624
hmm. this is bad. Do you have a sample application that contains this issue?
I would really like to get my hands on that to fix immediately.

[2017-11-15 20:45] hennykat commented on #624
Unfortunately I don't have a sample application.  I can try to make one if you need

[2017-11-15 20:46] patchthecode commented on #624
Yea. i caught up on another project. I can take a look at this at the least in another 4-5 days.
But if you provide a sample app with it, i can look at it a lot sooner.

[2017-11-15 20:48] patchthecode commented on #624
But i already see a fix.
it should be set to `weak` instead of unowned.
I did not foresee your use-case. Weak, will make it nillable and thus it would not crash if its no longer available.

[2017-11-15 21:07] hennykat commented on #624
Okay, I will make a sample and get back to you

[2017-11-16 07:49] rinkon opened #625 "Convert date representation from horizontal to vertical."
Hello there,
Thank you for the awesome library.
I am using 7.0.

I am trying to represent days like the image. Is there any way to do that?

![untitled](https://user-images.githubusercontent.com/7296621/32879613-e2a71c94-cad4-11e7-8ec7-64400c4ef3b8.jpg)

Thanks in advance

[2017-11-16 12:18] patchthecode commented on #625
It can create any calendar so long as it is standard. The one you have shown cannot be done.

[2017-11-16 16:36] hennykat commented on #624
I can't seem to make a sample application where this is consistently reproducible.  Not sure where to go from here.

[2017-11-16 18:11] patchthecode commented on #624
@hennykat its ok, just send the sample app.
I will look through it and judge. I already suspect where it is, your sample app, will help.

[2017-11-16 19:12] hennykat commented on #624
Sorry, I already put it up by the time I read this.  Hope this is ok: https://github.com/hennykat/CalendarSample

[2017-11-16 20:54] jdkauffman11 opened #626 "Implementation Issue"
Hi,

This is probably trivial compared to the other issues here, but I have tried everything I could think of to get this to work and am unable. I have been trying to implement this calendar functionality in an app that I am working on, and I have been following the tutorial [here](https://patchthecode.github.io/MainTutorial/).

I believe to have everything hooked up correctly, but when I segue to

[2017-11-16 22:13] patchthecode commented on #626
Hmm. Sorry, if you are using version 7.0 you are using the wrong tutorials.
Have you seen any of the video tutorials posted on this site?

Here [is the full list](https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q).

There is also an update to the videos posted there. The latest version 7.1.3 has an extra function you need to implement (not posted in the videos). I

[2017-11-17 04:10] jackywongcw commented on #622
Yep. Thanks for the reference. Looks like quite a number of people had the same issue before, my bad for not searching long enough.
Perhaps you can point this out in the tutorial / front page?

Also, what is the purpose of the "date" and "cellState" parameter in didSelectDate / cellForItemAt? What's the initial intention for it?
AFAIK, date and cellState.date returns the same exact date (before th

[2017-11-17 04:43] jdkauffman11 commented on #626
Awesome, the video really helped! I was able to get it running. Thanks so much for your quick reply!

[2017-11-17 04:44] #626 closed

[2017-11-17 07:02] patchthecode commented on #626
awesome 🍻

[2017-11-17 07:05] patchthecode commented on #622
date = cellState.date

originally, the library just had `date`.  Eventually, i added cellState because there are many other things that that were useful to developers. I didn't want to remove `date` since so many were using it. Therefore, I left `date` there for easy access as this variable was the most accessed. I may consider removing it in future, and just keeping every thing inside cellSate.

[2017-11-17 08:00] jackywongcw commented on #622
I see.
Thanks again for your time taken to reply and your awesome library!

Case close. :)

[2017-11-17 08:00] #622 closed

[2017-11-17 08:14] shoujs opened #627 "unable to deselect a selected date cell"
Every time, I select a date which is in the selected state, I mean to deselect it. But the `didDeselectDate` not get invoked, only `didSelectDate` get called. Is that behavior designed as is?

But I think deselecting a date if user select(press) a selected date cell makes more sense to me.

[2017-11-17 12:01] CassianoMouraLeao opened #628 "Get the cell of current day"
I need to change the color cell of the current day. Can anyone help me?

[2017-11-17 13:01] hanishassim commented on #146
@ukmarn is the branch still works? I'm currently trying to revive a dated project in swift 2.3 to swift 3.0. Or can someone show me which version is for swift 3.0?

[2017-11-17 13:14] ukmarn commented on #146
@hanishassim Huh that was a year ago, so I am not quite sure. Check it out by installing pod I mentioned few answers above. Or we could ask @patchthecode if the branch still exists.

[2017-11-17 13:23] hanishassim commented on #146
I just did some cross-referencing with comments made by @patchthecode in (https://github.com/patchthecode/JTAppleCalendar/issues/138#issuecomment-254328362) and I guess version **6.0** on on **18 Oct 2016** is the starting for **Swift 3.0**? Well, I’m gonna try version that for now

[2017-11-17 15:01] patchthecode commented on #146
@hanishassim yea, im moving on from version 6.
The latest is version 7.0

Since it is a major version change, there are some changes (for the better).
My comment here might be helpful to you.
Shows you where to get 7.0 meterials -> https://github.com/patchthecode/JTAppleCalendar/issues/626#issuecomment-345079909

[2017-11-17 15:03] patchthecode commented on #628
This library is just like any regular UICollectionView. Therefore you'd do the same thing as you would for a collectionView.

in your `cellForItemAtIndexPath` function you have access to your cell.
Check the date to see if is the date that you want, and then configure your cell to suite.
Let me know if this resolves your issue. Closing this for now.

[2017-11-17 15:03] #628 closed

[2017-11-17 15:07] patchthecode commented on #627
This is the default behavior of a UICollectionView for iOS.

If you want you calendar to behave like what you have described, you need to set the following to `true`

[code]

[2017-11-17 15:11] patchthecode commented on #625
closing issue. Hope this helped.

[2017-11-17 15:11] #625 closed

[2017-11-17 15:11] patchthecode commented on #624
ok, i'll check it out over after work.

[2017-11-17 23:29] patchthecode commented on #624
replace this in your `Podfile` and do a `pod install`
[code]

Let me know if your bug is resolved

[2017-11-18 04:22] mgurreta opened #629 "scrollingMode nonStopToSection(withResistance: CGFloat) skipping section"
1. PLEASE STATE THE VERSION NUMBER you are using.
    7.1.4
2. Are you using the latest version of JTAppleCalendar?
    Yes
3. PROVIDE ENOUGH INFORMATION SO I CAN RECREATE THE PROBLEM.
    I have a vertical scrolling calendar setup with nonStopToSection as scrollingMode. The issue I see is that not always stop on the next section (month), sometimes it skips a month and I have to try multiple times

[2017-11-18 16:52] patchthecode commented on #629
Will check it out this afternoon.

[2017-11-18 18:53] shoujs commented on #627
Thank you!  Just awared of this.

[2017-11-18 18:53] #627 closed

[2017-11-19 19:38] kvw5288 opened #630 "Selecting a date doesn't pull the correct month"
I believe I am using version 7.0.6, and I have Swift 4.0.

The calendar defaults to show January, so when I slide the calendar to February, or any other month, and select a date, it always pulls in January as the month. For example, selecting February 15th on the calendar view, returns January 15 for the label I placed. I remember this was not an issue before, so I am wondering if this was somethi

[2017-11-19 20:11] patchthecode commented on #630
Did you recently update to a new version when this issue started happening?

Also note, that the latest version is `7.1.4`
Can you let me know what you have in your `Podfile` for JTAppleCalendar?

For faster reply, join chat here -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-11-19 20:22] kvw5288 commented on #630
I just noticed this issue happening. I haven't done anything to change the code for this calendar. Would upgrading to 7.1.4 potentially fix this? I am just not sure where in the code does it recognize that I am changing the month.

In my Podfile, I have: pod 'JTAppleCalendar', '~> 7.0'

[2017-11-19 20:35] patchthecode commented on #630
Did you create a new project and copy code or something?
It is not possible that it something changes with absolutely no code changes at all.

When you tap on the say `Feb 16th` you say that what is printed is `Jan 16th`?
Can you paste the code you have for printing the wrong date you are seeing?

[2017-11-19 20:42] kvw5288 commented on #630
I just watched your video and put the code into my project (about 2 months ago). And correct, if I tap on Feb 16th, what is printed is Jan 16.

Here is my didSelectDate function

 func calendar(_ calendar: JTAppleCalendarView, didSelectDate date: Date, cell: JTAppleCell?, cellState: CellState) {

        handleCellSelected(view: cell, cellState: cellState)
        handleCelltextColor(view: cell, c

[2017-11-19 21:39] mgurreta commented on #629
Thanks @patchthecode
[code]

[2017-11-20 05:56] patchthecode commented on #630
hmm.. that code looks a bit suspect.
why not just have this?
[code]

[2017-11-20 13:20] vasant-indpro commented on #56
@patchthecode

Hi I have an issue with calendar, if I change the Height of the calendar view dynamically. and try to scroll to previous or next month, It jumps to first month, which is set during configuring. How can we restrict this issue?

[2017-11-20 16:14] patchthecode commented on #56
@vasant-indpro can you open a new issue for this?

and in the new issue, let me know how you are changing the height.
Because this is expected. The second you change anything which will cause the cell's height to change, the layout of the calendar needs to be reset. Let me know in the new issue, and we'll find a solution.

[2017-11-21 00:28] DominicMDev commented on #419
Same issue, but I'm using vertical scroll. The date cells appear aligned to the left after the scroll, but pop back into place when manually scrolling. @patchthecode

[2017-11-21 01:55] RiuHDuo commented on #612
i find the problem.  i must use collectionview inherit JTAppleCalendar. don't use uiview

[2017-11-21 02:18] kvw5288 commented on #630
I have the extra code to format the output, and to display the calendar based on the press of a button.

Where in the code is it configured so that the datevalue in the didSelectDate knows which month view was selected? I think the issue might lie in that part.

[2017-11-21 02:29] patchthecode commented on #630
if you just print the `date` from the `didSelect` function without any formatting, is the date still incorrect?

[2017-11-21 09:08] vasant-indpro commented on #56
@patchthecode This issue is there in your demo project as well.

Steps as Below
- When I open calendar lands on current month(Ex: 21-Nov-2017)
- I scroll to next month(Any upcoming month) (Ex: Feb-2018)
- I tried to change Resize the calendar, I could resize
- Now if I try to scroll calendar, It lands on first month instead of staying there itself.

Can you get this fixed Please?

[2017-11-21 10:11] Custo commented on #419
Seems like the same problem comes up when using scrollToDate(date:). It does not consider the sectionInset, too.

I have a year-overview-view (displaying the 12 months). When I tap on one of the months I want to show the JTAppleCalender scrolled to the selected month.

Im using Swift 4.0 with JTAppleCalendar 7.1.3

[2017-11-21 15:27] patchthecode commented on #56
@vasant-indpro this is not an issue to be fixed.
This is what happens if you change the height of a UIcollectionView with cells that adjust height.

There are two ways to work with it:
1. You can reload with an anchor date so that it wont reset. I wont explain this one because i believe that number (2) below will work for you.
2. you can do what this guy did with JTApplecalendar to adjust height -

[2017-11-21 15:28] patchthecode commented on #419
Yes.. this issue is opened, but i never got around to looking at it.
My time is to caught up.
Let me take a look after work today ok.

[2017-11-21 21:02] PedroAnibarro1 commented on #61
Hey @patchthecode! So, the dateBelongsTo it's supposed to be .thisMonth only if it is inside my startDate/endDate boundaries right? It is giving me .thisMonth for every cell and not the ones I specified inside the startDate/endDate boudaries.

[2017-11-21 21:10] patchthecode commented on #61
@PedroAnibarro1

no.
here are all of them

Every date on a month has a description:
It either belongs to:
[code]

<img width="200" alt="calendararchitecture" src="https://cloud.githubusercontent.com/assets/2439146/18330595/651b8840-750e-11e6-8727-a148d7e1720f.png">

[2017-11-21 22:53] hennykat commented on #624
The bug seems to be resolved!  I have yet to see the crash happen again.
Will this change be in the 7.1.5 release?

[2017-11-21 23:21] patchthecode commented on #624
yes, it will be in version 7.1.5 once i release it.

[2017-11-22 05:37] nstandage opened #631 "Cannot load underlying module for 'JTAppleCalendar'"
Using 7.1.4

Every time I try and import JTAppleCalendar into a swift file I get this error:

Cannot load underlying module for 'JTAppleCalendar'

Everything installed fine, though I did get this error while installing it even though I have a platform specified:

[!] Automatically assigning platform ios with version 11.1 on target [App Name] because no platform was specified. Please specify a plat

[2017-11-22 07:09] patchthecode commented on #631
sounds like youre having some cocoapod problems.
The best guide would be on their cocoapod website.

it terms not not loading the module.
Can you take examples from the example code found here? -> https://github.com/patchthecode/CalendarTutorial

[2017-11-22 07:13] vasant-indpro commented on #56
@patchthecode This works fine for me. I appreciate your help. Thanks.

[2017-11-22 07:39] Frankenstein666 commented on #631
I had the same issue, restarting Xcode resolved the issue for me. give it a shot once.

[2017-11-22 09:24] nstandage commented on #631
I updated gem, restarted my computer, and it's all working now. Thanks.

[2017-11-22 11:48] CassianoMouraLeao opened #632 "Change de backgroundcolor of cell when other cell is selected"
Hey!
I am trying to change the backgroundcolor of cell when I select other. For example:
[code]

When I touch in cell at November 20 I need to change the backgroundcolor of cell at November 23, 24 and 25.

Anyone can help me?

[2017-11-22 15:44] #631 closed

[2017-11-22 15:52] patchthecode commented on #632
The best place to find all the functions that this library can do is in the `UserInteractionFunctions,swift` file.

There is a function there called
[code]

[2017-11-22 17:21] jdkauffman11 opened #633 "Trouble deselecting indates and outdates when calendar scrolls"
When I select the last day of a month, then scroll to the next month, the correct day is shown as selected. However when I select another day, the previous cell appears to remain selected. I have traced this issue to the calendar's didDeselectCell function where the cast `guard let validCell = cell as? DateCell else {return}` appears to fail. If I remove the guard, I can fall through the function

[2017-11-22 18:12] patchthecode commented on #633
did you implement the willDisplayCell function as shown here? #553

[2017-11-22 18:37] jdkauffman11 commented on #633
That did indeed solve my problem. I do remember reading that now that you linked it, but I guess I forgot. I appreciate your help and your amazing response time!

[2017-11-22 18:37] #633 closed

[2017-11-22 19:17] patchthecode commented on #633
cool. and thanks.

[2017-11-23 11:44] CassianoMouraLeao commented on #632
Maybe the method `public func cellStatus(at point: CGPoint) -> CellState? {` resolve it. But how I call this method in my UIViewController?

[2017-11-24 22:48] patchthecode commented on #632
Assuming issue is resolved. If not, then reply here.
Closing here.

[2017-11-24 22:48] #632 closed

[2017-11-25 11:16] LetSwiftDev opened #634 "Cell customization bug"
When I want to customize some cell my cells mixing how can I fix  it, my example project under below.
https://github.com/LetSwiftDev/CalendarBug

Also my question is
https://stackoverflow.com/questions/47485263/jtapplecalendar-custom-cell-bug-on-cellforitemat-date-in-swift-3-2

Also you can see bug in action
https://github.com/LetSwiftDev/CalendarBug/blob/master/calendarbug.gif

How can I fix it ?

[2017-11-25 15:08] patchthecode commented on #634
One thing i noticed is that you are not using Cocoapods or Carthage. Although this is not a problem,
i do not see the library forcing you to implement the `willDisplayCell` function like it normally would if you used carthage/cocoapods.

You need to implement that function -> #553

[2017-11-25 19:51] mgurreta commented on #629
Hello @patchthecode, no clue right??

[2017-11-25 20:40] patchthecode commented on #629
Are you available now? Join me here -> https://gitter.im/patchthecode/JTAppleCalendar

It could not reproduce it.

[2017-11-25 20:44] patchthecode commented on #629
Are you available now? Join me here -> https://gitter.im/patchthecode/JTAppleCalendar

It could not reproduce it.
Is it possible you can give me an empty sample project with the issue?
I tried with my sample project, but every thing looks ok.

[2017-11-25 21:01] mgurreta commented on #629
@patchthecode can't join right now. But I'll put together an empty project for you.
I'll do it this afternoon. In an hour or two

[2017-11-25 22:46] mgurreta commented on #629
@patchthecode here it is the sample app I created, the issue is reproducible there https://github.com/mgurreta/sample-JTAppleCalendar

[2017-11-26 00:48] nstandage opened #635 "prepare forSegue called before displayForSelectedCell"
Using 7.1.4

I'm not sure if there's a better place to ask this, but I can't find anywhere else to.
I'm trying to update selectedCellState in my mainVC as soon as displayForSelectedCell is called, so I can then pass it into prepare forSegue. The problem I'm having is that when a cell is selected, prepare forSegue is called before displayForSelectedCell, so the cellState in my secondaryVC gets set

[2017-11-26 01:23] nstandage commented on #635
I also tried setting selectedCellState to cellState in didSelecteDate, but that also is called after prepare forSegue.

[2017-11-26 04:47] patchthecode commented on #635
hi, this library does not have any function called `func displayForSelectedCell(cellState: CellState)`

Maybe you meant to  implement the `didSelect` function?

[2017-11-26 05:42] patchthecode commented on #634
So i had another look at your code.
I think the error is in your code logic.

In your GIF file, you can see that: -> your date label is always correct.

Since that your date label is always correct, we know that this is not a calendar bug.
`JTAppleCell` is literally an empty cell. I do not manipulate it in any way. The only person that does the manipulation of that cell is the coder.

I tried to f

[2017-11-26 06:47] nstandage commented on #635
Thanks for the help. I needed a manual segue, not one made through Interface Builder.

[2017-11-26 06:47] #635 closed

[2017-11-26 10:36] LetSwiftDev commented on #634
When I adding that code gives me

`Extra argument 'date' in call`

[2017-11-26 16:10] patchthecode commented on #634
You need to paste to me the code that you did. Else i will not know.
here's what, chatting here is too slow.
join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-11-26 19:01] patchthecode commented on #629
OK i think i was able to replicate it.
To replicate it I had to scroll, and then while it is still scrolling i had to tap and hold with my finger, then scroll and release. (Im not sure if this is the same steps you used to experience it).

I know where to fix it. But I dont have the time now. I'll take a look at it probably on Monday.
The function in the library that handles scrolling action is `s

[2017-11-27 01:13] PedroAnibarro1 opened #636 "Error while changing endDate dynamically – cellCacheSection does not exist"
Hi!

First congratulation and thanks for the awesome job with this library.

Using version 7.1.4

OK,

So, I have a datePicker to select the startDate and the endDate. When the user changes either one, I'm calling reloadData() on the calendar. When I modify the startDate the calendar works as expected.

Now, when I change the endDate and call reloadData()

developerError is called in this part of

[2017-11-27 02:32] patchthecode commented on #636
hmm. this should not be happening.
Let me try to replicate this on my sample app.
Will respond here in a bit.

[2017-11-27 05:50] patchthecode commented on #636
Hey I just tested this on the sample application I have, and i cannot reproduce you issue.
Do you have a zipped empty sample app that can demonstrate the issue?

[2017-11-27 13:42] PedroAnibarro1 commented on #636
Okay so I found my problem.

I had in layoutSubviews() this code

[code]

So I figured out that that may be the problem and I changed it to

[code]

And problem solved!

To give a little of context, I have this code in layoutSubviews() because I was having problems with awakeFromNib being called before one of my variables be initialized (the calendar is inside a table view cell).

Sorry for taking

[2017-11-27 13:42] #636 closed

[2017-11-27 15:36] patchthecode commented on #636
Its cool.
good its fixed.

[2017-11-27 16:57] mgurreta commented on #629
@patchthecode Nice. Yes, absolutely.. that is the way I repro it.

Nice that you already know where to start looking for this bug... Not sure if I will be able to provide a fix, I'm also without much time to spare.

Anyways, will see. Hopefully we can make it happen.

Thanks

[2017-11-27 18:39] cschraga opened #637 "Stop Automatic Scroll on Cell Update?"
Im using version 7.1.1

I'm trying to create an iPhone drag-and-drop scheduling application using your calendar. Idea being you pick up a cell from a uitable view and drag it onto your JTAppleCalendar.  Apple doesn't yet have drag-and-drop functionality for iPhone so I recreated it.  Anyway, everything is working smoothly EXCEPT every time I run reloadItems() on the JTAppleCalendarView it automati

[2017-11-28 00:31] patchthecode commented on #637
Good job man. Looks good.

when ever you reload the calendar, if you have made any changes which affects the layout of the cells, it will reset the calendar, because your cells will have to be recreated.

Things that causes calendar refresh are if any of the following changes:
1. StartDate or EndDate
2. minimumInteritemSpacing
3. minimumLineSpacing
4. sectionInset
5. sizeOfMonth
6. allowsDateCellS

[2017-11-28 19:31] LetSwiftDev commented on #634
Doesn't work ! This is bug look at question, someone added answer with your willDisplayCell codes but doesn't work..

You can see and test !

https://stackoverflow.com/questions/47485263/jtapplecalendar-custom-cell-bug-on-cellforitemat-date-in-swift-3-2

[2017-11-28 19:44] Hendies567 opened #638 "Crashing on part-deselection of a range of selected dates"
We have a solution of your Calendar which had deselection and selection of dates working correctly. Recently, we've found that we cannot deselect mid-way through a range of selected dates.

The process is this:
1) Select a range of dates within the calendar (first date and last date set etc)
2) Click a date within the range (which sets the new last date to the date before the clicked date)

Our co

[2017-11-28 21:31] cschraga commented on #637
Worked beautifully. Thanks!

[2017-11-28 23:28] #637 closed

[2017-11-29 13:03] lynx56 opened #639 "Days duplicates in week mode"
Hello and thank you for great library! When I testing my app I get a problem with duplicates dates, I create new project for recreate problem and it's happened again. When I scroll from January first week, I get first week twice.
https://monosnap.com/file/68dNlQN8O1SO1Hjb4Brk8oGme2mCnM

IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are us

[2017-11-29 16:26] patchthecode commented on #639
https://github.com/patchthecode/JTAppleCalendar/issues/581

closing this issue.
If this didnt help, then let me know

[2017-11-29 16:26] #639 closed

[2017-11-29 16:26] patchthecode commented on #638
checking this out.

[2017-11-29 16:29] patchthecode commented on #630
considering issue resolved.
It looks like developer code formatting incorrectly.

[2017-11-29 16:29] #630 closed

[2017-11-29 16:29] cschraga commented on #637
Sorry, I know this is closed but one more quick question... is there a way of resizing the calendar view or its superview without it reloading? I have my calendar in a resizable view and want to keep it static while resizing.

[2017-11-29 16:31] patchthecode commented on #637
you want to resize the calendarView... ok.
WHen you resize the calendar view, should the cells shrink to match the view?

[2017-11-29 16:33] patchthecode commented on #637
Also, open a new issue for this thanks.

[2017-11-29 16:35] Hendies567 commented on #638
Should've specified that in my post, we are currently using 7.1.4. The crash doesn't occur on 7.1.1

[2017-11-29 16:43] patchthecode commented on #638
Thank you. Will look into this afterwork today.

[2017-11-29 17:16] cschraga opened #640 "Resize Calendar View without redrawing/resetting/reloading data."
I'm the same project as previously closed issue [627](https://github.com/patchthecode/JTAppleCalendar/issues/637).

Is there a way I can resize the calendarView, without changing the size of any of the underlying collection view cells, without the entire calendarView redrawing and resetting?

I have my calendar view in a split view next to a task list and from time to time the user will want to sh

[2017-11-29 20:30] ruwaldl opened #641 "how can i get the current day for the calendar and the have that day selected"
how can i get the current day for the calendar and the have that day selected the first time the calendar loads

[2017-11-29 21:19] patchthecode commented on #641
[code]

[2017-11-29 21:19] #641 closed

[2017-11-29 21:20] patchthecode commented on #641
Let me know if you are still stuck

[2017-11-30 02:06] mgurreta commented on #629
Hello @patchthecode !! did you get a chance to look into this issue?

Thanks in advance

[2017-11-30 10:42] daviddetena opened #642 "App crashes when loading calendar"
Hello,

Thank you for your lib. I comment my issue:

Currently, I'm using v7.1.4 of your lib with Carthage, Xcode 9.1, deployment version v9.1. I'm not using storyboard. I work with xib instead, and I have the following:

- A pair for the SessionListViewController: SessionListViewController.swift and SessionListViewController.xib. This xib contains a CollectionView (class: JTAppleCalendarView) for

[2017-11-30 12:56] Hendies567 commented on #638
Sorry about that! Thanks for looking into it

[2017-11-30 13:01] daviddetena commented on #515
@electroqted @patchthecode  I have the very same issue. I'm trying to create my calendar in a .xib instead of storyboard. I also followed the tutorials, and adapted to v7 when needed, but it crashed just like yours did.

Could you please tell me which is the wrong line in the tutorial or instructions on how to fix it? I also opened an issue https://github.com/patchthecode/JTAppleCalendar/issues/64

[2017-11-30 17:29] patchthecode commented on #629
Sorry man. I got very tied up. You'll have an update on this after work today. deadlines.

[2017-11-30 17:30] mgurreta commented on #629
take it easy man!! :)

[2017-11-30 17:38] patchthecode commented on #638
can you paste the code for indexOfSelectedDate ?

[2017-11-30 17:48] Hendies567 commented on #638
Thanks for looking into it, I've stuck the code into the original above

[2017-11-30 17:50] patchthecode commented on #638
ok.
7.1.1 has a bug which was fixed in version 7.1.4
When ever you call the `calendarView.selectDates` function in 7.1.1 it supposed to call the `shouldDeselect` funciton, but it does not.

This has been corrected in version 7.1.4
Therefore when you call `calendarView.selectDates` in version 7.1.4, it calls correctly calls `shouldDeselect`. BUT in that function you again call `calendarView.selectD

[2017-11-30 17:55] Hendies567 commented on #638
Fantastic! It's done the job 👍 thank you!

[2017-11-30 18:09] patchthecode commented on #638
awesome. closing. I got another important scroll bug to fix.
Have a good one. 🍺

[2017-11-30 18:09] #638 closed

[2017-11-30 18:24] daviddetena commented on #642
There were problems about the outlet connection between the day label and the class managing the .xib. Xcode got crazy and did not notice that there were connected.

Thank you to a member from @patchthecode in gitter I could fix that issue.

[2017-11-30 18:24] #642 closed

[2017-11-30 18:37] patchthecode commented on #640
Ok, will check it out some more over the weekend.
I got a busy recently.

[2017-11-30 21:00] ruwaldl opened #643 "when i scroll in my calendar days start missing why is this"
Hi see below  but when my calendar loads first time its 100% but as i scroll days keep going missing why is this ?

![screen shot 2017-11-30 at 22 59 18](https://user-images.githubusercontent.com/18304249/33454680-3b753b50-d622-11e7-8d84-5b69fa48f793.png)
![screen shot 2017-11-30 at 22 59 31](https://user-images.githubusercontent.com/18304249/33454684-3eca44bc-d622-11e7-8515-98e8325a488e.png)
![sc

[2017-11-30 23:47] patchthecode commented on #643
maybe your calendar is high?
¯\_(ツ)_/¯

[2017-11-30 23:48] patchthecode commented on #643
haha.
just kidding.
Can you shoe me your code for your `cellForItem` function ?

[2017-12-01 10:11] HassanSE opened #644 "Dates are randomly placed when using scrollToDate() method"
I'm using version 7.1.4 and having this issue that upon using `scrollToDate()` method to scroll to current date, the previous/next months dates are randomly placed. To get a better idea, here's how it looks:

![simulator screen shot - iphone 8 - 2017-12-01 at 15 06 23](https://user-images.githubusercontent.com/14030986/33478000-9e910b1a-d6a9-11e7-89c4-d07e96ee0879.png)

You can clearly see there's

[2017-12-01 14:58] patchthecode commented on #644
A little more information please.

Do you have this code in you view did load?
Does it happen only of first load? or does this happen every time this function is called?

[2017-12-01 15:19] patchthecode commented on #643
I believe that you are not resetting your cells in that function.
Keep in mind the calendar is a UICOllectionView subclass.
Your cells are being re-used. Just like anyother UICollectionView / UITableView in swift, you have to reset your cells.

closing this issue. let me know if this resolved it.

[2017-12-01 15:19] #643 closed

[2017-12-01 18:11] HassanSE commented on #644
Well, I've following your tutorial and most of the calendar is done via IB. It happens only on first load. Once I scroll or tap calendar, it adjusts and everything gets back to correct position. Here's the code:

    override func viewDidLoad() {
        super.viewDidLoad()
        setupCalendar()
    }

    func setupCalendar() {
        calendarView.minimumLineSpacing = 0
        calendarView.mi

[2017-12-01 21:53] ruwaldl commented on #643
func calendar(_ calendar: JTAppleCalendarView, cellForItemAt date: Date, cellState: CellState , indexPath: IndexPath) -> JTAppleCell {
        let cell = calendar.dequeueReusableJTAppleCell(withReuseIdentifier: "CalendarCell", for: indexPath) as! CustomCalendarCell
        cell.dateLabel.text = cellState.text
       handleCellSelected(view: cell, cellSate: cellState)
       handleCellColor(view:ce

[2017-12-02 00:15] patchthecode commented on #643
what's in these 2 functions?
[code]

Here is the sample code of the examples by the way ->
https://github.com/patchthecode/CalendarTutorial

[2017-12-02 07:14] ruwaldl commented on #643
func handleCellColor(view:JTAppleCell?,cellSate:CellState)
    {

        guard let validCell = view as? CustomCalendarCell else {return}

        if cellSate.isSelected{
          validCell.dateLabel.textColor = UIColor.blue
        }
        else {
            if(cellSate.dateBelongsTo == .thisMonth){
                validCell.dateLabel.textColor = UIColor.black
            }else {

[2017-12-02 07:17] ruwaldl commented on #643
do i just do a simple reload of my collection view to rest the collection view ?  as you mentioned cant see that in code you provided . did some digging and found this method
// For instance, it is not enough to only have the first if clause:
if date == someDate {
   configureCellViewInThisWay()
}
// You may also need the else clause to fully reset the cell because cells are being reused.
else {

[2017-12-02 07:32] patchthecode commented on #643
[code]

Where do you have `validCell.dateLabel.isHidden = false` ?

[2017-12-02 07:54] ruwaldl commented on #643
i dont have a false . should it be in the else
like this
if cellSate.isSelected{
      validCell.dateLabel.textColor = UIColor.blue
    }
    else {
        if(cellSate.dateBelongsTo == .thisMonth){
            validCell.dateLabel.textColor = UIColor.black
        }else {
            validCell.dateLabel.isHidden = true

        }
else{
    validCell.dateLabel.isHidden = false
}

[2017-12-02 08:36] ruwaldl commented on #643
that false looked like it solved it thanks
any idea how i would go about making past dates in the calendar not selectable but future and current date selectable .
sorry about all the question still new

[2017-12-02 17:15] patchthecode commented on #629
ok checking this out today

[2017-12-04 02:08] mgurreta commented on #629
nice! any luck? @patchthecode

[2017-12-04 02:51] patchthecode commented on #629
Im in the process on re-coding the scrolling.
Its a stupid bug, based on one bad logic.
Rather than just putting in a patch, i decided to recode that function.

[2017-12-04 02:54] mgurreta commented on #629
hahaha you're awesome man! let me know when you think it is ready and I can give it a try...

[2017-12-04 02:58] patchthecode commented on #629
yea, i'll keep you posted.

[2017-12-04 04:36] patchthecode commented on #629
@mgurreta my code is very incomplete.
but can you let me know if master branch behaves like how you want?

[2017-12-04 04:40] mgurreta commented on #629
@patchthecode on it... give me 30mins to compile master and run some test

[2017-12-04 04:54] patchthecode commented on #629
I'm working on another screen, so if you need to message quickly, then send here so that i get a notification. -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-12-04 04:57] patchthecode commented on #640
ok finally have a chance to get a good look at the question.
so when you shrink the calendar's frame, I understand that you do not want the calendar's cells to resize.

So can you explain how do you want the calendar to respond?
When the calendar's frame shrinks, you want the cells width/height to stay the same? This is the part i am unclear on.

[2017-12-04 05:01] patchthecode commented on #644
hmm.. my sample app works perfectly. I was unable to re-create your issue.

Your case would normally happen if you build your calendar via code (and not interface builder).
It happens when developers forget to set the `calendarView.scrollingMode`.
But in your case, you said you used interface builder. Any chance you got a sample app i can try?
You can zip and email it to patchthecode@gmail.com

[2017-12-04 05:05] mgurreta commented on #629
@patchthecode ok... so I build commit `4d5d9eb6bca96e9dc029171882060e8be946a373` using `carthage`,
I'm seeing debug print statements so we are good...
[code]

So... I'm not able to repro de reported bag anymore... but the scroll is not snapping to a section when I tap and release while scrolling. Instead, it completely stops the scroll leaving the calendar, sometimes, in the middle of 2 months. Wh

[2017-12-04 13:41] CassianoMouraLeao opened #645 "Loading the func calendar(_ calendar: JTAppleCalendarView, cellForItemAt date: Date, cellState: CellState, indexPath: IndexPath) -> JTAppleCell"
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'could not dequeue a view of kind: UICollectionElementKindSectionHeader with identifier CustomCell - must register a nib or a class for the identifier or connect a prototype cell in a storyboard'

I am using XIB to create the JTAppleCalendar.  Can anyone help me?

[2017-12-04 14:58] cschraga commented on #640
I'll show screen shots it might be easier.

So I have the JTAppleCalendar in a container view, and I use it to schedule assignments for an education app by dragging and dropping from a tableview.  Problem is that when i resize the container view it always redraws the calendar which is an imperfect experience.

All I want to do is NOT redraw the calendar when i resize the container view.  This woul

[2017-12-04 16:34] patchthecode commented on #645
What command did you use to register the header?

something like this?
[code]

[2017-12-04 16:54] dastanbb opened #646 "Wrong Week day"
Hi!
I'm using latest version and latest example app to recreate a problem. Please download example app and set next settings an in image below. You might notice that current date (December 4 2017 is in wrong place depending on week day). It should be placed below Monday. Please help.
![simulator screen shot - iphone 8 - 2017-12-04 at 08 47 42](https://user-images.githubusercontent.com/32884227/335

[2017-12-04 17:02] patchthecode commented on #646
setting it to off means it will not be generated. In which case you will need to change the label for the header because the header you see in the example app was manually created by my self (it is not managed by the library).

It looks like you DO want the dates to be generated, but you just want them to be invisible. In which case you click on this button ->

<img width="635" alt="screen shot 20

[2017-12-04 17:04] patchthecode commented on #646
Also, the video list will help you greatly -> [Here](https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q)

[2017-12-04 17:04] #646 closed

[2017-12-04 17:09] patchthecode commented on #640
hmm. a long time ago, i propably thought about this feature.

`calendarView.allowsDateCellStretching = false`

but since no one asked for it, I do not think i finished implementing it.
I can take a look to try. But this wont be completed soon as I am on other projects for a short while.

What you can do as a workaround is something like what this guy did with his JTAppleCalendar -> https://github.

[2017-12-04 17:13] dastanbb commented on #646
Thank you for the quick response! I want to implement one-row calendar to scroll horizontally week by week (paging collection view). So we have 7 weekday labels on top and navigate a user to current date. Hope this is clear.

[2017-12-04 17:34] patchthecode commented on #646
Does this help ->  https://github.com/patchthecode/JTAppleCalendar/issues/581

[2017-12-04 17:38] dastanbb commented on #646
Yeah, It did. I was using incorrect **generateInDates**. Thank you, man! I really apreciate your work!

[2017-12-04 17:43] patchthecode commented on #646
cool. 🍻

[2017-12-04 18:26] InnaChystiakova opened #647 "scrollToDate causes strange side offset"
In my viewDidLoad() I have such a line

`calendarView.scrollToDate(Date(), animateScroll: false)
`

When I load the calendar, I have UI bug as follows (screen below).
After starting to scroll the bug disappears.
I'm using the latest version.
Please, help me to fix it.

<img width="598" alt="2017-12-04 20 21 50" src="https://user-images.githubusercontent.com/9316391/33568958-c7b91e0e-d930-11e7-9c05

[2017-12-04 18:48] cschraga commented on #640
Ill try that. Itll take some hit test rejiggering but it might work. I'll let you know how it turns out.

[2017-12-04 18:48] #640 closed

[2017-12-04 19:41] patchthecode commented on #647
Hi, when saying that there is a bug, you have to also let me know what the bug is.
Because what might be a bug to you, mught be just fine to me.
Your image looks looks perfect. Where is the bug?

[2017-12-05 02:53] mgurreta commented on #629
@patchthecode I was thinking and actually avoiding the snapping when the user taps the screen it is cool... The thing is that with this scroll mode if you DON'T tap the screen, then when the inertia completely decelerate the frame finally snap to a section (month).. so we should make this behaviour consistent. Snap in all cases or avoid sapping at all.

.... from API perspective, like we discussed

[2017-12-05 03:21] patchthecode commented on #640
awesome. cool

[2017-12-05 03:27] patchthecode commented on #629
After thinking about it
for consistency, i'll make it snap like it did before.
You're right when you say it may become too complex with `nonStopSnapToSection`.

The library has been flexible enough to meet many people's needs upp till this point, so I think the behavoir should stay the same until someone has some use-case for another mode.

Thanks for the input dude.
Will get to work on this is a

[2017-12-05 03:46] mgurreta commented on #629
No man... Thanks youuu!!

Whatever your understanding of `nonStopToSection` dictates will be ok. The no snaping option was good, I was using the App with the latest code from master and feels good!!

Your call! :)

please ping me if you need assistance, I'll try to connect to gitter.

[2017-12-05 05:42] aizatomar opened #648 "Namespace collision"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.4
3. PROVIDE ENOUGH INFORMATION SO I CAN RECREATE THE PROBLEM.

Version using is 7.1.4.

Unable to use library because there is a namespace collision. "CellState" public struct is clashing with a

[2017-12-05 07:38] patchthecode commented on #634
closing as issue is resolved on stack overflow.

[2017-12-05 07:38] #634 closed

[2017-12-05 07:44] patchthecode commented on #648
hmm. can you use the fully qualified name to avoid the collision?
`JTAppleCalendar.CellState`

[2017-12-05 13:01] CassianoMouraLeao commented on #645
Yes, I am using this in my viewDidLoad().

[2017-12-05 15:10] cschraga commented on #640
it worked. Just had to rejigger some hit tests and constraints. Thanks.

[2017-12-05 15:35] aizatomar commented on #648
Is it something like this?
[code]

If so, I am getting this error
[code]

[2017-12-05 17:31] patchthecode commented on #648
i said `JTAppleCalendar.CellState`
not
`JTAppleCalendarView.CellState`

Let me know if it works

[2017-12-05 17:35] patchthecode commented on #645
then the problem is else where. Its telling you that you do not have a your header dequeued.
IS your calendarview of type `JTAppleCalendarView`? did you correctly drag a UICOllectionView to your storyboard?

Its acutally faster if you just give me your zipped project (since i assume its still small?). I'll  be able to tell you the error right away. you can send to patechthecode@gmail.com

[2017-12-05 17:46] aizatomar commented on #648
Ah sorry about that. Was using the autocomplete and there wasn't any autocomplete for `JTAppleCalendar`.

However wow! `JTAppleCalendar.CellState` works! I'll use this then. Thanks!

[2017-12-05 18:44] patchthecode commented on #648
awesome.
Closing this issue now.

[2017-12-05 18:44] #648 closed

[2017-12-05 22:56] fgrios opened #649 "Unrecognized Selector error: collectionView:numberOfItemsInSection"
Using build 7.1.4

Simply set up like in the tutorial and I get the above error when I try to display the view. Any ideas?

[2017-12-06 03:43] patchthecode commented on #649
what command are oy running to get this error?
In which file is the rror happening?
Are you creating your app with code/interface builder?

I'll need more information to help you.

[2017-12-06 11:55] CassianoMouraLeao commented on #645
The Application is not small. The JTAppleCalendar just works on storyboard? Or it works with XIB? Because I am using XIB.

[2017-12-06 12:38] pradeepispv opened #650 "How to add event every year like birthday?"
Is there any way to add event for every year in short like birthdays and national holidays?

[2017-12-06 14:43] NSMyself commented on #650
You just need to come up with the cell layout you want and have an underlying model that contains the desired event dates. Then, in the cellForItemAt method, just customize the cell if the date matches the one of your event.

[2017-12-06 15:14] NSMyself opened #651 "didDeselectDate not called due to incorrect startOfMonth / endOfMonth caches"
1. I'm using version 7.1.4
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.4

Basically, I've got a cell that has a round layer (shown in orange in the GIF) that indicates if the corresponding day is selected or not and I noticed that when I picked two dates from the past month the `didSelectedDate` method wasn't called at all.

![agbmoia](https://user-image

[2017-12-06 15:38] patchthecode commented on #651
Have you correctly implemented the `willDisplayCell` as shown here? #553

[2017-12-06 15:41] patchthecode commented on #645
It works in both places.
Both XIB and Story Boards.
Just to be clear, have you followed the tutorials?
Getting the tutorials to work using an XIB is almost the same as using a storyboard.

Also, did you drag a UICollectionView unto the XIB file?
This chat is too slow; you can chat here -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-12-06 15:42] patchthecode commented on #644
closing this until user resonds.

[2017-12-06 15:42] #644 closed

[2017-12-06 15:47] patchthecode commented on #650
**NSMySelf** is correct. If you follow the video tutorial [HERE](https://www.youtube.com/watch?v=CQNotydm58s), it will show you an example of how events are handled.

[2017-12-06 15:48] #650 closed

[2017-12-06 15:51] NSMyself commented on #651
Nope, I had not. Thanks for the info but I'm afraid the issue is still occurring over here.

Here's my implementation:

[code]

[2017-12-06 15:56] patchthecode commented on #651
Ok testing this now.

[2017-12-06 15:57] patchthecode commented on #651
Whats the start and end dates for you calendar?
Do you have vertical/horizontal?
Do you have singleSelect/ multiSelect?

[2017-12-06 17:35] fgrios commented on #649
Thank you for your quick reply. I have figured out the listed problem (the Module for the the JTAppleCalendarView in IB was not being set properly.)

Now I have another interesting problem. Although I have set the calendar data source and delegate to my class in IB, and have set the extensions properly in my class, neither the ConfigureCalendar call or the cellForItemAtDate call are ever recognize

[2017-12-06 18:21] fgrios commented on #649
OK I have figured out what the problem was. I was setting datasource and delegate to my class when I guess I needed to set calendarDataSource and calendarDelegate to my class.

[2017-12-06 18:34] patchthecode commented on #649
Have you taken a look at all the tutorial videos? [HERE](https://www.youtube.com/watch?v=CQNotydm58s)

[2017-12-07 07:16] dilip-indpro commented on #298
@numen31337 : Did u able to achieve this month view to week view and vice versa with the animation shown in the above video?Ijust want to knw if thts possible with this library

[2017-12-07 08:51] numen31337 commented on #298
@dilip-i I'm sorry but I moved everything to the FSCalendar a long time ago, as it covers my needs a little beet more.

[2017-12-08 07:57] pradeepispv opened #652 "How to add recurring Events?"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.4
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

[2017-12-08 08:02] patchthecode commented on #652
I dont know what you mean by recurring events.
But if you want to add events, you can follow the example on this video -> https://www.youtube.com/watch?v=CQNotydm58s

[2017-12-08 08:02] #652 closed

[2017-12-08 10:24] mayqiyue opened #653 "Delegate functions not called"
Environments:
Xcode 9.2
swift 4
JTAppleCalendar 7.1.4 from CocoaPods

codes:
[code]
But the delegate methods:
[code]
not called.

[2017-12-08 15:50] patchthecode commented on #653
do you mean all 3 functions are not called? or only the
[code]
 is not called?

Also what are you trying to accomplish which led you to the conclosion that it is not called? I can help better if i know the context of what you are trying to accomplish.

[2017-12-08 15:52] patchthecode commented on #649
assuming resplved. closing issue.
If you have any further question, just ask.

[2017-12-08 15:52] #649 closed

[2017-12-09 15:51] mayqiyue commented on #653
Thanks for the reply.
All the 3 functions are not called.
Because I set break points on all the delegate functions but only the one:

    func calendar(_ calendar: JTAppleCalendarView, cellForItemAt date: Date, cellState: CellState, indexPath: IndexPath) -> JTAppleCell

got called

[2017-12-10 22:59] patchthecode commented on #653
@mayqiyue can you zip a sample project with the issue and send to patchthecode@gmail.com?

[2017-12-11 04:11] mayqiyue commented on #653
I sent you a email just now.

[2017-12-11 07:01] patchthecode commented on #653
Ok. i took a look at your code.
Your functions are not correct. The videos here will help you a lot on how to use the library -> [Here is the the list of all videos](https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q)

To fix your bug you need to have these functions
[code]

This will fix your issue.
Let me know if you have anyother questions.

[2017-12-11 07:01] #653 closed

[2017-12-11 07:51] patchthecode commented on #651
found the reason why.
Will work on a fix.

[2017-12-11 08:17] mayqiyue commented on #653
Nice，It works. But the will display function is still not  got called.

    func calendar(_ calendar: JTAppleCalendarView, willDisplay cell: JTAppleCell, forItemAt date: Date, cellState: CellState, indexPath: IndexPath) {
        // This func not work.
    }

[2017-12-11 08:31] pradeepispv commented on #652
I was asking for a event to be added for all the years at one shot.With out any lag in the performance.

Lets take birthday ,it will be a event for every year.If i give dd-mm i want it to add for all the years.

Recurring events is general term in apple calendar.

[2017-12-11 11:07] dilip-i commented on #298
@numen31337 Thanks for the info.I needed a exact animation thing as in 'FSCalendar'.But unfortunately it doesnot give controls over the cell design.Can you suggest if you have other calendars with the same animation(week->month or vice versa)

[2017-12-11 11:13] numen31337 commented on #298
@dilip-i My design is completely different, you can customize your design with a custom cell, check DIY Example https://github.com/WenchaoD/FSCalendar/blob/master/Example-Swift/FSCalendarSwiftExample/DIYCalendarCell.swift

[2017-12-11 16:32] patchthecode commented on #653
it does get called. But only at special times.
Do not leave that function empty. It is important.
Details on how to implement this function is located here -> #553

[2017-12-11 16:40] patchthecode commented on #652
OK. This calendar does not have an events feature built-in. I left it out so that the developer can have more control over it. All this library provides is a template for the developer to create any calendar design he wants (so long as it is a standard calendar).

Things like animation, events etc do not exist on this library. By leaving these things out, it makes this calendar 100% flexible. Simi

[2017-12-11 16:49] patchthecode commented on #298
@dilip-i animations like this are custom. And can be different to every developer.
Animations like this do not depend on this library. They are just regular view animations.
Therefore if you can do this animation for a regular UIView, then you can just need to replace the UIView, with a JTAppleCalendarView.

One of the easiest ways to do what ever crazy animation you want is by using view snap sho

[2017-12-12 10:02] dilip-i commented on #298
@numen31337 @patchthecode : Thanks for your efforts, will try out this:)

[2017-12-12 19:41] fgrios opened #654 "calendar rotation issues on iPhone X"
Using version 7.1.4

I have set up my calendar and it works great on every iPhone and iPad model that supports iOS 9+. The only issue I am having is on the iPhone X using iOS 11.2

Upon first display, the calendar shows up exactly as designed:

![img_0138](https://user-images.githubusercontent.com/6527674/33904541-ad8c3fec-df30-11e7-8545-7fcd40e286c8.PNG)

When I rotate into landscape the calendar

[2017-12-12 19:47] CassianoMouraLeao opened #655 "I have problem with the func cellForItemAt"
Hi.

I am using this code to change the background color of the current day.

[code]

for the first month it works, but when I scroll my calendar for other months, I can see other cells with background color equal to red and the application just pass for this line ```cell.backgroundColor = .red``` once.

Anyone can help me?

[2017-12-12 22:02] patchthecode commented on #655
Remember, you are using Apple's UICollectionView.
Cells are reused.
Therefore you have to remember to reset your cells.
[code]

Therefore if other cells resue that cell, they will all eventually become red.
Closing issue. But let me know if you are still stuck

[2017-12-12 22:02] #655 closed

[2017-12-12 22:09] patchthecode commented on #654
hmm. Have you done any code for your rotation?
Paste the code you corrently do when you rotate. Thanks.

[2017-12-12 22:34] fgrios commented on #654
I have no rotation code. it is all handled by constraints in IB.

[2017-12-13 09:00] dingckc opened #656 "How to display the event dots on the calendar by using my data in the Firebase?"
Hello, thank you for this fantastic calendar.
I'm now using version 7.1.4 and I'm a newbie of the Swift.

I've followed the tutorial you provided on YouTube to build my own. And, I created a Firebase to store the dates and events which are created by users.

In the tutorial, I saw that the data were inserted by hardcode.
![image](https://user-images.githubusercontent.com/34504255/33929294-f000d006

[2017-12-13 15:23] CassianoMouraLeao commented on #655
Perfect. But it doesn't work with a for. For example:
[code]

In this code I can see just cells with ```cell.myImage.isHidden = true``` but when I debug my code pass at line ```cell.myImage.isHidden = false``` twice but I cannot see the image in application.

Can anyone help me?

[2017-12-13 15:44] CassianoMouraLeao opened #657 "Problems changing the background of cell at method cellForItemAt"
[code]

In this code I can see just cells with ```cell.myImage.isHidden = true``` but when I debug my code pass at line ```cell.myImage.isHidden = false``` twice but I cannot see the image in application.

Can anyone help me? I think that is the same idea of **"Cells are reused."** but I don't know how I  can resolve.

[2017-12-13 17:23] patchthecode commented on #657
hmm. again, you are using UICOllectionViews/UITableviews.
There is no need to loop through your datasource to set the cells.
The function
[code]
will be called for every cell.

[code]

let me know if this works

[2017-12-13 17:23] #657 closed

[2017-12-13 17:33] patchthecode commented on #656
In the video, i entered the information hardcoded to "simulate" my database. The reason why I did that is becase it gives you a simple example for how to do it for your databases. I did not show a real data base example becase you develpoers will need to know this yourself. For you, your database might be firebase, or another developer, its a custom server, and for another, its MySQL, SQlite, Core

[2017-12-13 19:29] CassianoMouraLeao commented on #657
It doesn't work yet, because my array has 16 values and the indexPath work between 0 to 16 that is 17 and now I have this error:  **_Fatal error: Index out of range_**. Can I change the value of indexPath? I need to change the 0 to 16 for 1 to 16.

[2017-12-13 21:14] patchthecode commented on #657
ok. i just gave an example.
How it should be is like how i had in the example video.
The best structure to store events in is a Dictionary of the form `[String : YourCustomEventObject]`

If you need more information you can chat here -> https://gitter.im/patchthecode/JTAppleCalendar
As it is faster than typing in the chat box.

[2017-12-14 01:43] #656 closed

[2017-12-14 06:28] mgurreta commented on #629
Hey @patchthecode long time no talk!! How are you doing? Hopefully everything is going well!

I pinging you to see if you had any chance to look into this bug any further?

Thanks man!

[2017-12-14 10:21] danishiq opened #658 "Installed and having so many errors using latest version of JTAppleCalendar 7.1.4.."
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.4
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

[2017-12-14 12:33] hemangshah commented on #658
@danishiq Please provide the answer to above questions. It's really important for the developer of this library to understand your issue.

[2017-12-14 15:35] patchthecode commented on #658
@danishiq yes, please make your question developer friendly.
Saying that you have many errors doesnt tell us anything.

[2017-12-15 09:36] CeceXX opened #659 "Version 6.0 ---> 7.14 errors"
Hey, I'm using the latest version of JTAppleCalendar and the [CalendarPopUp](https://github.com/orazz/CalendarPopUp) framework, which is based on your library (though version 6.0, not the latest). Any hints on how to fix these issues?

<img width="975" alt="screen shot 2017-12-15 at 10 31 58 am 1" src="https://user-images.githubusercontent.com/10504710/34035902-caa0f762-e183-11e7-8d51-808ed707b158

[2017-12-15 12:34] patchthecode commented on #659
Yea, the guy who wrote calendar popup, I do not think he updates his library as regularly as I do.
I'd say the best bet is to just use this one as it is easy to create a popup calendar.

Calendarpopup is still using version 6 of JTApplecalendar which is being fazed out.
There is a huge change in version 7 (the final major change).
The tutorials to set every thing up can be found [HERE](https://www

[2017-12-15 12:37] patchthecode commented on #629
I know its bad man. But its going slowly. Trying to make a hard deadline for monday coming. Thats why im answering simple questions for now.
What I think i'll do is just make a patch on master branch for you only (instead of doing to major fix for all). That way you can continue with your work. After i am free-er, i can come back to it and clean up the code for everyone else.

[2017-12-15 13:40] CeceXX commented on #659
Thank you ~ I guess I'll need to convert the code of Calendar PopUp manually to the latest version of JTAppleCalendar. Honestly, I don't think I have enough energy to create a new calendar, although I know it's pretty simple with your framework.

[2017-12-15 13:40] #659 closed

[2017-12-15 17:09] patchthecode commented on #659
Yea. with version you can create a calendar in 5 mins if you follow the vids.
Best of luck man.

[2017-12-15 17:10] patchthecode commented on #658
closing this issue until user provides more information.

but i'll leave you with this link in case you are experiencing the same issue as this guy -> https://github.com/patchthecode/JTAppleCalendar/issues/659#issuecomment-352059382

[2017-12-15 17:10] #658 closed

[2017-12-15 17:11] patchthecode commented on #654
It is behaving normall on my sample application.
Is it possible you can strip you app into a sample app, then send me the zip file with the bug?

[2017-12-15 17:23] mgurreta commented on #629
Hey man! I completely understand and you don't need to worry about.

I'm already working on the master branch, so you don't really need to do any patch, what it's already on the master is enough for now and don't block me. We can talk again next week.

Good luck with your project! hopefully, you can make it for Monday! 🏅

[2017-12-17 00:52] diogoAntunes opened #660 "didSelectDate not called ever"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. 7.1.4
2. yes
3.

I have this weird issue where the didSelectDate is not called, but the willDisplay is also not called. The calendar does show properly tough. I also set the delegate and datasource correctly.

[code]

[2017-12-17 03:48] patchthecode commented on #660
I see that you have a return statement in that function if the cell is nil. Can you verify that the possibly the function is returning on that line of code?
[code]

Also, will display cell is called only on special instances.
Can you let me know what you are trying to do with that function?

[2017-12-17 09:59] diogoAntunes commented on #660
Hey, thank you for such a quick reply :) I implemented willDisplayCell accordingly to #553.

didSelectDate is not called at all, it's not getting called. The only thing I was trying to do is show an overlay view on the cell once the date is tapped. I tough the view was not letting the touches pass, so I even removed the `selectedView` but that didn't help either. I'm doing all of this in code, no

[2017-12-17 13:17] orazz commented on #659
[CalendarPopUp upgraded to latest version of JTAppleCalendar](https://github.com/orazz/CalendarPopUp)

[2017-12-17 15:42] patchthecode commented on #659
@orazz awesome man :)

[2017-12-17 15:45] CeceXX commented on #659
Orazz & Jay you guys da best, thanks so much!

[2017-12-17 15:50] patchthecode commented on #660
@diogoAntunes no. this lib works with both storyboards and code.

one thing though, can you remove this? Just a wild guess.
[code]

There should be no problems with your code.
If possible can you send a sample app that replicates this problem? Just an empty sample app with no company code in it.

[2017-12-17 16:20] diogoAntunes commented on #660
@patchthecode Thank you so much for all your help, specially on a Sunday :) while I was making the sample project for you, I couldn't get it *not to work* so I turned to my project and eventually found the issue, I was presenting the calendar modally and I added a tap gesture to view of the ViewController so it was dismissing on tap's outside the calendar view, the problem with this was that the c

[2017-12-17 16:20] #660 closed

[2017-12-17 16:50] patchthecode commented on #660
Awesome man. Glad you figured it out.
Have a good one 🍻

[2017-12-18 04:07] yunikechristina commented on #553
@patchthecode sorry, I'm not really understand about what is 'testCalendar' in your source code? thank you

[2017-12-18 04:14] patchthecode commented on #553
@yunikechristina testCalendar is just my sample code. You can remove it and put what every shared code you need.

[2017-12-18 06:48] Rumy-hasan opened #661 "how to scroll through every date??"
Hi,
It's a nice library but I may miss something so asking here.My calendar configuration is here.

[code]
where
[code]
so in my
[code]
I think it may call 730 time with every date.My target is to fetch some data from database according to each date and show them as a bar chart where my presented date is above and related bar is below.the picture is

<img width="300" alt="n3hqywcwjlert37yfjl72onpi

[2017-12-18 07:10] patchthecode commented on #661
cellForIndexPath is not the place to fetch all the dates all at once.
cellForIndexPath is an Apple Function that will only run for the cells that are on the screen
if you want to load all your dates from your DataSource, you have to

1. Load them out side the cellForIndexPath function
2. Save them in an Dictionary or Array

then,
inside the cellForIndexPath function you will do fetch the data from

[2017-12-18 17:55] MichaelSun3566 opened #662 "i saw the issues 553 but still don't know how to use will display"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.4
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

xcode 9.2 swift 4
i am using 7.1.4 jtapplecalendar
i am the beginner user for swift & xcode
and i want to make the app that have a

[2017-12-18 18:57] patchthecode commented on #662
Your function should look like this.
You should not `dequeue` inside the `willDisplayCell` function.

[code]

[2017-12-18 21:50] TheF1x3r opened #663 "adding a external calendar to show events"
Hi there I was wondering if you could tell me how I could add a external calendar for this calendar to show the events of an online calendar

Thanks
Adam Weston

[2017-12-19 01:36] patchthecode commented on #663
Can you explain what you need programatically? Your question is not programmer friendly. I do not understand what you need.

[2017-12-19 01:36] patchthecode commented on #662
closing issue.
Let me know if it works for you.

[2017-12-19 01:36] #662 closed

[2017-12-19 04:34] TheF1x3r opened #664 "Calendar iOS Swift"
Hi there I was wondering if you could tell me how to connect another calendar by the url to the JTAPPLECAlendar I am very interested to turn this calendar into a event calendar by the users to control the events through a website instead

Thanks
Adam Weston

[2017-12-19 04:40] TheF1x3r commented on #663
basically I made a your calendar through your guide but I was wondering if there was a way to connect a external calendar to this calendar to basically control it like google calendar or a event calendar so im looking fo the code to add to the app that will allow me to connect a online web calendar to show the events in the JTApplecalendar

[2017-12-19 04:42] MichaelSun3566 commented on #662
I tried and still have signal SIGABRT
I don't know why.........

[2017-12-19 05:24] patchthecode commented on #662
@MichaelSun3566 can you send me the project as a zip file?
patchthecode@mail.com

[2017-12-19 05:28] patchthecode commented on #663
So basically you just want to attach web-events to the calendar?
This is easy to do. Have you looked at the video example I did for events yet?
https://www.youtube.com/watch?v=CQNotydm58s

[2017-12-19 05:39] TheF1x3r commented on #663
I did look at the video but does not say how to link like a google calendar or a other calendar to this calendar only dates in the code so my question is how would I link my google calendar or another web calendar to this calendar

[2017-12-19 05:47] patchthecode commented on #663
Youre right. It gave an example of how to get data from a server.
It is not possible for me to give exact examples because everybody wants something different.
You want google calendar, someone else wants firebase, another wants core data etc etc etc.

It is up to you the developer to get the data from whatever server you need.
I can only provide an example of how to transform that data into somet

[2017-12-19 06:11] TheF1x3r commented on #663
could you tell me where to put the data from the server because the servers give out links or things like that and in your video its not really clear on how to do that

[2017-12-19 06:22] TheF1x3r commented on #663
could you tell me how this guy made the scroll view down below and added his info from a server please
<img width="701" alt="screen shot 2017-12-18 at 10 20 49 pm" src="https://user-images.githubusercontent.com/21253916/34143518-edf85762-e441-11e7-8712-bc3d0da51526.png">

[2017-12-19 06:35] patchthecode commented on #663
This can be done a number of ways.
The code is nothing related to the calendar.

Based on the questions you are asking, it sounds like you are either new to swift or iOS when if comes to getting data from servers.
The best I can do as an example was given in the example video.
You'll have to find out the rest online. A good place to look is on stack overflow.

Bust the basic idea is this.
1) Get y

[2017-12-19 08:31] patchthecode commented on #664
answered here -> https://github.com/patchthecode/JTAppleCalendar/issues/663

[2017-12-19 08:31] #664 closed

[2017-12-19 18:06] patchthecode commented on #663
closing this iuue  now

[2017-12-19 18:07] #663 closed

[2017-12-19 18:07] patchthecode commented on #661
closing issue now. If you have further qeustions, just ask.

[2017-12-19 18:07] #661 closed

[2017-12-20 19:01] JettF commented on #624
I ran into this bug as well. Thanks for fixing it. I am actively developing a feature right now, so relying on Master is fine. Looking forward to the 7.1.5 release!

[2017-12-20 22:21] fgrios commented on #654
This is what I have discovered. If the calendar (and the tableview) are NOT embedded in a splitviewcontroller, then it all rotates fine. When they ARE embedded in a splitviewcontroller, that is when I get the problem.

[2017-12-21 08:57] MichaelSun3566 commented on #662
Thanks! i got my mistake

[2017-12-21 11:16] chriseenberg opened #665 "Disable date selection appears not to work"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
7.1.4

2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.4
Yes.

3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

I've implemented a fully functional calendar with all the methods shown in the videos. This works great! But when it c

[2017-12-21 12:38] chriseenberg commented on #665
Found the solution - finally :) It was an error on my end, though documentation is indeed out of date.
This code worked for me - for future reference for others :)

[code]

Closing the issue.

Kind regards Chris

[2017-12-21 12:38] #665 closed

[2017-12-21 17:17] patchthecode commented on #665
ok. Thanks for letting me know.
yes, i will update that documentation.

[2017-12-21 21:31] fgrios commented on #654
I have figured out that if I embed my splitViewController inside a container view, then I avoid the problem.

[2017-12-21 21:31] #654 closed

[2017-12-21 23:01] patchthecode commented on #654
This may work. But i think i'll still take a look at it.
Thanks for investigating. I will look it up once i am free-er

[2017-12-22 07:26] patchthecode commented on #647
closing until user responds.

[2017-12-22 07:26] #647 closed

[2017-12-26 21:38] patchthecode commented on #539
JTAppleCalendar supports all iOS devices.
From iOS 8 and greater.

[2017-12-26 21:38] #539 closed

[2017-12-29 13:54] juliensagot commented on #419
Hi, this issue seems to be still here:
https://www.dropbox.com/s/1wyab52q7vk6zck/JTAppleCalendar_insetsIssue.mp4?dl=0

Could you please fix? This is really important for me to have insets 🙂

[2017-12-29 16:25] MarquelH opened #666 "Getting error 'ViewController' does not conform to protocol 'JTAppleCalendarViewDelegate'"
Currently running version 7.1.4 (Was previously running 7.0 but then updated) and going alongside the YouTube video for creating calendar from scratch using JTAppleCalendar. (https://www.youtube.com/watch?v=zOphH-h-qCs)  In the video, I was able to follow all the way up till about 7:20 but once you start conforming to delegate and datasource protocols, you add in the second function and the error

[2017-12-29 16:43] juliensagot commented on #666
I got the same error. I had to implement the following method:
`func calendar(_ calendar: JTAppleCalendarView, willDisplay cell: JTAppleCell, forItemAt date: Date, cellState: CellState, indexPath: IndexPath) {`

[2017-12-29 16:46] MarquelH commented on #666
Just did it, and it works. Thanks

[2017-12-29 16:46] #666 closed

[2017-12-29 17:07] patchthecode commented on #651
hi
in the `UserInteractionFunctions.swift` file, you'll see this code located in the following funciton

[code]
Can you delete it and tell me if your problem is fixed? If it is, i will merge the fix into master branch.

[2017-12-29 17:14] patchthecode commented on #651
The problem was that the date you are trying to select is not contained in your calendar's range. It is outside of your startDate and endDate. But you still allowed the user to select it.

[2017-12-29 17:37] d-srd opened #667 "didSelectDate not getting called?"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.4
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

1. & 2. Using version 7.1.4

I've created a basic vertical calendar and implemented the delegate and datasource methods. When I cli

[2017-12-29 18:12] patchthecode commented on #419
Hey guys, i have finally gotten around to fixing this.

can you put this in your `PodFile` and run a `pod update` command?
[code]

If it works well, i will merge this into the next release.

[2017-12-29 18:16] patchthecode commented on #667
i have tried your code and it works.
[test.zip](https://github.com/patchthecode/JTAppleCalendar/files/1593672/test.zip)
please send me a sample app with the problem. Thanks.

[2017-12-29 18:22] d-srd commented on #667
Code was working fine, simulator was somehow broken.

[2017-12-29 18:22] #667 closed

[2017-12-29 20:47] juliensagot commented on #419
Works in my projet and in the example project 👍
Thank you very much, that was fast!

[2017-12-30 18:28] HassanSE commented on #644
The culprit was `Section Insets` which I setup to 5 for each side.

[2017-12-30 19:09] QuestCode opened #668 "Problem with starting on the current month when first opened"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.4
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

I am using the latest version 7.1.4 and the problem I am getting is that when I first run my app.  The current date it doesn't full

[2017-12-30 21:29] patchthecode commented on #644
How did you st the section insets?
I didnt know you had those until you mentioned them now.

[2017-12-30 21:33] patchthecode commented on #668
Your code should say this.
let me know if this fixes your issue.

[code]

[2017-12-30 21:33] #668 closed

[2017-12-30 21:51] QuestCode commented on #668
Thank you it worked!!

[2017-12-30 22:10] patchthecode commented on #668
awesome.

[2017-12-31 00:04] reden87 commented on #651
Hi @patchthecode!

I have a similar problem here and I can tell you how to reproduce it (the previous fix is not fixing the problem).

I'm trying to achieve the following scenario:
* the start date is today
* the end date is 15th of January
* I use multi selection
* I don't want to allow select days before tomorrow and after 15th of January

I tried out the above scenario in the TestViewController

[2017-12-31 00:07] NSMyself commented on #651
@patchthecode Yes, i want to select a date outside of startDate.
Basically, the user can select any day at all.

The only thing I have to show is that all the days from the current month are shown with a particular color, while days from past / future months are shown with a different color altogether.

[2017-12-31 00:30] QuestCode commented on #668
Would you know how use buttons to switch months instead of swiping?

[2017-12-31 00:49] patchthecode commented on #668
[code]

[2017-12-31 06:34] patchthecode commented on #651
@reden87 Hi, if you do not want dates to be selected, then you should implement the this delegate function ->

[2017-12-31 06:37] patchthecode commented on #651
@NSMyself

In the `UserInteractionFunctions.swift` file, you'll see this code located in the following funciton

[code]
Can you delete that line of code and tell me if your problem is fixed? If it is, i will merge the fix into master branch.
Awaiting your response.

[2017-12-31 08:28] HassanSE commented on #644
I just set them in size inspector of `collectionView`.

[2017-12-31 10:20] reden87 commented on #651
@patchthecode whoo thanks that worked for me.

I propose to investigate the scenario I wrote tho because I believe that's a bug anyways.

[2017-12-31 15:48] patchthecode commented on #644
ok so you set the size of the cell. i see.
So the problem is now solved?

[2017-12-31 15:52] patchthecode commented on #651
@reden87 the problem you mention is not resolved by commenting out this line of code?
If not, then i'll look into it some more.

[code]

[2017-12-31 16:32] reden87 commented on #651
@patchthecode it's not resolved when I comment that line out.

[2017-12-31 16:44] patchthecode commented on #651
@reden87 can you message me here?
https://gitter.im/patchthecode/JTAppleCalendar
messaging here is too slow

[2017-12-31 16:46] patchthecode commented on #624
7.1.5 released

[2017-12-31 16:46] #624 closed

[2017-12-31 16:46] patchthecode commented on #419
7.1.5 released

[2017-12-31 17:03] patchthecode commented on #651
@reden87 one thing.

Are you saying that the library should prevent selection of the November month and Feburary month? If this is what you are saying, then please know that I have intentionally allowed this.

In the past, This library disallowed the selection of those dates. And I had requests of people to allow it. Take for instance this developer -> @NSMyself
He also wants those dates to be sel

[2017-12-31 18:41] patchthecode commented on #651
@NSMyself if its possible, lets talk again -> https://gitter.im/patchthecode/JTAppleCalendar
I want to close up this issue together with other issues before Jan.

[2017-12-31 18:43] patchthecode commented on #595
can you post me the link to the github of this your project again which shows this issue?
I am trying to close up all my issues before Vacation is over.

[2017-12-31 18:47] patchthecode commented on #615
Closing issue until user responds.
I could not reproduce this in version 7.1+

[2017-12-31 18:47] #615 closed

[2018-01-02 02:42] mgurreta commented on #629
Hello @patchthecode ! happy new year!!! 🍾

Wondering if you had a chance to take a look at this issue?

Thanks!

[2018-01-02 05:05] patchthecode commented on #629
I had to release the new version to stop some other bugs.
So i did.
In regards to the scrolling issue, i have moved the fixing over to this branch -> https://github.com/patchthecode/JTAppleCalendar/tree/FixingScrolls

[2018-01-02 05:09] patchthecode commented on #629
This fix will come with a minor verstion bump.
One signature will be changed. (its supposed to be a major version change, but im hoping the developers will forgive me). I didnt want to do a major change for such a small change, even though it is breaking one code line.

[2018-01-02 05:47] patchthecode commented on #629
Completed scrollmodes are

- [ ] .nonStopToSection
- [ ] .none

[2018-01-02 12:23] karunaveer opened #669 "Show only current month dates on each collectionview and hide previous and next month dates from calendar"
I am using JTAppleCalendar 7.1.5 version.

PFA. I dont want to display dates which are mentioned as strike through.

I tried the following way but it didn't work. Please provide appropriate solution to achieve the same.

    func calendar(_ calendar: JTAppleCalendarView, willDisplay cell: JTAppleCell, forItemAt date: Date, cellState: CellState, indexPath: IndexPath) {
        // This function shou

[2018-01-02 16:13] patchthecode commented on #669
the code you have provided above is the correct way to do it.
can you show me the code that you have in your `cellForItemAtIndexPath` function?

[2018-01-02 17:41] patchthecode commented on #110
<img width="1017" alt="screen shot 2018-01-02 at 9 37 37 am" src="https://user-images.githubusercontent.com/2439146/34493513-21563358-efa1-11e7-8b03-74b892391e24.png">

[2018-01-02 21:49] mgurreta commented on #629
so you are thinking to avoid jumping to 7.2.0? (and hotfix this?)

I guess devs will understand a one-liner change... if they are in dev and not stick to a version.

[2018-01-02 22:10] patchthecode commented on #629
@mgurreta

haha i hope the can forgive me..

[2018-01-03 05:17] karunaveer commented on #669
Please see the below function

 func calendar(_ calendar: JTAppleCalendarView, cellForItemAt date: Date, cellState: CellState, indexPath: IndexPath) -> JTAppleCell {
        let myCustomCell = calendar.dequeueReusableCell(withReuseIdentifier: "CellView", for: indexPath) as! CellView
        configureVisibleCell(myCustomCell: myCustomCell, cellState: cellState, date: date)
        return myCustomCe

[2018-01-03 05:27] patchthecode commented on #669
change your code to this:

[code]

[2018-01-03 07:02] karunaveer commented on #669
If i do so, we are calling our custom method as below from the below function and we are getting the same result. So please share us working code to complete our task.

    func calendar(_ calendar: JTAppleCalendarView, willDisplay cell: JTAppleCell, forItemAt date: Date, cellState: CellState, indexPath: IndexPath) {
        // This function should have the same code as the cellForItemAt function

[2018-01-03 07:05] patchthecode commented on #669
to display 2 months on one page, then just change the cellSize.
try
[code]

[2018-01-03 07:45] karunaveer commented on #669
We are getting 3 months calendar in one page if we set calendarView.cellSize = 20.

Inorder to make 2 months in one page, We are setting myCalender.cellSize = myCalender.frame.size.height / 17 and its working fine.

But the problem is when we scroll up and down we are not getting the dates on colectionview properly (PFA of screen before and after scrolling). The following is the method we are usin

[2018-01-03 11:51] amith-ranasinghe opened #670 "self.calendarView.scrollToSegment(.previous) / self.calendarView.scrollToSegment(.next) do not work after rotation."
I am using the "pod 'JTAppleCalendar', '~> 7.1.5'"

I have to support both iPhone and iPads. The calendar has two buttons to go to previous month and next month I am using them like follows.
[code]
This works okay until I rotate the device to from Portrait to Landscape.

Once the calendar is rotate to Landscape orientation this does not work.  So the next months and previous months do not get upda

[2018-01-03 16:29] patchthecode commented on #669
OK, you are asking many question in one issue.
Have you taken a loo at any of the tutorial videos?

They will help you a lot.
the link to all the videos is here. You can skip the vids you are already familiar with -> [LINK](https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q)

[2018-01-03 16:33] patchthecode commented on #670
On which device/simulator type did you encounter this?

[2018-01-03 16:43] #669 closed

[2018-01-03 23:50] DominicMDev opened #671 "Memory Leak When Scrolling"
Version: 7.1.5

I noticed what I think is a memory leak that happens while scrolling through the calendar. I was able to recreate this in the sample application. When in vertical scrolling mode without stopping at each section, the calendar memory starts creeping up by about 0.1MB increments.

I have done some digging, but have not found the source of the leak yet.

I attached two screenshots. One

[2018-01-04 00:18] patchthecode commented on #671
Does the used memory continue increasing without bound? Or does it stop at a certain level.

[2018-01-04 00:27] DominicMDev commented on #671
If there is a bound, I haven't found it yet. I have tired scrolling for about 3 minutes. I'm going to try to make a UITest that scrolls for a long time.

[2018-01-04 00:37] DominicMDev commented on #671
My understanding is that the Xcode Instruments are useful for catching leaks in low-level C API's.
I tried it just to be sure, but it didn't find a leak.

[2018-01-04 01:01] patchthecode commented on #671
Thats the thing. I tested this library very much for leaks and have fixed them.
There arent more leaks i found using the `leaks` and `zombies` tool.
If you find any leaks do let me know. But I could not find any more in the code.

[2018-01-04 04:31] amith-ranasinghe commented on #670
I am using iPad Air

[2018-01-04 04:55] patchthecode commented on #670
replace this in your `Podfile` for JTAppleCalendar.

[code]

then do a `pod update` on console.
Let me know if your isssue was resolved. If it is not, I will re-open this issue.

[2018-01-04 04:55] #670 closed

[2018-01-04 05:25] amith-ranasinghe commented on #670
The bug seems to be resolved! Thanks for fixing it.

[2018-01-04 05:28] patchthecode commented on #670
awesome.
have a good one 🍻

[2018-01-04 15:27] nickbonny opened #672 "My collectionView doesn't show anything"
Hi,
I followed this YouTube tutorial step by step: https://www.youtube.com/watch?v=zOphH-h-qCs&t=1s

I'm working with the version  '7.1.5'; but I also tried an earlier version (the 7.0 one) in another project.

My problem is that the collectionView I set up doesn't show the days. In fact I changed the color of the background in my collectionView and when the application runs I can see it, but the

[2018-01-04 19:45] patchthecode commented on #672
send me an email with the sample app.
patchthecode@gmail.com

[2018-01-04 19:47] patchthecode commented on #672
I just saw your email.

You have a couple places you didnt follow the video 100%

1.  On your story board, your ViewController was called `ViewController`. This should have been called `CalendarViewController`. You have a file-name/ class-name mismatch.  Your file is called `ViewController` but your class is called `CalendarViewController`
2. the idenfitifer for your cell on storyboard is called `

[2018-01-04 19:47] #672 closed

[2018-01-04 22:00] patchthecode commented on #671
Will close this issue until leaks are confirmed.
In terms of increasing resources, lets track this here -> https://github.com/patchthecode/JTAppleCalendar/issues/470

[2018-01-04 22:00] #671 closed

[2018-01-05 08:17] siapno01 opened #673 "Scrolling Calendar to latest date will show wrong dates"
try this
I made a programmatically calendar using the JTAppleCalendarView

use this as the configuration:
let startdate = formatter.date(from: "2017 02 01")!
let endDate = formatter.date(from: "2018 02 28")!

the in viewDidload, try to reload the calendar and it will show wrong dates in every cell

[2018-01-05 08:20] siapno01 commented on #673
Im using 7.1.5 version of JTAppleCalendar

[2018-01-05 09:04] patchthecode commented on #673
@siapno01 what do you mean wrong dates in every cell?

A screen shot can help.
Are the dates wrong by one date less?

[2018-01-05 10:00] siapno01 commented on #673
the dates are wrong once you scrollToDate for 1 time only in view did
load..maybe later ai can give the screen shot

On Jan 5, 2018 5:04 PM, "JTAppleCalendar" <notifications@github.com> wrote:

[2018-01-05 10:04] siapno01 commented on #673
this what will show..

On Jan 5, 2018 6:00 PM, "Michael Siapno" <siapno01@gmail.com> wrote:

[2018-01-05 10:06] siapno01 commented on #673
when I try to use the startdate and endDate value in tutorial it works
great but when I change the value as I comment above it is not working

On Jan 5, 2018 6:04 PM, "Michael Siapno" <siapno01@gmail.com> wrote:

[2018-01-05 15:27] patchthecode commented on #673
I still do not understand.
You'll have to explain what you mean by `it is wrong`.
Please explain this to me in "programmer language".
Saying that something is wrong is not versy descriptive.

You'll have to tell me:
1. what is expected
2. what you did
3. how your results differed from what you expected

only then i can know what "wrong" is.

[2018-01-05 17:19] JFSene commented on #317
I need to select 2 dates to send to my server, but I've been struggling to save both dates, is there anywhere an example I can look into?

[2018-01-05 17:48] patchthecode commented on #317
as here https://gitter.im/patchthecode/JTAppleCalendar

[2018-01-05 17:53] lx4r opened #674 "outer two columns don't update properly after month switch"
Hey,
I'm using JTAppleCalendar version 7.1.5 to build a calendar that the user should use to select a range of dates. I managed to implement this functionality thanks to the good tutorials on the project page but now I'm stuck with a problem:
When I select a range of dates in one month, then go to the next month, select a new date range there (which deselects the first one) and then go back to the

[2018-01-05 19:03] patchthecode commented on #674
Did you remember to include the `willDisplayCell` function as shown here?
https://github.com/patchthecode/JTAppleCalendar/issues/553

I made a very important warning about this on the main page. 🙃

[2018-01-05 19:11] lx4r commented on #674
@patchthecode Thank you so much, adding that function fixed the problem. I'm so sorry for not reading the warning, I thought it only affected people the upgrade from a version prior to 7.1.0 😇 .
Thanks again for the help, you're doing a great job here! 👍

[2018-01-05 19:11] #674 closed

[2018-01-05 19:17] patchthecode commented on #674
cool. Have a good one 🍻

[2018-01-06 05:22] siapno01 commented on #673
Firs set the configure of calendar like this

**func configureCalendar(_ calendar: JTAppleCalendarView) -> ConfigurationParameters {

        let startdate = formatter.date(from: "2017 02 01")
        let endDate = formatter.date(from: "2020 02 28")

        let parameters = ConfigurationParameters(startDate: startdate, endDate: endDate)
        return parameters
    }**

then try to scroll to cur

[2018-01-06 06:47] patchthecode commented on #673
If you created your calendar manually, did you remember to put this in your code?

[code]

[2018-01-06 07:19] siapno01 commented on #673
Im sorry i did not put that one.

On Jan 6, 2018 2:47 PM, "JTAppleCalendar" <notifications@github.com> wrote:

[2018-01-06 07:57] patchthecode commented on #673
Does it work now?

[2018-01-06 12:52] serfeo opened #675 "The first week of 2018 year bug"
Hi, it looks like the first week of this year for calendar week mode works incorrect.
I'm using JTAppleCalendar (7.1.5).
I'm using this parameters to initialize calendar:
`let startWeek = Date().startOfWeek( .monday )`
`let startDate = startWeek.addingTimeInterval( -5 * 7 * 24 * 60 * 60 )`
`let endDate = startWeek.addingTimeInterval( 5 * 7 * 24 * 60 * 60 )`
`let parameters = ConfigurationParameter

[2018-01-06 16:20] patchthecode commented on #675
not a bug.
here is the configuration for a 1 week calendar https://github.com/patchthecode/JTAppleCalendar/issues/581

Closing this issue.
If this does not fix it, then let me know. 👍

[2018-01-06 16:20] #675 closed

[2018-01-07 02:02] siapno01 commented on #673
Yes it works good now . thanks a lot . I didnt notice that you need to declare that when you are creating calendar manually . This is noted . 👍

[2018-01-07 02:02] #673 closed

[2018-01-07 18:32] vietstone opened #676 "Weird layout when minimumLineSpacing and minimumInteritemSpacing are non-zero"
I'm using version 7.1.5. I'm trying to add line and cell spacing, both to 5
        calendarView.minimumLineSpacing = 5
        calendarView.minimumInteritemSpacing = 5
Then the calendar layout is weird as:
- line and cell spacing become 10
- sectionInset become (5, 5, 5, 5)

[2018-01-07 23:14] patchthecode commented on #676
would love to have 2  screen shots:
1) what was expected
2) what actually happened

[2018-01-07 23:16] patchthecode commented on #676
chatting here is faster (if im awake) -> https://gitter.im/patchthecode/JTAppleCalendar

[2018-01-08 02:51] hyuntae0117 opened #677 "how to implement 3x4 year calendar ui?"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

My version: 7.1.5

Hello guys!
I'm a newbie iOS developer. I appreciate the cool Calendar library!

I didn't know how to implement

[2018-01-08 16:38] patchthecode commented on #677
Im sorry, but we do not have a year view.
It was something that has been considered but not implemented.
Maybe if someone can submit a request for it, then i will merge it.

[2018-01-08 16:39] #677 closed

[2018-01-08 19:30] joseph-francis commented on #522
That doesn't work @patchthecode

[2018-01-08 23:03] dadixon commented on #649
I watched the video and followed each step and I get the same error. I also had to add the method "willDisplay" as a requirement.

[2018-01-08 23:48] patchthecode commented on #649
@dadixon Have you tried doing what this user did to resolve this error?

[2018-01-08 23:50] patchthecode commented on #522
@joseph-francis

1. What are you trying to do?
2. What code have you done to try and do it?

[2018-01-09 02:11] mgurreta commented on #629
Hello @patchthecode ! how are you doing man??

just touching base on this issue.

thanks

[2018-01-09 05:00] joseph-francis commented on #522
@patchthecode I wanted to not show the dates of previous and after months. I'm just hiding those cells in cellForitemAt. It's working now.

I just wanted to say that this library is great. Thank you and god bless you brother!

Also, I think there's a minor problem. What I have is a nib file with JTAppleCalendarView (the collectionView). Let's call this "parentView". The CalendarCell (subclass of J

[2018-01-09 05:05] patchthecode commented on #522
@joseph-francis sounds good. is it possible you can upload on your github a sample project showing this?
i'm always up for making things more efficient.

[2018-01-09 05:29] dadixon commented on #649
Yes. I solved it by restarting XCode 3 times. Now when I connected the ibCalendarDataSource it worked fine.

[2018-01-09 05:51] patchthecode commented on #649
@dadixon  awesome. seems like an XCode issue then

[2018-01-09 16:37] joseph-francis commented on #522
https://github.com/joseph-francis/Example
Now, I suspect if it's the top NSLayoutConstraint animation is causing the slowness, or adding the subview.

[2018-01-09 18:59] patchthecode commented on #522
@joseph-francis i checked out your code.

the speeds are as follows:
[code]

Just wondering, since those times are very small, is it impacting your app? Or are you just looking wondering why the time difference?

[2018-01-09 19:21] joseph-francis commented on #522
Well, that's odd. That's not the time I got when I ran. I got like 0.03 (fastView) vs 0.6 (calendarView). I'm running this on my iphone. Are you running in a simulator? Did you change anything? If so, it could really help.

[2018-01-09 20:00] patchthecode commented on #522
@joseph-francis ive tried it on simulator. Let me try it on iPhone and check it out. brb.

[2018-01-09 20:15] patchthecode commented on #522
new results from iPhone SE:
[code]

so a couple questions:

1. The sample collection view you are adding just has `1 section` with `3 items` in it. In the calendar view however, there are a lot of calculations going-on on setup in the collectionViewLayout file.
If think this accounts for the difference?
2. Just wondering, is this speed hindering your app? (it looks too small to matter i think?)

[2018-01-09 20:16] joseph-francis commented on #522
Hey, I was able to pinpoint what's happening, but don't know how to solve. On my actual project, if I comment out `collectionView.calendarDataSource = self` and `collectionView.calendarDelegate = self`, it works faster. I'm setting the delegate and datasource in the awakeFromNib method. After I add the parentView (from the Example), I animate the top constraint. The animation is only over after th

[2018-01-09 21:18] joseph-francis commented on #522
@patchthecode it's a small time difference, but one can see that it's a little slow.

[2018-01-10 09:58] Zach-Miller123 opened #678 "Compilation Issues from Swift 2 to Swift 3"
Hi,

I am migrating a project from swift 2 to swift 3. The original pod file used JTAppleCalendar version 5.0.1. I have updated to version 7.0.

During this migration process, I am having trouble resolving the following compilation issues.

*calendarCollection is of type JTAppleCalendarView
1.  calendarCollection.scrollToNextSegment() <- scrollToNextSegment() not recognized
2. calendarCollection.s

[2018-01-11 16:09] reden87 opened #679 "Deselect dates method does not work in certain rare scenarios"
To reproduce the problem you need to do the following steps:

1) in the **TestViewController.swift** set some start and end date in the near past/future:

[code]

2) in the `didSelectDate` delegate method call the deselectdate method programmatically:

[code]

This should programmatically deselect the selected dates instantly (so basically you should NOT be able to select any date at all. Same res

[2018-01-12 15:45] hartjosh commented on #566
I am also trying to do the same and I am running into the same issue.  Could you comment on how you fixed the dynamic calendar view height based on the number of week rows being presented for the month?

[2018-01-12 17:39] dadixon opened #680 "events image goes away after scrolling"
Version 7.1.5

Following this video: https://www.youtube.com/watch?v=CQNotydm58s
After scrolling on the calendar, the event image is hidden and doesn't show anymore.

[2018-01-12 18:05] dadixon commented on #680
NVM. It was a dateFormatter issue

[2018-01-12 18:05] #680 closed

[2018-01-12 18:26] patchthecode commented on #566
@hartjosh here is an example of a project with JTApplecalendar using dynamiv height ->
https://github.com/patchthecode/WLAppleCalendar

How it helps.

[2018-01-12 20:54] patchthecode commented on #678
[code]

`calendarCollection.firstDayOfWeek = .monday <- firstDayOfWeek not recognized`
This is now done in the configureCalendar function.
For help on setting up the entire calendar from scratch -> check out [these videos](https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q)

[2018-01-14 11:01] Zach-Miller123 commented on #678
Great, thanks so much!

[2018-01-14 11:01] #678 closed

[2018-01-15 16:20] josjevv commented on #557
I am experiencing this issue with version 7.1.5 (using Carthage).  I added the `viewWillTransition` method (as well as willDisplayCell). The current visibleDates has been lost after rotation and the calendar shows the first date as configured in `configureCalendar` method.

Is it possible this bug has been reintroduced?

[2018-01-15 16:29] patchthecode commented on #557
@josjevv

1. Can you show me the code you did?
2. Can you tell me the device you run it on?

[2018-01-16 02:17] wangyanlong opened #681 "In vertical, the bug on the scrollToSegment (.Previous)"
i'm using 7.1.5. When I use  `calendarView?.scrollDirection = .vertical` And then i use `calendarView?.scrollToSegment(.previous)` the result is equivalent to
`calendarView?.scrollToSegment(.next)`

[2018-01-16 03:55] patchthecode commented on #681
:O
impossible!

ok. will check it out.

[2018-01-16 04:12] wangyanlong commented on #681
iPhone X & Simulator

[2018-01-16 10:46] josjevv commented on #557
It's a private repo so I can't easily share the full code base. It's running on iPhone 6s simulator (11.2) but also happens on a real device (also iPhone 6s on 11.2). Relevant code:

set selected date
[code]

helper function (anchorDate is current selected date)
[code]

[2018-01-16 19:49] fmo91 opened #682 "Either date could not be generated or delegate was nil"
I am getting this error and I can't figure out why is it being thrown. I'm using version 7.1.4

My view controller is like this:

[code]

And I'm adding the calendar to a .xib file where I design the controller's view.

Any idea on how to solve this?

[2018-01-17 05:34] patchthecode commented on #682
You have registered a header, but have you implemented the header funcitons?

[code]

[2018-01-17 13:32] fmo91 commented on #682
Yes, I've implemented them. But the strange thing here is that the calendar is being shown without crashing, and it looks perfect. The problem arises when I try to scroll the calendar horizontally to show other months: then the app crashes
There is another strange thing that's happening. When I stop the execution with a few breakpoints to inspect the variables, everything seems to be normal, and w

[2018-01-17 13:33] fmo91 commented on #682
The console log reads this:

[code]

[2018-01-17 18:48] patchthecode commented on #682
can you provide me a sample app with this problem?
i'll fix.

[2018-01-18 09:27] ajandrade commented on #651
@patchthecode I tried to comment the line you mentioned above but it didn't solve the problem as you can see below:

![bug](https://user-images.githubusercontent.com/25066243/35090479-aeb0c604-fc31-11e7-812d-a497d0af5f80.gif)

[2018-01-18 10:03] NSMyself commented on #651
Sorry @patchthecode, totally forgot about this. @ajandrade is now responsible for this feature and, as such, please talk with him regarding this issue.

Thank you once more for the amazing support, much appreciated.

[2018-01-19 05:25] extremer opened #683 "Selected cell goes deselected even when return false from other cell's shouldSelectDate"
Hi
First of all, I'm using the latest veresion 7.1.5.

I'm having a problem when I return false from shouldSelectDate for dates out of this month.
I implemented the method like this.

[code]

When I select a date out of this month, it returns false as shown BUT previously selected date goes deselected still, **while I expect to remain selected.**

Here are the steps assuming **cell A at 2018-01-01

[2018-01-19 06:21] patchthecode commented on #683
Maybe i am not understanding the problem properly.
Can you provide a  sample app demonstrating it? Please remove all your company secret code.
I'll try to get to it when i can.

[2018-01-19 13:29] hartjosh commented on #683
Im getting a nil cell on the didDeselectDate when I pick another date that's not within the same month.

[2018-01-19 13:59] extremer commented on #683
@patchthecode
I'm attaching some demo images. Calander is of 2018 January.

<img width="349" alt="2018-01-19 10 53 21" src="https://user-images.githubusercontent.com/3157870/35153922-ab99912c-fd6b-11e7-8b60-bd5b419e6066.png">
1. select January 19

<img width="348" alt="2018-01-19 10 53 49" src="https://user-images.githubusercontent.com/3157870/35153953-c38af3de-fd6b-11e7-8e29-4437d92165ce.png">
2.

[2018-01-19 14:06] extremer commented on #683
@hartjosh In my case, didDeselectDate is not called for the date not in this month when I return false for that date from shouldSelectDate

[2018-01-19 14:29] hartjosh commented on #683
I found my issue, i didn't put anything in willDisplayCell, now all is well.

[2018-01-19 14:52] ridvank opened #684 "Scrolling to previous month is unavailable"
Hi there!
I am using 7.1.5 version of JTAppleCalendar. I am having an issue that when I select a date out of the current month, then scrolling to date by using `calendarView.scrollToDate(date)`. However when I try to go back to previous month by using a button or gesture. I am unavailable to do it as you see in the gif.
Any help would be appreciated!
![error](https://user-images.githubusercontent.

[2018-01-19 15:22] hartjosh commented on #684
what's in your `    public func configureCalendar(_ calendar: JTAppleCalendarView) -> ConfigurationParameters {}` method?

[2018-01-19 15:25] ridvank commented on #684
Here it is my configureCalendar method
[code]

[2018-01-19 15:48] hartjosh commented on #684
where did u put this?  `calendarView.scrollToDate(date)` ?

[2018-01-19 15:50] ridvank commented on #684
Inside this delegate method:
[code]

[2018-01-19 15:56] hartjosh commented on #684
That function gets called whenever you go to a new month, multiple times.  I would only suggest using calendarView.scrollToDate in your viewDidLoad or viewDidAppear so that your user goes to that specific date.  Try removing it from there and implementing it somewhere else.

[2018-01-19 15:58] ridvank commented on #684
Is there any efficient way to change the month when selecting a date which is out of current month?

[2018-01-19 15:59] hartjosh commented on #684
yes try this:

`    /** Sets up the Next and Previous buttons on the calendar with their actions */
    private func setupButtonActions() {
        previousButton?.addTarget(self,
                                  action: #selector(gotoPreviousMonth),
                                  for: .touchUpInside)
        nextButton?.addTarget(self,
                              action: #selector(gotoNextM

[2018-01-19 16:12] ridvank commented on #684
Thanks for your responses!

[2018-01-19 16:12] #684 closed

[2018-01-19 16:43] patchthecode commented on #683
@extremer so basically you are saying that even though `shouldSelect` returns false, the a sell is still being deselected?

Ok. Can you show me your did select code?
Or join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2018-01-19 16:51] patchthecode commented on #530
I will close this issue.
It seems to me sometimes when the app comes from the background into the foreground.
For what ever reason, UIKit sends a message to the calendar that its frame has been updated.
I suspect it might be due to the the top status call bar that appears once there isa phone call.

I think the best approach would be that on coming from back ground, just call `scrollToDate` withou

[2018-01-19 16:51] #530 closed

[2018-01-19 16:54] patchthecode commented on #682
The most I can tell you is show you the example app here, so that you can see what you did differently.
That error occurs when your delegate is either nil, or does not conform to the protocol.
I do not have any code from you to work with, so i cannot know your problem. But i can show you my code. -> https://github.com/patchthecode/CalendarTutorial

closing this issue. Let me know if it helped.

[2018-01-19 16:54] #682 closed

[2018-01-19 22:49] patchthecode commented on #682
awesome.

[2018-01-20 15:00] extremer commented on #683
This is my didSelectDate code.

[code]

[2018-01-20 17:02] patchthecode commented on #683
@extremer thats the thing. I am unable to reproduce what you are seeing.

We have a sample application attached to this github. I am trying to get enough information from you to reproduce this issue on the sample application.  But so far, our sample app is working perfectly.

If possible can you either:
1. Chat here -> https://gitter.im/patchthecode/JTAppleCalendar
2. Create a sample app with the

[2018-01-21 09:10] vahids opened #685 "Wrong date in `cellState` but current `cellState.text`"
I'm using version 7.1.5 -> JTAppleCalendar (7.1.5)

calendar is correct  but when I select a date, the selected date has a wrong date. It's seems like to have a day before of correct date.

I add a break point on `configCell` delegate. the `cellState.date` was wrong there too but `cellState.text` showing correct date.

<img width="1181" alt="datepicker" src="https://user-images.githubusercontent.c

[2018-01-21 10:29] patchthecode commented on #685
i think your issue is this one
https://github.com/patchthecode/JTAppleCalendar/issues/252

let me know

[2018-01-21 10:39] vahids commented on #685
Your God damn right!
Thanks ;-)
[code]

[2018-01-21 10:39] #685 closed

[2018-01-21 11:31] vahids opened #686 "Value of type 'JTAppleCalendarView' has no member 'isDateInToday'"
My version is 7.1.5

I want to highlight current day but `isDateInToday' not found.
Did you remove it?

Thanks.

[2018-01-21 18:03] patchthecode commented on #686
I never had such a function.
Where are you using it?

[2018-01-21 18:10] vahids commented on #686
Sorry I tried to highlight current date and It was my mistake that I called `calendar. isDateInToday()` instead of `Calendar.current. isDateInToday()`

sorry again and Thanks for your mazing customizable lib.

[2018-01-21 18:10] #686 closed

[2018-01-21 19:01] vahids opened #687 "Mirroring Persian / Arabic calendar on changing device orientation"
I'm using JTAppleCalendar 7.1.5

Hi, I checked Persian/Farsi/Jalali and Arabic/Islamic calendar:

![correct](https://user-images.githubusercontent.com/1405424/35197808-6e65f8b4-fefa-11e7-8311-c8a241e3d772.png)

 all working well except if I change device orientation, calendar will be mirrored:

![Wrong](https://user-images.githubusercontent.com/1405424/35197812-8644d4d2-fefa-11e7-8555-e89e59d21b56

[2018-01-22 09:54] josjevv commented on #557
@patchthecode do you have enough information to debug this issue? Thanks in advance.

[2018-01-22 15:59] patchthecode commented on #557
sorry. i missed this.
let me re-open it.

[2018-01-22 17:21] d-srd opened #688 "[SUGGESTION] Community Examples"
Working with this library has been an absolute pleasure, saving me tons of time I'd have otherwise spent implementing my own calendar. I'd like to give back to the community in some way, and IMHO having more examples would be beneficial for anyone wanting to use this library as it would offer some insight about how it might be implemented.

Therefore, I would like to suggest making a new repositor

[2018-01-22 19:50] diogoAntunes opened #689 "Calendar Modes (Week and Month)"
Thank you for all the hard work on this library, it is a lifesaver 👍

I was trying to create a Month calendar, and a Week calendar, I was looking trough the readme and found out that we suppose to have a week/month mode?

But upon browsing the source code I'm not sure how is this accomplished, any hints? Thank you

[2018-01-22 20:24] d-srd commented on #689
I’ve implemented this. It’s relatively simple. For weekly view: tell your dataSource to use 1 row, no strict boundaries and to generate out dates for first month only. For monthly view: 6 rows, strict boundaries, all out dates. Then just call reloadData on the calendar view after the switch.

[2018-01-23 01:19] patchthecode commented on #689
@d-srd is right correct.
I wi was asked about single row calendar so much, i put in in here -> https://github.com/patchthecode/JTAppleCalendar/issues/581

[2018-01-23 01:20] patchthecode commented on #688
Very feasible. I'm not sure how to create a sub module though.
I can look that up over the weekend. I've just been ery busy over the last 3 months.

[2018-01-23 18:36] kukushi opened #690 "Prevent displaying empty row when cells ares divided by months"
Great work, guys! Its really powerful and easy to use.

I'm using the latest version (7.1.5).
I have been using `cellState.dateBelongsTo == .thisMonth` to determine whether a cell should be display so that the cells and divided by months. The problem is there is always a empty row between two months which I want to get rid of. I have checked the source code but didn't find any hints.
I wonder if t

[2018-01-23 19:28] patchthecode commented on #690
@kukushi explain empty row?
screenshot might help here thanks.

[2018-01-23 19:29] patchthecode commented on #681
assuming master branch fix worked.
closing issue until user responds further.

[2018-01-23 19:32] patchthecode commented on #676
I think this is expected.
If you set the following code, what will happen is a grid of rows and columns of cells. This is default behavior of UICollectionView.
[code]

Closing this issue.
But if your question is not properly answered, then please reply.

[2018-01-23 19:32] #676 closed

[2018-01-23 19:33] #689 closed

[2018-01-23 19:34] patchthecode commented on #595
closing issue. until user responds.

[2018-01-23 19:34] #595 closed

[2018-01-24 04:27] kukushi commented on #690
@patchthecode Thanks for the quick reply.
Here is the screenshot. The areas arrow point to are the empty rows.

![simulator screen shot - iphone 8 plus - 2018-01-24 at 12 22 35](https://user-images.githubusercontent.com/2424654/35314533-cb6db4bc-0101-11e8-9903-3cd163369720.png)

[2018-01-24 06:42] patchthecode commented on #690
Oh. thats easy.
in your `configureCalendarFuntion`, just set the `generateOutDates` to  = .endOfRow

[2018-01-24 08:33] kukushi commented on #690
It works! Thanks a lot!

[2018-01-24 08:33] #690 closed

[2018-01-24 09:32] patchthecode commented on #690
cool.

[2018-01-24 18:22] enrico07 opened #691 "Localization Months"
I have a question. I'm using the latest version, is it possible to translate into other languages the month label?

![simulator screen shot - iphone 8 plus - 2018-01-24 at 19 16 09](https://user-images.githubusercontent.com/35777652/35349409-232ad958-013b-11e8-82f8-f4e33a7b8639.png)

[2018-01-24 18:40] hartjosh commented on #691
Developers can do this on their own.   This is a great tutorial: https://medium.com/lean-localization/ios-localization-tutorial-938231f9f881

[2018-01-24 20:17] DominicMDev opened #692 "Would You Be Willing To Make The Value For `endScrollTargetLocation` Publicly Accessible?"
**Version: 7.1.5**

Hello,

I was wondering if you could make the value for `endScrollTargetLocation` publicly accessible.

I am working on a calendar that has a banner that displays the month and year while scrolling.
You can see the view fade in and out at the top of the calendar in this GIF:
![calendarscroll](https://user-images.githubusercontent.com/32944376/35352802-f2455ee4-00f9-11e8-9477-96

[2018-01-24 20:40] enrico07 commented on #691
Perfect, thanks.

[2018-01-25 08:58] oskarko opened #693 "Crash on iPad"
Hi, I was doing an app for iPhone but before launching it on AppStore I have changed to Universal and now it isn't loading... it crashes!

[code]

any solution to fix this?

[2018-01-25 10:06] oskarko commented on #693
I have changed to pod 7.1.5 and the code changed to

***
func targetPointForItemAt(indexPath: IndexPath) -> CGPoint? {
        guard let targetCellFrame = calendarViewLayout.layoutAttributesForItem(at: indexPath)?.frame else { // Jt101 This was changed !!
            return nil
        }

        let theTargetContentOffset: CGFloat = scrollDirection == .horizontal ? targetCellFrame.origin.x : targ

[2018-01-25 11:06] vietstone commented on #676
Sorry for late reply.
What I want is space between rows is 5, space between columns is 5. Like this image:
<img width="551" alt="expected" src="https://user-images.githubusercontent.com/744353/35385082-cdcbedde-01f9-11e8-837c-a724004c1dcb.png">

So I write:
[code]

But it become as space between rows is 10, space between columns is 10, and padding of 4 edges is 5 as this image
<img width="551" alt

[2018-01-25 12:52] csontosgabor opened #694 "Implement SectionHeaders"
Hello!

Thanks for this awesome library.
Is it possible to implement the headers for months? Maybe I missed something, or this version doesn't support this feature?

Also how can I set today's date?

[2018-01-25 17:20] patchthecode commented on #694
can this guy's example help you? -> https://github.com/patchthecode/WLAppleCalendar

[2018-01-25 17:21] patchthecode commented on #692
I'll relook this over the weekend.

[2018-01-25 17:23] patchthecode commented on #693
Help me a bit please.

On what simulator does it crash?
Is it possible you can debug the value the library is crashing on at that point?

[2018-01-25 17:39] patchthecode commented on #557
I am not experiencing the issue that you are facing.
is it possible you can create a new sample project?
The only code in it can just be that rotation code.

I have tried it in may way on my example project attached to this github project. And I cant reproduce it at all.

[2018-01-25 17:49] patchthecode commented on #676
This is not UICOllectionView behavior that is correct.
But this is the default behavior that I coded into the library.
Because for my original project, i wanted it this way. 😀

You're the first to request a change to this. I will have to think up a solution if you need this.
But It wont be very soon, as I am tied up between more than one projects right now.

[2018-01-25 18:01] oskarko commented on #693
Sure, it crashes on iPad air (iOS 10.1) emulator. The value is always 0 / 0 = NaN.

[2018-01-25 18:05] patchthecode commented on #679
I just had time to re-read this.
OK, since this libray's creation I had this:

The startDate always starts at the beginning of the month you choose.
The endDate always ends at the end of the month you choose.

I did it this way becase i did not know how a developer would want the calendar to look.
The problem i had was -> If developer puts start date to be `2018 01 15` then

1. should the library

[2018-01-25 18:06] patchthecode commented on #693
can you message me here? https://gitter.im/patchthecode/JTAppleCalendar

[2018-01-25 18:09] patchthecode commented on #691
closing this issue. as resonved. Thanks guys.

[2018-01-25 18:09] #691 closed

[2018-01-25 18:19] patchthecode commented on #683
@extremer Hi, here is my sample applicaiton.

[deselectionBug.zip](https://github.com/patchthecode/JTAppleCalendar/files/1665132/deselectionBug.zip)

Every thing works on it. Can you get that sample application recreate your issue?
I am starting to think that maybe there is some other part in your code that is doing the deselection?

[2018-01-25 18:21] patchthecode commented on #683
closing issue as more than 3 days without response. Will re-open once you respond.
I've added the `Awaiting-user-response` tag. thanks.

[2018-01-25 18:21] #683 closed

[2018-01-25 18:23] patchthecode commented on #694
also the video here shows you how to implement headers -> https://www.youtube.com/watch?v=CQNotydm58s

Closing this issue now, but if you still need more guidance, then let me know.

[2018-01-25 18:23] #694 closed

[2018-01-25 19:22] oskarko commented on #693
I'm in right now

[2018-01-25 21:59] oskarko commented on #693
You can close it. I have fixed it. The app needed constraints for iPads too, not iPhone only.

[2018-01-26 02:22] patchthecode commented on #693
hmm. ok.
So it was a problem with constraints?
This shouldnt crash the library though. I will do a check againstdivide by 0 errors.
thanks.

[2018-01-26 02:22] #693 closed

[2018-01-26 10:27] wangyanlong opened #695 "How to empty all selected dates through a method?"
How to empty all selected dates through a method?

[2018-01-26 16:17] patchthecode commented on #695
`calendarView.deselectAllDates()`

[2018-01-26 22:35] #695 closed

[2018-01-26 22:35] wangyanlong commented on #695
THANKS

[2018-01-27 08:17] jeffersonsetiawan commented on #426
My bad, I didn't set status value and today view to be hidden. So recycle will use the old value.
`else {
            self.devotion = nil
            dateLabel.textColor = UIColor.red
        }`

Case closed.

Thanks @patchthecode for this awesome library!

[2018-01-27 11:49] csontosgabor commented on #694
Thanks for the help! :) And the library. Awesome! :)

[2018-01-27 17:41] patchthecode commented on #694
cool.

[2018-01-27 18:20] hartjosh opened #696 "Change the properties of future cells on a single cell selection"
Using 7.1.5.

I want to change the properties of future dates when a user selects a date.  I was looking at the dateRange stuff and I am not sure that will fulfill the requirements for the task I have at hand.

Practically what I need to do, is after the user taps on a date, is highlight future dates (for shipping and handling purposes).  So user orders something on tuesday and I want to highlight

[2018-01-27 19:53] patchthecode commented on #696
Hmm.
Yes you can highlight future dates.

First, you must have your calendar to enable multiselection. You can do this in your viewDidLoad()
[code]
Assuming you have an array of `[FutureDates]` in an array ready,
in your `didSelectDate` function, you can call
[code]

This will deselect the old future dates if, select the new future dates that should be selected.
Not sure if this helps?

[2018-01-28 19:45] gggruse commented on #581
Concerning this question,  implementing the headers inside the cell will help get the right day of the week inside the cell, but wouldn't the gap between the 31st and 1st still exist?

[2018-01-28 21:23] patchthecode commented on #581
@gggruse No. If you setup you configuration [like the first post](https://github.com/patchthecode/JTAppleCalendar/issues/581#issue-263479463) there will be no gap :)

[2018-01-28 21:53] gggruse commented on #581
Thanks, I think I have it close to working now, I was using that
configuration but it was in a collection view in a story board like was
shown in your sample videos.   That CrowdCalendarTest.zip
<https://github.com/patchthecode/JTAppleCalendar/files/1369637/CrowdCalendar
Test.zip>  they provided in this post showed an approach where the calendar
view was dynamically created.  Using it as a guide I

[2018-01-28 23:24] patchthecode commented on #581
hey can you show me the website where you found that link for -> CrowdCalendarTest.zip ?

I do not know about any crowd calendar :/ ?

[2018-01-28 23:31] mymikemiller opened #697 "cornerRadius isn't creating a circle for the cell background"
I've been following the video tutorial with the latest version and the little yellow circle that's supposed to be in the background of the dates when selected is not properly turning into a circle.

It seems to have something to do with the combination of cornerRadius and the constraints. I have everything set up as it is in the tutorial and I'm getting a slightly-rounded-cornered-square instead o

[2018-01-29 00:32] gggruse commented on #581
It was posted in the issue tracker:
https://github.com/patchthecode/JTAppleCalendar/issues/584

From:  JTAppleCalendar <notifications@github.com>
Reply-To:  patchthecode/JTAppleCalendar
<reply+0010095c569c17e8d1f9b8a152ebbfa46cbd1784d8a81cc592cf0000000116861db99
2a169ce0fb460a7@reply.github.com>
Date:  Sunday, January 28, 2018 at 6:24 PM
To:  patchthecode/JTAppleCalendar <JTAppleCalendar@noreply.g

[2018-01-29 00:44] patchthecode commented on #581
Ah thanks. I remember now. This was some time ago.
Have a good one.

[2018-01-29 01:17] rvirta opened #698 "selectDates() doesn't always deselect previous date"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

[2018-01-29 01:21] rvirta commented on #698
Hi,

I'm using a button to sroll back to today and select today, but I've run into a situation where it leaves the previously selected date also selected, or does not hide the selectedView used to mark selection. The code for the button is simply
[code]
and I don't have any idea what else could be affecting it. It only seems to hapen on this particular date, nowhere else. It's the 29th today, and

[2018-01-29 01:22] rvirta commented on #698
Version 7.1.5 :)

[2018-01-29 03:16] patchthecode commented on #698
Can you paste me your `willDisplayCell` code ?

[2018-01-29 05:11] ThilinaHewagama opened #699 "Selected date in previous month not getting deselected even if user click on a date in other month."
JTAppleCalendar pod version 7.1.5

**Step 1:** Click on last date of the current month.
**Step 2:** Scroll to next month.
Observation: You can still see a date in last month is selected.
**Step 3:** You select another date in calendar.
Observation: Two dates are selected in same screen. _(Previous's month's selected date not getting deselected)_.

**Preview LINK:** [https://ibb.co/mKTwUG](https://

[2018-01-29 05:54] patchthecode commented on #699
@ThilinaHewagama
can you show me the source code for your `willDisplayCell` function ?

[2018-01-29 06:07] ThilinaHewagama commented on #699
sure. It's empty.
Preview: https://ibb.co/kEDdbw

[2018-01-29 06:11] patchthecode commented on #699
can you implement it to this? -> https://github.com/patchthecode/JTAppleCalendar/issues/553
Its important and was stated on the main page 🙃
Let me know if your issue was resolved.

[2018-01-29 06:43] ThilinaHewagama commented on #699
That worked! Thank You for your time.
I followed this tutorial, https://www.youtube.com/watch?v=Qd_Gc67xzlw. That's not updated I think.

[2018-01-29 06:48] #699 closed

[2018-01-29 07:06] patchthecode commented on #699
Yea its cool.
Its sad i cant just edit the vid and re-upload.
have a good one man.

[2018-01-29 18:48] mymikemiller commented on #697
I figured this out. I wasn't properly setting the minimum line spacing and minimum inter-item spacing, which resulted in the circle getting cut off by the cell:

        calendarView.minimumLineSpacing = 0
        calendarView.minimumInteritemSpacing = 0

[2018-01-29 18:48] #697 closed

[2018-01-29 19:43] patchthecode commented on #697
I was gonna get to that today.
Glad you figured it out. cool.

[2018-01-30 11:19] josjevv commented on #557
Hi,

initially I could not reproduce it either. I kept adding functionality in the example project from the real app. It turns out it starts happening when I added Variations in storyboard based on height. See this example project I have setup for you: https://github.com/SocialSchools/JTAppleCalendarRotationTest

In the (main) storyboard, there is a Main Stack View, which is Vertical by default an

[2018-01-30 18:14] hartjosh commented on #696
Is there a specific way to reload all visible dates?

[2018-01-30 19:43] Nsglidden opened #700 "UIPickerView & JTAppleCalendar"
Hello,

SUPER great library, I am just beginning to code and I love your tutorials. I do have a question on configuring the calendar. I followed and completed your tutorials, and made a working calendar.
Then, I had an idea..

What if I wanted to use a UIPickerView instead of a UICollectionView, that way users could drag until the desired date was in focus?

I attempted to do this and I can't make

[2018-01-30 21:46] patchthecode commented on #700
Hmm. That would not be possible.
That UICollectionView has a `UICollectionViewLayout` under the hood which i use to calculate and change the way the layout looks based on the developers use-case. Without this being present I do not think it can work with a UIPickerView. This is my thought on it.

However, maybe i might be mistaken. Probably if you show me an image of what you are trying to accompl

[2018-01-30 21:50] patchthecode commented on #696
Just use.
[code]

But if you properly implementedthe following funcitons:
1. didSelect
2. didDeselect
3. CellForItemAt
4. WillDisplayCell

Then the library should correctly reload the dates you want **if those dates relate to selection**.
If your future dates are just random dates you chose however, then `calendarView.reloadData` should just reload every thing on the screen (the visible dates)

[2018-01-31 03:09] NigelWD opened #701 "Strange spacing when running app on calendar and also not able to swipe to another month."
I have a strange issue. After following your first two video tutorials, I can't seem to get my calendar to work exactly right. My two problems are fixing this strange spacing I have, as well as getting my calendar to scroll. I am on the most recent version of JTAppleCalendar(1.7.5) Here is a picture of the spacing as well: https://imgur.com/a/ZQRqR  (sorry for the messy code below, some things wou

[2018-01-31 03:35] patchthecode commented on #701
do you have a sample app that i can look at with this problem? If so give me the link.
But from the looks of it, it looks like constraint issues. Have you properly set all your constraints on storyboard?

[2018-01-31 03:59] NigelWD commented on #701
I think the constraints should be good. Here's a demo: https://drive.google.com/file/d/1Bh3zXGELbqYlre47z1JrP_eQ6tDnVKER/view?usp=sharing

[2018-01-31 09:42] patchthecode commented on #701
You accidentally mapped your cell's selected view to your calendar view.
Delete this reference outlet and map it back to to the correct view and all will be well.
Closing this issue.

[2018-01-31 09:42] #701 closed

[2018-01-31 09:53] patchthecode commented on #701
Also, you will encounter problems if you do not implement the `willDisplayCell` function properly.
Instructions were stated on the main page -> #553

[2018-01-31 09:54] patchthecode commented on #698
closing this issue. As i believe you might have not implemented the `willDisplayCell` function as stated non the main page. Instructions are here -> #553

[2018-01-31 09:54] #698 closed

[2018-01-31 23:51] #700 closed

[2018-01-31 23:51] patchthecode commented on #696
closing issue.

[2018-01-31 23:51] #696 closed

[2018-02-01 00:40] NigelWD commented on #701
Thank's for that fix, and I implemented your code from #553. Now my date's do not appear until clicked, any idea on this?

[2018-02-01 01:19] patchthecode commented on #701
you'd have to paste me your `willDisplayCell` code

[2018-02-01 01:20] NigelWD commented on #701
`extension CalenderViewController: JTAppleCalendarViewDelegate {
    func calendar(_ calendar: JTAppleCalendarView, willDisplay cell: JTAppleCell, forItemAt date: Date, cellState: CellState, indexPath: IndexPath) {
        // The code here is the same as cellForItem function
        let cell = cell as! CustomCell
        cell.dateLabel.text = cellState.text
    }

    // Display the cell
    func

[2018-02-01 01:27] patchthecode commented on #701
the instruction said that the `willDisplayCell` and the `cellForItem` should have the same code.
Therefore your code should look something like this

[code]

[2018-02-01 01:32] patchthecode commented on #557
ok. will take a look.

[2018-02-01 02:25] NigelWD commented on #701
I found where the error is happening, somewhere in these line they cancel each other out.

[code]

[2018-02-01 11:21] georgbachmann opened #702 "Is there one delegate callback if the selected dates have changed? Not didDeselectDate and didSelectDate"
Hello,
I am using Version 7.1.5 of JTAppleCalendar
I am wondering if I just didn't see it... There are delegate methods for `didSelectDate` and `didDeselectDate`... but there is nothing like `selectedDatesDidChange` or so, right?

I am asking because:
I have a date selected
Now I select a new date
that triggers the `didDeselect` and then right after that the `didSelectDate`...

I'd be reloading my

[2018-02-01 15:38] patchthecode commented on #702
hmm. cant we just use `didSelectDate` ?
This function will trigger every time `selectedDatesDidChange`.
Unless i am missing something in your question?

[2018-02-01 19:08] Reecelandry opened #703 "after i updated to 10.13.1 and update Xcode 9.1 i keep getting Type 'ViewController' does not conform to protocol 'JTAppleCalendarViewDelegate', it didn't do this before i updated help please"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

[2018-02-01 19:21] patchthecode commented on #703
click on the erroe. XCode should tell you what you are missing in order to conform the protocol.
But i suspect that you are missing the `willDisplayCell`` function mentioned here #553

[2018-02-01 19:34] Reecelandry commented on #703
Thanks and what code should go in the 2 methods? The willDisplayCell and
the other one?

On Thu, Feb 1, 2018 at 11:21 AM JTAppleCalendar <notifications@github.com>
wrote:

[2018-02-01 21:47] patchthecode commented on #703
It was explained here in this issue -> #553

[2018-02-01 22:13] Reecelandry commented on #703
I was a little confused reading it. could you help me fill out the last
method? here is my code

extension CalendarViewController:  JTAppleCalendarViewDelegate,
JTAppleCalendarViewDataSource{

    func calendar(_ calendar: JTAppleCalendarView, willDisplay cell:
JTAppleCell, forItemAt date: Date, cellState: CellState, indexPath:
IndexPath) {

        <#code#>

    }

func calendar(_ calendar: JTApp

[2018-02-01 23:46] mymikemiller commented on #56
Somehow @dbmrq was able to completely eliminate the cells representing dates in the previous and next months, as he asked in Question 2 [here](https://github.com/patchthecode/JTAppleCalendar/issues/56#issue-162221658).

You mention that the solution is in the [wiki](https://patchthecode.github.io/CommonQuestions/), but I don't see any questions relating to this behavior.

You mention [here](https:

[2018-02-02 01:59] patchthecode commented on #56
@mymikemiller

Yes, this was implemented long time ago.
What do you want to do with those cells?

Disable them? (make them unclickable)
Or make them invisible?

Best thing to do is, Show me a screenshot of the calendar you want, and i wil ltell you the configuration.

[2018-02-02 04:36] mymikemiller commented on #56
I'm looking to get a calendar essentially exactly like the picture @kristophM posted [here](https://github.com/patchthecode/JTAppleCalendar/issues/56#issuecomment-228471736), where the dates from the previous and next month don't show up (and aren't clickable). If I turn generateInDates off, the first of the month appears as the first cell instead of under the proper day header, and if I set it to

[2018-02-02 04:52] patchthecode commented on #56
I think youre finding older comments. The blank space can be there if you want. Or they can totally dissappear if you want. 😁

in regards to the dates, hiding them is easy.
just set their isHidden = true.

so in your cellForItemAtIndexPath function, you will do something like:

[code]

[2018-02-02 05:01] mymikemiller commented on #56
That works perfectly. Thanks!

I was expecting to be able to toggle the display of those cells by changing generateInDates and generateOutDates.

Thanks for the help!

[2018-02-02 05:13] patchthecode commented on #56
@mymikemiller nah.
You WANT the cells to be generated, but you just want them hidden.
cheers man 🍻

[2018-02-02 07:09] georgbachmann commented on #702
Hey there,
but what if the user wants to unselect a date and afterwards there is no more date selected? (Even though I don't yet know how to unselect a date :) cause selecting it again will keep it selected...)
cheers,
Georg

[2018-02-02 07:42] olufolarin92 opened #704 "Up to date tutorial for the latest version (7.1.5)"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

I have installed the latest version of JTAppleCalendar using Cocoapods (7.1.5) however I can't find a clear error free working tuto

[2018-02-02 09:02] patchthecode commented on #704
the tutorials online work.
But since the tutorials were done one part of the code was updated.
You need to implement the function called `willDisplayCell`. The instruction were given on the main page of thig github  project. Here it is --> #553

[2018-02-02 09:05] patchthecode commented on #702
This calendar was build from a UICollectionView and therefore it has the same properties.
If you want cells to be deselected when you tap them again, you'll have to set multiselection = true.

[code]

[2018-02-02 09:14] georgbachmann commented on #702
I updated my answer, so your Email-Notification might have been old :) sorry...
I figured that out already... but still... simply observing `didSelectDate` would not trigger if you unselect the last selected date...

[2018-02-02 09:46] olufolarin92 commented on #704
Okay, thank you very much for the quick reply. Just for clarification, what is the testCalendar in the if statement,  and where is it defined? (referring to the sharedFunctionToConfigureCell function)

[2018-02-02 16:05] strike65 opened #705 "Need a hint to use CellState.cell"
Hi!

I'm using version 7.1.5.

Maybe a stupid question, but how can I get a cell of the calendar view. I've created a subclass from JTAppleCell (MyCalendarCell). Using

[code]
returns the cell state as expected. But I'm not be able to get the cell itself. It's highly possible, that I'm doing something wrong due to my lack of knowledge. When I try to get the cell by
[code]

"cell" contains a kind o

[2018-02-02 18:14] patchthecode commented on #705
i think it returns a function.
therefore, call
[code]
However, please note that the cell will be `nil` if it is not visible on the screen.

[2018-02-02 18:15] #705 closed

[2018-02-02 18:18] patchthecode commented on #704
ok, you can put what ever code you have in there.
But in my sample code, testCalendar = a calendar instance (not the JTAppleCalendar library).

[code]

After you **configure** it, you can use it to find out if the date you have is "today" date.

[2018-02-02 18:28] patchthecode commented on #702
@georgbachmann ok, i see what you mean.
You want a unified function that detects on if a function is selected, or if a function is deselected.
hmm.. I didnt do this beacause I wanted the lib to be as close to a UICollectionView as possible.

I know dateChange detection  is split into 2 functions, but dont blame me, blame Apple 😅. They dont have a unified funciton detecting changes on their UIColle

[2018-02-02 18:56] olufolarin92 commented on #704
Do you have a zip to the sample code, or something I can run with just a simple configuration so I can compare it with what I have to get to the issue my demo is giving me. Because I updated the protocols but still get the same thread error when I add in calendarDataSource = self and calendarDelegate = self. A basic demo would be greatly appreciated because I'm eager to add this framework to my de

[2018-02-02 19:16] strike65 commented on #705
Thanks for your quick response. I'll try it tomorrow... Will report the result.

Thanks again!

[2018-02-02 22:52] patchthecode commented on #704
This guy createed a calendar with this library -> https://github.com/patchthecode/WLAppleCalendar
Also we have a sample project attached to this github repo.
If you still need a simpler sample app. I can create one.
Does it help?

[2018-02-02 23:03] Reecelandry commented on #703
I downloaded your xcode project and dragged that forder into my project and
i got it to work. Thanks

On Fri, Feb 2, 2018 at 2:53 PM JTAppleCalendar <notifications@github.com>
wrote:

[2018-02-02 23:04] patchthecode commented on #703
awesome. closing this issue :)

[2018-02-02 23:04] #703 closed

[2018-02-03 08:02] strike65 commented on #705
It works. It was so easy. Did not see the forest for the trees.

Thanks!

[2018-02-03 09:33] patchthecode commented on #705
awesome.

[2018-02-05 07:21] georgbachmann commented on #702
Hey @patchthecode ... sure... I do it that way currently :) But it will trigger one reload that would be sensless... but never mind... :)
I already have an idea on how to solve the problem...
Thank you anyway!

[2018-02-05 08:00] patchthecode commented on #702
awesome.
i do not think that it has to do a reload needlessly. But if you've solved it. awesome.
closing this issue.

[2018-02-05 08:00] #702 closed

[2018-02-05 19:17] uholland commented on #179
Actually even the Apple Calendar App is displaying week numbers in Germany. Weeknumbers would be awesome.

[2018-02-05 19:45] uholland opened #706 "a willScrollToDateSegmentWith with the parameters of didScrollToDateSegmentWith"
Hi,
I would like to adjust the visible height of the calendar in dependence of the row count of .thisMonth days. But animating this after the scrolling of a month page is done doesn't look tight. So it would be ace if you could call a willScrollToDateSegmentWith as soon as the user releases the touch with the same params as didScrollToDateSegmentWith so that I could start animating earlier. It's j

[2018-02-05 20:27] patchthecode commented on #706
can this example calendar help you? https://github.com/patchthecode/WLAppleCalendar

[2018-02-05 20:31] uholland commented on #706
Yes, that's what I want to achieve. But this calendar got exactly the issue I'm talking about. The lower frame starts animating when the scrolling of the calendar is DONE. I want to start the animation the lower frame when user releases the finger on scroll (like the Apple Calendar behaves).

[2018-02-05 20:44] patchthecode commented on #706
hmm..
ok, i'm @ work now. let me think on this

[2018-02-05 20:48] uholland commented on #706
Awesome, thanks!

[2018-02-06 01:28] JettF commented on #557
I am seeing this issue too. I'll see if I can drum up an example project that replicates it.

[2018-02-06 07:29] kevintorch commented on #284
'SelectionType'  is ambiguous for type lookup in this context... i do i solve it

[2018-02-06 07:30] patchthecode commented on #284
in what file is this error?

[2018-02-06 07:32] kevintorch opened #707 "Ambiguous for type lookup in this context"
After installing manually and building...it says 'SelectionType' is ambiguous for type lookup in this context...
how do i solve it

[2018-02-06 08:03] patchthecode commented on #707
In what file are you seeing this error?

[2018-02-06 08:33] kevintorch commented on #707
CalendarEnums

[2018-02-06 08:33] kevintorch commented on #707
in CalendarEnums.swift file

[2018-02-06 09:17] kevintorch commented on #707
i solved it... i had 'CVCalendar' installed in my project. and 'CVCalendar' also has the type 'SelectionType'...so thats why it was ambiguating with your 'SelectionType'... so i remove the CVCalendar and it runs perfectly

[2018-02-06 09:17] #707 closed

[2018-02-06 10:11] josjevv commented on #557
is the sample project I provided not applicable for you? https://github.com/SocialSchools/JTAppleCalendarRotationTest

[2018-02-06 10:26] patchthecode commented on #557
It is. I just got super busy this week.
Will take a look soon ok.

[2018-02-06 10:47] josjevv commented on #557
hi, sorry the comment was meant for @JettF. Take it easy, I am already glad you can look into it.

[2018-02-06 17:01] dotWasim opened #708 "Cannot assign value of type 'CalenderController' to type 'UICollectionViewDelegate?'"
I am trying to create a calendar programmatically but it shows this error "Cannot assign value of type 'CalenderController' to type 'UICollectionViewDelegate?'"
[https://www.dropbox.com/s/gs1bda6sfpeyqva/Screenshot%202018-02-06%2018.57.09.png?dl=0](url)

and here's my code

[code]

Anyone can help ?

[2018-02-06 20:10] patchthecode commented on #708
this is not a collectionView

[code]

it is a `JTAppleCalendarView`

[2018-02-06 21:08] dotWasim commented on #708
@patchthecode thanks for your response, I already commented the setupCollectionView method. I am using
`    var calender = JTAppleCalendarView()
`

[2018-02-06 23:07] JettF commented on #557
@josjevv after looking at it, your project is applicable to me. My mistake.

[2018-02-07 00:17] patchthecode commented on #708
@dotWasim can you provide a sample app with your code? sned me githublink. I can fix really quicky if is have a sample project.

[2018-02-07 05:59] eunjin3786 opened #709 "5"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

[2018-02-07 06:00] #709 closed

[2018-02-07 07:12] dotWasim commented on #708
@patchthecode Thanks, I pushed a sample app here
https://github.com/dotWasim/CalendarSample/tree/master/SampleCalender

[2018-02-07 08:56] patchthecode commented on #708
[code]

closing this issue :)
cheers man 🍻

[2018-02-07 08:56] #708 closed

[2018-02-07 13:58] divbyzero commented on #548
JTAppleCalendar/Sources/InternalActionFunctions.swift [7.1.5 and master]

[code]

extraAddedOffset - the parameter is not used in this method.

The issue is not resolved.

[2018-02-07 17:54] patchthecode commented on #548
@divbyzero
hmm...
what command you running that ends up at this code path?

[2018-02-07 21:40] divbyzero commented on #548
I used this settings:
[code]

and this method:
[code]

[2018-02-08 07:01] cvindhani opened #710 "scrollToDate()"
Hi,
I'm using latest pod version 7.1.5 and having issue with scrollToDate() func.
Whenever I'm passing current date into scrollToDate() and calls the func, it's directly jumps into next month of passed current date. I'm unable to determine what's wrong. I'm following steps for do so.
Can you please help me out to get this fixed.?
Thanks in advance.