[2017-07-10 05:33] hemangshah commented on #216
@almatri, how did you created that gradient navigation bar? Btw, your design looks cool.

[2017-07-10 07:05] almatri commented on #216
@hemangshah

First: I created a function for CAGradientLayer to create gradient colored layer for specific bounds

    extension CAGradientLayer {
    class func gradientLayerForBounds(bounds: CGRect, colors: [CGColor], locations: [NSNumber], startPoint: CGPoint, endPoint: CGPoint) -> CAGradientLayer {
        let layer = CAGradientLayer()
        layer.frame = bounds
        layer.colors = colors

[2017-07-10 16:44] dmholmes commented on #216
![events](https://user-images.githubusercontent.com/4871/28029275-1ecb2498-6565-11e7-8d4f-ef53ae864108.png)

Events calendar used in our patient and employee app. Thanks!

[2017-07-10 17:52] fweathers commented on #474
Unfortunately i am using it in an app for work which i am unable to send over. However, I am going to try and make a quick side project with it to send to you. Thank you for your quick responses

[2017-07-11 03:48] HermantoTang opened #480 "White vertical line in calendar"
Hi, I'm using the latest version (7.0.4) and experiencing issue similiar to #26, #205, #227
Here is the screenshot (using iPhone 5s device)
![img_0614](https://user-images.githubusercontent.com/16204739/28049467-c82b4bf0-6621-11e7-9963-ffab004a3b10.PNG)
And here is my setup
[code]

I have a view inside cell for coloring selected date, the view constraint is set to fill the cell (top, left, bottom,

[2017-07-11 04:06] hemangshah commented on #216
@almatri, thank you so much!

[2017-07-11 04:54] patchthecode commented on #480
That vertical line is the same as you will get if you implement any other UICollectionView.

To get rid of it, simply set the width of the `calendarView` to be something that is divisible by 7 such that the value is not a recurring decimal value.

Look on [This Link](https://github.com/yonasstephen/swift-of-airbnb) on how this guy does it with his collectionView
On that link look for the line that

[2017-07-11 10:05] HermantoTang commented on #480
I tried to apply the solution, it seems like it only works if the calendar is full width (same as device width)
In my case, calendar is showed like a modal which is why i wrapped calendar inside another view with padding (like the photo in my previous post), it's not working if i divide my wrapper by 7
[code]
And also if i remove my wrapperView and apply full width to my calendar, my header is als

[2017-07-11 13:30] patchthecode commented on #480
The answer is not to divide by seven. The answer is to set the calendar's width to a size that is divisible by seven without a recurring decimal place.

in your code, can you tell me what is the value of this? -> `wrapperView.frame.size.width`

[2017-07-11 21:56] davidseek commented on #471
i assume he is talking about a view to set events for "hours" within a day

[2017-07-12 02:25] HermantoTang commented on #480
``wrapperView.frame.size.width`` is 315 regardless of devices
I then apply this
[code]

[2017-07-12 02:34] patchthecode commented on #480
Hey can you join gme here? https://gitter.im/patchthecode/JTAppleCalendar

[2017-07-12 02:36] patchthecode commented on #471
Hmm.. nice feature, but i do not think this library will support it.
I think it will be doing too much on this one control.
Unless maybe you guys can suggest a way to do it without cluttering code? :) 🍻

[2017-07-12 07:43] HermantoTang commented on #480
I apply [this](https://github.com/Juanpe/JTAppleCalendar/commit/f3edaa54407c295468caf650e13c73b917ba4deb) as you suggested and its working fine right now. Haven't spot any issue so far

Thanks

[2017-07-12 11:07] ahmedraad opened #481 "Highlight day if the date equal to date in array"
I have an array of object contains bookings

[code]

So I need to check if cell date is equal to some date in bookings array then change cell color for this date in cell.

I have tried this way down below but didn't work:

[code]

[2017-07-12 22:03] Methos456 opened #482 "JTAppleHeaderView"
Version 7.0.4

First I am sort of new to iPhone programming and the JTAppleCalendar is a great learning tool..  I have my calendar looking sort of the way I would like; however, I am trying to use a Header.  I cannot seem to find the class JTAppleHeaderView anywhere in the Pod download.

Any help is appreciated..

[2017-07-12 22:07] patchthecode commented on #482
can you check out the example app attached to this project?

[2017-07-12 22:14] Methos456 commented on #482
Wow.. That was quick.. thanks!   Some other examples I have seen had the header class of type "JTAppleHeaderView" which I could not locate...

I will try the the JTAppleCollectionReusableView ..

Thanks Again!

[2017-07-13 02:22] patchthecode commented on #482
Cool. closing this issue.
If you still need help here then let me know.

[2017-07-13 02:22] #482 closed

[2017-07-13 04:29] dbmrq commented on #470
@patchthecode Any news on this?

[2017-07-13 05:54] patchthecode commented on #470
@dbmrq real busy 3 weeks. Will be just a bit free this weekend. Will take a look. No worries.

[2017-07-13 07:04] #480 closed

[2017-07-13 07:39] dbmrq commented on #470
Alright then, thanks. :)

[2017-07-13 16:49] Dansong00 opened #483 "How can i stop the calendar from scrolling passed the end date?"
How can i stop the calendar from generating new sections after the end date?

[2017-07-13 17:08] patchthecode commented on #483
let me know if this solution works for you -> https://github.com/patchthecode/JTAppleCalendar/issues/365

[2017-07-13 17:21] Dansong00 commented on #483
hey @patchthecode thanks for the quick response! i actually saw that solution earlier and implemented it, but the project requirements would prefer a solution where the calendar doesn't scroll back to the start date but rather just stop generating new rows and sections and rather allow the user to simply scroll back up.

[2017-07-13 18:24] patchthecode commented on #483
ok. So let me know one thing.
Is it a vertical or horizontal calendar?

Also, one thing, let me know if the following is true.
1. the boundaryd ate solution works
2. but you would not like to see any generated dates behind the boundary

?

[2017-07-13 19:48] Dansong00 commented on #483
This is a vertical calendar. Yes to both of your other questions. @patchthecode

[2017-07-13 19:55] patchthecode commented on #483
Then can you implement the solution, but make one addition.

And date that is after the boundary date, set its `isHidden = true`
That way, it will behave the same, the generated dates after the boundary will not be visible.
Will this work?

[2017-07-13 20:26] Dansong00 commented on #483
So what happens there is the cells after the end date are hidden but you can still keep scrolling to blank sections.

[2017-07-14 16:40] patchthecode commented on #483
@Dansong00

I do not understand this part. How can you still keep scrolling to blank sections if the boundary code prevents this?  Have you got a quick gif/mov file i can look at, or maybe if you can create a quick sample project with the issue.

[2017-07-14 16:42] rajhcss commented on #476
I am facing a similar issue - all cells are not reloading i.e. the cellForItemAtIndexPath is not executed for all cells.  I call reloadData(completionHandler: nil) when a date/cell is selected to update all the cells in the currently displayed month.

Depending on the date or range of dates selected, some cells are disabled based on some business rules.  I implemented selecting a date range when w

[2017-07-14 16:55] parthasarathim commented on #476
this only happens, If you do
`calendarView.selectDates(dateToBeSelected)
                calendarView.reloadData()`

This is because the `calendarView.selectDates` is not having completionHandler.

This can fixed for time being
`calendarView.selectDates(dateToBeSelected)
    DispatchQueue.main.async {
            calendarView.reloadData()
}`

[2017-07-14 17:52] rajhcss commented on #476
Thanks, Partha.  But your solution does not work in my case.  I do not use the function "calendarView.selectDates(dateToBeSelected) ".  I instead use the didSelectDate delegate function, inside of which I call the reload.

[2017-07-14 17:54] parthasarathim commented on #476
try doing this inside`didSelectDate`
[code]

[2017-07-14 18:02] rajhcss commented on #476
Yep, already tried that.  Does not work.  Thank you.

[2017-07-14 19:18] rajhcss commented on #476
I think I may have found the issue in my situation.  It is, I believe, a bug.

In the below function, not all indexPaths are reloaded.  ```public func collectionView(_ collectionView: UICollectionView, didSelectItemAt indexPath: IndexPath)```

When I comment the code below, all cells are reloaded ```        if !pathsToReload.isEmpty {
            self.batchReloadIndexPaths(Array(pathsToReload))

[2017-07-14 23:18] rajhcss commented on #253
I am still getting nil in the following function ```print(cellState.cell())```

[2017-07-14 23:20] patchthecode commented on #253
@rajhcss provide a sample project?

[2017-07-15 06:59] johnharutyunyan commented on #481
Please answer this question , I have same problem for this

[2017-07-15 07:55] patchthecode commented on #481
try to use a dictionary inplace of an array  if possible. = less looping
try to compare date strings instead of actual date values. This is easier especially if you format the string without hh:mm:ss

[2017-07-15 08:24] johnharutyunyan commented on #481
I have events array which contain Event model (with eventDate property )
I get it from server and want to fill in calendar , but I can't , cuz I have problem with indexPath.
Can you show me example code for better understanding.
Thanks...

[2017-07-15 13:12] johnharutyunyan commented on #481
Guys, I solved this problem like this.
I have array of dictionaries with `'date'` // dates are that array which I get from server

// Format Cell Date without 'hh:mm:ss' , e.g 2017-07-15
`let currentDate = CBDateFormatter.getCurrenEventDate(with: cellState.date)`

[code]

Thank you so much for fast response

[2017-07-15 13:18] RoshaniDias commented on #481
I have the same problem. Where did you implement this?

[2017-07-15 13:28] johnharutyunyan commented on #481
You can do it in datasource function

`func calendar(_ calendar: JTAppleCalendarView, cellForItemAt date: Date, cellState: CellState, indexPath: IndexPath) -> JTAppleCell`

but using in Custom cell class best practice.

For example

`cell.fill(with: cellState, dates: dates)`

Hope it'll help .
Say me if you have any question

[2017-07-15 13:39] RoshaniDias commented on #481
is your 'dates' array Any<Any> type?

[2017-07-15 13:52] johnharutyunyan commented on #481
No, like this
`var dates = [Dictionary<String, AnyObject>] () `

[2017-07-15 13:56] johnharutyunyan commented on #481
I get it from server , the request manager give me all dates from Server , I parse it like this

[code]

[2017-07-15 14:01] RoshaniDias commented on #481
Thanks,, In my case I am getting start date and end date in the array of dictionaries. And I want to highlight in between dates. Do you have any idea to implement that?

[2017-07-15 21:35] ahmedraad commented on #481
@johnharutyunyan you're awesome, thanks for solution

[2017-07-16 15:21] johnharutyunyan commented on #481
@RoshaniDias,  I think  better solution is get key / allKeys from dictionary and compare with start and end date.
Let me know if I can help .

[2017-07-16 15:22] johnharutyunyan commented on #481
@ahmedraad , you're welcome , thank you too

[2017-07-16 18:19] zuaaef commented on #481
@johnharutyunyan @ahmedraad @RoshaniDias i think he put it in this video -> https://www.youtube.com/watch?v=CQNotydm58s

[2017-07-17 06:31] patchthecode commented on #474
There is an example video [Here](https://www.youtube.com/watch?v=CQNotydm58s) now to explain this. Does it help?

[2017-07-17 06:39] johnharutyunyan commented on #481
@zuaaef  cool , thank you!

[2017-07-17 07:02] SteveTIS commented on #401
Good day
I use the same version of Swift & XCode, and got the same error shown above.

I am following the replies of "Crash issue #401" , but I did not find the solution for the Crash issue.
Where I could find the solution?

Thank you so much!

[2017-07-17 09:22] yeziahehe opened #484 "Calendar load slow"
I use selectDates function in viewDidLoad()，just set unordered Array from year 2015-2017，but it slow。
[code]

[2017-07-17 14:30] patchthecode commented on #401
@SteveTIS did you build you projecct from scratch as shown in the video play list? -> [Here](https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q)

I have noticed that sometimes when this happens, it is because devs just copy the project. Let me know in which part of the vid tutorials it fails for you. Then i can know at which step a mistake was made.

[2017-07-17 14:33] patchthecode commented on #484
is it still slow if you change this part?

[code]

[2017-07-17 14:33] patchthecode commented on #481
closing this issue. If there are still problems here, let me know and i will re-open this and help solve it.

[2017-07-17 14:33] #481 closed

[2017-07-17 14:34] patchthecode commented on #474
Been 7 days. I'll close this issue until further input is provided.

[2017-07-17 14:34] #474 closed

[2017-07-17 15:40] Dean151 opened #485 "Release the 7.0.5 version"
Please, do :)

[2017-07-17 16:49] yeziahehe commented on #484
SafeDispatch just the func DispatchQueue.main.async.

I remove SafeDispatch then it still slow, then i annotate **calendarView.selectDates(historyDateArray)**, this question will be sloved.

so i think the reason make slow is selectDates, but i don't know why.

[2017-07-17 22:08] patchthecode commented on #484
How many dates are you selecting?

[2017-07-17 22:12] patchthecode commented on #485
haha. okok.
You use carthage right?
I think when we last spoke, it had a problem to do with the version number on the podfile? (if i remember correctly..i hope)

So what i can do is bump the version number back down on master branch so that you can use it.
Will this work?
Reason for the release delay is because i was tied up with other projects. And I didnt want to release 7.0.5 without fully test

[2017-07-18 01:40] yeziahehe commented on #484
http://gank.io/api/day/history
This api back data.

Project you can download [repo](https://github.com/yeziahehe/Gank), HistoryViewController you can find selectDates.

[2017-07-18 05:04] patchthecode commented on #484
Thank you.
Do you want it faster?
Is this ok?
[code]

[2017-07-18 06:53] yeziahehe commented on #484
it has work, but may still a little lag.

so which is the delegate func of triggerSelectionDelegate ?

[2017-07-18 07:52] Dean151 commented on #485
I can also try the 7.0.4 version on my release, see if it fit my needs. I don't really know what you fixed in the 7.0.5 version.
It's just I can't release a version of my app without "fixing" the version number in it. (we manually update version number and test everything to be sure !)

Yes, I do use Carthage.

[2017-07-18 09:17] DanteEvil opened #486 "How to implement inside headers scrollable?"
I'm using the latest version and want to have a scrollable inside header for my custom calendar. I've read this example but it seems doesn't work anymore.
https://patchthecode.github.io/Headers/

[2017-07-18 09:52] jokerham commented on #419
I have the same problem. These are the images of the problem.

Todays date = 2017/07/17. If I call scrollToDate Today, this is what it happens.
1. Start date = 2017/06/01
![screenshot 2017-07-18 5 40 49](https://user-images.githubusercontent.com/8528842/28310853-57f00b86-6be0-11e7-9c3c-b3c45b0f422d.png)
2. Start date = 2017/05/01
![screenshot 2017-07-18 pm 5 42 16](https://user-images.githubuserco

[2017-07-18 11:41] zuaaef commented on #486
@DanteEvil look at the last video in this play list -> [Here](https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q)

[2017-07-18 11:49] patchthecode commented on #470
@dbmrq what profile tool were you using to see the memory? I just have a chance to look at this.

[2017-07-18 15:16] jokerham commented on #419
Just realized that if I call the method twice, it finds it place correctly.

[2017-07-18 15:24] jokerham commented on #419
Just realized that it shows correctly if I call the function twice. Wonder why.

[2017-07-18 16:23] rajhcss commented on #253
Hi JT, thanks for your reply.  I probably found the issue.  I modified your code slightly and it seems to work.  Sorry I cannot provide the source code that I am working on.  Please find below the modified function in the UserInteractionFunctions.swift

[code]

[2017-07-18 16:26] dbmrq commented on #470
@patchthecode At the debug panel you can sel

[2017-07-18 16:29] dbmrq commented on #470
Oops, that was an accident, I'm on my phone. 🤦🏻‍♂️

Anyway, at the debug panel you can select Memory and you'll see the charts I sent, and then you can select "Profile" on the upper right corner for a morr extensive profile.

Thanks! :)

[2017-07-18 16:39] patchthecode commented on #253
awesome.

[2017-07-18 16:44] patchthecode commented on #470
@dbmrq do you mean this?

I clicked on it, but still no charts. Lol, seems i'm noob at this.
<img width="1111" alt="screen shot 2017-07-18 at 9 43 05 am" src="https://user-images.githubusercontent.com/2439146/28329140-9ab276d6-6b9d-11e7-80a6-07d84c2b0db0.png">

[2017-07-18 16:46] dbmrq commented on #470
@patchthecode No, at the left bar where it says "CPU", "Memory" etc. just tap Memory and you'll see the chart. Then on the upper right corner you'll see the "Profile" button. :)

[2017-07-18 16:48] patchthecode commented on #470
xD i see it. thanks!

[2017-07-18 16:49] patchthecode commented on #419
@jokerham i will investigate this today.

[2017-07-18 16:52] dbmrq commented on #470
No problem. :)

Em ter, 18 de jul de 2017 às 13:48, JTAppleCalendar <
notifications@github.com> escreveu:

[2017-07-18 18:41] fweathers commented on #474
Thanks :-) sorry for the late response. Def helpful.

[2017-07-19 10:09] SteveTIS commented on #401
Yes, I built my project from scratch from your video.
I will rebuild new project using your web path

Thanks a lot for your kind reply!

[2017-07-19 18:17] etanboga opened #487 "How to lead to a daily screen with time and events when clicked on a date with events"
Hello, I am making this app where a user can log feelings whenever he / she wants. The log is written into firebase using a JSON structure like date -> time -> log. I would like to show certain feelings when a user clicks on a specific date. For example clicking on 7/16/17 would lead to a daily screen, like a table view with times of the logs (11.15 AM Happy, 1 PM Hopeful, 6 PM Strong). How can I

[2017-07-19 18:21] patchthecode commented on #487
just wondering if you looked at the last tutorial on (this play list](https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q)?

Its called **Common Questions # 1**
It think it has an example on how to load things from a server and displaying them?
If this vid tutorial does not answer your question, then can you let me know on which part you are stuck? I can help furthe

[2017-07-19 18:27] etanboga commented on #487
I did, and it does have an example, however in that example there is only one event per day, and I will have multiple logs in each day. I am having trouble getting my head around how to implement that, maybe by leading to a different screen? Is there a way to make the calendar lead to a daily view when clicked on a cell?

[2017-07-19 19:03] Dansong00 commented on #483
Sorry for the long reply so in the calendar (.... willDisplayCell... ) i set the dateCell to hidden if it's beyond the endDate.  Then what happens is i am able to continue to scroll after the end date at which point an out of index exception occurs which crashes the app.
![image](https://user-images.githubusercontent.com/2747416/28384465-d991a0d4-6c92-11e7-8a35-3eb0bc728e2c.png)

![screen recordin

[2017-07-19 22:59] etanboga commented on #487
Update: I fully set up my calendar (the part from the tutorial) and the months do not seem to update as rapidly. If you could help out with that as well, that would be amazing :)

[2017-07-20 06:00] patchthecode commented on #486
Let me know if the posted vid answers your question

[2017-07-20 06:00] #486 closed

[2017-07-20 11:32] patchthecode commented on #484
I am trying to make it faster.

Is it possible you can select less dates at the start?

[2017-07-20 15:06] fweathers opened #488 "XIb Files"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. Please state the version number of this library you are using when you create the issue.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.0.4
3. Is your question already answered in the tutorials and guides —> https://patchthecode.github.io/
4. Don't just ask a question. Provide enough inform

[2017-07-20 15:58] patchthecode commented on #488
yes it is.

[2017-07-20 15:59] #488 closed

[2017-07-20 18:25] etanboga commented on #487
Hello I think I should be good on other issues, however right now the problem is that my scrolling does not work as yours do. I have to manually scroll everywhere whereas in your app, if you scroll between months, it automatically goes to that month. In addition, when I set scroll to today's date, it shows it in between maps. I noticed there was another thread related to this issue, however I coul

[2017-07-20 18:29] cahart commented on #216
@dmholmes can you explain how you did the bottom half of the calendar? I am having trouble finding a way/documentation on how to implement events

[2017-07-20 18:37] patchthecode commented on #487
ok i'm @ work right now.
But i can take a quick look if you provide a striped down version of your porject (with no secret company code in it).
If you provide a zipped file of the project i can take a quick look, else i can only look more into it after work in 7hrs

[2017-07-20 19:22] fweathers commented on #488
Cool thanks, I used the wrong method with autofill code. But I am having trouble actually viewing the calendar bc I keep receiving an error on the 'setupNewLayout(from: collectionViewLayout as! JTAppleCalendarLayoutProtocol)' in the section for initializes using decoder object

[2017-07-20 21:38] etanboga commented on #487
Okay, I will work on it myself until the evening and I will send you the source code for the calendar setup once I come back to home. I think I will be able to fix problems other than the scrolling. Thank you so much for this support!

[2017-07-21 02:19] Chazzman commented on #216
How does on create a continuous and contiguous vertical calendar like this: https://github.com/Glow-Inc/GLCalendarView

[2017-07-21 02:24] patchthecode commented on #216
@Chazzman simply change the scroll direction of the calendar from horizontal to vertical.
I'll remove these comments here over the weekend as these are for pictures only. You can create a new issue if need something specific answered :)

[2017-07-21 02:44] Chazzman commented on #216
I apologize, I know that I am misusing this board. Did you have a chance to peek at that link? I had already figured out how to set the calendar as vertical but its the "in" and "out" days that are causing angst, If it remove them then the next month starts at the beginning of the new row not at the end of the previous row as the "out" days do. Clearly, I am missing something :(

[2017-07-21 03:22] patchthecode commented on #216
Can you open a new issue and post the link?
i think i missed the link

[2017-07-21 03:29] patchthecode commented on #469
closing issue.
let me know if other help is needed.

[2017-07-21 03:29] #469 closed

[2017-07-21 03:31] patchthecode commented on #454
So i think I have finally made a better fix.
I have pushed to master branch.
If you code works well, then I will release version 7.0.5 tomorrow.

[2017-07-21 05:05] Saruul-Ulzii commented on #216
@RushanB hello, did u added dot subview to cell, i added to subviews, but it added correct dates, also added another date cells, what did u do multiple event dots?

[2017-07-21 05:15] antonijapek commented on #469
Yeah, I still have this problem. Unfortunately, I already did everything you wrote even before I have come here asking fir help.

So there is weird space on the right side of a calendar where you can see dates in next month

[2017-07-21 05:29] patchthecode commented on #469
hmm. I wish you'd send a sample project.
i'll get you those rounded edges

[2017-07-21 05:34] antonijap commented on #469
No, don't have a problem with round edges. I have a problem with other problem I addressed here. It is weird spacing on the right side of a calendar where you can see selected day in next month.

http://d.pr/i/de2xy/2PipmaA8

[2017-07-21 05:35] hejlyeah opened #489 "every time I run and build only the month and year is displayed"
I am using the latest version of JTAppleCalendar. Every time I run and build the app the calendar does not appear. I fixed it in another project but then when I wanted to run the same build on a smaller screen size the calendar would either get cut off or not appear. Please help me find a solution please!!!!! Also Please excuse the project name lol
[fuckingBullshit 2.zip](https://github.com/patcht

[2017-07-21 06:47] patchthecode commented on #489
I think you need learn some more on your constraints. The problem was that you had a lot of conflicting constraints. Please excuse the project name. I am a Christian.
[JesusSaves5.zip](https://github.com/patchthecode/JTAppleCalendar/files/1164677/JesusSaves5.zip)

[2017-07-21 06:49] patchthecode commented on #469
if the minimum spacing didnt help. Is it possible you can send a small zipped project with all your secret code removed? I just want to see whats wrong with the selection.
I'm about to release version 7.0.5 over the weekend. I'd love to add what ever fix to your problem in there.

[2017-07-21 06:51] patchthecode commented on #489
closing this issue. If you still need help on it then let me know.

[2017-07-21 06:51] #489 closed

[2017-07-21 06:54] patchthecode commented on #473
OK. I now have time to look into this.
I'll embed this into a tabbar controller to see the effects.

[2017-07-21 11:23] RushanB commented on #216
@Saruul-Ulzii Yeah I added two dots to the calendar views' cell in storyboard and then set the colour to each programmatically. Hope that helps.

[2017-07-21 12:01] Saruul-Ulzii commented on #216
@RushanB  thank you, i am adding programatically based on data, can be possible many dots, i tried setting isHidden = false on selectedView, it works properly, just i am adding dot views to cell, correct cell filled with dots, but when scrolling up and down, other cells filling with dots, @patchthecode can u advice any tip about it?

i am adding dot views in CellAtIndex function like setColor, set

[2017-07-21 12:07] RushanB commented on #216
@Saruul-Ulzii It sounds like you you might be placing the dots inside the cell incorrectly but I'm not sure since I can't see it.

[2017-07-21 13:08] patchthecode commented on #216
@Saruul-Ulzii check out the last video in [this play list](https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q). It shows you how to setup dots.

[2017-07-21 14:06] Chazzman commented on #216
Sorry, I deleted my original post, trying to tidy up: https://github.com/Glow-Inc/GLCalendarView

[2017-07-21 14:11] fweathers commented on #488
Thank you!!!! Your calendar is GREAAATTTT!!!

[2017-07-21 14:39] patchthecode commented on #488
Haha, thank you.

[2017-07-21 15:16] patchthecode commented on #484
closing this issue until further user input.

[2017-07-21 15:16] #484 closed

[2017-07-21 15:24] flavoredtaco opened #490 "Facing difficulties of trying to add events to calendar"
I am currently using the latest version of JTAppleCalendar. After following the video series, i am still having a difficult time adding events to my calendar and having it show with a red dot. I am trying to make it so that when a user clicks on a date on the calendar, it shows the event of that day in the space below the calendar.

Any and all feedback/guidance is appreciated!!

[Progress.zip](ht

[2017-07-21 16:04] etanboga commented on #487
Hello, sorry I couldn't email you last night, I will send the email you the source code for the calendar part right now

[2017-07-21 17:00] etanboga commented on #487
I sent you an email @ patchthecode@gmail.com

[2017-07-21 17:25] hejlyeah commented on #489
Hey JT,

You are literally a lifesaver. Not quite like your Christian friend Jesus, but a lifesaver all the same:) I am using this calendar to create an app for my high school, and I want the calendar to display events upcoming whether it be a football game or a drama event. I was thinking for every item I would include a title, and a description at the minimum, maybe include another parameter/var

[2017-07-21 17:30] Chazzman opened #491 "Question: Vertical, Seamless Calendar"
Hello,

I'm trying to use the component to create a continuous scrolling, vertical calendar like the one found here: [https://github.com/Glow-Inc/GLCalendarView ](url).

I am able to create a vertical calendar easily enough but I am not able to figure out the right combination of properties to get one month to seamlessly flow into the next month. There's always some sort of break with either in/ou

[2017-07-21 17:57] patchthecode commented on #490
You have the configure cell function created, but you are not calling it.
Also, you will not be able to see your dot view, because you did not have any constraints on it.
Also, on your interface builder, you have made the class of your dotView to be `eventDotView` which does not exist, therefore when you run the app you will constantly get a warning.

Here is the fixed file. Cheers 🍻
good effort.

[2017-07-21 17:57] #490 closed

[2017-07-21 17:59] patchthecode commented on #491
@Chazzman can you join me [Here](https://gitter.im/patchthecode/JTAppleCalendar)?

[2017-07-21 18:08] patchthecode commented on #489
Haha. OK man.
I dont know how much i can help, because i am extremely tied up right now.
But, I can see what i can do after work today.

In the mean time, have you looked at this video yet? It shows you how to setup the dot views to your app -> it is the very last video [In this Playlist](https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q)

[2017-07-22 02:16] patchthecode commented on #487
i checked out the file.
This isnt an error.
Based on the image below, please select/deselect the following values of the `JTAppleCalendarView` on your storyboard.

<img width="263" alt="screen shot 2017-07-21 at 7 14 35 pm" src="https://user-images.githubusercontent.com/2439146/28487602-f1a4f5ce-6e48-11e7-8add-5aa1c5c6cd90.png">

[2017-07-22 02:23] etanboga commented on #487
I changed it and it works perfectly now, thank you so much for taking the time out of your day to help :)

[2017-07-22 02:24] patchthecode commented on #487
Awesome. Cheers mate 🍻

[2017-07-22 02:24] #487 closed

[2017-07-22 03:47] patchthecode commented on #465
Fixed on master branch. Will be released in next version -> https://github.com/patchthecode/JTAppleCalendar/commit/502d53d7a815f93e099bb2b81b4c4b6e125b26bb

[2017-07-22 03:47] #465 closed

[2017-07-22 03:56] #454 closed

[2017-07-22 03:57] patchthecode commented on #483
@Dansong00 how problematic is it for you to upgrade to version 7.0?

[2017-07-22 04:04] patchthecode commented on #491
this is easy to do here ->

in your `configureCalendar` function, put this as your configuration parameters:
[code]

This will get you your desired config.
Let me know if you are still having problems. Closing this issue now.

[2017-07-22 04:04] #491 closed

[2017-07-22 08:04] antonijap commented on #469
Go to my profile and find Period Flow 💃

[2017-07-22 11:51] LakshayNagpal opened #492 "dates with events from server not behaving as required while scrolling"
Hi Jay,
Thanks for the great library.
I am facing an issue while showing the imageview of a dot for specific dates coming from the fake server as described in your tutorial video. In my calendar, dots are placed perfectly when pressing the next and previous buttons but some of them gets removed when scrolling it back and forth.

I was trying one method in which I was selecting the dates coming fro

[2017-07-22 14:42] patchthecode commented on #492
your code is perfect.
But you are reusing the same date `formatter` all over your code.

In some places you have changed the date format to "MMMM"
therefore by the time you start scrolling the calendar, your

[code]

line has a wrong format for your calendar and there for it cant find your dates.
To solve the problem you can do either of 2 things.

1. Use 2 formatters so that it doesnt conflict
2.

[2017-07-22 14:43] #492 closed

[2017-07-22 14:49] patchthecode commented on #469
hmm. can you provide me the link? i went [Here](https://github.com/antonijap?utf8=%E2%9C%93&tab=repositories&q=period&type=&language=) but both those repositories seem to have outdated code?

[2017-07-22 15:25] antonijap commented on #469
Thanks!

here it is: https://github.com/antonijap/Period-Flow-2/tree/Development

[2017-07-22 15:39] patchthecode commented on #469
Ok found it. The scrolling is off because you might have accidentally set this ->
<img width="762" alt="screen shot 2017-07-22 at 8 38 02 am" src="https://user-images.githubusercontent.com/2439146/28492457-34477ea4-6eb9-11e7-8af7-53bde332213a.png">

Once deleted, every thing works as expected. 🍻

[2017-07-22 15:53] antonijap commented on #469
YAAAAY! Only, this time I've got this http://d.pr/i/9ovqQP/1YbAOQEQ

[2017-07-22 19:58] patchthecode commented on #469
Oh, thats because there are no constraints setup in the the cell.
Also the constraints of the CalendarView should be different.

Here is a fixed zip file of the solution ->
[Period-Flow-2-Development.zip](https://github.com/patchthecode/JTAppleCalendar/files/1167602/Period-Flow-2-Development.zip)

Let me know if there is anything else wrong. cheers. 🍻

[2017-07-22 20:31] hejlyeah commented on #489
Hey JT, any chance you have time for a Skype today?

[2017-07-23 00:14] hejlyeah opened #493 "eventDotView not appearing, error "unwrapping nil value" for startDate and endDate"
Took the project you gave me and added a header and changed layout a little bit. Everything was working fine, now I am getting an error saying that I am force unwrapping a nil value inside my configureCalendar function. Now I know my error is not as stupid as constraints this time. Spent a couple hours on this, sorry to ask you for help again but can you tell me what the hell I am doing wrong? The

[2017-07-23 01:14] Chazzman commented on #491
Perfect!!

Thanks much!

On Jul 22, 2017, 12:04 AM -0400, JTAppleCalendar <notifications@github.com>, wrote:

[2017-07-23 06:36] patchthecode commented on #493
Couple errors.

1. Click on your calendarView in interface Builder. under Size inspector, you'll see `minSpacing` for Lines and Cells = 10. This means your cells have a 10 inset. Therefore you will not see your dot views. This 10/10 happens by default each time you drag a CollectionView unto your interface builder. You can thank Apple for that.
2. you are using the same `formatter` all over your a

[2017-07-23 06:36] #493 closed

[2017-07-23 09:22] webbbl01 opened #494 "Middle Cells not Triggered on Range Selection"
I've looked through the old issues/resolutions but have not come across the answer I'm looking for.
I've recently upgraded from 6.XXX to 7.0.4 - which like you've mentioned, is a massive jump :).

I've been unable to get the multiple, range selection to work - mainly, my center cells are not highlighting when I pick a start and an end date. I'm unsure what I'm missing, but the ".middle" switch sta

[2017-07-23 13:42] Dansong00 commented on #483
No worries. will upgrade to version 7, hopefully that fixes my issue. will keep this thread updated.

[2017-07-23 13:48] LakshayNagpal commented on #492
Thanks Jay for your swift response!
Can you please tell me how you figure out this problem as it will help me in future for debugging my code quickly and effectively.
Thanks Again :)

[2017-07-23 16:18] patchthecode commented on #492
The dots show up he first time.
but then when you scroll, they are removed.

so, just go the the function that handle the dots. And see why this line is failing.
[code]

When debugging, print statement is your friend.
[code]

Then you will see a wrong date being generated.

[2017-07-23 19:16] antonijap commented on #469
You are my hero!

[2017-07-23 20:20] patchthecode commented on #469
Haha. thanks.

[2017-07-23 21:09] hejlyeah commented on #493
JT! You could quite possibly be my favorite person ever. Thanks for all the help man! Take care brother

Zach

[2017-07-23 21:57] patchthecode commented on #493
AH thanks. Have a good. one. 👍

[2017-07-23 22:56] hejlyeah commented on #493
Hey JT,

How would you feel about skyping me for only a couple hours and helping me learn how to finish up this project for my high school? You really know what you are doing and could save me a lot more of my high school summer. I could try to pay you? Im a pizza delivery driver and bet I could pay you for a few hours. Or if you do not have the patience to teach me, I might persuade you just to p

[2017-07-24 04:21] Saruul-Ulzii opened #495 "Adding views to Cell, not working properly"
Hello,

I am using Version 7.0.4. I want to add events from database on cell, then tried to adding view to cellview. It shows correct cells
![simulator screen shot jul 24 2017 12 10 44 pm](https://user-images.githubusercontent.com/16433495/28507914-6388c362-7071-11e7-8f52-9d5dc96d9f9c.png)

but after scroll up and down, these dots randomly added random cells.
![simulator screen shot jul 24 2017 12

[2017-07-24 04:22] Saruul-Ulzii commented on #495
@patchthecode, please see this.

[2017-07-24 04:55] patchthecode commented on #495
@Saruul-Ulzii you said it shows correct cells.. what is the problem?

[2017-07-24 04:59] patchthecode commented on #494
i think i misunderstand what's wrong.
So you're basically saying that physical selection works, but programatic selection does not?

[2017-07-24 05:01] Saruul-Ulzii commented on #495
@patchthecode pls see pics, correct cells are red-backgrounded, little colorful dots must be in these red-backgrounded cells, after launch 1st pic[2017.07] is correct, but after scrolling another months up and down, these little dots adding another cells, like shown in 2 picture, its mustn't, then returning month 2017.07, now many cells has colorful dots, not only correct red cells.

[2017-07-24 05:05] Saruul-Ulzii commented on #495
`
            validCell.contentView.addSubview(dotView)
            validCell.selectedView.isHidden = false
`
1st line is adding dots, 2nd line is showing red background, if little dots added to cell, it must be has red-background, because these 2 line work sametime, there isnt any condition, but now why just adding little dots?

[2017-07-24 06:03] webbbl01 commented on #494
Correct - I have range selection enabled. I tap on the begin date, for example the 24th of July. I then tap on the end date, the 28th of July. The 24th and 28th highlight as expected, but the middle dates (25,26,27) do not highlight. When I tap the 25th, 26th, and 27th, they highlight as expected.

[2017-07-24 06:40] mwurm93 opened #496 "scrollToDate scrolls to section header"
v7.0.4
calendarView?.scrollingMode = .none
calendarView?.scrollDirection = .vertical

The scrollToDate(Date) function scrolls to the section (month) header, not to the row of the (Date).

Thanks!!!
Mike

[2017-07-24 08:09] patchthecode commented on #495
@Saruul-Ulzii its late here my time. So i will take a look at this in the morning.
But before I take a look at it, have you seen [this video](https://www.youtube.com/watch?v=CQNotydm58s) yet?  It shows you an example how to set up dots and events.

[2017-07-24 08:23] LakshayNagpal commented on #492
I will keep this suggestion in mind.
Thanks mate!

[2017-07-24 15:02] patchthecode commented on #493
if i can, i will help. But i can't make any promises.
What ever you're stuck with just ask. I can't promise prompt responses every time though as I an tied up with a couple projects.

[2017-07-24 15:06] patchthecode commented on #485
released.
if any carthage issues, let me know.

[2017-07-24 15:06] #485 closed

[2017-07-24 15:14] dmholmes commented on #216
@cahart The events at the bottom are a UITableView tied to the selected calendar date.

[2017-07-24 15:27] hejlyeah commented on #493
Thank you!! Whatever you might be willing to help me with would be more than appreciated!

I am attaching a workspace updated with the changes you said to make the last time. Everything works incredibly! Elegantly simple, thank you!

I added a couple things. I was working on an addition to the workspace yesterday: I want there to be a table view beneath my calendar to display a title and string fo

[2017-07-24 15:42] patchthecode commented on #496
put this in your pod file.
[code]
run a `pod update`
Let me know if you are still experiencing this.

[2017-07-24 15:45] patchthecode commented on #495
@Saruul-Ulzii looking at your code, this is not the way you add views to a cell.
I think [this playlist](https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q) will help you.

[2017-07-24 19:12] fweathers opened #497 "Missing date numbers when hiding in dates"
Is there a method/func that allows for the .inMonth dates that are in the past to have a different colour than the present and future dates?

[2017-07-24 19:33] mr618show opened #498 "How to scroll to the next month after showing current month after viewDidLoad(), v7.0.5"
Hi @patchthecode ,

I am stuck with an issue when scrolling to the next month after initially launching the app , it shows the first month in the range which I have specified instead of the correct next month corresponding to the current month.

ie. the range which I have is
[code]
After correctly showing the current month/year which July 2017 in the header, when I scrolled to the next month, it j

[2017-07-24 20:08] fweathers commented on #497
i just made the font the same colour as the background and then disabled the in dates.

[2017-07-24 21:57] patchthecode commented on #497
hmm. got a bit confused by the title vs the question.

Is there a bug you are experiencing? or do you just want to have inDates/outDates to become invisible?

If you just want them to become invisible, then all you will have to do is just set their `isHidden` property to be = `true`.  Let me know.

[2017-07-24 22:03] patchthecode commented on #498
@mr618show is it possible you can send me a sample app with the problem?

I just released version 7.0.5, so its possible I could have caused an error.
Can you send to patchthecode@gmail.com ?

[2017-07-24 22:41] mr618show commented on #498
Thanks @patchthecode , I've sent you more detail in the email.

[2017-07-25 01:20] patchthecode commented on #498
@mr618show hmm. I just checked my email.. there is nothing there. Could you try resending it?

You can also join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-07-25 01:34] mr618show commented on #498
hmm, I am not sure why, just resent it and also left a message in the im. Let me know if you have received it.

[2017-07-25 01:40] patchthecode commented on #498
Got it. Checking it out now.

[2017-07-25 01:56] patchthecode commented on #498
issue resolved.
Small accident in hooking up outlets.
closing this now.

[2017-07-25 01:56] #498 closed

[2017-07-25 01:57] mr618show commented on #498
Thank you @patchthecode  very much!

[2017-07-25 02:03] jokerham commented on #495
I think you should delete the view added (if any) when dequeue delegate is called, or else it will keep the view when dequeue of the cell that has the view is dequeued.

[2017-07-25 02:03] Saruul-Ulzii commented on #495
@patchthecode i watched all tutorial videos. Red-background is like tutorial's selected view. i just want to add views, not toggle with isHidden - true/false, isHidden-false is working properly, then trying to add views, cause i don't know how many dots need to add to cell, then i can't create dot views on cell in storyboard. Its too easy to test your code, you need to add some views to cell on ha

[2017-07-25 02:07] patchthecode commented on #495
@Saruul-Ulzii ok, can yu join me here? -> https://gitter.im/patchthecode/JTAppleCalendar

Maybe I might have misunderstood the problem.

[2017-07-25 03:51] patchthecode commented on #495
problem resolved. DotViews were being added to the views, but was not being removed.

[2017-07-25 03:51] #495 closed

[2017-07-25 10:50] Fengson commented on #434
What's the status of iOS 8 support?

[2017-07-25 11:59] fweathers commented on #497
Sorry, I originally found a bug when setting inDates and outDates equal to off. When I would hide them, I would end up with months missing dates once i started to scroll. Eventually, I created a mini hack and just changed the text colour to blend in with the background and disabled the user interaction on them. I then changed the content of the question to ask if there was a way to change the date

[2017-07-25 13:24] patchthecode commented on #434
unfortunately, i do not think this will be done.
someone will have to make a pull request. this project alone has gotten very time intensive.

[2017-07-25 13:28] patchthecode commented on #497
ok. i got you.
One thing though, if thats a bug, then thats really bad.
But i want to hope that many it was a mistake and not a bug, because i've tested this for over a year haha.

When you hid the dates by doing `cell.isHidden = true`  did you ever unhide them by setting `cell.ishidden = false` ?
I am guessing this was the problem.

[2017-07-25 13:43] patchthecode commented on #434
hey, is easy to do, but im just so very very busy right now.
install the library on your project, and then do a search in the library files for this text:
[code]
 You should see it appearing 6 times in the library.
Just delete it. and you should be good.

If someone can create a pull request to add the `@availailable 9.0` tags to the code, i will gladly accept it.

[2017-07-25 13:45] patchthecode commented on #494
hey i tied up on a couple other projects.
is it possible you can provide a empty sample application with the bug?

[2017-07-25 14:11] fweathers commented on #497
That works :-) (adding cell.isHidden = false fixes this issue). I did have another question in regards to the current date being highlighted. I followed the video tutorial, but once i select off of the current date, the highlighting is no longer there. is there a way to keep the current date highlighted (light grey) even after selecting another date?

[2017-07-25 15:13] patchthecode commented on #497
The way provided in the video is only an example to show you how you can customize the main cell. But in regards to how to keep selections and designs etc, this is all specific to the developer and is not library specific questions. This is more a question that relates to a specific implementation.

But if you need help, here is how i would do it. In the `cellForItem` function, simply do:
[code]

[2017-07-25 15:13] #497 closed

[2017-07-25 16:44] Fengson opened #499 "Additional space in vertical layout"
I am using latest version of a library. I cannot find this issue in tutorials and sample codes.
When using vertical scrolling, some months take 6 rows and others 5. For the ones that take 6 everything looks fine. However, for the ones that take 5 rows, the additional row is being added and it's empty resulting in extra space.

This only happens if I want to hide cells that are not from this month.

[2017-07-25 17:44] fweathers commented on #497
thanks

[2017-07-25 19:27] patchthecode commented on #499
@Fengson so basically you do not want to hide then. You want them to not be generated at all.

in your `configureCalendar` function you have to return a `ConfigurationParameter` object to the library. Set the outDateGeneration to = `.endOrRow`.
The layouts vid explain more on this [Here](https://www.youtube.com/watch?v=1Sta3aEo9E4)

[2017-07-25 19:27] #499 closed

[2017-07-25 19:35] j3me5 opened #500 "Async My Calendar"
I am new to iOS programming. I want the user to tap the calendar button and have it go the the view while loading the calendar data (from a remote .ics file). DispatchQueue.main.async works on my other buttons while loading data but it seems that. When I use that for JTAppleCalendar, it seems like 'func calendar' is being called before viewDidLoad() so my DispatchQueue isn't working.

Right now wh

[2017-07-25 20:10] patchthecode commented on #500
what version of the library are you using. Version `7.0.5`?

Also i'm not quite understanding the problem.
You want the calendar to start off at a particular date?
If so, then call `calendarView.scrollToDate` in your viewDidLoad function

[2017-07-25 20:34] Fengson commented on #499
That was it, thanks!

[2017-07-25 22:28] webbbl01 commented on #494
Thank you for following up on this. I've uploaded the bare program to git
https://github.com/webbbl01/calendar

Let me know if you need anything else.

[2017-07-26 05:19] patchthecode commented on #494
I added this to the view did load

[code]

Every thing got selected correctly. I'm i missing something?

[2017-07-26 05:21] mayurdzk commented on #500
@j3me5  I'd be happy to help you here but I haven't been able to understand the problem completely myself either.
Just a word of caution (if this is what you're trying to achieve and/or don't know this already): Manipulation of any UI on any thread other than the main thread is dangerous.

[2017-07-26 05:32] mayurdzk opened #501 "Type 'UICollectionViewFlowLayout' does not conform to protocol 'JTAppleCalendarLayoutProtocol'"
Hey Jay,

JTAppleCalendar is running into a problem because UICollectionViewFlowLayout doesn't conform to JTAppleCalendarLayoutProtocol due to (as Xcode says) a missing `targetContentOffsetForProposedContentOffset` method. Here's a screenshot detailing the problem:
<img width="1280" alt="screen shot 2017-07-26 at 10 55 58 am" src="https://user-images.githubusercontent.com/10453316/28605861-6fd97e5

[2017-07-26 05:39] mayurdzk commented on #501
I believe I've solved the issue since `targetContentOffsetForProposedContentOffset(_ proposedContentOffset: CGPoint) -> CGPoint` has been renamed to `func targetContentOffset(forProposedContentOffset proposedContentOffset: CGPoint) -> CGPoint` in UICollectionViewFlowLayout.

Updating the method in your protocol fixes this issue. I'd happy to put in a PR in case you'd like.
Thank you anyway.

[2017-07-26 06:01] #501 closed

[2017-07-26 06:27] patchthecode commented on #501
that would be awesome man. I cant do so right now.

[2017-07-26 06:34] mayurdzk commented on #501
No problem, I'd be happy to help out. Is there a specific branch you would like me to submit my PR into?

[2017-07-26 06:49] webbbl01 commented on #494
See the workflow below - on version 6, when I enabled range selection, the center cell would highlight. It did not require me to do the function you have above.

![rangeselection](https://user-images.githubusercontent.com/19462219/28608019-f8afcdb2-7221-11e7-8357-7d219deb8831.gif)

[2017-07-26 14:52] patchthecode commented on #494
ok i misunderstood the issue then.

So basically you are saying, that in version 6,
[code]
if you tapped on c1, then tapped on c6, then all the cells in the middle would get selcted?

[2017-07-26 18:43] Methos456 opened #503 "Not sure of best way to handle this"
Trying to figure out best way to remove space between cells of a selected range.  My cellSize is 40 and my selectedView is 40,40.   minimumLineSpacing is 0 as is minimumInteritemSpacing.

Is it just a matter of adjusting cellSize and selectedView size or do you do custom drawing in the cell.
I am using version 7.0 (see pict below).  Thanks for a great calendar framework!!

![img_1599](https://user

[2017-07-26 20:13] patchthecode commented on #503
seems like many devs are making the AirBnb style these days :)

You say the size of your cell is 40x40?
Can you tell me what is the width of your calendar? i need to know is it xxx.xxxxxxx.... ?

[2017-07-26 20:37] Methos456 commented on #503
I guess it is good that the calendar is recognizable.  I used AirBnb as a guide to practice on ...
If you are referring to the calendar's frame width it is 375.0   I set the cellSize to 40, but to me it looks like the height may be 40, but the width is wider.  When I put a borderLayer of 1 around the cell you can see space between the selectedView and the width of the cell, but the height is fully

[2017-07-26 20:48] hejlyeah commented on #493
Hey JT,

Have you had any time to look at what I am trying to do? Hope I am not being a bother, I have just made no meaningful ground on my end and really am trying to finally move forward from this one challenge I am having. Any luck?

Zachary Hejl
zachdhejl@gmail.com <mailto:zachdhejl@gmail.com>

[2017-07-26 22:07] webbbl01 commented on #494
No worries - and that's exactly it.
I previously had the code working from your version 6 tutorial on range selection:
https://patchthecode.github.io/RangeSelection/

However, I'm noticing that when I do a print on the collection view's "selectedDates", the middle cells are not returning. Only the first and last selection return.

[2017-07-26 22:45] patchthecode commented on #494
Ok.
One thing though, i looked at your code, and you do not have any of the range selection code mentioned int he tutorial. Missing?

[2017-07-27 03:12] sathish-ajira commented on #97
i am also need this feature.can someone share this code please.

[2017-07-27 06:28] tkirby commented on #432
Value of type 'JTAppleCalendarView' has no member 'minimumLineSpacing'
Value of type 'JTAppleCalendarView' has no member 'minimumInteritemSpacing'

[2017-07-27 07:01] patchthecode commented on #432
@tkirby what version are you using?
it should be 7.0.5

[2017-07-27 07:03] tkirby opened #504 "Borders around the days?"
Is there some example of creating a calendar with 1px borders around the days. I've tried bordering the cells and that results in 2pix intercell borders and 1px outer borders. Tried cell insets with the same result.

I found this question:

https://github.com/patchthecode/JTAppleCalendar/issues/432

which seems like it would work but the methods don't seem to be there  anymore or are inaccessable.

[2017-07-27 07:04] patchthecode commented on #504
which version of the calendar are you using?

[2017-07-27 07:06] patchthecode commented on #504
chat here for speed -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-07-27 07:16] tkirby commented on #504
I didn't specify a version in the podfile so I guess it was pulling old version.

Installing JTAppleCalendar 7.0.5 (was 6.1.6)

fixed it.

[2017-07-27 07:16] #504 closed

[2017-07-27 07:19] patchthecode commented on #504
awesome.

[2017-07-27 07:37] webbbl01 commented on #494
yep - apologies, I missed that two tap range selection. You can close this out.

[2017-07-27 07:38] patchthecode commented on #494
cool. awesome.

[2017-07-27 07:38] #494 closed

[2017-07-27 21:33] Methos456 commented on #503
Thanks for your help on this..  Your solution was way too easy!!  Thanks!

[2017-07-27 21:33] #503 closed

[2017-07-28 00:08] #496 closed

[2017-07-28 13:14] Codeido opened #505 "super.layoutSubviews() crash"
- Version library: 7.0.5

Hi!
First of all, thanks for this amazing library.
I have a crash here:
<img width="1157" alt="schermata 2017-07-28 alle 15 08 36" src="https://user-images.githubusercontent.com/495617/28718552-e9ba8852-73a6-11e7-9298-60dc667a0f2c.png">

The calendarView is in sync with a tableview and when the tableview scrolls very fast, this crash happen!

[code]
If i remove this lines

[2017-07-28 14:38] patchthecode commented on #505
Can you give me some more information?

You said that the calendar is in sync with a tableView.
I do not fully understand what this means. Screen shots can also help with your description.
I need enough information to recreate the crash on my end.

[2017-07-28 14:44] Codeido commented on #505
Is really simple. I have a calendar table view (the section that represents the day, and every cell represent an appointment. If there are no appointments, there is a placeholder cell, then for every day there is always almost one cell).

In the table view method
[code]
i put
[code]
that allow the calendarView to follow the tableview scroll.
Consider that there is an infinite scroll, on table view

[2017-07-28 14:47] Codeido commented on #505
I found this https://github.com/patchthecode/JTAppleCalendar/issues/444 but I don't know if it is correlated.

[2017-07-28 14:59] patchthecode commented on #505
just noting a couple things. Correct me if i'm wrong.

1. You achieved infinited calendar scrolling by reloading the calendar once it gets to the end of its data. Is this reloading also happening inside the tableView's `willDisplay cell` function?
2. Does the reload happen before or after the following?
[code]
3. Does the crash happen when a calendar reload is happening? in other words, does the c

[2017-07-28 15:00] patchthecode commented on #505
also, this link = faster chat times -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-07-29 16:27] patchthecode commented on #500
closing this until user provides further input.

[2017-07-29 16:27] #500 closed

[2017-07-29 17:18] patchthecode commented on #505
https://files.gitter.im/patchthecode/JTAppleCalendar/P6yI/calendar-view.gif

[2017-07-29 18:28] Moonif commented on #453
Hello,

Just wanted to let you know that this is no longer an issue using the latest version of JTAppleCalendar (As of this date) and latest version of Xcode.

Thank you!

[2017-07-29 19:05] patchthecode commented on #453
youre welcome man.
Thanks for letting me and others know.

[2017-07-29 21:18] hejlyeah opened #507 "events not displaying in table view"
Jay,

I am confident this workspace should be working but it is not. I have followed all of your advice and come up with this.

Why is it not working?

[JesusSaves5 copy 4.zip](https://github.com/patchthecode/JTAppleCalendar/files/1185269/JesusSaves5.copy.4.zip)

[2017-07-29 22:08] hejlyeah commented on #507
I thought I had it but now I know I do not. Ill send you a PayPal donation if you can help me fix this :)

[2017-07-30 05:24] amiinous opened #508 "Missing rightToLeft Layout in 7.0.5"
Hi,
I'm using version 7.0.5. However, I cannot find a method to change the readingOrientation property (e.g. to rightToLeft).
Apparently previous version does support that.

Thanks

[2017-07-30 06:55] patchthecode commented on #508
try `calendarView.semanticContentAttribute` ?

[2017-07-30 08:08] amiinous opened #509 "Problem with Persian Calendar"
Hi,
As you've suggested in your valuable tutorials, I have used  my own calendar with code: `let persianCalendar = Calendar(identifier: .persian)`
to initialize the `ConfigurationParameters`
![calendar](https://user-images.githubusercontent.com/21278217/28751686-6940f908-7523-11e7-9c9f-bb9776039243.jpg)

 However, the calendar seems to represent dates incorrectly. (see the image above). Please not

[2017-07-30 08:09] #508 closed

[2017-07-30 11:22] duyklinsi commented on #419
Same issue. Hope you will fix it soon @patchthecode

[2017-07-30 12:15] mojtabadj opened #510 "how to set default cell on load Calendar?"
I use latest version of calendar and version is 7.0.4
I want select default cell with code on load calendar
how to can it?
Thanks

[2017-07-30 14:50] patchthecode commented on #509
OK. i will check this out in another 11 hours

[2017-07-30 14:51] patchthecode commented on #510
Please take a look at the final video in this list -> [HERE](https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q)

It will help you a lot.
Closing this issue.
Let me know if you are still stuck.

[2017-07-30 14:51] #510 closed

[2017-07-30 14:52] patchthecode commented on #419
I got caught up last week.
I'll take a look in 11 hrs today.

[2017-07-30 15:03] patchthecode commented on #510
by, the way.Latest version is 7.0.6

[2017-07-31 08:45] hemangshah opened #511 "Crashes on changing and scrolling the calendar from/in weekview/monthview"
1. Using version: **7.0.6**
2. Using the latest version: **Yes**
3. This should be a **fresh** issue.
4. Sample App? You can download it from [**here**](https://github.com/hemangshah/DemoJTAppleCalendar-Issue-511).
5. **Description**:

**This leads to the crash.**

**I am not seeing any crash logs except below. It just stopped to the `AppDelegate` file.**

**Here's the crash log:**

[code]

[2017-07-31 14:25] patchthecode commented on #511
I tried for quite some time, and could not reproduce your crash.
I even did memory leaks profiling, and there was nothing.
Every thing looked normal.

Here is something crazy -> you just updated to 7.0.6 right? It's possible the crash is related to XCode being silly after the pod update. Hence the reason there are no logs.

1. Do a project clean - CMD + SHIFT + K
2. Delete your generated `Build` f

[2017-07-31 14:29] patchthecode commented on #505
is it possible that you can create a sample project with this bug?
I tried and could not recreate it.
[couldNotReproduceBug.zip](https://github.com/patchthecode/JTAppleCalendar/files/1187844/couldNotReproduceBug.zip)

[2017-07-31 21:59] patchthecode commented on #110
[testApp.zip](https://github.com/patchthecode/JTAppleCalendar/files/1188944/testApp.zip)

[2017-08-01 03:12] seanrice opened #512 "How best to implement hidePrepost() function?"
JTAC v7.0.6 - iOS 10

JTAppleCalendar works fine here, loads up and scrolls perfectly, but ... was unable to hide the in-out dates and wish to. Then i reviewed Jay's new FAQ guide! Sweet.
Added --> configureCell(view: cell, cellState: cellState) function ... and called in cellForItemAt method.
Added --> handleCellVisibility(cell: CustomCell, cellState: CellState) function ... to class.
presto!

[2017-08-01 04:06] patchthecode commented on #512
haha. i never had an issue opened with a compliment.
Thanks man :)
So there are no problems right?

[2017-08-01 06:02] vikrant88 opened #513 "How I can increase the height of calendar cell"
Hello everyone, I am working on JTAppleCalendar using with swift3.0. Now I want to increase the cellHeight only. I am not able to get any way to increase it. So please guide me how I can do it.

Thanks

[2017-08-01 07:55] patchthecode commented on #513
cellSize is modified by 2 things.

1. the height of the calendarView if you have a horizontal scrolling calendar.
2. the width of the calendarView if you have a vertical scrolling calendar.
3. the `cellSize` property on the `calendarView`

Let me know if you are still stuck.
Keep in mind these [video tutorials](https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q) he

[2017-08-01 07:55] #513 closed

[2017-08-01 07:56] patchthecode commented on #512
closing issue. As there seems to be no problem here

[2017-08-01 07:56] #512 closed

[2017-08-01 09:17] ameyavichare commented on #216
![simulator screen shot 01-aug-2017 2 46 14 pm](https://user-images.githubusercontent.com/16960138/28818306-5b38d910-76c8-11e7-8ace-e9cf43412cc7.png)

[2017-08-01 09:27] hemangshah commented on #511
@patchthecode, thank you so much for investigation and as we found that, the issue is possible because of the older version of beta Xcode which I was using. I have tried the sample with the latest beta Xcode and it doesn't crash. So possibly, the issue is in Xcode. I will post back again if I will found the same issue till time closing this.

[2017-08-01 09:27] #511 closed

[2017-08-01 14:24] patchthecode commented on #511
awesome. have a good one.

[2017-08-01 15:01] patchthecode commented on #509
Hey i just had a chance to look at this.
Mine is displaying correctly.
So can you answer some questions to help me easier find the solution to the problem?

1. Is you calendar vertical or horizontal?
2. What month are you looking at in the picture above that has this error?
3. can you show me you `configureCalendar` function code? I need to see what calendar you are providing to the library.
4. Ca

[2017-08-02 03:19] ahimahas opened #515 "Crash occurs when making JTCanlendarView as a new XIB"
version: 7.0.6

Hi. When I watch the guide video, the CalendarView is created inside of storyBoard, under the viewController. For the reusability, I created a new XIB file and class file, declared as CalendarView and tried to load this xib from different class, using below code snippet, it occurs crash.

`
// Codes in other view controller
let aCalendarView = Bundle.main.loadNibNamed("CalendarView

[2017-08-02 03:54] #515 closed

[2017-08-02 03:55] ahimahas commented on #515
I miss understood the usage. forget about it :)

[2017-08-02 04:24] patchthecode commented on #515
cool. glad its sorted out.

[2017-08-02 05:37] amiinous commented on #509
Hi thanks for your effort!
1. Horizontal
2. 9th month of Persian Calendar
3.
[code]
4.
[code]

I dont think the issue is from this section, cause I wrote it according to your tutorial.

Please check the images below:
This image shows that the "Day" text shows an incorrect day according to the date field of cellState.
<img width="601" alt="2" src="https://user-images.githubusercontent.com/21278217/

[2017-08-02 12:44] fweathers opened #516 "Programmatic way to load next/previous month"
I noticed that issue #47 (https://github.com/patchthecode/JTAppleCalendar/issues/47) discussed this issue but when I tried to utilize it, it was not found. Is this still available?

[2017-08-02 14:27] patchthecode commented on #516
sure.
[code]

There is one thing i forgot to mention.
Every function that a developer is able to do on this calendar is located in the file `UserInteractionFunctions.swift`

It may even real many things you never knew :)

[2017-08-02 14:27] #516 closed

[2017-08-02 14:32] fweathers commented on #516
great Thanks!

[2017-08-02 14:47] patchthecode commented on #216
@ameyavichare interesting concept with that time scroller at the bottom. Does scrolling through the times change the calendar dates?

[2017-08-02 17:45] patchthecode commented on #505
is this still an issue?

[2017-08-03 01:00] patchthecode opened #517 "Made a cool calendar? Post its image here. #3"
### Please add your awesome screenshot below.
## Want to see the previous Screen Shots `#2`? [Click here now](https://github.com/patchthecode/JTAppleCalendar/issues/216)

[2017-08-03 01:04] patchthecode commented on #216
## Click [here for more images](https://github.com/patchthecode/JTAppleCalendar/issues/517)

[2017-08-03 01:04] #216 closed

[2017-08-03 03:53] iOSUser110 opened #518 "Taking too much time to come color dots on dates"
It is taking too much time to drawing color dots on cell
am using calenderView.reloadData() on success of getEvents webservice

I tried to use caledneView.reloadDates(dateArray)
but not working

And the color dots set in handleCellTextColor method

[2017-08-03 05:21] patchthecode commented on #518
Is it possible that it is taking a while to load the dates from your server?

[2017-08-03 06:24] win13676 opened #519 "layoutIfNeeded invalidates the layout and always scroll to the January first"
I'm using latest version 7.0.6, on ios 10.3, xcode 8.3.3, swift 3.1
every time invalidateLayout gets called the calendar will scroll to January first
calling layoutIfNeeded usually will call invalidateLayout

The case I have is I have 2 JT Calendar.
I animate one of the calendar out and hide it.
in the animation block I need to call layoutIfNeeded to animate the constraint changes
as the result th

[2017-08-03 06:34] patchthecode commented on #519
so do you call `calendarView.layoutIfNeeded`?

[2017-08-03 06:53] win13676 commented on #519
I called on their parents.
In the parent class I change the calendar constraint and call self.layoutIfNeeded() in the animation block

[2017-08-03 06:55] win13676 commented on #519
Is it that I should to call scrollToDate every time before I do layout if needed?

[2017-08-03 07:04] patchthecode commented on #519
ok this case, it is expected. If you do something that changes the calendar's layout, it will reload the calendar's layout causing it to reset.

you'd need to save the visible date that the calendar is on, and simply scroll back to it.
If you already have the `dateYouWannaScrollBackTo` then just scroll to that date.

or you can even do something like `calendarView.reloadData(withAnchor: dateYouWan

[2017-08-03 07:55] patchthecode commented on #519
Let me know if this resolved your issue?

[2017-08-03 08:46] Codeido commented on #505
For the moment, resolved using calendarView.scrollToDate(selectedDate, animateScroll: false)

[2017-08-03 08:46] #505 closed

[2017-08-03 10:33] patchthecode opened #520 "Selection Bug"
if selected view is off the screen, then didDeselect is not called.
Can lead to double selection.

[2017-08-03 13:42] win13676 commented on #519
If that's the case then that works, thank you

[2017-08-03 13:42] #519 closed

[2017-08-03 14:19] seanrice commented on #512
Hey sir! No problems here. i wanted to delete issue, couldn’t, so i rephrased…but forgot to close issue! =) Thanks!! Hope all is well.
Sean

[2017-08-03 15:05] patchthecode commented on #512
All is well man.
Have a good one 🍻

[2017-08-03 21:24] JailanElMosalami opened #521 "I am using JTAppleCalender version 7.0"
I want to make all date only on Friday and Saturday for all the months with a blue background while the rest with another color without selection.
Also I want to make entries in a specific date when I click on it. Can this be done using JTApple Calendar?

[2017-08-03 21:43] patchthecode commented on #521
What is the problem?

[2017-08-03 22:48] patchthecode commented on #521
closing issue until further user input

[2017-08-03 22:52] JailanElMosalami commented on #521
I have already made an input an hour ago

[2017-08-03 22:53] patchthecode commented on #521
I am sorry. I missed it. reading it now, and re-opening

[2017-08-03 22:54] patchthecode commented on #521
can you join me here? -> https://gitter.im/patchthecode/JTAppleCalendar
Its faster.

[2017-08-03 23:39] patchthecode commented on #521
issue resolved.

[2017-08-03 23:39] #521 closed

[2017-08-04 11:15] Harshad290194 opened #522 "Prev and Next month date Hidden in Current Month in JTAppleCalendar"
I have an issue in show prev and next date in Current month calendar. how i can disable that prev and next date of next and pre month date to be display in current date. How i can Disable that date in rad box... please give me a solution for my issue.
![img_2549 png](https://user-images.githubusercontent.com/17276435/28966464-f813061c-7933-11e7-8642-b535f203bccc.png)

[2017-08-04 15:37] patchthecode commented on #522
use the calendarView `shouldSelect` delegate function

[code]

closing issue. let me know if youre still stuck

[2017-08-04 15:37] #522 closed

[2017-08-05 00:59] hejlyeah commented on #507
Any help? Please?

[2017-08-05 01:30] patchthecode commented on #507
OK, forgot about this.
Will take a look tomorrow afternoon.

[2017-08-05 01:35] hejlyeah commented on #507
I LOVE YOU BRO THANK YOU

On Fri, Aug 4, 2017 at 6:30 PM JTAppleCalendar <notifications@github.com>
wrote:

[2017-08-05 19:34] glennposadas opened #523 "[Not an issue] Where's the list of the projects that are using this library?"
HI JT, as far as I know, you have a list of the production projects that use your library. May I know where I can find it so that I can submit mine (Search: Radio One on App Store). This was submitted months ago and this library made that possible. Thanks.

[2017-08-05 20:16] patchthecode commented on #523
I dont have a list of production apps using this library, what I have is an issue here where people can submit images of their created calendar -> https://github.com/patchthecode/JTAppleCalendar/issues/517

But what you said sounds like a good idea.
I think i'll create a link for that. Do you have a link to you app?
I searched "Radio One" and I saw one with a Logo that says "Radio One: Lebanon"
Is

[2017-08-05 20:36] glennposadas commented on #523
Awesome! Thanks, J. Oh no, last time i checked, it can be search with only
that keywords. Here:

Radio One - Rent and Inquire radios from Radio1 by Diamond Crest Group, Inc.
https://appsto.re/ph/_GFMfb.i

Thanks.

Glenn

On Sun, 6 Aug 2017 at 4:17 AM JTAppleCalendar <notifications@github.com>
wrote:

--
Best Regards,
Glenn Posadas
*Online Portfolio:*
*http://about.glennvon.com/ <http://about.glenn

[2017-08-06 15:53] patchthecode commented on #518
closing until further user input

[2017-08-06 15:53] #518 closed

[2017-08-06 15:53] #523 closed

[2017-08-06 15:54] patchthecode commented on #523
closing issue. added to TODO https://github.com/patchthecode/JTAppleCalendar/projects/12

[2017-08-07 11:52] JesusAdolfo opened #524 "Scroll on real time? [enhancement]"
1. Currently using 7.0.6
2. I am using didScrollToDateSegmentWith to change the header of my calendar but if I keep scrolling, the header function didScrollToDateSegmentWith won't be called until I stop scrolling. I would rather have the option to call this function every time that I scroll to a new month. So the header would update right away with every month I go by and not only with the last mo

[2017-08-07 15:07] pcolliso commented on #284
You do not need to #import the Module if you are dragging in the source files.

[2017-08-07 15:27] patchthecode commented on #524
hmm. Ok. in that case try implementing this delegate funciton ->

[code]

[2017-08-07 15:45] JesusAdolfo commented on #524
This doesn't cut it if you have multiple months where you can keep scrolling but still want to see what month you are in without stopping. Maybe I will send a PR with this feature...

[2017-08-07 15:46] patchthecode commented on #524
OK sorry. maybe i misunderstood the problem. I thought that delegate function will do it.
Let me double check this now.

[2017-08-07 15:49] hejlyeah commented on #507
Anything? Sorry I don't mean to pester.

Zach

On Fri, Aug 4, 2017 at 6:35 PM Zach Hejl <zachdhejl@gmail.com> wrote:

[2017-08-07 15:58] patchthecode commented on #524
I now see what you mean. I not sure i'll be able to get to that upgrade right away. But i'll take a look when i'm free.

[2017-08-07 16:00] patchthecode commented on #507
Got tied up in work over the weekend man. I'll have to take a look in a bit.
See, i can commit to helping as far as i can, but sometimes i get really tied up.
I'll take a quick look now.

[2017-08-07 16:02] patchthecode commented on #483
closing issue.
setting tag to: Awaiting user input

[2017-08-07 16:02] #483 closed

[2017-08-07 16:03] patchthecode commented on #483
As an added help to migrating to version 7.0
Here is the full tutorial set -> https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q

[2017-08-07 17:03] patchthecode commented on #524
OK hey, here is an idea, let me know if this can work for you.

in the `cellForItemAt` function, cells are configured.
Inside that function you have a parameter called `cellState`.

Is it possible you can try this?

[code]

[2017-08-07 17:09] patchthecode commented on #524
I just tested it.
I think it should be able to work for you.
Let me know.

[2017-08-08 05:59] patchthecode commented on #524
closing issue now.
Let me know. And if unsolved, i'll re-open it

[2017-08-08 05:59] #524 closed

[2017-08-08 15:38] patchthecode commented on #473
I looked at this, but could not reproduce it.
Also your sample application behaved correctly. I do not know how it is embedded in the real project inside the tabbar..

[2017-08-08 20:46] grantv9 commented on #473
Sure, I'll upload the new sample app in a bit. Thanks for looking into this

[2017-08-08 21:43] seanrice opened #527 "Adjusting calendarView frame.height in tableView?"
Hi Patch & Co.
Quick heightAdjustment question. This code was working fine in Simulators and devices ... UNTIL (cough!) ... we moved the view containing JTAppleCalendar and other sub-views to a TableView for use as Header. Auto-layout barely complained. For design asthetics, we chose to make NavBar & TabBar at bottom opaque. Oh, TableView has 0 cells. It's there for subclasses use.

BUT... the alg

[2017-08-09 00:20] seanrice commented on #527
note: this may be an auto-layout issue. i'll let folks know.

[2017-08-09 02:05] hejlyeah commented on #507
Hey Jt,

Any time?😬
Sorry man.. just really lost.

Thanks

Zach

On Mon, Aug 7, 2017 at 9:00 AM JTAppleCalendar <notifications@github.com>
wrote:

[2017-08-09 02:34] patchthecode commented on #507
join the chat -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-08-09 02:41] patchthecode opened #528 "[Update] way to determine if a cell's selection was programatic vs user initiated"

[2017-08-09 02:56] patchthecode commented on #528
Done -> https://github.com/patchthecode/JTAppleCalendar/commit/2f636eadef932dd86026812770036ebad867ea5d

[2017-08-09 02:56] #528 closed

[2017-08-09 03:17] seanrice commented on #527
for what it's worth, this adjustment seems to work on my dev device, but Simulators will NOT accurately reflect UI of dev device.

            let calendarHeightAdjustment = (CGFloat(numberOfRows-4) * (calendarView.frame.height/CGFloat(numberOfRows-1))) + CGFloat(10.8)

[2017-08-09 03:26] patchthecode commented on #527
alright. I can look into this.
just to clarify, it works on simulator but fails on device ?

[2017-08-09 03:31] patchthecode commented on #527
the best thing would be if you can provide a sample app with the bug? that would be most awesome (if you can).

[2017-08-10 00:06] seanrice commented on #527
For clarification... with calendarView in a View in header of Table ... the original heightAdjustment code fails in both Simulator and Device. Adjusted to numOfRuns-2 works in Simulator. Adjusted to -4 and -1 as shown, works on Devices. Wish i could share app, too many obvious concerns. Might be able to do a screen share using Messages on Mac?

[2017-08-10 00:12] patchthecode commented on #527
@seanrice sure i am.
can you join me here? https://gitter.im/patchthecode/JTAppleCalendar
chat in here is too slow

[2017-08-10 03:13] patchthecode commented on #527
Thanks for the clarification by chat.
Since this one Turned out to be an autolayout issue, i will close this one.
We'll open a new one for the scroll-to-first-date error when app comes from background.
Cheers 🍻

[2017-08-10 03:13] #527 closed

[2017-08-10 03:15] patchthecode commented on #520
issue found.

This happens when user has a `calendarView.reloadData` inside the `didScrollToDateSegment` function.

Resolving fix very soon.

[2017-08-10 06:47] jasperpogi02 commented on #397
I want to deselect previously selected date when user selected a new date.

I am using JTAppleCalendar 7.0.6
with deselection code:
myCalendar.deselectAllDates(triggerSelectionDelegate: false) inside shouldSelectDate function

the problem is I am encountering an infinite loop whenever i call that function

[2017-08-10 10:43] janardhanmupparaju opened #529 "how to give array of eventDates to calendar"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. Please state the version number of this library you are using when you create the issue.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.0.6
3. Is your question already answered in the tutorials and guides —> https://patchthecode.github.io/
4. Don't just ask a question. Provide enough inform

[2017-08-10 14:08] patchthecode commented on #529
Have a look at the tutorials [Here](https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q).
Take a look at the last video in the tutorial.

[2017-08-10 14:08] #529 closed

[2017-08-10 14:10] patchthecode commented on #397
@jasperpogi02 can you tell me which part is triggering the infinite loop?

[2017-08-11 00:02] seanrice opened #530 "iPhone "On Call" bug confirmed."
7.0.6 - using non-tableview build ;-) as soon as call answered and app goes to background, calendar loses its place and displays first visible month of calendar startDate. In our case, database and calendar starts at October 2015. This appears to be isolated to CalendarView. All other views are restored properly and reflect state when app was backgrounded.

[2017-08-11 00:44] patchthecode commented on #530
alright i'll take a look on my device.

[2017-08-11 04:25] jasperpogi02 commented on #397
if I get it right you are asking for the functions that is runs on the thread. Here it is:

myCalendar.deselectAllDates(triggerSelectionDelegate: false) -> shouldSelectItemAt -> selectDates -> deselect -> myCalendar.deselectAllDates(triggerSelectionDelegate: false) -> .....

**Specific Line of Code that triggered the error:**
![screen shot 2017-08-11 at 12 25 08 pm](https://user-images.githubuserc

[2017-08-11 18:02] seanrice commented on #530
it should be easy to reproduce using standard storyboard setup, as seen in demos. Here we placed JTAC view in UIVC adding another custom view below. Autolayout connects JTAC bottom to View top, JTAC top to top guide (superview) and View bottom to bottom guide (superview). leading and trailing are connected to superview logically. No magic numbers.

[2017-08-11 18:07] patchthecode commented on #530
Thanks man.
I didnt get a change to look yesterday, but i'll be more free on weekend sunday time.

[2017-08-11 18:13] seanrice commented on #530
No rush. Also worth noting, the UIViewController used in above tests is embedded inside a TabBarController and NavigationController.

[2017-08-13 11:27] jaspergoce commented on #397
please disregard my issue. I have found a new way of doing it. :) thanks....

[2017-08-13 14:26] patchthecode commented on #397
was it a library error/?

[2017-08-13 14:44] patchthecode commented on #509
I give up on this.
I have tried every way to re-create the error you have presented. I cannot reproduce it.

[code]

My dates are still printed correctly.
This is the last resort. Is it possible you can provide a zipped copy of an empty sample project which has this bug?

[2017-08-14 02:09] jasperpogi02 commented on #397
nope, the error was my brain :)

I am now making use of allowsMultipleSelection variable. Thanks btw. I think we can release our app now. hahaha

[2017-08-14 07:09] Maryom opened #531 "UISemanticContentAttribute error"
Hi,

Thanks for your repo.

I'm using JTAppleCalendar version 7.0.6, and my app development target is 9.0 as you can see in the image below.

I got the following error:

`'UISemanticContentAttribute' is only available on iOS 9.0 or newer`

Any help ?

<img width="432" alt="screen shot 2017-08-14 at 10 07 07 am" src="https://user-images.githubusercontent.com/3218401/29261507-953417aa-80d8-11e7-8513

[2017-08-14 07:28] patchthecode commented on #531
I know your project is target 9.0, but
for what version do you have the **pods**?

[2017-08-14 07:30] Maryom commented on #531
1.3.1

[2017-08-14 07:56] patchthecode commented on #531
@Maryom can you join me here?
I am unclear on your question -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-08-14 08:06] patchthecode commented on #531
Clarification made.
Setting the version to at least 9.0 fixed the issue.

[2017-08-14 08:06] #531 closed

[2017-08-14 10:57] amiinous commented on #509
[SampleCalendar.zip](https://github.com/patchthecode/JTAppleCalendar/files/1222000/SampleCalendar.zip)
Hi
Really grateful for your dedication!
I just tried your initialization code and still no success...
I also get the "out of range error in indexPathOfdateCellCounterPath() upper. This should not happen. Contact developer on github" error while selecting a cell.
As you asked, I attached a sample

[2017-08-14 14:25] patchthecode commented on #509
@amiinous can you put this inside your `setupCalendarView()` function ?

[code]

[2017-08-14 14:27] patchthecode commented on #509
ok. investigating some more.

[2017-08-14 15:09] patchthecode commented on #509
Hey, a fix was made on master branch last week which affects those type of calendars.
Can you put this in your pod file?

[code]

Then do a `pod install`

Let me know if this resolved your issue?

[2017-08-14 15:32] patchthecode commented on #507
issue resolved.
closing this.

[2017-08-14 15:32] #507 closed

[2017-08-15 15:00] amiinous commented on #509
Great JOB!
Thank you...

By the way, the date property which is behind each cell shows the date in 20:30:00 UTC. Is it possible to change its timezone? cause it has 1 day offset from my local time zone.(But it is not so important I currently convert that date to my preferred format)

[2017-08-15 18:37] patchthecode commented on #509
in the `configureCalendar()` function you gave JTAppleCalendar library a `Persian Calendar()` instance.

[2017-08-15 21:04] Dansong00 commented on #483
There are a lot of methods that and properties that have been deprecated in version 7 that were available in version 6 and no documentation on version 6 to explain how to transition. i've been having quite a difficult time with the upgrade.

[2017-08-16 04:55] patchthecode commented on #483
I'm usually hanging out in here unless i'm asleep. -> https://gitter.im/patchthecode/JTAppleCalendar
Drop me a message, and i'll help.

[2017-08-16 06:53] jeewanct opened #532 "willDisplayCell delegate is not found in 7.0.6"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. Please state the version number of this library you are using when you create the issue.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.0.6
3. Is your question already answered in the tutorials and guides —> https://patchthecode.github.io/
4. Don't just ask a question. Provide enough inform

[2017-08-16 07:56] amiinous commented on #509
It worked!
You're totally right...
Thank you for your support:heart:

[2017-08-16 07:56] #509 closed

[2017-08-16 08:44] patchthecode commented on #532
in version 7.0.6, JTAppleCalendar is now a UICollectionView.
This was done to make it easier for everybody. If you know how to use a UICollectionView, then you also know how to use this library.

`willDisplayCell` has been replaced with `cellForItemAt` function.

If you have any other questions, ask here. Will respond.

[2017-08-16 12:32] Samback opened #533 "Arabic localization."
Arabic localization.
Is it support Arabic localization. If yes, where can I find documentation how to switch on it.

Regards,
Max

[2017-08-16 15:05] Juvegirl opened #534 "Month Label displays wrong month before scrolling"
Hi guys! So I followed the video tutorial to set up my Calendar (version 7.0.6) with the exception that I added the line
CalendarView.scrollToDate(Date()) in viewdidload to show the current month right from the start. And even though the dates are correct, the month label always shows January and only when I scroll for the first time does it change to the current month. Any idea how to fix this?

[2017-08-16 15:09] #534 closed

[2017-08-16 15:56] patchthecode commented on #533
This library supports all languages.
in the `cellForItemAtDate` delegate function, this is where you setup your cell.

Since you have the date, all you need is a dateFormatter with the locale set to an `Arabic` locale. Then your language will be the locale that you set.

[2017-08-16 15:56] patchthecode commented on #532
closing this issue. But if you need any more help on this, then let me know. I'll respond.

[2017-08-16 15:56] #532 closed

[2017-08-16 15:57] patchthecode commented on #532
The tutorials should help and let you have an idea of what has changed --> [Here](https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q)

[2017-08-16 22:13] dbmrq commented on #142
I had this same problem and I solved it by doing this:

[code]

And adding `reloadData(withanchor:)` to `viewWillTransition(to size:)`, `viewDidLayoutSubviews()`  and `viewWillAppear()`. (You have to save the last selected date to use it as the anchor.)

It seems like overkill to reload the data on all those events, but if I don't I'll eventually run into some quirks. Just reloading on `viewWillTr

[2017-08-17 04:25] patchthecode commented on #142
@dbmrq man.. i had no idea it was this painful for you guys D:
I'll get on this right away

[2017-08-17 04:33] dbmrq commented on #142
Haha, no problem. Thanks for looking into it. :)

[2017-08-17 07:22] Ferannor commented on #142
@dbmrq Well done! This is a nice walkaround! I'll try it!

@patchthecode Thanks! Sound like a regression to me. But maybe I'm wrong.

[2017-08-17 10:10] patchthecode commented on #533
closing this issue. Let me know if youre still stuck.

[2017-08-17 21:30] Dansong00 commented on #483
hey @patchthecode  i've been dropping in on that link but you seem to respond  here faster haha. managed to set the calendar up with the upgrade, but still have trouble making somethings work. I am trying to use the method pathsFromDate([ ]) and i keep getting a pathsFromDates is inaccessible due to 'internal' protection level compiler error. would greatly appreciate any help in getting that resol

[2017-08-18 00:51] patchthecode commented on #483
@Dansong00 thats because  pathsFromDate is set to be internal.
Let me know what is it you are trying to accomplish, then i may be able to help.

[2017-08-18 09:52] codwam opened #535 "Is it not support iOS8 any more?"
I import `JTAppleCalendar` using Cocoapods but the version is 6.16 which is different of current version (7.0.6).
How could I found the 6xx version document？

[2017-08-18 15:00] patchthecode commented on #535
Do you want to use version 6? Or do you wan to use version 7?

Version 7 no longer supports iOS8.
But if you want version 7 to support iOS8, all you have to make is some very small changes.

[2017-08-18 15:21] codwam commented on #535
Could you explain it in detail, now my project's minimum version is 8

[2017-08-18 15:26] Dansong00 commented on #483
@patchthecode in the previous version of this module, i would use the pathsFromDate method to obtain the IndexPath for a given date and from that indexPath i would obtain the section that date belonged to. If there is another way to obtain the section for a given date that would work as well.

[2017-08-18 16:34] seanrice opened #536 "Can JTAppleCalendar reload individual cells ???"
7.0.6 =) while reloading the entire JTAppleCalendarView is obviously an option, seems like massive overkill ... if one only desires to reload, for example, a cell representing a single date in time.

Thoughts?

[2017-08-18 18:15] seanrice commented on #536
Answer: YES. Glad to see ... aside from reloadData(), JTAC offers more helper functions like reloadDates(dates: [Date]) and even reloadData(with anchor: Date?). cool.

[2017-08-18 18:15] #536 closed

[2017-08-18 19:34] patchthecode commented on #483
I removed it because I didnt think it would be needed.
What I put for the replacement for section was the date section rage that a particular date belonged to.

Can you let me know how exactly you used that section number? If i know how it was used, then I would be better able to tell you the replacement.

[2017-08-18 19:35] patchthecode commented on #535
OK I wil explain this to you over the weekend.

[2017-08-18 19:49] Dansong00 commented on #483
I keep track of the section in my calendar. an example of one way i'd use the section is if a user selects a visible date that is in a different section, i would use the collectionview method scrollToItem to snap the user to that section. I also use the scrollViewWillEndDragging method to update my header, and in order to do so i need to know if the section i'm is different from the section i just

[2017-08-18 22:52] patchthecode commented on #483
hmm. i guess this is the part i do not understand. Maybe if you join me here we can chat -> https://gitter.im/patchthecode/JTAppleCalendar

But if you want to snap to a date that is in a different section, all you have to do is use the following function -> `calendarView.scrollToDate( theDateYouWantToSnapTo )`

And for the `scrollViewWillEndDragging`, what you had to use was the following delegate

[2017-08-19 03:43] patchthecode commented on #473
closing until further input provided, then i'll re-open

[2017-08-19 03:43] #473 closed

[2017-08-19 16:32] patchthecode commented on #142
@Ferannor @dbmrq

ok, in your `viewController` implement your function.

[code]

Try this by updating to master branch in your pod file.
[code]

[2017-08-19 18:48] dbmrq commented on #142
I'll try it in a couple of days when I have the time. Thanks for looking into it. :)

Just one thing I don't know if you considered: can this be called in `viewWillAppear()` without any problems? Because like I said, the calendar also breaks if you go to a different tab, rotate the device there and then go back to the calendar's tab.

[2017-08-19 20:47] patchthecode commented on #142
@dbmrq
hmm. ok, the function
[code]

is a ViewController delegate function (not a calendar function). It is called every time the ViewController changes orientation. You should not need to put any thing inside viewDidAppear (although you can if you want to).

[code]

In regards to If you are on another tab? One sec. Let me add one more tweak to the fix.

[2017-08-19 22:31] dbmrq commented on #142
Yes, at first I know it's not necessary to call it on `viewWillAppear()`, but `viewWillTransition()` isn't called on the calendar's VC if the transition happens in another VC (like another tab). So the calendar has to be fixed *somewhere else* in that case.

I think ideally the user wouldn't even have to do anything to fix it… maybe calling that new `calendarView.viewWillTransition()` on the calen

[2017-08-20 07:53] patchthecode commented on #142
@dbmrq ok i have updated the function. I think it should now work like you want.

[code]

[2017-08-20 08:21] dbmrq commented on #142
Thanks, I'll check it out soon. :)

Em dom, 20 de ago de 2017 às 04:53, JTAppleCalendar <
notifications@github.com> escreveu:

[2017-08-20 14:03] patchthecode commented on #142
@dbmrq FYI, i changed the function signature again to something more consistent.
[code]
Will await your testing response. Cheers 🍻

[2017-08-20 17:57] patchthecode opened #537 "Calling calendarView.reloadData() right after a calendarView.selectDates"

[2017-08-20 17:57] patchthecode commented on #476
Investigated on [this thread](https://github.com/patchthecode/JTAppleCalendar/issues/537)

[2017-08-20 17:57] #476 closed

[2017-08-20 17:59] patchthecode commented on #520
fixed

[2017-08-20 17:59] #520 closed

[2017-08-20 18:53] patchthecode commented on #142
@dbmrq i am facing some issues when i try it with your 3rd try branch. Looking into it.

[2017-08-20 19:01] dbmrq commented on #142
No problem, for now it's all working fine for me by doing what I said
before, so there's no hurry. Sorry I couldn't look into it yet.

Em dom, 20 de ago de 2017 às 15:53, JTAppleCalendar <
notifications@github.com> escreveu:

[2017-08-20 21:40] #537 closed

[2017-08-21 14:02] romaHerman opened #538 "Range with zero spacing between cells issue"
Hi

I want to achieve range selection with zero space between cells
But I have white spaces between cells so sometimes cell occurred to be less in width than others

I'm not altering cell size programmatically.

In storyboard I have image with trailing leading bottom and top constraints to cell
in calendar cell width and height is set up to 50
and  cell size is 0 (like in example app)

Maybe I'm m

[2017-08-21 14:15] patchthecode commented on #538
Yea, the spacing between cells problem is not a calendar issue. It is a UICollectionView issue.
If you try to do a range select on a regular UICollectionView, you will encounter this problem.

This problem occurs because of this:
we have 7 columns, and a fixed width. Therefore if the width is something like say `414`. The cell's with will = 414 / 7 = 59.1428571429** recurring. That recurring numbe

[2017-08-21 14:20] romaHerman commented on #538
Thank you very much for quick reply
I will recheck everything , try and let you know about results!

[2017-08-21 15:07] JesusAdolfo commented on #524
I get limited control with this... I want to change my outside header right when the top most visible month header reaches the bottom of my outside header... this is a problem since I can not access the scrollViewDidScroll using the contentOffset...

[2017-08-21 17:07] patchthecode commented on #524
@JesusAdolfo can you try master branch?
we recently added the scrollViewDidScroll function.

[code]

put this is podfile to try the master branch ->
[code]

[2017-08-22 06:59] JesusAdolfo commented on #524
Alright this is is awesome... Haven't tried yet but definitely will once you release as a new version. I extended my own delegate from the existing one to get the contentOffset 👍

`protocol CustomCalendarDelegate: JTAppleCalendarViewDelegate `

When are you releasing a new version with this included?
It would make my code cleaner, no need to extend your protocol

[2017-08-22 07:37] Daffodil23 opened #539 "JTAppleCalendar will not support devices having iOS8 or greater? If I'm developing app that supports all iphone devices I shouldn't use it?"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. Please state the version number of this library you are using when you create the issue.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.0.6
3. Is your question already answered in the tutorials and guides —> https://patchthecode.github.io/
4. Don't just ask a question. Provide enough inform

[2017-08-22 14:51] patchthecode commented on #524
Well, first i have to test it, but you can use that branch till its released. My master branches as stable enough.

[2017-08-23 06:45] patchthecode commented on #538
Did not help?
If it is possible you can provide a sample app with that selection screen. I can code the solution.

[2017-08-23 10:35] lukejones1 opened #540 "Programmatically selecting date and scrolling to date simultaneously"
Heres a gif with the issue:

<img width="311" alt="completecal" src="https://user-images.githubusercontent.com/2439146/29622496-7415e7cc-87d8-11e7-9c3d-f1e3f72f630c.gif">

As you can see, when I scroll from the 27th August to the 28th August, the date does not become selected.

Heres the code for what happens when I scroll to collection view (each cell fills the collection view with a color of red

[2017-08-23 15:00] patchthecode commented on #540
This looks like 2 errors.

1. the first is your error -
[code]

When you run scrollToDate, the scrolling might still be in process. The cell that you wish to scroll to may not yet be on the screen. In order to ensure that the selection occurs when the date is already on the screen, you can use the completion handler.  This will ensure the cell is on the screen when selected, and therefore will not

[2017-08-23 15:06] patchthecode commented on #535
I explained it here-> https://github.com/patchthecode/JTAppleCalendar/issues/434

let me know if this helped.

[2017-08-23 15:06] #535 closed

[2017-08-23 16:47] lukejones1 commented on #540
Ahh of course, forgot about the closure for scrollToDate.

I'm not 100% sure if this is a new issue or not that I've just picked up, but every time I select a date where the following/previous month exists in the same row, I can not set the state to `isSelected` e.g. I select 30th August which has 3 days in September in the same row.  30th August `isSelected` always seems to return true.

[2017-08-23 19:05] patchthecode commented on #540
@lukejones1  Its probably an issue i put in, since im still working on master branch.
However, can you let me know in detail what this new error is?
Maybe if you have a sample app you can point me to, this will help a lot. I am not understanding the new issue you are experiencing.

[2017-08-23 22:06] annakopp commented on #540
Not sure if this is related to this issue, but I have something like this:
[code]
which works, but when I set animateScroll to false, it stops working (the cell is set to nil inside the didSelectDate function)

[2017-08-24 01:59] patchthecode commented on #540
@annakopp you'll need to tell me the version youre are using.
Without the exact version number, I do not know where to look. 7.0.6?

[2017-08-24 03:32] annakopp commented on #540
@patchthecode I'm using the newest stuff on master

[2017-08-24 07:12] patchthecode commented on #540
@annakopp

Do you have this code in your `viewDidLoad` function?
[code]

I put it in my viewDidLoad and it worked perfectly. If possible can you provide a sample app with the problem? You can drag the zip file in your chat box.

[2017-08-25 10:38] dovanvu1792 opened #541 "Customize Range Selection"
Hello,
I used newest JTAppleCalendar version, I now, i need to custom calendar like this link
https://cloud.githubusercontent.com/assets/4571502/16706761/ff11073e-45ea-11e6-8d1a-79fc0c15df90.gif
. Anybody give me some suggestions to do this.

[2017-08-25 16:17] Dansong00 opened #542 "Scrolling to new section and clicking quickly scrolls you back to the current section."
hey @patchthecode so i noticed a new bug that might be related to some updates you made in the current master branch. when you're in a section and you scroll and quickly click a date in the new section it scrolls you back to current section and does not select the cell. Attached is a gif of what i'm talking about.

https://cl.ly/2h1y293f2A3b

My calendar configuration is as follows.

[code]

[2017-08-27 04:27] patchthecode commented on #542
Yes, this is a scroll bug.
Introduced some time ago.
No one created an issue for it, so i forgot to fix it. Looking into it now.

[2017-08-27 04:29] patchthecode commented on #541
Hi, can you look at the documentation for version 6 and let me know if it helps you?
--> https://patchthecode.github.io/RangeSelection/

Some variable names have changed from version 6 to version 7, but understanding it should be the same. Let me know if this helps

[2017-08-27 08:38] amrit42087 opened #543 "Content offset changes when a date is tapped"
I am using 'JTAppleCalendar', '~> 6.0.0-beta.1'. When I tap on a date and vaigate to some other view and then came back to the calendar view. I see that the content offset of the calendar is changed a bit. The calendar scrolls down a bit. I am adding a video for the same. I will be great full
if any one could resolve this issue or let me know the cause for it.
[bug.mov.zip](https://github.com/patc

[2017-08-27 11:06] kboyeldieu opened #544 "Strange issue when trying to scroll and select next day, only happening the last week of October"
Hello,

I have a one row calendar and a button to scroll to the next day and select it. It is working fine, except when I use this button to move to the last week of October (for any year). The method I am calling is the following :

[code]

I join you a gif so that you can see better what my problem is.
![issue](https://user-images.githubusercontent.com/30385311/29749246-8197283c-8b27-11e7-8964-8

[2017-08-27 14:08] patchthecode commented on #543
6.0.0 beta 1..
hmm.. the latest version is 7.0.6
Is there any reason you are using such an old version?

[2017-08-27 14:12] amrit42087 commented on #543
Yes I had to use this older version due to some reason. I forgot why I had to stick to this version. But I would appreciate if you could figure out the issue.

[2017-08-27 15:08] #544 closed

[2017-08-27 15:09] kboyeldieu commented on #544
Solved it using this line of code instead
`let tomorrowDate = Calendar.current.date(byAdding:.day, value: 1, to: calendarView.selectedDates.first!)`

[2017-08-27 15:11] patchthecode commented on #544
cool.

[2017-08-27 15:20] dovanvu1792 commented on #541
Hi @patchthecode
Thank for your support. It is done.
Special thank to topic https://github.com/patchthecode/JTAppleCalendar/issues/538

[2017-08-27 15:20] #541 closed

[2017-08-28 16:25] patchthecode commented on #470
@dbmrq here ->
[JTCalTest-third-attempt.zip](https://github.com/patchthecode/JTAppleCalendar/files/1257425/JTCalTest-third-attempt.zip)

I think this new version works. I also think i worked some of the hard code i was doing before.
When reloadData is called, the layout is trashed, so i had some code to try prevent that.
This made things difficult as it seemed i was coding "against the grain".

Al

[2017-08-28 16:29] dbmrq commented on #470
Awesome, I saw something weird was happening on `reloadData`, but I didn't know what it was. I'll try the new code tonight and let you know. :)

[2017-08-28 16:29] patchthecode commented on #470
@dbmrq keep in mind this code change is experimental. But for now it looks more sturdy than the las logic.

[2017-08-28 16:32] patchthecode commented on #470
@dbmrq i also wanted to know your thoughts on forcing users to implement the new
`willDisplayCell` function. It seems that in order to fix those subtle bugs related to `inconsistencies in the visual appearance`, (according to Apple) there is no other way to do this. The good news is that the code you put in there will be the same code you have in your `cellForItemAtIndex` function. You will see th

[2017-08-28 16:39] patchthecode commented on #470
there are still some issues ok. Its code in progress.

[2017-08-28 17:43] dbmrq commented on #470
No problem, I'll stick with the previous version for my app and wait until this is better tested.

As for forcing users to implement `willDisplayCell`, I think that's fine. Now that the calendar is a subclass of `UICollectionView` I actually think it should be as close to `UICollectionView` as possible and use as many of its functions as possible, instead of creating another layer on top of it. Th

[2017-08-28 20:32] ycheng82 opened #545 "How to adjust the height of calendar view when scroll month to month"
I am using the latest build of JTAppleCalendar. For my calendar view, I want the cell height to be fixed. This means the height of calendar view is varied from month to month based on how many weeks that particular month has. How can I adjust the height of calendar view when scroll month to month? What I am currently doing now is:
    I created a NSLayoutConstraint for the height of my calendarVie

[2017-08-29 00:30] patchthecode commented on #545
[code]

[2017-08-29 04:18] dbmrq commented on #470
Ok, I just took a look at your code, but the problems I mentioned still seem to be happening.

There are two different problems, so maybe I should open another issue to keep track of them separately. Let me know if you want me to do that.

---

The first problem is the one on the title of this issue. Like I said

That still happens in the code you just sent me. If you tap "Push VC", go back and th

[2017-08-29 04:40] dbmrq commented on #470
Here's something that could be a clue:

https://stackoverflow.com/a/38145757/3539651

The question is dealing with images, but I think it could apply here. Are references to the cells or any of their elements stored anywhere (like an array)? Apparently that could cause that memory not to be freed on `reloadData()`.

I'm also not sure what is happening here, but the memory usage shouldn't keep grow

[2017-08-29 04:46] aspek opened #546 "Has anyone got this issue? DateSegmentInfo"
Hi all, I have tested  the delegate func

[code]
Data source is
[code]
Seems like if you try to using the "date" from DateSegmentInfo the values not correctly
this log from my case
[code]
version : 7.0

[2017-08-29 04:59] dbmrq commented on #142
I just tried the latest code and it's a huge improvement on this regard. Thanks!

I'll test it more thoroughly on the next few weeks, but for now I think this is fixed. 🍾

[2017-08-29 04:59] ycheng82 commented on #545
But when that date is the outdate of previous month, calendarView.reloadData(withanchor: date) will scroll to the previous month. How to handle this situation? Thanks.

[2017-08-29 05:02] ycheng82 commented on #545
Never mind. I resolved this issue by using:
if height?.constant != CGFloat(monthRowCount * 52){
            height?.constant = CGFloat(monthRowCount * 52)
            calendarView.reloadData(withanchor: calendarView.visibleDates().indates.count > 0 ? calendarView.visibleDates().monthDates.last?.date: date)
        }

[2017-08-29 05:17] aspek commented on #546
Solved. But you need to convert to DateComponents instead of Date
[code]

[2017-08-29 06:06] patchthecode commented on #546
When ever you are printing dates to the console, you have to be aware that although the date might be correct, a wrong date might be printed to the console if you are not printing it with a correct formatter.

See the answer here and let me know if this corrects your issue. -> https://github.com/patchthecode/JTAppleCalendar/issues/252

[2017-08-29 06:08] patchthecode commented on #545
Awesome. Closing this issue now.

[2017-08-29 06:08] #545 closed

[2017-08-29 06:10] patchthecode commented on #142
So i guess this issue is now resolved?
If it is, I will now close this.
And i will look at the other issue, you have opened.

[2017-08-29 06:27] aspek commented on #546
Hi thanks for quick reply, My boss told me before about printing dates to console. But when I'm using date as dateComponents. I got the wrong values same as printed.
[code]
[code]

[2017-08-29 06:42] patchthecode commented on #546
[code]

works?

[2017-08-29 06:59] tkirby opened #547 "How to show date as selected without allowing it to be selectable?"
I have a kind of strange requirement for an app I'm working on.  If the user selects tomorrow on the calendar, they want the selection to display today and tomorrow. However today should not be able to be selected directly. Nothing I've tried seems to get me that behavior so far. I can have the data show as selected only if I allow it to be selectable.

I hope that made some kind of sense.

[2017-08-29 07:07] dbmrq commented on #142
Yes, I only tested it briefly, but as far as I'm concerned this issue can be closed. :)

I just didn't close it myself because I can't speak for the orher users and use cases here.

[2017-08-29 07:18] aspek commented on #546
Yes, It's should works. My intent is If use the date with directly call like
`let comDate = cal.dateComponents(in: TimeZone(secondsFromGMT: +7)!, from: date)`
The date component will had incorrect values. there are true(actually wrong) values as printed. I have requested to my API server  and It will return to  wrong values.
Anyway Thank you for your attention.

[2017-08-29 07:24] #546 closed

[2017-08-29 12:27] patchthecode commented on #142
I have tested it in side tabBar, outside tabbar, inside superviewCOntainer and outside container. It works. I'll close this issue now.

[2017-08-29 12:27] #142 closed

[2017-08-29 12:28] patchthecode commented on #547
hmm.. i am not understanding. Is there some screenshot so that i can get a better idea?

[2017-08-29 14:17] patchthecode commented on #470
@dbmrq I tried every thing to recreate the memory leaks you are seeing. I do not know how you got those with the files i sent you :/

Here is the Projectfiles again ->
[JTCalTest-third-attempt.zip](https://github.com/patchthecode/JTAppleCalendar/files/1260578/JTCalTest-third-attempt.zip)

Here is vid1 showing no leaks ->
[NoMemLeaks.mp4.zip](https://github.com/patchthecode/JTAppleCalendar/files/12

[2017-08-30 02:10] dbmrq commented on #470
Sometimes I got the leaks right after I begun testing, and sometimes it took like 20 generations until it happened. Also I see you're using Xcode 9… I tried it with Xcode 8. I don't have the beta on this machine, but I'll try it soon. Anyway it shouldn't happen with either. But I think the main problem is the increasing memory anyway.

As for pushing the VC, that's very weird. I tried your files w

[2017-08-30 03:22] dbmrq commented on #470
Aha, I tried it in Xcode 9 and you're right, the problems don't happen. I suppose the leaks could be Apple bugs that were fixed. With the VC pushing issue I'm not sure what's happening, I thing it should work the same as in Xcode 8, but, well, let's hope it keeps working when the final version is released.

The memory growth is even worse in Xcode 9, though. While in my previous example there was

[2017-08-30 04:07] patchthecode commented on #470
@dbmrq oh man, i didnt realize you were using XCode 8.
Yes there are memory leaks in Xcode 8. After looking into it some time ago, i realized it was Apple bugs. I've been using Xcode 9 for quite some time now.

Ok. now that both problems are resolved, I will now totally focus on the increasing memory problem now. Thank you.
You will hear a response from me in a little while.

[2017-08-30 04:39] dbmrq commented on #470
Yeah, I have to stick to Xcode 8 to be able to update my app. 🤷‍♂️

I don't know how much time you have and when you're going to implement infinite scrolling out of the box, but if you plan on doing it soon maybe it's not even worth it to take too much time looking into this problem right now, since it's only that bad because of the workaround we came up with in #403. With a better infinite scroll

[2017-08-30 11:48] jesus-rod opened #548 "scrollToDate extraAddedOffset does not work"
- Using version 7.0.6
- I have a vertical calendar
I am trying to scroll to a date but because of my design, I have an overlapping view over the JTAppleCalendarView. Hence, I need to offset the scrolling about 30px more but when I try to pass values in the extraAddedOffset field, it does not make any difference.

I tried the following:
`myCalendarView.scrollToDate(firstDate, triggerScrollToDateDel

[2017-08-30 13:31] patchthecode commented on #548
hmm. I might have broke something. Let me check.

[2017-08-30 16:41] Cemoo commented on #252
@dehlen hi

I read your answer about the date conversion but i cant see inLocalRegion func for the date from dalegate method.

Am i wrong or missing something? How to use it that func? did you write it as extension for yourself?

[2017-08-30 16:47] patchthecode commented on #252
@Cemoo yes i think he used either a library or some extension.

[2017-08-30 16:49] Cemoo commented on #252
Ohh thx for quick answer @patchthecode.

[2017-08-30 16:57] Cemoo commented on #252
By the way  i still didnt solve thw issue. Which one is the correct answer ? @patchthecode

[2017-08-30 17:13] patchthecode commented on #252
@Cemoo Your selected date is being printed as incorrect?

if this is the case, open a new issue with the exact problem. Also show your `configureCalendar` code and your code that prints the wrong date. I'll answer there.

[2017-08-31 05:57] patchthecode commented on #548
Does your calendarView have any headers which scroll with the calendar?

Also, can you try the master branch and let me know if your issue is resolved there?
put this in you Podfile and then do a `pod update`

[code]

Master branch has a significant change.
1. you must implement willDisplayCell. The code you put in there, is pretty much the same code you put in your `cellForItemAtIndex` function

[2017-08-31 06:01] patchthecode commented on #547
Use the `shouldSelect` delegate function to determine if a cell should be selected or not.

You can then check if the if the selection was done programatically or by the user. You can allow it if it is a programatic selection.

programatic/user selection has been added to the master branch code.
Can you try the master branch and let me know if your issue is resolved there?
put this in your Podfile

[2017-08-31 07:52] myurieff opened #549 "Unexpected scrolling only on the Plus model."
Hello there.
Impressive project!

Sorry I cannot post an example, as the project is a company one, but I'll try to explain the issue as good as I can.

I am using the 7.0.6 version and have a screen displaying the calendar (which is a subview of collectionView). When the collectionView gets scrolled up until a certain point (to the point where only the last week of the calendar is visible) the Cal

[2017-08-31 10:49] patchthecode commented on #549
OK. i suppose you change the height of the calendar, and then do a `reloadData(withAnchor: date)`

So basically youre saying that the anchorDate's position of wrong on the plus devices?
If this is so, is it possible you can paste the code that you use to change the height and reload the data?

[2017-08-31 11:01] myurieff commented on #549
Hey, thank you for replying. I am not reloading any data. I just call

`if let fiveWeeksAgo = Calendar.current.date(byAdding: .day, value: -35, to: Date()) {
                calendar.calendarView.scrollToDate(fiveWeeksAgo)
            }`

So that the bottom row the calendar becomes the current week.

Here's a video of the issue: https://streamable.com/ob4pj

Notice how when the calendar gets ancho

[2017-08-31 11:10] patchthecode commented on #549
hmm. and just to confirm, we are sure that scroll function is not being called twice right?

i'll be up in a couple more hours. Its 4am here.
Will look into it more in a few hours.
i'll be on here once im up -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-08-31 11:18] myurieff commented on #549
Yes, I've tested everything that came to my mind. The scroll function gets called only the first time the calendar gets anchored. And then when it's time to expand it gets called again to 'restore' its state to what it was like at the beginning. Another thing happening with the Plus after expanding again the calendar its styling gets completely messed up. I think it's something to do with the prep

[2017-08-31 11:23] patchthecode commented on #549
ok lets have a talk once im up.
I'll share screens with you.

[2017-08-31 11:39] JesusAdolfo commented on #548
😩😩 I will be waiting for the new version to be released, I am doing several workarounds for a couple of things that apparently have been fixed on the master branch

[2017-08-31 11:40] myurieff commented on #549
Apparently we are in a vastly different regions, so I may not be up, but let me know if I can help with anything 👍

[2017-08-31 14:38] AwesDea commented on #173
Did u changed something again? I can't use `changeVisibleDirection `  function.

[2017-08-31 14:39] tkirby commented on #547
I actually figured it out after some messing around.

[2017-08-31 14:39] #547 closed

[2017-08-31 16:38] patchthecode commented on #173
@AwesDea it is been changed to a final name that i will not change again.

I have changed it to the same name as the one inside a UICOollectionView. This helps everyone in that they would not have to remember any custom names that i makeup anymore.

The name of the variable under the UICOllectionView is this ->

[code]

This is now the same name provided by Apple

[2017-08-31 16:39] patchthecode commented on #547
awesome.

[2017-08-31 18:17] patchthecode commented on #548
You can use master branch, i actually need more testers. I would hate to release it and something else broke somewhere else.

Or maybe you can let me know what was fixed. I am in the dark as to what errors there are if no one lets me know :)

[2017-08-31 18:29] JesusAdolfo commented on #548
How can I help you to test? I want to contribute since I've been using this library quite a bit lately..
Besides the problem mentioned in this post, the other thing I am working around is using the viewDidScroll delegate that I implemented myself instead of using the one on the master branch that probably needs testing too.

[2017-08-31 19:27] patchthecode commented on #548
Testing is simply using the master branch code.
If you see any issues, even the **_smallest_** of issues, then let me know and i'll fix.

Right now there are only few people using master branch,
therefore, when i take the master branch code and convert into the latest version for everyone else, there might be some parts we missed.

The master branch code, becomes the released version when we have

[2017-08-31 19:28] patchthecode commented on #548
you can even zip parts of fixes you have worked on, and drop it in chatbox here. Or you can create a github pull request if you prefer that option. That way this library will gradually become better.

[2017-08-31 19:29] patchthecode commented on #549
@myurieff im up. And im on the chat link -> https://gitter.im/patchthecode/JTAppleCalendar
If youre up as well.

[2017-09-01 07:05] myurieff commented on #549
Hey, sorry I was unavailable. It's now 10 AM here, so I'll be here for a while, if there's anything
👍

[2017-09-03 17:56] patchthecode commented on #538
closing this issue.
If the problem is still existing for you, provide a small sample app. I'll code the fix.

[2017-09-03 17:58] patchthecode commented on #540
closing issue.
Assuming issue has been resolved with latest master branch fix.
If bu still exists, i will re-open this issue.
Awaiting user input.

[2017-09-03 17:58] #540 closed

[2017-09-05 04:49] jeewanct opened #551 "How to make Calendar to select date in range For Example if I click on date 1-8-2017 than click on 15-8-2017 it make color from 1 to 15"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. Please state the version number of this library you are using when you create the issue.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.0.6
3. Is your question already answered in the tutorials and guides —> https://patchthecode.github.io/
4. Don't just ask a question. Provide enough inform

[2017-09-05 05:19] patchthecode commented on #551
[code]

[2017-09-05 05:21] jeewanct commented on #551
But how to change color of the cell  can you please make video for that

[2017-09-05 05:49] patchthecode commented on #551
You change the color of a cell the very same way you'd change the color of a cell in  a UITableView or a UICollectionView.

Inside your `didSelect` function, you change the color of the cell.
I have videos on all these. Here si the full link of all the vids -> [Here](https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q)

[2017-09-05 16:35] smartyram opened #552 "Vertical Scroll Bug"
Library version: 7.0

If user taps anywhere in the top status bar the calendar will scroll to the startDate set in func configureCalendar(_ calendar: JTAppleCalendarView).

Please see video to understand the bug. https://youtu.be/HnR8yBX8Uww

Sample project attached.
[CalenderScrollBug.zip](https://github.com/patchthecode/JTAppleCalendar/files/1278162/CalenderScrollBug.zip)

[2017-09-05 16:39] patchthecode commented on #552
good catch. Will fix this.

[2017-09-05 18:44] Dansong00 commented on #542
Any update @patchthecode

[2017-09-05 18:46] smartyram commented on #552
Thanks!

[2017-09-05 19:32] patchthecode commented on #542
@Dansong00 got really tied up last week. No worries. I havent forgotton about it. i'll give it a good look again this friday.

[2017-09-05 19:41] patchthecode commented on #552
in the file called `UIScrollViewDelegate.swift`  look for the function called

`public func scrollViewDidScrollToTop(_ scrollView: UIScrollView)`

can you change the function to this?

[code]

And let me know if this fixes this?

[2017-09-05 21:25] smartyram commented on #552
Thanks for the quick response. Unfortunately that change does not fix it.

`scrollViewDidScrollToTop(_ scrollView: UIScrollView)` is called after the scrolling occurs, so the check `if scrollView is JTAppleCalendarView` does nothing to fix the bug.

[2017-09-05 21:29] smartyram commented on #552
Probably check should be done here?
`scrollViewShouldScrollToTop(_ scrollView: UIScrollView) -> Bool {`

[2017-09-05 21:33] smartyram commented on #552
This fixes the problem.
`    public func scrollViewShouldScrollToTop(_ scrollView: UIScrollView) -> Bool {
        return false
    }
`

As per Apple documentation

So I need to set it to false always? Since I do no want the the scroll-to-top gesture to be effective.

[2017-09-05 21:41] smartyram commented on #552
Ok it is not a bug. I fixed it with this in my code.
`calendarView.scrollsToTop = false`

Thanks for all the help. You are faster than paid service! :) Keep up the good work.

[2017-09-05 22:30] patchthecode commented on #552
thanks. will close this then.

[2017-09-05 22:30] #552 closed

[2017-09-06 04:53] patchthecode opened #553 "IMPORTANT: Here are some of the changes in the upcoming version. It may cause some very minor code breaks."
# **Problem 1**: UICollectionView cell pre-fetching enables your calendar to scroll smoothly. But some problems arise.
A case can arise where a cell is already pre-fetched, but is still not yet visible on the screen.
<img width="250" alt="screen shot 2017-09-08 at 2 32 29 pm" src="https://user-images.githubusercontent.com/2439146/30231783-68425b08-94a1-11e7-97ae-5810d12be915.png">

In a case like

[2017-09-06 18:24] santiagoprieto opened #554 "Update all calendarView cells when new date is selected."
Hey Jay, I currently added JTAppleCalendar v 7.0 to my app and I'm loving it! Thanks for the great work and saving the dev community a ton of time. I feel lame asking this but haven't found a way to solve my issue, which seems to be like something that's super simple that I'm not doing. Any pointers or support would be hugely appreciated!

**A) What's happening**
In the didSelectDate method, I'm a

[2017-09-06 18:48] patchthecode commented on #554
OK. I'm @ work. I'll read it in more after im done.
We'll find you a solution 👍

[2017-09-07 04:29] patchthecode commented on #554
ok, whenever you call
[code]

This will cause the `didSelect` delegate to not be triggered as you have found out. But you cells still need to be updated. So, instead of calling the `didSelect` function, it instead calls the `cellforItemWIthIndex` function with all the cells that needs to be updated.

[2017-09-07 19:39] santiagoprieto commented on #554
Jay! You rock!! Thanks for your response! You're right, the cell needed to be handled on all methods `didSelect` as well as `cellForItemWithIndex`. This helped!

I also realized that I should change my strategy and use `calendarView?.generateDateRange(from: prep, to: deliver)` which made it much smoother. I love this function, as well as being able to adjust the cell via a switch:

        switch

[2017-09-07 20:41] patchthecode commented on #554
I havent looked at you new question thoroughly yet, but
would it help if you knew when a cell was selected `programatically` vs `userSelected` ?
The you might be able to tell when you are doing something vs when a user is doing something?

[2017-09-07 23:52] ahmed-sal commented on #553
For what it's worth, I personally like to create my own `isSelected` variable. I get to call it whatever I want, I play around with it's getters and setters. And it's just part of my UI design. Up to you tho.

[2017-09-08 02:00] patchthecode commented on #553
@ahmed-sal thanks for the input. I put it up here so that people can let me know if they are using the `isSelected` property on a cell. If many people complain, then I might try to consider another solution.

I am removing it because of synchronization issues. in some edge cases.
`cellState.isSelected` however, is managed by myself, and therefore it is always synchronized.

[2017-09-08 02:05] patchthecode commented on #554
Yes, the code on master branch has this update.
`cellState` now has a property which allows you to know if a cell was selected/deselected programitically.

But I am still working on it.
There are some changes on master branch though.

Devs will have to implement the `willDisplayCell` function.
The `willDisplayCell` function should have the exact same code as the `cellForItem` function. The the cod

[2017-09-08 07:33] sabariswaas opened #555 "Day header not scrolling why?(S,M,T,W,T,F,S)"
![screen shot 2017-09-08 at 1 02 35 pm](https://user-images.githubusercontent.com/31398982/30200803-09b21994-9496-11e7-9d31-a96b58039c4f.png)
I want to scroll day header (S,M,T,W,T,F,S) when scrolling.
![screen shot 2017-09-08 at 1 02 15 pm](https://user-images.githubusercontent.com/31398982/30200804-0acb2532-9496-11e7-91fd-40e9eb0fc698.png)

thanks,
Sabari

[2017-09-08 13:40] electroqted commented on #515
Facing the exact same issue in the exact same situation. @ahimahas, could you please explain what was the misunderstanding?

[2017-09-08 15:14] patchthecode commented on #555
[This video](https://www.youtube.com/watch?v=CQNotydm58s) shows you how to create a scrolling header

[2017-09-08 15:14] #555 closed

[2017-09-08 15:17] patchthecode commented on #515
@electroqted what crash are you experiencing? error message?

And can you let us know what code you have for the initialization?

[2017-09-08 15:27] electroqted commented on #515
I have a view controller CalendarViewController in which i have the JTAppleCalendarView
Code for the viewcontroller is this :
`public class CalendarViewController: UIViewController, JTAppleCalendarViewDataSource, JTAppleCalendarViewDelegate {

 @IBOutlet weak var MyCalendarView: JTAppleCalendarView!

  override public func viewDidLoad() {
        MyCalendarView.calendarDataSource = self
        My

[2017-09-08 15:56] patchthecode commented on #515
@electroqted since your project is smal. Can you zip it and drag it into this chat box? I'll take a look.

[2017-09-08 16:31] electroqted commented on #515
Found the issue! As I suspected, very small and silly indeed :P
There's one wrong line in the tutorial (or maybe it's just not updated for version 7).
Was making the JTAppleCalendarView out of a UIView as mentioned in the tut. Needed to make it out of a UICollectionView instead! Hence the crash at setting up layout.
Thanks though for the quick response @patchthecode !
Appreciate the help thoroughl

[2017-09-08 16:42] patchthecode commented on #515
@electroqted oh. You were reading the tutorials? I thought you were looking at the video tutorial list located --> [Here](https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q). It explains many things. Just look at the videos that you need to see, and skip the others.

[2017-09-08 19:47] ahmed-sal opened #556 "`reloadDates[]` breaks scrolling sometimes."
Firstly,

Thanks Jay for this awesome library. I'm starting to become a big user and hopefully will help contribute as I get more involved in my app.

## The problem
This is just a heads up for devs:
In version `7.0.6` if you use `calendarView.reloadDates[<some_dates>]`, it results in breaking selection functionality.

Steps to reproduce:
1. reload some dates using `calendarView.reloadDates[<some_

[2017-09-08 19:48] ahmed-sal commented on #542
@patchthecode , @Dansong00
If you look at this issue #556 , it could be relevant .

[2017-09-08 21:00] santiagoprieto commented on #554
I just added the pod. Applying changes and testing it soon. I'll surely let you know how it goes soon.

[2017-09-08 21:50] santiagoprieto commented on #554
Hey Jay,

The behavior is now much better. Exactly what I needed, plus it was very easy to implement!
🙌👌🤘

All I had to do was add this to `didSelect` and `didDeselect`:

        if cellState.selectionType == SelectionType.userInitiated {
            updateDatesWithSelected(deliverDate: date, cell:cell, cellState:cellState)
        }

**One thing that did change.**
When using a `dateRange` selecte

[2017-09-08 21:58] patchthecode commented on #554
ouch. thats a bad issue.
Let me look into that.

@santiagoprieto by the way, here are the changes I was talking about earlier about master branch -> https://github.com/patchthecode/JTAppleCalendar/issues/553

[2017-09-08 21:59] patchthecode commented on #554
@santiagoprieto if youre still online can you join me here? https://gitter.im/patchthecode/JTAppleCalendar

I do not understand how you got so many right selections.

[2017-09-08 22:07] santiagoprieto commented on #553
I would rather keep it clean and always use `cellState.isSelected` for JTAppleCalendar instead of apple's presets. This way there's less chance of interference with other stuff as swift and apple kits change.

You're doing a great job at building the `cellState` for calendar-focused info.

[2017-09-08 22:10] santiagoprieto commented on #554
Hahaha no worries, man. For now I can move forward with this and later improve it.
Let me know if I can do anything to help figure it out!

[2017-09-08 22:19] patchthecode commented on #554
OK i misunderstood. I thought the screen shot you showed above was  a bug i introduced accidentally. If it is not, then I guess I can close this issue?
But if it is a bug, then once you let me know how you got this, then I will fix it.
cheers man. and thanks 🍻.

[2017-09-08 23:09] patchthecode commented on #556
Thanks man.
Yes. Anchor date prevents the calendar from resetting back to the start.

however, `calendarView.reloadDates[<some_dates>]` should not have behaved this way.
I think I have fixed it on the master branch so that it does not behave like this.
I have updated the changes on master branch and have tracked them here -> https://github.com/patchthecode/JTAppleCalendar/issues/553

Thanks again.

[2017-09-08 23:32] santiagoprieto commented on #554
Oh! Sorry. I just saw your message about joining you in gitter. I did some extra tests to see what functions were being called to create the array of selected dates and I figured out what was going on. It was something very lame on my side.

When I read the below:

I forgot to remove the deque part:

        let cell = calendar.dequeueReusableJTAppleCell(withReuseIdentifier: "DayCell", for: indexP

[2017-09-08 23:35] patchthecode commented on #554
Awesome man. Good stuff.
If you find any new issues, let me know. i'll close this one now. 🍻
I'll keep on testing it, and iff all looks sounds, then i'll release version 7.1.0 soon.

[2017-09-08 23:35] #554 closed

[2017-09-09 22:30] Alvin12344 opened #557 "Orientation change is reseting the days in the calendar"
It looks like as soon as orientation changes, the calendar resets to the month of end date but does not change the month and year label. That is if I am in June 2017 in landscape and change it to portrait, the days reset to September 2017 but month and label stays as June 2017. How do I stop this from happening?

I am using version 7.0.6 with Swift 3.0

[2017-09-10 06:39] patchthecode commented on #557
I have a function to help you in that area, but its has a small bug which was fixed by the master branch.
Can you update to master branch code?

put this in pod file
[code]
Then do `pod update`.

You will be forced to add a new function called `willDisplayCell`. This is explained [here](https://github.com/patchthecode/JTAppleCalendar/issues/553) under **Problem#1**.

Once your update is complete,

[2017-09-10 06:39] #551 closed

[2017-09-10 13:46] jokerham opened #558 "cellState of cell in didSelectDate not updated"
Version is 7.0.6
While debugging didSelectDate function, I have found that the cellState of the cell in the parameter and cellState in the parameter does not match.

![2017-09-10 9 40 50](https://user-images.githubusercontent.com/8528842/30249542-1026769e-9671-11e7-9417-00f22eeb5e33.png)

as you can see the cellState variable shows that isSelected = true, while calendarCell.cellState.isSelected =

[2017-09-10 14:06] patchthecode commented on #558
you have to use cellState.
Here is a discussion on this -> https://github.com/patchthecode/JTAppleCalendar/issues/553

I am thinking of removing isSelected on the cell.

[2017-09-10 14:42] patchthecode commented on #549
Not sure if you found a solution to this. But it be could if i either see you on chat, or maybe if you can provide me a sample project that i can debug.
Will close this issue until you respond. thanks.

[2017-09-10 14:42] #549 closed

[2017-09-10 14:43] #538 closed

[2017-09-10 18:44] Alvin12344 commented on #557
Thanks for your reply, how do I update master branch code? Can you please explain.

[2017-09-10 19:03] patchthecode commented on #557
I just did above.

put this in pod file

pod 'JTAppleCalendar', :git => 'https://github.com/patchthecode/JTAppleCalendar.git', :branch => 'master'

Then do pod update.

[2017-09-10 19:18] Alvin12344 commented on #557
Got this

Analyzing dependencies
[!] There are multiple dependencies with different sources for `JTAppleCalendar` in `Podfile`:

- JTAppleCalendar (~> 7.0)
- JTAppleCalendar (from `https://github.com/patchthecode/JTAppleCalendar.git`, branch `master`)

[2017-09-10 19:28] patchthecode commented on #557
can you join me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-09-11 08:28] myurieff opened #559 "Project for Issue #549"
Hello :)

I saw that you've closed #549, so I decided to make a new project and attempt to recreate the issue.
You can download the project here: https://mega.nz/#!JtpHCAbC!MogATISaCidv76uXIRjZX4M-c7WlPS-s5qIhtNVV4qQ. The same exact issue occurs, again, only on the Plus model.

Thank you in advance! If you need anything else, let me know.

[2017-09-11 10:06] willard1218 opened #560 "How do I know if cell is thisDay"
I would like know highlight cell that is thisDay, just like Apple Calendar.
But **dateBelongsTo** of **CellState** haven't **thisDay** value,
So how do I know if cell is thisDay ?

[2017-09-11 11:40] myurieff commented on #560
In the project I'm currently working, I just use simple yyyy.MM.dd date formatter to compare cellState.date to Date().

[2017-09-11 15:45] patchthecode commented on #559
thank you.
checking it out now.

[2017-09-11 15:49] patchthecode commented on #560
Dev @myurieff is correct.

If you want to know know if a particular day is `Today` just compare it.
You can compare it with your calendar instance.
[code]

[2017-09-11 15:52] #560 closed

[2017-09-11 19:00] Hendies567 opened #561 "outDates not choosing the correct orientation case between different months in a selected range"
I'm using 7.0.6 and I'm coming into a problem with the continuation of a date range selection between months - concerning outDates.
I've selected the Dates 4th October to 11th October yet on the September calendar, the 7th October cell appears as a .right orientation, whereas it should be .middle

<img width="373" alt="screen shot 2017-09-11 at 19 52 38 copy" src="https://user-images.githubusercon

[2017-09-11 21:19] patchthecode commented on #561
Is your situation similar to this? -> https://github.com/patchthecode/JTAppleCalendar/issues/391

[2017-09-11 21:28] Hendies567 commented on #561
Yes! Must've slipped under my radar when I was looking through the issues. It's identical to the problem with the pictured 6th of May orientation

[2017-09-11 22:40] patchthecode commented on #561
OK, lets try to track this issue over there.
Currently, this library gives a direct description of the left, middle, right, and full.
The guy over there says some good points as to what it should be, but I have not yet come up with a way to do this without impacting performance.
Now that you have brought it up to my attention again, i'll take a look at it.
But in the mean time, it just might be th

[2017-09-11 22:41] patchthecode commented on #561
will close this issue. Lets put all comments over there.

[2017-09-11 22:41] #561 closed

[2017-09-12 13:12] coty10 opened #563 "Tableview with notes (JTAppleCalendar V 7.0.6)"
I am building a calendar with notes. So basically what i'm trying to achieve is to show the calendar and beneath it a tableview which will list all the notes for that specific day. The note are stored in core data. So i have two Entity: AgendaNotes AgendaNoteDates

AgendaNotes has a one to many relationship with AgendaNoteDates (so basically every note can have multiple dates)

The point is to get

[2017-09-12 13:15] alizainprasla commented on #397
I am using JTAppleCalendar 6.1.6. On deselect app is crashing

[2017-09-12 14:19] patchthecode commented on #397
@alizainprasla

1. what crash are you seeing? Without information about the crash. I cannot help much.
2. Is it possible you can upgrade your app to version 7 ?

All these issues have been fixed in that version.

[2017-09-12 16:08] alizainprasla commented on #397
@patchthecode i am deselecting my range selection in

 **func calendar(_ calendar: JTAppleCalendarView, shouldSelectDate date: Date, cell: JTAppleDayCellView, cellState: CellState) -> Bool {**

Delegate. Is there anything i am doing wrong? or should i update to newer version

![screen shot 2017-09-12 at 9 05 31 pm](https://user-images.githubusercontent.com/820419/30336299-3665e0c2-97fe-11e7-8f41-a

[2017-09-12 21:21] patchthecode commented on #397
@alizainprasla updating to a newer version fixes *many* issues.

However, version 7.0 contains breaking changes.
I can help you migrate if needed.

[2017-09-13 02:09] willard1218 commented on #328
I also would like dynamic layout,
But can I let cell of height fixed?

for example:
if the month has 5 rows, then cell height = 50, collectionView = 50 * 5 = 250.
if the month has 6 rows, then cell height = 50, collectionView = 50 * 6 = 300.

[2017-09-13 02:31] patchthecode commented on #328
Are you going to change the height of the calendar view's frame when the month has 5 rows?

[2017-09-13 02:39] willard1218 commented on #328
Yes, I have calendarViewHeightConstraint to adjust my calendarViewHeight.
For example:

[code]

[2017-09-13 02:46] patchthecode commented on #328
@willard1218 ok, when the calendar's height change, the cell's height should adjust to what you want?

Currently the cell's height is determined by the height of the calendar (for a horizontal calendar). Unless i misunderstood the real problem you are having?

[2017-09-13 02:51] willard1218 commented on #328
Yes, just like AppleCalender, the cell's height is fixed,
But calendar's height change when numOfRow change.

And cell's height is always fixed.

[2017-09-13 03:01] patchthecode commented on #328
can you join me here? https://gitter.im/patchthecode/JTAppleCalendar

[2017-09-13 09:34] alizainprasla commented on #397
@patchthecode I have change my code to 7+, However by selecting one date. i select range date but i also want to deselect other selected dates. thats what doing these crash.

How to deselect date on my scenario?

[2017-09-13 14:50] patchthecode commented on #397
@alizainprasla im back.
If youre up, can you join me here? https://gitter.im/patchthecode/JTAppleCalendar

[2017-09-13 15:32] patchthecode commented on #558
closing issue. Let me know if you still need more information on this.

[2017-09-13 15:38] patchthecode commented on #543
After looking at the movie again, it looks like the it should have snapped to the header, and not allow you to slowly drag it in such a way that the header is hidden.

[2017-09-13 16:37] Adelmaer opened #564 "How to use JTAppleCalendar in iOS 11, XCode 9?"
Hello, my app need to be released in iOS 11. (minimum deployment target)
I've been using JTAppleCalendar 7.0.4 (installed via CocoaPods with pod 'JTAppleCalendar', '~> 7.0') while i've been developing the app with iOS 10 Xcode 8.
Now i've opened app in Xcode 9, converted to Swift 4 and changed deployment target to iOS 11 and I see errors related to JTAppleCalendar.
Can't you tell me please how to

[2017-09-13 17:11] patchthecode commented on #564
the latest version is compatible.
There are some changes which fixes some errors on version 7.0.4
You need to add one extra function, and I think the name of one variable has changed.

Latest version is on master branch.
You can join me here (after my work time) to help with changes if you like -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-09-13 17:38] Adelmaer commented on #564
Thanks for answer and invitation, but should I convert the pod to Swift 4 or not? ( It's the first time i'm migrating to another Swift version, that's why I don't clearly understand how to update pod. ) As long as I understand your answer, I need to update my pod to 7.0.6 with with pod 'JTAppleCalendar', '~> 7.0.6 and not update the pod to Swift 4 ?
![screen shot 2017-09-13 at 20 32 27](https://us

[2017-09-13 17:51] patchthecode commented on #564
Yes.
Its asking you to update to swift4 because 7.0.4 is not swift 4 compatible.

If you update to 7.0.6, then it will not ask you this, because 7.0.6 _is_ swift 4 compatible.

i am currently updating 7.0.6 on master branch. After I release it, it will become version 7.1.0
But since you need your project right now, then update to 7.0.6

After you update, just do a check to see if every thing is ok

[2017-09-13 18:22] Adelmaer commented on #564
Just updated my pod to 7.0.6 with: pod 'JTAppleCalendar', :git => 'https://github.com/patchthecode/JTAppleCalendar.git'
![screen shot 2017-09-13 at 21 11 58](https://user-images.githubusercontent.com/4399252/30393659-843d221c-98c9-11e7-83e8-bc1bcc2a7cf3.png)

iOS Deployment target is set to iOS 11.
In issue navigator it still showing me Swift 4 issue, asking me to convert JTAppleCalendar to Swift

[2017-09-13 20:10] patchthecode commented on #564
Try converting and let me know if any code has changed.
I do not think any code should be changed. Try it and let me know.

[2017-09-13 21:38] Adelmaer commented on #564
Converted, everything is Ok now, thanks! Solved!

[2017-09-13 21:39] #564 closed

[2017-09-13 22:25] zlatibor opened #565 "How keep cell's state unchangable?"
Hello,

I am new into JTAppleCalendar and I need a little help.

I made JTAppleCalendar using first 2 video tutorials on the https://github.com/patchthecode/JTAppleCalendar

I selected (yellow circle) some days in JTAppleCalendar from an array of Date, and now I need to keep them always selected and other days unselected. For example, in October (31 days) I have 2 selected and 29 unselected days.

[2017-09-14 00:08] patchthecode commented on #564
awesome.

[2017-09-14 00:10] patchthecode commented on #565
What do you mean by `keep their states unchangeable` ?

What is it you are trying to accomplish?

[2017-09-14 04:06] seanrice commented on #530
hey pa†ch, any news on this? glad to help as directed.

[2017-09-14 04:15] seanrice commented on #553
another vote for ♥︎ cellState.isSelected and ditto on the great job.

[2017-09-14 19:27] jefflopes opened #566 "Dynamic height based on number of weeks in month"
I'm sure this must be a FAQ, but I've read a bunch of the other issues and the wiki and I haven't been able to figure it out...

How do I dynamically size JTAppleCalendar based on the number of weeks in the month? I'm using generateOutDates: .tillEndOfRow, but it still leaves an empty row at the button of the view.

[2017-09-14 19:35] jefflopes commented on #566
You can see the extra space under the rows in this screenshot from view debugger:

<img width="245" alt="screen shot 2017-09-14 at 3 33 57 pm" src="https://user-images.githubusercontent.com/54537/30451927-3e55b6ee-9962-11e7-9979-2b60edce400c.png">

[2017-09-14 20:13] patchthecode commented on #566
`generateOutDates: .tillEndOfRow` shoulw work.

What version of the app are you using?
And if possible, to make things faster can you zip a sample project and drag it in this chat box?
Delete the derivedData and debug folders to make it smaller.

[2017-09-14 20:16] jefflopes commented on #566
@patchthecode Thanks for the reply. I'm using 7.0.6. I'll see if I can factor this code out into a small sample project and report back.

[2017-09-14 20:27] patchthecode commented on #566
alright thanks. will wait.

[2017-09-14 21:05] jefflopes commented on #566
@patchthecode Here you go. Pod install, build, and run and you should see the calendar with the empty row at the bottom. Thanks for the help!

[JTAppleCalendarHeightIssue.zip](https://github.com/patchthecode/JTAppleCalendar/files/1304571/JTAppleCalendarHeightIssue.zip)

[2017-09-14 21:32] patchthecode commented on #566
@jefflopes just checked it out. You have not configured your constraints correctly in the `CalendarView.xib` file.

[2017-09-14 22:02] patchthecode commented on #391
this has now been fixed on master branch

[2017-09-14 22:26] jefflopes commented on #566
@patchthecode Thanks for looking. Are you able to be more specific? I just double checked the constraints in both xibs and I did notice I had a 1:1 ratio constraint that might have been the problem but after removing it it's still not working. Were you able to get it working in that project?

Here's an updated version of the project with simplified constraints (ie, the 1:1 ratio constraints remove

[2017-09-14 22:54] patchthecode commented on #566
My apologies man.
Investigating it some more. I may might have judged this issue too quickly.
Taking a 2nd look.

[2017-09-14 23:03] patchthecode commented on #566
i looked at your code, and i saw this ->
`calendarCollectionView.allowsDateCellStretching = false`

This will make your cells not stretch the meet the bottom of the calendar.
Therefore, with it enabled, you will see the space you are seeing.
Remove this code to get rid of the space.

The size of the cells are determined by the height of the calendar view.
If you want your cells to be a perfect squ

[2017-09-14 23:12] jefflopes commented on #566
@patchthecode That's not exactly what I'm trying to do. I'd like to have fixed cell width/height and fixed spaced between the cells, which would require the calendar view itself to change height based on the number of rows. Is that possible?

[2017-09-14 23:20] patchthecode commented on #566
@jefflopes can you join me here? https://gitter.im/patchthecode/JTAppleCalendar

[2017-09-15 00:10] patchthecode commented on #566
closing as issue was resolved over chat.

[2017-09-15 00:10] #566 closed

[2017-09-15 07:48] coty10 commented on #563
I have fixed this... i'm getting my event data from Core data so there's no need to use in the viewdidload the DispatchQueue.global().asyncAfter... there's no need also of the extension getServerEvents. I'll loop through my events with a simple for loop:
    var selectedDate: Date!
    var eventDate: Date!
    var myTempEvent: AgendaEvent!
    var myEventDate = [String]()
    var myTempEvents = [A

[2017-09-15 07:49] #563 closed

[2017-09-15 11:39] myurieff commented on #559
Hey, just to let you know, the issue persists on the iPhone X as well.

[2017-09-15 13:08] jokerham commented on #558
I was not referring to the isSelected of the cell, but the cellState. Just that the cellState on the cell(p) of parameter and the cellState(P) on the parameter differs. I can always resolve it by overriding the cellState of the cell(p) from cellState(P) received.

[2017-09-15 14:32] patchthecode commented on #563
Thats good man.
I was gonna get to this over some weekend. But I had to fix other issues first as they were more damaging. I'll note the work as reference.

[2017-09-15 15:04] patchthecode commented on #558
I do not understand.
✅ We only have on `cellState` which is given by the function.
❎ We do not have a `cellState` on the cell.

Can you explain some more by joining me here? -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-09-15 16:53] patchthecode commented on #559
saving project here on github for easier access
Still looking at it.
[calendarscrollbug 2.zip](https://github.com/patchthecode/JTAppleCalendar/files/1307047/calendarscrollbug.2.zip)

[2017-09-15 17:13] patchthecode commented on #559
Ok. i think i found the bug.
Working on a fix now.

[2017-09-15 17:21] patchthecode commented on #559
Code has now been fixed on master branch.
I dont know if you are using master branch, but there are 2 breaking code changes there. The reason for the change is explained here -> https://github.com/patchthecode/JTAppleCalendar/issues/553

put this in your pod file and run a `pod update`
[code]

if you need help implementing it, then let me know.

[2017-09-15 17:23] patchthecode commented on #530
hey i have not forgotten.
Just really really tied up, so i had to fix the other worse issues.

But no worries, this issue will be resolved on master branch.
I am doing some code updates there.

[2017-09-15 17:26] patchthecode commented on #559
If for what ever reason you cannot use master branch right now, then you can fix the issue your self.
Head to the `JTAppleCalendarLayout.swift` file and replace this function with this code
[code]

[2017-09-15 17:32] seanrice commented on #530
oh cool. i’d love to know what the issue is / how solved.
Sean

[2017-09-16 16:02] patchthecode commented on #559
closing issue

[2017-09-16 16:02] #559 closed

[2017-09-16 16:02] patchthecode commented on #556
closing issue. As getting close you new release.
And this bug has been fixed.

[2017-09-16 16:02] #556 closed

[2017-09-16 16:03] patchthecode commented on #391
closing issue.
will be included in release 7.1.0

[2017-09-16 16:03] #391 closed

[2017-09-17 19:41] patchthecode commented on #542
@ahmed-sal thanks.
I think i found the issue. Fixing it on master branch now.

[2017-09-17 22:43] willard1218 commented on #517
Really great lib, thanks for @patchthecode
I made a calendar just like Apple Calendar!
![apple](https://user-images.githubusercontent.com/14361902/30525605-56beabc8-9c3c-11e7-86c4-51b4e26defbc.gif)

[2017-09-18 01:40] seanrice opened #567 "Best practice to adjust Monday - Sunday header?"
7.0.6
Today i decided to turn off hasStrictBoundaries to create continuous dates in 1-row setup. Now I'm looking for a solution to adjust weekday headers.

Logically, given date, one needs to know the 'count' of days shifted when GeneratedInDates and GeneratedOutDates are off for 1-row –– and use this to adapt weekday headers. How?

Background -- Basically, i'm going from monthly to weekly view ..

[2017-09-18 02:23] #542 closed

[2017-09-18 02:28] patchthecode commented on #567
Ah. The default configuration for a 1-row calendar is this

[code]

`.forFirstMonthOnly` is used to generate the offset in the columns. And with strict boundaries set to false, it will snap right next to the previous months.

Let me know fi this helped.

[2017-09-18 02:31] patchthecode commented on #543
Have you found a solution to this?
let me know.

[2017-09-18 02:32] #543 closed

[2017-09-18 03:00] patchthecode commented on #530
I was trying to recreate the issue on the latest master branch code. And i could not reproduce it.
I made many enhancements over the time we last spoke. This could have possibly fixed your issue?

here is my test on device.
![bugpossiblyfixed](https://user-images.githubusercontent.com/2439146/30527863-0f8f1c42-9be2-11e7-849e-187c1688effa.gif)

I am not sure if you are using latest master branch co

[2017-09-18 03:02] patchthecode commented on #517
@willard1218 awesome job man. +1 🍻

[2017-09-18 03:09] patchthecode commented on #470
@dbmrq in terms of the reload problem. For master branch code, i just did the profile, and it only rose to 18MB Max. Then it stopped growing. I tried a number of things to mess with it. I think all looks ok with it. (unless im wrong).

[2017-09-18 03:38] seanrice commented on #567
ha! i just figured the "forFirstMonthOnly" part out ... was upgrading a class with elaborate code when it hit me... to try ". forFirstMonthOnly" ... and that did the trick. returned here to sheepishly but gladly admit the ease of solution. Thanks Patchman !!!

[2017-09-18 03:38] #567 closed

[2017-09-18 03:49] seanrice commented on #530
Hmmm. Patch, in my tests the app is running, call comes in, and green bar appears upon answering. didn't see the green bar in your animation.

[2017-09-18 04:32] dbmrq commented on #470
That with those files you sent me? Weird, here the app starts running with about 50 MB already. Or do you mean 18 MB is the total *growth*.

Anyway, it's hard to be sure of the results when testing manually, that's why I was calling `reloadData()` 100000 times in my code. Now that doesn't work anymore, but I think to be sure you should comment out whatever you did to block it and try doing that, w

[2017-09-18 04:50] amrit42087 commented on #543
I was able to resolve the issue by updating the library to 7.0.6. But I discovered a new issue. I was not able to give different monthsizes(header height). I wanted the first header to be a bit taller than the others. But the height is same for all cells. Can you let me know the cause for this?

     func calendar(_ calendar: JTAppleCalendarView, sectionHeaderSizeFor range: (start: Date, end: Date

[2017-09-18 05:01] patchthecode commented on #543
ok open a new issue so that i dont forget it :)
but, let me starting looking into it.

[2017-09-18 05:02] amrit42087 commented on #543
Sure, Thanks

[2017-09-18 05:02] patchthecode commented on #567
youre welcome :)

[2017-09-18 05:04] patchthecode commented on #470
ok, i meant the code on master branch seemed ok.
Ok here's what, I change your code and try it with latest master code.
Then i'll test it by removing the code for the reload for loop.
Will respond here to you again.

[2017-09-18 05:05] amrit42087 opened #568 "Different month sizes not working"
I discovered a new issue. I was not able to give different monthsizes(header height). I wanted the first header to be a bit taller than the others. But the height is same for all cells. Can you let me know the cause for this?

[code]

[2017-09-18 05:06] patchthecode commented on #530
ok let me check

[2017-09-18 05:07] dbmrq commented on #470
Alright, I think that's the safest option anyway. Thanks!

[2017-09-18 05:21] patchthecode commented on #568
[code]

[2017-09-18 06:56] myurieff commented on #559
Thank you so much, man. Everything works flawlessly 👍

[2017-09-18 14:57] Dansong00 commented on #542
Thanks patch i'll keep you updated!

[2017-09-18 17:32] Matiaz opened #569 "Module compiled with Swift 3.1 cannot be imported in Swift 3.2"
*Using the latest version: 7.0.6

Was using the library version 7.0.4 with Xcode8 and was working fine, then I updated Xcode to Xcode9 and now it throws an error that says: **Module compiled with Swift 3.1 cannot be imported in Swift 3.2**
I'm using Xcode 9GM and the library JTAppleCalendar 7.0.6 and also Carthage 0.25.0.

I tried reinstalling Carthage, updating the library, etc. Nothing works. An

[2017-09-18 18:10] patchthecode commented on #569
ok. looking into it.

[2017-09-18 19:34] patchthecode commented on #558
Closing again until response.

[2017-09-18 19:34] #558 closed

[2017-09-18 23:13] seanrice commented on #530
STOP THE PRESSES !!!
Great news. You are correct. It must either be fixed on Master Branch because i can no longer re-create the issue here. JTAppleCalendar is working beautifully inside our tables.

[2017-09-19 01:24] patchthecode commented on #530
haha. thanks man.
awesome 🍻

[2017-09-19 13:00] nikpocuca opened #570 "extension of CalendarViewController: JTAppleCalendarViewDataSource, JTAppleCalendarViewDelegate"
Hi ,

It is asking me to provide another function, I've been following your video tutorial but you only have two protocols outlined in the video. I cloned your project and implemented everything correctly. Could you resolve this issue?

Here is the code:

`  func calendar(_ calendar: JTAppleCalendarView, willDisplay cell: JTAppleCell, forItemAt date:
    Date, cellState: CellState, indexPath: Inde

[2017-09-19 16:05] patchthecode commented on #570
You must be  using the latest master branch code.
Yes, in the update to come, i will be forcing every one to implement the `willDisplayCell` function.
The reason is explained here -> https://github.com/patchthecode/JTAppleCalendar/issues/553

[2017-09-19 16:06] patchthecode commented on #568
closing issue. If not resolved, then let me know.

[2017-09-19 16:06] #568 closed

[2017-09-19 16:07] #570 closed

[2017-09-19 16:28] patchthecode commented on #569
Hmm, I am not sure if there is some setting you're not configuring correctly?

I just created a new project. And followed the instructions [Here](https://www.youtube.com/watch?v=SSFXzNXzn2k&index=2&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q).
And it installed and worked. I am also using XCode 9GM swift 4. And it worked.

Here is the sample app i created.
[CartExample.zip](https://github.com/patchthec

[2017-09-20 07:30] boborbt opened #571 "Migration from v6 to v7: runtime error"
Hi,
   I'm trying to migrate a project from version 6.1 to version 7.0.6. I've fixed the compilation errors mainly adopting the JTAppleCell as the cell of the calendar and fixing the calendar::: delegate method (btw, is there any migration guide?). My problem now is a runtime error (`Thread 1: EXC_BAD_ACCESS (code=1, address=0x0)`)  at line:

https://github.com/patchthecode/JTAppleCalendar/blob/48

[2017-09-20 10:26] kunass2 opened #572 "Sth is wrong with the dates after 6 November 2017."
This is my calendar:

<img width="380" alt="screen shot 2017-09-20 at 04 20 42" src="https://user-images.githubusercontent.com/9480650/30639200-2498722a-9dbb-11e7-8b19-5cc91792b12e.png">

I arrange it like this:

    func configureCalendar(_ calendar: JTAppleCalendarView) -> ConfigurationParameters {

        let startDate = DateFormatter(type: .date, utcTimeZone: true).date(from: "01.01.2017")!

[2017-09-20 12:46] #572 closed

[2017-09-20 15:20] patchthecode commented on #572
i guess you realized why?

[2017-09-20 15:22] patchthecode commented on #571
Are you dong all your things through code?
or though interface builder?

If through interface builder, this [video list](https://www.youtube.com/watch?v=SSFXzNXzn2k&index=2&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q) will help you much.

If doing through code, then can you paste to me how you are declaring your calendar?

[2017-09-20 15:36] kunass2 commented on #572
yes, the problem was related to sth else...

[2017-09-21 01:52] patchthecode commented on #558
Ah thanks for responding.
If you have any other issues, then let me know.

[2017-09-21 08:22] boborbt commented on #571
Hi Jay, thanks for your support.

The main window is setup via interface builder (IB). I also used IB to place the JTAppleCalendarView inside the window. The main setup of the view is then done in code as follows:

[code]

To the best of my understanding though the above function is never called since the app does not even get to execute the didLoad method in the main ViewController. Maybe somethi

[2017-09-21 14:15] boborbt commented on #571
Some progress here: in IB I removed the calendar view from the main view and added a new collection view. Then I followed your video instructions to configure it. Now the didLoad method get called but I have access errors the first time I try to access any of the properties of the calendarView. Does it ring any bell to you?

*Note*: I've also tried to change the outlet variable removing the "weak"

[2017-09-21 15:44] boborbt commented on #571
I solved this issue (the behaviour is still not correct, but at least it launches).

To anybody interested my solution consisted in:
- removing the JTAppleCalendarView I created with v. 6 of the library and inserted a CollectionView instead; then I followed the video tutorial to configure it;
- the access error (EXC_BAD_ACCESS) was due to not having properly spelled the name of JTAppleCalendarView

[2017-09-21 16:06] patchthecode commented on #571
Sorry man. i just had a chance to see your responses.
If you need to contact me faster you can do so here -> https://gitter.im/patchthecode/JTAppleCalendar

Ok, you said the behavior is still not correct.
Can you let me know? I'll be around for a while.

[2017-09-21 17:44] seanrice commented on #530
Bad news. I'm seeing the bug as described. At some point, when our app is backgrounded, its forgetting its current scroll position ... and sliding back to the first date of first month in calendar. It's more cosmetically annoying than anything, but a bugs a bug. Sigh.

[2017-09-21 18:01] patchthecode commented on #530
Ok, in the mean time before i look into it, can a possible temporary workaround be this?

add code that when coming from background, it scrolls to some saved date. So right before going into background, you save the date. And right as you come to foreground, you scroll to date?

i'll look into this after work.

[2017-09-22 03:42] AtrinNoori commented on #173
hey
thanks for the amazing library it helps a lot
although I have an issue with it
and it is that
the first six month of the Persian calendar has 31 days
and the second 5 months has 30 days
and for the last month it is 29 days but every 4 years in has 30 days
and I don't know how to implement it
I used Date formatter for The Persian Calendar but it was no good (first screenshot)
and I don't know w

[2017-09-22 03:49] patchthecode commented on #173
@AtrinNoori you also have to give the library a calendar instance setup for persian.

[code]

[2017-09-22 05:44] dreamBegin commented on #21
any updates?

[2017-09-22 05:54] patchthecode commented on #21
on ObjectiveC?
Not really.

Managing this is already a lot for me.
Maybe someone can do a pull request.

[2017-09-22 06:22] patchthecode commented on #569
Will close this issue until user responds.
Label set to `Awaiting User Input`

[2017-09-22 06:22] #569 closed

[2017-09-22 07:48] dreamBegin commented on #21
i wish somebody's me, but i myself got stuck. anyways appreciate your time Sir @patchthecode

[2017-09-22 10:13] mikasR commented on #358
Hey,

I know this issue has been closed, however i'm having this same issue on version 6.1.6.
Can you point me to the solution, because i really don't want to upgrade to version 7.

Thank you.

[2017-09-22 10:23] boborbt commented on #553
I am experiencing a bug where some of the visual appearance of my cells get changed (in all the grid) when I select some cells. This happens if I remove all code that handles cell section in my app, and in the debugger I see that just after the selection occurs JTAppleCalendar make a call to `batchReloadIndexPaths`. Can my problem be related to the change outlined in this page? I am on the verge o

[2017-09-22 14:24] boborbt commented on #571
No problem. I just tried to contact you on gitter but you are no longer on-line (I am also 22h late in answering you 😊).

I've  made a video about it that I attach to this message (it is a zip since github does not allow me to attach a .mov file.

As you can see in the video, I have different stylings for the cells depending on whether the cells are outside the current month (they are hidden), bef

[2017-09-22 14:39] patchthecode commented on #553
@boborbt open a new issue. Also, i am up now. will be here for rest of day -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-09-22 14:40] patchthecode commented on #571
ok i'll check this out now.

[2017-09-22 14:59] patchthecode commented on #358
@mikasR Hey here is the reason why I am try to get every one to upgrade to version 7.

right now you are using version 6.1.6
Since after this version, there has been version `7.0.0`, `7.0.1`, `7.0.2`, `7.0.3`, `7.0.4`, `7.0.5`, `7.0.6` and finally im currently fixing issues in `7.1.0`

All these version has fixed bugs/ and have gotten new enhancements, with massive code changes. I am only one pers

[2017-09-22 16:43] mikasR commented on #358
Thank you for the quick response.

I understand what you said. The reason i didn't want to upgrade to version 7, is because if i do so, i'll have to rewrite all my views and classes that are already in place, because of the changes made in v7. I'm also in a one person project.

I didn't want you to reopen version 6.1.6. Since this issue was closed before, i was only hoping that you could point me

[2017-09-22 17:05] patchthecode commented on #358
OK, can you tell me what you have in your pod file for JTAppleCalendar?
let me see what i can do.

[2017-09-22 17:06] patchthecode commented on #358
Also, is it possible that you have some sample app that can reproduce this?

[2017-09-22 17:56] seanrice commented on #530
Hmmmm. Interesting. Let me investigate.
Sean

[2017-09-22 20:15] patchthecode commented on #571
resolved with master branch code.
Master branch will become version `7.1.0`.
closing issue.

[2017-09-22 20:15] #571 closed

[2017-09-23 05:12] CaptainHunter opened #573 "Scroll to date bug"
Scroll to date doesn't seem to be working as I expected it to.

I am able to scroll to get the calendar to scroll, however the selected date kept ending up on the left (first column) causing the day positioning to be screwed.

`calendarView.scrollToDate(Date())`

[2017-09-23 06:16] patchthecode commented on #573
@CaptainHunter what is your scrolling mode?

calendarView.scrollingMode = ?

[2017-09-24 05:04] CaptainHunter commented on #573
I am using version 7.0.3 and I assume that my scrollingMode is none (default?) since the attribute isn't touched.

[2017-09-24 05:13] patchthecode commented on #573
can you update to version 7.0.6 ?

[2017-09-24 05:20] CaptainHunter commented on #573
hi it is okay, I think I have got it sorted by setting the scrolling mode.
Thanks anyway :)

`calendarView.scrollingMode` = .stopAtEachSection`

[2017-09-24 05:22] patchthecode commented on #573
I'd prefer you updated to 7.0.6
but its cool you resolved it.
closing this issue.

[2017-09-24 05:23] #573 closed

[2017-09-25 08:40] mikasR commented on #358
Hi, in my podfile i have the following:
pod 'JTAppleCalendar', '~> 6.1.6'

I don't have a sample, but i'll make one and will post it here.

[2017-09-25 09:25] mikasR commented on #358
Hi again,

I tried making a sample, but with swift 4 and calendar version 6.1.6, i have build errors.

However, this issue happens on version 6.1.6, on the sample provided here --> https://github.com/orazz/CalendarPopUp

[2017-09-25 14:26] patchthecode commented on #535
ios8 will now be supported again.

[2017-09-25 14:26] patchthecode commented on #434
ios8 will now be supported again.

[2017-09-26 11:19] zhanswift commented on #390
Hello. I use Gregorian calendar. And now when I select date 7 septemper 2017 i get in debug:

<img width="377" alt="2017-09-26 17 16 07" src="https://user-images.githubusercontent.com/16617536/30857703-974ee240-a2de-11e7-9a4d-e85774ada71c.png">

[2017-09-26 13:09] boborbt commented on #553
@patchthecode I was just noting that, regarding the first problem, in most cases it is not really necessary to create the `sharedFunctionToConfigureCell` function. IMHO it is cleaner and easiest to just call the `calendar:willDisplay` delegate from the `calendar:cellForItemAt` delegate.

Thanks again for the library and your awesome support.

[2017-09-26 17:42] patchthecode commented on #553
@boborbt you know.. that's actually a good idea haha. I wasnt thinking that route, but yes, this will be cleaner.

[2017-09-26 17:51] patchthecode commented on #390
@zhanswift what code are you using to print the debug date?

[2017-09-27 03:50] zhanswift commented on #390
I use this:

    func calendar(_ calendar: JTAppleCalendarView, didSelectDate date: Date, cell: JTAppleCell?, cellState: CellState) {
	    print("Selected Date:", date)
    }

[2017-09-27 06:53] patchthecode commented on #390
@zhanswift this is not the correct way to print a date
You need to print a date to console using a date formatter. refer to this answer here for an explanation of how to do it -> https://github.com/patchthecode/JTAppleCalendar/issues/252

let me know if you are still stuck

[2017-09-27 07:10] PravinNagargoje commented on #517
This one is mine
![image3](https://user-images.githubusercontent.com/17273000/30900218-cf08caa0-a380-11e7-8d89-95173e8b9d28.png)

[CustomCalendar](https://github.com/PravinNagargoje/CustomCalendar)

[2017-09-27 12:23] Dzoni89 commented on #97
Hi, having the same issue as mrjimoy but there doesn't seem to be a property named cellInsets on calendarView. Not sure if you've renamed it in an update or?
Also thanks for the best iOS calendar out there, you've saved me a lot of time. + star'd 👍

[2017-09-27 12:24] Dzoni89 commented on #97
Hi, having the same issue as mrjimoy but there doesn't seem to be a property named cellInsets on calendarView. Not sure if you've renamed it in an update or?
Also thanks for the best iOS calendar out there, you've saved me a lot of time. + star'd 👍

[2017-09-27 12:43] kunass2 opened #575 "Unexpected errors when moving project to Xcode 9."
<img width="1224" alt="screen shot 2017-09-27 at 14 41 42" src="https://user-images.githubusercontent.com/9480650/30913929-29f34042-a392-11e7-9029-c24f8253b7f4.png">

This is what I try to resolve. Any help?;)

[2017-09-27 14:35] patchthecode commented on #575
put this in `pod file`

[code]

Then do a `pod update`

The is the latest version to be released
Read here for changes that happened on this version -> https://github.com/patchthecode/JTAppleCalendar/issues/553

[2017-09-27 14:38] patchthecode commented on #97
@Dzoni89 yes, every thing has been renamed to exactly match Apple's UICollectionView's function names and variables.  This makes it easier for developers to find the names they need without trying to remember the weird names i invent.

[code]

[2017-09-27 14:39] patchthecode commented on #575
If you need more help on the issue, talk to me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2017-09-28 05:48] Dzoni89 commented on #97
![screen shot 2017-09-28 at 7 42 33 am](https://user-images.githubusercontent.com/20557067/30950999-d4d53dce-a420-11e7-9c9d-bf3ea8d329bf.png)

@patchthecode  thanks for the reply, I've actually tried setting minimumLineSpacing and minimumInterimSpacing to 0 prior to posting here. But now that I've given each cell a border I see that there is no cell spacing, my top and bottom border whose widths a

[2017-09-28 07:21] kunass2 commented on #575
But another case, when I try to scroll to date:

    calendarView.scrollToDate(today, animateScroll: false)

then in version `7.0.6` it jumps, but it wasnt like this before in version 7.0.4. What should I do now?

[2017-09-28 17:09] patchthecode commented on #575
In this code, you have removed the scrolling animation.
[code]

What happens if you do this instead?
[code]

[2017-09-29 14:18] kunass2 commented on #575
Hi, sorry for delay;(

The animation makes difference because of `animateScroll` parameter. My calendar starts in January 2017 and finishes in December 2025. When view is loaded, there January 2017 is loaded in the first time. And the user see how the calendar jumps or animate to current September 2017.

Before latest version (I mean 7.0.4, now it is 7.0.6) the user after view is loaded see immedi

[2017-09-29 14:28] kunass2 commented on #575
It is because of latest version. When I force cocoapods to install version 7.0.4 then everything is fine. Please take a look into this.

[2017-09-29 17:12] patchthecode commented on #575
If you are online, can you join me here? https://gitter.im/patchthecode/JTAppleCalendar

[2017-09-29 23:14] patchthecode commented on #97
@Dzoni89 if you are free, you can contact me here -> https://gitter.im/patchthecode/JTAppleCalendar
I am not understanding the problem correctly.

[2017-10-02 09:20] athemer opened #577 "cells are not showing"
HI, JayT

Thanks for the wonderful library you create!

Geez, Can't believe I failed at the very first video...

So I did exactly as the first video told us to do, but my cells are not showing.

I inherit my CalendarViewController from a customBaseViewController of my own,
which handle things like navigationItems and Controller lifeCycle
Would that be an issue?

I am using version 7.0.5 with Xcode

[2017-10-02 13:29] athemer commented on #577
okay, I just realize I forgot to add :
[code]
But your tutorial works without these two lines of code :/
How?

[2017-10-02 17:57] patchthecode commented on #577
I have connected the delegate and the dataSource in the video on interface builder.
And usually if your cells are invisible, it is because sometimes developers forget to set constraints on their cells.

[2017-10-02 23:15] HusamAamer commented on #530
@patchthecode , I faced the same issue,
when status bar is in-call status , and app is sent to background then become in foreground again
but the strange thing it didn't occur always !!!!

BTW, Thanks for this great library <3

[2017-10-03 08:18] HusamAamer opened #578 "cellState.date Timezone issue"
v7.0.6

I noticed that CellState.date is giving date always in UTC but with timezone shifting, here is an example :

when: Region with timezone: Africa/Bamako @UTC
`print(Date())` //2017-10-01 08:00:00 +0000
`print(cellState.date)` //2017-10-01 00:00:00 +0000

when: Region with timezone: Asia/Baghdad @UTC+3
`print(Date())`                // 2017-10-01 08:00:00 +0000
`print(cellState.date)` // 2017

[2017-10-03 10:48] patchthecode commented on #578
OK.
The calendar gives you dates in the format you provided in this function.

[code]

also, whenever you print dates to the console, never print the raw date. Always use a `DateFormatter`. The formatter should also be in the same format as the calendar you provided in the function above.

[code]

Explanation given here -> https://github.com/patchthecode/JTAppleCalendar/issues/252
[code]

[2017-10-03 15:47] patchthecode commented on #530
@HusamAamer does the length of the phone call have something to do with it?

[2017-10-03 21:39] muddlegeist opened #579 "Scrolling To A Date Between Start And End Dates Shows A Jumbled Month"
Currently using JTAppleCalendar 7.0.6 with Xcode 9.0 in a project set up to use Swift 3.2

Hi, Jay.  I'm rather new to JTAppleCalendar but have so far found it to be the tool I've been hoping for to get my current project done.

The issue I'm trying to solve involves setting up a calendar with a date range from a year ago to a year into the future and starting the calendar showing the current mont

[2017-10-03 22:46] patchthecode commented on #579
OK. will be off work soon.
Will look at this in a bit.

[2017-10-03 23:43] felixolivares commented on #517
Awesome library man, easy to use and implement. Here's the calendar I made:
![img_1887](https://user-images.githubusercontent.com/3430951/31154137-48e60686-a862-11e7-81bb-b6aa7b3be99a.PNG)

[2017-10-04 11:04] HusamAamer commented on #578
@patchthecode  Thanks for explanation, I've corrected the code yesterday and everything is fine now 👍

[2017-10-04 14:31] patchthecode commented on #578
Asweome. Closing this issue.

[2017-10-04 14:31] #578 closed

[2017-10-04 16:05] patchthecode commented on #579
you setup your calendar in code.
Therefore you need to set its scrolling mode.
[code]
This will tell the calendar where to stop scrolling.
Because you didnt set it, the library set it to `stopAtEachCalendarFrameWidth` by default but only after you have already scrolled to the date.

[2017-10-04 16:06] #579 closed

[2017-10-04 16:06] patchthecode commented on #579
closing issue now

[2017-10-04 16:07] patchthecode commented on #577
closing issue.
Let me know if this did not resolve your issue.

[2017-10-04 16:07] #577 closed

[2017-10-04 16:07] patchthecode commented on #575
closing issue.
Awaiting sample app as mentioned in chat.

[2017-10-04 16:07] #575 closed

[2017-10-04 16:09] zuaaef commented on #517
@felixolivares looks nice. what font you use?

[2017-10-04 18:32] muddlegeist commented on #579
@patchthecode This fixes it for me and it works perfectly now.  Thank you so much for looking at this.  Expect some screenshots of my calendar feature soon.

[2017-10-04 18:35] patchthecode commented on #579
@muddlegeist awesome :)
cheers 🍻

[2017-10-04 21:21] patchthecode commented on #110
![9pzgg](https://user-images.githubusercontent.com/2439146/31200303-4a285c80-a90f-11e7-8642-53efd4ba6d2b.png)

[2017-10-06 00:31] felixolivares commented on #517
@zuaaef  thanks! I used a font called Nunito.

[2017-10-06 15:11] patchthecode opened #581 "Singlerow -- Single Row -- WeekView -- week view calendar setup"
FYI

[code]

[2017-10-06 15:11] #581 closed

[2017-10-07 00:22] geoffreygonzales opened #582 "Not Returning A Value For Number Of Items In Section"
Hello Jay!

Thanks for writing this for us; Im a noob and to have to build a calendar myself would suck
Ill buy you many many coffees when I'm rich form using your calendar

Heres the console print out of the issue :

 *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[iOSProject.ViewController collectionView:numberOfItemsInSection:]: unrecognized selector sent

[2017-10-07 04:19] patchthecode commented on #582
2 problems.

1. You left the module nil
<img width="259" alt="screen shot 2017-10-06 at 9 18 18 pm" src="https://user-images.githubusercontent.com/2439146/31304679-e758758a-aadb-11e7-967d-c25eaefecbb0.png">

2. You set the wrong delegates
<img width="266" alt="screen shot 2017-10-06 at 9 18 53 pm" src="https://user-images.githubusercontent.com/2439146/31304684-fa2e446e-aadb-11e7-9446-2920ead4fa7f.

[2017-10-07 04:19] #582 closed

[2017-10-07 04:25] geoffreygonzales commented on #582
Hey thanks very much!

I missed that part in the tutorial

[2017-10-07 06:12] rmit-s3610584-Shuyang-Liu commented on #157
Hi I have the same issue when the device rotated the date will go back to the start date of the calendar, any chance you've fixed this by now? Thank you.

[2017-10-07 16:48] patchthecode commented on #157
@rmit-s3610584-Shuyang-Liu

[code]

[2017-10-08 00:53] rmit-s3610584-Shuyang-Liu commented on #157
Hi thank you for the help, but did you mean this one?

calenaerView.viewWillTransition(to: size, with: coordinator, focusDateIndexPathAfterRotate:  )

because I couldn't  find the one withe the anchorDate in it.

[2017-10-08 00:57] rmit-s3610584-Shuyang-Liu commented on #157
But the problem is fixed with the focusDateIndexPathAfterRotate:, thank you very much!

[2017-10-08 01:26] patchthecode commented on #157
@rmit-s3610584-Shuyang-Liu ah ok, i thought you were using the master branch code.

Yes you can use that funciton for now, but on the next version release, it will be changed to the one i mentioned.
cheers 🍻

[2017-10-08 04:00] patchthecode commented on #110
<img width="666" alt="screen shot 2017-10-07 at 8 58 49 pm" src="https://user-images.githubusercontent.com/2439146/31313795-949e2098-aba2-11e7-9da7-942beaf7c6f2.png">

[2017-10-08 05:47] patchthecode commented on #110
<img width="707" alt="screen shot 2017-10-07 at 10 46 23 pm" src="https://user-images.githubusercontent.com/2439146/31314268-749da82c-abb1-11e7-8ec5-a2dfe30a5f98.png">

[2017-10-09 16:32] artemstepanenko opened #583 "`calendar(_:, didScrollToDateSegmentWith:)` is not called"
Hello guys. I'm using the most recent version (7.0.6) of the library.
I change content offset of the calendar by using `func setContentOffset(_ contentOffset: CGPoint, animated: Bool)`. It works fine. But my problem is that the delegate method `func calendar(_ calendar: JTAppleCalendarView, didScrollToDateSegmentWith visibleDates: DateSegmentInfo)` is not called.

Thanks,
Artem.

[2017-10-09 16:37] Nonouf opened #584 "First day of the week ignored"
JTAppleCalendar version: 7.0.6

I'm building a seven day calendar using your library and I'm facing a small issue. it looks like a bug to me, but maybe I just misconfigured the calendar.

![screen shot 2017-10-09 at 17 38 02](https://user-images.githubusercontent.com/2992866/31348776-a48aef96-ad18-11e7-8366-ebab4622982f.png)

Basically, when I launch my app, I select and scroll to today with a `pr

[2017-10-09 18:31] patchthecode commented on #584
acknowledged. I'll look at it after work in about 7hrs.

[2017-10-09 18:37] patchthecode commented on #583
@artemstepanenko yes that delegate is called when you scroll with the scroll functions, or when you physically scroll with your hand.

Can you let me know what you are trying to do by setting the contentOffset this way?
I can provide you a good solution.
Are you trying to offset the calendar to a particular date?

[2017-10-09 18:38] patchthecode commented on #584
Ok. from the video, it looks like you have a fixed frame scrolling mode?

Can you set your scrolling mode to = .none ?
See documentation here --> https://patchthecode.github.io/CalendarScrolling/

[2017-10-09 19:51] Nonouf commented on #584
Thanks for the quick reply.

`calendarView.scrollingMode = .none` does fix the "auto scroll", but as the option states I loose the paging on the collection view, which I don't want.

You'll find below a zip with the test project I'm using. It'll be easier for you to have a look.
[CrowdCalendarTest.zip](https://github.com/patchthecode/JTAppleCalendar/files/1369637/CrowdCalendarTest.zip)

The exact

[2017-10-09 21:13] patchthecode commented on #584
@Nonouf by the way, the correct setup for a single row calendar is this --> https://github.com/patchthecode/JTAppleCalendar/issues/581

[2017-10-09 21:15] patchthecode commented on #584
I will think on the followup information yo have provided after work.

[2017-10-09 22:37] geoffreygonzales opened #585 "Simple Way To Write Infinite Scrolling?"
hello,

was gonna send an email but your thing said just open an issue

anyway I've been writing stuff to calculate new start and end dates, but was wondering if there was a simple way to

1 write infinite scrolling to the future and past
2 when view did load setting the content offset of the calendar view to the date of today
3 call a function to scroll to a date

I've also forked the file; I'm n

[2017-10-09 23:08] geoffreygonzales commented on #585
https://github.com/geoffreygonzales/Honeydew

I think the solution would be to use anchor date but idk how to implement it :(

[2017-10-10 00:53] patchthecode commented on #585
1.  **write infinite scrolling to the future and past**
This calendar does not have infinite scrolling by default, but there are some developers who have implemented it in their projects

2. when view did load setting the content offset of the calendar view to the date of today
In your view did load, simply call
`calendarView.scrollToDate(myDate)`
and if you dont want any animation, call
`calendar

[2017-10-10 05:12] geoffreygonzales commented on #585
thank you

I have a function that automatically sets start and end date
a at runtime
b whenever an individual lifts their scrolling finger && the content offset is close to the start or end

after that, would it be best to call

calendarView.reloadData()

and then

calendarView.scrollToDate(currentDateInView, animateScroll: false)
?

[2017-10-10 07:39] patchthecode commented on #585
how about `calendarView.reloadData(withAnchor: myDate)` ?

[2017-10-10 08:43] Nonouf commented on #584
Oh thanks! This actually fixes my issue :)

[2017-10-10 08:44] artemstepanenko commented on #583
@patchthecode thanks for the response. In my implementation of the calendar besides scrolling, you can switch between months also by tapping previous/next buttons. Since `JTAppleCalendarView` is inherited from `UICollectionView` I shift a content offset by using a `UIScrollView`'s method – `func setContentOffset(_ contentOffset: CGPoint, animated: Bool)` – programmatically. Unfortunately, once the

[2017-10-10 13:14] patchthecode commented on #584
awesome.
glad it worked.
Will close this issue now.
If you have anymore questions, just ask. 👍

[2017-10-10 13:18] patchthecode commented on #583
@artemstepanenko

[code]

Does this fix your issue?
By the way, if you want to know all the functions that is calendar is able to do,
then look in the file called `UserInteractionFunctions.swift`
I stuffed all the user functions in there.

[2017-10-10 13:26] patchthecode commented on #584
I had one more question for you
According to you video, I see that your header is also scrolling with the cells (it is not a stationary header).

Therefore, when you get to the end of a month are you seeing a "gap" where it offsets for the next month?

[2017-10-10 13:54] artemstepanenko commented on #583
@patchthecode yes, it helps, thank you.

[2017-10-10 13:54] #583 closed

[2017-10-10 16:09] geoffreygonzales commented on #585
perfect perfect perfect thank you very much.

also :
on initial configuration of the calendar, where you set start and end dates, is there a similar way to load at a specified date?

1 when the app loads initially, the dates and other configurations are set,
2 then the view shows (briefly the start date month)
3 then, since I call scrollToDate(toDate, animateScroll : false) - it shows the specifie

[2017-10-10 18:51] patchthecode commented on #585
@geoffreygonzales
sounds like a bug to me.

Can you put this in your `Podfile` and do a `pod update` ?

[code]

This version will be release in about a week or so.
Keep in mind that it will force you to implement the `willDisplayCell` function
This issue explains how you should setup the `willDisplay` cell and the `cellForItem` function in this master branch -> https://github.com/patchthecode/JTAp

[2017-10-10 20:34] geoffreygonzales commented on #585
I'm getting this error when running pod update

[!] There are multiple dependencies with different sources for `JTAppleCalendar` in `Podfile`:

- JTAppleCalendar (from `https://github.com/patchthecode/JTAppleCalendar.git`, branch `master`)
- JTAppleCalendar

[2017-10-10 20:49] geoffreygonzales commented on #585
this not a primary issue for me, as the 100ms view of the `startDate` of the calendar before the `scrollToDate` is not even seen by individuals, as the calendar is initially hidden until toggled

so no pressure :)

I have another question about setting the site and position of the calendar programmatically:
I call this when view did load

[code]

this is the behavior I experience

1 when this func

[2017-10-11 06:11] patchthecode commented on #585
will look at this when i awake in the morning.

[2017-10-11 11:18] Sachin-Raut opened #586 "How to disable date selection"
Hi Jay,

I am selecting date range (for e.g. 12 October to 18 October) & I want to enable date selection only between this date range. That is I want to disable dates which are not in the date range.

Could you pls help in achieving this functionality.

Thanks
Sachin

[2017-10-11 14:02] Nonouf commented on #584
Sorry for the delay.

I see what you're talking about, but I'm actually not using any header. Each cell contains the day (number) and a short version of the weekday (date format `EEEEE`). That's why it scrolls with it and it's the behaviour I need. Thanks for the advice anyway :)

Really good library, well done! 👍

[2017-10-11 14:02] #584 closed

[2017-10-11 14:29] patchthecode commented on #584
awesome.
cheers 🍻

[2017-10-11 14:31] patchthecode commented on #586
@Sachin-Raut this calendar is a UICollectionView.
So it is done in pretty much the same way.

implement the following function.

[code]

[2017-10-11 14:32] #586 closed

[2017-10-12 15:01] unco182 commented on #179
Hi !
Is there any news about calendar and week numbers ? I'm currently designing one calendar that need such feature and for now I don't really know how to achieve this...

[2017-10-12 16:20] patchthecode commented on #179
not many people asked for the feature... so i sorta slacked off on it.
I can take a look at it again

[2017-10-12 23:01] geoffreygonzales commented on #585
I pushed a project that recreated the bug

1 try with the ```label.text = ""``` commented out
2 try with ```label.text = ""``` left in

watch the console

hope this helps :)

[2017-10-12 23:23] patchthecode commented on #585
@geoffreygonzales Hey, may i get a link to that project?

[2017-10-12 23:44] geoffreygonzales commented on #585
oops I thought I pasted it

https://github.com/geoffreygonzales/calendar-test

[2017-10-13 04:03] geoffreygonzales commented on #585
I thought of a work around after a beer
ill just set in interface builder that the origin is below the screen, so theres no confusion of the y position when the view get loaded :)

[2017-10-13 04:49] geoffreygonzales commented on #585
I made another branch called `branch2`

it initially sets the y position of the calendar below the view, and the buttons show and hide it fine
but when its shown then scrolled - it blips out.

[2017-10-13 06:22] patchthecode commented on #585
The calendar is a `UICollectionView` subclass. It behaves exactly the same as a UICollectionView would. I looked at you code, but I couldnt understand it very well.

Are you just trying to show and hide the calendar?

[2017-10-13 06:55] geoffreygonzales commented on #585
Oh really? I thought I was being simple

I’m trying to accomplish

1 calculate the size and width of the calendar and it’s days of week and it’s container based on the uiscreen.main.bounds.height on the initial app load
2 calendar initially below / hidden on the app load
3 button that animates it up from the bottom
4 button that animates it down
5 selecting a date returns a date object

the main i

[2017-10-13 16:16] anushak89 opened #587 "DateCell UI is updating only after Display or after scrolling ended"
Hello,

I'm using latest version (7.0.6) of your library via CocoaPods.

I'm facing an issue while scrolling between months. For some dates I have a different UI / color and I am updating this on `func calendar(_ calendar: JTAppleCalendarView, cellForItemAt date: Date, cellState: CellState, indexPath: IndexPath) -> JTAppleCell` delegate method. But it is changing only after the scrolling is ended.

[2017-10-13 16:59] patchthecode commented on #587
Hmm. ok.
Can you paste me the relevant parts of your `cellForItemAt` functon?

[2017-10-13 17:29] anushak89 commented on #587
[code]

[2017-10-13 18:14] patchthecode commented on #587
What version of the library are you using. 7.0.6?
Also, is this the line of code you are talking about with the color?
[code]
If looks like you are setting a text color to all monthDates.
This code looks normal.

Are you saying that the cell text color is only being set after you scroll?

[2017-10-13 18:41] anushak89 commented on #587
No, the cell highlight image. It's depends on added shift on that date.

[2017-10-13 18:46] patchthecode commented on #587
OK
[code]
Is the `getHighlightImage` taking a while to execute because of some server connection or some long execution?

If this function grabs the image immediately, then there should be no problem. If it takes a while, then this may be out of the control of the library. Can you confirm if this function is slow or not?

[2017-10-13 18:55] anushak89 commented on #587
This function is checking some stored properties only. May be all conditional things in the delegate method makes it slow. Let me try with different custom cells. Thanks!

[2017-10-13 19:07] patchthecode commented on #587
the `cellForItemAt` function by itself looks light-weight. Its not bad. I doubt it is the cause of the slow image.
However, i do not know what is in this function --> `getHighlightImage`
Is that the one that has many conditional things?
let me know.

in the mean time i'll close this issue.
But if you find anything then reply here and i'll re-open if it turns out to be a calendar issue.

[2017-10-13 19:07] #587 closed

[2017-10-14 05:28] tosifkanuga commented on #1
Hello,
I am not getting selected date  just like today date is 2017-10-14 but i am getting previous date
currentDate 2017-10-14 10:59:02 +0000  selectedDate 2017-10-12 18:30:00 +0000
I tap on 2017-10-13 but i get 2017-10-12
what should i have to do.

[2017-10-14 15:35] patchthecode commented on #1
@tosifkanuga
let me know if this discussion helped -> https://github.com/patchthecode/JTAppleCalendar/issues/252

[2017-10-14 15:37] tosifkanuga commented on #1
My problem is solve

On 14 Oct 2017 9:05 p.m., "JTAppleCalendar" <notifications@github.com>
wrote:

[2017-10-14 15:38] patchthecode commented on #1
awesome :)
cool 🍻

[2017-10-14 15:40] tosifkanuga commented on #1
Thank you for your response  ☺️👍

On 14 Oct 2017 9:08 p.m., "JTAppleCalendar" <notifications@github.com>
wrote:

[2017-10-15 00:35] patchthecode commented on #585
No. By invalidation I meant this -> [From Apple docs](https://developer.apple.com/documentation/uikit/uicollectionviewlayout/1617728-invalidatelayout)

If your calendar is hiding below the screen, then maybe there is something in the code doing this?
The library doesn't have any animation or default moving of frames.

For instance, i did a inspect on your views.
The calendar's Y position is well b

[2017-10-15 19:00] geoffreygonzales commented on #585
I solved animating it up and down. I put it in a sub view and then I animate the sub view :)

We’re you able to run and try scrolling on branch 2?

[2017-10-15 19:05] patchthecode commented on #585
Yes. I posted the image of the results on branch 2. Above.
The calendar was hidden making it impossible to scroll.

[2017-10-15 19:07] geoffreygonzales commented on #585
Could you use the buttons to animate it up and down?

[2017-10-15 19:23] oskarko commented on #377
I'm getting the same error. Any ideas?

[2017-10-15 19:25] patchthecode commented on #377
@oskarko what errors?

[2017-10-15 19:29] patchthecode commented on #585
I just did.
The result is the same. The calendar is hidden.
I will close this issue for now, as it seems to be errors with the hiding of the calendar and not related to the calendar directly.

But yes you can inspect your calendar by clicking on at the bottom of the screen.->
<img width="489" alt="screen shot 2017-10-15 at 12 27 45 pm" src="https://user-images.githubusercontent.com/2439146/3158827

[2017-10-15 19:29] #585 closed

[2017-10-15 19:31] oskarko commented on #377
"However now when I run the calendar view I am getting an error on the line
setupNewLayout(from: collectionViewLayout as! JTAppleCalendarLayoutProtocol)

I'm not receiving an error message in the terminal but the line is saying EXC_BAD_ACCESS. Any ideas?

"

[2017-10-15 20:20] patchthecode commented on #377
ok. first, you'll have to tell me what version of the calendar you are using.

What do you have in your Podfile?
Also, how are you creating your calendar, with code? or with Interface Builder?

[2017-10-15 20:30] oskarko commented on #377
I have RealmSwift and SwiftDate in my podFile. I'm creating my calendar with IB and I'm using the last version of JTAppleCalendar to update my project from Swift 2.2 to Swift 3.

[2017-10-15 21:35] patchthecode commented on #377
@oskarko in that case the errors are expected.
Many things have changed in version 7.
I have now made the library a direct UICollectionView subclass.
Therefore all the variable and function names have been renamed to match a UICollectionView.
This was done so that every one will find the lib easier to use. If you can use a UICollectionView, then the calendar will come as 2nd nature to you.

The ch

[2017-10-16 10:02] AndreaMiotto opened #588 "Select an entire row of dates: the week"
Hi, in my calendar, when the user select a day, he will select all the entire week.

I know ho to retrieve the row.

I was thinking to use a for loop a select all the cells in that row, but I'm having problem to build the ItemPath.

Any Tips?

[code]

[2017-10-16 14:55] patchthecode commented on #588
I am guessing this is you -> [Here](https://stackoverflow.com/questions/46770815/ios-swift-selecting-a-cell-i-want-to-select-the-tire-row#46770815) ?

I answered the question there for you.

[2017-10-16 15:20] patchthecode commented on #588
I see you have selected the answer as correct. So i'll paste the same answer here, then close this issue.

ou can use 2 techniques to break the loop.

**First:**
[code]

By setting triggerSelectionDelegate to false, your delegate function didSelect will not be called.

**Second:**

If you are using MasterBranch code (which i'll be releasing in a week or so), you can know whether or not your select