[2018-02-08 07:06] patchthecode commented on #710
do you have a sample app you can provide with this bug? like a zipped file or a github link?
or you can message me here -> https://gitter.im/patchthecode/JTAppleCalendar

[2018-02-08 08:43] #710 closed

[2018-02-08 09:05] patchthecode commented on #710
i guess this was fixed?
cool

[2018-02-08 12:15] kevintorch opened #711 "Scrolling with Buttons"
how do I scroll to next or previous month with the button not by scrolling...
and I also want to do fetch data from the server when page scrolled completely. I did this in 'didScrollToDateSegmentWithVisibleDates'. but it calls the service even when I slightly scroll page...

[2018-02-08 18:51] ogezue opened #712 "Calendar not scrolling in UIView"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
7.1.5
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
Yes
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

I added the Calendar in a separate XIB File and import it in a ViewContainer to keep my ViewController clean. I needed to

[2018-02-08 19:33] patchthecode commented on #712
@ogezue

I'm not sure what problems you faced but.
1. You can implement your calendar with code, or with storyboard, or with XIB
2. You can implement your cells with code, or with storyboard, or with XIB

can you provide me your sample app via a zip file? if you upload it on gitbuh i can fix it for you.

[2018-02-08 19:44] kevintorch opened #713 "Infinite scrolling"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INFORMATION SO I CAN RECREATE THE PROBLEM.
I need infinite scrolling to segments (next and previous)...how do I do this

[2018-02-09 04:59] patchthecode commented on #713
This calendar does not come with infinite scrolling out of the box.
You'll have to build it.

[2018-02-09 06:26] kevintorch commented on #713
and how am i supposed to do that?

[2018-02-09 08:05] ogezue commented on #712
awesome - tank you. I will provide an example later :)

[2018-02-09 11:30] rvirta opened #714 "First day of week based on locale"
Hi,

How would I go about making the calendar change the first day between monday and sunday based on the users preferences in the iOS calendar?

Thanks!

[2018-02-09 17:50] patchthecode commented on #714
paste me your `configureCalendar` function

[2018-02-09 17:51] patchthecode commented on #704
closing this issue.

Documentation on this is added on main page of github repository.

[2018-02-09 17:51] #704 closed

[2018-02-09 17:51] patchthecode commented on #688
added to tasks.
closing issue.

[2018-02-09 17:51] #688 closed

[2018-02-09 18:14] ogezue commented on #712
[CalendarTest.zip](https://github.com/patchthecode/JTAppleCalendar/files/1711994/CalendarTest.zip)

@patchthecode I could create a small example and I could figure out that there is a problem with another dependency called "EmptyDataSet-Swift". This one creates a view that is before the calendar-view. My touch doesn't reach the calendarView so this why it is not scrolling. The strange thing is, th

[2018-02-09 19:22] a21220084 commented on #678
Finally i found this 💎

[2018-02-09 21:40] patchthecode commented on #712
@ogezue

Not strange. This library has rows: 1, 2, 3, 6

You want a 4-row calendar? Can you show me a image of what you want the calendar to look like?

[2018-02-10 11:45] rvirta commented on #714
func configureCalendar(_ calendar: JTAppleCalendarView) -> ConfigurationParameters {
        formatter.dateFormat = "yyy MM dd"
        formatter.timeZone = Calendar.current.timeZone
        formatter.locale = Calendar.current.locale

        calendarStartingMonth = Date().getPreviousMonth().appMonth
        calendarStartingYear = Date().getPreviousMonth().appYear

        let startDate = formatte

[2018-02-10 11:46] rvirta commented on #714
`func configureCalendar(_ calendar: JTAppleCalendarView) -> ConfigurationParameters {
        formatter.dateFormat = "yyy MM dd"
        formatter.timeZone = Calendar.current.timeZone
        formatter.locale = Calendar.current.locale

        calendarStartingMonth = Date().getPreviousMonth().appMonth
        calendarStartingYear = Date().getPreviousMonth().appYear

        let startDate = formatt

[2018-02-10 11:46] rvirta commented on #714
[code]

Thanks!

[2018-02-10 12:07] ogezue commented on #712
My use case is that users need to select a date from a predefined date range (today until 7 to unlimited days). I don't want to waste to much screen size so if I need only 20 days there should be 5 rows if 20 days do not fit exactly into 3 rows if the first day of the week is always fix (linke Monday). Hope you can follow this explanation... Could you figure out the problem with EmptyDataSet?

[2018-02-11 04:48] Reecelandry commented on #517
Can you share this project with me?

[2018-02-11 18:15] patchthecode commented on #714
ok. it seems i misunderstood your question.
You have to change this your self.

Did you create your headers using a stack view? If yes, then simply check the users settings. And swap the header in your stack view.

[2018-02-11 18:22] patchthecode commented on #713
if i wrote up the code to tell you how to do it, then i would just put it into this library my self :)
But I didnt have the time to do so. So im hoping on someone to do a pull request.

There a a couple ways it can be done. The only one I can think of right now is, Load up about 20 years of dates. 10 behind the shown screen of the user, and 10 in-front of the shown screen os the user. If the user

[2018-02-11 18:26] tareq594 opened #715 "using version 7.1.5"

[2018-02-11 18:26] #715 closed

[2018-02-11 18:32] tareq594 opened #716 "how to set the first row of the calendar to match the starting date"
Hello ,
first of all thanks for this amazing library .

I am trying to design a calendar that starts from " the current day" and hide the previous days .
however when I hide the the days before the current day , I could not find a way to set the current day to the first raw . this is problematic specially when the starting day is at the end of the month so it will shift down in the bottom  .

Rega

[2018-02-11 18:50] patchthecode commented on #716
can you show me a screenshot of what you want the calendar to look like?

[2018-02-11 19:11] tareq594 commented on #716
![screen shot 2018-02-11 at 9 00 34 pm](https://user-images.githubusercontent.com/20362860/36077111-27a26b12-0f6f-11e8-8b22-0e4b59c60781.png)
I want the startdate to be in the first raw of the calendar without the first two empty raws .
What I did here , I hided the cells with date prior to my intended the startdate . however that will result in empty raws before it .
I hope it's clear now

[2018-02-12 07:50] ogezue commented on #712
It seems that the EmptyDataSet problem is caused by EmptyDataSet, so the author will take care of it.

Regarding the row-number problem: Is it possible to get more flexibility and have 4 or 5 rows? And as a plus: Could I define where the month could start if I need only days 20 to 30 of a month? Days 1-19 wouldn't be necessary to be displayed.

[2018-02-12 08:55] patchthecode commented on #712
regarding 4-row and 5-row, you will have to show me an image of how you want the months to look with 4 and 5 row.

Take 4 row for example. Please show me an image of how `Jan`, `Feb` and `Mar` will look with 4 row.
Because in my mind this will look unbalanced. But if you can show me how you want it to look, then maybe I can think of something. Having 4 rows on one month, will mean mean that anothe

[2018-02-12 09:10] ogezue commented on #712
My use case is that the user needs to select a date between today and the next 14 days. So with the week starting on Monday I only would nee 2 rows where this fits in. Tomorrow this would nee 3 rows where the days where Monday in first row and the days from Tuesday are not selectable.

With your current solution this is what I have so far. 4 rows that are not needed
<img width="314" alt="bildschir

[2018-02-12 17:09] patchthecode commented on #712
Hmm. lets talk some more on this.
I'll be online here here for most of the day -> https://gitter.im/patchthecode/JTAppleCalendar

[2018-02-13 06:45] ogezue commented on #716
looks similar to the requirement in this https://github.com/patchthecode/JTAppleCalendar/issues/712
(please scroll down)

[2018-02-14 09:23] burzua opened #717 "Use of undeclared type 'JTAppleCell'"
Hello, I newbie in swift.
I'm install library step by step by instruction with cocoapods
when i try repeat lesson nr1 in tutorials "calendar from scratch"
i have Use of undeclared type 'JTAppleCell' error after creating CustomCell class (in video 1m:25s)
import JTAppleCalendar not work too
 can you help me?

[2018-02-14 10:07] patchthecode commented on #717
issue solved.
User builded the project.
closing now.

[2018-02-14 10:07] #717 closed

[2018-02-16 20:32] amank97 commented on #703
hello

I seem to be getting the exact same problem and I've looked at the issue that was explained but its still not working.

I hope to hear from you

[2018-02-16 20:40] Reecelandry commented on #703
I have fixed mine. You have to ensure your class name of your calendar
viewcontroller is the same as the extensions at the bottom of the code.

Hope this helped

Reece Landry Vlogs

On Fri, Feb 16, 2018 at 12:32 PM amank97 <notifications@github.com> wrote:

[2018-02-16 20:47] amank97 commented on #703
I'm afraid I don't understand. My class name is the same. I just don't know what to put in the function.  What is supposed to go in this function

func calendar(_ calendar: JTAppleCalendarView, willDisplay cell: JTAppleCell, forItemAt date: Date, cellState: CellState, indexPath: IndexPath) {
        //code missing
    }

[2018-02-17 21:33] uholland commented on #706
Hi, did you have some time to think about it?

[2018-02-18 17:05] chemise commented on #681
Hi,
After updated the pod I got the same problem. So I took a look quickly.
In case the scrolling mode is vertical and there are no header, the action is to display the next month every time.
To fixe it I replaced the 'else' content on line 461 in UserInteractionFunctions.swift with
`{

                fixedScrollSize = frame.height
                let section = CGFloat(Int(contentOffset.y / fixed

[2018-02-18 23:10] patchthecode commented on #716
This is currently not possible.
The calendar starts at the first of the month, and ends at the end of the month.
This was an update from the begining i should have done, but never got the time to do.

[2018-02-18 23:11] #714 closed

[2018-02-18 23:12] patchthecode commented on #714
Assuming issue resolved. Let me know if any further questions.

[2018-02-18 23:12] patchthecode commented on #713
closing issue.

[2018-02-18 23:12] #713 closed

[2018-02-18 23:13] patchthecode commented on #712
closing this issue as problem relates to other library.
I have put an enhancement flag on your other issue.

[2018-02-18 23:13] #712 closed

[2018-02-18 23:14] patchthecode commented on #687
how do you currently resolve it?
let me know so i record to fix later.

[2018-02-19 04:17] kerlossaad opened #718 "Type 'ViewController' does not conform to protocol 'JTAppleCalendarViewDelegate'"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.

I am using XCode 9.2.

2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5

Yes I am.

3. PROVIDE ENOUGH INFORMATION SO I CAN RECREATE THE PROBLEM.

my issue happens when me following the tutorial and before finishing the calendar view I get th

[2018-02-19 04:19] patchthecode commented on #718
The latest version you are missing a function `willDisplayCell`
Please implement it as per the instructions here -> https://github.com/patchthecode/JTAppleCalendar/issues/553

[2018-02-19 04:19] #718 closed

[2018-02-19 08:53] vahids commented on #687
I didn't, my application device rotation is locked.
I'll let you know If I fix it later.

[2018-02-20 09:11] mock123 opened #719 "[Crash Bug] Found a crash bug related to this library from Fabric/Crashlytics logs."
Version 7.1.5 (latest)
Xcode 9.2 (latest)

Yes

I found a crash bug related to this library from Fabric/Crashlytics logs. Here's the log:

![crashlytics2](https://user-images.githubusercontent.com/36657040/36415306-b76756d6-1668-11e8-8724-5d18eff93a87.png)
![crashlytics1](https://user-images.githubusercontent.com/36657040/36415305-b513eb88-1668-11e8-9e72-232284470b37.png)

[code]

Hope it can be r

[2018-02-20 17:00] patchthecode commented on #719
What code do you have in your `Device.swift` file on line 20 ?

[2018-02-20 17:30] Phanith-Fe opened #720 "Feature request"
I'm using the latest version.
Not a bug, I'm wondering how can I create multiple range? Is it possible to select multiple range?

[2018-02-21 13:55] Phanith-Fe commented on #720
OK, Thanks you so much @patchthecode

[2018-02-21 16:33] amank97 opened #721 "Change calendar view background colour."
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

Hi there, I am using the latest version of the library.

I am unable to make the background colour a gradient or transparent. Is th

[2018-02-21 17:44] #720 closed

[2018-02-21 17:45] patchthecode commented on #721
This calendar is a regular UICollectionView.
You change the background color in the exact same way.
What issues are you facing?

[2018-02-21 20:38] amank97 commented on #721
Oh I didn't know it was that simple, thanks again for the great library.

[2018-02-22 04:22] patchthecode commented on #721
awesome cool. closing.

[2018-02-22 04:22] #721 closed

[2018-02-23 09:03] jayjohnchiong opened #722 "Choosing next date"
Using the Latest Version.

Hi. I'm new to swift and decided to use your library but I have a hard time looking for a way to do a "go to next date". Can you help me?

[2018-02-23 10:14] patchthecode commented on #722
does this help ?

[code]

[2018-02-23 10:42] jayjohnchiong commented on #722
Well, that code is from this month to another month. What I want is like this "Feb 23, 2018" -> "Feb 24, 2018" -> "Feb 25, 2018" and so on if I press a button.

[2018-02-23 16:57] patchthecode commented on #722
ok. then just use the
`calendarView.selectDate` function

Using that function you can select any date.

[2018-02-23 16:57] wawilliams003 opened #723 "Wrong dates getting selected"
Using latest version.

Thanks for creating this awesome library, it really helps. I got an issue when I am loading entry dates from coreData, The entry dates are showing when I set the text color for these dates. But when I try to show a view to highlight these same dates, the view is only highlighting one day.

This how I am trying to show these dates on the calendar.

[code]

*This is the result

[2018-02-23 17:00] patchthecode commented on #723
where do you have this code located?

[2018-02-23 17:27] wawilliams003 commented on #723
Thanks for your reply, it's in the cellForItemAt

[2018-02-23 21:54] alexyak opened #724 "Selected cell stays selected for a single selection mode"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. 7.1.5

I have created a horizontal single line scrolling calendar with a custom selection. When a selection is made on the cell on the next page, the previous one still stays selected because didDeselectDate method is not being called. Any way to make it to be called?

[2018-02-24 00:02] patchthecode commented on #723
ok. Thte cellForItemAt is exactly the same as for a UICollectionView or a UITableView.
It is called for every visible cell on the screen.
Therefore if you should code it using the dataSource/Delegate pattern as for a TableView.

If you put a loop in there that loop will be called for ever cell on the screen.
So lets say your loop has 10 dates, thats 10 loops per 42 cells = 420 loops.

[2018-02-24 00:02] patchthecode commented on #724
1. got singleSelect or multi select enabled?
2. have you implemented a didDeselect function?

[2018-02-24 00:32] wawilliams003 commented on #723
I am new to swift so I might be missing the point. All the other dates work correctly, you're saying that I shouldn't run the loop in cellForIndex?

[2018-02-24 01:33] patchthecode commented on #723
yes, do not have a loop in there.

[code]

have something like this in there instead

[2018-02-24 01:43] alexyak commented on #724
Yes, for both. Will take a look at the sample.

[2018-02-24 03:10] wawilliams003 commented on #723
Whenever I tried your code above I am getting error **Cannot convert value of type 'Bool' to expected argument type 'Date'**

 formatter.dateFormat = "yyyy MM dd"
     let  containsDate = formatter.string(from: datesFromCoreData.contains(cellState.date))  ** Error on this line**

        if containsDate {
            cell.dateLabel.textColor = UIColor(red: 0/255, green: 128/255, blue: 255/255, alp

[2018-02-24 06:12] patchthecode commented on #723
yea im just typing this from my head, just correct the logical error

[code]

[2018-02-24 09:13] wainglaister commented on #679
There appears to be a typo error in the deselect function which means it actually selects instead:

    public func deselect(dates: [Date], triggerSelectionDelegate: Bool = true) {
        if allowsMultipleSelection {
            selectDates(dates, triggerSelectionDelegate: triggerSelectionDelegate)

[2018-02-24 11:47] jayjohnchiong commented on #722
Ok. Thanks

[2018-02-24 11:47] #722 closed

[2018-02-24 13:31] jayjohnchiong opened #725 "Remove the grayed color dates"
I have check this question https://github.com/patchthecode/JTAppleCalendar/issues/56 and I saw this https://patchthecode.github.io/CommonQuestions/#1 but the method itemSize cannot be found anymore.

[2018-02-24 17:04] patchthecode commented on #725
renamed to `cellSize`.

[2018-02-24 20:24] alexyak commented on #724
Ok, I was able to fix the issue by overriding isSelected on the cell and hiding selectedView there.

[2018-02-25 02:11] patchthecode commented on #724
awesome :)

[2018-02-25 02:11] #724 closed

[2018-02-25 11:59] mock123 commented on #719
@patchthecode  Sorry it took so long to get back to you. I couldn't have enough time to look this week. But thanks for your quick reply and here's my answer:

[code]

Here's the screenshot of the Crashlytics app. I recently uploaded dSYMs to Crashlytics for the first time. So it only shows the crashes from the most recent 2 versions for the last 2 weeks. And I guess there are same crashes in the o

[2018-02-25 21:02] joseph-francis commented on #244
I wrote like what you have in `shouldDeselectDate`, but how do I update the selection states for those cells?

[2018-02-25 21:18] wawilliams003 commented on #723
Thanks for your help, but everything I tried so far isn't working.

[2018-02-25 23:00] NigelWD opened #726 "Google Calendar and Varriables"
https://stackoverflow.com/questions/48978897/google-calendar-api-and-var

Could you take a look at this?

[2018-02-25 23:51] patchthecode commented on #726
ok. What format are you trying to convert it into fro the calendar?

[2018-02-25 23:51] patchthecode commented on #723
do you have a sample app on github i can take a look at?

[2018-02-25 23:52] patchthecode commented on #244
@joseph-francis im not quite sure the context of what you are asking.
calendarView.reloadData() is the general way to reload the calendar,
but i'm not sure what you are trying to do.

[2018-02-26 01:01] joseph-francis commented on #244
Lets say we deselect some dates in `shouldDeselectDate` and returned `false`. How do I update the cells' views to deselected view.

[2018-02-26 02:12] NigelWD commented on #726
I’m trying to convert it into a String

[2018-02-26 02:14] jayjohnchiong commented on #725
I tried this https://patchthecode.github.io/CommonQuestions/#1 and change itemSize to cellSize

and this is cellSize = 20
![screen shot 2018-02-26 at 10 10 58 am](https://user-images.githubusercontent.com/36146249/36650284-8fafd2ca-1add-11e8-8968-952e69dc0f0d.png)

this is cellSize = 40
![screen shot 2018-02-26 at 10 11 19 am](https://user-images.githubusercontent.com/36146249/36650314-b22905ec-1a

[2018-02-26 02:27] patchthecode commented on #725
Im not sure what you want to do.
CellSize changes the cell size.
But if you want to "remove" the gray colored dates, then simply set their visibility to hidden.

[code]

thats it

[2018-02-26 05:58] jayjohnchiong commented on #725
ow thanks. cheers

[2018-02-26 05:58] #725 closed

[2018-02-26 07:28] dannygosain1 opened #727 "Type 'ViewController' does not conform to protocol"
JTAppleCalendar Version: 7.1.5
Deployment Target: iOS 11.2

Error Message:
Type 'ViewController' does not conform to protocol. Do you want to add protocol stubs

Code:

<img width="880" alt="screen shot 2018-02-26 at 2 27 36 am" src="https://user-images.githubusercontent.com/20171882/36657974-a7b966e2-1a9c-11e8-8153-56910089745a.png">

[2018-02-26 07:30] patchthecode commented on #727
remember, dont just take a look at the videos, they may be out of date.
On the main page there is an update. A new function called `willDisplayCell` is added.
You have to correctly implemented.

An explanation of why it was added and how to implement it is located here -> #553

[2018-02-26 12:18] mock123 commented on #719
FYI:

Here are the other delegate methods that I implemented. And the thing I'm concerned about is this crash happened only in iOS 11 so far. *My app is compatible with iOS9, 10, 11.

[code]

[2018-02-26 14:31] patchthecode commented on #727
closing issue.
But let me know if you youre still having trouble.

[2018-02-26 14:31] #727 closed

[2018-02-26 14:46] patchthecode commented on #726
Does the example on this video help you?
[link](https://www.youtube.com/watch?v=CQNotydm58s&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q&index=6)

It gives you an example of converting dates from a "fake" server and adding it to the calendar.
I did not convert it into a string in that instance, i converted it into a dictionary. I think this should help you.

[2018-02-26 15:09] patchthecode commented on #719
1. I was a little confused. Are you saying that you have implemented the following 2 functions? Or are you saying you have not implemented them

[code]
I need to know because if they are there in your code, the library will detect them.

2. Why is the following code not implented?
[code]
On the first lines after the features section on this project's main page, in bold text, i had this important m

[2018-02-26 17:07] daviddelmonte opened #728 "Request - Multi-month calendar"
Hi. Is there a way to add the possibility of showing multiple month calendars? Something like the images below. These are very helpful for planning

![screen shot 2018-02-26 at 12 05 44 pm](https://user-images.githubusercontent.com/114487/36684185-90ace07c-1aed-11e8-8cb9-94170ac6a81c.png)
![screen shot 2018-02-26 at 12 05 32 pm](https://user-images.githubusercontent.com/114487/36684186-90ba0c0c-1a

[2018-02-26 20:23] patchthecode commented on #728
this is not possible to do with this library.
the closest thing you can get with it is trying to play with the `cellSize` property which will allow you to have more than one month on the screen. However, you will only ever get one row of months.

[2018-02-26 22:41] daviddelmonte commented on #728
Thanks for getting back so fast. I did it, but it's ugly.  I made 12 instances of the control, and wrestled the month to change for each of the 12. Right now, the top left month is the current month. It's ok for planning but not to see past years.. I can fix that though.

[2018-02-26 23:10] NigelWD commented on #726
It helps a bit, I'm trying to figure out now where in Google's API it allows for me to start converting the data it pulls from the server

[2018-02-27 02:00] patchthecode commented on #728
maybe you can combine it with sectionSize.
see time 6:32 at on this video --> https://www.youtube.com/watch?v=1Sta3aEo9E4

[2018-02-27 02:01] patchthecode commented on #726
awsome man.
Well i'll close this issue, but let me know if youre still stuck.
cool.

[2018-02-27 02:01] #726 closed

[2018-02-27 02:15] daviddelmonte commented on #728
FYI...
![screen shot 2018-02-26 at 9 14 26 pm](https://user-images.githubusercontent.com/114487/36706938-2a37ec18-1b3a-11e8-8762-8eadfb37cbc8.png)

[2018-02-27 02:17] daviddelmonte commented on #728
Still working on it.. January 19 is off.. And I have to figure out how to disallow scrolling in each calendar

[2018-02-27 02:57] patchthecode commented on #728
@daviddelmonte you got it working??
How?
did you change the layout code?

[2018-02-27 11:45] daviddelmonte commented on #728
I changed nothing in your base code. I made twelve `calendarCollectionViews`. I said it was ugly ;) I could likely go improve the code through looping through the various routines, but for proof of concept, I laid everything out rather simply. I'm shite at Git, but I can send you the ViewController I wrote if you like.

[2018-02-27 20:57] kym3ni commented on #717
same problem, how do we fix this?

[2018-02-27 21:03] patchthecode commented on #717
just build the project
CMD + B
Does it build?

[2018-02-27 21:05] patchthecode commented on #728
oh 12 Calendar views huh 😅
ok then. Well um, how are you planning to coordinate them all?
This definitaly cant work for and iPhone, because im not sure the device is that powerful.

[2018-02-27 21:09] patchthecode commented on #728
i guess that if you go that route, you can just as easily create a UICollectionView.
And inside the cell, put the JTApplecalendar.
Then design you UICollectionview to be 3 columns 4 rows.
each calendar cell will have just one month displayed on it.
That way you can scroll the UICollectionView cells and presto, a yearly calendar.

The performance on iPad should be able to work i'd imagine. But i ha

[2018-02-27 22:27] daviddelmonte commented on #728
Great idea with the UICollectionView. I'm on it .

[2018-02-28 03:51] heli154 opened #729 "Stack view is not visible in cell"
Hi. I got a problem that when I add a stack view into cell of calendar view, it does not appear. Could you tell me how to fix. Thank you

[2018-02-28 07:52] patchthecode commented on #729
do you have a sample app i can take a look at?
Also, are you sure you have your constraints set correctly?

[2018-02-28 08:55] heli154 commented on #729
<img width="1073" alt="screen shot 2018-02-28 at 3 49 53 pm" src="https://user-images.githubusercontent.com/25103604/36778402-30cca152-1c9f-11e8-8f91-51ca47dac6a1.png">
<img width="987" alt="screen shot 2018-02-28 at 3 50 24 pm" src="https://user-images.githubusercontent.com/25103604/36778403-3106841c-1c9f-11e8-97ef-f380112bbe1d.png">

i want my stack view look like the first picture but it does n

[2018-02-28 09:01] burzua commented on #717
rebuild project

[2018-02-28 09:06] patchthecode commented on #729
i guess this is because you are new to constraints?
upload a sample app on github and i can fix.

[2018-02-28 09:13] heli154 commented on #729
https://github.com/heli154/ToDoList

I have uploaded my project on github. Could you help me, please.
Thank you so much

[2018-02-28 09:58] patchthecode commented on #729
hmm have you tried opening that project? nothing is buildable. :/
I'll check this again in the morning. Itas already 2am here.

[2018-02-28 10:08] heli154 commented on #729
I'm sorry. I have uploaded again.
Thank you for spending time to help me

[2018-02-28 16:36] patchthecode commented on #729
set this to fill. You currently have it on center.

<img width="753" alt="screen shot 2018-02-28 at 8 35 15 am" src="https://user-images.githubusercontent.com/2439146/36799631-7885a9b8-1c62-11e8-92f8-70fdd326cfda.png">

Closing this issue now. Let me know the results.

[2018-02-28 16:36] #729 closed

[2018-03-01 01:25] heli154 commented on #729
thank you so much

[2018-03-01 17:33] Reecelandry opened #730 "How to put custom dates on my calendar. I can't figure it out!"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

[2018-03-01 22:12] ilbordi opened #731 "Open the calendar to the current month"
Hi, is it possible to start the calendar from the current month?
I mean, I have created a start date
`let startDate = formatter.date(from: "01/01/2018")!`
but I want that the calendar automatically scroll down to the current month (for example now we're in March so I'd like that the the calendar automatically goes to march).
Thanks!

[2018-03-02 03:53] patchthecode commented on #731
in viewDiDLoad()

[code]

[2018-03-02 03:53] #731 closed

[2018-03-02 03:53] patchthecode commented on #730
Have you looked at any of the videos?

[2018-03-02 03:54] Reecelandry commented on #730
yes. all

On Thu, Mar 1, 2018 at 7:53 PM, JTAppleCalendar <notifications@github.com>
wrote:

[2018-03-02 03:56] patchthecode commented on #730
So which part are you stuck on?
got a sample app on github i can take a look at?

[2018-03-02 08:23] ilbordi commented on #731
Thanks, I did not expected it  to be so easy!

[2018-03-02 10:08] DwayneCoussement opened #732 "ConfigurationParameters: A user should be able to set the current date that should be displayed"
Version 7.1.5;
put calendar in horizontal mode
- have a range of dates (eg february 2017 until march 2019)
- in a typical scenario you would want to show the current date of today
note that: `calendarView.scrollToDate(Date())` doesn't work; but that it's also not what a user would want
- the datasource should be provided with the current month (which should be provided with ConfigurationParameters

[2018-03-02 15:26] patchthecode commented on #731
cool.

[2018-03-02 15:26] patchthecode commented on #732
Hi, can you let me know what happens when you do
[code]

This should work correctly.

Just put it in your `viewDidLoad()` function

[2018-03-02 15:28] patchthecode commented on #728
will close this issue.
Let me know how it went, but like i said, it maybe difficult because the lib was not designed to do this

[2018-03-02 15:49] patchthecode commented on #706
Sorry, got very tied up with other projects.
I can put this as an enhancement. But since i'm a little tied up it will take some time.
I just set the enhancement flag to this.

[2018-03-02 15:50] #728 closed

[2018-03-02 15:51] Kaisp opened #733 "How to set in-date the same as out-date and indicate this."
Hello!

Version: 7.1.5(latest)

I am trying to add the functionality of being able to select same in-date as out-date and to indicate this on the cells. How ever I am not currently able to obtain the feature. Do you have any suggestions as to how to implement this?(I am building a calendar in an airline context so I need to be able to select same outbound date as inbound date.)

Regards,

Kasper J

[2018-03-02 15:55] uholland commented on #706
Awesome, thank you!

[2018-03-03 02:49] NigelWD commented on #726
Could you take a look at this demo project? I'm getting errors all over the place and I can't find my way out of this hole. https://drive.google.com/open?id=1h03tRDWpGcRzPiSzvEG7_A1PcF5kc2Zq

[2018-03-04 14:55] DwayneCoussement commented on #732
Hey, delegation is called correctly, so I can show like a header saying the current month. But the collectionview has like some strange animation (like it does the scroll, but shows like the startDate month). It's the paged horizontal calendar. Due to the limitation I decided not to use the library in the end though.

My calendar was configured like this:

`private let calendarView: JTAppleCalenda

[2018-03-05 00:24] patchthecode commented on #732
Its ok. Sorry to see you go.

I think your problem was just one small thing though.
Since you did your calendar manually, I think you had to se the scrolling mode.
[code]
All information on the kinds of supported scrolling modes are in the documentation ->
https://patchthecode.github.io/CalendarScrolling/

All the best. Closing this issue.

[2018-03-05 00:24] #732 closed

[2018-03-05 00:25] patchthecode commented on #733
Hi, i am unclear of what you are asking. Maybe a screenshot of what you are trying to accomplish will help?

[2018-03-05 00:26] patchthecode commented on #730
closing issue until user responds.

[2018-03-05 00:26] #730 closed

[2018-03-05 00:28] patchthecode commented on #723
closing until user responds.
Added awaint input flag

[2018-03-05 00:28] #723 closed

[2018-03-05 00:28] patchthecode commented on #687
closing issue until response :)
I added the awaiting user-input flag

[2018-03-05 00:28] #687 closed

[2018-03-05 00:29] Kaisp commented on #733
Hi, I figured it out. Thanks anyway.

Regards,
Kasper

On 5 Mar 2018, at 01.25, JTAppleCalendar <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi, i am unclear of what you are asking. Maybe a screenshot of what you are trying to accomplish will help?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/pa

[2018-03-05 00:29] patchthecode commented on #651
@ajandrade not sure if this is still an issue.

[2018-03-05 00:30] patchthecode commented on #733
Have a good one. 🍻

[2018-03-05 00:30] #733 closed

[2018-03-05 01:30] NigelWD commented on #726
https://github.com/willard1218/WLAppleCalendar/issues/1 I asked the creator of this calendar (who used your plugin) for some more information on how his calendar works, not sure if you can help me with this but I'm not entirely sure of what to do after his explanations

[2018-03-05 06:46] patchthecode commented on #726
I downloaded your code, but it was not even building.
Just wondering, are you new to swift developement? usually i have the time to help, but im caught between multiple projects at the moment.

[2018-03-05 09:57] NigelWD commented on #726
Yes I am new to swift development and this is my first major project, sorry for the trouble I understand if you’re busy

[2018-03-05 10:52] DwayneCoussement commented on #732
I did try with that scrollingMode, but it just didn't work :-/ I think this might have been a minor bug with that specific configuration.

[2018-03-05 17:03] patchthecode commented on #732
We have tested all configurations, and there si no scrolling issue that we know of in configuration.
But maybe we might have missed something.
I know you've already moved on, but if its possible. Send a zip file of the sample-application to patchthecode@gmail.com
If its not possible then its cool.
But im interested to see what went wrong.

[2018-03-06 06:14] Prashanna7 opened #734 "Thread 1: EXC_BAD_ACCESS (code=1, address=0x0)"
I am using the latest version i.e JTAppleCalendar 7.1.5 and i did all the things that are told to do in tutorial and i also saw the latest update in code and i updated mine as well, but when ever i launch my app it gets crashed and says the error mentioned in title.
![screen shot 2018-03-06 at 11 51 11 am](https://user-images.githubusercontent.com/19919770/37016618-41cb16d8-2135-11e8-8dbd-2c61173c

[2018-03-06 07:20] patchthecode commented on #734
hey can you zip your sample app and send to patchthecode@gmail.com ?

[2018-03-06 15:58] mock123 commented on #719
I have NOT implemented those two functions.

I read  #553 and took a look at the issue at that time, but for my app, it seemed that there weren't any big problems, and it didn't affect anything in a weird way. I also added the delegate method, but didn't write any actual code in the delegate method.

No, I have never found the same crashes when using iPad simulators (iPhone simulators too). I only

[2018-03-06 16:46] ajandrade commented on #651
yes, it is @patchthecode . I tried to do what you suggested above, by commenting some lines, but it didn't work as you can see in my last reply.

[2018-03-06 16:51] patchthecode commented on #651
@ajandrade ok. Do you still have a small sample app which can reproduce this?

[2018-03-07 05:28] Prashanna7 commented on #734
check your mail

[2018-03-07 08:29] Prashanna7 commented on #373
I have the same exact issue, i did the both of the things as mentioned above but still i am getting the error.

[2018-03-07 08:38] patchthecode commented on #373
@Prashanna7 can you step through the code and see where the problem originates?

[2018-03-07 09:38] Prashanna7 commented on #373
I emailed you my whole project as you asked me to do so yesterday, got no response :(

[2018-03-07 16:16] patchthecode commented on #373
Answering you on your open issue now.

[2018-03-07 16:20] patchthecode commented on #734
This is because you have 2 JTAppleCalendars on your storyBoard.
You have correctly setup one, and the other is incorrect (which causes the crash).

I believe you made a mistake with the incorrect one:

<img width="280" alt="screen shot 2018-03-07 at 8 18 23 am" src="https://user-images.githubusercontent.com/2439146/37103874-255eb24c-21e0-11e8-80e3-d655ac4cd32a.png">

On yoru story board, click on

[2018-03-07 16:22] #734 closed

[2018-03-08 01:03] victorchu8 opened #735 "How to display current week for the current day?"
Currently using version 7.1.5.
My problem that is never shows the current week but the previous week.
My calendar currently loads like this:
![screen shot 2018-03-07 at 5 57 43 pm](https://user-images.githubusercontent.com/29528613/37127055-32b9da38-2231-11e8-8fb8-e4eb7bb85b8c.png)

Today's date is March 7 so I would like it to show the week like this:
[ 4 5 6 7 8 9 10]

Here is what my code looks

[2018-03-08 08:28] patchthecode commented on #735
did you do this in your `viewDidLoad` ?
[code]

Also please implement the `willDisplayCell` function as shown here -> #553

[2018-03-08 17:44] scarfra opened #736 "swift4"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

[2018-03-08 17:56] victorchu8 commented on #735
Ok I just implemented both parts you just said and it now looks like this:
![screen shot 2018-03-08 at 10 48 33 am](https://user-images.githubusercontent.com/29528613/37167150-4f3834ba-22be-11e8-800d-dbda21042667.png)

Also here's my code for the extension:

    func configureCalendar(_ calendar: JTAppleCalendarView) -> ConfigurationParameters {
        formatter.dateFormat = "yyyy MM dd"

[2018-03-08 18:15] patchthecode commented on #736
does swift4 not work?

[2018-03-08 18:33] amank97 opened #737 "Load events from core data and display in tableview"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INFORMATION SO I CAN RECREATE THE PROBLEM.

Hello, I am using the latest version of the JTAppleCalendar.

I am having a few issues when it comes to comparing the date that is

[2018-03-08 19:33] patchthecode commented on #737
why dont you convert the date from Coredata into a string, and convert the date that you want to compare against into as string, and then just compare the 2 strings?

You can make sure both strings are of the same format using a `DateFormatter`.
[code]

[2018-03-09 04:53] zhiyuanFan opened #738 "Is there something wrong with my resuing cell?"
![demo](https://user-images.githubusercontent.com/9857775/37191036-2a80ff0a-2398-11e8-8ea2-298f58f6598e.gif)
I don't know why this happened.
The delegate function:
[code]
and configCalendarCell function:
[code]

[2018-03-09 06:14] patchthecode commented on #738
have you implemented the `willDisplayCell` function as stated here? #553

[2018-03-09 06:22] zhiyuanFan commented on #738
I call the  `configCalendarCell` function in `willDisplayCell` , and works . Thank you!

[2018-03-09 06:22] #738 closed

[2018-03-09 08:46] scarfra commented on #736
Now, it's work, but...
First I try to install it manually and does not work it,
then I try to use cocoapods, but on the first time I got the same errors, I
must need my gem and reinstall all to make JTAppleCalendar working
In any case it's really look like a great job!

2018-03-08 19:15 GMT+01:00 JTAppleCalendar <notifications@github.com>:

--

enjoy
Francesco Scarfato
soluzioni per il web
<http:/

[2018-03-09 08:46] scarfra commented on #736
Now, it's work, but...
First I try to install it manually and does not work it,
then I try to use cocoapods, but on the first time I got the same errors, I
must need my gem and reinstall all to make JTAppleCalendar working
In any case it's really look like a great job!

--
enjoy
Francesco Scarfato

[2018-03-09 08:46] #736 closed

[2018-03-09 15:57] patchthecode commented on #736
awesome.

[2018-03-09 18:17] oniikal3 commented on #672
@patchthecode I'm facing with this issue too with the same version (7.1.5)

I'm sure I have changed custom class to my class name. and checked identifier.

[2018-03-09 18:35] oniikal3 commented on #672
@patchthecode I fixed because I have problem with constraint. It's show as expected when run an application but it's not show anything in storyboard. I can setup, click as it be but just not show anything when I changed UICollectionView to JTAppleCalendarView.

[2018-03-11 16:19] patchthecode commented on #110
![1](https://user-images.githubusercontent.com/2439146/37255702-4ef8380a-250d-11e8-852d-a8227242f275.jpg)

[2018-03-15 00:37] #737 closed

[2018-03-15 23:14] patchthecode commented on #735
this slipped my mind man. Did you solve it already?

if not, just to clarify, you want to find a way to make your calendar scroll to the next month with a button? I did not understand this last part.

[code]

[2018-03-15 23:17] patchthecode commented on #692
Got caught up in work.
If you have used it as public, and it works and is useful to you, then it can be useful to someone else.
I make this public shortly.

[2018-03-16 16:43] soorinpark opened #740 "reloadData animation paramter"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using. v7.1.5
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5 yes
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

Hi,

In the UserInteractionFunctions, there is:
[code]

but it doesn't seem like `animation` is a valid parameter for `r

[2018-03-16 20:21] loydbrahn commented on #716
+1 for this enhancement

[2018-03-16 20:31] loydbrahn commented on #740
Related to this... Providing an anchordate doesn't cause the calendar to scroll to that date (animated or not).

So this does not work as it should, according to the docs:

`calendarView.reloadData(withanchor: anchorDate, completionHandler: nil)`

A temporary workaround I'm using is to scroll to the anchordate in the completion handler (which will do an animated scroll):

`calendarView.reloadData(

[2018-03-17 01:33] patchthecode commented on #740
hmm. maybe I broke something. Will check this out soon.

[2018-03-18 14:11] D2Jgs opened #741 "Can not import JTAppleCalendar in the file"
Followed your video and installed it with coca pods but still cannot import the JTAppleCalendar class to the file

[2018-03-18 19:14] patchthecode commented on #741
same project link on github?

[2018-03-19 19:47] D2Jgs commented on #219
I am having a sigabrt error too. Here is the code; i followed your video and made it.

import UIKit
import JTAppleCalendar

class hallAvail: BaseViewController {
let formatter = DateFormatter()
    override func viewDidLoad() {

        super.viewDidLoad()

        // Do any additional setup after loading the view.
        self.addSlideMenuButton()
        self.title = "Hall Availibilty"
    }

[2018-03-19 19:48] #741 closed

[2018-03-19 19:48] D2Jgs commented on #741
got it Thanks

[2018-03-20 04:18] RAMSHEER opened #742 "is it possible to have islamic calender dates and gregorian calender dates in one cell?????"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

[2018-03-20 07:40] patchthecode commented on #219
@D2Jgs do you have a sample app on github i can take a look at?

[2018-03-20 07:42] patchthecode commented on #742
yes.
it is possible.
You are in control of your own cell.
You can design it however you want.
The exact same way you'd design an islamic/gregorian design for a UICollectionView or a UITableView, is the same way you'd design it for this library

[2018-03-20 17:37] D2Jgs commented on #219
No i dont

[2018-03-20 17:38] D2Jgs commented on #219
What do you want me to do ?

[2018-03-21 04:16] patchthecode commented on #219
i need a sample app with the error you are experiencing.
i cannot tell from the message you have posted.
patchthecode@gmail.com

[2018-03-21 04:30] RAMSHEER commented on #742
but when we are giving date data to the cells, ie; " cell.dateLabel.text = cellState.text " . In the cellstate we are describing one calender either islamic or gregorian.. then how we will be able to add another Calender in cellstate and add to another label?? ie; "cell.datelabel2.text = cellstate.text" will not give the next calender details  ..

[2018-03-21 11:47] strike65 opened #743 "macOS Version in sight?"
Hi!

Do you plan to port your excellent work for macOS?

Best regards!

[2018-03-21 16:20] patchthecode commented on #743
I do.
but the issue is time.
Right now i have one final project to complete before i get back to this lib.

[2018-03-21 16:23] patchthecode commented on #742
You can design the cell however you want.
In the example you mentioned above, you have **one** label.
[code]

Why not put 2 labels on the cell instead of one?
You can even put 3 labels, or 4,5....10000. :)
The design is entirely up to you.

Do you know how to design your cell? ( I assume you have already watched the videos?)

[2018-03-21 16:56] D2Jgs commented on #219
I emailed you a project.

Thanks for the help.

[2018-03-21 17:31] RAMSHEER commented on #742
yes. i already created an islamic calender..bt i need corresponding gregorian date in the same cell.
cell.dateLabel.text = cellState.text
this is how i set the datelabel text.. And my question is When i am adding another label , say "gregDateLAbel".. how can i set the gregDAteLAbel text ???
gregDateLAbel.text = cellState.text will not give the results ..it will display one calender details only

[2018-03-21 17:35] patchthecode commented on #219
file fixed. and sent by email.

[2018-03-21 17:36] patchthecode commented on #742
@RAMSHEER can you join me here? https://gitter.im/patchthecode/JTAppleCalendar

[2018-03-21 17:58] strike65 commented on #743
Would be great!

Thanks!

[2018-03-21 18:27] D2Jgs commented on #219
Thanks it worked!!!

[2018-03-22 04:38] FishForLife opened #744 "Ways to make month label update in real time"
Firstly, thank you for this amazing library!

I would like to ask if the month label can be updated in real time as the user scroll very quickly.
I was updating the month label in didScrollToDateSegmentWith but then the month will only update when the animation stops.
Is there a way to update it when the the scroll will go to a month ? (e.g. willScrollToDateSegmentWith in delegate)

Thanks!

[2018-03-22 18:24] patchthecode commented on #742
[code]
you can use this strategy to create dates in any language

[2018-03-22 18:25] patchthecode commented on #742
closing this issue, let me know if you have any other questions.

[2018-03-22 18:25] #742 closed

[2018-03-24 10:54] forafontov98 opened #745 "How to select date's in range?"
Hi! I use the last version of JTAppleCalendar, but I can't find how I can realize selecting a few dates. Maybe are there some reade project's? Thanks!

[2018-03-26 10:24] jdanthinne commented on #732
Hi,
I'm using the `calendarView.scrollToDate( aRange.startDate, animateScroll: false )` to try to display correctly a previously selectedRange in the viewDidLoad.
Unfortunately, I'm using a modal UIViewController appearing from the bottom of the screen, and when the controller is showing, I can see that the scroll is not done yet, then when the UIView is in place at the top of the screen, then the

[2018-03-26 16:26] patchthecode commented on #732
in what function do you have the scrollToDate ?

[2018-03-26 17:44] jdanthinne commented on #732
The famous` viewDidLoad`.

[2018-03-27 20:04] gaus55 commented on #651
@patchthecode I have created the Calendar but issue is I want complete calendar dates from beginning to end not want to pass as string and my current date should be my first screen. I also want to deselect the dates from current date to Future How can i do it?

[2018-03-28 09:47] pavelsmelovsky commented on #745
Hi!

JTAppleCalendarView includes several methods to selecting few dates, or range of dates.

[code]

[2018-03-28 10:34] pavelsmelovsky opened #746 "Content offset reset on bounds changes"
Hello!

### Version
We using actual version of JTAppleCalendar – 7.1.5

### Description
Calendar layout: Vertical

When user select any date in next month then app shows bottom toolbar of navigation controller. As a result, bounds of 'view' (and bounds of calendarView) changes, and layout of calendarView become invalidated. And UICollectionView offset is reset to current month.

I found similar is

[2018-03-28 15:14] patchthecode commented on #745
the documentation is for old version 6.
But can you figure it out from this? -> https://patchthecode.github.io/RangeSelection/

[2018-03-28 15:15] patchthecode commented on #746
will check this out over the weekend.

[2018-03-28 17:10] vldalx commented on #557
got the same error in case of device rotation.

[2018-03-29 12:35] McKevish opened #747 "get number of pages in collection view by using JTAplleCalendar"
Thanks for your amazing Callendar library! It has been very useful to me.

I have however a small issue. In my calendar, I have included two buttons. One to scroll to the next page of the collection view. The other button is used to scroll to the previous page.  My problem; how do I know when the user has reached the last page or first page? In my calendar implementation, I would like to notify th

[2018-03-29 12:56] McKevish commented on #747
Sorry for bothering you... I have found the solution to my problem!

calendarView.numberOfSections
calendarView.currentSection()

[2018-03-29 12:56] #747 closed

[2018-03-29 18:36] D2Jgs commented on #741
Could you help me out. I can't get the calendar to display.
I have mailed you a project file.
Thanks.

[2018-03-29 22:56] patchthecode commented on #741
fixed.

[2018-03-30 15:04] D2Jgs commented on #741
Thank.
Sorry for bothering you.

[2018-03-30 21:00] ronbuencamino opened #748 "DateSegmentInfo.monthDates showing incorrect first date for visible month"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
7.1.5
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
YES
3. PROVIDE ENOUGH IMPORMATION SO I CAN RECREATE THE PROBLEM.

I'm doing something like this:
`self.setCalendarEvents(visibleDates: self.calendarController.visibleDates())`
`func setCa

[2018-03-30 21:01] benjamin852 opened #749 "Nil Optional Value of CalendarView"
Hey everyone I had a basic version of the calendar working and now for some reason i keep getting an error with my outlet.
Whenever I just try run the app, it compiles but then throws an error saying that the optional value of my outlet is nil.
Any ideas where im messing up?
<img width="1280" alt="screen shot 2018-03-30 at 4 26 02 pm" src="https://user-images.githubusercontent.com/13651771/3815370

[2018-03-31 03:55] patchthecode commented on #749
send me an email of your sample project.
patchthecode@gmail.com

[2018-03-31 04:09] patchthecode commented on #748
can you show me a screen shot of the month that is visible?

[2018-03-31 04:58] benjamin852 commented on #749
Nvm I figured it out stupid mistake in my AppDelegate lol

[2018-03-31 05:16] patchthecode commented on #749
awesome

[2018-03-31 05:16] #749 closed

[2018-03-31 22:09] patchthecode commented on #746
I have updated the code on master branch.

Here  is what should happen.
When you show the toolbar and the size of the bounds change. See example below
[code]

in example above, i have changed the frame of calendar. Therefore, you must reload the calendar view.
If you want the calendar to scroll back on reload, then please set an `anchorDate` that you want the calendar to scroll to on reload.

This

[2018-03-31 22:13] patchthecode commented on #745
Assuming resolved. closing

[2018-03-31 22:14] #745 closed

[2018-03-31 22:16] patchthecode commented on #740
I made an update on master branch. See this issue for instruction on testing with master branch code to see if your issue is resolved -> https://github.com/patchthecode/JTAppleCalendar/issues/746

[2018-03-31 22:21] patchthecode commented on #735
Assuming this was resolved.
Closing issue.
If not resolved, then reply and I will re-open.

[2018-03-31 22:21] #735 closed

[2018-03-31 22:24] patchthecode commented on #681
@chemise ive looked at this today. The part i am confused on is this:

If scrolling mode is vertical, and there are no headers, I do make it display the next month.
Do you not want this? Maybe if you clarify the behavior that you need, then i can implement the code you have done.

[2018-04-01 01:39] patchthecode commented on #712
4 rows have now been added.
Im experimenting with it.

[2018-04-02 12:01] pavelsmelovsky commented on #746
@patchthecode Hi!

I'm trying code from master branch.
But we don't use reloadData(withanchor:) method, and everything works as expected!

Thank you!

Will this changes goes to the next release?

[2018-04-02 15:11] patchthecode commented on #746
Do you mean that the navigation controller changes the height of the calendar and it is not reset?
If yes, then i will ask you this, is the calendar resized properly with the cells?

(and yes, if all master branch changes will be released in next version but only after all bugs are flushed out)

[2018-04-02 20:20] ronbuencamino commented on #748
![simulator screen shot - iphone 8 - 2018-04-02 at 13 18 32](https://user-images.githubusercontent.com/27229172/38214105-73dfc9d6-3678-11e8-97df-f3a67edbf3c6.png)

When I print out visibleDates.monthDates from didScrollToDateSegmentWith I get the following data:

[(date: 2018-02-25 08:00:00 +0000, indexPath: [0, 28]), (date: 2018-02-26 08:00:00 +0000, indexPath: [0, 29]), (date: 2018-02-27 08:00:0

[2018-04-03 01:15] patchthecode commented on #748
now that i have seen your screen, this is expected.
You did `calendarView.visibleDates`
And according to the screenshot, The dates from feb-25 to feb-28 are visible on the screen.

Maybe if you let me know what you are trying to do then i can help

[2018-04-03 01:22] ronbuencamino commented on #748
Sorry, I meant to say I printed calendarView.visibleDates.monthDates and was expecting 3/1 to be the first date, not 2/26

-RB
Sent from my iPhone

[2018-04-03 02:07] patchthecode commented on #748
what will be visible first, would be the **actual** visible dates.

So let me ask you, when you ran that command, was Febuary's date visible on the screen?

[2018-04-03 02:16] ronbuencamino commented on #748
Yes, that’s correct. I hid feb dates because it was an indate and I didn’t want to display it. However, it was my assumption for monthDates that it would have been the first of the actual month that’s being presented, in this case 3/1 since it’s for the month of March.

That said, what’s the best way to get the monthDates for the current month segment that’s being displayed?

-RB
Sent from my iPho

[2018-04-03 04:16] patchthecode commented on #748
Here is the thing based on the screen shot, both months are being presented on the screen.
Yes, March takes up a majority portion of the screen, but February is still presented on the screen (25th to 28th). Since 2 months are displayed on the screen, the library cannot know which month you want displayed, therefore we leave that job up to the developer.

If you let me know what you're trying to do

[2018-04-03 06:13] pavelsmelovsky commented on #746
@patchthecode hi!

Yes, after calendarView bounds did change it is not reset. All works as expected (for our configuration). We use: vertical scroll, isPagingEnable = false and custom cell size (vertical height ==  55dp).
I can try another configuration. Tell me what configuration to try?

Thanks.

[2018-04-03 06:49] patchthecode commented on #746
If all works as expected, then cool.
consider this fixed.
I'll test the other configurations. 👍

[2018-04-03 19:28] ronbuencamino commented on #748
1. I’m doing some background fetching for events for a given month. I’m using visibleMonths.monthDates.first as my anchor when fetching. As a workaround, I grab the last day of the month and calculate the start from there. It seems to be accurate enough.

2. Scroll mode is vertical

After you’ve had explained it, that’s fine with me. I have a workaround, I just wanted to raise attention as the val

[2018-04-04 11:08] NWITS commented on #557
me too...

[2018-04-04 14:30] patchthecode commented on #557
checking this out today.

[2018-04-04 15:54] patchthecode commented on #557
@josjevv sorry i took so long. I got really tied up on other projects.
I see your issue. I'm thinking of a fix. I didnt consider the fact about different size classes.

[2018-04-04 17:17] sreekanthps opened #751 "JTAppleCalendar 6.0 Two-Tap range selection"
I am trying to build my iOS app calendar component with JTAppleCalendar and i have requirement for  two tap range selection, i have followed steps as per documentaiton. But i am not able to highlight the color between date range. Attaching code and screen shot of my requirement.

Your help is very much appreciated
<img width="373" alt="screen shot 2018-04-05 at 1 14 05 am" src="https://user-images

[2018-04-04 19:34] patchthecode commented on #751
will take a look after work today

[2018-04-05 02:49] ABGIII926 opened #752 "'ViewController' does not conform to protocol 'JTAppleCalendarViewDelegate'"
This seems to be a very common mistake.  Thank you for taking a look.
I get this error on the 'extension' line
I am using version 7.1.0

My code:

extension ViewController: JTAppleCalendarViewDelegate, JTAppleCalendarViewDataSource {
    func configureCalendar(_ calendar: JTAppleCalendarView) -> ConfigurationParameters {
        formatter.dateFormat = "yyyy MM dd"
        formatter.timeZone = Cale

[2018-04-05 03:05] #752 closed

[2018-04-05 09:44] #746 closed

[2018-04-06 13:54] patchthecode commented on #751
I just checked out your code.
You did not have this enabled ->

`calendarCollection.allowsMultipleSelection  = true`

That line was commented out.
Fix that and your range selection will work.

[2018-04-07 05:18] #751 closed, assigned to patchthecode

[2018-04-09 10:16] mohghazi opened #753 "didSelectDate-Method delivers wrong selected day"
Hi,

first many thanks for the great calendar. Find it couple days ago, and till now im able to configure all needed customizations. But I have a weird behavior that I do not understand, which also sounds buggy. Im using the latest version i.e. v7.1.5.

Im configuring the calendar from first of current month till last day of current year:

[code]
In didSelectDate-Method i just printed out the curr

[2018-04-09 14:54] patchthecode commented on #753
This is expected and has been asked very many times :)
This happens to users who live in the east.

And it happens to to any calendar lib you use.
Here is the main issue i point people to which explains why it happens, and how to fix it -> https://github.com/patchthecode/JTAppleCalendar/issues/252

Let em know if it is resolved.

[2018-04-10 05:46] mohghazi commented on #753
Somehow I did not found related issues. Thanks for the info. I expected that it has something to do with the formatter. I configured my calendar with my custom formatter, that is why I expected this to be enough for the calendar to handle it correctly.

I will check this now, yet it is not just about printing the date. I make at some stages in code some date comparison, where it also fails, due to

[2018-04-10 06:30] mohghazi commented on #753
Im not using SwiftDate, and need to handle this properly. Is there a best practice for this?

[2018-04-10 08:47] patchthecode commented on #753
You do not need to use SwiftDate.
You just need a `DateFormatter()` as shown in the issue.

[code]

Now whenever you need to print dates etc, use your same formatter
[code]

Your date comparisons should also work

[2018-04-10 09:58] mohghazi commented on #753
This is working, as i used GMT as an identifier. But for someone in the far east or in the west, this will not work properly. Im working for the first time with Calendars. How would you handle this?

By the way, did you ever considered making your Calendar-Lib reactive conform? Binding data for UICollectionView is supported in Libs such as Reactivekit/Bond. This makes the binding and updating data

[2018-04-10 09:59] mohghazi commented on #753
https://github.com/DeclarativeHub/Bond

[2018-04-11 06:36] ChengRuipeng commented on #716
+1 for this enhancement

[2018-04-11 07:26] vnanaware opened #756 "JTAppleCalender PreMonth selection issue [Version 6.0]"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
Ans:       6.0

2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
Ans:   No, I updated latest but its gives many errors so are degrade to 6.0

I have implemented JTAppleCalender in my iOS project. for to select start date adnd end date.
Now th

[2018-04-11 12:32] patchthecode commented on #753
Well this would be an issue out of the scope of this calendar. The question you are asking now is how do iOS apps handle dates across different regions globally. You can take the harder route and handle it manually, or use other cocoapods like SwiftDate which was developed specifically because of this problem :)

I have never heard about this before. I will take a look to see how to make this lib

[2018-04-11 12:34] patchthecode commented on #756
Version 7 of this library has been out for some time now (over a year)
Going back to support version 6 would be too difficult for me.

I can help you port your 6.0 project to version 7.
Also version 7 has many videos which could help porting over from version 6 to 7.

[2018-04-12 08:14] mohghazi commented on #753
Many thanks for the support.

[2018-04-12 08:14] #753 closed

[2018-04-14 03:07] benjamin852 opened #758 "App not compiling for my friend after pull request"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

Hey folks. My friend is trying to pull my project but he is having a bug with the calendar. The project compiles and works fine for

[2018-04-14 04:27] patchthecode commented on #758
He needs to click on the red colored dot and XCode will tell him how to fix it.

I bet it will tell him that he needs to implement the `willDisplayCell` function as shown here -> #553

[2018-04-14 07:00] jflet opened #759 "Code Errors"
I am getting all kinds of errors in my code

[code]
[Screen Shot 2018-04-13 at 11.59.04 PM.PDF](https://github.com/patchthecode/JTAppleCalendar/files/1910095/Screen.Shot.2018-04-13.at.11.59.04.PM.PDF)

[2018-04-14 12:41] patchthecode commented on #759
What did you do to get these errors? Did you create a new project? or did you update from some existing one?

And there is a red fix button that. Can you just click on that?

[2018-04-14 15:41] coc opened #760 "get month before scrolling ends (willScrollToDateSegmentWith)"
Hi and thanks for this great calendar framework!

I´m using version 7.15 in a new app I'm developing.

**How can I get the month the user is scrolling to before scrolling is ready?**

I use the following settings:
[code]

One delegate that is called while user is scrolling is **didScrollToDateSegmentWith**. Can I get the month the user scrolls to or the scroll direction (up or down) inside this fu

[2018-04-14 15:54] patchthecode commented on #760
It cant be done right now

[code]

I meant to do this in this function. This function tells you when the calendar stops scrolling as soon as you lift your finger.
But it was **supposed** to be this

[2018-04-14 15:56] patchthecode commented on #760
Thinking on this. Will reply in some time

[2018-04-14 16:01] coc commented on #760
Thanks, I meant **scrollDidEndDecelerating**, not **didScrollToDateSegmentWith**
** didScrollToDateSegmentWith** is too late, scrolling is done at this point. The reason why I wish this is of course I display the month and year in the UINavigationController´s **large title**

[2018-04-14 16:16] patchthecode commented on #760
ok then. If it is `scrollDidEndDecelerating` then i have already marked this for an enhancement.
How soon do you need this? I am sorta swamped with projects right now.

[2018-04-14 16:26] patchthecode commented on #760
alright. that _should_ be enough time.

[2018-04-14 16:27] coc commented on #760
Thanks again!

[2018-04-14 16:34] patchthecode commented on #679
@wainglaister you are correct. Fixing this now.
But this doesnt seem to be related to the original poster's bug.
But its a bug  non the less. So i'll fix 👍

[2018-04-14 18:07] benjamin852 commented on #758
Ya i think thats what it tells him but its weird because I dont have that function in my code and it works fine for me

[2018-04-14 19:30] patchthecode commented on #758
@benjamin852 do you have the exact same version 7.1.5?

Something must be wrong somewhere. Maybe try a `pod update` on console?
7.1.5 should force developers to implement that function.

[2018-04-15 14:12] sreekanthps commented on #751
Hi,

Sorry for delay in responding, that totally work. I have 2 issues now
 1. cellInset is missing to avoid space between cells
 2. When i use calendarview. selectDates to highlight dates between, some dates are not being delegated
(screen shot and code is attached)
[DBSCalendar 2.zip](https://github.com/patchthecode/JTAppleCalendar/files/1912926/DBSCalendar.2.zip)
<img width="411" alt="screen sh

[2018-04-15 15:15] patchthecode commented on #751
Have you implemented the `willDisplayCell` function as shown in **bold** important text on the the main page? :) --> #553

[2018-04-15 23:53] sreekanthps commented on #751
In the screen cap attached i am not getting the date 25th in willDisplayCell delegate,
this is happening with calendarview. selectDates

[2018-04-16 00:37] sreekanthps commented on #751
How about cellInset ? i i need to reduce the gap between cells (remove empty space)

[2018-04-16 02:13] patchthecode commented on #751
[code]

[2018-04-16 05:04] sreekanthps commented on #751
Hi,

My height issue got resolved, but assigning cellsize = view.frame/width/7 (since i display 7 rows)
But the second issue is not solved yet

When i select calendarCollection.allowsMultipleSelection = true and when i select two date ranges, the day before end date is not getting willDisplayCell delegate call

attaching screen cap and code for reference
[DBSCalendar 3.zip](https://github.com/patc

[2018-04-16 07:09] patchthecode commented on #751
i think you are making this way much harder than it needs to be man.
have you looked at the range selection tutorial? Its for version 6.0 but porting it over should be too hard.

here is your zipped file, i removed most of the un-needed code. it should take you to 90% of the way there
[DBSCalendar 2.zip](https://github.com/patchthecode/JTAppleCalendar/files/1914157/DBSCalendar.2.zip)

[2018-04-16 11:43] mohghazi opened #761 "Buggy or unexpected behavior for current day text color"
Running latest version 7.1.5

Hi,

Im getting an unexpected behavior by selecting the cell of current day. CalendarView behaves normally for each selection and de-selection. Yet by selecting the current day, the view starts to behave in a strange way.

The text color should be set to red for current day. Yet other cells are getting red too! I set a breakpoint on the line where the color is set, an

[2018-04-16 14:25] patchthecode commented on #751
you should be using version 7.1.5
Many bugs have been fixed in the prior versions.

[2018-04-16 14:27] patchthecode commented on #761
This behavior is not strange.
JTAppleCalendar is a UICollectionView.
Cells are *reused*.

Therefore you have to reset the cell properly.

[code]

But all you are doing is setting to red. Therefore when cells are reused, all become red.

[2018-04-16 14:32] patchthecode commented on #761
Also, your willDisplayFunction looks strange.

it should look more like this: (pasted from my example code)
[code]

Your `cellForItem` function should call the `willDisplay` function. And all your configuration shoul dbe done in the will display function. This has been explain in #553

[2018-04-16 14:33] patchthecode commented on #761
closing this issue. Let me know if youre still having a problem

[2018-04-16 14:33] #761 closed

[2018-04-17 00:51] Smiller193 opened #762 "scrollToDate Issue"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER: 7.1.5
2. Are you using the latest version of JTAppleCalendar? Yes
3. PROVIDE ENOUGH INFORMATION SO I CAN RECREATE THE PROBLEM.

So I have followed the youtube tutorials on creating a calendar using this library and it has worked wonderfully. The only problem seems to be with the scrollToDate feat

[2018-04-17 03:12] patchthecode commented on #762
looks like you created your calendar from code.
Therefore you need to put the scrolling mode in your `setupVC()` function.

[code]

closing issue.
Let me know if this fixed it.

[2018-04-17 03:12] #762 closed

[2018-04-17 06:12] mansi-cherry commented on #718
@kerlossaad Did you solve this? I am facing the same issue, same configurations like you
@patchthecode The error does not go away even after adding willDisplaycell as well

[2018-04-17 06:14] mansi-cherry commented on #718
And for me I can't even run the app. It gets stuck on this error
keeps on adding the same function and if the function is added twice invalid redeclaration error will come

[2018-04-17 08:29] mansi-cherry commented on #718
I just removed the pod
Let me share some details

import UIKit

[code]
I registered the jtAppleCalendar with register method to register cell
In cellForItemAt I used the jtDequeue method to config my cell according to the date.

But what happens was
1. I add `cellForItemAt` method (please note that `willDisplayCell` is already added as per your suggestion 533)
2. I get a fix error -> on click of t

[2018-04-17 11:13] kerlossaad commented on #718
Nope it did not fix it i still had an error but I put building the app on hold due to my studies. If you were able to fix it, please share with me the solution. 

Sent from Yahoo Mail for iPhone

On Tuesday, April 17, 2018, 2:12 AM, Mansi Shah <notifications@github.com> wrote:

@kerlossaad Did you solve this? I am facing the same issue, same configurations like you
@patchthecode The error does not

[2018-04-17 15:15] patchthecode commented on #718
@kerlossaad
@mansi-cherry

`Type 'ViewController' does not conform to protocol 'JTAppleCalendarViewDelegate'` is an arror given by XCode to let you know that you do not conform to a protocol. By clicking on the red error message bubble (on the right) XCode will present to you a FIX button. Click on it, and it will show you what function you were missing so that the error can go away.

This can be

[2018-04-17 17:33] Smiller193 commented on #762
this fixed it thanks

[2018-04-17 18:06] patchthecode commented on #762
awesome 🍻

[2018-04-17 18:15] Smiller193 commented on #762
I wish I could customize it more some of the custom calendars I saw look very nice

[2018-04-17 18:16] Smiller193 commented on #762
like having a view under it that shows some info about things on occurring on that date. So much to learn lol

[2018-04-17 23:38] patchthecode commented on #762
here is inspiration -> https://www.uplabs.com/search?q=ios%20calendar

[2018-04-18 04:30] Davesanity9 opened #763 "Invalid Redeclaration of func calendar and CustomCell has no member of selectedView"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using. :  **xCode 9.3 beta**
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5 : **Yes**
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

[2018-04-18 05:33] patchthecode commented on #763
Im sorry, but this is not enough information for me to recreate the problem

[2018-04-18 07:57] Davesanity9 commented on #763
Its okay. I already solved the problem. Thanks! Cheers

[2018-04-18 07:57] #763 closed

[2018-04-18 09:13] patchthecode commented on #763
awesome. cool.

[2018-04-18 09:37] mohghazi commented on #761
ok. Im not using willDisplay-Method now. In cellForItem-Method I implemented this line of code to set the textColor:

[code]

This is working fine, but not at first run i.e. when user open the calendar, even though the code is executed at first run (I set some break points and checked it). After user tap on any cell on calendar or scroll etc .. , it is set correctly.

I need to do it this way. As

[2018-04-18 10:02] patchthecode commented on #761
are you sure this is run correctly on first run?
convert this into an if statement
[code]
and let me know = `   cell.dateLabel.textColor = .red` i called correctly on first run

[2018-04-18 11:45] mohghazi commented on #761
Just tried it. Its the same behavior. For todays-Date it is executing and textcolor ist set to red. Yet it is not set in the calendar.

[2018-04-18 14:26] patchthecode commented on #761
do you have a sample project with just this problem alone in it that i can take a look at?. You can create a sample project demonstrating the error. and drag the zip file in this chat box.

[2018-04-18 22:30] jimmyhiguchi commented on #557
I am also experiencing this issue. Let me know if anyone found a work around. Thanks!

[2018-04-19 00:02] arjunmadgavkar commented on #553
@patchthecode - thanks for this update, spent a few hours trying to figure out what was going wrong, but this solved everything.

I have a question though, **why** can't you use _dequeueReusableCell_ in the willDisplay function?

This was causing me an error as an unselected cell would appear to be selected, but I don't understand why this is the case.

Thank you 💯

[2018-04-19 03:00] patchthecode commented on #553
@arjunmadgavkar This lib is built from a UICollectionView. It behaves the same way.
If you dequeue in that function, you be reusing an old cell that was already used and therefore you'd need to clean up the dequeued cell just like you would for a UICollectionView. But why would you dequeue a cell in there? `WillDisplayCell` is for displaying a cell that is already dequeued.

[2018-04-19 06:00] patchthecode commented on #681
closing until further info

[2018-04-19 06:00] #681 closed

[2018-04-19 06:00] patchthecode commented on #759
closing til further user input

[2018-04-19 06:00] #759 closed

[2018-04-19 06:07] patchthecode commented on #758
closing until further input

[2018-04-19 06:07] #758 closed

[2018-04-19 06:50] mohghazi commented on #761
I will try to provide sample code soon. Thanks for the support.

[2018-04-19 14:11] patchthecode commented on #761
cool.

[2018-04-20 08:35] mohghazi commented on #761
I made a sample code. Following similar structure as in my code. Yet in sample code, it is working at first run. And I cant find the difference in implementation! I'll check again..
[code]

[2018-04-20 09:01] mohghazi commented on #761
worked now :)
I have some UIAppearance stuffs in my code which i didn't use in the sample code .. so I set the textcolor using its defined property in custom cell  i.e.

[code]

Where textColor is defined in CustomCalendarBaseCell as dynamic var for dateLabel.textColor.

Many thanks, and

[2018-04-20 11:43] patchthecode commented on #761
Have a good one.

[2018-04-23 16:25] obeal commented on #679
There's no typo error
... selectDates function selects or deselects dates depending on whether they're selected or not.
... but, as the original poster's bug reports, there are issues with deselect....

[2018-04-23 19:32] krystiank907 opened #764 "Current Selected Date is other than they should be (-1 day)"
I have problem if I selected day and print this I have date with - 1 day
Problem is when I change firstDayOfWeak, when is default is good.
On the start ViewController I selected currentDay and calendar selected currently date

[code]

Version 7.1.5
Swift 4
Tested on iPhone X (no on simulator)
My code:

[code]

[code]

[2018-04-24 00:32] patchthecode commented on #764
This is a very popular question asked for iOS on any calendar library on github.
It happens to people in the East.
We explained it here -> https://github.com/patchthecode/JTAppleCalendar/issues/252

Will close this. Let me know if youre still stuck.

[2018-04-24 00:35] patchthecode commented on #679
@obeal i just wish someone would provide me a zipped empty project with just a calendar, and the bug. Then i will fix.

[2018-04-24 02:30] aoot commented on #752
@ABGIII926 How did you resolve this issue? Xcode is telling me that my VC is not conforming to the protocol as well.

I've read through the protocol declaration, and it seems to me that my VC IS conformed to it.

[2018-04-24 05:09] patchthecode commented on #752
click on the red error and let me know what XCode suggests as the fix?

[2018-04-24 11:10] jackywongcw opened #765 "Calendar Issues 9999"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.'
7.1.5
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
Yes
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.
I've sent an email to you with this title as the subject.

Using ios 10. Please do look into it. I'm posting here to get

[2018-04-24 18:40] patchthecode commented on #765
What issues are you experiencing?

[2018-04-25 05:06] jackywongcw commented on #765
A very random and rare chance of Calendar not being refreshed on viewWillAppear.

I have 2 buttons, one that change the calendar to 6 rows (Month view), one that change to 1 row (week view)
On viewWillAppear, most of the time it shows correct calendar with 6 rows, but sometimes just one row, and the only way to fix this is to change to week view, then back to month view.

While I'm on month view w

[2018-04-25 05:31] patchthecode commented on #765
is your project already secret? is it possible you can send me an empty app with the problem you are experiencing?

[2018-04-25 17:26] jackywongcw commented on #765
Yes, i'm unable to show anything here. However I've sent you screenshots of the error via email, could you take a look? Unable create an empty app for now, even if i do, it may not have the issue, as the issue is appearing randomly on a low chance.

Would showing you the code helps? Again, I can only do it via email, sorry for the inconvenience :/

[2018-04-25 18:29] patchthecode commented on #765
@jackywongcw is it possible you can join me here? https://gitter.im/patchthecode/JTAppleCalendar
chat here is too slow

[2018-04-26 01:42] #764 closed

[2018-04-26 14:44] hactar opened #767 "Multiple Months with Month Name In-Between"
Hi there,

I'm about to pick a cal library for my next project, JTAppleCalendar appears the nicest, but there's one question I cannot find an answer for.

Can one create an apple-like cal like here with month names inbetween the months:

![2598de3a-db42-11e6-8699-6a85d58dbc2f](https://user-images.githubusercontent.com/645674/39312339-a167f856-496f-11e8-9462-2346b068c560.PNG)

Or at least like here

[2018-04-26 17:03] patchthecode commented on #767
This can and has already been done many times.

some one has already done something like it --> https://github.com/patchthecode/WLAppleCalendar
This calendar has the "look"

Now if you want the multiple months, then all you have to do is implement headers.

[code]

[2018-04-26 17:13] patchthecode commented on #767
If you want the Month to look Exactly like AppleCalendar month where the `monthName` appears directly over the 1st date of the month, then this is also easy to do.
Make your month Header into a UIStackView with 7 labels equally spaced.

Then simply check on which column the 1st lands on (if column 1,2,3,4,5,6 or 7). Now depending on the column, just hide all the labels except the one where the col

[2018-04-26 18:00] mgurreta commented on #767
@hactar you can build really good stuff with this library, it is super flexible

Here an example of `Multiple Months with Month Name In-Between`:
![32976927-51bcd68e-cbd7-11e7-8035-841a233ed7d7](https://user-images.githubusercontent.com/73706/39323280-fbe15a36-4940-11e8-9884-5f23d3fbcbb7.gif)

[2018-04-28 02:11] nicholasdmoore opened #769 "JTAppleCalendar cells are not showing up - empty collection view."
I think I have all the necessary code set up properly because I have no errors, but when I run the project I get a blank collection view. I set the cells background color to be different from the collection view color just in case. I am a beginner at coding so I won't know how to debug very well. I've included pictures from my project so you might be able to see what the problem is. Thank you so m

[2018-04-28 14:38] hactar commented on #767
Awesome, thanks I'll be using this lib then, just wanted to make sure its doable, I'll figure it out with the hints you posted, thanks everyone.

[2018-04-28 14:38] #767 closed

[2018-04-28 16:54] patchthecode commented on #110
![test](https://user-images.githubusercontent.com/2439146/39398932-118a7824-4aca-11e8-89f4-e39b023b925a.gif)

[2018-04-28 17:12] patchthecode commented on #110
![test2](https://user-images.githubusercontent.com/2439146/39399077-45d51af6-4acc-11e8-80b5-8e7bd2ccd661.gif)

[2018-04-28 17:26] patchthecode commented on #769
@nicholasdmoore missed your msg
but are you sure your `cellForItem` function is being called?

[2018-04-28 18:24] patchthecode commented on #769
issue resolved.
<img width="265" alt="screen shot 2018-04-28 at 11 09 51 am" src="https://user-images.githubusercontent.com/2439146/39399664-bc02688c-4ad6-11e8-904c-7b5c9668c1ab.png">

correct delegate is now set

[2018-04-28 18:24] #769 closed

[2018-04-29 11:37] yasheedv opened #770 "Range selection is happening different cells"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

*. Using the latest version.

First of all Thanks for creating an amazing library.
I want to create a calendar like the below screenshot
<img width="377" alt="screen shot 2018-04-29 at 12 09 14 pm" src="https://user-images.githubusercontent.com/34914714/39406133-33db15c8-4ba1-11e8-99a2-a7264ebf62c3.png">

You can find my source cod

[2018-04-30 02:42] patchthecode commented on #770
will take a look

[2018-04-30 09:52] obeal commented on #679
OK.  @patchthecode

From what I've seen the _selectDates_ function selects or deselects dates depending on whether they're selected or not (see **line 330** of UserInteractionFunctions.swift).

However in **line 306** it checks if the dates passed to the _selectDates_ function should be selected or not calling the delegate _collectionView(self, shouldSelectItemAt: sectionIndexPath)_.

This means t

[2018-04-30 19:46] yasheedv commented on #770
Hii.. Any updates ?

[2018-05-01 05:52] vdeep opened #771 "Scrolling months and years"
Is it possible to allow both horizontal and vertical scrolling? Horizontal will scroll months and vertical will scroll years?

[2018-05-02 15:43] AndreaMiotto opened #772 "Calendar Timezone"
Hi, im not able to set the proper time zone to the calendar

[code]

where in the viewModel

[code]

output:

[code]

As you can see is set as 22.00 UTC

How should I fix this?

[2018-05-02 16:16] #772 closed

[2018-05-02 20:42] patchthecode commented on #771
@vdeep i am sorry i misread your question. I had a bunch of things going on at once.

You are right. We cannot have horizontal and vertical at the same time. Sorry about that.

[2018-05-03 01:35] ccynn opened #773 "Limiting To/Displaying Set Range of Days"
-- using version 7.1.5 ---

Is it possible for me to display a calendar for a range of dates?

My goal is to show a user a 10 day calendar from a given date (i.e. May 2nd - May 12th).

I tried configuring in the configureCalendar method with the start/endDate parameters for the case above, but I'd receive cells for all days within May. I'm also wondering if there'd be any issue for instances like

[2018-05-03 02:24] patchthecode commented on #773
This is the final update to this calendar and is already in the bucket list for an update.

[2018-05-03 02:46] ccynn commented on #773
Ah I see...is this update available anytime soon or are there any suggested workarounds?

Any guidance is appreciated!

[2018-05-03 08:27] AndreaMiotto opened #774 "Calendar height resizing according number of rows"
Hi, I have an horizontal calendar, and I'm trying to adjust the height according the number of rows.

The cells have a fixed size, while I'd like to adjust the space between them.

My code works great, except for one thing, after the scroll I can't see any changes on the layout, I need to use reloadData(withAnchor:) and the everything is good.

But I'm sure that doing every time a reload data for

[2018-05-03 12:47] patchthecode commented on #774
I think this guy created one like you described without the reload -> https://github.com/patchthecode/WLAppleCalendar/blob/master/WLAppleCalendar/ViewController.swift

He did it by setting his configuration to
[code]

[2018-05-03 17:22] ggirotto opened #775 "Crashing on division by zero"
Library Version: 7.1.5

My app is crashing due to a division by zero when trying to reload an array of dates.

I'm using the function `reloadDates` and i'm sending two equal dates `2018-05-02 22:36:03 UTC` and the lib crashes inside the function
[code]
when trying to perform a division by zero.

I've attached some images to better illustrate the situation.

![screen shot 2018-05-03 at 1 40 47 pm](

[2018-05-03 19:27] patchthecode commented on #773
There is a work around i like to call `Boundary-dates`
but it works better with single row calendars. Ive never tried double row calendars.

it is mentioned here -> https://github.com/patchthecode/JTAppleCalendar/issues/365

[2018-05-04 00:11] ggirotto commented on #775
@patchthecode I've investigated a little further and found what was causing the problem.
I was fetching the data that I will display in the calendar and trying to reload the dates that had some content to show in `viewWillAppear` function. But for some reason, at this point the calendar didn't loaded itself yet, because I've printed the`numberOfItemsInSection ` and was returning 0 for all sections

[2018-05-04 00:32] ccynn commented on #773
Thanks for the reply, I'm admittedly trying to understand how I'll be able to incorporate #365 as a workaround.

My hope is to be able to show on load an unscrollable 2-week calendar displaying a specified day range (i.e. 4th-18th) and pre-selected cells that can thereafter be manually selected/deselected.

Any guidance/available tutorial would be appreciated, or if there's anything more I can sup

[2018-05-04 00:40] ccynn opened #776 "aDecoder EXC Bad Access Error"
-- using latest version 7.1.5 --

I am receiving "adecoder exc_bad_access" error and am not sure where to start to debug. I've pasted my datasource/delegate methods below for reference. For the two required delegate methods, the code is the same.

The issue emerged when I entered the code in my delegate methods. My attempt with that code was to preselect and format cells based on a specified date

[2018-05-04 02:38] sreekanthps commented on #751
thank you very much, that helped a lot, we are trying to add the project as source code into our code, the reason being we are using some security libraries that don't allow dynamic frame works
If we have static library also works for ur. please help us with static library

[2018-05-04 06:01] ccynn commented on #776
I commented out all the calendar.deselect methods and it seems to be working now, so maybe i was either using that incorrectly or something iffy is there..

the reason i had both the calendar.select/deselect was related first, to preselect cells, and second, to the reused cells and ensuring their isSelected is accurate..

[2018-05-04 07:15] #776 closed

[2018-05-04 09:33] patchthecode commented on #775
thanks. for letting me know.
it that case its not that serious. I'll just add a guard check there then

[2018-05-04 11:58] vdeep commented on #771
It's okay. I ended up using the calendar inside a collection view.
So the hierarchy becomes:

* Collection view (vertical scrolling)
  * Cell
    * Calendar (horizontal scrolling)

This way, the outer collection view scrolls years, and the calendar scrolls months.

[2018-05-04 11:59] #771 closed

[2018-05-04 14:27] patchthecode commented on #751
@sreekanthps i do not know much about static libraries. Sorry about that. I know more about cocoapods.

[2018-05-04 14:28] patchthecode commented on #771
@vdeep pretty creative. I'll save that answer for the next person who asks me your question.

[2018-05-08 14:05] soorinpark commented on #740
@patchthecode Ok that's what I figured! Can I suggest you remove it from the comments for accuracy? Thanks :)

[2018-05-09 15:21] massacreformash opened #777 "Please release new version to make number of rows free to change, thx!"
current ver. : 7.1.5
issue:
i found that you make the number of rows of Calendar is free from 1 to 6, but current version on pods still only support 1, 2, 3 and 6 rows.
please release a new ver. on pods to make it works! thanks a lot!

the comparison of two version:

![image](https://user-images.githubusercontent.com/12970186/39823443-a8677dc8-53df-11e8-91b6-b0c2536e9be7.png)

[2018-05-09 18:16] patchthecode commented on #777
hi, you can use the master branch for now with your cocoapod file.
Version 7.1.6 will be released with other updates as well.

[2018-05-10 00:14] adrgrondin opened #778 "selectDates() leads to a failed cell cast after scrollToDates() closure"
I am using JTAppleCalendar 7.1.4 and during the implementation of a search functionality I have found something that I can't solve. After searching for a day (with a search bar) my calendar will scroll to the searched date and select this date (which will perform a show segue). However the segue is not always performed with the following code :

[code]

The cast with the guard is what prevent the

[2018-05-10 02:34] patchthecode commented on #778
you are correct.
The closure *should* ensure that the cell is already on the screen.
Is it possible that you can zip a stripped down version of the project that only has this error in it?
send to patchthecode@gmail.com and let me know.

[2018-05-10 08:57] vasant-indpro commented on #138
![simulator screen shot - ipad pro 9 7-inch - 2018-05-10 at 14 13 01](https://user-images.githubusercontent.com/31093499/39861199-7f95ef14-545d-11e8-8c76-1677c1986b55.png)

Here is my screenshots.

I am using latest version of JTAppleCalendar which is 7.1.5, If I add stackView in cell, scrolling isn't smooth(There is jerk while switching between cell) at all, I have tried using just multiple label

[2018-05-10 12:01] AdrienGrondin commented on #778
Done !

[2018-05-10 14:14] patchthecode commented on #138
@vasant-indpro can you open this under a new issue?

In the new issue, please paste your `cellForItem` code and your `willDisplayCell` code.

[2018-05-10 16:34] msencenb commented on #557
I ran into this issue too and have a workaround for my situation that others are welcome to use.

[code]

This works in my case since I select a date (today) when the view is first loaded up. That means selectedDates is guaranteed to have at least one member and the calendar can simply scroll back to it and re-select that date during rotation or size changes.

I am sure there is a more elegant sol

[2018-05-11 05:01] patchthecode commented on #777
closing issue.
Let me know if you have other problems

[2018-05-11 05:01] #777 closed

[2018-05-11 05:03] patchthecode commented on #778
ok. I got the app.
Can you give me some example dates which will show up the problem?
The ones i have tried are working properly.

[2018-05-11 07:51] aliihsanural opened #779 "Scrolling Problem - Cells give wrong information"
Hi,

I try to catch cells information. In viewDidLoad(), calendar loads dates and prints correct days in handleCellEvents() . But when i scroll the calendar right or left , this prints() doesnt print correct dates. The prints start at the end of the week or start of the week and goes on forward or backward not show the seen dates . Also I try to implements evets week by week .

Is it a bug or my m

[2018-05-11 09:25] adrgrondin commented on #778
There are no specific dates that give the error sometime it take more than 6 attempts, sometime the same date can fail and after a retry it can work properly. I was often altering between dates in 1920-1930 and 2010-2020. All the tests was made on a real device. I will send you a video of this error on your email.

[2018-05-11 10:34] patchthecode commented on #779
I am not understand what the problem is.

Can you tell me
1. what is the expected date you want to see when scrolling?
2. what is the incorrect date that you are seeing?

[2018-05-11 10:38] patchthecode commented on #774
closing issue.
Let me know if you still need help with this.

[2018-05-11 10:38] #774 closed

[2018-05-11 10:41] patchthecode commented on #773
If you want your calendar to be unscrollable, then #365 will not be of any help to you.
Maybe if you show me a screen shot of how your unscrollabe calendar with the range *should* look, then i can help further.

[2018-05-11 11:40] patchthecode commented on #779
This library is a UICollectionView subclass. You cannot depend on the `cellForItemAt` function to give you dates that are visible on the screen. Apple has the `UICollectionView` coded efficiently and it will only show new dates as determines by the UICollectionView. We do not have control over this.

If you want to capture visible dates when you scroll, can you use the following function?
[code]

[2018-05-11 11:47] patchthecode commented on #770
ok. i only now had a chance to look at this. Sorry for the late response.

1. I selected April 30 to May 2 and getting the following
You have shown me the image of what you have. But can you show me what you **want** it to look like?

<img width="377" alt="screen shot 2018-04-29 at 12 09 14 pm" src="https://user-images.githubusercontent.com/34914714/39406094-9b3b51b6-4ba0-11e8-89ce-babcdee571fd.pn

[2018-05-11 11:52] KrishNaveen commented on #779
I tried the above function you suggested it works fine. But I still can see the problem where I tap twice quickly then I am having the issue of seeing old dates.

[2018-05-11 12:14] aliihsanural commented on #779
@patchthecode didScrollToDateSegmentWith functions starts from Sunday and it starts to show one day before.
Note: I configure calendar with "firstDayOfWeek: DaysOfWeek = .monday"

[2018-05-11 12:36] patchthecode commented on #779
Note: I configure calendar with "firstDayOfWeek: DaysOfWeek = .monday"

Can you explain this more?
Hey, I cannot know what the problem is if you just tell me the problem.
You need to tell me

1. What you are seeing
2. What you were expecting

Only then i can know the difference between what you are seeing and what you are expecting.

[2018-05-11 12:41] aliihsanural commented on #779
You can see the picture at the top that shows firstday is Monday 7 , May. But when i run this code
print("Visible dates : \(visibleDates.monthDates)") in "didScrollToDateSegmentWith"  , it shows

"Visible dates : [(date: 2018-05-06 21:00:00 +0000, indexPath: [19, 6]), (date: 2018-05-07 21:00:00 +0000, indexPath: [20, 0]), (date: 2018-05-08 21:00:00 +0000, indexPath: [20, 1]), (date: 2018-05-09 21:

[2018-05-11 14:03] vasant-indpro opened #780 "Switch between month is not smooth, when UICollectionCell has complex UI."
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

[2018-05-11 14:06] vasant-indpro commented on #780
![simulator screen shot - ipad pro 9 7-inch - 2018-05-10 at 14 13 01](https://user-images.githubusercontent.com/31093499/39928196-51b3f7da-5552-11e8-919f-14ae0c1bc588.png)

Here is my screenshots.

I am using latest version of JTAppleCalendar which is 7.1.5, If I add stackView in cell, scrolling isn't smooth(There is jerk while switching between cell) at all, I have tried using just multiple label

[2018-05-11 16:15] ccynn commented on #773
I was able to resolve for my needs.

[2018-05-11 16:15] #773 closed

[2018-05-11 18:23] ptr-is opened #781 "Feature request: add support for macOS"
Add support for macOS

[2018-05-11 18:31] patchthecode commented on #781
its in the works.
But unfortunately wont be ready any time soon.
Will close this issue ok.

[2018-05-11 18:31] #781 closed

[2018-05-11 18:31] patchthecode commented on #781
i'll Add the issue progress once i have some headway in it

[2018-05-11 18:32] patchthecode commented on #773
awesome 🍻

[2018-05-11 18:34] patchthecode commented on #780
This library uses a UICollectionView subclass.
I do not do any resource intensive calculations under the hood.
The only place I can help you determine why you calendar isnot scrolling smoothly is if you share me your

1. `cellForItemAt` code
2. `willDisplayCell` code

Since these are the 2 functions where the bulk of things happen.

[2018-05-11 18:39] patchthecode commented on #779
Ok i understand the problem now.
Can you let me know how you are printing the dates to console?

I believe that your problem is this --> https://github.com/patchthecode/JTAppleCalendar/issues/252

It maybe by due to how you are printing the data.
Read the issue and let me know if it makes sense to you.

[2018-05-14 06:32] aliihsanural commented on #779
Hi again, I think is not a same problem with #252 because that is time zone problem but i get the days wrongly.

    func calendar(_ calendar: JTAppleCalendarView, didScrollToDateSegmentWith visibleDates: DateSegmentInfo) {
        print("Visible dates : \(visibleDates.monthDates)")
        setupViewsOfCalendar(from: visibleDates)
    }

Today 2018-05-14

With this function Print is :
Visible date

[2018-05-14 08:26] agordeev opened #782 "scrollToSegment(.next) doesn't scroll if you call it multiple times"
First of all thanks for the great library!

This issue is reproducible on example project: when you quickly tap Next month button, the calendar stops scrolling. I tried to debug `scrollToSegment` method and found out that `contentOffset.x` in this row:

    let section = CGFloat(Int(contentOffset.x / fixedScrollSize))

is not incrementing. Any idea how to fix/workaround?

[2018-05-14 19:54] WolfgangTorres opened #783 "Is there anyway to get previous and the next month of the current month"
Great library man

Im using the version 7.1.5

I want to display the previous month and next month of the current month, Is there a function or any other way to do that??

Im currently displaying the previous and next month using
[code]
[code]

But if there is no indates or outdates it does not work
Is there anyway i can get this months differently?

[2018-05-15 08:20] jayjohnchiong opened #784 "Disable selection on future dates"
Version is 7.1.5

Hi, I have a calendar that can go through previous months but not to future months. The problem is for example today is May 15, 2018, right now I can click 16 and so on but I don't want those future dates to be selected.

[2018-05-15 09:53] hemangshah commented on #784
You get the selection of a date here, `func calendar(_ calendar: JTAppleCalendarView, didSelectDate date: Date, cell: JTAppleCell?, cellState: CellState) {...}` so you can set a condition accordingly.

[2018-05-15 10:11] patchthecode commented on #784
or if you want to totally refuse the selection of future dates then implement something like
[code]

[2018-05-15 10:19] patchthecode commented on #783
instead of using `inDates`/`outDates`, just use `monthDates`.
Then just calculate the next month of that date.
There are many examples on how to calculate it:
example --> [Here](https://stackoverflow.com/questions/39804669/how-to-get-previous-and-next-month-in-calendar)

Will close this issue, but let me know if youre still stuck

[2018-05-15 10:19] #783 closed

[2018-05-15 10:19] patchthecode commented on #784
will close this issue, but let me know if youre still stuck.

[2018-05-15 10:19] #784 closed

[2018-05-15 11:00] patchthecode commented on #782
can you try the new master branch code?
https://github.com/patchthecode/JTAppleCalendar/wiki/Common-Questions

let me know if it works.
new master branch code also fixed so that the following behavior also works as expected.
[code]

[2018-05-15 11:01] patchthecode commented on #780
closing this issue until further info is provided.
I just set flag to awaiting user input.

[2018-05-15 11:01] #780 closed

[2018-05-15 11:04] patchthecode commented on #779
can you paste me your `configureCalendar` function?
I need to see how you have setup your calendar.

[2018-05-15 11:55] patchthecode commented on #778
I found a way to recreate your issue 100%

1. run sample app you sent me via email
2. start with date `9 avril 1918`

This fails every time. It looks as if when you set a LARGE range, the scroll animation is not yet complete.
This is weird because i have the code which runs the completion handler located in here in the file called `UIScrollViewDelegates.swift`:
[code]

According to Apple Documenta

[2018-05-15 12:00] patchthecode commented on #778
if i put a breakpoint in that function, i can see that the calendar on the right has not yet finished scrolling to the point, but yet, the function is already called. Apple weirdness?
The calendar is scrolling toward 9 avril 1918. It has reached half way in scrolling (not yet finished scrolling) and the function is called :/

<img width="1021" alt="screen shot 2018-05-15 at 4 57 47 am" src="https:

[2018-05-15 12:14] patchthecode commented on #775
https://github.com/patchthecode/JTAppleCalendar/commit/8357f49a4a9bd21c97332ec378d4bf2fb68a19de

closing issue.
guard added to master branch

[2018-05-15 12:14] #775 closed

[2018-05-15 16:26] patchthecode commented on #740
@soorinpark cool.
closing this issue now.
I if you got any more questions, just let me know.
We leave comments here on github so leave a record to help other people. More comments = more help.

cheers 🍻

[2018-05-15 16:26] #740 closed

[2018-05-16 07:42] agordeev commented on #782
Thanks, looks good now! When are you planning to release a new version?

[2018-05-16 07:42] #782 closed

[2018-05-16 12:56] Mackarous opened #785 "Paging not correctly aligned"
**Update: This is not only happening in the popover, for some reason it happens in a modal view controller also**

I am currently using v7.1.5 of JTAppleCalendar.

I created a view controller in a popover style for the calendar.
I am attempting vertical paged scrolling
The pages of the collection view are misaligned.

Code for popover:
[code]
These screenshots were taken when the collection view w

[2018-05-16 13:02] patchthecode commented on #785
mind joining here?
https://gitter.im/patchthecode/JTAppleCalendar

[2018-05-16 14:46] patchthecode commented on #785
resolved.

[2018-05-16 14:46] #785 closed

[2018-05-17 06:59] patchthecode commented on #778
https://github.com/patchthecode/JTAppleCalendar/issues/778

[2018-05-17 06:59] #778 closed

[2018-05-17 07:00] patchthecode commented on #756
closing issue.
Let me know when you need help porting to version 7

[2018-05-17 07:00] #756 closed

[2018-05-17 07:03] patchthecode commented on #719
Its now may.
Have you noticed any other crashes with this?

[2018-05-18 13:21] RobbeVDCNext opened #786 "didDeselectDate sometimes not called when cell is off-screen"
Hey,

I'm using 7.1.5 and I have a problem with deselecting dates in my single row calendar.

`calendar(_ calendar: JTAppleCalendarView, didDeselectDate date: Date, cell: JTAppleCell?, cellState: CellState)` doesn't seem to get called when the deselected date is off-screen.

But this doesn't happen all the time. Only if the deselected date is close to the newly selected date. For example: selectin

[2018-05-18 13:41] patchthecode commented on #786
have you implemented the willDisplayCell function?

[2018-05-18 13:59] RobbeVDCNext commented on #786
Yes, and `willDisplayCell` function implements the same code as the `cellForItemAt` function (as described in the example project.

[2018-05-18 14:16] patchthecode commented on #786
hmm. interesting. Would you mind pasting the relevant `cellForItem` and the `willDisplayCell` code?

[2018-05-19 12:06] RobbeVDCNext commented on #786
They both implement this piece of code:

[code]

This is the `setup` func in the `CalendarDayCollectionViewCell`:

[code]

This is about it I think.

Thanks

[2018-05-19 12:09] nurkhatp opened #787 "Bad performance on big range selection"
It's default code of range selection. When select few years, screen stops answering touch and delays
 few second (depends on selected range) untill selection process has finished.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/9607349/40269214-d9325404-5b9c-11e8-9130-fd44fa1b5f1a.gif)

[2018-05-19 13:04] patchthecode commented on #787
A bit more information?

[2018-05-19 13:09] patchthecode commented on #786
They both should not have this code.

[code]

It is dequeued in the `cellForItem` function.
It is *not* dequeued in the `willDisplayCell` function.

Let me know if this fixes the issue first before in look at the other code.

[2018-05-19 13:56] nurkhatp commented on #787
Is there any idea to make it faster?

[2018-05-19 14:02] RobbeVDCNext commented on #786
That did the trick, great! Thanks for your help and thanks for this wonderful library!

[2018-05-19 14:02] #786 closed

[2018-05-19 14:51] patchthecode commented on #786
glad issue is resolved.
leave a star rating if this lib is helpul to you.
have a good one.
🍻

[2018-05-20 01:02] patchthecode commented on #779
Hey, the best thing to resolve this would be a sample app.
Can you send me a zipped copy of a sample project with the issue?
If i i have a sample project, then i can fix the issue faster.

send to patchthecode@gmail.com and let me know once you do so.
Will close this issue until this is done.

[2018-05-22 06:07] vasant-indpro commented on #780
`
 func calendar(_ calendar: JTAppleCalendarView, cellForItemAt date: Date, cellState: CellState, indexPath: IndexPath) -> JTAppleCell {

        let cell = calendar.dequeueReusableJTAppleCell(withReuseIdentifier: "MonthCustomCell", for: indexPath) as! MonthCustomCell

        cell.addDoubleTap(to: self, action: #selector(doubleTapped(_:)))

        //cell.belongsToThisMonth = cellState.dateBelong

[2018-05-23 05:03] patchthecode commented on #780
Remember, the calculations you are doing is being done 42 times every time you do a scroll.
is it possible you are doing too much in the calculations?

[2018-05-23 06:21] vasant-indpro commented on #780
Even if I avoid(Comment calculation code for testing) calculation and just show dummy UI on all 42 cells, Still I face same issue.

is there any solution so I could make it smoother with my requirements? Thanks!

[2018-05-24 05:28] vasant-indpro commented on #780
[code]

In this case works smooth.

[2018-05-24 06:29] patchthecode commented on #780
Good, then if this is the case, can you slowly **one by one** add back your calculations until you know which is the calculation that is breaking the back of your smooth scrolling?

[2018-05-25 15:11] NickGaens commented on #557
@patchthecode Any chance this library will be getting a fix for this issue as it's quite annoying? The workaround of @msencenb above works, but I'd rather not include such a workaround in the first place.

A major thanks as well from me for this awesome library, by the way; it's really great.

[2018-05-25 19:31] patchthecode commented on #557
@NickGaens
will work on this.
i'm just a little caught up at the moment.
but it is on my priority list.

[2018-05-26 06:50] seongminchoob opened #788 "failed to render and update auto layout status for CalendarView Controller"
my calendar was working fine but suddenly im getting this issue..

[2018-05-26 10:28] mecid opened #789 "ReloadData(withanchor: date)"
Hi, I am on latest version 7.1.5
Calling reloadData with anchor sometimes drops scroll position to top.
How can I handle this?

[2018-05-26 12:56] patchthecode commented on #789
could you explain? Did you mean it scrolls the library all the way to the first date?

[2018-05-26 12:59] patchthecode commented on #788
--> [seems not lib related](https://www.startpage.com/do/dsearch?query=failed+to+render+and+update+auto+layout+status+for&cat=web&pl=ext-ff&language=english)

Any screen shots?

[2018-05-26 17:26] mecid commented on #789
Yes, exactly.

[2018-05-26 19:06] patchthecode commented on #789
Can you give some more information?

What do you do before the happens?
Do you change the frame of the calendar view? Does any thing relating to frame or position or size of anything relating to the calendar change?

[2018-05-27 09:20] seongminchoob commented on #788
never mind it was an internal error of xcode!

[2018-05-27 10:52] mecid commented on #789
@patchthecode
I am not changing calendar frame, it is static. I am showing vertical calendar for 2 years.
Every page show single month.

1st: scrollToDate(Date.today(), animateScroll: false) at ViewDidLoad
2nd: on every didScrollToDateSegmentWith fetch data from local database and call
            guard let date = calendarView.visibleDates().monthDates.first?.date else { return }
            calen

[2018-05-27 23:11] patchthecode commented on #788
ok. cool.

[2018-05-27 23:11] #788 closed

[2018-05-28 10:01] EleshKliesen opened #791 "Get array of months to link to dropdown menu"
On Version 7.1.5:

Hi, I'm trying to get a array of months to populate my dropdown. The dropdown simply displays a list of months and when selected scrolls the view to the corresponding month. Is there a function or variable to get an array of months as string/date/month from the calendar?

P.S Currently working around it by creating the Date array myself with the same startDate and endDate as the

[2018-05-28 15:12] patchthecode commented on #791
This feature is not present.
The idea was as you just stated.

This library is just a simple UICollectionView under the hood; so the data is managed by the developer.  There is month data stored on the library, but it is not in a format you would like 😅.

I could create a new feature to return that data to you in a good looking format, but it would be more efficient if done from your end since you

[2018-05-29 00:42] EleshKliesen commented on #791
Seems fair
Thanks for the quick response!

[2018-05-29 01:47] patchthecode commented on #791
cool. 🍻

[2018-05-29 01:47] #791 closed

[2018-05-29 16:46] patchthecode commented on #787
looking into it.

[2018-05-30 06:38] #779 closed

[2018-05-30 06:38] aliihsanural commented on #779
Its about TimeZone . Its not a bug. Thank you for all replies

[2018-05-30 13:08] mecid commented on #789
@patchthecode any ideas, how to fix this problem?

[2018-05-30 19:06] mock123 commented on #719
Thanks for the updates and Are you planning to bump up the version to 7.1.6? It still occurs with Version 7.1.5.

[2018-05-31 06:31] benhas999 commented on #645
i just created xib file and implemented following views but they get nil, while try ti deque and change color.

import UIKit
import JTAppleCalendar

class CellView: JTAppleCell{

    override func awakeFromNib() {
        super.awakeFromNib()
        // Initialization code

    }

    @IBOutlet var lbl_date: UILabel!
    @IBOutlet var view_top: UIView!

    @IBOutlet var view_left: UIView!

    @I

[2018-05-31 06:32] benhas999 commented on #645
# @patchthecode

[2018-05-31 06:39] benhas999 opened #792 "JTApple calendar shows wrong data/ Unwanted scrolling happens"
Using Latest version of JTApple calendar

 - Unnecessary scrolling take place while selecting date on calendar, its an issue because each time i select a date scroll happends and have to call service for each scroll to update data

 - i handle cell color as follows

[code]
but it shows as it for few scrolls then the indication shows on wrong dates

* im using JTApple calendar with storyboard cell

[2018-05-31 08:50] hihaihy opened #793 "hi, xcode 9. don't have JTAppleCalender, i need to download the JTAppleCalender where do install one?"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

[2018-05-31 11:13] patchthecode commented on #793
you need to do it via cocoapods.
There are many tutorials online on how to use either cocoapods or carthage  with your project.
here is two old vids i did on this.
https://www.youtube.com/watch?v=wyh_DVFeH_w&list=PLpqJf39XekqyUG7dxcqGO0JNprryysv9Q

Hope this helps.

[2018-05-31 11:13] #793 closed

[2018-05-31 12:42] patchthecode commented on #789
Can you let me know if this is still occurring on master branch?
https://github.com/patchthecode/JTAppleCalendar/wiki/Common-Questions

[2018-06-01 02:16] cellgit opened #794 "Could I Get A Week Calendar With JTAppleCalendar,Thanks"

[2018-06-01 07:10] patchthecode commented on #794
yes you can.
hope this helps.
let me know.
https://github.com/patchthecode/JTAppleCalendar/issues/581

[2018-06-01 07:10] #794 closed

[2018-06-01 12:32] seongminchoob opened #795 "date class given in the didselect function is behaving strange"
func calendar(_ calendar: JTAppleCalendarView, didSelectDate date: Date, cell: JTAppleCell?, cellState: CellState) {
        formatter.dateFormat = "yyyy MM dd"
        print("The selecting part")
        currentDate = date
        print(date)
        print(date.dateTimeString())
}

this is the code I had,

and 2018-05-31 15:00:00 +0000
Jun 1, 2018 at 12:00:00 AM

this is the output I have..

I do

[2018-06-01 15:00] Tom-Fox1 opened #796 "Can't create IBOutlet of JTCalendarView"
I'm trying to follow the tutorial - [https://www.youtube.com/watch?v=Qd_Gc67xzlw](video). It tells you to create an IBOutlet for the JTAppleCalendarView however upon doing this I got the following error

`The calendarView outlet from the CheckoutTableViewController to the JTAppleCalendarView is invalid. Outlets cannot be connected to repeating content.`

I did later find that the attributes that w

[2018-06-01 20:47] Tom-Fox1 commented on #796
My apologies for this I now realise the issue arose because I embedded the collection view within a table view.

[2018-06-01 20:48] #796 closed

[2018-06-02 02:59] patchthecode commented on #796
cool. no worries

[2018-06-02 03:10] patchthecode commented on #795
Sounds like youre experiencing this -> https://github.com/patchthecode/JTAppleCalendar/issues/252

[2018-06-02 08:45] mock123 commented on #760
I need this enhancement too!  Preferably before this month is out...

[2018-06-03 03:42] cellgit commented on #794
Yes,it works,thanks

[2018-06-03 13:03] patchthecode commented on #795
closing issue.
let me know if this works

[2018-06-03 13:03] #795 closed

[2018-06-03 15:13] patchthecode commented on #792
A bit more information is needed when you say **unwanted scrolling**

Does it scroll to a date?
Does the calendar jump to start?
does it fill-in-the-blank?

[2018-06-04 07:29] benhas999 commented on #792
First of all thanks for such an effort and care you providing to maintain support such a nice library and user interaction, and sorry for missing the necessary details on issue

please check the calendar view...

![Alt Text](http://recordit.co/yZ1NxTUUVj.gif)

1. The cell missing the display properties once its get scrolled - * june 14th red color get disappear
2. By selecting a cell unnecessary s

[2018-06-04 07:39] patchthecode commented on #792
@benhas999 can you msg me here https://gitter.im/patchthecode/JTAppleCalendar
If not respond in 15mins then i'll respond by morning.

[2018-06-04 10:37] benhas999 commented on #792
ok, you can provide solutions on both  portals, hope you got the issue..

[2018-06-04 13:06] patchthecode commented on #792
This library is a UICollectionView. Therefore use it like you would any other UICollectionView.

i see you have this
[code]

i am also not sure why you have a loop here
[code]

It looks like you are looping through your dataSource to set the variables of many cells in on shot.
If you are using it the way i think you're using it, then this is not the way you setup data in a cell for a UIcollectionV

[2018-06-04 15:36] patchthecode commented on #792
@benhas999 available here? https://gitter.im/patchthecode/JTAppleCalendar

[2018-06-04 18:12] reden87 commented on #679
@patchthecode sorry for the long unresponsiveness.. here's the whole diff if you start from the latest master branch:

<img width="1221" alt="screen shot 2018-06-04 at 20 01 10" src="https://user-images.githubusercontent.com/869119/40933577-2e9ef5ea-6832-11e8-819e-af5092287ff0.png">

and also I prepared a video about the error:

[bug.zip](https://github.com/patchthecode/JTAppleCalendar/files/20694

[2018-06-04 22:00] zipme commented on #179
REALLY NEED THIS FEATURE!

@ttorjan  since it's been over a year, I am wondering if you solved it already? If so, how did you do it?

[2018-06-05 13:39] patchthecode commented on #792
Ok just a note. Im here to help you with any issues related to the libray, and not issues related to your application (because this will be too much for me to look through).
I did ask to see code, but not code without context.
After we spoke via chat, what was the outcome of the implementation? And cannot tell anything if i do not know the context of this pasted code.

[2018-06-05 13:51] rollin-s opened #797 "CellState is not the same day than the date"
Hello, I'm facing an issue, I think this is not wanted.
I'm using last version of JTAppleCalendar : 7.1.5

I am living in Paris time (UTC+2)
I am configuring the calendar like this :

`
func configureCalendar(_ calendar: JTAppleCalendarView) -> ConfigurationParameters {
        formatter.dateFormat = "yyyy MM dd"
        formatter.timeZone = Calendar.current.timeZone
        formatter.locale = Cal

[2018-06-05 14:02] mecid opened #798 "ShouldScrollToTop delegate"
How to implement this method?

[2018-06-05 14:23] patchthecode commented on #797
you issue is related to formatting.
See here -> https://github.com/patchthecode/JTAppleCalendar/issues/252
Closing issue.
let me know if resolved.

[2018-06-05 14:26] patchthecode commented on #798
JTAppleCalender > UICollectionView > UIScrollView

so implement this? https://developer.apple.com/documentation/uikit/uiscrollviewdelegate/1619378-scrollviewshouldscrolltotop

[2018-06-06 05:18] benhas999 commented on #792
you just mistaken, i specified library related codes in seprate extension.. you just have to concern it, ofcourse myself also not interested to deal with others code for time pass... :)

from our conversation as you asked about handling arrays, incase you have any doubts about global datastructures or assigning methods you can just find the roots, thats it..

Please just find the refined  code

[c

[2018-06-06 12:55] mecid commented on #789
@patchthecode fixed on master branch

[2018-06-06 12:55] #789 closed

[2018-06-06 13:27] mecid commented on #798
@patchthecode yeah, I know it. But i have strange problem. Delegate property not visible for calendarView.
<img width="1189" alt="screen shot 2018-06-06 at 06 26 40" src="https://user-images.githubusercontent.com/324372/41040939-a97604fe-6952-11e8-87a8-23e990c368f9.png">

[2018-06-06 16:09] hadiyazdi opened #799 "How do you add the colored dots below dates?"
Whenever I try to add rounded labels below the date and color them according to the date events I get a messy layout

I couldn't find a tutorial on how to achieve this in the videos, but many screenshots show colored dots (one or more) below the date without having any issue?

Thanks for your help

[2018-06-06 16:47] patchthecode commented on #798
Ah not strange.
You just have to make a subclass.

[code]

Now use `CustomJTAppleCalendarView` on your storyboards and @IBOutlets.
Let me know if it works for you

[2018-06-06 16:48] patchthecode commented on #799
Are you sure you have your constraints etc set correctly?

zip a sample project with the messy layout and drop it in this chat box.

[2018-06-06 17:45] mecid commented on #798
@patchthecode hmm, but this is scrollViewDelegate method. Why I can't assign new delegate to calendarView and do my check there?

[2018-06-07 01:34] patchthecode commented on #798
Hmm, but how do you intend to set a scrollViewDeleagte to a `JTAppleCalendarView` class?

Isn't the UIScrollViewDelegate is a protocol that your class has to conform to?

if you declared a class like below:
[code]

Then you get to use the UIScrollViewDelegate by conforming to it like so
[code]

[2018-06-07 02:47] chamitha opened #800 "Large Text Support"
Hi there. What is the recommended approach for supporting large text?
It appears that the cellSize property determines the size of the cell regardless of the constraints defined in the custom cell nib.

[2018-06-07 03:52] patchthecode commented on #800
I have never dealt with large text before.
If you know the size of the text, then is it possible you can adjust the `cellSize` so that it fits?

[2018-06-07 05:05] chamitha commented on #800
That is certainly an option but involves the need to perform calculations. In a UICollectionViewFlowLayout, setting the estimatedItemSize allows a cell with auto layout constrains to auto resize. Not sure if exposing estimatedItemSize is an option if the custom layout used is reliant on cell size calculations.

[2018-06-07 05:11] mecid commented on #798
@patchthecode yeah, that's what about I am talking.

[2018-06-07 09:28] patchthecode commented on #800
The custom layout *is* reliant on cellSize. Would exposing estimatedItemSize help your case?
I have never looked into large text things. So i do not know much on it yet.

[2018-06-07 09:37] patchthecode commented on #798
Ok, therefore, to use the `scrollViewShouldScrollToTop` delegate,
You can do it in 2 ways:

## 1
Create a subclass of JTAppleCalendarView and use it
[code]

## 2
Create an extension inside your viewController and add this code
[code]

[2018-06-07 11:50] #792 closed

[2018-06-07 13:50] rollin-s opened #801 "Implementation of pre-load cells"
Hello, I'm using this library a lot, and I just wanted to know if there is any way to preload cells that are not present yet ?
I didn't found anything in your documentation, and the willLoadcell is not implemented
This does look like [this](https://imgur.com/a/IPxp470)

I implemented the loading of the cells like that

[code]

Is it possible with your library ?

[2018-06-07 14:12] patchthecode commented on #801
sounds like youre talking about cell prefetching? -> https://developer.apple.com/documentation/uikit/uicollectionviewdatasourceprefetching/prefetching_collection_view_data

This feature comes with UICollectionView out of the box. Since JTAppleCalendar is a UICollectionView subclass, it should have this as well out of the box.

btw, shouldnt your VIP model be -> `AgendaModel.FetchAgendasRDVCurrentM

[2018-06-07 14:42] rollin-s commented on #801
Oh, I didn't know this notion, I searched for it, but didn't find it.. (guess I search badly 👎  )
This is exactly what I'm looking for, thanks !

About VIP, the way you did it works, but I'm currently into the CleanSwift architecture (small derivate of VIP) which doesn't use the interaction the exact same way than the VIP.
But thanks for your advice, I'll looking into it !

[2018-06-07 19:26] mecid commented on #798
Yeah, thank you. I am using first one right now.

[2018-06-07 19:26] #798 closed

[2018-06-07 20:21] patchthecode commented on #798
cool. 🍻

[2018-06-08 03:43] patchthecode commented on #801
hmm you have a point there.
Test this for me and if it works i'll make an update in the library.

The following function is in the **InternalQueryFunctions.swift** file.
[code]

It returns you the date and the owner.
But it is private.
Make it public and let me know if it works for you.

[2018-06-08 11:14] MyGuySi commented on #740
@patchthecode Is this available in the latest version on Cocoapods?

I'm using the following but still seeing an animation with the dates sliding in from the side...

[code]

![jun-08-2018 12-10-50](https://user-images.githubusercontent.com/12952977/41155297-48a653da-6b15-11e8-8359-188e67048872.gif)

[2018-06-08 11:21] patchthecode commented on #740
@MyGuySi are you using master branch code?

https://github.com/patchthecode/JTAppleCalendar/wiki/Common-Questions

[2018-06-08 11:23] patchthecode commented on #740
If yes, is it possible you can send me that purple sample app?
patchthecode@gmail.com

[2018-06-08 11:49] MyGuySi commented on #740
Ah probably not, sorry I didn't see that. I'll update my Podfile and see if that fixes it 👍

[2018-06-08 11:53] MyGuySi commented on #740
@patchthecode Yep that's fixed it, guess that fix isn't on Cocoapods yet then. Thanks for the quick response!

[2018-06-08 12:43] patchthecode commented on #740
@MyGuySi Youre right.

its not released yet. I will soon though, once i get the some free time.

[2018-06-08 17:18] RyanCallery opened #802 "Unable to implement JTAppleCalendar tutorial project"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

1) Using version 7.1.5 downloaded 6/8/18.  Using Xcode 9.4 Beta.

This is the first cocoapods class I have used.  Installed cocoapo

[2018-06-08 19:13] patchthecode commented on #802
Can you show screen shot of class type on the story board?

[2018-06-08 19:42] RyanCallery commented on #802
[HelloCalendar.zip](https://github.com/patchthecode/JTAppleCalendar/files/2085819/HelloCalendar.zip)

Yes, absolutely.  Thanks for the quick response.  Here is the zip file.

Best,
Ryan

[2018-06-08 19:53] RyanCallery commented on #802
One thing I've noticed is that I have more outlet options in my storyboard than were present in your tutorial.  Also, these outlet options did not show in the zip file I sent to you.  I'm not sure why this is.  If you look at the screen shot about you will see
dataSource
delegate
ibCalendarDataSource
ibCalendarDelegate

All four of these were not shown in your tutorial and for some reason they are

[2018-06-08 22:52] patchthecode commented on #802
just checked out the zip file.

the project file is missing as well as the cocoapods.
Need the whole thing to see what went wrong.
The code looks ok.

[2018-06-08 22:53] patchthecode commented on #802
hope you didnt accidentally delete the proj file together with the Build folder 😅

[2018-06-09 00:53] RyanCallery commented on #802
Here they are.  I think this is the cocoapods file you are referring to.

[HelloCalendar.xcodeproj.zip](https://github.com/patchthecode/JTAppleCalendar/files/2086505/HelloCalendar.xcodeproj.zip)
[Pods.xcodeproj.zip](https://github.com/patchthecode/JTAppleCalendar/files/2086506/Pods.xcodeproj.zip)

Thanks again,
Ryan

[2018-06-10 07:37] coc commented on #517
@patchthecode: Thanks for this great lib

My app **AroundCal 2** using JTAppleCalendar can be pre-loaded now!

![image](https://user-images.githubusercontent.com/103925/41199389-5ed69f02-6c91-11e8-97d9-b90185e93c54.png)

[The ingenious calendar ](https://itunes.apple.com/us/app/aroundcal-2/id1362705475?mt=8)

[2018-06-11 05:33] patchthecode commented on #517
@coc
nice. but could you let me know what you mean by preloaded?

[2018-06-11 05:36] coc commented on #517
@patchthecode: sorry, I meant pre-ordered.

[2018-06-11 23:30] Smiller193 opened #803 "Further Customization"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using. 7.1.5
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

Well, it isn't that there is so much of a problem it is more of me wanting to add an additional layer of customization to my

[2018-06-11 23:40] Smiller193 commented on #803
Sorry mines currently looks like this
<img width="342" alt="screen shot 2018-06-11 at 7 38 25 pm" src="https://user-images.githubusercontent.com/16108750/41262473-085832b6-6daf-11e8-9a4b-0ad889d84be8.png">

It's cool but I don't really like it. I want the calendar take up maybe half the screen like in the pictures and maybe have another section for the information related to that date on the botto

[2018-06-12 00:34] jaybayley commented on #557
An alternative to @msencenb's solution is:
[code]
This worked better in my case as I use the `didSelectDate` delegate method to perform a segue and so don't have any need for `selectedDates`.

[2018-06-12 01:57] patchthecode commented on #803
maybe this example can help? https://github.com/patchthecode/WLAppleCalendar

[2018-06-12 01:59] patchthecode commented on #557
@jaybayley
this is how it is supposed to be done.
but the guys here seem to imply that it is not working.

A sample app was given, above with demonstrated the bug. I have not found a fix yet (sort of caught up between more than one projects)

[2018-06-12 06:00] garyhooper opened #804 "Question regarding calendar headers & vertical scrolling"
I want to build a vertical multi-month calendar. For each month, the header will contain the month/year on top, and the days of the week on bottom.

When scrolling, I want these headers to behave like a standard UITableView section header does while scrolling, i.e. the section header remains visible while any row (cell) in the section is visible.  In this way, the month name and days of the week w

[2018-06-12 08:20] Hamza123Imran opened #805 "Show calendar in a week mode"
Hi, how can we show the calendar in a week mode?

[2018-06-12 08:22] Hamza123Imran commented on #803
Hi, how can we show calendar in week mode? @Smiller193  @patchthecode

[2018-06-12 12:10] patchthecode commented on #803
@Hamza123Imran like this -> https://github.com/patchthecode/JTAppleCalendar/issues/581

[2018-06-12 12:10] patchthecode commented on #805
like this -> https://github.com/patchthecode/JTAppleCalendar/issues/581

[2018-06-12 12:11] patchthecode commented on #803
This example will help you -> https://github.com/patchthecode/WLAppleCalendar

[2018-06-12 12:26] #799 closed, assigned to nobody

[2018-06-12 12:30] patchthecode commented on #802
Hey. i got tied up. Jst getting back to this.
Is this still an issue? Can you just zip the project like normally?

one zip file with your project so that i can double click and unzip it?
I now have 3 separate zip files and when i unzip them, files etc are missing. Can you try unzipping the files you sent me and see if you can open them? because they are not for me.

[2018-06-12 12:31] patchthecode commented on #801
closing issue as original question answered.

[2018-06-12 12:31] #801 closed

[2018-06-12 12:32] patchthecode commented on #800
closing issue until user responds.

[2018-06-12 12:32] #800 closed

[2018-06-12 14:04] #804 closed

[2018-06-12 23:00] chamitha commented on #800
I doubt it would if the cell size is based on calculations instead of auto layout. I'll investigate this further when I start on accessibility.

[2018-06-12 23:41] RyanCallery commented on #802
No worries.  I am sure you have many better things to do than help me with my calendar problem.  Thanks for getting back.  It is still a problem.  I have tried various things but still no go.  I apologize about the zip.  This zip I have attached has all the files when I open it.  I hope it doesn't give you any problems.

[HelloCalendar_3.zip](https://github.com/patchthecode/JTAppleCalendar/files/2

[2018-06-13 00:48] patchthecode commented on #800
thanks. let me know.
will be interested in this as well

[2018-06-13 00:56] patchthecode commented on #802
your module was blank.
<img width="261" alt="screen shot 2018-06-12 at 5 55 43 pm" src="https://user-images.githubusercontent.com/2439146/41324552-ee0cda0e-6e69-11e8-99f1-7ba8b47a1096.png">

[2018-06-13 03:15] Smiller193 commented on #803
Thanks checking it out now

[2018-06-13 04:58] patchthecode commented on #803
awesome. closing this issue

[2018-06-13 04:58] #803 closed

[2018-06-13 04:58] RyanCallery commented on #802
Oh my god it is working.  I must have changed these things around one hundred times.  Thanks so much for your time.
Ryan

[2018-06-13 05:10] patchthecode commented on #802
sure thing.
have a good one 🍻

[2018-06-13 05:10] #802 closed

[2018-06-13 05:11] patchthecode commented on #719
I'll release new version soon.
But yea, master branch should be good.
There are minor bug fixes there.

[2018-06-13 05:12] patchthecode commented on #719
will close this issue now.
Added fixed on master branch now.
Let me know in case you see anything else.

[2018-06-13 05:48] Hamza123Imran commented on #581
How can we get the month name first three letter rather than full name of month?

[2018-06-13 05:52] patchthecode commented on #581
@Hamza123Imran
open an new issue with a screenshot of what you want. And i'll answer it there

[2018-06-13 06:01] Hamza123Imran commented on #581
okay

On 13 June 2018 at 10:53, JTAppleCalendar <notifications@github.com> wrote:

[2018-06-13 06:03] RyanCallery commented on #802
Thanks again for the help.  The calendar is loading but unfortunately it’s not scrolling.  Any idea why this may be?

Sent from my iPhone

[2018-06-13 06:10] Hamza123Imran opened #806 "Current date and first three letters of month name rather than full name"
I have bit customize the calendar and in a cell under the date label i have another label of month name. I'm passing the month name there but month name is appearing full. i just want to show first three letters of the month name. Another thing is that when the calendar loads it does not show the current date. How can we show current date? @patchthecode
My code is this,
[code]

[2018-06-13 06:11] Hamza123Imran commented on #581
checkout i have open new issue.

On 13 June 2018 at 11:01, Hamza Imran <hamzaraoimran@gmail.com> wrote:

[2018-06-13 06:27] patchthecode commented on #802
it wont scroll if you are only displaying one month.

[2018-06-13 06:27] PramodShukla10 opened #807 "how to show default start and end date of calendar don't want hard coded start and end date"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

[2018-06-13 06:30] kublaios commented on #517
[ActionSheetCalendarPicker](https://github.com/kublaios/ActionSheetCalendarPicker)

![Screenshot](https://cdn.pbrd.co/images/HpF7BIu.png)

This project demonstrates the usage of [LGAlertView](https://github.com/Friend-LGA/LGAlertView) and [JTAppleCalendar](https://github.com/patchthecode/JTAppleCalendar) in order to create a calendar date picker that is shown inside of an action sheet style modal.

[2018-06-13 06:39] mock123 commented on #719
I used the Master branch but there’s another bug like the layout messed up when I rotate the screen on the iPad.(the issue didn't happen on version 7.1.5 though). So I didn't use it for the release version. Are you already working on this as another issue/branch? @patchthecode

[2018-06-13 07:01] salvimayur89 opened #808 "Problem in updating cell on didSelect."
First of all thank a lot for great library. Im using latest version of pod on Xcode v9.4.
Ive implemented everything as you mentioned in your demo projects and tutorial. Everything is running fine except one thing. Whenever i'm clicking on particular date, then that date is not selected. If i click again on different date then previous date is selected not current one. Same problem in Month and Ye

[2018-06-13 13:05] patchthecode commented on #807
what is the **defaultStartDate** and **defaultEndDate**?

[2018-06-13 13:07] patchthecode commented on #808
did you implement the **didSelect** and **willSelect** function as shown in issue #553 ?

[2018-06-13 13:09] patchthecode commented on #719
Hey, we coders.
When you say layout messed up, then i need specifics.
Date misaligned? blank screen? maybe a screenshot?

The master branch will become the next released version so any bugs there i'll need to know so that i can fix it.

[2018-06-13 13:13] patchthecode commented on #517
@kublaios looks good. Airline app?

[2018-06-13 13:15] kublaios commented on #517
@patchthecode Thanks, yeah it will be an app for ticket sale.

[2018-06-13 13:18] patchthecode commented on #806
[code]

[2018-06-13 13:52] RyanCallery commented on #802
But I don't think I should be displaying just 1 month.  I wrote the code
exactly as you did in the tutorial.   Start date Jan 1, end date Dec 31 of
2017.

    func configureCalendar(_ calendar: JTAppleCalendarView) ->
ConfigurationParameters {

        formatter.dateFormat = "YYYY MM DD"

        formatter.timeZone = Calendar.current.timeZone

        formatter.locale = Calendar.current.locale

[2018-06-13 13:56] PramodShukla10 commented on #807
i want calendar like we can scroll  backward and forward direction  now i am using

    var endDate: Date!
    var startDate: Date = Date().getStart()
     let formatter = DateFormatter()
     formatter.dateFormat = "yyyy MM dd"
     endDate = Calendar.current.date(byAdding: .month, value: 12, to: startDate)!
     let parameters = ConfigurationParameters(startDate: startDate,endDate:
     endDate,

[2018-06-13 14:29] salvimayur89 commented on #808
Yes i have.  Have you tested this with latest Xcode ?

[2018-06-13 14:34] patchthecode commented on #808
not yet. will do so over the weekend. Has it been breaking since new XCode?

[2018-06-13 14:36] patchthecode commented on #802
is it possible can you zip your project and send?

[2018-06-13 14:48] RyanCallery commented on #802
Yes, of course.  Here it is.

Ryan

On Wed, Jun 13, 2018 at 10:36 AM, JTAppleCalendar <notifications@github.com>
wrote:

[2018-06-13 14:54] salvimayur89 commented on #808
I think its related new update only. Im using JTApple since last night only so no idea.

[2018-06-13 14:58] patchthecode commented on #802
didnt get it. sent to patchthecode@gmail.com ?

[2018-06-13 15:00] patchthecode commented on #808
hmm. re-read your problem. It doesnnt sound Xcode related.
got a sample project or github somewhere i can take a look at?

[2018-06-13 16:12] patchthecode commented on #802
put this in your `confogureCalendar` function

[code]

You will see that you are displaying only one month

[2018-06-13 16:13] patchthecode commented on #802
fix that and your problem is solved.

[2018-06-13 23:28] RyanCallery commented on #802
Thank you.  I see that I was not using the right syntax in the dateFormat.
It is now scrolling.

On Wed, Jun 13, 2018 at 12:13 PM, JTAppleCalendar <notifications@github.com>
wrote:

[2018-06-14 00:44] Hamza123Imran commented on #806
I'm selecting the date for example we say 14 June 2018 but when i print it, it shows 13 June 2018 in a console. How can we show the exact selected date? @patchthecode

[2018-06-14 03:20] seanrice commented on #523
Sub4 for Distance Runners
https://itunes.apple.com/US/app/id1395694368

[2018-06-14 04:30] patchthecode commented on #523
@seanrice awesome man. you did it :D

[2018-06-14 06:07] patchthecode commented on #806
youre experiencing this -> https://github.com/patchthecode/JTAppleCalendar/issues/252

Will close this issue as original issue is resolved.

[2018-06-14 06:07] #806 closed

[2018-06-14 20:00] mock123 commented on #719
Hey, I took screenshots, and cropped them @patchthecode

# From Portrait  to Landscape

### portrait(correct layout)
![portrait5](https://user-images.githubusercontent.com/36657040/41435015-76a33ee0-7058-11e8-8dd7-dedec68b825d.png)

### landscape(incorrect layout)
![landscape5](https://user-images.githubusercontent.com/36657040/41435004-7287742a-7058-11e8-9e64-052610ed5f04.png)

# From Landscape t

[2018-06-14 21:23] seanrice commented on #523
Yea !!! and I put a plug in the credits for JTAC. Don’t expect it to sell well, being a niche product, but it’s useful and reliable and I will keep improving. =) Thanks JayT

[2018-06-15 08:06] PramodShukla10 opened #809 "is there any possibility with that library to set default calendar start and end i.e i don't want any limitations"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

[2018-06-15 12:19] patchthecode commented on #809
What is default start and end?
Do you mean you want it to forever scroll?

If so, then no. I think having one's calendar scroll 20 years back and 20 years forward is good enough. Your app wont be around long enough to matter at that point.

But if you erally do want forever scrolling, yo can update the start/end date once user gets close to the end. You'll have to manage this your self though, bec

[2018-06-16 07:35] nixnoughtnothing commented on #719
Sorry I didn't describe the issue correctly about the last screenshot.
Actually, the height for calendar view is correct but the height for each cell is wrong, and missing some days.

[2018-06-16 21:28] valentinkukjans opened #810 "How to scroll only one week?!"
How to scroll only one week? if I have one row? how to set boundaries? So when I scroll it's match the days on top of my calendar.

Thanks a lot in advance, Valentins

[2018-06-17 02:57] patchthecode commented on #810
not sure what you mean.
Are you talking about paging?

[2018-06-17 03:31] valentinkukjans commented on #810
![screen shot 2018-06-16 at 8 29 37 pm](https://user-images.githubusercontent.com/24559524/41504451-2446d1aa-71a4-11e8-81af-43023289ed0c.png)
![screen shot 2018-06-16 at 8 29 24 pm](https://user-images.githubusercontent.com/24559524/41504452-245e604a-71a4-11e8-8b81-70af7e88945b.png)

[2018-06-17 03:33] valentinkukjans commented on #810
I wanna achieve same scrolling like calendar app does , scrolls week by week. How to set those boundaries? Thanks

[2018-06-17 05:57] patchthecode commented on #810
simply setup a single row calendar -> https://github.com/patchthecode/JTAppleCalendar/issues/581
is this what you mean?

[2018-06-17 09:51] bradmuzza commented on #649
I have the same issue

[2018-06-17 14:38] patchthecode commented on #649
there's a sample project connected to the github. Download it and see what went wrong in your code

[2018-06-17 20:03] valentinkukjans commented on #810
no, in calendar app when you scroll, the header stays (days on top). Can you please check calendar app, and see behavior of it. Thanks for your help.

[2018-06-18 10:28] daviddauv commented on #808
Make sure you selected "didSelectDate" and not "didDeselectDate" which would cause your issue.

[2018-06-18 14:10] patchthecode commented on #810
I still do not understand what you mean.

What does this mean? The calendar already scrolls by week/month.
Are you saying you want to implement a header? Please be **extremely** specific. Sometimes an idea in your head may not mean the same in mine.

[2018-06-18 16:45] valentinkukjans commented on #810
calendarView.scrollingMode = .stopAtEachSection.

one line of code solve my problem:) I didn't know about scroll mode. Thanks you for great lib, and been so responsive. 👍

[2018-06-18 17:48] patchthecode commented on #810
sure thing.
but this is weird. the default should be -> calendarView.scrollingMode = .stopAtEachFrame ( i think)
but its ok. Glad it is resolved.

[2018-06-18 17:48] #810 closed

[2018-06-20 16:33] Varmoes commented on #517
@kublaios It looks stunning!

[2018-06-20 17:30] valentinkukjans opened #811 "How many section is generated in one row calendar?"
HI,

Thanks again for great lib. I wanna know how many section,  and how many rows in each section  is generated exactly  in one row calendar?
also I have  generateInDates: .forFirstMonthOnly.  Why I'm asking this question, because when I try to print it out , looks like its printing if I remember correct 53 sections, and some sections only contains 2 rows, some of them 7 rows.

Thanks in advance,

[2018-06-20 18:00] patchthecode commented on #811
hmm.. maybe im not clear on what youre trying to do.
But here is the setup for most single row calendars -> https://github.com/patchthecode/JTAppleCalendar/issues/581

Does this help?

[2018-06-20 18:01] patchthecode commented on #517
@kublaios odd. i didnt see your response only until now. Good calendar man.

[2018-06-23 12:20] micheltlutz opened #812 "Problem navigation using swipe with ViewCode"
I created a test using storyboard and everything ok with the navigation using swipe, when I moved to viewcode I had a problem with this navigation. I did not change any settings just do not use storyboard. When I use calendarView.scrollToSegment ... on 2 buttons it works perfectly. Does anyone know what can it be?

**PS: de Calendar inside de ScrollView**

Im using pod '**JTAppleCalendar', '7.1.5'

[2018-06-23 14:28] micheltlutz commented on #812
calendarView.scrollingMode = .stopAtEachSection
Resolve my problem Thanks.

[2018-06-23 14:28] #812 closed

[2018-06-23 16:42] t4i5m6 opened #813 "how to iterate all customcell in current month"
hi,
i use version 7.0
thanks for your cool library, it makes me do my final project in ios class more convenient!
but i have a question now
i want to iterate all customcell in current month to  check every  date has event in coredata should not hide eventview i created
when i use func calendar(cellforitemat)  it cant work because function calendar(didscrolltodate) do slower than  calendar(cellfori

[2018-06-23 20:47] patchthecode commented on #813
Hmm. can you explain a bit more what you are trying to do?
When your calendar loads, you want to show events on the calendar (form core data) ?

[2018-06-24 01:28] t4i5m6 commented on #813
if i select a date , then event will diplay under the calendar
now i want to  highlight the date has event
so i add a view in customcell and it is hidden by default
now i want to make cell has event  highlighted when calendr is loaded(or scroll)
so i want to iterate the custom cell in current month and check if it's date has event
but i dont know how to iterate

[2018-06-24 01:53] patchthecode commented on #813
message me here if youre online -> https://gitter.im/patchthecode/JTAppleCalendar

you do not have to iterate.
This lib works the same way as a UITableView or a UICOllectionView.
Do you have a datasource for the events?
You can create a Dictionary datasource. I can have the date as the key and the event as the data.
Then in `cellForItem` functioin, you can simply pull out the data for the appropri

[2018-06-24 03:57] t4i5m6 commented on #813
After watching example and do it, it works!
Thanks for your patience to reply
Have a nice day!

[2018-06-24 04:03] patchthecode commented on #813
have a good one.

[2018-06-24 04:03] #813 closed

[2018-06-25 09:07] Smiller193 commented on #517
Just wanted to thank you for creating this library and helping me create a very nice and efficient custom camera for this event finding app
<img width="362" alt="screen shot 2018-06-25 at 5 03 56 am" src="https://user-images.githubusercontent.com/16108750/41841167-9684f53e-7835-11e8-8fa4-05de29764364.png">

[2018-06-25 09:47] Hamza123Imran opened #814 "Crash on selecting date in JTAppleCalendar"
Hi, i have used ur code to show calendar in week view. Now when first time i select the date it shows fine but when i select another date from another month from calendar than it crashes the app on didselect delegate method. Thats my code in delegates method,
[code]

This is an error shows on crash
`Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value`
How can i resolve

[2018-06-25 09:51] tripathishivam35 opened #815 "Spacing between Alternate cell items in single row calender."
Version Using : 7.1.5
![screen shot 2018-06-25 at 3 12 47 pm](https://user-images.githubusercontent.com/13601158/41843119-4baeab72-788a-11e8-8841-ed82b3de4228.png)

I had Implemented single row calendar using this -[https://github.com/patchthecode/JTAppleCalendar/issues/581](url)

Inside of this some space is appearing between cell items. I already added this -
[code]
In storyboard there is no spa

[2018-06-25 12:16] dbyst opened #816 "Do not display rows that out of start - end date"
Hi. I'm using version 7.1.5.

Is that possible to configure calendar to not display rows that out of start - end date ?
For example:
startDate = "2018-04-25"
endDate = "2018-07-25"

I can see all month dates:

![screen shot 2018-06-25 at 3 17 00 pm](https://user-images.githubusercontent.com/5080130/41849770-d627043e-788a-11e8-938d-abd5b276e55f.png)

But I'd like to see something like this:

<img w

[2018-06-25 13:08] patchthecode commented on #814
[code]

This is an optional value.
Meaning it can be nil.
You cannot force unwrap a nillable value, because if you unwrap it while nil, it will crash.

[2018-06-25 13:13] patchthecode commented on #816
Not possible at the moment.
I have a long due update for that coming. But been way too busy to implement it.

[2018-06-25 13:17] patchthecode commented on #807
I missed your response here.
You should be able to put a non static start and end date.

The calendar will not scroll if your startDate == your end date or if your start date < than your end date.
Can you print the start and end date on terminal?

[2018-06-25 13:20] patchthecode commented on #815
I do not know what your design should look like.
So, showing me that image does not help me much.

You need to show me the errored image, and then show me what the correct image should look like. Only then i can tell the difference. The image you posted looks ok to me :/

[2018-06-25 13:21] patchthecode commented on #517
@Smiller193 inspiration -> https://www.uplabs.com/search?q=calendar

[2018-06-25 13:22] patchthecode commented on #811
closing until user responds

[2018-06-25 13:22] #811 closed

[2018-06-25 13:23] patchthecode commented on #809
closing until user responds.

[2018-06-25 13:23] #809 closed

[2018-06-25 14:51] dbyst commented on #816
Ok, thanks for answer

[2018-06-25 16:11] patchthecode commented on #814
It should be nil if no value is selected? No.
If that were true then i would have made that value non-optional.

I made it option for a reason. It _can_ be nil even if you have it selected.
This happens in cases when some cell it is referencing is _off_ screen.

Since that is an optional value you need to check the value.
You can use *guard-let* or *if-let* statements.

[2018-06-26 06:02] onvika commented on #58
Hi, I got this error too.
First, I followed the instructions and I thought it was fixed
this is the code
import UIKit
import JTAppleCalendar

class CalendarioViewController: UIViewController
{

    var calendarioView: UICollectionView!

    override func viewDidLoad() {
        super.viewDidLoad()

        // Do any additional setup after loading the view.

    }

    override func didReceiveMemor

[2018-06-26 06:34] mohammad19991 commented on #173
How can use the `ReadingOrientation` it's not in `JTAppleCalendarView`.
I installed 'JTAppleCalendar', '~> 7.1' via Cocoapods.

[2018-06-26 07:20] tripathishivam35 commented on #815
@patchthecode  **Issue I am facing is only this that There is white space of  between cell items.**
In My code or storyboard There is no space kept between cell items and i kept these to zero.Even then this white space is appearing between cells.How to remove this space in order to maintain uniform color?

[code]
Note:
I added the point of Design only because i can't change the background color of

[2018-06-26 16:22] ahmed-khalil opened #818 "dateBelongsTo is always set to .thisMonth after setting hasStrictBoundaries to false"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using. -> 7.1.5
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5 -> YES
3. PROVIDE ENOUGH INFORMATION SO I CAN RECREATE THE PROBLEM.

In order to have a smooth date range selection, I removed the section headers and set the hasStrictBoundaries to fa

[2018-06-26 19:40] patchthecode commented on #173
@mohammad19991 calendarView.semanticContentAttribute ?

I think that is the name of the variable for UICollectionsViews

[2018-06-26 19:42] patchthecode commented on #58
Your very first error says

**Unknown class JTAppleCalendarView in Interface Builder file.**
This means something is wrong there. Make sure your calendar instance on story board has these 2 values set correctly

<img width="319" alt="screen shot 2018-06-26 at 12 41 11 pm" src="https://user-images.githubusercontent.com/2439146/41935392-65b8e9ec-793e-11e8-9875-4d2684b2adb0.png">

[2018-06-26 19:52] patchthecode commented on #818
1. for range selection
[code]

Also another things is needed, can you paste me both your `cellForItem` function and your `willDisplayCell` function?

2.

This is expected. `dateBelongsTo` lets the developer know which month the date belongs to. Since you removed `outDates` and `inDates` (except for the first month) then all other dates visible will belong to the `.thisMonth`.

Can you be a little

[2018-06-26 19:58] patchthecode commented on #815
I still do not know what white space you mean.
Do you mean this?

<img width="457" alt="screen shot 2018-06-26 at 12 52 05 pm" src="https://user-images.githubusercontent.com/2439146/41935874-25a85a98-7940-11e8-8d31-7eaff1a0a524.png">

If this is what youre referring then this is not a library problem. It is a problem with UICollectionView.
There are many questions of stack overflow about it.

The

[2018-06-27 05:14] mohammad19991 commented on #173
yea I ended up using `calendarView.semanticContentAttribute`, Thanks.

[2018-06-27 07:05] ahmed-khalil commented on #818
The cellForItem:

`if let cell = calendar.dequeueReusableJTAppleCell(withReuseIdentifier: "CalendarDayCell", for: indexPath) as? CalendarDayCell {

            cell.set(cellState: cellState)

            cell.layoutIfNeeded()

            return cell
        }

        return JTAppleCell()`

The willDisplayCell:
`self.set(cell: cell, cellState: cellState)

        cell.layoutIfNeeded()`

set(cell:

[2018-06-27 08:30] tripathishivam35 commented on #815
@patchthecode
Thanks Man, I mean the same.
Thanks for pointing out, I was not aware about this thing.

[2018-06-27 08:30] #815 closed

[2018-06-27 10:01] ahmed-khalil commented on #440
Would be possible to have the same location for the first day of the month however without the indates? As if the indates are hidden?

[2018-06-27 10:12] patchthecode commented on #440
@ahmed-khalil could you rephrase that? I still do not understand the question. thanks

[2018-06-28 12:13] axita27 commented on #1
hey.. I want select dates  when calendar is load ...n I used selectdates() bt last date will be selected ...I used for loop then all  dates are selected....but problem is when I scrolled then all selected dates are gone

[2018-06-28 14:10] patchthecode commented on #1
@axita27 what code did you use to select the dates?

[2018-06-28 21:19] mecid opened #819 "Content offset drops on Voice Over focus."
I am using one row horizontal layout for calendar. When Voice Over focused on calendar view it drops content offset to start of month, but i am showing current week.

[2018-06-29 07:58] axita27 commented on #1
func setupViewsOfCalendar(from visibleDates: DateSegmentInfo){
        guard let date = visibleDates.monthDates.first?.date else {return}
        Formatter.dateFormat = "MMM yyyy"
        self.MonthLbl.text = Formatter.string(from: date)
        for i in self.arr{
            self.calendarView.selectDates([i])
        }
        self.ShowDateTime?.text = ""
    }

[2018-06-29 11:08] patchthecode commented on #1
that is not how to select multiple dates.
This is how it is done
[code]

[2018-06-29 11:13] axita27 commented on #1
yes I will try this....bt when I scrolled one of selected date is unselect

[2018-06-29 11:45] patchthecode commented on #1
@axita27 I do not understand what you area asking.

[2018-06-29 11:51] axita27 commented on #1
ohhh....I just want to select my array dates....n not select other dates...

[2018-06-29 12:03] patchthecode commented on #1
[code]

Is this something you want? or is this something you do not want?

[2018-06-29 12:14] axita27 commented on #1
yes I don't want  when I scrolled multiple time current month to other month then one of my array date unselected automatically

[2018-06-29 12:17] patchthecode commented on #1
@axita27 can you join me here? https://gitter.im/patchthecode/JTAppleCalendar

[2018-06-29 12:21] axita27 commented on #1
yes

[2018-06-29 13:11] blinkmeoff opened #820 "MISSING DAYS IN YOUR DEMO"
Hi, I was using the latest version, and had problem with days, sometimes there are 1 week missing...
I'm trying to implement 1 row days, which are scrolled horizontally, then I tested the same thing in your demo project, and here you go, take a look at days

![simulator screen shot - iphone 8 plus - 2018-06-29 at 16 09 06](https://user-images.githubusercontent.com/15688672/42094020-0e2f280a-7bb7-1

[2018-06-29 13:12] blinkmeoff commented on #820
Just select 1row mode, and try to scroll throw dates. You will notice, that in some months days are missing

[2018-06-29 13:18] patchthecode commented on #820
Days are not missing. What you are seeing are outdates.
If you want the 1row calendar settings i think you need, its located here -> https://github.com/patchthecode/JTAppleCalendar/issues/581

[2018-06-29 13:18] #820 closed

[2018-06-29 13:21] patchthecode commented on #820
[code]

therefore,

under **PRE* select the button called **first**.
under **POST** select the button called **OFF**

[2018-06-29 13:22] patchthecode commented on #819
unclear on what this means.
you say when you tap a date it immediately scrolls to the first date instead?

[2018-06-29 13:29] blinkmeoff opened #821 "SCROLL TO, NOT WORKING PROPERLY"
Another question, default behavior is ok, looks like that with selected current date.
![simulator screen shot - iphone x - 2018-06-29 at 16 26 04](https://user-images.githubusercontent.com/15688672/42094742-6484b3b2-7bb9-11e8-9ed9-126d025b0fc7.png)

But, when I open controller for the first time, and I call this methods:
[code]

it looks like that, how to fix scrolling offset issue, so the scrollT

[2018-06-29 13:34] blinkmeoff commented on #821
Just point me, if I'm saying something wrong and this issue has nothing with the repo

[2018-06-29 13:46] patchthecode commented on #821
did you build your calendar with code? or with storyboard.
If you built it with code, then do not forget

[code]

or which ever one is suitable for you.

[2018-06-29 13:46] #821 closed

[2018-07-02 02:47] PrincessKimchi commented on #553
Help please I don't really understand.
![screen shot 2018-07-01 at 7 47 02 pm](https://user-images.githubusercontent.com/40729751/42142993-965dd8aa-7d67-11e8-9df5-97e43afd1c18.png)

[2018-07-02 06:14] patchthecode commented on #553
@PrincessKimchi theres a sample project attached to this repository.
check it out for an eample

[2018-07-02 12:50] muthukrishnanOCS commented on #787
Hi @nurkhatp , can you share this sample source? or please explain how to enable the range selection in this calendaerview

[2018-07-04 07:32] muthukrishnanOCS commented on #787
@patchthecode how to remove 6th row?
![screenshot](https://user-images.githubusercontent.com/5507534/42263028-8585ec0a-7f8a-11e8-9b0c-62175bef9fb0.jpeg)

[2018-07-04 09:46] patchthecode commented on #787
@muthukrishnanOCS
hi, If you are asking questions that are unrelated to this main issue, then you'll new to create a new issue. In answer to your question however -> https://patchthecode.github.io/CalendarLayout/

[2018-07-04 12:23] patchthecode commented on #819
does this also happen with master branch code? ->https://github.com/patchthecode/JTAppleCalendar/wiki/Common-Questions

[2018-07-04 22:00] gabrielcandiag opened #822 "didSelectDate not getting called"
**Version 7.1.5**

Hi,

I was using the library without problems, and the last build that I made the didSelectDate method is not getting called. I've being using the same version of the library since the beginning.

I'm using this configuration for the Delegate and the Datasource, I'm setting those up programatically.

If I put a breakpoint on the UICollectionViewDelegates cellForItem is getting c

[2018-07-05 03:39] gabrielcandiag commented on #822
It's hard for me to provide a sample app, maybe you can give me some pointers to where the problem could be. I found very weird that the method

[code]
And also `shouldSelectItemAt` it's not getting called.

[2018-07-05 05:12] patchthecode commented on #822
I cannot tell from the code you provided.
One thing i would say is, if you rebuild calendar again from scratch, you can usually tell where the problem is.

Just copy your code and create a simple calendar (an empty one), and then check the didSelect is being called. Then slowly re-add your other codes until you see it breaking. I am suggesting this route because visually, there doesnt seem to be a

[2018-07-06 14:49] patchthecode commented on #818
FIY [Old version 6.0 documentation for range selection here](https://patchthecode.github.io/RangeSelection/)

[2018-07-06 17:11] zachcrystal opened #823 "The Behaviour Of the UICollectionViewFlowLayout is not defined because..."
Hey there,

I'm creating the calendar and cells programatically and I am getting this error:

[code]

My calendar initialization is as follows:
[code]
My cells don't have any size inits within the Swift file.
I've tried a bunch of things like changing the cellSize property on calendar but nothing seems to be working...

Any ideas?

Thanks,
Zach

[2018-07-06 19:00] cluelessoodles opened #824 "CollectionView shows up as empty"
I tried to check if the common problems in the solved issues section were present before posting. I have the correct module, I have set label and container view constraints, I have set the ibCalendarDateSource/Delegate outlets, set the class of my storyboard scene = file class of CalendarViewController, but my collection is still showing up as empty

I'm hoping you can help me figure out why.

Her

[2018-07-06 22:29] patchthecode commented on #823
The width/height of the cells depends on the width/height of the calendarView.
Have you properly setup the constraints for the JTAppleCalendarView so that it has a valid width/height?

[2018-07-06 22:30] mecid commented on #819
@patchthecode yes, I'm on master branch.

[2018-07-06 22:32] patchthecode commented on #819
In that case hmm... Is it possible you have a barebones app that replicates this?
I have never used this library with voice over 😅 as it wasnt on my todo list ever.
If i have some sample to work with i can have a look.

[2018-07-06 23:12] zachcrystal commented on #823
Yeah, my constraints are:
[code]
Tried debugging for a while now... nothing is working

[2018-07-07 01:08] patchthecode commented on #823
@zachcrystal got a sample app with the problem on github?

[2018-07-07 02:43] zachcrystal commented on #823
@patchthecode yeah, I would really appreciate that! :)  i'll recreate it in a sample app and add it to github tomorrow if that's cool

[2018-07-09 02:16] jhoanarango commented on #517
<img width="401" alt="screen shot 2018-07-08 at 10 14 43 pm" src="https://user-images.githubusercontent.com/14069813/42427420-6a3e197a-82fc-11e8-89ea-3af4c621b75b.png">
<img width="411" alt="screen shot 2018-07-08 at 10 13 37 pm" src="https://user-images.githubusercontent.com/14069813/42427421-6a4c7204-82fc-11e8-8d03-6d48a65dff1a.png">

Here are two screenshots, one displaying what a regular sched

[2018-07-09 11:29] patchthecode commented on #517
@jhoanarango your calendars look good. Glad to see youre still around and using it :)

[2018-07-09 13:32] zachcrystal commented on #823
@patchthecode I put up a sample app! https://github.com/zachcrystal/SampleCalendar
Looking forward to your response :)

[2018-07-09 17:21] patchthecode commented on #823
i put a breakpoint here and printed the following logs ->
<img width="1600" alt="screen shot 2018-07-09 at 10 16 57 am" src="https://user-images.githubusercontent.com/2439146/42465591-466693be-8361-11e8-8f31-8ba700a1a624.png">

[code]

Here is the main part

But you can see in the screenshot that JTAppleCalendar's instance = **0x7fb10581e200**
and its flowlayout instance = **0x7fb104e0dd60**

So t

[2018-07-09 19:04] cluelessoodles commented on #824
hey patchthecode, is my post showing up? This is my first time posting in github issues and I'm worried I didn't post this right or its showing up as private.

[2018-07-09 22:29] patchthecode commented on #824
ah sorry.
i mentally responded to you 😂
Will take a look after work. Sorry about that.

[2018-07-10 02:30] patchthecode commented on #824
As soon as i ran your app, the firsst error message i sae on the console was
[code]

[2018-07-11 10:26] blinkmeoff opened #825 "By week, by month"
Do we have an option, to set calendar by week, by month?
We can scroll April to May and etc... without showing the dates and days, only monthes
Horizontal scroll

[2018-07-11 13:34] patchthecode commented on #825
A screen shot can help me understand what you mean.

But if you want to put the calendar in week mode --> https://github.com/patchthecode/JTAppleCalendar/issues/581

[2018-07-11 13:35] patchthecode commented on #824
closing this issue.

[2018-07-11 13:35] #824 closed

[2018-07-11 13:37] patchthecode commented on #823
I think the error message tells you what is wrong?

Your collectionview's cell should be less. But it is more.
Try print statements in your code to help.
Will close this issue.

[2018-07-11 13:37] #823 closed

[2018-07-11 13:38] patchthecode commented on #822
closing until user responds

[2018-07-11 13:38] #822 closed

[2018-07-11 13:38] patchthecode commented on #818
closing until user responds.

[2018-07-11 13:38] #818 closed

[2018-07-11 13:38] #816 closed

[2018-07-11 13:39] #814 closed

[2018-07-11 20:27] aring12 opened #826 "Deselect selected cell upon scroll?"
I am using the most current version of JTAppleCalendar.  How can I deselect the currently selected cell whenever the user scrolls?  Thanks for the help!

[2018-07-11 21:13] cluelessoodles commented on #824
Thanks. I looked at the Build Phase - Compile sources and I see all of my .swift files including CalendarViewController.swift ... but that message still shows up... was that not the issue?

[2018-07-11 23:00] patchthecode commented on #824
np. have a good one.

[2018-07-12 08:50] #808 closed

[2018-07-13 11:47] tripathishivam35 opened #827 "Single Row Calender Not Starting from Todays Date."
My Code is like as follows-
[code]

I am setting Todays date as starting date but calender is starting from 1st of this month, like this-
![screen shot 2018-07-13 at 5 04 21 pm](https://user-images.githubusercontent.com/13601158/42689659-df3f2974-86be-11e8-9f66-d140619c3998.png)

If i use - calender.scrollTodate() , I can move to current date.
But I want to start the calender from Todays date only

[2018-07-13 14:16] patchthecode commented on #827
But I want to start the calender from Todays date only. Is it can be done without using scrollToDate()?

I do not understand this.
If `scrollToDate` gives you what you want, then why not use it?

[2018-07-13 16:57] patchthecode commented on #110
[test.zip](https://github.com/patchthecode/JTAppleCalendar/files/2193541/test.zip)

[2018-07-14 15:06] SmritiSYadav opened #828 "Number of rows support is only till 3. I want 5 rows for that I need to make change in pods. But this is getting overridden after pod update."
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

[2018-07-14 15:18] patchthecode commented on #828
can you try master branch?

[2018-07-14 22:22] #828 closed

[2018-07-15 08:05] tripathishivam35 commented on #827
@patchthecode If i use scrollToDate() then user can scroll to left and able to see previous dates. Due to this I want to show/Start calender from todays date.

[2018-07-15 15:14] patchthecode commented on #827
Currently this library always start from the start of the month.
The ability to start it off from any date has been requested from a number of developers and is on my bucket list. It just I have not had much time to work on it lately.

In the mean time, can setting up a boundary date work for you? -> https://github.com/patchthecode/JTAppleCalendar/issues/365

[2018-07-16 09:53] tripathishivam35 commented on #827
I am Ok with using scrollToDate() as of now.
Thanks for your response.

[2018-07-16 09:53] #827 closed

[2018-07-16 10:44] HenriLangenhoven opened #829 "Is it possible to reverse/invert the vertical calendar?"
Is it possible to reverse/invert the order of the months in the calendar so the most recent month is displayed at the top of the collection view, followed by the second-most recent?

so:
Jul
Jun
May
etc.

instead of:
May
Jun
Jul
etc.

[2018-07-16 11:01] patchthecode commented on #829
something like [this](https://blog.kulman.sk/filling-uitableview-from-bottom-top/) ?

[2018-07-16 13:11] HenriLangenhoven commented on #829
@patchthecode That seems super hacky. I was hoping there would be a way to just invert the order of the dates.

[2018-07-16 21:23] patchthecode commented on #829
unfortunately this library, does not provide this out of the box.
Maybe if someone does a pull request, then i'll accept it.

[2018-07-18 13:47] agordeev opened #830 "The calendar switches back to future when scrolling to past"
Reproducible on example project when `numberOfRows` = 1. Here's video demostrating the issue: https://drive.google.com/open?id=1gkc-8yoHXQiTQVybh1yHO7bFL6aGj2Xw

How to reproduce:

1. Launch the example project.
2. Navigate to Calendar Layout demonstrations.
3. Switch to 1-row representation.
4. Scroll to today's date.
5. Start scrolling back. Notice after June 25 it shows you a week starting from

[2018-07-19 14:17] tripathishivam35 opened #831 "Selected cells not appearing properly after scrolling."
I am facing a issue which is illustrated from below provided screenshots:
Image 1: Single Cell is selected from CollectionView -
![img_7157](https://user-images.githubusercontent.com/13601158/42947557-31346372-8b8b-11e8-866b-57377c63d6d8.png)

Image 2: After scrolling few cells top to bottom and coming back again to Top. Selected Cell state is like this now without any further selections.
![img_71

[2018-07-19 15:52] ThasneemH opened #832 "When vertical scrolling and outdates set to endofGrid, section header is duplicated for every month"
Hi,

I am using the version 7.1.5 . When section headers are enabled in the following scenario, the headers are shown twice for  the same month starting from the second month onwards.

1)  Vertical scrolling enabled
2) Indates : for All months
3) OutDates : till end of grid

Is this a  valid issue or is there any other configuration that needs to be done to get this to work correctly.

Thanks for

[2018-07-19 20:20] patchthecode commented on #831
cell selection state is always maintained.
Is it possible you can just pull out the calendar code, create a sample project which replicates this?

I would be very surprised if this was a library bug, because of all the testing that has occurred in that potion of code.

[2018-07-19 20:22] patchthecode commented on #830
do you properly have your 1-row calendar setup like [this](https://github.com/patchthecode/JTAppleCalendar/issues/581)?

I think what you are seeing are out/indates

[2018-07-19 20:23] patchthecode commented on #829
Will close this issue as I have answered the question.

[2018-07-19 20:23] #829 closed

[2018-07-20 09:31] patchthecode commented on #830
closing issue then if resolved.
cheers 🍻

[2018-07-20 09:31] #830 closed

[2018-07-20 09:43] patchthecode commented on #832
Number of rows 4 and 5 and only supported on master branch because it is experimental.
The official released version only has 1, 2, 3, 6.

What you have just found is a bug on master branch.
However, do you really need 5 rows?

Because even if i do fix this, you will see this weird look occurring again if you have a calendar with 6 valid rows. What will happen is, it will set 5 rows to one header,

[2018-07-20 09:43] patchthecode commented on #832
let me know if this fixed your issue

[2018-07-20 09:45] patchthecode commented on #826
Sorry for the late reply

[code]

[2018-07-20 09:45] #826 closed

[2018-07-20 09:48] patchthecode commented on #744
Sorry for the extremely late reply, but we do not have a willScrollToDateSegmentWith function.

But since this library is a UICollectionView >> UIScrollView, you have access to the `scrolViewDidScroll functions` and also the `willEndDragging` function.

I do not have a built in way to do this right now, but i will in the future.
In the mean time you'd have to go the hard way and calculate it your

[2018-07-20 09:49] patchthecode commented on #744
closing as this is a duplicate for this -> https://github.com/patchthecode/JTAppleCalendar/issues/706

[2018-07-20 09:49] #744 closed

[2018-07-20 11:05] kreeos opened #833 "Issue with protocol"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

1. 7.1.5
2. Yes
3. I am following the tutorial and it gives me Type 'ViewController' does not conform to protocol "JTAppleCalendarV

[2018-07-20 11:43] agordeev commented on #830
@patchthecode  Thanks, that helped! You're the best, as always

[2018-07-20 12:30] kreeos opened #834 "Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

1. 7.1.5
2. Yes
3.Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value

i am on the part where i am set

[2018-07-20 12:34] #834 closed

[2018-07-20 12:35] kreeos commented on #834
i am closing all the issues as I solve them. so if it is closed please disregard

[2018-07-20 13:09] patchthecode commented on #834
understood.

[2018-07-20 14:14] boywithaxe opened #835 "50+ compiler errors since update to 7.1.5"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using. - 7.1.5
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5 - Yes
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.version 7.1

Since updating from 7.1 this morning I've begun getting a big number of compiler errors.

The framework wa

[2018-07-20 20:03] patchthecode commented on #835
I do not think this is library related.
try doing a clean install?

Not sure about this

[2018-07-20 20:08] boywithaxe commented on #835
I'll try that and get back to you. Thanks for the suggestions.

PS, love the library. It's a great piece of work!

[2018-07-20 22:10] patchthecode commented on #835
thanks :)
Let em know if you encounter anything odd.

[2018-07-21 01:03] nickdnk commented on #553
willDisplayCell does not get called for me. Delegate and data source are both connected, and the dequeue-function works and is called as it should. willDisplayCell is simply ignored. Any idea why?

[2018-07-21 04:57] ThasneemH commented on #832
Thanks very much for your reply. This solution works for us. Closing the issue.

[2018-07-21 04:57] #832 closed

[2018-07-21 07:57] Qwerp-Derp commented on #470
@patchthecode Any updates on the infinite scrolling?

[2018-07-21 10:21] patchthecode opened #836 "Scroll to date issue [Investigating]"
Hi, I'm trying to scroll to the current month by calling

calendarView.scrollToDate(dayOneOfCurrentMonth)

but it's scrolling mid-way through a month before. I tried playing with the scrolling modes and different offsets but to no luck.

Here's my calendar setup in viewDidLoad for reference:
[code]

I am using version 7.1.5

[2018-07-21 18:43] boywithaxe commented on #835
A full reinstall of all the pods solved the problem. Apologies for raising a non-issue

[2018-07-21 18:43] #835 closed

[2018-07-21 20:56] patchthecode commented on #835
its cool. glad it was resolved.

[2018-07-22 08:13] coc commented on #760
Hi, I want ask again for this feature.

Thanks

[2018-07-22 14:47] patchthecode commented on #110
![img_48792](https://user-images.githubusercontent.com/2439146/43046823-789fb758-8d83-11e8-85c5-4502fc071b25.jpg)

[2018-07-23 01:17] seongminchoob opened #837 "Changing height of calendarview based on rowHeight"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

<img width="336" alt="screen shot 2018-07-23 at 10 08 32 am" src="https://user-images.githubusercontent.com/35505959/43052402-955b3

[2018-07-24 08:11] patchthecode commented on #837
have you checked this example? -> https://github.com/patchthecode/WLAppleCalendar

[2018-07-24 08:21] tripathishivam35 commented on #831
Hi @patchthecode

**I created a sample project** in which I integrated JTAppleCalender and with the same static flow of CollectionView inside UITableView. **I am able produce the same issue on this sample project.**

Issue U can reproduce is - Select any CalenderCell and scroll the tableView. In Few other Calender Cells at bottom Some Cells appears to be selected though user didn't selected them.

[2018-07-24 08:49] patchthecode commented on #831
you are not configuring your cell in your `cellForItemAt` function.
Sine youre _are_ configuring your cells properly in your `willDisplayCell` function then you can use it to configure your cell.

re-write your `cellForItem` function to the following
[code]

[2018-07-24 08:49] #831 closed

[2018-07-24 09:21] tripathishivam35 commented on #831
Thanks for your Reply.
Your suggestion resolves the issue which is related with Horizontal scrolling Of calender.

But one Issue is there too which is mentioned above related with Scrolling TableView-

Issue U can reproduce is - Select any CalenderCell and scroll the tableView. In Few other Calender Cells at bottom Some Cells appears to be selected though user didn't selected them.

Could u assist

[2018-07-24 10:41] DoTooapp opened #838 "Avoid jumping of the calendar when resized"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER 7.1.5

Great calendar! love it!

How can I avoid the collectionview to scroll when I resize the collectionview?
See the screenshot's to see what I'm talking about.
<img width=350 src="https://user-images.githubusercontent.com/36662535/43133297-a2f64f14-8f3e-11e8-9fea-8c06d0607823.jpeg">

<img widt

[2018-07-24 12:37] patchthecode commented on #838
Have you looked at this example?
https://github.com/patchthecode/WLAppleCalendar

[2018-07-24 12:42] patchthecode commented on #831
Thats because youre puttine `JTApplecalendarView` inside of a `UITableView` cell.

UItableview cells are being resused. Therefore, the calendar inside of the cell is being reused.
You'll have to reset the UITableview cell like you normally would with any other data.

[2018-07-27 01:12] Zamy97 commented on #718
<img width="953" alt="screen shot 2018-07-26 at 6 07 33 pm" src="https://user-images.githubusercontent.com/29262149/43296198-d0a4dfd6-90fe-11e8-93b2-dc84352556c7.png">
 @patchthecode

I have the same issue!  Since they aren't showing you the code I guess I'll just go ahead and show you the error! so this picture has the Xcode suggestion included! the error does go away but the project doesn't comp

[2018-07-30 06:38] blueco1 opened #839 "this class is not key value coding-compliant for the key ibCalendarDataSource.'"
Hi i get this error  : this class is not key value coding-compliant for the key ibCalendarDataSource.'
i follow your set up video step by step
and here is my code :

`
import UIKit
import  JTAppleCalendar
class ViewController : UIViewController {
    let formatter = DateFormatter()

    override func viewDidLoad() {
        super.viewDidLoad()
    }
    override func didReceiveMemoryWarning() {

[2018-07-30 06:38] blueco1 commented on #839
forgot :  use last version

[2018-07-30 06:44] blueco1 commented on #839
exact error stack
2018-07-30 11:14:05.486031+0430 Moghim24[15721:303288] Unknown class _TtC8Moghim2419JTAppleCalendarView in Interface Builder file.
2018-07-30 11:14:05.495353+0430 Moghim24[15721:303288] *** Terminating app due to uncaught exception 'NSUnknownKeyException', reason: '[<UICollectionView 0x7f87e301c200> setValue:forUndefinedKey:]: this class is not key value coding-compliant for the

[2018-07-31 14:16] mmcatcd opened #840 "Number of Items in Section Calendar crash"
Version: 7.1.5

Hi, I get the following error when calling calendar.numberOfItems(inSection: ) in either `viewDidLoad` or in `viewDidAppear`.

`Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'UICollectionView received layout attributes for a cell with an index path that does not exist: <NSIndexPath: 0x1d403d980> {length = 2, path = 0 - 0}'
*** First throw cal

[2018-07-31 15:15] patchthecode commented on #839
this is an XCode generated error alerting you that you have an error on your storyboard/nib.
basically you have some place on your xib where you have the value `ibCalendarDataSource`. For an object that does not require it. This means there is one point in the video you made a mistake.

[2018-07-31 15:16] patchthecode commented on #840
Can you zip a sample project that has this error and drag it into this chat box?

[2018-07-31 16:17] soorinpark opened #841 "Calling scrollToSegment consecutively stutters the calendar view"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using. **7.1**
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5 no
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

I have a two buttons that let you scroll to the previous and next month segments.

[code]

However if the button is pres

[2018-08-01 22:10] chrisjohnson90 commented on #718
I have exactly the same issue as @Zamy97 . Please let me know if you can help @patchthecode , or if anybody else has a solution.

Thanks

[2018-08-01 23:26] chrisjohnson90 commented on #718
@Zamy97 hey - ok, thanks. Not sure I can use that for what I'm trying to do, but I'll give it a go. it's such a frustrating error!

[2018-08-02 03:41] meanreaksmey commented on #221
When I selected range between 2017 to 2018 it load select very slow. Could you help me?

[2018-08-02 03:42] patchthecode commented on #718
@chrisjohnson90 this is not a library error.

in Xcode, if you ever get this error for any projetc, then please click on the red button in XCode it it will literally tell you what function you are missing and it will also autofill the code for you.

[2018-08-02 03:43] patchthecode commented on #221
@meanreaksmey youre  selecting a whole year of dates?

[2018-08-02 03:44] meanreaksmey commented on #221
@patchthecode  Yes I selecting a whole.

[2018-08-02 03:46] patchthecode commented on #221
hmm.. someone has already opened an issue for this.
I have to make the code a bit different for this.
This is work in progress.

[2018-08-02 03:47] meanreaksmey commented on #221
@patchthecode  yes thanks you. do you have any that work faster when i selecting across year?

[2018-08-02 03:52] patchthecode commented on #221
@meanreaksmey currently i do not. I will have to investigate. But if any one wants to do a pull request they can also do this. (in case i am to slow on this update)

[2018-08-02 03:54] meanreaksmey commented on #221
@patchthecode Thanks you I'm looking to hearing from you soon. :)

[2018-08-02 10:22] StackHelp opened #842 "Just 1 weekdata"
The version is  7.1.5

I want just 1-week data to show with 1 raw and therefore I tried this code with start date `2018-07-28 18:30:00 +0000` and end date is `2018-08-03 18:30:00 +0000`

        let parameters = ConfigurationParameters(startDate: startDate,
                                                 endDate: endDate,
                                                 numberOfRows: 1,

[2018-08-02 12:50] Bikram786 opened #843 "Want to show Current,Previous and Next Months Data"
Hello Sir,

Hope you are doing well!

First of all thanks a lot for such a beautiful library for the calendar. I am facing problem in this i.e.

I am using your demo project and I saw that you used starting and end dates for set the calendar and in demo project everytime show the first month data that we set starting date but I want to see the current month and I want to scroll previous and next m

[2018-08-02 17:36] patchthecode commented on #842
Does this help?
https://github.com/patchthecode/JTAppleCalendar/issues/581

[2018-08-02 17:44] patchthecode commented on #843
Im sorry, but i cannot understand what you are asking.
Can you rephrase the question?

[2018-08-02 17:46] patchthecode commented on #825
Assuming fixed.
Please comment again and i'll re-open if its not

[2018-08-02 17:46] #825 closed

[2018-08-02 20:30] chrisjohnson90 commented on #718
![image](https://user-images.githubusercontent.com/36563275/43609090-f5e944c0-969a-11e8-9fa1-b2c6354ce8f8.png)

That's the function it tells me I'.m missing, when I replace the

    func calendar(_ calendar: JTAppleCalendarView, cellForItemAt date: Date, cellState: CellState, indexPath: IndexPath) -> JTAppleCell {

with what it suggests, I get the same error. Not sure what to add into the 'code' b

[2018-08-03 02:59] patchthecode commented on #718
@chrisjohnson90 can you zip your sample project and drag it into this chat box? Or if your project is already secret, then can you create an empty sample project with the error and zip and drag into this box?

[2018-08-03 03:00] patchthecode commented on #718
@chrisjohnson90 Are you telling me that the function that it suggested is the function called
[code]
??

[2018-08-03 03:03] patchthecode commented on #718
Because if this is the function that this XCode suggested, i give up.
I do not know how to state it any more.

Here is a screen shot of the bold text letters of the instructions on this project's main page

<img width="1088" alt="screen shot 2018-08-02 at 8 01 25 pm" src="https://user-images.githubusercontent.com/2439146/43622021-0ac2d87c-968f-11e8-91ab-efb87f86ac8c.png">

I had to put it in maxim

[2018-08-03 04:24] cluelessoodles opened #845 "colors not showing up - all values are white"
I've built out my calendar and all is well but my outsideMonthColor, monthColor, selectedMonthColor, currentDateSelectedViewColor, todaysDefaultDateColor are all showing up as white. Any idea why?

Here's my code from view controller:
[code]

[2018-08-03 06:37] StackHelp commented on #842
@patchthecode thanks for quick reply and I do try that but the issue is when I try to use start date as `018-07-28 18:30:00 +0000` means this week's first date to next all months but calendar starts from `June` that is the `6th month ` and one more issue is when month change, I got same dates for 2 scrolls. Please check link

https://www.dropbox.com/s/vli8zovaoq9pcwe/jtcalender%20issue.mov?dl=0

a

[2018-08-03 09:51] Bikram786 commented on #843
Thanks a lot for your response.

Sir, I am asking that if you saw the FSCalander or used FSCalander. In this, we no need to set the start and end date of the calendar and it automatically shows the current, previous and next months calendar. So how I can achieve this type of functionality by using JTAppleCalendar.

Hope you understand.

Thanks

[2018-08-03 10:18] gerryau opened #846 "Stop a horizontal scrolling calendar at todays date"
Currently using latest version of JTAppleCalendar.

I would like my calendar view have its startDate as 30 days ago and it's endDate as the users current date. Upon trying to implement this the calendar keeps including up to the end of the current month instead of stopping after todaysDate.

<img width="734" alt="issuejtapple" src="https://user-images.githubusercontent.com/29995627/43637854-d0cd3a

[2018-08-03 13:31] patchthecode commented on #846
Yes. I have not done that update yet. It create dates till the start of the month. and then keep going till the end of the month.

In the mean time i guess you can do a date boundary. So that once it crosses the todayDate boundary, it will scroll back to the todayDate.
https://github.com/patchthecode/JTAppleCalendar/issues/365

Let me know if that helped

[2018-08-03 13:33] patchthecode commented on #842
yes this is a limitation of this lib. As i have not coded partial dates yet.
It always start from the start of a month, and ends at the end of the month.

In the mean time you can setup some date boundary that the user cannot cross.
as shown here -> https://github.com/patchthecode/JTAppleCalendar/issues/365

[2018-08-03 13:37] patchthecode commented on #843
I understand.

1. In this calendar library, he need a start and end date. This sets the limit to where the calendar can scroll to. If you need infinite scrolling then you will have to implement this.

2. If you need **previous** and **next** functionality, this is easy.
create two buttons and then call,
[code]

[2018-08-03 17:42] seongminchoob opened #847 "Getting header issue when I never implemented one"
I'm using JTAppleCalendar 7.1.5

 I am getting  assert(false, "You have implemted a header size function, but forgot to implement the `headerViewForDateRange` function")

but I never implemented a header size function

[2018-08-03 18:31] patchthecode commented on #847
probably bad error message, will have to revise it.
But have you registered a header?

[2018-08-04 01:53] seongminchoob commented on #847
I have not registered a header

[2018-08-04 02:34] patchthecode commented on #847
can you zip a sample project with the issue and drop the zip file in this chat box?

[2018-08-04 07:42] cluelessoodles commented on #845
Hey patchthecode, I saw that you edited the post but as far I can tell, it was only formatting. Did you see something obvious?

[2018-08-04 10:10] patchthecode commented on #845
This library does not use anything formatting under the hood. I use a raw UICollectionView.
Therefore, this particular issue about color is not related to the library.

Its difficult for me to debug your code by just looking at it.
Can you try to find the issue by using breakpoints in your code?

[2018-08-04 13:01] gerryau commented on #846
I got the following error:
<img width="997" alt="error" src="https://user-images.githubusercontent.com/29995627/43676734-45c46588-983a-11e8-9ea9-29c0f71535b3.png">

[2018-08-04 14:59] #847 closed

[2018-08-04 20:17] patchthecode commented on #846
that link was an older example. with earlier swift. i have now update the code on that example link.
Pasting it here as well for reference

[code]

[2018-08-05 11:46] amberkatyal commented on #839
@blueco1 @patchthecode Setting the module to JTAppleCalendar while setting the class for collectionView fixed it.

[2018-08-05 13:31] blueco1 commented on #839
tnx for your attention

after all i remove all file and start again
in my View named (PersianDatePickerVC) i just add this lines :
`import UIKit
import JTAppleCalendar
class PersianDatePickerVC: UIViewController  {
    @IBOutlet var calandarView: JTAppleCalendarView!
}`
calandarView is linked to view you create in the sample
im adding no more code but after run i get this error
dyld: Library not l

[2018-08-05 15:16] asmaabadreldin2 opened #848 "I want to use different color for different dates selected in view didload?? I used the latest version"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

[2018-08-05 17:17] patchthecode commented on #848
This library is a UICollectionView (similar to a UITableView)
The same way you would have different colors for a collectionViewCells or tableViewCells, is the exact same way you would do it for this library.

[2018-08-06 04:35] Bikram786 commented on #843
Thanks for your response.

But below I explained actually what functionality I want:-

Step 1:- Suppose I used JTAppleCalendar.

Step2:- I gave the start and end date of the calendar.

Step3:- Now When I open the calendar. Every time calendar starts from the started date which I have given.

Step4:- But I want that calendar start from the current date and I can scroll previous and next dates.

Ste

[2018-08-06 06:00] StackHelp commented on #842
@patchthecode ok but in that video, I sent you in above comment has another problem that got same dates when month changes mean 2 weeks is been same when month changes check last 5-10 seconds video.

[2018-08-06 08:44] gerryau commented on #846
Great that solved it.

Also, when I select a cell with a date and print the date it shows the correct selected date, when I store it and try to use it in fetch requests it is using a day before the date selected. See screenshots below:

![bug](https://user-images.githubusercontent.com/29995627/43706459-b9f600f0-99a8-11e8-8bfd-137cb6f33d7c.png)
![bugconsole](https://user-images.githubusercontent.co

[2018-08-06 09:52] pandaApe opened #849 "WillDisplay doesn't get called?"
IMPORTANT - BEFORE CREATING YOUR ISSUE PLEASE READ THE FOLLOWING:

1. PLEASE STATE THE VERSION NUMBER you are using.
v7.1.5
2. Are you using the latest version of JTAppleCalendar? Latest version is currently 7.1.5
YES
3. PROVIDE ENOUGH INPORMATION SO I CAN RECREATE THE PROBLEM.

I run the sample project you attached at [issue 667](https://github.com/patchthecode/JTAppleCalendar/issues/667)

And I

[2018-08-06 15:42] patchthecode commented on #843
if you want the calendar to start at the current date, then do the this inside your `viewDidLoad()` function

[code]

[2018-08-06 16:05] patchthecode commented on #842
I do not understand your last post. Can you please rephrase?

Also
Did you change your code to this?
[code]

[2018-08-06 16:07] patchthecode commented on #849
For you to say that it is not getting called, you must have some expectation of when it gets called.
When do you expect it to be called?

[2018-08-06 16:11] patchthecode commented on #846
will close this issue since your original issue was resolved.

In relation to that second problem this has been asked 1000s of times :)
So i'll point you to the post with the explanation -> https://github.com/patchthecode/JTAppleCalendar/issues/252

let me know if it helped.

[2018-08-06 16:11] #846 closed

[2018-08-06 16:26] patchthecode commented on #841
does this help?
[code]

[2018-08-06 16:26] patchthecode commented on #840
will close this issue issue until user responds.
added tag of awaiting user input.

[2018-08-06 16:26] #840 closed

[2018-08-06 18:49] ThasneemH opened #850 "Question on displaying vertical scrolling calendar with headers."
Hi,

Thanks for making this really neat calendar framework, very helpful.

I am using the latest version 7.1.5 .This is more of a question of how to  than an issue.  Not sure where to post such queries, hence opening it as an issue.

I have a vertical scrolling calendar ( number of rows is 6) with headers enabled. The headers have a fixed height of 44.0 each. The scrolling mode is .stopAtEachSecti

[2018-08-07 03:42] pandaApe commented on #849
I just want my calendar to scroll smoothly, since I need do some time-consuming jobs for the date before it calls **cellForItemAt**.

[2018-08-07 05:05] Bikram786 commented on #843
Yes, I can do this. Most of my problem is solved.

Now only one thing is left i.e.:-

I am sending you below image:-

I want to show cell height according to its content and I want to show full the calendar. Now If I set a static height of calendar and increased the size of a cell. I unable to see all content so please help me.

![simulator screen shot - iphone 6s - 2018-08-07 at 10 27 58](https:/

[2018-08-07 13:46] patchthecode commented on #849
I understand the concern you have.
But i do not understand what you are trying to do in the code to fix your concern, and how is your fix not working.

[2018-08-07 13:50] patchthecode commented on #843
With the library, the height of the cell is not determined by the height of the text in the cell.
The height of the cell is determined by the `Height of the calendar`.

If you need you cell to be a particular height, then calculate what is the maximum height of one cell is, then multiply it by 6 (because you have a 6 row calendar) -->
[code]

[2018-08-07 14:32] casperzandbergenyaacomm commented on #517
Used this library + Hero to make the stock iOS calendar. I didn't bother making the headers stick to the first cell yet like the stock calendar but that doesn't seem like the hardest part.

Week pages
![image](https://thumbs.gfycat.com/AnimatedUnfinishedAlbino-size_restricted.gif)

Open animation
![image](https://thumbs.gfycat.com/CoolUnselfishFirebelliedtoad-size_restricted.gif)